{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/a93312829ec4c71aac461cec296faa0e.png" class="textrender subheader" width="67" height="43" alt="Money" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/money/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/money/games/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/money/videos/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/money/activities/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--a-rare-chocolate-donut" href="/cyberchase/videos/cyberchase-a-rare-chocolate-donut/" title="A Rare Chocolate Donut" data-description="The kids find out that 1 stale chocolate donut is worth 20 stale plain donuts in their bartering system.  ">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_035.jpg.resize.480x360_thumbnail.jpg" alt="A Rare Chocolate Donut" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">A Rare Chocolate Donut</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--all-that-glitters-is-not-gold" href="/cyberchase/videos/cyberchase-all-that-glitters-is-not-gold/" title="All That Glitters is Not Gold" data-description="Bianca finds a gold coin and takes it to a coin expert where she learns about the history of money and the true value of her coin. ">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_242.jpg.resize.480x360_thumbnail.jpg" alt="All That Glitters is Not Gold" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">All That Glitters is Not Gold</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--balancing-act-ep-401" href="/cyberchase/videos/cyberchase-balancing-act-ep-401/" title="Balancing Act (Ep. 401)" data-description="The kids and Shari Spotter team up to make a film about Frogsnorts and all goes well until they discover they are going to run out of money if they don't make a  budget and follow it!

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_307.jpg.resize.480x360_thumbnail.jpg" alt="Balancing Act (Ep. 401)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Balancing Act (Ep. 401)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--biancas-good-deed" href="/cyberchase/videos/cyberchase-biancas-good-deed/" title="Bianca's Good Deed" data-description="As a cashier, Bianca accidentally gives a customer too little change and goes on a chase to correct her mistake, then runs out of money for the ride back to work.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_122.jpg.resize.480x360_thumbnail.jpg" alt="Bianca's Good Deed" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca's Good Deed</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--every-snelfu-counts" href="/cyberchase/videos/cyberchase-every-snelfu-counts/" title="Every Snelfu Counts" data-description="The CyberSquad must figure out if they have enough money to buy the Alpha Deck.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/29snelfucounts_thumbnail.jpg" alt="Every Snelfu Counts" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Every Snelfu Counts</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--harry-saves-the-day" href="/cyberchase/videos/cyberchase-harry-saves-the-day/" title="Harry Saves the Day" data-description="Harry tries to save money for a $1,000 trip to Mexico and discovers that the small change saved in a jar over the past two years will help him meet his goal.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_547.jpg.resize.480x360_thumbnail.jpg" alt="Harry Saves the Day" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Harry Saves the Day</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--harrys-big-date" href="/cyberchase/videos/cyberchase-harrys-big-date/" title="Harry's Big Date" data-description="Harry plans a perfect $100 date with Jenna,  but when Harley shows up and orders an expensive meal, he has to think fast to stay on budget and win Jenna's heart.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_477.jpg.resize.480x360_thumbnail.jpg" alt="Harry's Big Date" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Harry's Big Date</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--matts-big-movie-budget" href="/cyberchase/videos/cyberchase-matts-big-movie-budget/" title="Matt's Big Movie Budget" data-description="Shari Spotter and the team discover they will run out of money before they finish their film unless they budget their spending.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Matts_Big_Movie_Budget_thumbnail.jpg" alt="Matt's Big Movie Budget" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Matt's Big Movie Budget</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--past-perfect-prediction-ep-404" href="/cyberchase/videos/cyberchase-past-perfect-prediction-ep-404/" title="Past Perfect Prediction (Ep. 404)" data-description="The team helps Slider open his father’s garage and track sales data to predict how long it will take to earn the money he needs to pay off Hacker.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_105.jpg.resize.480x360_thumbnail.jpg" alt="Past Perfect Prediction (Ep. 404)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Past Perfect Prediction (Ep. 404)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--saving-sliders-garage" href="/cyberchase/videos/cyberchase-saving-sliders-garage/" title="Saving Slider's Garage" data-description="The CyberSquad looks at sales data to figure out the correct amount of cryoxide to order so they can save Slider's Garage.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_949.jpg.resize.480x360_thumbnail.jpg" alt="Saving Slider's Garage" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Saving Slider's Garage</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-harry-show-ice-cream-royale" href="/cyberchase/videos/cyberchase-the-harry-show-ice-cream-royale/" title="The Harry Show: Ice Cream Royale" data-description="Harry counts his change to see if he has enough to buy an ice cream cone.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_980.jpg.resize.480x360_thumbnail.jpg" alt="The Harry Show: Ice Cream Royale" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Harry Show: Ice Cream Royale</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-snelfu-snafu-part-2-ep-310" href="/cyberchase/videos/cyberchase-the-snelfu-snafu-part-ii-ep-310/" title="The Snelfu Snafu Part 2 (Ep. 310)" data-description="Hacker is in control, and the kids and Slider must spend their money wisely to fix Slider's Syncolater so they can rescue Motherboard and send Hacker back where he belongs.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/5snelfusnafupII_thumbnail.jpg" alt="The Snelfu Snafu Part 2 (Ep. 310)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Snelfu Snafu Part 2 (Ep. 310)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-snelfu-snafu-part-1-ep-309" href="/cyberchase/videos/cyberchase-snelfu-snafu-part-1-ep-309/" title="The Snelfu Snafu, Part 1 (Ep. 309)" data-description="The kids and Slider figure out how much to save each day to outbid Hacker at the cyberauction, but are horrified to discover he has tricked them and taken over cyberspace!
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_026.jpg.resize.480x360_thumbnail.jpg" alt="The Snelfu Snafu, Part 1 (Ep. 309)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Snelfu Snafu, Part 1 (Ep. 309)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--trading-places-ep-120" href="/cyberchase/videos/cyberchase-trading-places-ep-120/" title="Trading Places (Ep. 120)" data-description="Stranded on Nowhere with no money to buy parts to fix the cybercoupe, the CyberSquad trades, barters, and invents a new monetary system with the help of stale donuts.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_013.jpg.resize.480x360_thumbnail.jpg" alt="Trading Places (Ep. 120)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Trading Places (Ep. 120)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--working-twice-as-hard-to-save-twice-as-much" href="/cyberchase/videos/cyberchase-working-twice-as-hard-to-save-twice-as-much/" title="Working Twice as Hard to Save Twice as Much" data-description="The team finds out they need to double their savings every day to outbid Hacker for the chip in time to save Motherboard.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_225.jpg.resize.480x360_thumbnail.jpg" alt="Working Twice as Hard to Save Twice as Much" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Working Twice as Hard to Save Twice as Much</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

