{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Baby Kate\'s Games & Printables Page | PBS Kids' %}
{% set desc = 'Baby Kate has terrific games to play! Get them all here!' %}
{% set keywds = 'games, printables, profile, Baby Kate, fun, play' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-ff9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/kate_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/kate_top.swf", "kate", "960", "363", "9", "#ffff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "games");			   fo.addVariable("char", "baby_kate");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-kate">Baby Kate's images</a>
  <div id="friendsContent">
   <h1>My Games &amp; Printables</h1>
   <hr class="friendsRuler">
   <ul id="myGames">
    <li id="friendsDontWake" class="icon"><a href="../../games/dontwakekate/index.html"><span>Don't Wake Kate</span></a></li>
    <li id="friendsStickers" class="icon"><a href="../../games/stickers/index.html"><span>Baby Kate Stickers</span></a></li>
    <li id="friendsColoring" class="icon"><a href="../../print/coloringpages/coloring.html#pg-kate1"><span>Coloring Pages</span></a></li>
    <li id="friendsTrading" class="icon"><a href="../../print/tradingcards/cards.html#pg-kate1"><span>Trading Cards</span></a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/mom/index.html" id="rcMom">Mom</a></li>
   <li><a href="/arthur/print/towerofcow/index.html" id="rcCows">Tower of Cows</a></li>
   <li><a href="/arthur/games/dontwakekate/index.html" id="rcDWK">Don't Wake Kate</a></li> <!--<li><a href="/arthur/video/games.html?pid=Y_T3v8L7o5oDcgUJ1WolP_eugXVWwq1i" id="rcVideoDetective">Video Detective</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

