{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Baby Kate\'s Photos Page | PBS Kids' %}
{% set desc = 'Flip through photos of Baby Kate being adorable! Read her baby-talk captions.' %}
{% set keywds = 'adorable, photos, baby, pal' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}
{% set friendsJs = true %}


{% block mainContent %}<div id="content" class="bg-ff9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/kate_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/kate_top.swf", "kate", "960", "363", "9", "#ffff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "photos");			   fo.addVariable("char", "baby_kate");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-kate">Baby Kate's images</a>
  <div id="friendsContent">
   <h1>My Photos</h1>
   <hr class="friendsRuler">
   <div id="photoWrapper">
    <div id="bigImgWrapper"><img src="../../i/friends/photos/kate1.jpg" width="354" height="250" alt="Baby Kate and Pal at the dining table." border="0" id="mainImg"> <a href="" class="next"></a> <a href="" class="prev"></a>
    </div> <img src="../../i/friends/photos/avatar_big_kate.gif" width="85" height="83" alt="Pal Avatar" border="0" id="avatar">
    <h3>Bih, Paga, bih! (Dig, Pal, dig!)</h3>
   </div>
   <div id="cmtArea"><!--  Displayed image and comment -->
    <h2>MY FRIENDS SAY</h2>
    <div id="cmtTxtWrapper">
     <div class="comment">
      <div class="dad-cmt"><a href="/arthur/friends/dad/index.html">MR. READ</a>
       <p>Pal! Not the yard!</p>
      </div>
      <div class="dad-cmtbtm"></div>
     </div>
    </div>
   </div> <!--  List of all images and comments to rotate -->
   <ul id="cmtlist">
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/kate1.jpg" width="354" height="250" alt="Baby Kate and Pal at the dining table." border="0" id="mainImg">
       <h3>Bih, Paga, bih! (Dig, Pal, dig!)</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="dad-cmt"><a href="/arthur/friends/dad/index.html">MR. READ</a>
          <p>Pal! Not the yard!</p>
         </div>
         <div class="dad-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/kate2.jpg" width="354" height="250" alt="Baby Kate asleep in her crib, with Arthur and D.W. looking in." border="0" id="mainImg">
       <h3>Bamama, aww. (Boy am I cute!)</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/kate3.jpg" width="354" height="250" alt="Baby Kate on the lawn, watching Pal dig a hole." border="0" id="mainImg">
       <h3>Padu paga! (My friend Pal!)</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="pal-cmt"><a href="/arthur/friends/pal/index.html">PAL</a>
          <p>Woof! (What a pair we are!)</p>
         </div>
         <div class="pal-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/dad/index.html" id="rcDad">Dad</a></li>
   <li><a href="/arthur/games/dontwakekate/index.html" id="rcDWK">Don't Wake Kate</a></li> <!--<li><a href="/arthur/video/games.html?pid=Y_T3v8L7o5oDcgUJ1WolP_eugXVWwq1i" id="rcVideoDetective">Video Detective</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

