{% extends 'curiousgeorge/includes/templates/carousel_page.html.twig' %}
{% set selectedNav = 'games' %}
{% set pageTitle = "Games" %}
{% block areaBar %}		<div class="border">
			<a href="/curiousgeorge/games/index.html"><img src="/curiousgeorge/games/img/game_header.gif" alt="Games" class=""></a><img src="/curiousgeorge/games/img/g_wd_top.gif" alt="Click an icon to play a game" style="display:none;">
		</div>{% endblock %}
		
		
		
		
{% block carouselContent %}		<div id="int-content">
			<div id="prev_page_paddle">
				<!-- if expr="$prev = /index/" -->
				<div class="vid-spacer"><a href="#"><img src="/curiousgeorge/games/img/v_arrow_l.gif" alt="prev" class="ovr" width="67" height="55"></a></div>
				<!-- else -->
				<!-- <div class="vid-spacer">&#160;</div> -->
				<!-- endif -->
			</div>
			<div id="uno-vid"><div id="carousel">
				<div class="pane_wrapper"><div class="index_pane">
					<div style="width:158px;float:left;text-align:center;margin:10px 0 6px;padding:0 14px 0 5px;"><a href="../busyday/"><img src="/curiousgeorge/games/img/g_icon_busyday3.gif" alt="George's Busy Day" class="ovr" style="margin-bottom:2px;" width="158" height="101" border="0"></a><br><a href="../busyday/" style="font-size:1.4em;font-weight:bold;">George's Busy Day</a></div>
					<div style="width:308px;float:left;text-align:center;margin:10px 0 6px;"><a href="spanish.html"><img src="/curiousgeorge/games/img/g_icon_spanish2.gif" alt="Games in Spanish" class="ovr" style="margin-bottom:1px;" width="308" height="100" border="0"></a><br><a href="spanish.html" style="font-size:1.4em;font-weight:bold;">Games in Spanish</a></div>
					<br clear="all">
					<div class="icon"><a href="build_a_bot/"><img src="/curiousgeorge/games/img/g_icon_build_a_bot.gif" alt="Build-a-Bot" class="ovr" width="118" height="107"></a><br><a href="build_a_bot/">Build-a-Bot</a></div>
					<div class="icon"><a href="secret_agent/"><img src="/curiousgeorge/games/img/g_icon_secret_agent.gif" alt="Secret Agent George" class="ovr" width="118" height="107"></a><br><a href="secret_agent/">Secret Agent George</a></div>
					<div class="icon"><a href="pumpkin_boo/"><img src="/curiousgeorge/games/img/g_icon_pumpkin_boo.gif" alt="Pumpkin Boo!" class="ovr" width="118" height="107"></a><br><a href="pumpkin_boo/">Pumpkin Boo!</a></div>
					<div class="icon"><a href="hearts_and_crafts/"><img src="/curiousgeorge/games/img/g_icon_hearts_and_crafts.gif" alt="George's Hearts and Crafts" class="ovr" width="118" height="107"></a><br><a href="hearts_and_crafts/">George's Hearts<br>and Crafts</a></div>
					<br clear="all">
					<div class="icon"><a href="splat_symphony/"><img src="/curiousgeorge/games/img/g_icon_splat_symphony.gif" alt="Splat Symphony" class="ovr" width="118" height="107"></a><br><a href="splat_symphony/">Splat Symphony</a></div>
					<div class="icon"><a href="monkey_moves/"><img src="/curiousgeorge/games/img/g_icon_monkey_moves.gif" alt="Monkey Moves" class="ovr" width="118" height="107"></a><br><a href="monkey_moves/">Monkey Moves</a></div>
					<div class="icon"><a href="george_brings_spring/"><img src="/curiousgeorge/games/img/g_icon_george_brings_spring.gif" alt="George Brings Spring" class="ovr" width="118" height="107"></a><br><a href="george_brings_spring/">George Brings Spring</a></div>
					<div class="icon"><a href="animal_scrapbook/"><img src="/curiousgeorge/games/img/g_icon_animal_scrapbook.gif" alt="Animal Scrapbook" class="ovr" width="118" height="107"></a><br><a href="animal_scrapbook/">Animal Scrapbook</a></div>
				</div></div>
				<div class="pane_wrapper"><div class="index_pane">
					<div class="icon"><a href="day_at_beach/"><img src="/curiousgeorge/games/img/g_icon_beach.gif" alt="Day at the Beach" class="ovr" width="118" height="107"></a><br><a href="day_at_beach/">Day at the Beach</a></div>
					<div class="icon"><a href="chockablock_zoo/"><img src="/curiousgeorge/games/img/g_icon_chockablock_zoo.gif" alt="Chock-a-Block Zoo" class="ovr" width="118" height="107"></a><br><a href="chockablock_zoo/">Chock-a-Block Zoo</a></div>
					<div class="icon"><a href="zoomazing/"><img src="/curiousgeorge/games/img/g_icon_zoomazing.gif" alt="ZOOmazing" class="ovr" width="118" height="107"></a><br><a href="zoomazing/">ZOOmazing</a></div>
					<div class="icon"><a href="bring_it/"><img src="/curiousgeorge/games/img/g_icon_bringit.gif" alt="Bring It!" class="ovr" width="118" height="107"></a><br><a href="bring_it/">Bring It!</a></div>
					<br clear="all">
					<div class="icon"><a href="everything_must_go/"><img src="/curiousgeorge/games/img/g_icon_everything.gif" alt="Everything Must Go" class="ovr" width="118" height="107"></a><br><a href="everything_must_go/"><br style="clear: both;">Everything Must Go</a></div>
					<div class="icon"><a href="super_bouncy/"><img src="/curiousgeorge/games/img/g_icon_superbouncy.gif" alt="Super Bouncy Blast Off" class="ovr" width="118" height="107"></a><br><a href="super_bouncy/">Super Bouncy<br>Blast Off</a></div>
					<div class="icon"><a href="mix_and_paint/"><img src="/curiousgeorge/games/img/g_icon_mix_and_paint.gif" alt="Mix and Paint" class="ovr" width="118" height="107"></a><br><a href="mix_and_paint/">Mix and Paint</a></div>
					<div class="icon"><a href="juggling_george/"><img src="/curiousgeorge/games/img/g_icon_juggling_george.gif" alt="Juggling George" class="ovr" width="118" height="107"></a><br><a href="juggling_george/">Juggling George</a></div>
					<br clear="all">
					<div class="icon"><a href="i_love_shapes/"><img src="/curiousgeorge/games/img/g_icon_i_love_shapes.gif" alt="I Love Shapes" class="ovr" width="118" height="107"></a><br><a href="i_love_shapes/"><br style="clear: both;">I Love Shapes</a></div>
					<div class="icon"><a href="monkey_faces/"><img src="/curiousgeorge/games/img/g_icon_monkey_faces.gif" alt="Monkey Faces" class="ovr" width="118" height="107"></a><br><a href="monkey_faces/">Monkey Faces</a></div>
					<div class="icon"><a href="roller_monkey/"><img src="/curiousgeorge/games/img/g_icon_roller_red.gif" alt="Roller Monkey" class="ovr" width="118" height="107"></a><br><a href="roller_monkey/">Roller Monkey</a></div>
					<div class="icon"><a href="big_picture/"><img src="/curiousgeorge/games/img/g_icon_big_picture.gif" alt="Big Picture" class="ovr" width="118" height="107"></a><br><a href="big_picture/">Big Picture</a></div>
				</div></div>
				<div class="pane_wrapper"><div class="index_pane">
					<div class="icon"><a href="pogo_gogo/"><img src="/curiousgeorge/games/img/g_icon_pogo_gogo.gif" alt="Pogo-A-GoGo" class="ovr" width="118" height="107"></a><br><a href="pogo_gogo/">Pogo-A-GoGo</a></div>
					<div class="icon"><a href="snapshot/"><img src="/curiousgeorge/games/img/g_icon_snapshot.gif" alt="Snapshot" class="ovr" width="118" height="107"></a><br><a href="snapshot/">Snapshot</a></div>
					<div class="icon"><a href="cows_dont_quack/"><img src="/curiousgeorge/games/img/g_icon_cows_dont_quack.gif" alt="Cows Don't Quack" class="ovr" width="118" height="107"></a><br><a href="cows_dont_quack/">Cows Don't Quack</a></div>
					<div class="icon"><a href="how_tall/"><img src="/curiousgeorge/games/img/g_icon_how_tall.gif" alt="How Tall" class="ovr" width="118" height="107"></a><br><a href="how_tall/">How Tall?</a></div>
					<br clear="all">
					<div class="icon"><a href="count_your_chickens/"><img src="/curiousgeorge/games/img/g_icon_count_your_chickens.gif" alt="Count Your Chickens" class="ovr" width="118" height="107"></a><br><a href="count_your_chickens/">Count Your Chickens</a></div>
					<div class="icon"><a href="pinata_party/"><img src="/curiousgeorge/games/img/g_icon_pinata_party.gif" alt="Piñata Party!" class="ovr" width="118" height="107"></a><br><a href="pinata_party/">Piñata Party!</a></div>
					<div class="icon"><a href="feed_gnocchi/"><img src="/curiousgeorge/games/img/g_icon_feed_gnocchi.gif" alt="Feed Gnocchi" class="ovr" width="118" height="107"></a><br><a href="feed_gnocchi/">Feed Gnocchi</a></div>
					<div class="icon"><a href="banana_411/"><img src="/curiousgeorge/games/img/g_icon_banana_411.gif" alt="Banana 411" class="ovr" width="118" height="107"></a><br><a href="banana_411/">Banana 411</a></div>
					<br clear="all">
					<div class="icon"><a href="present_time/"><img src="/curiousgeorge/games/img/g_icon_present_time.gif" alt="Present Time" class="ovr" width="118" height="107"></a><br><a href="present_time/">Present Time</a></div>
					<div class="icon"><a href="on_the_job/"><img src="/curiousgeorge/games/img/g_icon_on_the_job.gif" alt="On the Job" class="ovr" width="118" height="107"></a><br><a href="on_the_job/">On The Job</a></div>
					<div class="icon"><a href="glass_palace/"><img src="/curiousgeorge/games/img/g_icon_glass_palace.gif" alt="Glass Palace" class="ovr" width="118" height="107"></a><br><a href="glass_palace/">Glass Palace</a></div>
				</div></div>
			</div>
			<br clear="all">
			<br clear="all">
		</div>
		<div id="next_page_paddle">
			<!-- if expr="$next = /index/" -->
			<div class="vid-spacer"><a href="#"><img src="/curiousgeorge/games/img/v_arrow_r.gif" alt="next" class="ovr" width="67" height="55"></a></div>
			<!-- endif -->
		</div>
		<br clear="all">
	</div>

	<div id="foot_pane"><img src="./img/1.gif" alt="" width="52" height="55"></div>{% endblock %}
	
	
