{% extends 'curiousgeorge/includes/templates/carousel_page.html.twig' %}
{% set selectedNav = 'games' %}
{% set pageTitle = "Juegos" %}
{% block areaBar %}				<div class="border">
			<img src="/curiousgeorge/games/img/game_header_esp.gif" alt="Juegos" class="" width="732" height="85" />
		</div>{% endblock %}
		
		
		
		
{% block carouselContent %}		<div id="int-content">
			<div><div class="vid-spacer"></div></div>
			<div id="uno-vid" style="padding-left:44px;"><div id="carousel" style="padding-top:15px;">
<div class="pane_wrapper"><div class="index_pane">
				<div style="width:308px;text-align:center;margin:10px 0 6px 91px;"><a href="../busyday/span_index.html"><img src="/curiousgeorge/games/img/g_icon_busyday_span_new.gif" alt="George's Busy Day" width="308" height="100" class="ovr" border="0" style="margin-bottom:1px;" /></a><br /><a href="../busyday/span_index.html" style="font-size:1.4em;font-weight:bold;">George's Busy Day</a></div>
				<br clear="all" />
				<div class="icon"><a href="span_bringit/"><img src="/curiousgeorge/games/img/g_icon_bringit.gif" alt="&iexcl;Trae Algo!" class="ovr" height="107" width="118" /></a><br /><a href="span_bringit/">&iexcl;Trae Algo!</a></div>
				<div class="icon"><a href="span_dayatbeach/"><img src="/curiousgeorge/games/img/g_icon_beach.gif" alt="Un D&iacute;a en la Playa" class="ovr" height="107" width="118" /></a><br /><a href="span_dayatbeach/">Un D&iacute;a en la Playa</a></div>
				<div class="icon"><a href="span_everythingmustgo/"><img src="/curiousgeorge/games/img/g_icon_everything.gif" alt="&iexcl;A Limpiar Se Ha Dicho!" class="ovr" height="107" width="118" /></a><br /><a href="span_everythingmustgo/">&iexcl;A Limpiar Se Ha Dicho!</a></div>
				<div class="icon"><a href="span_feedgnocchi/"><img src="/curiousgeorge/games/img/g_icon_feed_gnocchi.gif" alt="Dale de Comer a &Ntilde;oqui" class="ovr" height="107" width="118" /></a><br /><a href="span_feedgnocchi/">Dale de Comer a &Ntilde;oqui</a></div>
				<br clear="all" />
				<div class="icon"><a href="span_mixandpaint/"><img src="/curiousgeorge/games/img/g_icon_mix_and_paint.gif" alt="Mezclar y Pintar" class="ovr" height="107" width="118" /></a><br /><a href="span_mixandpaint/">Mezclar y Pintar</a></div>
				<div class="icon"><a href="span_pogogogo/"><img src="/curiousgeorge/games/img/g_icon_pogo_gogo.gif" alt="Pogo-A-GoGo" class="ovr" height="107" width="118" /></a><br /><a href="span_pogogogo/">Pogo-A-GoGo</a></div>
				<div class="icon"><a href="span_zoomazing/"><img src="/curiousgeorge/games/img/g_icon_zoomazing.gif" alt="Un D&iacute;a en la Playa" class="ovr" height="107" width="118" /></a><br /><a href="span_zoomazing/">Laberinto en el Zool&oacute;gico</a></div>
</div></div>
			</div>
				<br clear="all" />
				<br clear="all" />
			</div>
			<div><div class="vid-spacer"></div></div>
			<br clear="all" />
		</div>

		<div id="foot_pane"></div>{% endblock %}
	
	
