{% extends 'curiousgeorge/includes/templates/game_notice.html.twig' %}
{% set selectedNav = 'games' %}

{% block intContent %}<!-- #bbinclude "area_bar.pl" -->
		<div class="border">
			<a href="https://pbskids.org/curiousgeorge/games/index.html"><img src="https://pbskids.org/curiousgeorge/games/img/game_header.gif" alt="Games" class=""/></a><img src="https://pbskids.org/curiousgeorge/games/img/g_wd_top.gif" alt="Click an icon to play a game" style="display:none;"/>
		</div>
	
<!-- end bbinclude -->
		
		
		<div id="int-content">
		
			<div id="uno">
				<img src="https://pbskids.org/curiousgeorge/games/img/g_cg_hanging_down.gif" alt=""/>
			</div>
			
			<div id="dos" style="text-align: center; line-height: 2em;">

			<br>
			<h1 style="font-size:large;">Oops!</h1>
			<br>
			<p>To see this content, you will need to update your browser to a more recent version.</p>
			<br>
			<p>Then come back and enjoy!</p>
			
				<br clear="all"/>
				<br clear="all"/>
			
			</div>
			
			<br clear="all"/>
		
		</div><img src="https://pbskids.org/curiousgeorge/img/int_wd_bot.gif" alt=""/>{% endblock %}