{% extends 'curiousgeorge/includes/templates/game_notice.html.twig' %}
{% set pageTitle = 'Uh Oh' %}

{% block intContent %}<!-- bbinclude "area_bar.pl" -->
		<div class="border">
			<a href="/curiousgeorge/games/index.html"><img src="/curiousgeorge/img/404_title.gif" alt="Whoops" class="" width="216" height="85" /></a><img src="/curiousgeorge/img/404_wd_top.gif" alt="" width="516" height="85" />
		</div>
<!-- end bbinclude -->
		
		
		<div id="int-content">
		
			<div id="uno">
				<img src="/curiousgeorge/img/404_george.gif" alt="" width="380" height="567" style="padding: 0 0 0 20px; position: relative;" />
			</div>
			
			<div id="dos" style="width: 325px; margin: 20px 0 0 80px;">
			
			<img src="/curiousgeorge/img/404_msg.gif" alt="There's been some monkey business" width="336" height="21" />
			
				<p>&nbsp;</p>
				<p>The page you're looking for might have moved.</p>
				<p>If you typed the address yourself, make sure you typed it exactly right.</p>
				<p>Go to our <a href="/curiousgeorge/parentsteachers/site/site_map.html">Site Map</a>, use your back button or <a href="/curiousgeorge/">click here to go back</a>.</p>
			
			</div>
			
			<br clear="all" />
		
		</div>
		
		<img src="/curiousgeorge/img/int_wd_bot.gif" alt="" />{% endblock %}