{% extends 'curiousgeorge/busyday/includes/busyDayPage.html.twig' %}

{% set desc = "Count the bubbles as they pop! Clap hands or yell 'pop!' to pop bubbles in George's bubble bath in this audio input counting game." %}
{% set tags = 'count aloud, microphone game, audio input, saying numbers, pre-K math, educational game' %}
{% set pageTitle = "Revienta Burbujas | PBS KIDS" %}
{% set spanish = true %}
{% set bodyAtrs = '  class="game"' %}

{% set specialInclude = '<script type="text/javascript">function trackDevice(str) { try { GA_obj.trackEvent(\'CG_Busy_Day\', \'Has_Mic\', str); } catch (err) {} }</script>' %}
{% set overlayWrapper = false %}

{% block contentArea %}<div id="content-area">
	<div id="flashContent">
		<a href="https://www.adobe.com/go/getflash"><img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"></a>
		<p>This page requires Flash Player version 9.0.115 or higher.</p>
	</div>

	<script type="text/javascript">
		var so = new SWFObject("span_bubbles.swf", "span_bubbles", "900", "500", "9.0.115", "#3b96c5");
		so.addVariable("gameMode", "normal");
		so.addParam("quality", "best");
		so.addParam("play", "true");
		so.addParam("menu", "true");
		so.addParam("allowFullScreen", "true");
		so.addParam("allowscriptaccess", "always");
        // Setting wmode param to opaque to approprately stack swf obj in IE -- 4/27/2015 INye
        so.addParam("wmode","opaque");
		so.setAttribute("id", "span_bubbles");
		so.setAttribute("name", "span_bubbles");
		so.write("flashContent");
	</script>

</div>{% endblock %}