{% extends 'arthur/includes/templates/arthurMobilePage.html.twig' %}
{% set additionalTitle = 'Games' %}
{% set altTitle = false %}
{% set noPageCss = false %}
{% set specialInclude = '<script src="../js/querystringUtil.js"></script><script src="../js/detectmobilebrowser.js"></script><script type="text/javascript" src="../js/utility.js"> </script>' %}


{% block mainPage %}<div id="header"><a href="http:www.pbskids.org"><img id="pbsLogo" src="../assets/images/pbs_logo.gif"></a>
 <div id="homeLogo">
  <a href="../index.html"><img id="arthurLogo" src="../assets/images/arthur_logo_sml.png"></a>
 </div>
</div>
<div id="mainContent" style="height:700px;"><span id="titlediv">Games</span> <img id="title" src="../assets/images/gameTitle.png">
 <div class="buttonGame">
  <div id="soFunny"><a href="comic_sofunny/index.html">
    <div class="buttonLink">
     So Funny I Forgot To Laugh
    </div> <img src="../assets/images/gameSoFunny.png"></a>
  </div>
  <div id="backyardAdv"><a href="backyardAdventure/index.html">
    <div class="buttonLink">
     Backyard Adventure
    </div> <img src="../assets/images/backyard_mobile_games.png"></a>
  </div>
 </div>
 <div class="buttonGame">
  <div id="arthurDoodle"><a href="arthurDoodle/index.html">
    <div class="buttonLink">
     Arthur Doodles
    </div> <img src="../assets/images/arthurDoodle.png"></a>
  </div>
  <div id="comicCreator"><a href="comiccreator/index.html">
    <div class="buttonLink">
     Comic Creator
    </div> <img src="../assets/images/gameComicCreator.png"></a>
  </div>
 </div>
 <div class="buttonGame">
  <div id="arthurDoodle">
   <div class="buttonLink"></div> <img style src="../assets/images/iconSpace.png">
  </div>
  <div id="exerciseTimer"><a href="exerciseTimer/index.html">
    <div class="buttonLink">
     Exercise Timer
    </div> <img src="../assets/images/exerciseTimer.png"></a>
  </div>
 </div>
</div>
<div id="bottom">
 <div id="copyright"><br> All characters and underlying materials (including artwork) © Marc Brown. "Arthur" and "D.W." and all of the ARTHUR characters are trademarks of Marc Brown.<br><span class="copyrightLine">© 2014 WGBH</span>
 </div>
</div>{% endblock %}

