{% extends 'wildkratts/includes/wildKrattsPage.html.twig' %}
{% set specialTitle = false %}
{% set pageTitle = ' . Go Nuts' %}
{% set desc = 'Play a squirrel game and collect acorns to earn creature powers!' %}
{% set keywds = 'Wild Kratts, Tortuga, Creaturepedia, Games,Habitats, Kratt Brothers, Squirrel, nuts' %}
{% set bodyClass = 'gameplay' %}


{% block mobileNav %}<div class="mywide mnav"><a href="http://pbskids.org/"><img id="mpbslogo" alt="PBS Logo" src="/wildkratts/img/nav/mobile/logo_pbs.png" width="37" height="37"></a> <a href="/wildkratts/"><img alt="Wild Kratts Logo" id="mwklogo" src="/wildkratts/img/nav/mobile/logo_wk.png" width="110" height="104"></a>
 <nav>
  <ul>
   <li id="navm-games"><a href="/wildkratts/games"><img alt="Games" class="games" src="/wildkratts/img/nav/mobile/m_nav_games.png" width="60" height="60"></a></li>
   <li id="navm-videos"><a href="/wildkratts/videos"><img alt="Videos" class="videos" src="/wildkratts/img/nav/mobile/m_nav_videos.png" width="60" height="60"></a></li>
   <li id="navm-creat"><a href="/wildkratts/creaturepedia"><img alt="Creaturepedia" class="creaturepedia" src="/wildkratts/img/nav/mobile/m_nav_creaturepedia.png" width="60" height="60"></a></li>
  </ul>
 </nav>
</div>{% endblock %}




{% block mainContent %}<div class="gmain">
 <div class="container">
  <div id="flashcontent"><span id="noflash-message"></span><br> <br> <span id="noflash-link"></span>
  </div> <!-- subpagespromo.html -->
  <div class="promosubpage mynarrow"><!--div class="promosub1"><a href="/wildkratts/games/monkey-mayhem/"><img alt="Promo 1" src="/wildkratts/img/promos/promo_g1.jpg" width="285" height="116"></a></div>
					<div class="promosub2"><a href="/wildkratts/videos/"><img alt="Promo 2" src="/wildkratts/img/promos/promo_g2.jpg" width="285" height="116"></a></div-->
   <div class="promosub1">
    <a href="/wildkratts/games/capture-the-fishmobiles/"><img alt="Promo 1" src="/wildkratts/img/promos/promo_g3.jpg" width="285" height="116"></a>
   </div>
   <div class="promosub2">
    <a href="/wildkratts/games/rhino-bowl/"><img alt="Promo 2" src="/wildkratts/img/promos/promo_g4.jpg" width="285" height="116"></a>
   </div>
  </div> <!-- /subpagespromo.html -->
 </div><!--/container-->
</div>{% endblock %}




{% block specialMiddleElems %}{% endblock %}




{% block specialBody %}<script type="text/javascript" language="javascript">
            var swfContentPath = 'games/go-nuts/SquirrelGame.swf' // line to be changed for each game
            //Remove comments as necessary
            //var roundUpMode = true;
            //var video_keyword = "hummingbirdgame";
        </script>
<script src="/wildkratts/js/gamesjs.js"></script>
{% endblock %}

