{% extends 'games/includes/gamesPage.html.twig' %}
{% set pageTitle = 'Feelings Games' %}
{% set bodyClass = 'games topics-page yellow feelings-games' %}


{% block mainContent %}<div role="main" class="wrapper-block">
 <section class="section-panel top">
  <div class="max-wrapper">
   <header role="banner" class="brand page-head"><a href="../../"> <img data-fallback="http://pbskids.org/shell/images/content/pbs-kids-logo.png" src="http://pbskids.org/shell/images/content/pbs-kids-logo.svg"> </a>
    <hgroup>
     <h1>PBS KIDS:</h1>
     <h2><em>Feelings</em> <span>Games</span></h2>
    </hgroup>
   </header> <a class="phat-button show-all games blue" href="../"><em><i class="icon"></i> <span>More Games</span></em></a>
   <article class="topics-game-grid" style="margin-bottom:0px;">
    <figure class="topics-game mega-feature"><a href="http://pbskids.org/arthur/games/askprunella/index.html"> <img class="mega-feature-graphic topic-feature" data-carson-src="/pbskids/shell/images/content/games/arthur-ask-prunella.jpg" data-carson-size="topics-feature"> </a>
     <figcaption class="topics-page-feature"><a href="http://pbskids.org/arthur/games/askprunella/index.html"> <h3 class="show-title">Arthur</h3> <h4 class="game-title">Ask Prunella</h4> <p>See what Prunella predicts for Arthur &amp; his friend.</p> </a> <a class="phat-button show-all blue" href="http://pbskids.org/arthur/games/askprunella/index.html"><em> <span>Play Now!</span></em></a>
     </figcaption>
    </figure>
   </article>
   <article class="topics-game-grid">
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/askprunella/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-ask-prunella.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">Ask Prunella</h4>
       <p class="goals">Exploring, People</p>
      </div>
      <figcaption>
       <p>See what Prunella predicts for Arthur &amp; his friend.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/global-grover/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-global-grover.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Global Grover</h4>
       <p class="goals">Exploring, Try Something New, Dance, Musical Instruments, Music, Cultures</p>
      </div>
      <figcaption>
       <p>Travel around the world and make up dances with Grover.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/aboutface"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-about-face.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">About Face</h4>
       <p class="goals">Problem Solving, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Do moldy sandwiches make Buster happy?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/journey-ernie/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-journey-to-ernie.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Journey to Ernie</h4>
       <p class="goals">Coloring, Problem Solving</p>
      </div>
      <figcaption>
       <p>Play memory games with Big Bird to find where Ernie's hiding.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/caillou/games/dresscaillou.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/caillou-dress-caillou_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Caillou</h3>
       <h4 class="game-title">Dress Caillou</h4>
       <p class="goals">Dress Up, Routine, Art, People</p>
      </div>
      <figcaption>
       <p>Help Caillou pick out the right clothes!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/kisses.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-clifford-kisses.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Clifford Kisses</h4>
       <p class="goals">Helping, Patterns, Social Skills, Dogs</p>
      </div>
      <figcaption>
       <p>Match colors for a big Clifford kiss.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/caillou/games/searching.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/caillou-find-gilbert_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Caillou</h3>
       <h4 class="game-title">Find Gilbert</h4>
       <p class="goals">Family</p>
      </div>
      <figcaption>
       <p>Help Caillou find Gilbert, Teddy and Rexy!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/beach.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-help-clifford.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Help Clifford</h4>
       <p class="goals">Helping, Social Skills, Dogs, Pets</p>
      </div>
      <figcaption>
       <p>What does Clifford need?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/sweater.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cleo-shares_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Cleo Shares</h4>
       <p class="goals">Helping, Sharing, Social Skills, Dogs</p>
      </div>
      <figcaption>
       <p>Can you help Cleo share?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/clue-hunt/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-journey-to-ernie-clue-hunt.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Journey to Ernie: Clue Hunt</h4>
       <p class="goals">Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Big Bird follow the clues to find where Ernie's hiding.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Maya &amp; Miguel</h3>
       <h4 class="game-title">Make a Jersey</h4>
       <p class="goals">Olympics / Sports, Create, Art, Competition</p>
      </div>
      <figcaption>
       <p>Create your own sports jersey.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/pogo_gogo"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-pogo-a-gogo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Pogo-A-GoGo</h4>
       <p class="goals">Building, Experiments, Structures, Problem Solving</p>
      </div>
      <figcaption>
       <p>Go go on your pogo, Curious George!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/martha/games/scrubapup/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-scrub-a-pup.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Martha Speaks</h3>
       <h4 class="game-title">Scrub a Pup</h4>
       <p class="goals">Pets, Cleaning up/Chores, Vocabulary, Words, Dogs</p>
      </div>
      <figcaption>
       <p>Help Martha wash these dirty dogs!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/everything_must_go/everything_must_go.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-everything-must-go.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Everything Must Go</h4>
       <p class="goals">Helping, Cleaning up/Chores</p>
      </div>
      <figcaption>
       <p>Help George clean his room with the Clean Machine.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/oscars-trash-collection/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-oscars-trash-collection.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Oscar's Trash Collection</h4>
       <p class="goals">Environment, Patterns, Cleaning up/Chores, Shapes</p>
      </div>
      <figcaption>
       <p>Sort Oscar's trash by color and shape.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/abbys-adventure-game/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-abbys-adventures.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Abby's Adventures</h4>
       <p class="goals">Exploring, ABC's, Letters, Vocabulary, Alphabet, Environment, Navigate</p>
      </div>
      <figcaption>
       <p>Journey with Abby to wetlands and rainforests!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/rositas-fiesta/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-rositas-fiesta.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Rosita's Fiesta</h4>
       <p class="goals">Addition, Counting, Friendship, Subtraction, Numbers</p>
      </div>
      <figcaption>
       <p>Give each of Rosita's amigos one piece of food and have a fiesta.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/rogers/sink.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/mister-rogers-neighborhood-water-play.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Mister Rogers' Neighborhood</h3>
       <h4 class="game-title">Water Play</h4>
       <p class="goals">Exploring, Cleaning up/Chores, Fears</p>
      </div>
      <figcaption>
       <p>Play with objects in the sink to see if they sink or float.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lions/games/messyattic.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/between-the-lions-messy-attic.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Between the Lions</h3>
       <h4 class="game-title">Messy Attic</h4>
       <p class="goals">Helping, Cleaning up/Chores, Routine</p>
      </div>
      <figcaption>
       <p>Use your listening skills!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/martha/games/puppals/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-pup-pals.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Martha Speaks</h3>
       <h4 class="game-title">Pup Pals</h4>
       <p class="goals">Helping, Dogs, Pets</p>
      </div>
      <figcaption>
       <p>Feed, train, and play with your own pup!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/buried-treasure.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Clifford's Buried Treasure</h4>
       <p class="goals">Patterns, Colors, Problem Solving, Navigate</p>
      </div>
      <figcaption>
       <p>Find the buried treasure with Clifford, T-Bone and Cleo!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/present_time/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-present-time.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Present Time</h4>
       <p class="goals">Shapes, Patterns, Friends, Winter Holidays</p>
      </div>
      <figcaption>
       <p>Help George deliver presents!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/pigeon-trouble/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-bert-in-pigeon-trouble.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Bert in: Pigeon Trouble</h4>
       <p class="goals">Math, Cleaning up/Chores, Birds, Vocabulary</p>
      </div>
      <figcaption>
       <p>Can you help Bert clean up?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/elmo-goes-doctor/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-elmo-goes-to-the-doctor.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Elmo Goes to the Doctor</h4>
       <p class="goals">Reading, Fears, Doctors + Health Professionals, Storytelling</p>
      </div>
      <figcaption>
       <p>Help Elmo at the doctor's office.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/elmos-special-cupcakes/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-elmos-special-cupcakes.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Elmo's Special Cupcakes</h4>
       <p class="goals">Growing Up, Fears, Storytelling, Family</p>
      </div>
      <figcaption>
       <p>Spend the day with Elmo!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/twiddlebug-tool-adventure/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-a-twiddlebug-tool-adventure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">A Twiddlebug Tool Adventure</h4>
       <p class="goals">Science, Experiments, Scientific Reasoning, Design, Problem Solving, Physics</p>
      </div>
      <figcaption>
       <p>Help Ernie use tools to get the Twiddlebugs home.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/apples/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-apple-picking.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Apple Picking</h4>
       <p class="goals">Helping, Counting, Numbers, Math</p>
      </div>
      <figcaption>
       <p>Pick apples with George!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/bubbles/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-bubble-pop.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Bubble Pop</h4>
       <p class="goals">Cleaning up/Chores, Counting, Math</p>
      </div>
      <figcaption>
       <p>Count as you pop bubbles with George.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/superwhy/#/game/createasuperdog"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/super-why-super-dog.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Super Why!</h3>
       <h4 class="game-title">Super Dog</h4>
       <p class="goals">Pets, Create, Words, Vocabulary, Dogs</p>
      </div>
      <figcaption>
       <p>Create your own super dog with Woofster!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/superwhy/#/game/puppydaycare"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/super-why-puppy-day-care.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Super Why!</h3>
       <h4 class="game-title">Puppy Day Care</h4>
       <p class="goals">Words, Vocabulary, Helping, Pets, Dogs, Literacy</p>
      </div>
      <figcaption>
       <p>Help Woofster take care of the puppies at Puppy Day Care.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/stories/something-special-for-dad/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-something-special-for-dad.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Something Special for Dad</h4>
       <p class="goals">Storytelling, Family, Social Skills, Stories/Books, Reading, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Read a story with Daniel Tiger!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/my-bedtime/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-my-bedtime.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">My Bedtime</h4>
       <p class="goals">Exploring, Family, Routine</p>
      </div>
      <figcaption>
       <p>Help Daniel get ready for bedtime.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/doctor-daniel/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-doctor-daniel.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Doctor Daniel</h4>
       <p class="goals">Illness + Getting Better, Fears, Doctors + Health Professionals, Routine</p>
      </div>
      <figcaption>
       <p>Learn all about going to the Doctor!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/make-a-card/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-make-a-card.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Make a Card</h4>
       <p class="goals">Coloring, Art, Create, Manners, Colors, Drawing, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Make a card for someone special!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/feel-the-music/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-feel-the-music.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Feel the Music</h4>
       <p class="goals">Exploring, Musical Instruments, Music, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Play music to show how you feel.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/drive-trolley/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-drive-trolley.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Drive Trolley</h4>
       <p class="goals">Helping, Exploring, Routine, Friendship, Trains</p>
      </div>
      <figcaption>
       <p>Drive Trolley around the neighborhood</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/in-my-bathroom/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-in-my-bathroom.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">In My Bathroom</h4>
       <p class="goals">Exploring, Hygiene, Cleaning up/Chores, Growing Up, Routine</p>
      </div>
      <figcaption>
       <p>Wash, brush and flush!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick?level=8"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-food-matching.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Food Matching</h4>
       <p class="goals">Deductive Reasoning, Problem Solving, Math</p>
      </div>
      <figcaption>
       <p>Try making these picky eaters happy!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dinosaurtrain/games/playdate.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-playdate.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Dinosaur Train</h3>
       <h4 class="game-title">Playdate</h4>
       <p class="goals">Dinosaurs, Winning + Losing, Friendship, Problem Solving, Competition</p>
      </div>
      <figcaption>
       <p>Go on a playdate with Buddy, Tiny, Don, and Shiny!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/stories/daniels-babysitter/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-daniels-babysitter.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Daniel's Babysitter</h4>
       <p class="goals">Stories/Books, Emotions/Feelings, Fears, Storytelling, Respect</p>
      </div>
      <figcaption>
       <p>Read a story with Daniel Tiger!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/cyberchase/math-games/buzz-and-delete-save-day/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/cyberchase-buzz-and-delete-save-the-day.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Cyberchase</h3>
       <h4 class="game-title">Buzz and Delete Save the Day!</h4>
       <p class="goals">Addition, Outer Space, Robots, Patterns, Numbers, Problem Solving, Multiplication, Counting, Math</p>
      </div>
      <figcaption>
       <p>Go on an awesome space adventure &amp; save the robots!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/fetch/games/minigolf/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-monumental-mini-golf.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
       <h4 class="game-title">Monumental Mini-Golf</h4>
       <p class="goals">Building, Geometry, Shapes, Teamwork, Problem Solving, Measurement, Multiplication, Estimation, Structures, Math</p>
      </div>
      <figcaption>
       <p>Build &amp; play this monumental mini-golf course.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/my-fish-tank/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-daniels-fish-tank.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Daniel's Fish Tank</h4>
       <p class="goals">Exploring, Social Skills</p>
      </div>
      <figcaption>
       <p>Help Daniel feed the fish!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/thomasandfriends/games/tangled-rail-tales/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-tangled-rail-tales.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Tangled Rail Tales</h4>
       <p class="goals">Engine, Reading, Problem Solving, Storytelling</p>
      </div>
      <figcaption>
       <p>Can you help untangle the story?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/tea-party/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-tea-party.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Tea Party</h4>
       <p class="goals">Friendship</p>
      </div>
      <figcaption>
       <p>Have a tea party with Daniel and friends!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/arthur/games/comic_sofunny/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-so-funny-i-forgot-to-laugh.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">So Funny I Forgot to Laugh</h4>
       <p class="goals">Stories/Books, Reading, Friendship, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Is Arthur bullying Sue Ellen? You decide!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/electriccompany/petbot#notloggedin"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-electric-company-my-pet-bot.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Electric Company</h3>
       <h4 class="game-title">My Pet Bot</h4>
       <p class="goals">Robots, Pets</p>
      </div>
      <figcaption>
       <p>Make and dress your own pet robot!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/thomasandfriends/games/engine-repair/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-engine-repair.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Engine Repair</h4>
       <p class="goals">Engine, Helping, Teamwork, Problem Solving, Trains, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Help repair the engines at the Steamworks!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/make-believe/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-lets-make-believe.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Let's Make Believe</h4>
       <p class="goals">Outer Space, Exploring, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Play make believe with Daniel and choose your own adventures!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/thomasandfriends/games/many-moods/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-many-moods.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Many Moods</h4>
       <p class="goals">Engine, Trains, Routine, Teamwork, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>How are Thomas and his friends feeling today?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/backyard_adventure/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-dw-buds-backyard-adventure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">D.W. &amp;amp; Bud's Backyard Adventure</h4>
       <p class="goals">Exploring, Teamwork, Friendship, Adventure, Nature</p>
      </div>
      <figcaption>
       <p>Join D.W. and Bud on an exciting Backyard adventure!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/baby-bath/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-bathtime-helper_7.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Bathtime Helper</h4>
       <p class="goals">Helping, Growing Up, Family</p>
      </div>
      <figcaption>
       <p>Help Daniel give Margaret a bath.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/sandcastle/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-sandcastle.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Sandcastle</h4>
       <p class="goals">Create, Sharing, Teamwork</p>
      </div>
      <figcaption>
       <p>Build sandcastles with Daniel.</p>
      </figcaption> </a>
    </figure>
   </article>
  </div>
 </section>
 <section id="topics-panel" class="section-panel sub">
  <div class="max-wrapper">
   <h3 class="related-head">Related Topics</h3>
   <article class="topics-block seafoam">
    <h2 class="topics-head"><a href="/games/healthy-habits/"> <em> <span class="icon healthy-habits"></span> Healthy Habits Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/sidsays.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-sid-says.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Sid Says</h4>
        <p class="description">Copy Sid's dad as he moves those muscles!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Biology, Vocabulary, Exercise/Fitness
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/electriccompany/games/halfpipehoverball"> <img data-carson-src="/pbskids/shell/images/content/games/the-electric-company-halfpipe-hoverball.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Electric Company</h3>
        <h4 class="game-title">Halfpipe Hoverball</h4>
        <p class="description">Skateboard with Marcus on the halfpipe!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Sports, Phonics, Vocabulary, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/immersivegames/?gameID=0"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-caillou-the-cook.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Caillou the Cook</h4>
        <p class="description">Help Caillou find all of the ingredients he needs.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Cooking, Jobs, Vocabulary
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-miguel-andys-world-of-sports.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Miguel &amp;amp; Andy's World of Sports</h4>
        <p class="description">Pick up your paddle and play!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Sports
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/germinator/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-germinator.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Germinator</h4>
        <p class="description">Watch out for the soap!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Body Parts, Biology, Illness + Getting Better
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/danceparty/"> <img data-carson-src="/pbskids/shell/images/content/games/dashs-dance-party-dashs-dance-party.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Dash's Dance Party</h3>
        <h4 class="game-title">Dash's Dance Party</h4>
        <p class="description">Dance with Dash &amp; friends!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Dance, Create, Performing on Stage, Exercise/Fitness
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/healthy-habits/"><i class="count">43</i> More <em>Healthy Habits </em> Games</a>
    </ul>
   </article>
   <article class="topics-block orange">
    <h2 class="topics-head"><a href="/games/create/"> <em> <span class="icon create"></span> Create Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Make a Jersey</h4>
        <p class="description">Create your own sports jersey.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Create, Art, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/catinthehat/games/marblecoaster/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-marbelous-marvel-coaster.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Cat in the Hat</h3>
        <h4 class="game-title">Marbelous Marvel Coaster</h4>
        <p class="description">Use your creativity to engineer a Marbelous Marvel Coaster!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Physics, Create, Design, Gadgets
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/clifford/games/buried-treasure.html"> <img data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Clifford The Big Red Dog</h3>
        <h4 class="game-title">Clifford's Buried Treasure</h4>
        <p class="description">Find the buried treasure with Clifford, T-Bone and Cleo!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Colors, Problem Solving, Navigate
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/daniel/games/feel-the-music/"> <img data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-feel-the-music.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
        <h4 class="game-title">Feel the Music</h4>
        <p class="description">Play music to show how you feel.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Exploring, Musical Instruments, Music, Emotions/Feelings
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/go/studio/"> <img data-carson-src="/pbskids/shell/images/content/games/cartoon-studio-cartoon-studio_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Cartoon Studio</h3>
        <h4 class="game-title">Cartoon Studio</h4>
        <p class="description">Make your own cartoons!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Create, Performing on Stage, Storytelling, Movie Making
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/designsquad/games/string_thing/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/design-squad-string-thing.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Design Squad</h3>
        <h4 class="game-title">String Thing</h4>
        <p class="description">Can you make music with this?</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Gadgets, Musical Instruments, Music, Musicians
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/create/"><i class="count">109</i> More <em>Create </em> Games</a>
    </ul>
   </article>
   <article class="topics-block tall-list seafoam last invisible">
    <h2 class="topics-head"><a href="../all-topics/"> <em>More Topics</em> </a></h2>
    <ul class="topic-list">
     <li class="topic-list-item invisible"><a class="topic" href="/games/math/"> <span class="icon math"></span> <em>Math <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dinosaur/"> <span class="icon dinosaur"></span> <em>Dinosaur <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/science/"> <span class="icon science"></span> <em>Science <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/social-studies/"> <span class="icon social-studies"></span> <em>Social Studies <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/reading/"> <span class="icon reading"></span> <em>Reading <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/abc/"> <span class="icon abc"></span> <em>ABC <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/vocabulary/"> <span class="icon vocabulary"></span> <em>Vocabulary <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spelling/"> <span class="icon spelling"></span> <em>Spelling <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/rhyming/"> <span class="icon rhyming"></span> <em>Rhyming <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/story/"> <span class="icon story"></span> <em>Story <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/123/"> <span class="icon 123"></span> <em>123 <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/nature/"> <span class="icon nature"></span> <em>Nature <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/healthy-habits/"> <span class="icon healthy-habits"></span> <em>Healthy Habits <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/create/"> <span class="icon create"></span> <em>Create <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/engineering/"> <span class="icon engineering"></span> <em>Engineering <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/feelings/"> <span class="icon feelings"></span> <em>Feelings <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/teamwork/"> <span class="icon teamwork"></span> <em>Teamwork <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/animal/"> <span class="icon animal"></span> <em>Animal <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dog/"> <span class="icon dog"></span> <em>Dog <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/coloring/"> <span class="icon coloring"></span> <em>Coloring <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/shapes/"> <span class="icon shapes"></span> <em>Shapes <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/adventure/"> <span class="icon adventure"></span> <em>Adventure <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/music/"> <span class="icon music"></span> <em>Music <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dress-up/"> <span class="icon dress-up"></span> <em>Dress Up <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/problem-solving/"> <span class="icon problem-solving"></span> <em>Problem Solving <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/measurement/"> <span class="icon measurement"></span> <em>Measurement <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spanish/"> <span class="icon spanish"></span> <em>Spanish <span>Games</span></em> </a></li>
    </ul> <a class="more-link" href="../all-topics/"><i class="count"></i> More <em>Topics</em></a>
   </article>
   <article class="topics-block yellow">
    <h2 class="topics-head"><a href="/games/teamwork/"> <em> <span class="icon teamwork"></span> Teamwork Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/fablab_vegetablepatterns.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-vegetable-patterns.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Vegetable Patterns</h4>
        <p class="description">Make veggie patterns!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Science Projects, Gardening, Problem Solving
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/chuck/roadtrip.html"> <img data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-road-trip.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Chuck Vanderchuck</h3>
        <h4 class="game-title">Road Trip</h4>
        <p class="description">Help Chuck get to his music gig!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musical Instruments, Music, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/games/pogo_gogo"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-pogo-a-gogo.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Pogo-A-GoGo</h4>
        <p class="description">Go go on your pogo, Curious George!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Experiments, Structures, Problem Solving
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Make a Jersey</h4>
        <p class="description">Create your own sports jersey.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Create, Art, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/martha/games/puppals/"> <img data-carson-src="/pbskids/shell/images/content/games/martha-speaks-pup-pals.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Martha Speaks</h3>
        <h4 class="game-title">Pup Pals</h4>
        <p class="description">Feed, train, and play with your own pup!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Helping, Dogs, Pets
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/clue-hunt/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-journey-to-ernie-clue-hunt.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Journey to Ernie: Clue Hunt</h4>
        <p class="description">Help Big Bird follow the clues to find where Ernie's hiding.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Problem Solving
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/teamwork/"><i class="count">61</i> More <em>Teamwork</em> Games</a>
    </ul>
   </article>
   <article class="topics-block magenta">
    <h2 class="topics-head"><a href="/games/music/"> <em> <span class="icon music"></span> Music Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/designsquad/games/string_thing/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/design-squad-string-thing.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Design Squad</h3>
        <h4 class="game-title">String Thing</h4>
        <p class="description">Can you make music with this?</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Gadgets, Musical Instruments, Music, Musicians
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/sandboxsymphony.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-sandbox-symphony.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Sandbox Symphony</h4>
        <p class="description">Make music with Sid!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musical Instruments, Music, Musicians
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/stars.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-follow-the-stars_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Follow the Stars</h4>
        <p class="description">Use your memory skills to repeat the patterns and sounds that the stars make.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musicians, Music
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogears_02/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-ears-2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Ears 2</h4>
        <p class="description">Listen up! Crack and pop the audio safe!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Musical Instruments, Letters, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/global-grover/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-global-grover.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Global Grover</h4>
        <p class="description">Travel around the world and make up dances with Grover.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Exploring, Try Something New, Dance, Musical Instruments, Music, Cultures
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/games/splat_symphony/splat_symphony.html"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-splat-symphony.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Splat Symphony</h4>
        <p class="description">Splat paint and make music!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Music, Colors, Musical Instruments, Art, Artists
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/music/"><i class="count">37</i> More <em>Music </em> Games</a>
    </ul>
   </article>
  </div>
 </section> <!-- End #topics-panel -->
</div>{% endblock %}

