{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Mrs. Read\'s Photos Page | PBS Kids' %}
{% set desc = 'Arthurs Mom is seen relaxing in her pictures. And she got a new hairdo. She also posted a picture of her and Arthur hugging!' %}
{% set keywds = 'mom, Mrs. Read, ARTHUR, photographs, pictures' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}
{% set friendsJs = true %}


{% block mainContent %}<div id="content" class="bg-ccf">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="503,206,607,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="611,206,712,711" href="photos.html" alt="Photo Page"> <area shape="rect" coords="713,206,819,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,924,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/mom_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/mom_top.swf", "mom", "960", "363", "9", "#ccccff");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "photos");			   fo.addVariable("char", "mom");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-mom">Mrs. Read's images</a>
  <div id="friendsContent">
   <h1>My Photos</h1>
   <hr class="friendsRuler">
   <div id="photoWrapper">
    <div id="bigImgWrapper"><img src="../../i/friends/photos/mom1.jpg" width="354" height="250" alt="Mrs. Read relaxing in a lawn chair." border="0" id="mainImg"> <a href="" class="next"></a> <a href="" class="prev"></a>
    </div> <img src="../../i/friends/photos/avatar_big_mom.gif" width="85" height="83" alt="Mom avatar" border="0" id="avatar">
    <h3>Ahhhh. Summer.</h3>
   </div>
   <div id="cmtArea"><!--  Displayed image and comment -->
    <h2>MY FRIENDS SAY</h2>
    <div id="cmtTxtWrapper">
     <div class="comment">
      <div class="dad-cmt"><a href="/arthur/friends/dad/index.html">MR. READ</a>
       <p>You deserve some quiet.</p>
      </div>
      <div class="dad-cmtbtm"></div>
     </div>
    </div>
   </div> <!--  List of all images and comments to rotate -->
   <ul id="cmtlist">
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/mom1.jpg" width="354" height="250" alt="Mrs. Read relaxing in a lawn chair." border="0" id="mainImg">
       <h3>Ahhhh. Summer.</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="dad-cmt"><a href="/arthur/friends/dad/index.html">MR. READ</a>
          <p>You deserve some quiet.</p>
         </div>
         <div class="dad-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/mom2.jpg" width="354" height="250" alt="Mrs. Read hugging Arthur" border="0" id="mainImg">
       <h3>Never too old to hug.</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="arthur-cmt"><a href="/arthur/friends/arthur/index.html">ARTHUR</a>
          <p>Aw, Mom! Everyone will see!</p>
         </div>
         <div class="arthur-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/mom3.jpg" width="354" height="250" alt="Mrs. Read showing D.W. and Arthur her new hairdo." border="0" id="mainImg">
       <h3>Like my new hairdo?</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/arthur/index.html" id="rcArthur">Arthur</a></li>
   <li><a href="/arthur/friends/dw/index.html" id="rcDW">D.W.</a></li>
   <li><a href="/arthur/friends/baby_kate/index.html" id="rcKate">Baby Kate</a></li>
  </ul>
 </div>
</div>{% endblock %}

