{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu_frontpage">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about" onmouseover="MM_swapImage('btn_pt_about','','imgs/btn_pt_about_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner_frontpage">
   <div style="display:inline; position: relative; width: 356px; left: 11px; top: 25px; margin-bottom: 0px;">
    <img src="imgs/pt_home.jpg" width="356" height="428" alt="Amy, Lomax and Delta">
   </div>
   <div style="display: inline; position: absolute; z-index: 101; width: 200px; padding-top: 120px; left: 356px;">
    <h1 class="frontpage">Welcome<br>Parents &amp;<br>Teachers!</h1>
   </div>
  </div>
 </div>
</div>{% endblock %}

