{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about_over.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start-->
   <h1>About the Program</h1> <br> <br>
   <table width="500px" height="350px" align="center">
    <tbody>
     <tr>
      <td valign="top" align="center" width="33%"><a href="pt_about_lomax.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/abt_lomax.gif" width="84" height="77" border="0" alt="About Lomax"><br> About Lomax</h2> <h3 class="heading">The Hound of Music</h3></a></td>
      <td valign="top" align="center" width="33%"><a href="pt_about_characters.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/abt_characters.gif" width="92" height="80" border="0" alt="Characters"><br> Characters</h2></a></td>
      <td valign="top" align="center" width="33%"><a href="pt_about_faq.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/abt_faq.gif" width="85" height="77" border="0" alt="FAQ"><br> FAQ</h2></a></td>
     </tr>
     <tr>
      <td valign="top" align="center"><a href="pt_about_eps.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/abt_eps.gif" width="83" height="79" border="0" alt="Episode Descriptions"><br> Episode<br>Descriptions</h2></a></td>
      <td valign="top" align="center"><a href="pt_about_slideshow.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/abt_slideshow.gif" width="84" height="78" border="0" alt="Slideshow"><br> Slideshow</h2></a></td>
      <td valign="top" align="center"><a href="pt_about_behindscenes.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/abt_behindscenes.gif" width="84" height="79" border="0" alt="Behind the Scenes"><br> Behind the<br>Scenes</h2></a></td>
     </tr>
    </tbody>
   </table> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

