{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about" onmouseover="MM_swapImage('btn_pt_about','','imgs/btn_pt_about_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities_over.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start-->
   <h1>Activities / Lesson Plans</h1>
   <h2 class="heading"><img src="imgs/pt/act_curriculum.gif" width="89" height="83" border="0" alt="Curriculum"><br> Lomax:</h2>
   <h3 style="margin-top: 0px; margin-bottom: 0px; text-align: center;">The Hound of Music</h3>
   <h2 style="margin-top: 0px; text-align: center;">Curriculum</h2> <br>
   <h3>The <i>Lomax: The Hound of Music</i> Curriculum:<br> Musical Song "Types" and How to Use them with Kids</h3>
   <p><i>(Based on the writings of John M. Feierabend, Ph.D., whose "First Steps in Music" curriculum serves as the educational foundation of the <i>Lomax: The Hound of Music</i> television series)</i></p>
   <h3>PITCH EXPLORATION (WARM-UP EXERCISES)</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>The up-and-down sliding sounds that are featured early in every episode. These include descending and ascending vocal sounds, slide whistles, violin glissandos, descending and ascending meows, moos, howls, fly buzzes, etc., all designed to help kids identify and reproduce pitches as they warm up their voices.</p>
   <h3>Purpose:</h3>
   <p>The purpose of pitch exploration activities is to help children engage the vocal muscles that are used to sing in the "head voice." These muscles are the preferred muscles to use when singing at this age. Just as an athlete warms up certain muscle groups before exercising, singers should "warm-up" the correct singing muscles with activities such as these before singing.</p>
   <p>This is done during the first few minutes of every episode of <i>Lomax: The Hound of Music</i>.</p>
   <h3>Techniques:</h3>
   <p>It is not enough to invite children to simply make sounds during these activities. Insist on the right kinds of sounds (head voice register sounds).</p>
   <p>It is better to begin with descending sliding sounds and add ascending sliding sounds after the correct muscles are engaged.</p>
   <p>After the group becomes comfortable making the sounds, move around the group asking each child to take turns making the sounds.</p>
   <h3>ECHO SONGS</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>"Alabama Bound," "Bill Grogan's Goat," "Down By the Bay," "The Green Grass Grew All Around," "The Other Day I Met a Bear."</p>
   <h3>Purpose:</h3>
   <p>Echo songs are significant in the development of a child's musical skills because - unlike most songs, which take time to master - echo songs enable everyone to sing immediately.</p>
   <h3>Recommended Techniques:</h3>
   <p>Sing FOR the children, not WITH the children. (This procedure is critical in developing independence in children.)</p>
   <p>You may want to point, or use a pretend microphone, to indicate when it is the leader's turn to sing and when it is the children's turn to sing.</p>
   <p>Cupping your ear when you want to hear the kids sing is another good technique.</p>
   <p>Some children may benefit from attempting echo singing without the words. Humming, or animal sounds (meow, woof, moo, etc.) might help here.</p>
   <p>With a new song, the whole group should echo the leader. Later on, individuals can be singled out.</p>
   <h3>CALL AND RESPONSE SONGS</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>"John the Rabbit," "The Old Bell Cow," "The Old Hen Cackled," "Michael, Row the Boat Ashore," "Pay Me My Money Down," "Polly Wolly Doodle," "She'll Be Comin' Round the Mountain," "Whoa Mule!"</p>
   <h3>Purpose:</h3>
   <p>Call and response songs are like echo songs because the leader and group take turns singing. They differ from echo songs because the group's sung response differs from the leader's part, requiring the group to pre-learn and remember what they will sing.</p>
   <h3>Recommended Techniques:</h3>
   <p>Sing FOR the children, not WITH the children. (This procedure is critical in developing independence in children.)</p>
   <p>You may want to point, or use a pretend microphone, to indicate when it is the leader's turn to sing and when it is the children's turn to sing. Cupping your ear when you want to hear the kids sing is another good technique.</p>
   <p>Some children may benefit from attempting call-and-response singing without the words. Humming, or animal sounds (meow, woof, moo, etc.) might help here.</p>
   <p>With a new song, the whole group should echo the leader. Later on, individuals can be singled out.</p>
   <h3>SIMPLE SONGS</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>"The Bear Went Over the Mountain," "It's Raining, It's Pouring," "The Long Legged Sailor," "My Dog Has Fleas."</p>
   <h3>Purpose:</h3>
   <p>The purpose of simple songs is to encourage independent singing from children while they assimilate the whole song. These songs have a limited tonal range, are short and easy to remember, and should allow the child to succeed with early group and solo singing attempts.</p>
   <h3>Techniques:</h3>
   <p>Sing these songs in the key of F or G. By singing lightly in these keys (even if they seem a little high for some), children will best prepare themselves to use their correct singing voice. Remember: Attempts are as important as correct responses. Be encouraging!</p>
   <p>There is an ideal three-phase process for using simple songs to prepare a child for independent singing:</p>
   <p>1. The leader should sing the song for the children at least two or three times. It's a good idea to encourage the children to perform some motions while listening - perhaps simply swaying side to side. The children do not sing in Phase 1.</p>
   <p>2. After two or three "lessons" in Phase 1, the whole group should be invited to sing the song (without the leader's assistance).</p>
   <p>3. When (and if) the group appears to have learned the song, invite individuals to sing by themselves.</p>
   <h3>SONG TALES</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>"Arkansas Traveler," "The Big Sheep," "Buffalo Gals," "The Cat Came Back," "The Crabfish Song," "Father's Whiskers," "I Had a Rooster," "The Old Oaken Bucket," "There Ain't No Bugs on Me," "There's a Hole in the Bucket."</p>
   <h3>Purpose:</h3>
   <p>Song tales are stories in the form of songs. They have been included in this curriculum for the purpose of providing a child's first experience of narrative, and of artful expression, in music.</p>
   <p>In a sense, singing a song tale is the musical equivalent of reading aloud to a child, and, therefore, can be considered a valuable emergent literacy activity. Children who hear song tales sung with expression will later be expressive singers (or readers!) themselves, and will appreciate the expressiveness in the musical performances of others.</p>
   <h3>TECHNIQUES:</h3>
   <p>Due to the many words in most song tales, they are sung to young children, not by young children.</p>
   <p>Make good eye contact as you sing. Allow your face to reflect the expressive intent of the song. Don't think of song tales as songs. Think of them - and sing them -- as stories; they just happen to have tunes attached.</p>
   <p>The expressive moments in a song tale may suggest slowing down, speeding up, holding a tone, or singing with greater rhythmic interest.</p>
   <p>Song tales are an excellent way to end a session (and, therefore, an episode of <i>Lomax: The Hound of Music</i>).</p>
   <p>In instrumental accompaniment, be careful not to impede children from hearing the subtle expressiveness of the vocal part. And try to use the instrumentation with harmonic colors suggested by the lyrics of the song itself.</p>
   <h3>ARIOSO</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>Fred's grandmother sings everything she says, and in order too communicate with her, characters and kids on the show must in turn sing whatever they want to say to her. Fred's granny is the centerpiece of the episode "The Old Oaken Bucket," and appears from time to time in other episodes as well.</p>
   <h3>Purpose:</h3>
   <p>"Arioso" is vocal exercise that has children spontaneously create tunes. Just as children develop a repertoire of words and are able to create sentences to express themselves based on those words, children should be encouraged to make up original tunes and songs. The more tunes and songs that they have learned and the more opportunities they have to make up tunes and songs, the better their "Arioso" attempts will become.</p>
   <p>Early Arioso attempts may not sound much like tunes, but with experience these attempts will take on more song-like qualities.</p>
   <h3>Techniques:</h3>
   <p>First, it is a good idea for the leader to demonstrate Arioso, making sure to use a variety of pitches. It may be useful to reinforce the difference between speaking and singing.</p>
   <p>For example, when first presenting the concept of Arioso, the leader might say "I speak like this," and have the children repeat using their speaking voices. Then, the leader might sing a tune with the words "I sing like this." The kids would then repeat this tune, using their singing voices.</p>
   <p>The leader should not sing a tune to invite Arioso attempts, as children will most likely imitate the leader's tune, rather than making up one of their own.</p>
   <p>It is often useful to create a context for Arioso activities. (On <i>Lomax: The Hound of Music</i>, conversations with Fred's grandmother provide such a context.)</p>
   <h3>MOVEMENT FOR FORM AND EXPRESSION</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>"Eensy Weensy Spider," "Für Elise," "The Long-Legged Sailor."</p>
   <h3>Purpose:</h3>
   <p>These activities help children experience the expressive qualities of music through movement. At the same time, these activities also enable children to experience musical form through organized movement. Classical music, songs, and/or rhymes can be used.</p>
   <p>When using songs and rhymes, the motions should be performed in the expressive spirit of the song or rhyme or vice versa.</p>
   <h3>Techniques:</h3>
   <p>Finger plays (such as "Eensy Weensy Spider") can be performed while sitting (as well as standing) because they only require arm and hand movements.</p>
   <p>Action songs must be performed while standing and require whole body movements.</p>
   <p>Circle songs require group participation.</p>
   <p>The following three-step process will enable children to better assimilate both the motions and the song:</p>
   <p>(1) Without singing the song, teach the motions. Offer assistance when needed.</p>
   <p>(2) The leader should sing the song several times and invite the children to perform the motions. The children should not sing or speak along with the leader. It is better if the children are asked not to sing along while performing the motions until the motions have become second nature.</p>
   <p>(3) After the children have heard the song many times while performing the motions, invite the children to sing. The motions should be intuitive by this point so the children can concentrate on the song or rhyme. The leader should not sing with the children. Sing for the class, not with the class.</p>
   <h3>BEAT MOTION ACTIVITIES</h3>
   <h3>Examples from <i>Lomax: The Hound of Music</i>:</h3>
   <p>"The Horse Stood Around," "Mother Gooney Bird," "Ragtime Annie," "Turkey in the Straw."</p>
   <h3>Purpose:</h3>
   <p>Having an intuition for the beat in music is central to all later rhythmic development. Certain beat motions have been found to be easier than others for young children. Performing those motions at specific tempos will better enable children to be successful.</p>
   <h3>Techniques:</h3>
   <p>The easiest beat motion for preschoolers is tapping. Encourage kids to try tapping on (in increasing order of difficulty):</p>
   <p>(1) Legs</p>
   <p>(2) The floor</p>
   <p>(3) One hand onto the other hand</p>
   <p>(4) Other body parts</p>
   <p>When children are sitting on the floor, select from the following motions:</p>
   <p>(1) Tap on the floor</p>
   <p>(2) Rock side to side with arms extended</p>
   <p>(3) Sitting on feet, bounce up and down</p>
   <p>(4) Flap both hands in the air and gradually stand; then begin standing motions again</p>
   <p>Watch children for other motions they attempt, and imitate their motions.</p>
   <p>When mixing beat motions, work toward keeping different motions in groups of two or three (e.g., two taps "here," then two taps "there.").</p>
   <p>Songs that require traveling motions, such as walking, galloping, marching, or skipping with the beat, are more difficult for children to master than songs with simple stationery movements only. (Concentrate on the latter first.)</p>
   <p>When inviting a group of children to perform a beat motion, stay at 120-136 beats per minute. (This is most often the eighth-note beat.)</p> <br><br> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

