{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about_over.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start-->
   <h1>About the Program</h1>
   <h2 class="heading"><img src="imgs/pt/abt_characters.gif" width="92" height="80" border="0" alt="Characters"><br> Characters</h2> <br>
   <table width="500px" align="center" cellpadding="5">
    <tbody>
     <tr>
      <td><img src="imgs/pt/abt_chars_lomax.gif" width="83" height="78" alt="Lomax"></td>
      <td style="height: 110px;">Lomax <br><br> They call me "the hound of music" because I can hear tunes from very far away. My hobbies are tracking down tunes, chewing bones, watching Delta the Cat do funny things, and being petted by my human, Amy.</td>
     </tr>
     <tr>
      <td><img src="imgs/pt/abt_chars_delta.gif" width="83" height="85" alt="Delta"></td>
      <td style="height: 110px;">Delta <br><br> People say I have the most beautiful "meow" they have ever heard. They speak the truth. My hobbies are meowing beautifully, sleeping, grooming myself, chasing flies, and being petted by my human, Amy.</td>
     </tr>
     <tr>
      <td><img src="imgs/pt/abt_chars_amy.gif" width="83" height="78" alt="Amy"></td>
      <td style="height: 110px;">Amy <br><br> I live on the caboose of a train. My hobbies are singing, dancing, playing the guitar, traveling around the country, doing the Gooney Bird Dance, and petting my dog, Lomax, and my cat, Delta.</td>
     </tr>
     <tr>
      <td><img src="imgs/pt/abt_chars_fleas.gif" width="83" height="95" alt="Louise and Clark"></td>
      <td style="height: 110px;">Louise and Clark <br><br> We are tune-loving fleas who live on Lomax, in his fur. Our hobbies are singing, hiding, jumping away, holding on for dear life to Lomax's hairs when he runs, and screaming.</td>
     </tr>
     <tr>
      <td><img src="imgs/pt/abt_chars_fred.gif" width="83" height="83" alt="Fred"></td>
      <td style="height: 110px;">Fred <br><br> I'm the conductor on the "Melody Hound Express." My hobbies include imitating animals, instruments, and machinery; saying "All Aboard"; and trying not to fall down when the train stops short.</td>
     </tr>
    </tbody>
   </table> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

