{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about_over.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start-->
   <h1>About the Program</h1>
   <h2 class="heading"><img src="imgs/pt/abt_eps.gif" width="83" height="79" border="0" alt="Episode Descriptions"><br> Episode<br>Descriptions</h2> <br>
   <table>
    <tbody>
     <tr>
      <td width="100px" valign="top">Episode 101</td>
      <td valign="top">"Flea Bath" <br> Lomax, Delta and Amy sing a song with a Goat who plays the ukulele, they learn a dance called the Hula, and Lomax gets a flea bath. Songs in this episode include "My Dog Has Fleas," "Bill Grogan's Goat," "Aloha `Oe," and "There Ain't No Bugs on Me." <br><br> <i>Educational objectives: teaching music through pitch exploration, echo songs, expressive movement and song tales.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 102</td>
      <td valign="top">"Stuck" <br> Lomax, Delta and Amy, help a silly man stop singing a silly song, by getting him to sing a song about a hen and dance to music by Beethoven. Songs in this episode include "John Jacob Jingleheimer Schmidt," "The Old Hen Cackled," and "Buffalo Gals." <br><br> <i>Educational objectives: teaching music through pitch exploration, call and response songs, beat movement and song tales.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 103</td>
      <td valign="top">"Purple Light" <br> The Melody Hound Express travels out West, and Lomax tracks down a cowgirl singing to her horse. Songs in this episode include "Old Bell Cow," "Mother Gooney Bird," "The Horse Stood Around," "All the Pretty Little Horses," and "Toodala." <br><br> <i>Educational objectives: teaching music through pitch exploration, call and response songs, beat movement and specific action songs.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 104</td>
      <td valign="top">"Oaken Bucket" <br> Conductor Fred's Grandma visits the caboose and everyone sings everything they say. Songs in this episode include "Hole in the Bucket," "Mother Gooney Bird," and "Old Oaken Bucket." <br><br> <i>Educational objectives: teaching music through pitch exploration, song tales, beat movement and specific action songs </i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 105</td>
      <td valign="top">"Alabama Bound" <br> Delta chases a fly, all the way to Alabama! Songs in this episode include "Eensie Weensy Spider," "The Horse Stood Around," "Alabama Bound," and "Skip to my Lou." <br><br> <i>Educational objectives: teaching music through pitch exploration, echo songs, expressive motion songs (fingerplay), song tales and beat movement/action songs. </i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 106</td>
      <td valign="top">"Row Row" <br> Amy and Lomax track down a silly man playing a slide whistle, in a boat, on his front porch. Songs in this episode include "Row, Row, Row Your Boat," "Down by the Bay," "Michael Row the Boat Ashore," and "Mother Gooney Bird." <br><br> <i>Educational objectives: teaching music through pitch exploration, call and response songs, beat movement and song tales.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 107</td>
      <td valign="top">"Cat Came Back" <br> Delta takes a walk outside and meows with a man and his mule, and sings a song, on top of a bail of hay, she calls, "Kitty in the Hay!" Songs in this episode include "Whoa Mule," "Mother Gooney Bird," "Cat Came Back," and "Kitty In The Hay." <br><br> <i>Educational objectives: teaching music through pitch exploration, call and response songs, beat movement/specific action songs and song tales.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 108</td>
      <td valign="top">"Arkansas Traveler" <br> Lomax tracks down a tune called, "The Arkansas Traveler," and it rains and it pours and an old man snores. Songs in this episode include "Green Grass Grew All Around," "Ragtime Annie," "It's Raining, It's Pouring (The Old Man is Snoring)," "The Arkansas Traveler," and "Toodala." <br><br> <i>Educational objectives: teaching music through pitch exploration, echo songs, simple songs, beat motion activities, and song tales. </i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 109</td>
      <td valign="top">"Mary Mack" <br> Lomax tracks down a cool elephant named, Lil' P-Nutt, who is singing a song Amy remembers from childhood, called "Mary Mack." Songs in this episode include "Miss Mary Mack," "Mother Gooney Bird," "Pay Me My Money Down," "I Had a Rooster," and "Mary Mack" (hip-hop version). <br><br> <i>Educational objectives: teaching music through pitch exploration, echo songs, beat exploration, call and response songs, and movement for form and expression.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 110</td>
      <td valign="top">"Running Bear" <br> Amy's Grandma sings a song about a bear in tennis shoes and then sings and dances with a fiddle-playing bear in tennis shoes. Songs in this episode include "The Bear Went Over the Mountain," "The Other Day I Met a Bear," "My Father's Whiskers," and "Jim Along Josie." <br><br> <i>Educational objectives: teaching music through pitch exploration, song tales, and echo songs.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 111</td>
      <td valign="top">"Meow Meow" <br> Lomax, Delta and Amy sing with a turkey and a bear that comes over the mountain. Songs in this episode include "She'll be Coming 'Round the Mountain," "The Bear Went Over the Mountain," "Turkey in the Straw," "The Duet for Two Cats," and "Toodala." <br><br> <i>Educational objectives: teaching music through pitch exploration, simple songs, song tales, and beat motion songs.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 112</td>
      <td valign="top">"Crabfish" <br> Lomax, Delta and Amy dance with a horse, a mailman named Tom Chapin, sings a song called "Crabfish," and Delta is sorry she tried to eat a crab. Songs in this episode include "John the Rabbit," "The Crabfish Song," and "The Horse Stood Around." <br><br> <i>Educational objectives: teaching music through pitch exploration, song tales, and movement for form and expression.</i> <br><br></td>
     </tr>
     <tr>
      <td width="100px" valign="top">Episode 113</td>
      <td valign="top">"Long Legged Sailor" <br> Lomax, Delta and Amy are traveling to see "The Long Legged Sailor and his Long Legged Wife" world tour concert! Songs in this episode include "Long-Legged Sailor," "Polly Wolly Doodle," and "Big Sheep (Darby Ram)." <br><br> <i>Educational objectives: teaching music through pitch exploration, call and response songs, song tales and movement for form and expression.</i> <br><br></td>
     </tr>
    </tbody>
   </table> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

