{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about" onmouseover="MM_swapImage('btn_pt_about','','imgs/btn_pt_about_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities_over.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start-->
   <h1>Activities / Lesson Plans</h1>
   <h2 class="heading"><img src="imgs/pt/act_philosophy.gif" width="92" height="83" border="0" alt="Educational Philosophy"><br> Educational Philosophy</h2> <br>
   <h3>Lomax: The Hound of Music: Educational Philosophy</h3>
   <p>The award-winning creators of <i>Between the Lions</i> and renowned music educator John Feierabend, Ph.D., Director of Music Education at the Hartt School at the University of Hartford, have joined forces to create a highly interactive television series, called <i>Lomax: The Hound of Music</i> that provides scientifically-based music education to children aged three to seven.</p>
   <p><i>Interactive</i> is the key word. Children on the show and at home are encouraged to take an active part in every aspect of the show, joining in with their voices, bodies, and brains.</p>
   <p>The show is saturated with sound-with an emphasis on folk songs representing America's stunning diversity.</p>
   <h3>Developing Musical Intelligence</h3>
   <p>Using a research-based, highly successful curriculum developed by Dr. Feierabend, <i>Lomax: The Hound of Music</i> gives children (many of whom may have limited opportunities to explore music, in or out of school) a chance to develop musical intelligence at a time when they are neurologically primed for this kind of learning-pulling them into the experience with fun and fantasy.</p>
   <p>By musical intelligence, we mean the kinds of skills that help children become more <i>tuneful</i>, <i>beatful</i>, and <i>artful</i>. That is, they become better able to hold tunes in their heads and repeat them; better able to feel and sustain a beat; and more receptive to the ideas and feelings expressed in music.</p>
   <ul>
    <li class="margin"><i>Lomax: The Hound of Music</i> engages children in songs and rhythmic games that let them explore all of the core musical elements-pitch, rhythm, and timbre-with their voices, bodies, and minds.</li>
    <li class="margin">It poses interesting problems, challenging children not only to repeat song fragments and refrains, but also to "think" and improvise their own songs.</li>
    <li class="margin">It makes full use of folk music's wonderful tactile component-the clapping, snapping, stamping, and moving that reinforce and deepen children's musical experience.</li>
    <li class="margin">It introduces appealing puppets and props to bring alive the narrative and poetic devices, such as metaphor and alliteration, that are woven so richly into the fabric of traditional music.</li>
    <li class="margin">Finally, it helps children develop greater sensitivity to the expressiveness in music as they listen to classic American folk songs.</li>
   </ul>
   <p><i>Lomax: The Hound of Music</i> rests on a solid research base that demonstrates how these activities contribute not only to children's musical intelligence, but to their overall cognitive and emotional development as well.</p>
   <h3>A New Generation of Music Makers &amp; Sharers</h3>
   <p>As they watch and participate in the show, children hear songs from every corner of our diverse nation, performed by celebrities and non-celebrities, sometimes on location, as well as by the actors, kids, and puppets on the set. What's more, they learn to sing the songs themselves. They are transformed from passive listeners to makers and sharers of music.</p>
   <p>Sharing the music is a crucial part of <i>Lomax: The Hound of Music</i>. For so many children today, music is something produced by the radio or TV-an audible backdrop for life's "more important" activities. Lomax restores music to its traditional place in American families and communities, as a living, moving force that gives voice to feelings and ideas, expresses our nation's rich diversity, and pulls people together in good times and bad.</p> <br><br> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

