{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about" onmouseover="MM_swapImage('btn_pt_about','','imgs/btn_pt_about_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities_over.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start--> <br> <br> <br> <br> <br> <br>
   <h1>Activities / Lesson Plans</h1> <br> <br>
   <table width="500px" height="200px" align="center">
    <tbody>
     <tr>
      <td valign="top" align="center" width="50%"><a href="pt_activities_philosophy.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/act_philosophy.gif" width="92" height="83" border="0" alt="Educational Philosophy"><br> Educational<br>Philosophy</h2></a></td>
      <td valign="top" align="center" width="50%"><a href="pt_activities_curriculum.html" style="text-decoration: none;"><h2 class="heading"><img src="imgs/pt/act_curriculum.gif" width="89" height="83" border="0" alt="Curriculum"><br> Lomax:</h2> <h3 style="margin-top: 0px; margin-bottom: 0px;">The Hound of Music</h3><h2 style="margin-top: 0px;">Curriculum</h2></a></td>
     </tr>
    </tbody>
   </table> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

