{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about" onmouseover="MM_swapImage('btn_pt_about','','imgs/btn_pt_about_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources_over.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start--> <br><br>
   <div style="position: absolute;">
    <div style="position: relative; left: 350px; top: 50px;">
     <a href="#lyrics"><img src="imgs/pt/res_lyrics.gif" border="0" width="171" height="71" alt="Song Lyrics" name="btn_pt_lyrics" onmouseover="MM_swapImage('btn_pt_lyrics','','imgs/pt/res_lyrics_over.gif',1);" onmouseout="MM_swapImgRestore();"></a>
    </div>
   </div>
   <h2 class="heading"><img src="imgs/pt/resources.gif" width="108" height="76" border="0" alt="Additional Resources"><br> Resources</h2> <br> <img src="imgs/pt/res_lomax.jpg" width="273" height="191" alt="Alan Lomax" style="float: left; clear: none; margin-right: 10px; margin-top: 7px; margin-bottom: 5px; padding-top: 7px;">
   <p>Alan Lomax, the pioneering "tune tracker" for whom "Lomax, the Melody Hound" was named, was one of the world's great collectors of folklore and folk music from the United States, and also from the Caribbean, Ireland, England, Scotland, Italy, and Spain. He and his equally famous musicologist father, John Lomax, contributed over 10,000 field recordings to the Archive of Folk Song at the Library of Congress, and, more than any other musicologists, are responsible for preserving America's folk music heritage. Indeed, many of the songs featured on Lomax: The Hound of Music were discovered by Alan Lomax in the course of his travels across the American countryside. All of us involved in the production of Lomax are honored to be associated with Alan Lomax's work, and are grateful to Alan's daughter, Anna Lomax Wood, for making this possible.</p>
   <p>To learn more about Alan Lomax's extraordinary career, the songs he collected, and the Association for Cultural Equity - the foundation Lomax founded to "facilitate the right of every culture to express and develop its distinctive heritage" -- click on the links below:</p>
   <p><a href="http://www.culturalequity.org/alanlomax/index.html">http://www.culturalequity.org/alanlomax/index.html</a></p>
   <p><a href="http://www.loc.gov/folklife/lomax/">http://www.loc.gov/folklife/lomax/</a></p>
   <p><a href="http://www.culturalequity.org/ace/index.html">http://www.culturalequity.org/ace/index.html</a></p>
   <p>[Photo credit: Photograph by Shirley Collins. Used by Permission of the Association of Cultural Equity.]</p> <br><br> <img src="imgs/pt/res_feierabend.jpg" width="163" height="217" alt="John M. Feierabend, Ph.D." style="float: left; clear: none; margin-right: 10px; margin-top: 7px; margin-bottom: 5px; padding-top: 7px;">
   <p>John M. Feierabend, Ph.D., is the nationally acclaimed music educator whose "First Steps in Music" curriculum inspired our television series. He is a Professor of Music and the Director of the Music Education Division at The Hartt School of the University of Hartford and is a past President of the Organization of American Kodály Educators. Dr. Feierabend makes frequent presentations both in the United States and abroad and is the author of over 60 books, articles, CDs, DVDs and videotapes.</p>
   <p>A music educator for over thirty years, he continues to be committed to collecting, preserving and teaching the diverse folk music of our country and using that folk music as a bridge to help children develop their musical abilities and sensitivities. You can read about John and his work by clicking on the following links:</p>
   <p><a href="http://www.giamusic.com/bios/feierabend_john.cfm">http://www.giamusic.com/bios/feierabend_john.cfm</a></p>
   <p><a href="http://www.giamusic.com/music_education/feier_harttschool.cfm">http://www.giamusic.com/music_education/feier_harttschool.cfm</a></p>
   <p><a href="http://www.giamusic.com/music_education/feier_musicandintelligence.cfm">http://www.giamusic.com/music_education/feier_musicandintelligence.cfm</a></p>
   <p>[Photo credit: Photograph used by Permission of John M. Feierabend, Ph.D., and GIA Publications.]</p> <br><br> <img src="imgs/pt/res_niehs.gif" width="177" height="74" alt="NIEHS">
   <p>NIEHS Kids' Pages. You wouldn't automatically suspect that a Web site run by the National Institute of Environmental Health Sciences would be a fabulous place to find the lyrics - and MIDI versions of the tunes - for scores of notable children's sing-along songs. But it is, and everything you'll find there - from the "ABC Song" to "Zip-a-dee-do-dah" - is available to users without charge. Check it out by clicking on the link below (but be careful to observe copyright laws!):</p>
   <p><a href="http://kids.niehs.nih.gov/musicchild.htm">http://kids.niehs.nih.gov/musicchild.htm</a></p> <br><br> <img src="imgs/pt/res_menc.gif" width="177" height="74" alt="MENC: The National Association for Music Education">
   <p>MENC: The National Association for Music Education, formerly called the Music Educators National Conference, is the world's largest arts education organization. (Although the association adopted its new name in 1998, it is still known by its original acronym, MENC.) MENC's mission is "to advance music education by encouraging the study and making of music by all." MENC has more than 142,000 members and supporters, including active and retired music teachers, college students studying to become teachers, high school music honor society members, suppliers of music education products and services, and community supporters of school music programs.</p>
   <p>MENC offers a multitude of resources for music teachers, for parents, and for those who wish to advocate for more robust music and arts education programs in their communities. Here are some links you may find useful:</p>
   <p>First, here's a link to resources of general interest to teachers:</p>
   <p><a href="http://www.menc.org/s/general_music/">http://www.menc.org/s/general_music/</a></p>
   <p>Next, you can find resources created especially for parents by clicking here:</p>
   <p><a href="http://www.menc.org/s/parents_press_others/">http://www.menc.org/s/parents_press_others/</a></p>
   <p>Third, here's a link to the preschool and kindergarten music education standards that MENC has developed under a grant from the U.S. Department of Education, the National Endowment for the Humanities, and the National Endowment for the Arts:</p>
   <p><a href="http://www.menc.org/resources/view/the-school-music-program-a-new-vision">http://www.menc.org/resources/view/the-school-music-program-a-new-vision</a></p>
   <p>And finally, music teachers can access a multitude of free lesson plans created by music professionals and other teachers by becoming a member of MENC. (They can share their own plans and ideas, too.) For information on how to join, click here:</p>
   <p><a href="http://www.menc.org/about/view/menc-membership-applications">http://www.menc.org/about/view/menc-membership-applications</a></p> <br><br> <a name="lyrics"></a>
   <h3>Song Lyrics</h3>
   <p><a href="print/the_old_oaken_bucket.pdf" target="_blank">The Old Oaken Bucket</a></p>
   <p><a href="print/toodala.pdf" target="_blank">Toodala</a></p>
   <p><a href="print/kitty_in_the_straw.pdf" target="_blank">Kitty in the Straw</a><br> (To the tune of "Turkey in the Straw")</p>
   <p><a href="print/mother_goonie_bird.pdf" target="_blank">Mother Goonie Bird</a> (The Goonie Bird Song)</p>
   <p><a href="print/michael_row_the_boat_ashore.pdf" target="_blank">Michael, Row the Boat Ashore</a></p>
   <p><a href="print/the_old_hen_cackled.pdf" target="_blank">The Old Hen Cackled</a></p>
   <p><a href="print/the_horse_stood_around.pdf" target="_blank">The Horse Stood Around</a></p>
   <p><a href="print/all_the_pretty_little_horses.pdf" target="_blank">All the Pretty Little Horses</a></p>
   <p><a href="print/buffalo_gals.pdf" target="_blank">Buffalo Gals</a></p>
   <p><a href="print/bill_grogans_goat.pdf" target="_blank">Bill Grogan's Goat</a></p>
   <p><a href="print/whoa_mule.pdf" target="_blank">Whoa Mule!</a> (Can't Get the Saddle On!)</p>
   <p><a href="print/theres_a_hole_inthebucket_1.pdf" target="_blank">There's a Hole in the Bucket</a> | <a href="print/theres_a_hole_inthebucket_2.pdf" target="_blank">Page 2</a></p>
   <p><a href="print/there_aint_no_bugs_on_me_2.pdf" target="_blank">There Ain't No Bugs on Me!</a></p>
   <p><a href="print/the_cat_came_back.pdf" target="_blank">The Cat Came Back</a></p> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

