{% extends 'lomax/includes/lomaxPtPage.html.twig' %}
{% set pageTitle = 'Parents and Teachers | ' %}


{% block mainContent %}<div id="content_outer">
 <div id="content">
  <div id="pt_menu">
   <div class="pt_menu_btn">
    <a href="pt_about.html"><img src="imgs/btn_pt_about.gif" border="0" width="114" height="39" alt="About the Program" name="btn_pt_about" onmouseover="MM_swapImage('btn_pt_about','','imgs/btn_pt_about_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_tvsched.html"><img src="imgs/btn_pt_tvsched.gif" border="0" width="114" height="39" alt="TV Schedule" name="btn_pt_tvsched" onmouseover="MM_swapImage('btn_pt_tvsched','','imgs/btn_pt_tvsched_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_activities.html"><img src="imgs/btn_pt_activities.gif" border="0" width="114" height="39" alt="Activities / Lesson Plans" name="btn_pt_activities" onmouseover="MM_swapImage('btn_pt_activities','','imgs/btn_pt_activities_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_resources.html"><img src="imgs/btn_pt_resources.gif" border="0" width="114" height="39" alt="Resources" name="btn_pt_resources" onmouseover="MM_swapImage('btn_pt_resources','','imgs/btn_pt_resources_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_site.html"><img src="imgs/btn_pt_site_over.gif" border="0" width="114" height="39" alt="About the Site" name="btn_pt_site" onmouseover="MM_swapImage('btn_pt_site','','imgs/btn_pt_site_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
   <div class="pt_menu_btn">
    <a href="pt_contact.html"><img src="imgs/btn_pt_contact.gif" border="0" width="114" height="39" alt="Contact Us" name="btn_pt_contact" onmouseover="MM_swapImage('btn_pt_contact','','imgs/btn_pt_contact_over.gif',1);" onmouseout="MM_swapImgRestore();"></a><br>
   </div>
  </div>
  <div id="content_inner">
   <div id="spacer"></div> <!--content start--> <br>
   <h2 class="heading"><img src="imgs/pt/site_map.gif" width="95" height="86" border="0" alt="Site Map"><br> Site Map</h2> <br><br><br>
   <table width="500px%" align="center">
    <tbody>
     <tr>
      <td width="50%" valign="top"><h3><a href="index.html">Lomax The Hound of Music</a></h3>
       <ul>
        <li><a href="character.html">Lomax &amp; Friends</a>
         <ul>
          <li><a href="character_lomax.html">Lomax</a></li>
          <li><a href="character_amy.html">Amy</a></li>
          <li><a href="character_delta.html">Delta</a></li>
          <li><a href="character_fred.html">Fred</a></li>
          <li><a href="character_louiseandclark.html">Louise &amp; Clark</a></li>
         </ul></li>
        <li><a href="games.html">Games </a>
         <ul>
          <a href="games.html"> </a>
          <li><a href="games.html"></a><a href="games_slideseek.html">Slide &amp; Seek</a></li>
          <li><a href="games_melodymatch.html">Melody Match</a></li>
         </ul></li>
        <li><a href="music.html">Music </a>
         <ul>
          <a href="music.html"> </a>
          <li><a href="music.html"></a><a href="music_melodyhoundexpress.html">Melody Hound Express</a></li>
          <li><a href="music_alabamabound.html">Alabama Bound</a></li>
          <li><a href="music_prettylittlehorses.html">All the Pretty Little Horses</a></li>
          <li><a href="music_bigsheep.html">The Big Sheep</a></li>
          <li><a href="music_billgrogansgoat.html">Bill Grogan's Goat</a></li>
          <li><a href="music_buffalogals.html">Buffalo Gals</a></li>
          <li><a href="music_catcameback.html">The Cat Came Back</a></li>
          <li><a href="music_downbythebay.html">Down By the Bay</a></li>
          <li><a href="music_duetfortwocats.html">Duet for Two Cats</a></li>
          <li><a href="music_kittyinthestraw.html">Kitty in the Straw</a></li>
          <li><a href="music_gooneybird.html">Mother Gooney Bird</a></li>
          <li><a href="music_oldbellcow.html">The Old Bell Cow</a></li>
          <li><a href="music_ragtimeannie.html">Ragtime Annie</a></li>
          <li><a href="music_skiptomylou.html">Skip to my Lou</a></li>
          <li><a href="music_aintnobugs.html">There Ain't no Bugs on Me</a></li>
         </ul></li>
        <li><a href="video.html">Videos </a>
         <ul>
          <a href="video.html"> </a>
          <li><a href="video.html"></a><a href="video_openingtheme.html">Opening Theme</a></li>
          <li><a href="video_aintnobugs.html">Ain't No Bugs</a></li>
          <li><a href="video_alohaoe.html">Aloha `Oe</a></li>
          <li><a href="video_billgrogansgoat.html">Bill Grogan's Goat</a></li>
          <li><a href="video_buffalogals.html">Buffalo Gals</a></li>
          <li><a href="video_catcameback.html">Cat Came Back</a></li>
          <li><a href="video_gooneybird.html">Gooney Bird</a></li>
          <li><a href="video_horsestoodaround.html">Horse Stood Around</a></li>
          <li><a href="video_kittyinthestraw.html">Kitty in the Straw</a></li>
          <li><a href="video_oldbellcow.html">Old Bell Cow</a></li>
          <li><a href="video_oldhencackled.html">Old Hen Cackled</a></li>
          <li><a href="video_skiptomylou.html">Skip to my Lou</a></li>
          <li><a href="video_oakenbucket.html">The Old Oaken Bucket</a></li>
          <li><a href="video_toodala.html">Toodala</a></li>
          <li><a href="video_whoamule.html">Whoa Mule</a></li>
         </ul></li>
       </ul></td>
      <td width="50%" valign="top"><h3><a href="parents_teachers.html">Parents and Teachers</a></h3>
       <ul>
        <li><a href="pt_about.html">About The Program </a>
         <ul>
          <a href="pt_about.html"> </a>
          <li><a href="pt_about.html"></a><a href="pt_about_lomax.html">About Lomax The Hound of Music</a></li>
          <li><a href="pt_about_characters.html">Characters</a></li>
          <li><a href="pt_about_faq.html">FAQ</a></li>
          <li><a href="pt_about_eps.html">Episode Descriptions</a></li>
          <li><a href="pt_about_slideshow.html">Slideshow</a></li>
          <li><a href="pt_about_behindscenes.html">Behind the Scenes</a></li>
         </ul></li>
        <li><a href="pt_tvsched.html">TV Schedule</a></li>
        <li><a href="pt_activities.html">Activities / Lesson Plans </a>
         <ul>
          <a href="pt_activities.html"> </a>
          <li><a href="pt_activities.html"></a><a href="pt_activities_philosophy.html">Educational Philosophy</a></li>
          <li><a href="pt_activities_curriculum.html">Lomax The Hound of Music Curriculum</a></li>
         </ul></li>
        <li><a href="pt_resources.html">Resources </a>
         <ul>
          <a href="pt_resources.html"> </a>
          <li><a href="pt_resources.html"></a><a href="pt_resources.html">Resources</a></li>
          <li><a href="pt_resources.html#lyrics">Song Lyrics</a></li>
         </ul></li>
        <li><a href="pt_site.html">About the Site </a>
         <ul>
          <a href="pt_site.html"> </a>
          <li><a href="pt_site.html"></a><a href="pt_site_kids.html">Guide To Activities for Kids</a></li>
          <li><a href="pt_site_map.html">Site Map</a></li>
         </ul></li>
        <li><a href="pt_contact.html">Contact Us</a></li>
       </ul></td>
     </tr>
    </tbody>
   </table> <!--content end-->
  </div>
 </div>
</div>{% endblock %}

