.idea/
.code/
.vscode/
.metadata/
.git_dev/
.git_public/
.git_test/
tmp/
updater_tmp/
dev_notes/
cache/
utilities/XAMPP/tmp/
# utilities/XAMPP/mysql/data/
utilities/XAMPP/mysql/data_default/
utilities/XAMPP/mysql/data_own/
utilities/XAMPP/apache/logs/
# utilities/BasiliskPortable/
utilities/BasiliskPortable_default/
utilities/BasiliskPortable_own/
utilities/BasiliskPortable_default_default/
utilities/XAMPP/phpMyAdmin/tmp/
PBSK15.lock
PBSK15_updater.lock
htdocs/