{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Peanut Allergy Info . Arthur' %}
{% set specialInclude = '<style type="text/css">	.cntr li { margin-bottom: 12px; }	.cntr ul { padding-bottom: 20px; }	sup { font-size: 0.4375em; }	</style>' %}
{% set bodyClass = 'purple' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><h2><a href="../allergy/index.html" class="long">Peanut Allergy</a></h2></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Peanut Allergy</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Background Information</h4>
  <hr>
  <div class="group" style="margin-top:30px;"><img class="col5" src="../img/allergy_bginfo_1.png" alt="The doctor gives Binky a peanut allergy leaflet.">
   <div class="col7">
    <div class="banner">
     <p>All kinds of allergies in children — from food allergies to asthma to eczema — have increased in recent years. No one knows exactly why. Peanut allergies have tripled since 1997. There is presently no cure for peanut allergies.</p>
    </div>
   </div>
  </div>
  <div class="col7 cntr">
   <p class="dark">What is a food allergy?</p>
   <p>You have a food allergy if your immune system reacts to a specific food when you eat it or come into contact with it. Symptoms can include:</p>
   <ul>
    <li>hives</li>
    <li>itchiness</li>
    <li>rash</li>
    <li>swollen throat</li>
    <li>wheezing</li>
    <li>nausea</li>
   </ul>
   <p>A <i>very severe</i> allergic reaction is called anaphylaxis. You may have difficulty breathing, swelling of the tongue and throat, abdominal pain, vomiting, a change in the level of alertness, or loss of consciousness. <em>Anyone with these symptoms should be given the emergency medicine epinephrine (usually given by an auto-injector such as an EpiPen<sup>®</sup>, Auvi-Q<sup>®</sup> or Adrenaclick<sup>®</sup>) and be seen immediately by a doctor, nurse, or EMT, and then sent to the nearest hospital.</em></p>
   <hr>
   <p class="dark">How are food allergies managed?</p>
   <p>Food allergies are managed by completely avoiding that food and being prepared to treat allergic reactions in the event of an accidental exposure. Sometimes mild, localized itching and rashes can be treated with antihistamines. More widespread and severe symptoms should be treated with the epinephrine auto-injectors. Children do sometimes outgrow food allergies, so it's worth repeating allergy tests every few years, especially when they are young.</p>
   <hr>
   <p class="dark">What's so serious about peanut allergies?</p>
   <p>People who have a peanut allergy may potentially experience life-threatening reactions to eating even tiny amounts of peanuts. Since many foods — such as chili, hot cocoa, crackers, soups, cookies, and chocolates — can contain small amounts of peanut butter or peanut flour, you need to read the ingredient labels of all foods that you buy and allow your child to eat. The same goes for foods fried in peanut oil, such as French fries. Even foods with labels stating "manufactured in a facility that process peanut products" or "may contain traces of peanuts" need to be avoided as well. Make sure to read all ingredient labels <i>carefully</i>. The organization <a href="http:www.foodallergy.org/document.doc?id=133">Food Allergy Research &amp; Education (FARE)</a> has great information on how to read food labels.</p>
   <hr>
   <p class="dark">Wait a minute! Peanuts aren't nuts!</p>
   <p>The term "nut" includes both peanut and tree nuts. Peanuts are technically "legumes" (vegetables like lentils, beans, and peas), while tree nuts — such as walnuts, pecans, almonds, hazelnuts, and cashews — are seeds of fruits that grow from trees. Approximately 35% of peanut allergic people are also allergic to tree nuts. Less than 5-10% of peanut allergic people are allergic to other legumes. If your child has a peanut allergy and has never eaten tree nuts, your doctor can do additional tests to determine whether or not your child is also allergic to tree nuts. If your child is already eating tree nuts there is no need to worry about tree nut allergies; just avoid peanuts and continue eating tree nuts.</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}