{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Peanut Allergy Resources . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'purple' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><h2><a href="../allergy/index.html" class="long">Peanut Allergy</a></h2></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Peanut Allergy</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Resources</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/shared_resources.png" alt="D.W. pulls a red wheelbarrow full of books">
   <div class="col7">
    <div class="banner">
     <p>There are lots of great organizations, websites, and books that can help you and your family learn about and cope with peanut allergies. Here are some to get you started.</p>
    </div>
   </div>
  </div>
  <ul class="menu-topics">
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Websites
    </div>
    <ul>
     <li><a href="http:www.aaaai.org">American Academy of Allergy, Asthma &amp; Immunology</a></li>
     <li><a href="http:www.acaai.org/allergist/allergies/children-allergies/Pages/child-food-allergies.aspx">American College of Allergy, Asthma &amp; Immunology</a></li>
     <li><a href="http:www.cdc.gov/healthyyouth/foodallergies/publications.htm">Centers for Disease Control and Prevention</a></li>
     <li><a href="http:www.foodallergy.org/">Food Allergy Research &amp; Education (FARE)</a></li>
     <li><a href="http:www.foodallergy.org/resources/kids">FARE Kids' site</a></li>
     <li><a href="http:www.healthychildren.org/">HealthyChildren.org (American Academy of Pediatrics)</a></li>
     <li><a href="http:www.nasn.org/ToolsResources/FoodAllergyandAnaphylaxis">National Association of School Nurses</a></li>
     <li><a href="http:www.niaid.nih.gov/topics/foodAllergy/clinical/Pages/patients.aspx">National Institute of Allergy and Infectious Diseases</a></li>
    </ul></li>
   <li class="topic middle">
    <div>
     <div class="caret-menu"></div>Books
    </div>
    <ul>
     <li><cite>Allie the Allergic Elephant: A Children's Story of Peanut Allergies</cite> by Nicole Smith</li>
     <li><cite>I Think I am Going to Sneeze: A First Look at Allergies</cite> by Pat Thomas</li>
     <li><cite>The Peanut Butter Jam</cite> by Elizabeth Sussman Nassau</li>
     <li><cite>The Peanut-Free Café</cite> by Gloria Koster</li>
     <li><cite>The Peanut Pickle: A Story about Peanut Allergy</cite> by Jessica Jacobs</li>
     <li><cite>The Princess and the Peanut Allergy</cite> by Wendy McClure</li>
     <li><cite>Taking Food Allergies to School</cite> by Ellen Weiner</li>
     <li><cite>Allergy Proof Recipes for Kids</cite> by Leslie Hammond</li>
     <li><cite>Food Allergies: A Complete Guide to Eating When Your Life Depends on It</cite> by Scott Sicherer, M.D.</li>
     <li><cite>How to Manage Your Child's Life-Threatening Food Allergies</cite> by Linda Marienhoff Cross</li>
     <li><cite>The Peanut Allergy Answer Book</cite> by Michael C. Young</li>
     <li><cite>The Ultimate Allergy-Free Snack Cookbook</cite> by Judi Zucker</li>
     <li><cite>Yummy Yum for Everyone: a Children's Allergy Cookbook</cite> by Denise McCabe</li>
    </ul></li>
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Apps
    </div>
    <ul>
     <li><a href="https:itunes.apple.com/us/genre/ios-medical/id6020?mt=8">Apple iTunes</a></li>
     <li><a href="https:play.google.com/store/apps/category/MEDICAL">Google Play</a></li>
    </ul></li>
  </ul>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}