{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Peanut Allergy Tips . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'purple' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><h2><a href="../allergy/index.html" class="long">Peanut Allergy</a></h2></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Peanut Allergy</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-grwn group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for <span class="nobr">Grown-ups</span></h4>
  <hr> <a href="tips4.html" class="btn-std flt-r">Next</a>
  <div class="pgnum">
   <span>3 of 5</span>
  </div>
  <div class="group"><img class="col5" src="../img/allergy_tipgrwn_3.png" alt="Arthur, Brain and Muffy stand together.">
   <div class="col7">
    <h5>Prepare for school and camp.</h5>
    <p>Allow your child to have a great time and be peanut-free among friends.</p>
   </div>
  </div>
  <div class="col7 cntr">
   <ul>
    <li>Talk with your child's teacher, the school principal, and the school nurse to be sure they are aware of your child's allergy. Submit your IHP or EAP written plans to the school or camp nurse. Give them any medications your child would need in case of an allergic reaction or emergency, such as antihistamines, asthma inhalers, and epinephrine auto-injectors. Check your school or camp policy on "nut-free" zones and other related rules.</li>
    <li>Bring non-food items and prizes for parties.</li>
    <li>Watch out for possible bullying or teasing by other kids, especially if your child has to sit at a separate lunch table. If your child experiences bullying, report it to the school administration.</li>
    <li>If your child has a friend who has peanut allergies, pack a snack or lunch without peanut products so they can eat together.</li>
   </ul>
  </div> <a href="tips4.html" class="btn-std flt-r">Next</a>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}