{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Peanut Allergy Tips . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'purple' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><h2><a href="../allergy/index.html" class="long">Peanut Allergy</a></h2></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Peanut Allergy</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-grwn group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for <span class="nobr">Grown-ups</span></h4>
  <hr> <a href="tips3.html" class="btn-std flt-r">Next</a>
  <div class="pgnum">
   <span>2 of 5</span>
  </div>
  <div class="group"><img class="col5" src="../img/allergy_tipgrwn_2.png" alt="D.W. and the Tibble Twins play in the sandbox.">
   <div class="col7">
    <h5>Know what to do at home and at a friend's house.</h5>
    <p>Precautions should be taken to prevent exposure to peanuts in your home and when your child visits friends.</p>
   </div>
  </div>
  <div class="col7 cntr">
   <ul>
    <li>Be sure that no food containing peanuts or any peanut product is served.</li>
    <li>Remember that food can be easily contaminated. For instance, if a knife that has been used to spread peanut butter is then dipped in a jar of jelly, that jelly is no longer safe.</li>
    <li>If peanut butter or peanuts have been eaten recently, clean tabletops and counters with soap and water.</li>
    <li>If there are young children who may have wandered around the house with peanut butter on their hands, clean their toys and other surfaces they may have touched.</li>
    <li>Don't share cups, water bottles, or toothbrushes.</li>
   </ul>
  </div> <a href="tips3.html" class="btn-std flt-r">Next</a>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}