{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Peanut Allergy Tips for Kids . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'purple' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><h2><a href="../allergy/index.html" class="long">Peanut Allergy</a></h2></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Peanut Allergy</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-kids group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for Kids</h4>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>1</span>
   </div> <img class="col5" src="../img/allergy_tipkid_1.png" alt="'No peanuts' sign.">
   <div class="col7">
    <p>Don't eat foods with peanuts around your friends with peanut allergies.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>2</span>
   </div> <img class="col5" src="../img/allergy_tipkid_2.png" alt="'No cupcakes' sign.">
   <div class="col7">
    <p>Don't share food.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>3</span>
   </div> <img class="col5" src="../img/allergy_tipkid_3.png" alt="'Wash hands' sign.">
   <div class="col7">
    <p>Wash your hands after you eat.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>4</span>
   </div> <img class="col5" src="../img/allergy_tipkid_4.png" alt="Friends holding hands sign.">
   <div class="col7">
    <p>Food allergies are serious. Say "no" to teasing and tricks.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>5</span>
   </div> <img class="col5" src="../img/allergy_tipkid_5.png" alt="'Help' speech bubble sign.">
   <div class="col7">
    <p>If your friend has an allergic reaction, tell a grown-up quickly.</p>
   </div>
  </div>
  <div class="banner btn-r brief"><a href="../pdf/arthur_peanut_be_pal.pdf" class="print-btn" style="width:10em;">
    <div class="print-icon"></div>Print Booklet</a>
   <p>If you have peanut allergies, give this booklet to your friends so they can help you out!</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="travel-translations.html">Travel Translations</a></li>
        <li><a href="coloring-sheet.html">Coloring Sheet</a></li>
        <li><a href="peanut-placemat.html">Binky's Placemat</a></li>
        <li><a href="quiz.html">Peanut Allergy Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Binky Goes Nuts</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="kellie-kristen.html">Kellie and Kristen</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}