{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . The Tibble Twins\' Games & Printables Page | PBS Kids' %}
{% set desc = 'Play awesome games with the tibbles and print out more games and activities to continue the fun!' %}
{% set keywds = 'Tibble Twins, ARTHUR, games, print, play, activitites' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-cf9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/tibbles_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/tibbles_top.swf", "tibbles", "960", "363", "9", "#ccff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "games");			   fo.addVariable("char", "tibbles");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-tibbles">The Tibble Twins' images</a>
  <div id="friendsContent">
   <h1>My Games &amp; Printables</h1>
   <hr class="friendsRuler">
   <ul id="myGames">
    <li id="friendsSuper" class="icon"><a href="../../games/superactionchallenge/index.html"><span>Super Action Challenge</span></a></li>
    <li id="friendsFetch" class="icon"><a href="../../print/fetch/index.html"><span>Go Fetch!</span></a></li>
    <li id="friendsColoring" class="icon"><a href="../../print/coloringpages/coloring.html#pg-tibbles1"><span>Coloring Pages</span></a></li>
    <li id="friendsTrading" class="icon"><a href="../../print/tradingcards/cards.html#pg-tibbles1"><span>Trading Cards</span></a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/comiccreator/index.html" id="rcComic">Comic Creator</a></li>
   <li><a href="/arthur/games/lungdefender/index.html" id="rcLung">Buster Baxter: Lung Defender</a></li>
   <li><a href="/arthur/print/towerofcow/index.html" id="rcCows">Tower of Cows</a></li>
  </ul>
 </div>
</div>{% endblock %}

