{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . The Tibble Twins\' Photos Page | PBS Kids' %}
{% set desc = 'The Twins are inseparable, as seen in thes photos of them eating and fighting. But what about in award winning?' %}
{% set keywds = 'Tibble Twins, ARTHUR, pictures, photographs, brothers' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}
{% set friendsJs = true %}


{% block mainContent %}<div id="content" class="bg-cf9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/tibbles_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/tibbles_top.swf", "tibbles", "960", "363", "9", "#ccff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "photos");			   fo.addVariable("char", "tibbles");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-tibbles">The Tibble Twins' images</a>
  <div id="friendsContent">
   <h1>My Photos</h1>
   <hr class="friendsRuler">
   <div id="photoWrapper">
    <div id="bigImgWrapper"><img src="../../i/friends/photos/tibbles1.jpg" width="354" height="250" alt="Tommy and Timmy Tibble eating huge turkey drumsticks." border="0" id="mainImg"> <a href="" class="next"></a> <a href="" class="prev"></a>
    </div> <img src="../../i/friends/photos/avatar_big_tibbles.gif" width="85" height="83" alt="The Tibble Twins Avatar" border="0" id="avatar">
    <h3>Big food tastes better!</h3>
   </div>
   <div id="cmtArea"><!--  Displayed image and comment -->
    <h2>MY FRIENDS SAY</h2>
    <div id="cmtTxtWrapper">
     <div class="comment">
      <div class="pal-cmt"><a href="/arthur/friends/pal/index.html">PAL</a>
       <p>Ruff... ruff... rrrrr. (Must... have... a bite!)</p>
      </div>
      <div class="pal-cmtbtm"></div>
     </div>
    </div>
   </div> <!--  List of all images and comments to rotate -->
   <ul id="cmtlist">
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/tibbles1.jpg" width="354" height="250" alt="Tommy and Timmy Tibble eating huge turkey drumsticks." border="0" id="mainImg">
       <h3>Big food tastes better!</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="pal-cmt"><a href="/arthur/friends/pal/index.html">PAL</a>
          <p>Ruff... ruff... rrrrr. (Must... have... a bite!)</p>
         </div>
         <div class="pal-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/tibbles2.jpg" width="354" height="250" alt="One of the Tibble twins behaving well out in public." border="0" id="mainImg">
       <h3>How did I get so clean?</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="dw-cmt"><a href="/arthur/friends/dw/index.html">D.W.</a>
          <p>That CANNOT be a Tibble. Who is that really?</p>
         </div>
         <div class="dw-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/tibbles3.jpg" width="354" height="250" alt="Tommy and Timmy wrestling on the lawn." border="0" id="mainImg">
       <h3>No, YOU started it!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/comiccreator/index.html" id="rcComic">Comic Creator</a></li>
   <li><a href="/arthur/games/superactionchallenge/index.html" id="rcSuperAction">Super Action Challenge</a></li>
   <li><a href="/arthur/print/highfive/index.html" id="rcHighFive">High Five</a></li>
  </ul>
 </div>
</div>{% endblock %}

