{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Printables & Activities . Activities' %}
{% set keywds = '' %}
{% set desc = '' %}

{% block specialScripts %}<script type="text/javascript">function newImage(arg) {	if (document.images) {		rslt = new Image();		rslt.src = arg;		return rslt;	}}function changeImages() {	if (document.images && (preloadFlag == true)) {		for (var i=0; i<changeImages.arguments.length; i+=2) {			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];		}	}}var preloadFlag = false;function preloadImages() {	if (document.images) {		Bt_Dress_Caillou_over = newImage("images/Bt_Dress-Caillou-over.gif");		BT_Paint_Activity_over = newImage("images/BT_Paint-Activity-over.gif");		Bt__Find_Gilbert_over = newImage("images/Bt_-Find-Gilbert-over.gif");		B_Matching_Game_over = newImage("images/B_Matching-Game-over.gif");		Bt_Puzzle_Game_over = newImage("images/Bt_Puzzle-Game-over.gif");		Bt_Follow_thew_Stars_over = newImage("images/Bt_Follow-thew-Stars-over.gif");		Bt_Spell_with_Caillou_over = newImage("images/Bt_Spell-with-Caillou-over.gif");		Bt_Magic_Keyboard_over = newImage("images/Bt_Magic-Keyboard-over.gif");		Bt_Memory_Game_over = newImage("images/Bt_Memory-Game-over.gif");		Bt_Retour_over = newImage("images/Bt_Retour-over.gif");		preloadFlag = true;	}} </script>
{% endblock %}

{% set bodyTag = '<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="preloadImages();">' %}

{% block mainContent %}<div align="center">
 <table width="756" border="0" cellspacing="0" cellpadding="0">
  <tbody>
   <tr>
    <td width="50">&nbsp;</td>
    <td width="150" align="left"><a href="http://pbskids.org/"><img name="PBS KIDS" src="/caillou/images/PBSLogo.gif" width="42" height="54" border="0" alt="PBS KIDS" title="PBS KIDS"></a></td>
    <td width="300" align="left"><a href="/caillou/index.html" onmouseover="changeImages('entete', '/caillou/images/entete-over.gif'); return true;" onmouseout="changeImages('entete', '/caillou/images/entete.gif'); return true;" onmousedown="changeImages('entete', '/caillou/images/entete-over.gif'); return true;" onmouseup="changeImages('entete', '/caillou/images/entete-over.gif'); return true;"><img name="entete" src="/caillou/images/entete.gif" width="184" height="96" border="0" alt="Caillou Homepage" title="Caillou Homepage"></a></td>
   </tr>
  </tbody>
 </table>
 <table id="Table_01" width="756" height="547" border="0" cellpadding="0" cellspacing="0">
  <tbody>
   <tr>
    <td colspan="16"><img src="images/Background_Activities.jpg" width="755" height="125" alt="Activities"></td>
    <td><img src="images/spacer.gif" width="1" height="125" alt=""></td>
   </tr>
   <tr>
    <td colspan="5" rowspan="3"><img src="images/Background_Activities-03.jpg" width="289" height="103"></td>
    <td colspan="3" rowspan="4"><a href="../games/dresscaillou.html" onmouseover="changeImages('Bt_Dress_Caillou', 'images/Bt_Dress-Caillou-over.gif'); return true;" onmouseout="changeImages('Bt_Dress_Caillou', 'images/Bt_Dress-Caillou.gif'); return true;" onmousedown="changeImages('Bt_Dress_Caillou', 'images/Bt_Dress-Caillou-over.gif'); return true;" onmouseup="changeImages('Bt_Dress_Caillou', 'images/Bt_Dress-Caillou-over.gif'); return true;"> <img name="Bt_Dress_Caillou" src="images/Bt_Dress-Caillou.gif" width="124" height="127" border="0" alt="Dress Caillou"></a></td>
    <td colspan="8"><img src="images/Background_Activities-06.jpg" width="342" height="75" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="75" alt=""></td>
   </tr>
   <tr>
    <td colspan="4"><img src="images/Background_Activities-07.jpg" width="162" height="13" alt=""></td>
    <td colspan="3" rowspan="4"><a href="paint.html" onmouseover="changeImages('BT_Paint_Activity', 'images/BT_Paint-Activity-over.gif'); return true;" onmouseout="changeImages('BT_Paint_Activity', 'images/BT_Paint-Activity.gif'); return true;" onmousedown="changeImages('BT_Paint_Activity', 'images/BT_Paint-Activity-over.gif'); return true;" onmouseup="changeImages('BT_Paint_Activity', 'images/BT_Paint-Activity-over.gif'); return true;"> <img name="BT_Paint_Activity" src="images/BT_Paint-Activity.gif" width="127" height="123" border="0" alt="Paint Activity"></a></td>
    <td rowspan="16"><img src="images/Background_Activities-10.jpg" width="53" height="346"></td>
    <td><img src="images/spacer.gif" width="1" height="13" alt=""></td>
   </tr>
   <tr>
    <td colspan="2" rowspan="2"><img src="images/Background_Activities-11.jpg" width="38" height="39" alt=""></td>
    <td rowspan="5"><a href="../games/searching.html" onmouseover="changeImages('Bt__Find_Gilbert', 'images/Bt_-Find-Gilbert-over.gif'); return true;" onmouseout="changeImages('Bt__Find_Gilbert', 'images/Bt_-Find-Gilbert.gif'); return true;" onmousedown="changeImages('Bt__Find_Gilbert', 'images/Bt_-Find-Gilbert-over.gif'); return true;" onmouseup="changeImages('Bt__Find_Gilbert', 'images/Bt_-Find-Gilbert-over.gif'); return true;"> <img name="Bt__Find_Gilbert" src="images/Bt_-Find-Gilbert.gif" width="123" height="127" border="0" alt="Find Gilbert"></a></td>
    <td rowspan="5"><img src="images/Background_Activities-14.jpg" width="1" height="127" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="15" alt=""></td>
   </tr>
   <tr>
    <td rowspan="14"><img src="images/Background_Activities-15.jpg" width="142" height="318"></td>
    <td colspan="2" rowspan="5"><a href="../games/matching.html" onmouseover="changeImages('B_Matching_Game', 'images/B_Matching-Game-over.gif'); return true;" onmouseout="changeImages('B_Matching_Game', 'images/B_Matching-Game.gif'); return true;" onmousedown="changeImages('B_Matching_Game', 'images/B_Matching-Game-over.gif'); return true;" onmouseup="changeImages('B_Matching_Game', 'images/B_Matching-Game-over.gif'); return true;"> <img name="B_Matching_Game" src="images/B_Matching-Game.gif" width="126" height="128" border="0" alt="Matching Game"></a></td>
    <td colspan="2" rowspan="7"><img src="images/Background_Activities-18.jpg" width="21" height="154" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="24" alt=""></td>
   </tr>
   <tr>
    <td rowspan="6"><img src="images/Background_Activities-19.jpg" width="40" height="130" alt=""></td>
    <td colspan="3" rowspan="6"><a href="../games/puzzle.html" onmouseover="changeImages('Bt_Puzzle_Game', 'images/Bt_Puzzle-Game-over.gif'); return true;" onmouseout="changeImages('Bt_Puzzle_Game', 'images/Bt_Puzzle-Game.gif'); return true;" onmousedown="changeImages('Bt_Puzzle_Game', 'images/Bt_Puzzle-Game-over.gif'); return true;" onmouseup="changeImages('Bt_Puzzle_Game', 'images/Bt_Puzzle-Game-over.gif'); return true;"> <img name="Bt_Puzzle_Game" src="images/Bt_Puzzle-Game.gif" width="121" height="130" border="0" alt="Puzzle Game"></a></td>
    <td rowspan="3"><img src="images/Background_Activities-22.jpg" width="1" height="88" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="71" alt=""></td>
   </tr>
   <tr>
    <td colspan="3"><img src="images/Background_Activities-23.jpg" width="127" height="9" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="9" alt=""></td>
   </tr>
   <tr>
    <td colspan="3" rowspan="5"><a href="../games/stars.html" onmouseover="changeImages('Bt_Follow_thew_Stars', 'images/Bt_Follow-thew-Stars-over.gif'); return true;" onmouseout="changeImages('Bt_Follow_thew_Stars', 'images/Bt_Follow-thew-Stars.gif'); return true;" onmousedown="changeImages('Bt_Follow_thew_Stars', 'images/Bt_Follow-thew-Stars-over.gif'); return true;" onmouseup="changeImages('Bt_Follow_thew_Stars', 'images/Bt_Follow-thew-Stars-over.gif'); return true;"> <img name="Bt_Follow_thew_Stars" src="images/Bt_Follow-thew-Stars.gif" width="127" height="129" border="0" alt="Follow the Stars"></a></td>
    <td><img src="images/spacer.gif" width="1" height="8" alt=""></td>
   </tr>
   <tr>
    <td colspan="3" rowspan="5"><a href="../games/spelling.html" onmouseover="changeImages('Bt_Spell_with_Caillou', 'images/Bt_Spell-with-Caillou-over.gif'); return true;" onmouseout="changeImages('Bt_Spell_with_Caillou', 'images/Bt_Spell-with-Caillou.gif'); return true;" onmousedown="changeImages('Bt_Spell_with_Caillou', 'images/Bt_Spell-with-Caillou-over.gif'); return true;" onmouseup="changeImages('Bt_Spell_with_Caillou', 'images/Bt_Spell-with-Caillou-over.gif'); return true;"> <img name="Bt_Spell_with_Caillou" src="images/Bt_Spell-with-Caillou.gif" width="125" height="129" border="0" alt="Spell with Caillou"></a></td>
    <td><img src="images/spacer.gif" width="1" height="16" alt=""></td>
   </tr>
   <tr>
    <td colspan="2"><img src="images/Background_Activities-28.jpg" width="126" height="5" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="5" alt=""></td>
   </tr>
   <tr>
    <td rowspan="8"><img src="images/Background_Activities-29.jpg" width="2" height="185" alt=""></td>
    <td rowspan="5"><a href="../games/keyboard.html" onmouseover="changeImages('Bt_Magic_Keyboard', 'images/Bt_Magic-Keyboard-over.gif'); return true;" onmouseout="changeImages('Bt_Magic_Keyboard', 'images/Bt_Magic-Keyboard.gif'); return true;" onmousedown="changeImages('Bt_Magic_Keyboard', 'images/Bt_Magic-Keyboard-over.gif'); return true;" onmouseup="changeImages('Bt_Magic_Keyboard', 'images/Bt_Magic-Keyboard-over.gif'); return true;"> <img name="Bt_Magic_Keyboard" src="images/Bt_Magic-Keyboard.gif" width="124" height="128" border="0" alt="Magic Keyboard"></a></td>
    <td><img src="images/spacer.gif" width="1" height="21" alt=""></td>
   </tr>
   <tr>
    <td rowspan="7"><img src="images/Background_Activities-32.jpg" width="1" height="164" alt=""></td>
    <td colspan="3" rowspan="5"><a href="../games/memory.html" onmouseover="changeImages('Bt_Memory_Game', 'images/Bt_Memory-Game-over.gif'); return true;" onmouseout="changeImages('Bt_Memory_Game', 'images/Bt_Memory-Game.gif'); return true;" onmousedown="changeImages('Bt_Memory_Game', 'images/Bt_Memory-Game-over.gif'); return true;" onmouseup="changeImages('Bt_Memory_Game', 'images/Bt_Memory-Game-over.gif'); return true;"> <img name="Bt_Memory_Game" src="images/Bt_Memory-Game.gif" width="126" height="126" border="0" alt="Memory Game"></a></td>
    <td colspan="2" rowspan="7"><img src="images/Background_Activities-35.jpg" width="55" height="164"></td>
    <td><img src="images/spacer.gif" width="1" height="79" alt=""></td>
   </tr>
   <tr>
    <td colspan="3" rowspan="2"><img src="images/Background_Activities-36.jpg" width="127" height="10" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="8" alt=""></td>
   </tr>
   <tr>
    <td colspan="3" rowspan="5"><img src="images/Background_Activities-37.jpg" width="125" height="77"></td>
    <td><img src="images/spacer.gif" width="1" height="2" alt=""></td>
   </tr>
   <tr>
    <td rowspan="4"><img src="images/Background_Activities-38.jpg" width="17" height="75" alt=""></td>
    <td rowspan="3"><a href="index.html" onmouseover="changeImages('Bt_Retour', 'images/Bt_Retour-over.gif'); return true;" onmouseout="changeImages('Bt_Retour', 'images/Bt_Retour.gif'); return true;" onmousedown="changeImages('Bt_Retour', 'images/Bt_Retour-over.gif'); return true;" onmouseup="changeImages('Bt_Retour', 'images/Bt_Retour-over.gif'); return true;"> <img name="Bt_Retour" src="images/Bt_Retour.gif" width="80" height="68" border="0" alt="Return"></a></td>
    <td rowspan="4"><img src="images/Background_Activities-41.jpg" width="30" height="75" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="18" alt=""></td>
   </tr>
   <tr>
    <td rowspan="3"><img src="images/Background_Activities-42.jpg" width="124" height="57"></td>
    <td><img src="images/spacer.gif" width="1" height="19" alt=""></td>
   </tr>
   <tr>
    <td colspan="3" rowspan="2"><img src="images/Background_Activities-43.jpg" width="126" height="38"></td>
    <td><img src="images/spacer.gif" width="1" height="31" alt=""></td>
   </tr>
   <tr>
    <td><img src="images/Background_Activities-44.jpg" width="80" height="7" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="7" alt=""></td>
   </tr>
   <tr>
    <td><img src="images/spacer.gif" width="142" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="2" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="124" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="20" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="40" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="66" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="18" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="37" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="123" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="1" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="17" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="80" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="30" height="1" alt=""></td>
    <td><img src="images/spacer.gif" width="53" height="1" alt=""></td>
    <td></td>
   </tr>
  </tbody>
 </table>
 <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">| <a class="footer" href="/caillou/">Home</a> | <a class="footer" href="/caillou/immersivegames/">Play with Caillou</a> | <a class="footer" href="/caillou/activities/">Printables &amp; Activities</a> | <br> <a class="footer" href="http://pbskids.org/tvschedules/airdates.html?title_id=CAIU">Caillou on TV</a> | <a class="footer" href="/caillou/parentsteachers/">Parents &amp; Teachers</a></p>
 <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">Web site copyright © <a class="footer" href="/caillou/copyright.html">2007</a> COOKIE JAR ENTERTAINMENT™<br> Les Editions Chouette. All rights reserved. <a class="footer" href="http://pbskids.org/privacy/">PBS Privacy Policy</a></p>
</div>{% endblock %}