{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Activities . Paperdolls . Intro' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-school, PBS, kids, children, games, animation, readytolearn' %}
{% set desc = 'The Official Caillou Site' %}

{% block specialScripts %}<script language="JavaScript">	function setLoaded( )	{		isLoaded = true;	}</script>
<script type="text/javascript">	var isRolloverOn = false;	if (document.images)	{		games_on = new Image( );		games_on.src = "images/Master_gamesA-over.gif";		games_off = new Image( );	 		games_off.src = "images/Master_gamesA.gif"; 				coloring_on = new Image( );		coloring_on.src = "images/Master_coloringA-over.gif";		coloring_off = new Image( );		coloring_off.src = "images/Master_coloringA.gif";			greetings_on = new Image( );		greetings_on.src = "images/Master_greetingsA-over.gif";		greetings_off = new Image( );		greetings_off.src = "images/Master_greetingsA.gif";				caillouhome_on = new Image( );		caillouhome_on.src = "images/Master_caillouA-over.gif";		caillouhome_off = new Image( );		caillouhome_off.src = "images/Master_caillouA.gif";			back_on = new Image( );		back_on.src = "images/Master_backA-over.gif";		back_off = new Image( );		back_off.src = "images/Master_backA.gif";				play_on = new Image( );		play_on.src = "paperdolls/images/dolls_play-over.gif";		play_off = new Image( );		play_off.src = "paperdolls/images/dolls_play.gif";				help_on = new Image( );		help_on.src = "paperdolls/images/dolls_help-over.gif";		help_off = new Image( );		help_off.src = "paperdolls/images/dolls_help.gif";			}	          function act(imgName)        {			if( document.images )				document[imgName].src = eval( imgName + '_on.src' );        }	  		function inact(imgName)		{			if( document.images )				document[imgName].src = eval(imgName + '_off.src');  		}</script>
{% endblock %}

{% set bodyTag = '<body onload="setLoaded();" background="images/bkg_orange_ball2.gif" bgcolor="#f5822b" text="black" link="black" vlink="#0077c0" alink="#ed1c24" leftmargin="10" marginheight="10" marginwidth="10" topmargin="10">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td>
    <div align="center">
     <table width="750" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td><a href="https://pbskids.org/"><img src="images/Master_pbsA.gif" alt="PBS Kids Homepage" name="PBSKidsA" height="92" width="92" border="0"></a></td>
        <td colspan="2"><img src="images/Master_topleftA.gif" alt="" height="92" width="183"></td>
        <td colspan="3"><a onmouseover="act('caillouhome')" onmouseout="inact('caillouhome')" href="../index.html"><img src="images/Master_caillouA.gif" alt="Caillou Homepage" name="caillouhome" height="92" width="200" border="0"></a></td>
        <td colspan="2"><img src="images/Master_toprightA.gif" alt="" height="92" width="183"></td>
        <td><a onmouseover="act('back')" onmouseout="inact('back')" href="printables.html"><img src="images/Master_backA.gif" alt="Going back" name="back" height="92" width="92" border="0"></a></td>
       </tr>
       <tr>
        <td><img src="images/Master_leftsideA.gif" alt="" height="356" width="92"></td>
        <td colspan="7" bgcolor="#FFFFFF">
         <div align="center">
          <table width="566" border="0" cellspacing="0" cellpadding="0">
           <tbody>
            <tr>
             <td colspan="4"><img src="paperdolls/images/dolls_title.gif" alt="Paper Dolls" height="44" width="566"></td>
            </tr>
            <tr>
             <td rowspan="2"><img src="paperdolls/images/dolls_cailloutop.jpg" alt="Mom and Caillou cutting paper" height="203" width="266"></td>
             <td colspan="2"><img src="paperdolls/images/dolls_top.gif" alt="" height="42" width="268"></td>
             <td rowspan="4"><img src="paperdolls/images/dolls_right.gif" alt="Right border" height="312" width="32"></td>
            </tr>
            <tr>
             <td colspan="2"><img src="paperdolls/images/dolls_text.gif" alt="Make your very own Caillou and Rosie paper dolls! Have fun dressing Caillou and Rosie in one of the many outfits you can color the way you like!" height="161" width="268"></td>
            </tr>
            <tr>
             <td rowspan="2"><img src="paperdolls/images/dolls_cailloubtm.jpg" alt="Mom and Caillou cutting paper" height="109" width="266"></td>
             <td><a onmouseover="act('help')" onmouseout="inact('help')" href="#printing"><img src="paperdolls/images/dolls_help.gif" alt="Help and Instructions" name="help" height="65" width="134" border="0"></a></td>
             <td><a onmouseover="act('play')" onmouseout="inact('play')" href="paperdolls/index.html"><img src="paperdolls/images/dolls_play.gif" alt="Play Button" name="play" height="65" width="134" border="0"></a></td>
            </tr>
            <tr>
             <td colspan="2"><img src="paperdolls/images/dolls_bottom.gif" alt="Bottom border" height="44" width="268"></td>
            </tr>
           </tbody>
          </table>
         </div></td>
        <td><img src="images/Master_rightsideA.gif" alt="" height="356" width="92"></td>
       </tr>
       <tr>
        <td><img src="images/Master_cornerleftA.gif" alt="" height="90" width="92"></td>
        <td><img src="images/Master_bottomleftA.gif" alt="" height="90" width="95"></td>
        <td colspan="2"><img src="images/Master_gamesA.gif" alt="Games" name="games" height="90" width="125" border="0"></td>
        <td><img src="images/Master_greetingsA.gif" alt="Greeting Cards and Email" name="greetings" height="90" width="126" border="0"></td>
        <td colspan="2"><img src="images/Master_coloringA.gif" alt="Activities" name="coloring" height="90" width="125" border="0"></td>
        <td><img src="images/Master_bottomrightA.gif" alt="" height="90" width="95"></td>
        <td><img src="images/Master_cornerrightA.gif" alt="" height="90" width="92"></td>
       </tr>
       <tr>
        <td><img src="images/spacer.gif" alt="" height="1" width="92"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="95"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="88"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="37"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="126"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="37"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="88"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="95"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="92"></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr>
   <td>
    <div align="center">
     <table width="566" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr height="20">
        <td height="20">&nbsp;</td>
       </tr>
       <tr>
        <td><p class="instruct_bold"><a name="printing"></a>Printing instructions:</p>
         <ol>
          <li class="instruct_normal" type="1">Click on the picture you would like to color and a new page will appear.</li>
          <li class="instruct_normal" type="1">Then, under the 'File' option in the upper-left corner of the new window, select 'Print' (you need to have access to a printer for this).</li>
          <li class="instruct_normal" type="1">When the printing is finished, click the 'Back, button and select your next picture!</li>
         </ol> <p class="instruct_bold">Assembly instructions:</p>
         <ul>
          <li class="instruct_normal" type="disc">Click on the Caillou and Rosie paper doll icons and each of their outfits to see them. Then ask a grown-up to help you print them out.</li>
          <li class="instruct_normal" type="disc">Using crayons or markers, color Caillou, Rosie and their outfits.</li>
          <li class="instruct_normal" type="disc">With a grown-up's help, glue the pictures of Caillou and Rosie only (not their outfits) to two separate pieces of cardboard. Use scissors to cut out the cardboard mounted Caillou and Rosie and their paper outfits.</li>
          <li class="instruct_normal" type="disc">On a third piece of cardboard, use a ruler to draw two rectangles 1 inch wide and 5 inches long, then cut them out.</li>
          <li class="instruct_normal" type="disc">Fold the rectangles about half an inch from both the top and the bottom, to create two flaps. Apply glue to one side of one of the flaps and place it in the middle of Caillou and Rosie's backs. This will allow them to stand up.</li>
          <li class="instruct_normal" type="disc">Or, instead of a stand, glue a Popsicle stick to Caillou and Rosie's backs and turn them into puppets!</li>
         </ul>
         <hr noshade size="1" width="60%" color="#FFFFFF&quot;"></td>
       </tr>
       <tr>
        <td>
         <div align="center"><!-- Footer nav bar goes here -->
          <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">| <a class="footer" href="/caillou/">Home</a> | <a class="footer" href="/caillou/immersivegames/">Play with Caillou</a> | <a class="footer" href="/caillou/activities/">Printables &amp; Activities</a> | <br> <a class="footer" href="https://pbskids.org/tvschedules/airdates.html?title_id=CAIU">Caillou on TV</a> | <a class="footer" href="/caillou/parentsteachers/">Parents &amp; Teachers</a></p>
          <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">Web site copyright © <a class="footer" href="/caillou/copyright.html">2007</a> COOKIE JAR ENTERTAINMENT™<br> Les Editions Chouette. All rights reserved. <a class="footer" href="https://pbskids.org/privacy/">PBS Privacy Policy</a></p>
         </div></td>
       </tr>
      </tbody>
     </table>
     <p>&nbsp;</p>
    </div></td>
  </tr>
 </tbody>
</table>{% endblock %}