<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "https://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name='author' content='fableVision, Inc.'>
<title>SID THE SCIENCE KID . Funbook | PBS KIDS</title>
<meta name='description' content='Sid the Science Kid Printables'>
<meta name='keywords' content='Sid the Science Kid Printables'>
{% include 'template_includes/bridge_js_include.html' %}
</head>
<body style='background-color: white; margin: 0px; padding: 0px;'><center><div style='width: 700px; text-align: center; margin: 0px; padding: 0px;'>
		<a href='/sid/funbook.html' title='printables'><img src='img/backBTN.jpg' border=0 style='margin-right: 100px;'></a>
		<a href='javascript:print();'><img src='img/printBTN.jpg' border=0></a><br>
		<img src='{{printPageImg|raw}}'>
	</div>
</center>
<table border=0><tr><td>

{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}








</td></tr></table>
</body>
</html>

