{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Sue Ellen\'s Photos Page | PBS Kids' %}
{% set desc = 'Puruse Sue Ellens photographs and observe the little details that make her travel and daily experiences so adventurous!' %}
{% set keywds = 'Sue Ellen, ARTHUR, photographs, pictures, travel, adventure' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}
{% set friendsJs = true %}


{% block mainContent %}<div id="content" class="bg-cf9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/sueellen_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/sueellen_top.swf", "sueellen", "960", "363", "9", "#ccff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "photos");			   fo.addVariable("char", "sue_ellen");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-sueellen">Sue Ellen's images</a>
  <div id="friendsContent">
   <h1>My Photos</h1>
   <hr class="friendsRuler">
   <div id="photoWrapper">
    <div id="bigImgWrapper"><img src="../../i/friends/photos/sue1.jpg" width="354" height="250" alt="Sue Ellen wearing an outfit with a very large hat." border="0" id="mainImg"> <a href="" class="next"></a> <a href="" class="prev"></a>
    </div> <img src="../../i/friends/photos/avatar_big_sue.gif" width="85" height="83" alt="Sue Ellen Avatar" border="0" id="avatar">
    <h3>So many outfits, so little time...</h3>
   </div>
   <div id="cmtArea"><!--  Displayed image and comment -->
    <h2>MY FRIENDS SAY</h2>
    <div id="cmtTxtWrapper">
     <div class="comment">
      <div class="muffy-cmt"><a href="/arthur/friends/muffy/index.html">MUFFY</a>
       <p>How true!</p>
      </div>
      <div class="muffy-cmtbtm"></div>
     </div>
    </div>
   </div> <!--  List of all images and comments to rotate -->
   <ul id="cmtlist">
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/sue1.jpg" width="354" height="250" alt="Sue Ellen wearing an outfit with a very large hat." border="0" id="mainImg">
       <h3>So many outfits, so little time...</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="muffy-cmt"><a href="/arthur/friends/muffy/index.html">MUFFY</a>
          <p>How true!</p>
         </div>
         <div class="muffy-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/sue2.jpg" width="354" height="250" alt="Sue Ellen eating a big ice cream sundae." border="0" id="mainImg">
       <h3>Dig in!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="buster-cmt"><a href="/arthur/friends/buster/index.html">BUSTER</a>
          <p>Boy, does that look good!</p>
         </div>
         <div class="buster-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/sue3.jpg" width="354" height="250" alt="Sue Ellen on an old train with her mom and Betsy." border="0" id="mainImg">
       <h3>One of my newest friends — Betsy!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/globalgizmo/index.html" id="rcGlobal">Global Gizmo</a></li>
   <li><a href="/arthur/holiday/scrapbook/index.html" id="rcScrapbook">Sue Ellen's Holiday Scrapbook</a></li> <!--<li><a href="/arthur/clubs/fashion/index.html" id="rcClubFashion">Fashion Club</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

