{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>The 2 awesome things about eekocreature are ,1:you can update your creature when ever you want. 2:anyone and everyone can learn was to help make a BIG diffrence!</p> <p>— PhantomX12, Age 9</p>
      <hr> <p>Ecoworld is fun. Heres a list of why: -Its fun to see the animal features all mixed up. -You can go different places and see silly animals at Ecocreature. -I love Cheeko! He's funny!</p> <p>— bridget, Age 10</p>
      <hr> <p>I like eekocreature because you get to create an animal and name it and learn how to save the enviroment as you play.</p> <p>— Emmamlemma, Age 10</p>
      <hr> <p>I LOVE Eekocreature becase youcan earn points i keep going</p> <p>— alaska123678, Age 10</p>
      <hr> <p>I think eeckoworld is a GREAT place for kids like us learn about how to save the world and to use the 3 Rs.I like it how we can make our own creature.When I first found out about eekoworld,I thought ,Wow this is almost better than webkinz.(well almost better) :):)</p> <p>— Yenessa M., Age 10</p>
      <hr> <p>eekocreature is the best game ever so join or else cheeko will fly tru your house</p> <p>— elij47, Age 8</p>
      <hr> <p>I love EEKOCRETURE!!!!!!!!!!!!!! I GET TO HAVE MY ON CREATURE!!!!!!!!!!!!!!!!!!!!!!!!!</p> <p>— uouououn8, Age 8</p>
      <hr> <p>I love my Eeko creature! and when i go on eeko world i tell the things to my mom.</p> <p>— abigail, Age 7</p>
      <hr> <p>I made a snake that flys in the air and I called it snake in air</p> <p>— hammie, Age 8</p>
      <hr> <p>I really like eekocreature.Sure, you have fun,but you learn a lot of good deeds! I learned how to take care of our world, our enviroment, and our future!</p> <p>— riverella, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=0" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=20" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7874<br><a href="detail_eekocreature.html@Start=0">Previous</a> | 2 | <a href="detail_eekocreature.html@Start=20">3</a> | <a href="detail_eekocreature.html@Start=30">4</a> | <a href="detail_eekocreature.html@Start=40">5</a> | <a href="detail_eekocreature.html@Start=50">6</a> | <a href="detail_eekocreature.html@Start=60">7</a> | <a href="detail_eekocreature.html@Start=70">8</a> | <a href="detail_eekocreature.html@Start=80">9</a> | <a href="detail_eekocreature.html@Start=90">10</a> | <a href="detail_eekocreature.html@Start=100">11</a> | <a href="detail_eekocreature.html@Start=20">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

