{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>Wow!I think eeco creature is great! Plus, I love websites where you can make your very own creature! I think eeco world is a awsome way to help the enviorment! I love eeco creature because the creatures always turn up so cute!</p> <p>— Molly2054, Age 7</p>
      <hr> <p>I think that the Eeko Creature is a good way to keep kids interested in learning more about the ecosystem and about helping it.</p> <p>— smp11, Age 11</p>
      <hr> <p>HI im a seadragon on EEKOceaturer.I may be just a dragon orjust a seamonster.my name is starfyrules.come see me at the tiny island.see you thear!!!</p> <p>— starfyrules, Age 9</p>
      <hr> <p>If you are wondering how to get into the hall of fame, I think that you have to get 2000 points and unlock all of the creatures. I only think that. I still haven't gotten into the hall of fame yet.</p> <p>— LadyMacbeth, Age 13</p>
      <hr> <p>I think EekoCreature ROCKS! I suggested it to all my friends by saying,'' U guys gotta tri this game! It rules!'' Then i told them my 411 about the game. Then after 50 days i saw 2 of my BFF's! And we helped save the EekoWorld together!</p> <p>— oreoeasybake, Age 9</p>
      <hr> <p>My EekoCreature is a hummingbird and its fun to play with.</p> <p>— Mikaela, Age 11</p>
      <hr> <p>I think eekocreature is a good thing because it tells you what and what not to do with the world and I think it is kinnda educational.Don't you think so too</p> <p>— Nellson88, Age 8</p>
      <hr> <p>The game EekoCreature has been teaching me how to save the earth instead of dirtying the earth. At the beach people throw Garbage on the beach i clean all paper,can's, paper bag, platic bag, juice boxes, yogurt things napkins, plates, and carboard soda things. If you see garbage anywhere clean it up. Platic thing have a a marking on bottom like Gallon milk, bottle water, and more. So instead of leaving garbage you can clean it up instead of throwing garbage throw it away. I will posted more when i can so stay on PBS.</p> <p>— Brandlyn, Age 11</p>
      <hr> <p>EekoCreature is an awesome way to help all of us kids learn more about our enviroment and how we can help to save it;Our Animals,Our Plants,Everythng.Plus,its a fun activity to do when you have spare time.Not to mention,your making a change in the World.</p> <p>— Josh, Age 12</p>
      <hr> <p>i think it is so fun. and i never thought i could be helping the world. you know like your parents say that being on the computer dosent help anybody. but im getting cool ideas to help the environment.</p> <p>— shorty38118, Age 11</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=140" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=160" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7894<br><a href="detail_eekocreature.html@Start=140">Previous</a> | <a href="detail_eekocreature.html@Start=60">7</a> | <a href="detail_eekocreature.html@Start=70">8</a> | <a href="detail_eekocreature.html@Start=80">9</a> | <a href="detail_eekocreature.html@Start=90">10</a> | <a href="detail_eekocreature.html@Start=100">11</a> | <a href="detail_eekocreature.html@Start=110">12</a> | <a href="detail_eekocreature.html@Start=120">13</a> | <a href="detail_eekocreature.html@Start=130">14</a> | <a href="detail_eekocreature.html@Start=140">15</a> | 16 | <a href="detail_eekocreature.html@Start=160">17</a> | <a href="detail_eekocreature.html@Start=170">18</a> | <a href="detail_eekocreature.html@Start=180">19</a> | <a href="detail_eekocreature.html@Start=190">20</a> | <a href="detail_eekocreature.html@Start=200">21</a> | <a href="detail_eekocreature.html@Start=210">22</a> | <a href="detail_eekocreature.html@Start=220">23</a> | <a href="detail_eekocreature.html@Start=230">24</a> | <a href="detail_eekocreature.html@Start=240">25</a> | <a href="detail_eekocreature.html@Start=160">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

