{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>this is so cool. Eco creature is sooooooooooooooooooooo fun. I could do it all day. I never knew people my age and older and younger do it. You ROCK!!!!!!!!!!!!!!!!!!!!!!!!</p> <p>— snowvv, Age 10</p>
      <hr> <p>i love ecocreatre! it is awsome!</p> <p>— maxbbtn, Age 8</p>
      <hr> <p>how do you make you creature grow?</p> <p>— stichcross99, Age 8</p>
      <hr> <p>i like eko creature i thought it wasn't going to have unicorns but it did and i lost points when i bought the unicorn and i want it to have it to have wings and i wish you buy clothes for your pet becuase it looks so cute.</p> <p>— sparkleadri1, Age 8</p>
      <hr> <p>i think eeko is very fun to play with because its like play with real pets</p> <p>— allysen23, Age 10</p>
      <hr> <p>i think my pet Griffin hes like a total knock out!</p> <p>— parraghi2001, Age 8</p>
      <hr> <p>tell everyone that i did not,i repeat,did not get a turn to make a team action. p.s.i will make eco-frendliy choices.</p> <p>— ruffminman, Age 6</p>
      <hr> <p>EekoCreature is a fun way to learn about the enironment. My mom said that I was learning alot about the ways we can help the Earth.</p> <p>— Nicole, Age 8</p>
      <hr> <p>dear eekoworld could you make cheeko a girl and not loud please. p.s my sister told me to do this. your friend julia.</p> <p>— julia, Age 8</p>
      <hr> <p>Im on the hall of fame!Im so happy for myself!Yay me!Hi everybody out their reading this,i hope youtr all having as much fun as me.I mean literally playing Eeko world just passes my time away.My friends and I can't believe it when we look at the time and see that about 30 minutes have passed.Were so into Eeko world.My Eeko creature is named Cupid.If your wondering why its because valentines day is coming up and well somebody has to be Cupid or else there will be no love in Eeko world.Everything will be sad.</p> <p>— rock765, Age 12</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=180" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=200" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7894<br><a href="detail_eekocreature.html@Start=180">Previous</a> | <a href="detail_eekocreature.html@Start=100">11</a> | <a href="detail_eekocreature.html@Start=110">12</a> | <a href="detail_eekocreature.html@Start=120">13</a> | <a href="detail_eekocreature.html@Start=130">14</a> | <a href="detail_eekocreature.html@Start=140">15</a> | <a href="detail_eekocreature.html@Start=150">16</a> | <a href="detail_eekocreature.html@Start=160">17</a> | <a href="detail_eekocreature.html@Start=170">18</a> | <a href="detail_eekocreature.html@Start=180">19</a> | 20 | <a href="detail_eekocreature.html@Start=200">21</a> | <a href="detail_eekocreature.html@Start=210">22</a> | <a href="detail_eekocreature.html@Start=220">23</a> | <a href="detail_eekocreature.html@Start=230">24</a> | <a href="detail_eekocreature.html@Start=240">25</a> | <a href="detail_eekocreature.html@Start=250">26</a> | <a href="detail_eekocreature.html@Start=260">27</a> | <a href="detail_eekocreature.html@Start=270">28</a> | <a href="detail_eekocreature.html@Start=280">29</a> | <a href="detail_eekocreature.html@Start=200">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

