{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>I have a question. I already have an Eekocreature named Mylo who has 110 points, but when I go to Eekocreature Cheeko says I have to build a creature. Help!!!!!</p> <p>— rhaer10, Age 11</p>
      <hr> <p>Eekocreature is so fun! Other than playing on there we can learn lot of things!but I like Eekocreatrure better than Eekohouse.</p> <p>— Lacea, Age 6</p>
      <hr> <p>i luv my eco creature 'cause it is my favorite color...green the color of nature!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!lol xoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxoxox, josna</p> <p>— gigija, Age 12</p>
      <hr> <p>i just found this site and i love it!! i like how they teach us how to keep our world clean and healthy, just like our bodies.</p> <p>— lrexaandprin, Age 8</p>
      <hr> <p>I love my Ecocreature because he likes to learn more about saving the planet. Maybe he might save the planet by recycling.</p> <p>— Mancoo, Age 8</p>
      <hr> <p>I love Eekocreature because it is so fun while you learn about the environment. Eeckocreature also helps people to learn and take care of the enviroment.</p> <p>— zoeraz, Age 10</p>
      <hr> <p>I like eecho creature because I get to learn what are good choises for the the envionment and what are unwise choises for the environment.</p> <p>— wsdfrtyuoyt, Age 10</p>
      <hr> <p>I also think eekocreature is awesom because last year I in't know what it was until I tried it and now I love playingg the game.I also like that it gives environment tips to keep our world clean!!!</p> <p>— kathrynsmart, Age 11</p>
      <hr> <p>I think EekoCreature is fun and it helps us learn about the eviroment and how to keep it healthy. Go EekoCreature!!!</p> <p>— sharky54915, Age 11</p>
      <hr> <p>I recently learned about EekoWorld, and i fell in love with it from the start. All of my friends in our mission earth group are in the same location as me.</p> <p>— mististorm, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=240" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=260" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7894<br><a href="detail_eekocreature.html@Start=240">Previous</a> | <a href="detail_eekocreature.html@Start=160">17</a> | <a href="detail_eekocreature.html@Start=170">18</a> | <a href="detail_eekocreature.html@Start=180">19</a> | <a href="detail_eekocreature.html@Start=190">20</a> | <a href="detail_eekocreature.html@Start=200">21</a> | <a href="detail_eekocreature.html@Start=210">22</a> | <a href="detail_eekocreature.html@Start=220">23</a> | <a href="detail_eekocreature.html@Start=230">24</a> | <a href="detail_eekocreature.html@Start=240">25</a> | 26 | <a href="detail_eekocreature.html@Start=260">27</a> | <a href="detail_eekocreature.html@Start=270">28</a> | <a href="detail_eekocreature.html@Start=280">29</a> | <a href="detail_eekocreature.html@Start=290">30</a> | <a href="detail_eekocreature.html@Start=300">31</a> | <a href="detail_eekocreature.html@Start=310">32</a> | <a href="detail_eekocreature.html@Start=320">33</a> | <a href="detail_eekocreature.html@Start=330">34</a> | <a href="detail_eekocreature.html@Start=340">35</a> | <a href="detail_eekocreature.html@Start=260">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

