{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>i love eekocreature because i can help people so play have a great time. thank you</p> <p>— 19fop, Age 8</p>
      <hr> <p>Eeko wuold change my life and i recycl and ride my bike to sckool and some thing changed my life i fill like i will aways do good. love Jakob</p> <p>— jakobchris, Age 10</p>
      <hr> <p>I think it would be better if we could feed our creatures more than once a day,start recycling plants,their movements were made by us,not them,talk to other creatures,and have more than one creature.</p> <p>— Dante, Age 8</p>
      <hr> <p>I think eekocreature should have new animals like:a snail,a rabbit,a kangroo,a bee,a beetle,a cow,a pig, a giraffe,a jaguar ,a dog, a cat,and a parrot.</p> <p>— Shriraj, Age 7</p>
      <hr> <p>i like eekoworld but in eekocreature they need to add a cat and dog body and not just have 1 single color but at least 5 different ones like black,white,grey,brown, and tan on the dog and cat body's and if you want to have a black and white cat then you can multi color each part if you agree then contune talking about it and mabie thell add it who knows. at least on the spourm thats how we get stuff changed</p> <p>— kaoskid, Age 11</p>
      <hr> <p>I can be so creative changing my creature and making up what it eats and where it lives. It is good to learn about things in the environment too.</p> <p>— mon13, Age 13</p>
      <hr> <p>I think eeko creatures are great, you can learn and have fun at the same time and even earn points that add up to get cool new creatures!</p> <p>— netlok24, Age 11</p>
      <hr> <p>i think ekocreatures are very cool and fun and real helpful to the minds of these children and me to and some adults to know what is gonna happen if we dont take good care of our earth and i think this helped me alot to so keep up the good work evryone and ekocreatures</p> <p>— gbaybiiee, Age 9</p>
      <hr> <p>i think eco-creacher s great! A+ by me. eco-creachers are good 4 d envinernment!</p> <p>— warrior99, Age 11</p>
      <hr> <p>i love eekocreature s so much that i want alot of them</p> <p>— scout, Age 4</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=310" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=330" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7920<br><a href="detail_eekocreature.html@Start=310">Previous</a> | <a href="detail_eekocreature.html@Start=230">24</a> | <a href="detail_eekocreature.html@Start=240">25</a> | <a href="detail_eekocreature.html@Start=250">26</a> | <a href="detail_eekocreature.html@Start=260">27</a> | <a href="detail_eekocreature.html@Start=270">28</a> | <a href="detail_eekocreature.html@Start=280">29</a> | <a href="detail_eekocreature.html@Start=290">30</a> | <a href="detail_eekocreature.html@Start=300">31</a> | <a href="detail_eekocreature.html@Start=310">32</a> | 33 | <a href="detail_eekocreature.html@Start=330">34</a> | <a href="detail_eekocreature.html@Start=340">35</a> | <a href="detail_eekocreature.html@Start=350">36</a> | <a href="detail_eekocreature.html@Start=360">37</a> | <a href="detail_eekocreature.html@Start=370">38</a> | <a href="detail_eekocreature.html@Start=380">39</a> | <a href="detail_eekocreature.html@Start=390">40</a> | <a href="detail_eekocreature.html@Start=400">41</a> | <a href="detail_eekocreature.html@Start=410">42</a> | <a href="detail_eekocreature.html@Start=330">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

