{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>I think that a chinpmunk would be a good eco creature to have on the game since Alvin and the chimpmunks 2 is out. That would be cool!</p> <p>— ilovecats345, Age 9</p>
      <hr> <p>I think it is fun to play because it help my eeko creature get a little faster and it helps the world health rise. I also enjoy playing the games and I have learned a lot about the environment around me and how to help it.</p> <p>— jlman, Age 8</p>
      <hr> <p>EEKOWORLD.COM RULES!!!!!! but when the people who check the messages read this... I wanna tell you guys something.... PLEASE make it so we can talk to eachother on here! thank you! from, kdecz</p> <p>— kdecz, Age 9</p>
      <hr> <p>My eeko-creature has a lion head, a chimp body,whale fins, and a crow tail!!!</p> <p>— RoxyEllie (Doglover), Age 9</p>
      <hr> <p>i love Eeko creature and it is so much fun</p> <p>— genesis, Age 8</p>
      <hr> <p>I think that Eekocreature is awesome! I especially love how you can make your own creature. My creature, Swimmer, has a head of a unicorn, the body of a dragon, the arms and legs of a sea monster, and the tail of an eagle. Say it with me,America! EEKOCREATURE RULES!!!!!!!!!!!</p> <p>— Swimgirl360, Age 10</p>
      <hr> <p>I think this website is a safe, fun and educational way to learn how to be enviromentaly friendly. This website is awsome!!!!!!!!!! Dudes, like check it out!!!!!!!.</p> <p>— dudeperson2, Age 11</p>
      <hr> <p>The reason I LOVE about EekoCreature, is that you can create an animal YOU want, and you can also learn about how to save the enviroment, and learn cool facts about the enviroment too!!!!!!!!</p> <p>— Artist13579, Age 12</p>
      <hr> <p>i think im going to everyone that they should get an eeko creature and should get invoulved in reccyling</p> <p>— almarie99, Age 10</p>
      <hr> <p>I am in the hall of fame and it took all my pionts,changed my eko creature and locked my old eko creature</p> <p>— lolipop854, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=330" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=350" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7920<br><a href="detail_eekocreature.html@Start=330">Previous</a> | <a href="detail_eekocreature.html@Start=250">26</a> | <a href="detail_eekocreature.html@Start=260">27</a> | <a href="detail_eekocreature.html@Start=270">28</a> | <a href="detail_eekocreature.html@Start=280">29</a> | <a href="detail_eekocreature.html@Start=290">30</a> | <a href="detail_eekocreature.html@Start=300">31</a> | <a href="detail_eekocreature.html@Start=310">32</a> | <a href="detail_eekocreature.html@Start=320">33</a> | <a href="detail_eekocreature.html@Start=330">34</a> | 35 | <a href="detail_eekocreature.html@Start=350">36</a> | <a href="detail_eekocreature.html@Start=360">37</a> | <a href="detail_eekocreature.html@Start=370">38</a> | <a href="detail_eekocreature.html@Start=380">39</a> | <a href="detail_eekocreature.html@Start=390">40</a> | <a href="detail_eekocreature.html@Start=400">41</a> | <a href="detail_eekocreature.html@Start=410">42</a> | <a href="detail_eekocreature.html@Start=420">43</a> | <a href="detail_eekocreature.html@Start=430">44</a> | <a href="detail_eekocreature.html@Start=350">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

