{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>EekoCreature fills your mind with important facts and lots of ways to keep the world clean and healthy.</p> <p>— guycool, Age 10</p>
      <hr> <p>I think that ecoworld is a place that is fun and a good way to learn about our earth. The best part is ecocreature that is FUN!!</p> <p>— eco8642, Age 9</p>
      <hr> <p>EekoCreature is the best! Ever seen my creature? Her name is Skwaka. I don't want to chge her one bit. I like her the way she is.</p> <p>— pointy54, Age 9</p>
      <hr> <p>Dear Eekoworld, I think the idea of EekoCreature is awesome! I think it is a good way to learn what choices to make when something actually comes up. Sometimes at school when I go out for recess I pick up every piece of trash or litter that I see. One time I told my teacher one time and she said to keep up the good work!</p> <p>— parrotlet, Age 8</p>
      <hr> <p>i think his is a great way to teach people on how to save the planet.</p> <p>— wwedude10, Age 10</p>
      <hr> <p>I honestly like the EekoCreature it's just so cool and i love the tail and the body which is actually everything.Ithink tht you should try to change the outfit everyday if you can!!!!!!</p> <p>— mileyandmand, Age 10</p>
      <hr> <p>eekocreature is awesome. my creature is DynamoBlade and I have about 500 points. Hope you see me</p> <p>— azeroflash, Age 9</p>
      <hr> <p>My pet is a sea monstor. I have 212 pts. My pet is very intelagant .He lives in the water. He also eats plants.You need 250 pts. to get them.</p> <p>— hunter, Age 7</p>
      <hr> <p>You should meet Chompstomp! She is soooo cute!</p> <p>— USchild, Age 10</p>
      <hr> <p>i think ekoocreature is a great way to tell how to save the enviorment</p> <p>— mullit, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=370" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=390" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7783<br><a href="detail_eekocreature.html@Start=370">Previous</a> | <a href="detail_eekocreature.html@Start=290">30</a> | <a href="detail_eekocreature.html@Start=300">31</a> | <a href="detail_eekocreature.html@Start=310">32</a> | <a href="detail_eekocreature.html@Start=320">33</a> | <a href="detail_eekocreature.html@Start=330">34</a> | <a href="detail_eekocreature.html@Start=340">35</a> | <a href="detail_eekocreature.html@Start=350">36</a> | <a href="detail_eekocreature.html@Start=360">37</a> | <a href="detail_eekocreature.html@Start=370">38</a> | 39 | <a href="detail_eekocreature.html@Start=390">40</a> | <a href="detail_eekocreature.html@Start=400">41</a> | <a href="detail_eekocreature.html@Start=410">42</a> | <a href="detail_eekocreature.html@Start=420">43</a> | <a href="detail_eekocreature.html@Start=430">44</a> | <a href="detail_eekocreature.html@Start=440">45</a> | <a href="detail_eekocreature.html@Start=450">46</a> | <a href="detail_eekocreature.html@Start=460">47</a> | <a href="detail_eekocreature.html@Start=470">48</a> | <a href="detail_eekocreature.html@Start=390">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

