{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>I have the best pet! I like my pet!How do you get so many points?HHHHEEEELLLLPPPPPP!</p> <p>— bunbun5000, Age 6</p>
      <hr> <p>my Eekocreature has 114 points! thank you for reading.</p> <p>— REBECCA, Age 7</p>
      <hr> <p>I TOTALLY agree with Tatinica. (Sorry......I'm not good at remembering names!) Kids can learn how to take care of the earth.</p> <p>— BrowniesA, Age 7</p>
      <hr> <p>I love eekocreature!When you pick a place on the map, you can feed your creature and EVERYTHING!!!! I love my eeko creature! It's a shark-tunafish, Think.</p> <p>— BrowniesA, Age 7</p>
      <hr> <p>I think Eco-Creature is a creative way to teach kids how to save our earth, recycle,and go green.!!!!!!!!!!!!!!!!!!! GO GREEN</p> <p>— Tanga9000, Age 11</p>
      <hr> <p>This is an awsome site for any body come on it is fun and you get make your own creature!!</p> <p>— Desigobuddy4, Age 12</p>
      <hr> <p>Eeko world is a very good web site that teachs children about the evironment and other things.</p> <p>— flowerstogo, Age 8</p>
      <hr> <p>Macy is my Eekocreature! She is part frog,lion,snake,chimp and bat! She lives on land. I call her species a:' Frompionatake'! I love her!</p> <p>— Waffles32, Age 12</p>
      <hr> <p>Eekocreature is amazing even my four year old brother plays it and loves it!</p> <p>— madelinep, Age 13</p>
      <hr> <p>my eeko creature has a turrtle shell and wrest manaty it is pretty awsome its in a small water area its name is macy go check it out.</p> <p>— aavarello, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=400" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=420" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7783<br><a href="detail_eekocreature.html@Start=400">Previous</a> | <a href="detail_eekocreature.html@Start=320">33</a> | <a href="detail_eekocreature.html@Start=330">34</a> | <a href="detail_eekocreature.html@Start=340">35</a> | <a href="detail_eekocreature.html@Start=350">36</a> | <a href="detail_eekocreature.html@Start=360">37</a> | <a href="detail_eekocreature.html@Start=370">38</a> | <a href="detail_eekocreature.html@Start=380">39</a> | <a href="detail_eekocreature.html@Start=390">40</a> | <a href="detail_eekocreature.html@Start=400">41</a> | 42 | <a href="detail_eekocreature.html@Start=420">43</a> | <a href="detail_eekocreature.html@Start=430">44</a> | <a href="detail_eekocreature.html@Start=440">45</a> | <a href="detail_eekocreature.html@Start=450">46</a> | <a href="detail_eekocreature.html@Start=460">47</a> | <a href="detail_eekocreature.html@Start=470">48</a> | <a href="detail_eekocreature.html@Start=480">49</a> | <a href="detail_eekocreature.html@Start=490">50</a> | <a href="detail_eekocreature.html@Start=500">51</a> | <a href="detail_eekocreature.html@Start=420">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

