{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>its awesome!!!!!!!!!! i LOVE the pets!:D</p> <p>— 4kdot, Age 7</p>
      <hr> <p>I think EekoCreature has made me look at the world and think OMG!!!!!!! Have I really done this???? I mean all the pollution in the seas and lakes are just incredible. I really feel sorry for all the wildlife that gets trapped in the nets and things.</p> <p>— duffy34671, Age 10</p>
      <hr> <p>i like eeko creatures because we can make our oen creatures</p> <p>— pracheeta, Age 7+</p>
      <hr> <p>This site is a good site 4 kids off all ages. You learn all about the environment and ways to help it.</p> <p>— RJH the awesome, Age 11</p>
      <hr> <p>I made my EekoCreature like that guy that talks about stuff</p> <p>— baraatwist, Age 8</p>
      <hr> <p>Thank you so much for creating Eeko world, I love to play on it. But how do I get help? Thanks again!</p> <p>— ecg123, Age 9</p>
      <hr> <p>I think that EekoCreature should use points from EekoHouse and EekoSchool so that people can use those points to get more interesting parts for their animals. I think that because I won a whole lot of points in EekoHouse and it didn't give me any points.</p> <p>— KMaxoSES, Age 10</p>
      <hr> <p>I think Eeko creatrures are cool becase you can make your own and they help you learn about taking care of are earth.And my Eeko craetrue is named Sunset what is all of your Eeko craetrues names?Please tipe back as sone as you can.</p> <p>— LTC123, Age 9</p>
      <hr> <p>my Creature is using her wings to get around instead of cars. these are my words, "reduce, reuse and recycle!"</p> <p>— bella, Age 8</p>
      <hr> <p>I think being a cheeko is SOOOO!!!!!!! cool you can find me in beaches. My nae is cutie.See you there!</p> <p>— semt, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=420" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=440" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7783<br><a href="detail_eekocreature.html@Start=420">Previous</a> | <a href="detail_eekocreature.html@Start=340">35</a> | <a href="detail_eekocreature.html@Start=350">36</a> | <a href="detail_eekocreature.html@Start=360">37</a> | <a href="detail_eekocreature.html@Start=370">38</a> | <a href="detail_eekocreature.html@Start=380">39</a> | <a href="detail_eekocreature.html@Start=390">40</a> | <a href="detail_eekocreature.html@Start=400">41</a> | <a href="detail_eekocreature.html@Start=410">42</a> | <a href="detail_eekocreature.html@Start=420">43</a> | 44 | <a href="detail_eekocreature.html@Start=440">45</a> | <a href="detail_eekocreature.html@Start=450">46</a> | <a href="detail_eekocreature.html@Start=460">47</a> | <a href="detail_eekocreature.html@Start=470">48</a> | <a href="detail_eekocreature.html@Start=480">49</a> | <a href="detail_eekocreature.html@Start=490">50</a> | <a href="detail_eekocreature.html@Start=500">51</a> | <a href="detail_eekocreature.html@Start=510">52</a> | <a href="detail_eekocreature.html@Start=520">53</a> | <a href="detail_eekocreature.html@Start=440">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

