{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>i like ekocreature because you get to feed it and i love feeding pets for making them healthy and strong!</p> <p>— maria1215100, Age 8</p>
      <hr> <p>I learned how to take care of the earth in eekocreature.I really like eekocreature.I didint know that you should go in a car wash to keep the water clean.</p> <p>— EKOMONSTER, Age 8</p>
      <hr> <p>I think EekoCreature is really cool because you get to make your own creature and you get to learn to take care of the enviroment at the same time!</p> <p>— Winifer3, Age 9</p>
      <hr> <p>Eeko creature is very cool.It helps you learn world health .What I also love about eeko creature that you earn points for your eeko creature THAT IS WHY I LOVE EEKO CRETURE!!!!!!!!!!!!!!!!!</p> <p>— kate995, Age 7</p>
      <hr> <p>Eecko creature is a good program .Now I can tell my family all about reduce ,reuse, and recycle.I can also tell my family about this website. That means that this website is going to have more good rates.</p> <p>— talbot, Age 11</p>
      <hr> <p>eekocreature is very helpful in teaching kids how to help keep the planet clean and trash free</p> <p>— turjanica245, Age 11</p>
      <hr> <p>i think eeko creature is really neat!!! i like it because it helps me learn about how i can help the earth. also i really love the cool creatures!!!</p> <p>— frengeta, Age 9</p>
      <hr> <p>Eekocreature is Awesome! I love it when my creature explores new lands and earning points to unlock Amazing animals! Eekocreature ROCKS!!!</p> <p>— Pikachu2450, Age 10</p>
      <hr> <p>eeko creature is awesom 2 ME!!!i didnt no subways were better than busses in fact i thot they were worse!!!PBS IS AWESOME DO U THINK THAT 2??!!</p> <p>— mypups12, Age 9</p>
      <hr> <p>I think eekocreature is cool because it lets you choose what you want your creature to be.</p> <p>— SnowFlake80, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=40" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=60" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7874<br><a href="detail_eekocreature.html@Start=40">Previous</a> | <a href="detail_eekocreature.html@Start=10">2</a> | <a href="detail_eekocreature.html@Start=20">3</a> | <a href="detail_eekocreature.html@Start=30">4</a> | <a href="detail_eekocreature.html@Start=40">5</a> | 6 | <a href="detail_eekocreature.html@Start=60">7</a> | <a href="detail_eekocreature.html@Start=70">8</a> | <a href="detail_eekocreature.html@Start=80">9</a> | <a href="detail_eekocreature.html@Start=90">10</a> | <a href="detail_eekocreature.html@Start=100">11</a> | <a href="detail_eekocreature.html@Start=110">12</a> | <a href="detail_eekocreature.html@Start=120">13</a> | <a href="detail_eekocreature.html@Start=130">14</a> | <a href="detail_eekocreature.html@Start=140">15</a> | <a href="detail_eekocreature.html@Start=60">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

