{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>I'm in 7th grade and I this site is awsome!!! It's great for all kids of all ages. It's also really fun answering questions and getting points for them. I love EekoCreature!!!!!!!!!!!!</p> <p>— Voldemort01, Age 12</p>
      <hr> <p>i think it is so cool mine has a shark head and a whale body how cool is that</p> <p>— 2009wwe, Age 8</p>
      <hr> <p>eeko creature is cool bcause she teaches me to have a good imagination</p> <p>— adogs10, Age 10</p>
      <hr> <p>Hi. EekoCreature is extremely fun. You can do all sorts of stuff. You can feed your animal , and you can help the world be clean. If you do come on , I hope you like it!</p> <p>— Heartgold2, Age 6</p>
      <hr> <p>Eekoworld is awesome! I spend hours on it, and the time just flies by!</p> <p>— Heartgold, Age 10</p>
      <hr> <p>oh my gosh!!!!!!! I LOVE EEKO CREATURE!!!!! THIS WEBSITE ROCKS!!!!! ONE OF MY FAVORITE SITES!!!!!!!</p> <p>— petz7, Age 11</p>
      <hr> <p>ecocreature is a way 4 me 2 learn and have fun at the same time i have learned that recycling is very important if we want to have better lives in 20 to 100 years from now tnx ecocreature!!!!!!!!</p> <p>— coolthang14, Age 12</p>
      <hr> <p>eeko creature is a great way for kids to express themselves. also, it teaches me millions of ways to halp the enviorment. i think everone should play on eekocreature. i even started a club based on it! i absoulutly iove it.</p> <p>— kasaca, Age 8</p>
      <hr> <p>Hello,welcome to EekoWorld!If you are come here and look!First,you need to log in to save your jumbled-up creature.Then this website is about our planet,if you take good care of it the animals and plants will be happy to see you do it!But if you don't the animals and plants will be sad then dead.You can go there to learn more about it and how to take care of it.Do you want to take care of our planet?I do.My jumbled-up creature's name is the Sea Shark.It is part shark,part tuna,part sea turtle,and part snake.Loco Cheeko is a printable game.When you make a jumbled-up creature first choose a acceptable animal part like a whale head,then you have to think what it eats like plants and meat,after that you have to what it does in one of these-air,land,water.Then you have to choose which landform it loves the most.If it has a red arrow it's yours.There's a lot of earth true or false facts.If you can do it right you get more points,but if you do it wrong you lose these.Points are very important,you can click locked animals if you have the same number like that or more than that,then if you have 2,000 points you can go to the Hall Of Fame!I think it's a very cool website!You should check it out!</p> <p>— Spongeo1111, Age 7</p>
      <hr> <p>I like the sea so i made an Eeko creature that is a mixture of sea creatures.</p> <p>— snaggie, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=520" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=540" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7786<br><a href="detail_eekocreature.html@Start=520">Previous</a> | <a href="detail_eekocreature.html@Start=440">45</a> | <a href="detail_eekocreature.html@Start=450">46</a> | <a href="detail_eekocreature.html@Start=460">47</a> | <a href="detail_eekocreature.html@Start=470">48</a> | <a href="detail_eekocreature.html@Start=480">49</a> | <a href="detail_eekocreature.html@Start=490">50</a> | <a href="detail_eekocreature.html@Start=500">51</a> | <a href="detail_eekocreature.html@Start=510">52</a> | <a href="detail_eekocreature.html@Start=520">53</a> | 54 | <a href="detail_eekocreature.html@Start=540">55</a> | <a href="detail_eekocreature.html@Start=550">56</a> | <a href="detail_eekocreature.html@Start=560">57</a> | <a href="detail_eekocreature.html@Start=570">58</a> | <a href="detail_eekocreature.html@Start=580">59</a> | <a href="detail_eekocreature.html@Start=590">60</a> | <a href="detail_eekocreature.html@Start=600">61</a> | <a href="detail_eekocreature.html@Start=610">62</a> | <a href="detail_eekocreature.html@Start=620">63</a> | <a href="detail_eekocreature.html@Start=540">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

