{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoCreature | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekocreature.jpg" alt="Talk about EekoCreature" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekocreature.gif" alt="Talk about EekoCreature"> <p>I love EekoCreature mine is Hagon!</p> <p>— hghfhdfh, Age 9</p>
      <hr> <p>i like playing eeko creature because i can get a lot of points to get more animals and stuff like that</p> <p>— ecoman67, Age 11</p>
      <hr> <p>My eeko creature is a snake and i already have 1025 pints....its awesome!</p> <p>— Kim, Age 10</p>
      <hr> <p>IT IS SO MUCH FUN AND I GET A HIGH ECOCATION!(EDUCATION) TOMOROW I HAVE AN ECOSYSTEMS TEST AT SCHOOL AND I KNOW I WILL GET 100% THANK YOU ECOWORLD! AND EPACIALLY ECOCREATURE</p> <p>— Sunny5, Age 12</p>
      <hr> <p>I really like EekoCreature. It helps me learn more about how to keep the earth clean. I didn't know that subways were energy efficient.</p> <p>— wtbj, Age 10</p>
      <hr> <p>I think that the eeko creatures are cool and they are like real animals except there is no food cain</p> <p>— princessklie, Age 10</p>
      <hr> <p>i love eekocreature it is fun and easy i think if everybody played this game they would love it p.s. i think cheeko in eekoschool is a funny name haha</p> <p>— eekogreen, Age 10</p>
      <hr> <p>I like EekoCreature because I like to learn about the stuff they say and getting a right or wrong answer</p> <p>— katy11208, Age 9</p>
      <hr> <p>I think EekoHouse is a good game to teach kids to ceep Mothor Earth helthy.</p> <p>— Leilani, Age 7</p>
      <hr> <p>sometimes people inturumpt me while i am doing an action i wonder if you could that !!!!</p> <p>— lovegirl7, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekocreature.html@Start=50" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekocreature.html@Start=70" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 7874<br><a href="detail_eekocreature.html@Start=50">Previous</a> | <a href="detail_eekocreature.html@Start=10">2</a> | <a href="detail_eekocreature.html@Start=20">3</a> | <a href="detail_eekocreature.html@Start=30">4</a> | <a href="detail_eekocreature.html@Start=40">5</a> | <a href="detail_eekocreature.html@Start=50">6</a> | 7 | <a href="detail_eekocreature.html@Start=70">8</a> | <a href="detail_eekocreature.html@Start=80">9</a> | <a href="detail_eekocreature.html@Start=90">10</a> | <a href="detail_eekocreature.html@Start=100">11</a> | <a href="detail_eekocreature.html@Start=110">12</a> | <a href="detail_eekocreature.html@Start=120">13</a> | <a href="detail_eekocreature.html@Start=130">14</a> | <a href="detail_eekocreature.html@Start=140">15</a> | <a href="detail_eekocreature.html@Start=150">16</a> | <a href="detail_eekocreature.html@Start=70">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=12"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

