{% extends 'curiousgeorge/busyday/includes/busyDayPage.html.twig' %}

{% set desc = "" %}
{% set tags = '' %}
{% set pageTitle = "Game Maker | PBS KIDS" %}
{% set spanish = false %}
{% set bodyAtrs = '  ' %}


{% set overlayWrapper = false %}

{% block contentArea %}<div id="content-area">
	<div id="flashContent" style="height:600px;padding-left:50px;">
		<a href="https://www.adobe.com/go/getflash"><img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"></a>
		<p>This page requires Flash Player version 9.0.115 or higher.</p>
	</div>

	<script type="text/javascript">
		var so = new SWFObject("gamemaker.swf", "gamemaker", "800", "600", "9.0.115", "#3b96c5");
		so.addVariable("gameMode","normal");
		so.addParam("quality","best");
		so.addParam("play","true");
		so.addParam("menu","true");
		so.addParam("allowFullScreen","true");
		so.addParam("allowscriptaccess","always");
        // Adding wmode param to approprately stack swf obj in IE -- 4/27/2015 INye
        so.addParam("wmode","opaque");
		so.setAttribute("id","gamemaker");
		so.setAttribute("name","gamemaker");
		PBS_enable_cdn(so);
		so.write("flashContent");
	</script>

</div>{% endblock %}