{% extends 'martha/includes/marthaPage.html.twig' %}
{% set pageTitle = '| PBS KIDS' %}


{% block specialHead %}<script type="text/javascript" src="/martha/j/hasFlash.js"></script><script type="text/javascript" src="j/navbar1000_main.js"></script><style type="text/css">/* <![CDATA[ */@import "css/base.css";body { font: 12px arial,helvetica,sans-serif; }span { color: #666; }p {	color: #222;	width: 585px;	margin: 16px 0 0 210px;}a { color: #66c; }div#footernav {	font-size:12px;	margin-top:1em;}div#boilerplate p {	font-size:10px;}/* ]]> */</style>{% endblock %}


{% set bodyOpeningTag = '<body class="marthaLanding">' %}
{% set selectedNav = '' %}
{% set wordQuestInclude = false %}


{% block mainContent %}<div id="flashcontent">
 <div id="getflash">
  To play the interactive games and videos on this site, you'll need the FREE Flash player version 9 or higher. <a href="http:pbskids.org/cgi-registry/kidsbridge.cgi?context=martha_pt_flash">Get the Flash player here</a>.
 </div>
</div><script type="text/javascript">var fo = new SWFObject("msp_master.swf", "indx", "1050", "540", "9", "#9ed45c");	fo.addVariable("sctn","home");	fo.addVariable("page","homepage");	fo.addVariable("relative","0");	fo.addVariable("root","");    fo.addParam("allowScriptAccess","always");fo.write("flashcontent");</script>{% endblock %}


{% set boilerplateNav = true %}