{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . George\'s About Me Page | PBS Kids' %}
{% set desc = 'Get the story on George through his profile page. Understand his love for woodworking. Take a poll about the blues and see his favorite books.' %}
{% set keywds = 'George, ARTHUR, profile, favorites, interests' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-cc9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/george_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/george_top.swf", "george", "960", "363", "9", "#cccc99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "about");			   fo.addVariable("char", "george");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-george">George's photos</a>
  <div id="friendsContent">
   <h1>A little about me</h1>
   <hr class="friendsRuler">
   <dl id="aboutMe">
    <dt>
     Best Thing Ever:
    </dt>
    <dd>
     Working in the woodshop with my dad.
    </dd>
    <dt>
     Worst Thing Ever:
    </dt>
    <dd>
     When my dummy Wally fell into the river!
    </dd>
    <dt>
     Favorite Adventure:
    </dt>
    <dd>
     Playing my own song for Koko Taylor and Taj Mahal.
    </dd>
   </dl>
   <div id="pollWrapper">
    <div id="pollContent">
     <h2>My Poll</h2>
     <form action="/cgi-registry/poll/poll.pl" method="post" id="myPoll">
      <fieldset>
       <p>Do you ever get the blues?</p>
       <ul>
        <li><input type="radio" name="q1" id="ans1" value="1" checked> <label for="ans1">Yes</label></li>
        <li><input type="radio" name="q1" id="ans2" value="2"> <label for="ans2">No</label></li>
       </ul>
      </fieldset> <input type="hidden" name="results" value="arthur/friends/george/results.html"> <input type="hidden" name="site_id" value="arthur"> <input type="hidden" name="poll_id" value="george"> <input type="hidden" name="question1.exists" value="true"> <a href="#p" onclick="document.forms[0].submit();" id="pollSubmitBtn">submit</a>
     </form>
    </div>
    <div id="pollBGBtm"></div>
   </div>
   <h1>My Favorite Books</h1>
   <hr class="friendsRuler">
   <ul id="myBooks">
    <li><img src="../../i/friends/books/george_book1.jpg" width="148" height="117" alt="Catching the Wind book cover" border="0"> <h4>Catching the Wind</h4> <p>by Joanne Ryder <br> What would it be like to be a wild goose for just one day? Read this book and find out.</p></li>
    <li><img src="../../i/friends/books/george_book2.jpg" width="148" height="117" alt="Look Alikes Jr. book cover" border="0"> <h4>Look Alikes Jr.</h4> <p>by Joan Steiner<br> The more you look at these photos, the more you see. For example, there's a rocket that's really made from a thermos, a spool of thread, a nail clipper, and much more.</p></li>
    <li><img src="../../i/friends/books/george_book3.jpg" width="148" height="117" alt="Stephen Biesty's Incredible Explosions book cover" border="0"> <h4>Stephen Biesty's Incredible Explosions</h4> <p>by Stephen Biesty and Richard Platt<br> There's lots of information and fun in these big cut-away illustrations. Find the remote-control squid in the movie studio, the toilet in the space station, and the mice in the windmill.</p></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
   <li><a href="/arthur/games/gogeorgego/index.html" id="rcGoGeorge">Go! George Go!</a></li>
   <li><a href="/arthur/games/sugarbowlpoll/index.html" id="rcPoll">Sugar Bowl Poll</a></li>
  </ul>
 </div>
</div>{% endblock %}

