#header {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 22px; color: #FFF;}
#subheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #FFF;}

td.dateheader { font-family: verdana, arial, sans; font-size: 15px; font-weight: bold; color: #fff; background: #3A78DD; }

td.show {font-family: verdana, arial, sans; font-size: 11px; color: #fff; background: #6F9EE2;}

td.show a{ text-decoration: underline; color: #fff; font-weight: bold; }

td.time { font-family: verdana, arial, sans; font-size: 12px; color: #fff; font-weight: bold; vertical-align: top; background: #6F9EE2;}

.fineprint {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000;}
a.fineprint:link {text-decoration: underline;}
a.fineprint:visited {text-decoration: underline;}
a.fineprint:hover {text-decoration: none;}
