/*
------------------------------------------------------ 
PBS KIDS TV Schedules CSS
------------------------------------------------------
*/


/*
======================================================
Hybrid Page - Global Styles
======================================================
*/

body
{
background-color: #fff;
margin: 0 auto 5px auto;
text-align: center;
color: #000;
}

body, td
{
font: 11px Verdana, Arial, Helvetica, sans-serif;
}

td
{
vertical-align: top;
}

.pageheader
{
background-color: #14c5e2;
width: 100%;
height: 80px;
text-align: left;
margin-bottom: 10px;
}

.pageheader img#backarrow
{
display: none;
}

table.container
{
width: 100%
margin-bottom: 10px;
}

table.container p
{
margin: 6px 0 0 0;
padding: 0;
}

table.container td.sidebar
{
display: none;
}

table.container td.maincontent
{
background-color: #d4ff1d;
text-align: center;
}

.fineprint
{
display: none;
}

/*
======================================================
TV Schedules - Global Styles
======================================================
*/

#tvschedules
{
font: 11px/13px arial, verdana, sans-serif;
color: #000;
margin: 5px 0 0 0;
}

#tvschedules a:link,
#tvschedules a:visited
{
text-decoration: underline;
color: #000;
}

#tvschedules a:hover,
#tvschedules a:active
{
text-decoration: none;
color: #000;
}

#tvschedules #whatispbs
{
margin: 30px 0 0 0;
text-align: left;
}

#tvschedules #backtoprogram
{
display: none;
}

#tvschedules #backtoprogram #link
{
display: none;
}

#tvschedules #backtoprogram #link a:link,
#tvschedules #backtoprogram #link a:visited,
#tvschedules #backtoprogram #link a:active,
#tvschedules #backtoprogram #link a:hover
{
display: none;
}


/*
======================================================
TV Schedules - Header Styles
======================================================
*/

.schedulepagehead
{
font-size: 18px;
line-height: 20px;
font-weight: 900;
margin: 0 0 11px 0;
}

#tvschedules #tvschedulesheader
{
width: 100%;
padding: 0;
margin: 0 0 10px 0;
}

#tvschedules .tvschedulesheaderdate
{
font-size: 15px;
color: #000;
margin: 0;
display: inline;
}

#tvschedules #tvschedulesnavcontainer
{
white-space: nowrap;
vertical-align: middle;
}

#tvschedules #tvschedulesnavcontainer form
{
display: inline;
margin: 0 0 0 20px;
}

#tvschedules input#submitbutton
{
font-family: arial, verdana, sans-serif;
font-size: 11px;
margin: -3px 0 0 0;
padding: 1px;
background: #fff;
border: 1px solid #000;
vertical-align: bottom;
}

#tvschedules select
{
font-size: 11px;
vertical-align: middle;
margin: -3px 0 0 0;
}

#tvschedules #tvschedulesnav
{
margin: 0 0 20px 0;
}

#tvschedules #tvschedulesnav img
{
margin: 0 25px 0 0;
}

#tvschedules #tvscheduleskey
{
margin: 20px 0 0 0;
}

#tvschedules .tvscheduleskeyicon
{
margin: 0 0 0 20px;
display: inline;
}

#tvschedules .tvscheduleskeyicon img
{
vertical-align: middle;
}

#tvschedules #tvscheduleskeydigital
{
margin: 5px 0 0 100px;
}

#tvschedules #printablestationcommonname
{
display: block;
font-size: 14px;
color: #000;
font-weight: 900;
text-align: left;
margin-bottom: 6px;
}


/*
======================================================
TV Schedules - Calendar Styles
======================================================
*/

#tvschedules #tvschedulescalendarcontainer
{
display: none;
}

#tvschedules #tvschedulescalendarcontainer table
{
display: none;
}


#tvschedules #tvschedulescalendar
{
margin: 0 auto;
}


#tvschedules #tvschedulescalendar a:link,
#tvschedules #tvschedulescalendar a:visited,
#tvschedules #tvschedulescalendar a:hover,
#tvschedules #tvschedulescalendar a:active
{
text-decoration: none;
color: #fff;
}

#tvschedules #tvschedulescalendar td
{
width: 26px;
height: 20px;
text-align: center;
vertical-align: middle;
}

#tvschedules .calendarmonthheader
{
font-size: 14px;
font-weight: 900;
color: #74b836;
padding: 0 0 2px 0;
text-align: left;
margin-left: 76px;
white-space: nowrap;
}

#tvschedules .calendarday
{
text-align: center;
vertical-align: middle;
padding: 5px;
background-color: #a4db2a;
}

#tvschedules .calendardayoff
{
text-align: center;
vertical-align: middle;
padding: 5px;
background-color: #f9f0c5;
}

#tvschedules .calendardaytoday
{
text-align: center;
vertical-align: middle;
padding: 5px;
background-color: #14c5e2;
color: #fff;
}

#tvschedules #tvschedulescalendar .calendarday a:link,
#tvschedules #tvschedulescalendar .calendarday a:visited,
#tvschedules #tvschedulescalendar .calendarday a:hover,
#tvschedules #tvschedulescalendar .calendarday a:active,
#tvschedules #tvschedulescalendar .calendardaytoday a:link,
#tvschedules #tvschedulescalendar .calendardaytoday a:visited,
#tvschedules #tvschedulescalendar .calendardaytoday a:hover,
#tvschedules #tvschedulescalendar .calendardaytoday a:active
{
color: #fff;
text-decoration: none;
}

#tvschedules .calendardayselected
{
text-align: center;
vertical-align: middle;
padding: 5px;
background-color: #f0d87d;
color: #000;
font-weight: 900;
}

#tvschedules .calendardayselected a:link,
#tvschedules .calendardayselected a:visited,
#tvschedules .calendardayselected a:hover,
#tvschedules .calendardayselected a:active
{
color: #000;
}

/*
======================================================
TV Schedules - Station & Feed Styles
======================================================
*/

#tvschedules #stationchannelscontainer
{
margin: 0 auto;
width: auto;
text-align: center;
}

#tvschedules #stationchannels
{
padding: 0;
text-align: center;
width: 130px;
margin: 20px auto 0 auto;
}

#tvschedules .stationblock
{
display: none;
}

#tvschedules .stationblockon
{
font-size: 14px;
font-weight: 900;
}

#tvschedules #stationchannels a:link,
#tvschedules #stationchannels a:visited,
#tvschedules #stationchannels a:hover,
#tvschedules #stationchannels a:active
{
color: #fff;
text-decoration: none;
}

#tvschedules table#stationlogo
{
display: none;
}

#tvschedules #stationchannels .stationblock td.stationcommonname,
#tvschedules #stationchannels .stationblockon td.stationcommonname
{
width: 98px;
font-size: 12px;
text-align: center;
margin-right: 4px;
}

#tvschedules #findstation a:link
{
display: none;
}

/*
======================================================
TV Schedules - Grid Styles
======================================================
*/


#tvschedules form.rememberstation {
margin: 0;
padding: 0;
font-size: 14px;
}

#tvschedules #stationlist {
background: url(../tvschedules/images/stationlist-bground.gif);
margin: 10px auto 0 auto;
width: 430px;
}

#tvschedules #stationlist td {
vertical-align: middle;
text-align: left;
color: #0d8693;
}

#tvschedules #stationlist table {
width: 420px;
margin: 0 auto;
}

#tvschedules #stationlist td h2,
#tvschedules #stationlist td h2 a:link,
#tvschedules #stationlist td h2 a:visited,
#tvschedules #stationlist td h2 a:hover,
#tvschedules #stationlist td h2 a:active
{
margin: 0;
padding: 0;
font-size: 14px;
text-decoration: none;
color: #0d8693;
}

#tvschedules #stationlist td h2 a:link,
#tvschedules #stationlist td h2 a:visited,
#tvschedules #stationlist td h2 a:active
{
text-decoration: none;
}

#tvschedules #stationlist td h2 a:hover
{
text-decoration: underline;
}

#tvschedules #wrongstate
{
margin: 0 auto;
padding-top: 10px;
color: #0d8693;
font-size: 12px;
font-weight: bold;
}

#tvschedules #tvschedulesgridtable
{
width: 100%;
}

#tvschedules .gridcontainer
{
vertical-align: top;
}

#tvschedules #gridheader
{
display: none;
}

#tvschedules .gridheaderlinkscontainer
{
width: 100%;
padding: 0;
}

#tvschedules td.gridheaderlinks,
#tvschedules td.gridheaderlinkscenter
{
white-space: nowrap;
vertical-align: middle;
}

#tvschedules td.gridheaderlinks
{
padding: 10px 0 10px 0;
}

#tvschedules td.gridheaderlinkscenter
{
padding: 0 35px 0 35px;
}

#tvschedules .grid
{
margin-bottom: 6px;
padding: 0;
width: 100%;
}

#tvschedules .grid a:link,
#tvschedules .grid a:visited
{
text-decoration: none;
color: #000;
}

#tvschedules .grid a:hover,
#tvschedules .grid a:active
{
text-decoration: underline;
color: #000;
}

#tvschedules .grid td
{
vertical-align: top;
}

#tvschedules .grid td.programimage
{
display: none;
}

#tvschedules .grid td.griddate
{
font-weight: 900;
}

#tvschedules .grid td.griddatetoday
{
font-weight: 900;
}

#tvschedules .grid td.griddate,
#tvschedules .grid td.griddatetoday,
#tvschedules .grid td.gridtime,
#tvschedules .grid td.gridtimenowplaying
{
padding: 8px;
vertical-align: middle;
}

#tvschedules .grid td.programairdate
{
width: 150px;
padding: 8px;
vertical-align: top;
}

#tvschedules .grid td.gridtimenowplaying,
#tvschedules .grid td.gridtime,
#tvschedules .grid td.programairdate
{
font-size: 14px;
font-weight: 900;
color: #000;
}

#tvschedules .grid td.gridtime
{
vertical-align: top;
width: 80px;
}

#tvschedules .grid td.gridtimenowplaying
{
height: 50px;
}

#tvschedules .grid td.gridtimemain
{
width: 14%;
text-align: left;
vertical-align: middle;
}

#tvschedules .grid td.gridtimemainnav
{
background-color: #dab323;
}

#tvschedules .grid span.gridtimeheader
{
text-transform: uppercase;
font-weight: 900;
white-space: nowrap;
color: #000;
}


#tvschedules .grid td.gridprogram,
#tvschedules .grid .gridprogramnowplaying
{
vertical-align: middle;
}

#tvschedules .grid td.gridprogram,
#tvschedules .grid td.gridprogramnowplaying,
#tvschedules .grid td.programinfo
{
padding: 8px;
color: #000;
}

#tvschedules .grid td.gridprogram a:link,
#tvschedules .grid td.gridprogram a:visited,
#tvschedules .grid td.gridprogram a:hover,
#tvschedules .grid td.gridprogram a:active,
#tvschedules .grid td.gridprogramnowplaying a:link,
#tvschedules .grid td.gridprogramnowplaying a:visited,
#tvschedules .grid td.gridprogramnowplaying a:hover,
#tvschedules .grid td.gridprogramnowplaying a:active
{
color: #000;
text-decoration: none;
}

#tvschedules .grid td.gridprogram a:hover,
#tvschedules .grid td.gridprogramnowplaying a:hover
{
text-decoration: underline;
}

#tvschedules .grid td.gridprogram .programtitle,
#tvschedules .grid td.gridprogram .programtitle a:link,
#tvschedules .grid td.gridprogram .programtitle a:visited,
#tvschedules .grid td.gridprogram .programtitle a:hover,
#tvschedules .grid td.gridprogram .programtitle a:active,
#tvschedules .grid td.gridprogramnowplaying .programtitle,
#tvschedules .grid td.gridprogramnowplaying .programtitle a:link,
#tvschedules .grid td.gridprogramnowplaying .programtitle a:visited,
#tvschedules .grid td.gridprogramnowplaying .programtitle a:hover,
#tvschedules .grid td.gridprogramnowplaying .programtitle a:active  
{
font-size: 14px;
font-weight: 900;
}


#tvschedules .grid td.gridprogramtoday
{
background-color: #e9c954;
}

#tvschedules .grid td.gridnodata
{
background-color: #dfd3a9;
}

#tvschedules .grid td.gridprogramend
{
display: none;
}

/*
======================================================
TV Schedules - Program Specific Schedule Styles
(some of these are built in with the grids styles above)
======================================================
*/

#tvschedules #programscheduleheader
{
display: none;
}

#tvschedules .grid td.programairdate .date
{
font-size: 16px;
}

#tvschedules .grid td.programinfo
{
vertical-align: top;
color: #000;
}

#tvschedules .grid td.programinfo .episode
{
margin-bottom: 10px;
}

#tvschedules .grid td.programinfo .time
{
font-size: 14px;
font-weight: 900;
}

#tvschedules .grid td.programinfo .title
{
font-size: 12px;
font-weight: 900;
}

#tvschedules .grid td.programinfo .description
{
font-size: 11px;
}


