{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Backstreet . AOL Chat Transcript | PBS Kids' %}
{% set desc = 'Play songs from ARTHUR and create your own dances for them by using Prunellas dance cards.' %}
{% set keywds = 'music, dance, perform, movement' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-9fc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="/arthur/backstreet/index.html"><h4 id="backstreetHeader">Backstreet Boys In Elwood City</h4></a>
  <ul id="printSideNav">
   <li><a href="/arthur/backstreet/video/index.html"><span>Video Clips</span></a></li>
   <li><a href="/arthur/backstreet/lyrics/nothingbutmusic.html"><span>Song Lyrics</span></a></li>
   <li><a href="/arthur/backstreet/coloring/backstreet.html"><span>BSB Coloring</span></a></li>
   <li><a href="/arthur/backstreet/coloring/ustink.html"><span>U Stink Coloring</span></a></li>
   <li><a href="/arthur/backstreet/poster/index.html"><span>Printable Poster</span></a></li>
   <li><a href="/arthur/backstreet/chat/index.html" class="selected"><span>AOL Chat</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content backstreet">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>AOL Chat Transcript</h1>
    </div>
   </div>
   <div id="backstreetContent">
    <p>On August 29, 2002, Arthur and Muffy chatted with ARTHUR fans on AOL Live about what it was like to work with the Backstreet Boys on the <span class="title">It's Only Rock 'n' Roll</span> special. Here are the details on who said what!</p>
    <dl>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      WOW, Muffy and Arthur it is great to have you here with us tonight. Members have been sending in their questions for you...so let's go ahead and get started.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      When will the episode featuring the Backstreet Boys air?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      It supposed to air on Sept. 1, which is next Sunday, from 8-9PM. But you should check your local listings.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Hey Muffy and Arthur! How are you? You guys rock! I have two questions... how is it like working with the Backstreet Boys???
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      It was my dream come true working with the Backstreet Boys, but of course it was their dream come true working with me.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Some people think that Arthur is a show for kids... what do you think about that? Is it a show for kids?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      I think 'Arthur' is for kids of all ages. It's my parents' favorite show. My baby sister loves it too.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Are the aardvark Backstreet boys going to have the same voices?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      Yes. The real BSB filmed the show for us.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Have you ever starred in a movie before?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      No, but we're about to start a movie. An 'Arthur' movie is being made right now and of course I'm the star. ;-)
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      A member wants to know if you can share with us what the movie is about?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      It's about a film being made in Elwood City. But I can't say much more because I've been sworn to secrecy.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      If you could be any other animal, what would it be and why?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      I would be a kitty-cat.
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      I would be a dog like Pal.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      "Will you guys be close friends Like Muffy and Francine are?"
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      No one can ever be as close to me as Francine, but Arthur comes second.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Will Arthur move on to 4th grade?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      Yes, but I'm not sure when. It will be really hard to leave Ratburn.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      Ah back to my favorites the Backstreet Boys... a member asks Muffy, is Nick as cute in real life as he is on TV?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      He's cuter. Although, not quite as cute as me.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Why does Arthur wear glasses?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      Because I need them to read.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Hi Arthur, I just want to know do you have a girlfriend because I really like you?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      A girlfriend? NO!!!!!!! But I have a lot of girls who are my friends. Including you. :-)
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      A member wants to know if you get along with your sister!
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      I get along with Baby Kate just great. D.W. is another story.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Arthur, are there any new characters on the show?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      That's a secret, but watch the show and you'll find out.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      How old were you when you started on the show?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      I was eight years old, three months and 22 days.
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      I was eight years old, three months and 29 days.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      Muffy, another member wants to know how much money you have?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      A gazillion dollars. Make that two-gazillion.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      Someone wants to know if Bionic Bunny is fun.
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      Bionic Bunny is still my favorite TV show. But Love Ducks is my second favorite TV show.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      A member wants to talk about BSB again...
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Is it cool meeting the Backstreet boys????? from Arthur or muffy
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      Yea, pretty cool. Not as cool as meeting Bionic Bunny though.
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      What are you talking about Arthur? The BSB absolutely, totally completely RULE!!
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      A member asks -- Who is your best friend?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      I have two best friends -- Buster and Pal.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      A member wants to know -- How old are you and is your life crazy like regular kids?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      I'm eight years old and my life is sooooooo crazy. I have to go to school, do my homework, count my money, call Francine 10,000 times -- all before my bedtime. (Which is 8:00.)
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Muffy, who is your favorite backstreet boy?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! Nick! And Howie is my second favorite!
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      What do you what to be when you grow up?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      Rich.
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      A vet. Or maybe the guy who sells hotdogs at the ballpark.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Muffy, would you like D.W. to be your sister?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      Yes. D.W. and I have a lot in common. We're both smart and cute.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      Someone wants to know if Binky is really mean to you?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      Binky is a sweetie-pie. (He just doesn't like anyone to know).
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Arthur and Muffy, I love your website, especially Muffy's wardrobe? Do you spend much time adding new stuff to the site and coming up with new games?
     </dd>
     <dt>
      Muffy:
     </dt>
     <dd>
      The people who work on my website work really, really hard. I only hire the best.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Is Pal going to get a girlfriend this year??
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      No. Pal's best friend is me.
     </dd>
     <dt>
      Question:
     </dt>
     <dd>
      Arthur will you be going in business with your dad some day?
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      I don't think so because I don't like to cook. I only like to eat.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      OHHH, I am so sad it is over... you guys have been great.
     </dd>
     <dt>
      Arthur:
     </dt>
     <dd>
      Be sure to check out the Backstreet Boys in the episode 'Its Only Rock &amp; Roll.' It's on PBS, Sunday, September 1.
     </dd>
     <dt>
      AOLiveHost:
     </dt>
     <dd>
      Also check out the website... at keyword: PBS Kids. It has great Arthur stuff and will help you find show times and channels. Thanks guys. Have a great night.
     </dd>
     <dt>
      Arthur &amp; Muffy:
     </dt>
     <dd>
      Thanks.
     </dd>
    </dl>
    <p class="copy">Copyright 2002 America Online, Inc. All Rights Reserved.</p>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
   <li><a href="/arthur/games/songbook/index.html" id="rcSongBook">Song Book</a></li>
   <li><a href="/arthur/video/karaoke.html" id="rcKaraoke">Karaoke</a></li>
  </ul>
 </div>
</div>{% endblock %}

