{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Go Green Challenge | PBS Kids' %}
{% set desc = 'Go Green and be good to the environment with characters from ARHTUR! Choose a green challenge topic, decorate, the page, then print it out!' %}
{% set keywds = 'green, environment, water, energy, transportation, tips' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="gogreenbg">
 <div id="mainFeature">
  <div id="swf_content">
   <div id="flashcontent" class="gogreen">
    <p>You can <a href="https://get.adobe.com/flashplayer/?no_redirect">download the latest version of Flash</a> for free.<br><br>Once you have installed Flash 9 or later, come back here to <a href="https://pbskids.org/arthur/games/groovygarden/index.html">play the game.</a><br><br><a href="/arthur/parentsteachers/help/answers/tech_shockwave.html?cat=techsupport">What's Flash?</a>.</p>
   </div>
   <script type="text/javascript">				   var fo = new SWFObject("pledge.swf", "groovygarden", "960", "600", "9", "#ffffff");				   fo.addParam("allowScriptAccess", "always");				  fo.write("flashcontent");					</script>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/print/fetch/index.html" id="rcFetch">Go Fetch!</a></li>
   <li><a href="/arthur/games/gogeorgego/index.html" id="rcGoGeorge">Go! George Go!</a></li>
   <li><a href="/arthur/games/groovygarden/index.html" id="rcGroovy">Groovy Garden</a></li>
  </ul>
 </div>
</div>{% endblock %}

