{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Holiday . Sue Ellen\'s Scrapbook | PBS Kids' %}
{% set desc = 'Check out the limerick written by Sue Ellen and find out what poems called limericks are all about.' %}
{% set keywds = 'limerick, poems, writing' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-9c9">
 <div class="ruler"></div>
 <div class="print-instr holiday"><a href="/arthur/holiday/index.html"><h4 id="holidayHeader">Elwood City Celebrates</h4></a>
  <ul id="printSideNav">
   <li><a href="../dressup/index.html"><span>D.W.'s Dress Up</span></a></li>
   <li><a href="../scrapbook/index.html" class="selected"><span>Sue Ellen's Scrapbook</span></a></li>
   <li><a href="../glossary/index.html"><span>Brain's Big Book</span></a></li>
   <li><a href="../coloring/index.html"><span>Holiday Coloring Pages</span></a></li>
  </ul>
 </div>
 <div id="printableArea"><a name="top"></a>
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left wide">
     <h1>Sue Ellen's Scrapbook</h1>
    </div>
   </div>
   <div id="holidayTermsContent">
    <div id="holidayTermsNav">
     <ul id="innerNav">
      <li><a href="baxterday.html">Baxter Day</a> &nbsp;| &nbsp;</li>
      <li><a href="christmas.html" class="selected">Christmas</a> | &nbsp;</li>
      <li><a href="hanukkah.html">Hanukkah</a> | &nbsp;</li>
      <li><a href="kwanzaa.html">Kwanzaa</a> | &nbsp;</li>
      <li><a href="newyear.html">New Year</a></li><br>
      <li><a href="ramadan.html">Ramadan and Eid ul-Fitr</a> | &nbsp;</li>
      <li><a href="stlucia.html">St. Lucia</a> | &nbsp;</li>
      <li><a href="volunteering.html">Volunteering</a> | &nbsp;</li>
      <li><a href="solstice.html">Winter Solstice</a></li>
     </ul>
    </div>
    <div class="printable-nav no-rule">
     <div class="pagination-nav"><span class="prev">Prev</span> <span class="next">Next</span>
      <p>1 of 8 pages</p>
     </div>
    </div>
    <ul class="print-pages" id="holidayScrapbookPix">
     <li id="christmas1">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/christmas1.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Christmas</h2>
        <p>Christmas is the holy Christian celebration of the birth of Jesus. In preparation for Christmas Day, Arthur goes shopping to buy presents for his family. People give presents at Christmas to remind them of the gifts that the shepherds and Wise Men brought when Jesus was born.</p>
       </dd>
      </dl></li>
     <li id="christmas2">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/christmas2.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Christmas</h2>
        <p>D.W. wrote to Santa with a list of the presents she wanted. Grandma Thora says that the original Santa Claus was St. Nicholas. He used to go around to people's houses and throw gold coins into the windows to celebrate the winter festival of Yule.</p>
       </dd>
      </dl></li>
     <li id="christmas3">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/christmas3.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Christmas</h2>
        <p>Mr. Read decided to make an historic Christmas dinner. He found a book about what people ate 2,000 years ago when Jesus was born. I think Arthur would rather have the traditional turkey and ham dinner!</p>
       </dd>
      </dl></li>
     <li id="christmas4">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/christmas4.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Christmas</h2>
        <p>On Christmas Eve, the Reads go to church for a special service.</p>
       </dd>
      </dl></li>
     <li id="christmas5">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/christmas5.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Christmas</h2>
        <p>During the night, Santa lands his sleigh on the roof, comes down the chimney and puts presents under the Christmas tree. The tree is decorated with colored lights, popcorn strings, and tinsel. What a great thing to wake up to!</p>
       </dd>
      </dl></li>
    </ul>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/holiday/scrapbook/index.html" id="rcBrainBook">Brain's Big Book of Terms</a></li>
   <li><a href="/arthur/holiday/dressup/index.html" id="rcDressUp">DW Dress Up</a></li> <!--<li><a href="/arthur/holiday/coloring/index.html" id="rcHolidayColoring">Holiday Coloring Page</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

