{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Holiday . Sue Ellen\'s Scrapbook | PBS Kids' %}
{% set desc = 'Check out the limerick written by Sue Ellen and find out what poems called limericks are all about.' %}
{% set keywds = 'limerick, poems, writing' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-9c9">
 <div class="ruler"></div>
 <div class="print-instr holiday"><a href="/arthur/holiday/index.html"><h4 id="holidayHeader">Elwood City Celebrates</h4></a>
  <ul id="printSideNav">
   <li><a href="../dressup/index.html"><span>D.W.'s Dress Up</span></a></li>
   <li><a href="../scrapbook/index.html" class="selected"><span>Sue Ellen's Scrapbook</span></a></li>
   <li><a href="../glossary/index.html"><span>Brain's Big Book</span></a></li>
   <li><a href="../coloring/index.html"><span>Holiday Coloring Pages</span></a></li>
  </ul>
 </div>
 <div id="printableArea"><a name="top"></a>
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left wide">
     <h1>Sue Ellen's Scrapbook</h1>
    </div>
   </div>
   <div id="holidayTermsContent">
    <div id="holidayTermsNav">
     <ul id="innerNav">
      <li><a href="baxterday.html">Baxter Day</a> &nbsp;| &nbsp;</li>
      <li><a href="christmas.html">Christmas</a> | &nbsp;</li>
      <li><a href="hanukkah.html">Hanukkah</a> | &nbsp;</li>
      <li><a href="kwanzaa.html">Kwanzaa</a> | &nbsp;</li>
      <li><a href="newyear.html">New Year</a></li><br>
      <li><a href="ramadan.html" class="selected">Ramadan and Eid ul-Fitr</a> | &nbsp;</li>
      <li><a href="stlucia.html">St. Lucia</a> | &nbsp;</li>
      <li><a href="volunteering.html">Volunteering</a> | &nbsp;</li>
      <li><a href="solstice.html">Winter Solstice</a></li>
     </ul>
    </div>
    <div class="printable-nav no-rule">
     <div class="pagination-nav"><span class="prev">Prev</span> <span class="next">Next</span>
      <p>1 of 8 pages</p>
     </div>
    </div>
    <ul class="print-pages" id="holidayScrapbookPix">
     <li id="ramadan1">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/ramadan1.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Ramadan</h2>
        <p>I have a pen pal named Ayah who is Muslim. During the Islamic month of Ramadan, she fasts from sunrise to sunset every day. (That means she doesn't eat or drink a thing all day!) Muslims believe that during the month of Ramadan, their holy book (the Quran) was sent from God to guide the people.</p>
       </dd>
      </dl></li>
     <li id="ramadan2">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/ramadan2.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Ramadan</h2>
        <p>Ayah prays five times a day. She prays on a prayer rug, which she lays on the floor facing the sacred city of Mecca in Saudi Arabia.</p>
       </dd>
      </dl></li>
     <li id="ramadan3">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/ramadan3.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Ramadan</h2>
        <p>At the end of the Fast of Ramadan comes the joyous celebration of Eid ul-Fitr. Eid lasts for three days. On the first day, Ayah puts on new holiday clothes and goes to pray at her mosque with her family. Then she goes home and has a big breakfast with family and friends.</p>
       </dd>
      </dl></li>
     <li id="ramadan4">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/ramadan4.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Ramadan</h2>
        <p>During Ramadan and Eid, streets and buildings are sometimes decorated with beautiful lights or lanterns. At Eid, people give to those in need, and exchange cards and gifts. They also wish each other "Eid mubarak!"</p>
       </dd>
      </dl></li>
     <li id="ramadan5">
      <dl>
       <dt>
        <img src="/arthur/i/holiday/ramadan5.jpg" width="284" height="210" alt="" border="0">
       </dt>
       <dd>
        <h2>Ramadan</h2>
        <p>Ayah and her relatives enjoy a big feast together. They have all different kinds of foods, like lamb, fruits and nuts, vegetables and sweets. She says these cookies called "ma'amoul" are the best! They are filled with dates and nuts and sprinkled with powdered sugar. Yum!</p>
       </dd>
      </dl></li>
    </ul>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/holiday/scrapbook/index.html" id="rcBrainBook">Brain's Big Book of Terms</a></li>
   <li><a href="/arthur/holiday/dressup/index.html" id="rcDressUp">DW Dress Up</a></li> <!--<li><a href="/arthur/holiday/coloring/index.html" id="rcHolidayColoring">Holiday Coloring Page</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

