{% extends 'lions/includes/lionsPage.html.twig' %}
{% set pageTitle = ' . Pounce! | PBS KIDS!' %}
{% set hasFooterStyle = true %}
{% set bodyOpeningTag = '<body>' %}
{% set hasTopNav = true %}


{% block mainContent %}<div id="main"><!-- #bbinclude "sidenav_games.html" #AREA#="games" #BGCOL#="fbaf3a"  -->
 <div id="sidenav">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="165" height="536" bgcolor="#fbaf3a"><param name="movie" value="../dswmedia/sidenav4.swf"><param name="flashvars" value="area=games&amp;page=pounce"><param name="bgcolor" value="#fbaf3a"><param name="quality" value="best"><embed src="../dswmedia/sidenav4.swf" flashvars="area=games&amp;page=pounce" menu="false" quality="best" bgcolor="#fbaf3a" width="165" height="536" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>
 </div>
 <script language="javascript" type="text/javascript">
	// <![CDATA[
		var si = new SWFObject("../dswmedia/sidenav4.swf","","165","536","6","#fbaf3a");
		si.setAttribute("redirectUrl",warnPg);
		si.addParam("quality","best");
		si.addParam("allowscriptaccess","always");
		si.addVariable("area","games");
		si.addVariable("page","pounce");
		PBS_enable_cdn(si); 
		si.write("sidenav");
	// ]]>
	</script> <!-- end bbinclude --> <img src="images/banner_top.gif" alt="Games" title="" width="252" height="80" class="fL"><img src="images/titles/pounce.gif" alt="Pounce!" title="" width="376" height="80" class="fL">
 <div id="content">
  <img src="images/banner_bott.gif" alt="" width="202" height="39"><img src="images/tops/pounce.gif" alt="Pounce on the word that matches the sound!" title="" width="577" height="40" style="margin:15px 0 0 18px;">
  <div id="gframe">
   <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0" width="496" height="230" bgcolor="#6699cc"><param name="bgcolor" value="#6699cc"><param name="movie" value="../dswmedia/pounce/pounce.swf"><param name="quality" value="best"><embed src="../dswmedia/pounce/pounce.swf" menu="false" quality="best" bgcolor="#6699cc" width="496" height="230" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>
  </div>
  <script language="javascript" type="text/javascript">
	// <![CDATA[
		var co = new SWFObject("../dswmedia/pounce/pounce.swf","","496","230","6","#6699cc");
		co.setAttribute("redirectUrl",warnPg);
		co.addParam("quality","best");
		co.addParam("wmode", "window");
		co.addParam("allowscriptaccess","always");
		PBS_enable_cdn(co);
		co.write("gframe");
	// ]]>
	</script>
 </div><img src="images/bottom_full.gif" alt="" width="628" height="12" class="fL">
</div>{% endblock %}

