{% extends 'lions/includes/lionsPage.html.twig' %}
{% set pageTitle = ' . Synonym Sam\'s Lab | PBS KIDS!' %}
{% set hasFooterStyle = false %}
{% set bodyOpeningTag = '<body>' %}
{% set hasTopNav = true %}


{% block mainContent %}<div id="main"><!-- #bbinclude "sidenav_games.html" #AREA#="games" #BGCOL#="fbaf3a"  -->
 <div id="sidenav">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="165" height="536" bgcolor="#fbaf3a"><param name="movie" value="../dswmedia/sidenav4.swf"><param name="flashvars" value="area=games&amp;page=synsam"><param name="bgcolor" value="#fbaf3a"><param name="quality" value="best"><embed src="../dswmedia/sidenav4.swf" flashvars="area=games&amp;page=synsam" menu="false" quality="best" bgcolor="#fbaf3a" width="165" height="536" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>
 </div>
 <script language="javascript" type="text/javascript">
	// <![CDATA[
		var si = new SWFObject("../dswmedia/sidenav4.swf","","165","536","6","#fbaf3a");
		si.setAttribute("redirectUrl",warnPg);
		si.addParam("quality","best");
		si.addParam("allowscriptaccess","always");
		si.addVariable("area","games");
		si.addVariable("page","synsam");
		PBS_enable_cdn(si); 
		si.write("sidenav");
	// ]]>
	</script> <!-- end bbinclude --> <img src="images/banner_top.gif" alt="Games" title="" width="252" height="80" class="fL"><img src="images/titles/synsam.gif" alt="Synonym Sam's Lab" title="" width="376" height="80" class="fL">
 <div id="content">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="617" height="376" bgcolor="#ffffff"><param name="bgcolor" value="#ffffff"><param name="movie" value="dswmedia/synsam/synsam_loader.swf"><param name="quality" value="best"><embed src="dswmedia/synsam/synsam_loader.swf" menu="false" quality="best" bgcolor="#ffffff" width="617" height="376" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>
 </div>
 <script language="javascript" type="text/javascript">
	// <![CDATA[
		var co = new SWFObject("dswmedia/synsam/synsam_loader.swf","","617","376","6","#ffffff");
		co.setAttribute("redirectUrl",warnPg);
		co.addParam("quality","best");
		co.addParam("wmode", "window");
		co.addParam("allowscriptaccess","always");
		PBS_enable_cdn(co);
		co.write("content");
	// ]]>
	</script> <img src="images/bottom_full.gif" alt="" width="628" height="12" class="fL">
</div>{% endblock %}

