/** Storybook Custom CSS **/

.choice1-option1,
.choice1-option2,
.choice1-option3,
.choice2-option1,
.choice2-option2,
.choice2-option3,
.choice3-option1,
.choice3-option2,
.choice3-option3 {
	display: none;
}

.page1-speaker,
.page2-speaker,
.page3-speaker,
.page4-speaker,
.page5-speaker,
.page6-speaker,
.page7-speaker,
.page8-speaker {
	cursor: pointer;
}

.mainText .playSoundOnPress {
	border-bottom: 2px solid #c46ffd;
	color: #c46ffd;
	z-index: 999999;
}

.secondary-text .playSoundOnPress {
	border-bottom: 2px solid #FFDE42;
	color: #ffde42;
}

.mainText {
	line-height: 160% !important;
}

.clickable-word {
	line-height: 160% !important;
}

.hidden {
	display: none;
}

.playOnPress {
	color: #d246fd;
}

.blank_box {
	background: #BE9CCF;
	border-radius: 5px;
	display: inline-block;
}

/* iphone 3gs */
@media only screen and (device-width:320px) and (device-height:480px) and (-webkit-device-pixel-ratio: 1) {
	.mainText {
		line-height: 150% !important;
		font-size: 22.5em !important;
	}
}