{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Mr. Ratburn\'s Photos Page | PBS Kids' %}
{% set desc = 'See pictures that prove that Mr. Ratburn really does like more things than school. There is a photo of him dancing and of him outdoors!' %}
{% set keywds = 'pictures, photographs, Mr. Ratburn, school, teacher' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}
{% set friendsJs = true %}


{% block mainContent %}<div id="content" class="bg-cc9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="503,206,607,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="611,206,712,711" href="photos.html" alt="Photo Page"> <area shape="rect" coords="713,206,819,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,924,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/ratburn_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/ratburn_top.swf", "ratburn", "960", "363", "9", "#cccc99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "photos");			   fo.addVariable("char", "ratburn");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-ratburn">Mr. Ratburn's images</a>
  <div id="friendsContent">
   <h1>My Photos</h1>
   <hr class="friendsRuler">
   <div id="photoWrapper">
    <div id="bigImgWrapper"><img src="../../i/friends/photos/ratburn1.jpg" width="354" height="250" alt="Mr. Ratburn dancing the tango with Mrs. Baxter." border="0" id="mainImg"> <a href="" class="next"></a> <a href="" class="prev"></a>
    </div> <img src="../../i/friends/photos/avatar_big_ratburn.gif" width="85" height="83" alt="Mr. Ratburn avatar" border="0" id="avatar">
    <h3>The Tango...</h3>
   </div>
   <div id="cmtArea"><!--  Displayed image and comment -->
    <h2>MY FRIENDS SAY</h2>
    <div id="cmtTxtWrapper">
     <div class="comment">
      <div class="buster-cmt"><a href="/arthur/friends/buster/index.html">BUSTER</a>
       <p>Way to go, Mom!</p>
      </div>
      <div class="buster-cmtbtm"></div>
     </div>
    </div>
   </div> <!--  List of all images and comments to rotate -->
   <ul id="cmtlist">
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/ratburn1.jpg" width="354" height="250" alt="Mr. Ratburn dancing the tango with Mrs. Baxter." border="0" id="mainImg">
       <h3>The Tango...</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="buster-cmt"><a href="/arthur/friends/buster/index.html">BUSTER</a>
          <p>Way to go, Mom!</p>
         </div>
         <div class="buster-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/ratburn2.jpg" width="354" height="250" alt="Mr. Ratburn in his safari clothes, out in the wild." border="0" id="mainImg">
       <h3>The outdoors is like one big school!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/ratburn3.jpg" width="354" height="250" alt="Mr. Ratburn in his classroom, showing off a large box." border="0" id="mainImg">
       <h3>Can you guess what's inside, class?</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="binky-cmt"><a href="/arthur/friends/binky/index.html">BINKY</a>
          <p>Ooh, I konw this. WORMS!</p>
         </div>
         <div class="binky-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/print/tradingcards/index.html" id="rcTrading">Trading Cards</a></li>
   <li><a href="/arthur/print/braille/index.html" id="rcBraille">You've Got Braile</a></li>
   <li><a href="/arthur/games/yougottobekidding/index.html" id="rcKidding">You've Got To Be Kidding</a></li>
  </ul>
 </div>
</div>{% endblock %}

