{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Fern\'s Poetry Club | PBS Kids' %}
{% set desc = 'Print out and color bookmarks that you can use to save your place in your book!' %}
{% set keywds = 'print, book, bookmarks, read' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="bg-ccf">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="poetryHeader">Fern's Poetry Club</h4></a>
  <ul id="printSideNav">
   <li><a href="what.html" class="selected"><span>What's a poem?</span></a></li>
   <li><a href="write.html"><span>Write a poem</span></a></li>
   <li><a href="read.html"><span>Read more poems</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div id="poetryContent">
    <div id="poemTypesNav">
     <ul id="innerNav">
      <li><a href="narrative.html">Narrative</a> | &nbsp;</li>
      <li><a href="limerick.html" class="selected">Limerick</a> | &nbsp;</li>
      <li><a href="haiku.html">Haiku</a> | &nbsp;</li>
      <li><a href="free_verse.html">Free Verse</a> | &nbsp;</li>
      <li><a href="cinquain.html">Cinquain</a> | &nbsp;</li>
      <li><a href="lyric.html">Lyric</a></li>
     </ul>
    </div>
    <p class="poetry-intro"><span class="strong">LIMERICKS</span> are poems with five lines with a special beat and rhyming pattern: Lines 1, 2 and 5 have 9 beats and the last words rhyme. Lines 3 and 4 have 6 beats and rhyme with each other. Here's a fun limerick from Sue Ellen:</p> <img src="../../i/games/poetry/fern_1.gif" width="159" height="295" alt="Fern holding a book." border="0" class="float-left">
    <div id="todayPoem">
     <h4 class="header" id="limerick">Limerick Poem</h4>
     <div class="poem">
      <h4 class="poem-title">Limerick<br>by Sue Ellen</h4>
      <p>There once was an old man from Peru<br> His poor llamas came down with the flu<br> In the valley he passed<br> All the people who gasped<br> At the beast that was uttering "moo"<br></p>
     </div>
    </div>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/poetry/index.html" id="rcClubPoetry">Poetry Club</a></li>
   <li><a href="/arthur/friends/fern/index.html" id="rcFern">Fern</a></li>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li> <!--<li><a href="/arthur/games/lettersto/index.html" id="rcLettersTo">Letters To...</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

