{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Fern\'s Poetry Club | PBS Kids' %}
{% set desc = 'Print out and color bookmarks that you can use to save your place in your book!' %}
{% set keywds = 'print, book, bookmarks, read' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="bg-ccf">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="poetryHeader">Fern's Poetry Club</h4></a>
  <ul id="printSideNav">
   <li><a href="what.html" class="selected"><span>What's a poem?</span></a></li>
   <li><a href="write.html"><span>Write a poem</span></a></li>
   <li><a href="read.html"><span>Read more poems</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div id="poetryContent">
    <div id="poemTypesNav">
     <ul id="innerNav">
      <li><a href="narrative.html">Narrative</a> | &nbsp;</li>
      <li><a href="limerick.html">Limerick</a> | &nbsp;</li>
      <li><a href="haiku.html">Haiku</a> | &nbsp;</li>
      <li><a href="free_verse.html">Free Verse</a> | &nbsp;</li>
      <li><a href="cinquain.html">Cinquain</a> | &nbsp;</li>
      <li><a href="lyric.html" class="selected">Lyric</a></li>
     </ul>
    </div>
    <p class="poetry-intro"><span class="strong">LYRIC POEMS</span> are usually about your feelings and moods. A lot of the words to songs are lyric poems. Here's a lyric poem by Buster:</p> <img src="../../i/games/poetry/fern_1.gif" width="159" height="295" alt="Fern holding a book." border="0" class="float-left">
    <div id="todayPoem">
     <h4 class="header" id="lyric">Lyric Poem</h4>
     <div class="poem">
      <h4 class="poem-title">Ode to Joy<br>by Buster Baxter</h4>
      <p>I've had cabbage, lettuce, blackberries<br> Pasta, oats and strawberries<br> Bagels, beans and hot dogs<br> Eggplant, ham and cheese logs<br> I've had pumpkin and potato<br> Truffles and tomato<br> Diced, sliced, cubed and riced<br> Boiled and fried<br> Soaked and dried<br> Burgers, tacos, ice cream too<br> Radishes red and berries blue<br> Despite all this, I'm feeling thinner...<br> Still, that was lunch, now what's for dinner?<br></p>
     </div>
    </div>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/poetry/index.html" id="rcClubPoetry">Poetry Club</a></li>
   <li><a href="/arthur/friends/fern/index.html" id="rcFern">Fern</a></li>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li> <!--<li><a href="/arthur/games/lettersto/index.html" id="rcLettersTo">Letters To...</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

