{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Fern\'s Poetry Club | PBS Kids' %}
{% set desc = 'Print out and color bookmarks that you can use to save your place in your book!' %}
{% set keywds = 'print, book, bookmarks, read' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="bg-ccf">
 <div class="ruler"></div>
 <div class="print-instr"><a href="/arthur/games/poetry/index.html"><h4 id="poetryHeader">Fern's Poetry Club</h4></a>
  <ul id="printSideNav">
   <li><a href="/arthur/games/poetry/what.html"><span>What's a poem?</span></a></li>
   <li><a href="/arthur/games/poetry/write.html"><span>Write a poem</span></a></li>
   <li><a href="/arthur/games/poetry/read.html"><span>Read more poems</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div id="poetryContent" class="poetry"><img src="/arthur/i/games/poetry/fern_1.gif" width="159" height="295" alt="Fern holding a book." border="0" class="float-left">
    <div id="todayPoem">
     <div class="poem">
      <h4 class="poem-title">People<br>by Lizzy</h4>
      <p>people....<br> many ways of doing something<br> people....<br> many diffrent culturs<br> people....<br> wierd &amp; intresting<br> that's just what people are.</p>
     </div>
    </div> <a href="poems/306757.html">
     <div id="nextPoem">
      Next Poem
     </div></a>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/poetry/index.html" id="rcClubPoetry">Poetry Club</a></li>
   <li><a href="/arthur/friends/fern/index.html" id="rcFern">Fern</a></li>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li> <!--<li><a href="/arthur/games/lettersto/index.html" id="rcLettersTo">Letters To...</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

