@font-face
{
    font-family: badaboom;
    src: url(../../Fonts/badabb.ttf);
}

@font-face
{
    font-family: adventure;
    src: url(../../Fonts/Adventure.ttf);
}

@font-face
{
    font-family: DINE;
    src: url(../../Fonts/DINEngschriftStd.ttf);
}