{% extends 'go/includes/auth/goAuthPage.html.twig' %}


{% block goAuthPage %}<div id="go-auth">
 <h1 class="sprite makeup">Make up your own username</h1>
 <p class="sprite saveyour">Save your games and creations on PBS KIDS</p>
 <form method="POST" action="/go/apps/auth/signup/1" autocomplete="off"><label for="id_username">Username</label> <input id="id_username" type="text" name="username" maxlength="12"> <input type="hidden" name="destination" id="id_destination"> <input type="hidden" name="refresh" value="1" id="id_refresh"> <br>
<div style="font-size:12px; margin:12px 0; color:#FFF; text-align:center">
Personal information <a href="http://pbskids.org/help/faq.html#good_username" target="_blank">is not allowed</a> in usernames.
</div>
<div class="button ok right">
<div class="inner">
<p><input type="submit" value="OK"></p>
</div>
</div>
 </form>
 <script type="text/javascript" src="http://pbskids.org/pbs-kids-headband/js/PBS.KIDS.jquery-1.8.3.js"></script>
 <script type="text/javascript" src="http://pbskids.org/pbs-kids-headband/js/auth/PBS.KIDS.auth.min.js"></script> <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
<![endif]-->
 <script type="text/javascript">
if( PBS && PBS.KIDS && PBS.KIDS.$_auth ){
(function($){
$(document).ready(function() {
$('body').trigger('init.go');
});
})(PBS.KIDS.$_auth);
}
</script> <!-- Page-specific js goes here -->
 <script type="text/javascript">
try{
if(typeof parent.GA_obj != 'undefined'){
parent.GA_obj.trackPageview('/auth/signup/username/' + parent.location.pathname.replace(/^\//,''));
}
}
catch(err){
}
(function($){
// Notify Parent Window of current status
notifyStatus("signup","create-username");
// Execute on initialization
$('body').bind('init.go', function() {
usernameFuncs();
// Do not play VO if this screen is being reloaded to display an error
if($('.errorlist').length < 1) {
usernameVO();
}
$(this).unbind('init.go');
});
// Voiceover
function usernameVO() {
try{
if( window.top.org && window.top.org.pbskids && window.top.org.pbskids.login ){
window.top.org.pbskids.login.playAudio("make-up-a-name-thats-easy-to-remember");
}	}	catch(err){	}}
// Functions to run post-init
function usernameFuncs() {
// Page-specific behaviors
$('#id_username').label({ useLabel: false });
var username = $('#id_username').data('label');
var usernameLabel = username.$elem.data('labelText');
$('#go-auth .button > div').gobutton();
var okButton = $('#go-auth .button > div').data('gobutton');
// Test to make sure page hasn't inherited a typed username via reload. If not, disable ok button till name has been typed
if(username.$elem.val() == usernameLabel) {
okButton.disable(true);
}
// Enable ok button once something's been typed in the input
username.$elem.keypress(function() {
okButton.enable();
});
username.$elem.focus();
}
})(PBS.KIDS.$_auth);
</script>
</div>{% endblock %}




{% block resizeScript %}<script type="text/javascript">

try{
// Resize ColorBox iFrame
if( parent !== window &&
(PBS && PBS.KIDS && PBS.KIDS.$_auth) &&
(parent.PBS && parent.PBS.KIDS && parent.PBS.KIDS.$_auth && parent.PBS.KIDS.$_auth.colorbox)
) {
(function($){
$(document).ready( function(){
var height = 0;
// Prevent under reported modal height when page is cached while still
// allowing form errors to expand modal height appropriately.
if (height < 215) {
height = 215;
}
height = Math.max( $('body').outerHeight(true), height );
parent.PBS.KIDS.$_auth.colorbox.resize({ innerHeight: height });
});
})(PBS.KIDS.$_auth);
}//end if
}
catch(err){
}
</script>{% endblock %}

