{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Play math games and go on quests  with the Cybersquad. Lots of free online math games and puzzles to play. 
' %}
{% set keywds = 'math, fractions, franctions, educational, math education, math games, math activities, kids math, cool, game, games, lesson, lessons, kids,  multiplication, division, addition, subtraction, activity, activities,  division, long division, times tables' %}
{% set pageTitle = 'Math Games for Kids . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/games.jpg');
      background-repeat: no-repeat;
		}
	</style>
<script type="text/javascript">
		$(document).ready(function() {
			$('#promo-container').load('/cyberchase/promotions/games', function() {
				cyberchase.bindAnalytics();
				cyberchase.mbrecsAnim();
				if(typeof pngfix == 'function'){ pngfix(); }
			});
		});
	</script>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-math-games\">' %}
{% set selectedNav = 'GAMES' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/251bd8143891238ecedc306508e29017.png" class="textrender pageheader" width="122" height="60" alt="Games" border="0"></h1>
  <div id="promo-container"></div>
  <div class="content-panel">
   <div class="content-panel-inner">
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|airlines-builder" href="/cyberchase/math-games/airlines-builder/" title="Airlines Builder" data-description="Use perimeter and area to launch ships.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_airlinesbuilder_4_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Airlines Builder</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|biancas-painting-party" href="/cyberchase/math-games/biancas-painting-party/" title="Bianca's Painting Party" data-description="Help Bianca solve some tricky problems using ratio and proportion.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/bpp_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Bianca's Painting Party</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|bike-route" href="/cyberchase/math-games/bike-route/" title="Bike Route" data-description="Help Inez run errands with a map and a grid.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_bikeroute_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Bike Route</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|bugs-in-the-system" href="/cyberchase/math-games/bugs-in-the-system/" title="Bugs In the System" data-description="Grab the bugs to make a graph.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_bugsinthesystem_4_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Bugs In the System</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|buzz-and-delete-save-day" href="/cyberchase/math-games/buzz-and-delete-save-day/" title="Buzz &amp; Delete Save the Day" data-description="Solve a variety of counting and grouping problems to help Buzz and Delete save their hometown, Botopolis!">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/cyberchase_saves_the_day_thumb_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Buzz &amp; Delete Save the Day</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|can-you-fill-it" href="/cyberchase/math-games/can-you-fill-it/" title="Can You Fill It?" data-description="Choose different size pots to fill a container in the least number of pours. ">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_canyoufillit_4_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Can You Fill It?</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|cant-wait-tessellate" href="/cyberchase/math-games/cant-wait-tessellate/" title="Can’t Wait to Tessellate" data-description="Game with video! Help Buzz &amp; Delete tessellate a prize-winning picture.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tess_admin_thumbnail_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Can’t Wait to Tessellate</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|crack-digits-code" href="/cyberchase/math-games/crack-digits-code/" title="Crack Digit's Code" data-description="Use a secret decoder to decode Digit's message.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_crackdigitscode_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Crack Digit's Code</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|crack-hackers-safe" href="/cyberchase/math-games/crack-hackers-safe/" title="Crack Hacker's Safe" data-description="Solve double and triple patterns to crack Hacker's code.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_crackhackerssafe_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Crack Hacker's Safe</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|crossing-the-river" href="/cyberchase/math-games/crossing-the-river/" title="Crossing the River" data-description="Solve this math puzzle to help everyone cross the river.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_crossingtheriver_3_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Crossing the River</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|cyber-pattern-player" href="/cyberchase/math-games/cyber-pattern-player/" title="Cyber Pattern Player" data-description="Make your own cool cyber-tunes on this musical player.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_cyberpatternplayer_3_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Cyber Pattern Player</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|cyberchase-squares" href="/cyberchase/math-games/cyberchase-squares/" title="Cyberchase Squares " data-description="Can you find the contestant with the counterexample?
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_cyberchasesquares_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Cyberchase Squares </span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|cyber-olympics" href="/cyberchase/math-games/cyber-olympics/" title="CyberOlympics" data-description="Use practice times to pick the team most likely to win.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_cyberolympics_38_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">CyberOlympics</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|cybersquad-and-eye-rom" href="/cyberchase/math-games/cybersquad-and-eye-rom/" title="CyberSquad and the Eye of Rom" data-description="Following the inverse helps you find your way out of four mazes.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_cybersquadeyeofrom_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">CyberSquad and the Eye of Rom</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|disguise-combos" href="/cyberchase/math-games/disguise-combos/" title="Disguise Combos" data-description="Choose from wigs, beards and glasses to make crazy combination costumes.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_designcombos_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Disguise Combos</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|double-donuts" href="/cyberchase/math-games/double-donuts/" title="Double the Donuts" data-description="What happens when you double a number 20 times? Find out here.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_doublethedonuts_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Double the Donuts</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|fill-it" href="/cyberchase/math-games/fill-it/" title="Fill It Up!" data-description="Choose different size pots to fill a container in the exact number of pours.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/fiu_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Fill It Up!</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|find-tuffy" href="/cyberchase/math-games/find-tuffy/" title="Find Tuffy" data-description="Make overlapping circles to help Harry and  friends find his dog Tuffy.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/ft_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Find Tuffy</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|glowlas-estimation-contraption" href="/cyberchase/math-games/glowlas-estimation-contraption/" title="Glowla's Estimation Contraption" data-description="Discover how rounding off numbers helps you estimate faster.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_glowlasestimationcontraption_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Glowla's Estimation Contraption</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|inventors-workshop" href="/cyberchase/math-games/inventors-workshop/" title="Inventors' Workshop" data-description="Make cool inventions and then test them in your workshop.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_inventorsworkshop_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Inventors' Workshop</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|jigsaw-puzzle-size-up" href="/cyberchase/math-games/jigsaw-puzzle-size-up/" title="Jigsaw Puzzle Size Up" data-description="Size the puzzle pieces up or down to make them fit the puzzle before your time is up!
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_jigsawpuzzlesizeup_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Jigsaw Puzzle Size Up</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|logic-zoo" href="/cyberchase/math-games/logic-zoo/" title="Logic Zoo" data-description="Use Venn diagrams to sort the zoo animals back into the areas where they belong.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_logiczoo_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Logic Zoo</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|lost-in-the-northern-frontier" href="/cyberchase/math-games/lost-in-the-northern-frontier/" title="Lost in the Northern Frontier " data-description="Make overlapping circles to help the CyberSquad find Digit.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_lostinnorthernfrontier_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Lost in the Northern Frontier </span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|lucky-star" href="/cyberchase/math-games/lucky-star/" title="Lucky Star" data-description="Be the top scorer when you play Lucky Star!">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_luckystar_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Lucky Star</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|maze-and-marbles" href="/cyberchase/math-games/maze-and-marbles/" title="Maze and Marbles" data-description="Dodge the blocks to keep Dr. Marbles' time machine running. 
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_mazeandmarbles_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Maze and Marbles</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|melvins-make-match" href="/cyberchase/math-games/melvins-make-match/" title="Melvin's Make a Match" data-description="Match up fractions that have the same value.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_melvinsmakeamatch_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Melvin's Make a Match</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|mission-magnetite" href="/cyberchase/math-games/mission-magnetite/" title="Mission Magnetite" data-description="Match percents and fractions with the pictures that show the same values.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_missionmagnetite_3_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Mission Magnetite</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|number-sense" href="/cyberchase/math-games/number-sense/" title="Number Sense" data-description="Play against Hacker in this place value game where you have to make a bigger number than his.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_numbersense_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Number Sense</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|pattern-quest" href="/cyberchase/math-games/pattern-quest/" title="Pattern Quest" data-description="Use tricky clues to solve this pattern puzzle.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_patternquest_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Pattern Quest</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|playspace" href="/cyberchase/math-games/playspace/" title="PlaySpace" data-description="Create cyber-adventures with this storytelling tool.

">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_playspace_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">PlaySpace</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|poddle-weigh-in" href="/cyberchase/math-games/poddle-weigh-in/" title="Poddle Weigh In" data-description="Help the poddles get their numbers back with  this balance scale.

">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_poddleweighin_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Poddle Weigh In</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|point-out-view" href="/cyberchase/math-games/point-out-view/" title="Point Out the View" data-description="Discover how what you see depends upon where you stand!
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_pointouttheview_3_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Point Out the View</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|pour-score" href="/cyberchase/math-games/pour-score/" title="Pour to Score" data-description="Pour, empty and refill containers to find the numbers 1 to 8.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_pourtoscore_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Pour to Score</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|quest-1-mission-motherboard" href="/cyberchase/math-games/quest-1-mission-motherboard/" title="Quest 1: Mission Motherboard" data-description="Earn and save money in cyberspace to buy parts to help fix Motherboard.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest1missionmotherboard_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Quest 1: Mission Motherboard</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|quest-2-race-radopolis" href="/cyberchase/math-games/quest-2-race-radopolis/" title="Quest 2: Race for Radopolis" data-description="Explore Radopolis to optimize your skateboard for the big race.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest2raceforradopolis_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Quest 2: Race for Radopolis</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|quest-3-ecohaven-emergency" href="/cyberchase/math-games/quest-3-ecohaven-emergency/" title="Quest 3: EcoHaven Emergency" data-description="Assemble the Eco-Protector to stop Hacker from destroying Eco-Haven.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest3ecohavenemergency_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Quest 3: EcoHaven Emergency</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|quest-4-stop-stormerator" href="/cyberchase/math-games/quest-4-stop-stormerator/" title="Quest 4: Stop the Stormerator" data-description="Solve weather problems to collect what you need to shut down the dangerous Stormerator.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest4stopthestormerator_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Quest 4: Stop the Stormerator</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|railroad-repair" href="/cyberchase/math-games/railroad-repair/" title="Railroad Repair" data-description="Add up the decimals to fix the railroad tracks.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_railroadrepair_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Railroad Repair</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|rescue-ecotopia" href="/cyberchase/math-games/rescue-ecotopia/" title="Rescue Ecotopia!" data-description="Save Ecotopia from Hacker disasters by adding animals and plants to keep the ecosystem healthy.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/Untitled_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Rescue Ecotopia!</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|send-trolls" href="/cyberchase/math-games/send-trolls/" title="Send in the Trolls " data-description="Find the troll with the median height.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_sendinthetrolls_2_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Send in the Trolls </span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|send-trolls-2" href="/cyberchase/math-games/send-trolls-2/" title="Send in the Trolls 2" data-description="Help find the right trolls to send to the Cyberspace Beauty Contest.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/sitt2_1_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Send in the Trolls 2</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|sleuths-on-the-loose" href="/cyberchase/math-games/sleuths-on-the-loose/" title="Sleuths on the Loose" data-description="Use proportions to find the mama dragon's height.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_sleuthsontheloose_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Sleuths on the Loose</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|space-coupe-rescue" href="/cyberchase/math-games/space-coupe-rescue/" title="Space Coupe to the Rescue" data-description="Blast the dangerous pod using positive and negative numbers.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_spacecoupetotherescue_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Space Coupe to the Rescue</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|star-gazing" href="/cyberchase/math-games/star-gazing/" title="Star Gazing" data-description="Pick an angle, point the telescope, and locate planets and their weird inhabitants!
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_stargazing_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Star Gazing</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|stop-creature" href="/cyberchase/math-games/stop-creature/" title="Stop that Creature" data-description="Stop clones when you name the rule that runs the machine.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_stopthatcreature_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Stop that Creature</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|stop-machine" href="/cyberchase/math-games/stop-machine/" title="Stop the Machine!" data-description="Figure out the function to shut down Hacker's machine.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/stm_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Stop the Machine!</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|stop-pop" href="/cyberchase/math-games/stop-pop/" title="Stop the Pop" data-description="Stop Harry's popcorn machine by matching percents,  fractions and decimals. ">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/stp_thumbnail.png" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Stop the Pop</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|symmetrizer" href="/cyberchase/math-games/symmetrizer/" title="Symmetrizer" data-description="Use symmetry to &quot;symmetrize&quot; your favorite characters with this fun machine.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_symmetrizer_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Symmetrizer</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|calculator" href="/cyberchase/math-games/calculator/" title="Talking Calculator" data-description="Calculate with Bianca up to a trillion!
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_talkingcalculator_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Talking Calculator</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|tanagram-game" href="/cyberchase/math-games/tanagram-game/" title="Tangram Game" data-description="Use 7 different geometric shapes to make fun pictures.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_tangramgame_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Tangram Game</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|thirteen-ways-looking-half" href="/cyberchase/math-games/thirteen-ways-looking-half/" title="Thirteen Ways of Looking at a Half" data-description="Find thirteen ways to show one half.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_thirteenwaysoflookingatahalf_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Thirteen Ways of Looking at a Half</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|together-again" href="/cyberchase/math-games/together-again/" title="Together Again" data-description="Game with video! Help Buzz &amp; Delete use the inverse to fix Hacker's toy.">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/inverse_thumb_togetheragain_1_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Together Again</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|u-fix-it-ziff" href="/cyberchase/math-games/u-fix-it-ziff/" title="U Fix It with Ziff" data-description="Use measurement to help Ziff fix up his house.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_ufixitwithziff_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">U Fix It with Ziff</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|virtual-coin-toss" href="/cyberchase/math-games/virtual-coin-toss/" title="Virtual Coin Toss" data-description="Heads or tails? Toss a coin to see what happens.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_virtualcointoss_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Virtual Coin Toss</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|virus-hunt" href="/cyberchase/math-games/virus-hunt/" title="Virus Hunt" data-description="Use a compass and a map to find Hacker's virus in time.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_virushunt_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Virus Hunt</span>
      </div> </a>
    </div>
    <div class="activities-item"><a class="result-item analytics-click" data-analytics="Cyberchase - Games|Content Click|vortex" href="/cyberchase/math-games/vortex/" title="Vortex!" data-description="Match 3 patterned shapes in 15 seconds to score points.
">
      <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_vortex_thumbnail.jpg" alt="" class="thumb">
      </div>
      <div class="result-item-info"><span class="title">Vortex!</span>
      </div> </a>
    </div>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

