{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Firesafety | PBS Kids' %}
{% set desc = 'Play songs from ARTHUR and create your own dances for them by using Prunellas dance cards.' %}
{% set keywds = 'music, dance, perform, movement' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-ffc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="/arthur/firesafety/index.html"><h4 id="fireHeader">Fire Safety Tip</h4></a>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div id="firesafetyContent">
    <p>On April 9th, there was a fire at my school. It was pretty scary, but everything turned out okay.</p>
    <p>Have you ever wondered what you would do if there were a fire in your home? I have. Here are some important prevention and safety tips I learned.</p>
    <h2>Be Smart</h2>
    <ol>
     <li><b>Don't touch matches.</b> Stay away from lighters and candles, too.</li>
     <li><b>Don't touch radiators or heaters.</b> Ask a grown-up to turn a heater on or off for you. Don't stand too close to a fireplace or wood stove, either.</li>
     <li><b>Don't play with electrical cords.</b> And don't stick anything into an electrical socket.</li>
     <li><b>Don't play around in the kitchen.</b> If you want to cook something, be sure to check with a grown-up first.</li>
     <li><b>Don't put anything over a lamp.</b> Things thrown over a lamp (like blankets or clothing) could catch fire.</li>
    </ol>
    <p>If there is a fire:</p>
    <h2>Be Prepared</h2>
    <ol>
     <li><b>Make an escape plan.</b> Work with your family to plan how to get out of your home if there is a fire.</li>
     <li><b>Plan two ways out of every room.</b> The first way out should be a door.</li>
     <li><b>Choose a meeting place.</b> Pick a safe and easy-to-remember spot outside your home where you will meet your family after you get out.</li>
     <li><b>Practice!</b> Every escape path needs to be planned and practiced with grown-ups.</li>
     <li><b>Test smoke alarms.</b> Help grown-ups remember to test smoke alarms monthly and to put in new batteries twice a year when the clocks change.</li>
    </ol>
    <h2>Be Safe</h2>
    <ol>
     <li><b>Get out fast!</b> When you hear the loud beep of the smoke alarm, get out of the house. Never hide or take time to grab your belongings or pets.</li>
     <li><b>Follow your escape plan.</b> After all, you've been practicing!</li>
     <li><b>Feel a door before you open it.</b> If it is hot, there may be fire on the other side. Try to get out another way.</li>
     <li><b>Stay low to the floor.</b> Since smoke rises, the safest air for breathing is down low.</li>
     <li><b>Call 9-1-1 or the fire department.</b> Be sure to do this after you get out of the house. Remember: Only call 9-1-1 if there is a real emergency.</li>
     <li><b>Stay out!</b> Once you're out, stay out. Don't go back for anything!</li>
    </ol>
    <h2>And Remember...</h2>
    <p><b>Stop, Drop, and Roll.</b> If your clothing catches fire, remember to stop where you are and drop to the ground. Cover your face and mouth with your hands, and roll over and over until the flames are out.</p>
    <p>I got most of this stuff from the <a href="http://www.usfa.fema.gov/kids/index.htm">United States Fire Administration's Kids Page</a>, and some from the National Fire Protection Association Web site. You can talk to your parents or teachers about fire safety, too.</p>
    <p>I also learned a lot from some third graders who interviewed four of their local firefighters. They even sent me some great pictures. Check them out!</p>
    <ul class="fire-pic-nav">
     <li class="icon"><a href="drawings.html#pg-fsjohn" id="fsJohn"><span>John</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fsemily" id="fsEmily"><span>Emily</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fscora" id="fsCora"><span>Cora</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fsandy" id="fsAndy"><span>Andy</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fsjames" id="fsJames"><span>James</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fsmatthew" id="fsMatthew"><span>Matthew</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fskelsey" id="fsKelsey"><span>Kelsey</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fslauren" id="fsLauren"><span>Lauren</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fslouis" id="fsLouis"><span>Louis</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fsnick" id="fsNick"><span>Nick</span></a></li>
     <li class="icon"><a href="drawings.html#pg-fsjay" id="fsJay"><span>Jay</span></a></li>
    </ul>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/sue_ellen/index.html" id="rcSueEllen">Sue Ellen</a></li>
   <li><a href="/arthur/print/highfive/index.html" id="rcHighFive">High Five</a></li>
   <li><a href="/arthur/games/superactionchallenge/index.html" id="rcSuperAction">Super Action Challenge</a></li>
  </ul>
 </div>
</div>{% endblock %}

