<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" data-pageGenratr="false" data-activestage="3"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" data-pageGenratr="false" data-activestage="3"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" data-pageGenratr="false" data-activestage="3"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" data-pageGenratr="false" data-activestage="3"> <![endif]-->
<!--[if gt IE 9]>  <html data-pageGenratr="false" data-activestage="3"> <![endif]-->
<!--[if !IE]><!--> <html data-pageGenratr="false" data-activestage="3"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Video Player . Videos . Odd Squad | PBS KIDS</title>
	<meta name="viewport" content="initial-scale=1">
    
    <meta property="og:title" content="Video Player . Videos . Odd Squad | PBS KIDS" />
    <meta property="og:url" content="http://pbskids.org/oddsquad/videos/" />
    <meta property="og:description" content="Odd Squad is a live-action comedy about two kids, Agent Olive and Agent Otto, who work for a government agency run by kids in suits who are equipped with the world's most advanced and unpredictable gadgetry. Whenever anything strange, unusual or just plain nuts (including giant nuts falling out of the sky) happens, it's Odd Squad's job to put things right again. Odd Squad has a fun, goofy, irreverent style that includes sight gags, one-liners, absurd situations and plenty of slapstick. Embedded in each episode is a math concept aimed at kids in grades 1-2. For example, in one episode, Olive and Otto are called-on to help a pizza delivery lady who keeps doubling herself. In the process of helping her, Olive and Otto also explore and learn what happens when you double a number. Odd Squad is a fun and engaging way for kids to become familiar with, and master, key math concepts and operations." />
    <meta property="og:image" content="http://pbskids.org/oddsquad/img/global/logo-oddsquad.png" />

	<script type="text/javascript" src="//use.typekit.net/nuo4rii.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript" src="/oddsquad/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/oddsquad/js/jquery.pbskidsvideo.latest.js"></script>
	<script type="text/javascript" src="/oddsquad/js/iscroll-probe.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/jquery.pageGenratr.js"></script>
	<script type="text/javascript" src="/oddsquad/js/agent.js"></script>
	<script type="text/javascript" src="/oddsquad/js/achievements.js"></script>
	<script type="text/javascript" src="/oddsquad/js/locker.js"></script>
	<script type="text/javascript" src="/oddsquad/js/functions.init.js"></script>
	<script type="text/javascript" src="/oddsquad/js/pbs-video.js"></script>

    <link href="/oddsquad/css/reset.min.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/pageVideo.css" rel="stylesheet" type="text/css" />
    
	<link href="/oddsquad/css/mobile-tablet.css" rel="stylesheet" type="text/css" media="(min-width: 900px) and (max-width: 1200px)" />
	<link href="/oddsquad/css/mobile-phone.css" rel="stylesheet" type="text/css" media="(min-width: 0px) and (max-width: 900px)" />

</head>

<body>
<div class="odd-wrapper">
	{% include 'oddsquad/includes/templates/globalBgs.html' %}
    {% include 'oddsquad/includes/templates/mainNavWithMobile.html' %}

    <div class="pg-wrapper">
    	<section>
            <article class="pg-section pg-videos" data-title="videos">
                <div data-genratr-wrapper class="contentWrapper videoPage">

                    
                <div class="plWrapper plWrapper-1 plTheme-purple">
                
                    <div id="videoPlayer" class="videoPlayer-wrapper">
                        <div class="borders borders-purple">
                            <div class="border border-top"></div>
                            <div class="border border-btm"></div>
                        </div>
                        <div id="videoContainer">
                        	<div class="geoTxt">
                            	<div class="sizer"></div>
                                <div class="sized">
                                	We're sorry, currently our video library can only be streamed within the United States.
                                </div>
                            </div>
	               			<div id="player"></div>
                        </div>
            
                        <div id="controlRack">
                            <div class="scrubberRow">
                                <div class="scrubber">
                                    <div class="scrubber-track">
                                        <div class="scrubber-thumb"></div>
                                    </div>
                                </div>
                                <div class="timeCurrent">0:00</div>
                            </div>
                            <div class="controlsRow">
                                <div class="playbackControls">
                                    <div class="prevVideo enabled-control"><i></i></div>
                                    <div class="playPause enabled-control paused"><i></i></div>
                                    <div class="nextVideo enabled-control"><i></i></div>
                                    <div class="closedCaptions enabled-control"><i></i></div>
                                </div>
                                <div class="enterFullScreen"><i></i></div>
                            </div>
                        </div>
                    </div>
                    <div id="playlistWrapper" class="videoPlaylist-wrapper">
                        <div class="borders borders-purple">
                            <div class="border border-top"></div>
                            <div class="border border-btm"></div>
                        </div>
                                <div class="browsePlaylistsBtn"><i></i>More Videos</div>
                                <div class="scrollPlaylist_up"><i></i></div>
                                
                                <ul id="pl-nowPlaying">
                                  <li class="plItem">
                                    <div class="sizer"></div>
                                    <div class="sized">
                                        <div class="thumb-container"><img class="googlethumbnail" src="">
                                            <span class="fullep-label">
                                                <span class="full-label">Case </span>File
                                            </span>
                                            <span class="new-label">New</span>
                                        </div>
                                        <div class="video-info">
                                            <span class="video-title">Odd Squad - Coach Roberts</span>
                                            <span class="video-duration">2:11</span>
                                            <span class="video-expiration no-value"></span>
                                        </div>
                                    </div>
                                  </li>
                                </ul>
                                
                                <div class="scrollPlaylist_down"><i></i></div>
                    </div>
                    
                </div>
                
                
                
		<div id="browserWrapper" class="videoBrowse-wrapper plContainer">
            <div class="borders borders-purple">
                <div class="border border-top"></div>
                <div class="border border-btm"></div>
                <div class="scrollWrapper"></div>
            </div>
            <div class="browsePlaylistsCloseBtn">Close <i></i></div>



                </div>
            </article>
	    </section>
    </div>
    {% include 'oddsquad/includes/templates/mainFooterNav.html.twig' %}
</div>
    <script>
		initVideoPlayer();
	</script>
	 
{% include 'template_includes/modern_headband_include.html' %}
{% include 'template_includes/modern_pbsk_js.html' %}
  



</body>
</html>