{% extends 'wildkratts/includes/wildKrattsPage.html.twig' %}
{% set specialTitle = false %}
{% set pageTitle = ' . Monkey Mayhem' %}
{% set desc = '' %}
{% set keywds = '' %}


{% block specialHead %}<script type="text/javascript" id="headband-callback" _src="/wildkratts/js/headband-callback.js"></script>
<style>
    footer {
        letter-spacing: 0;
    }
    </style>
<link rel="stylesheet" href="s/compressed137234474.css" type="text/css">
{% endblock %}


{% set bodyClass = 'bmobtab gameplay' %}


{% block mobileNav %}<div class="mywide mnav"><a href="http://pbskids.org/"><img id="mpbslogo" alt="PBS Logo" src="/wildkratts/img/nav/mobile/logo_pbs.png" width="37" height="37"></a> <a href="/wildkratts/"><img alt="Wild Kratts Logo" id="mwklogogp" src="/wildkratts/img/nav/mobile/logo_wk.png" width="50" height="50"></a> <a href="/wildkratts/games/"><img alt="Close game" id="mwkclosegame" src="/wildkratts/img/nav/mobile/close_game_icon.png" width="38" height="37"></a>
</div>{% endblock %}




{% block mainContent %}<div class="gmain">
 <div class="container">
  <div id="root"></div> <!-- subpagespromo.html -->
  <div class="promosubpage mynarrow"><!--div class="promosub1"><a href="/wildkratts/games/monkey-mayhem/"><img alt="Promo 1" src="/wildkratts/img/promos/promo_g1.jpg" width="285" height="116"></a></div>
					<div class="promosub2"><a href="/wildkratts/videos/"><img alt="Promo 2" src="/wildkratts/img/promos/promo_g2.jpg" width="285" height="116"></a></div-->
   <div class="promosub1">
    <a href="/wildkratts/games/capture-the-fishmobiles/"><img alt="Promo 1" src="/wildkratts/img/promos/promo_g3.jpg" width="285" height="116"></a>
   </div>
   <div class="promosub2">
    <a href="/wildkratts/games/rhino-bowl/"><img alt="Promo 2" src="/wildkratts/img/promos/promo_g4.jpg" width="285" height="116"></a>
   </div>
  </div> <!-- /subpagespromo.html -->
 </div><!--/container-->
</div>{% endblock %}




{% block specialMiddleElems %}{% endblock %}




{% block specialBody %}<script language="javascript" src="/kartkingdom/api/kartkingdom.minigame.min-1.0.js" type="text/javascript"></script>
<script type="text/javascript" src="http://code.createjs.com/createjs-2013.02.12.min.js"></script>
<script type="text/javascript" src="j/compressed137234474.js"></script>
{% endblock %}

