{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Fourth Grade . BUY GREEN: Being an Eco-Friendly Consumer | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">BUY GREEN: Being an Eco-Friendly Consumer</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson4_1.pdf">download the PDF version of this lesson plan</a> (62k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will explore environmentally friendly products. They will use the resources of EekoWorld as they learn about air pollution, water pollution, and how their actions can have an impact on the earth. They will conduct Internet research, create an advertisement for an eco-friendly consumer product, and stage a class presentation.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> 4</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Use varied strategies to comprehend written or oral language from a variety of sources</li>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information</li>
   <li>Interpret visual media</li>
   <li>Synthesize information from multiple sources</li>
   <li>Make connections between new information and prior knowledge</li>
   <li>Examine the impact of their actions on the environment</li>
   <li>Participate in group activities and class discussion</li>
   <li>Create an advertisement</li>
   <li>Create an oral presentation</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Language Arts, Science</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
   <li><a href="http://library.thinkquest.org/CR0215471/ocean_pollution.htm" title="Ocean Pollution">Ocean Pollution</a></li>
   <li><a href="http://library.thinkquest.org/CR0215471/acid_rain.htm" title="Acid Rain">Acid Rain</a></li>
   <li><a href="http://library.thinkquest.org/CR0215471/oil_spills.htm" title="Oil Spills">Oil Spills</a></li>
   <li><a href="http://www.greenpeople.org/" title="Green People">Green People</a></li>
   <li><a href="http://www.epa.gov/autoemissions/" title="Green Vehicle Guide">Green Vehicle Guide</a></li>
   <li><a href="http://www.worldwildlife.org/consumer/rtc.cfm" title="Reducing Toxic Chemicals">Reducing Toxic Chemicals</a></li>
   <li><a href="http://www.ibuydifferent.org/look.asp" title="Buy Different Holiday Guide">Buy Different Holiday Guide</a></li>
   <li><a href="http://www.ibuydifferent.org/takeaction/other_ways.asp" title="Other Ways to Make a Difference">Other Ways to Make a Difference</a></li>
   <li><a href="http://www.newdream.org/holiday/giftideastaff.php" title="Eco-Friendly gift Ideas">Eco-Friendly Gift Ideas</a></li>
   <li><a href="http://www.reduce.org/" title="Reduce Waste">Reduce Waste</a></li>
   <li><a href="http://www.recycled.ca/Templates/getTheItem.cfm?ItemNumber=SHRT218#priceArea" title="Tee Shirt Made From Clear Plastic Pop Bottles">Tee Shirt Made From Clear Plastic Pop Bottles</a></li>
   <li><a href="http://www.sciencentral.com/articles/view.php3?article_id=218391337" title="French-Fried Fuel">French-Fried Fuel</a></li>
  </ul> <br>
  <p><span class="bluesubhead">Materials</span></p>
  <ul>
   <li>Construction paper</li>
   <li>Pencils, crayons, markers</li>
   <li>A sampling of "green" products such as recycled paper towels, cleaning detergent, compact fluorescent light bulbs, biodegradable garbage bags, etc.</li>
   <li>Videotape &amp; video camera if possible</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> <strong>Activity One: Pollution Brainstorming</strong><br> Share the following images of air and water pollution with your students:</p>
  <p class="indent">Ask the students to brainstorm ideas about the meaning of these images and the possible sources of the pollution in each picture.</p>
  <p>As a class, visit the following Web sites, which explain some of the causes of air and water pollution:</p>
  <ul>
   <li><a href="http://pbskids.org/eekoworld">EekoWorld</a></li>
   <li><a href=" http://library.thinkquest.org/CR0215471/ocean_pollution.htm" title="Ocean Pollution">Ocean Pollution</a></li>
   <li><a href=" http://library.thinkquest.org/CR0215471/acid_rain.htm" title="Acid Rain">Acid Rain</a></li>
   <li><a href=" http://library.thinkquest.org/CR0215471/oil_spills.htm" title="Oil Spills">Oil Spills</a></li>
  </ul>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Eco-Friendly Products</strong> Display a collection of eco-friendly products to the class. You may choose to provide these for your students or ask them to bring examples from home. These are some products you may wish to include:</p>
  <ul>
   <li>Recycled Napkins/Paper Towels</li>
   <li>Green cleaning detergent</li>
   <li>Compact fluorescent light bulbs</li>
   <li>Biodegradable garbage bags</li>
   <li>Recycled printer paper</li>
  </ul>
  <p>As a class, browse the <a href="http://www.greenpeople.org/" title="Green People">Green People Web site</a> to get an overall picture of the wide range of "green" or "environmentally friendly" products</p>
  <p>Ask the students to generate ideas about how they think these products are good for the environment. As you discuss these products, focus on making connections between consumer buying habits and helping reduce pollution on the earth.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Green By Design</strong><br> <strong>Step 1</strong><br> Share the following facts with the class:</p>
  <ul>
   <li>If one out of ten students bought notebooks made of post-consumer recycled paper, 60,000 trees and 25.5 million gallons of water would be saved.<br><br> Source: <a href="http://worldwildlife.org/news/displayPR.cfm?prID=8" title="World Wildlife Fund">World Wildlife Fund</a><p></p></li>
   <li>Half of our electricity is made from burning coal. Coal burning is the leading cause of air pollution, acid rain, and global warming. Every year, a typical coal-burning power plant sucks up enough water to fill 2,220 large swimming pools.<br><br> Source: <a href="http://www.ibuydifferent.org/takeaction/lightbulb_quickfacts.asp" title="I Buy Different">I Buy Different</a></li>
   <li>A ten-minute shower uses about 35 gallons of water.<br><br> Source: <a href="http://www.ibuydifferent.org/whatsthedeal/showerheadTB.asp" title="I Buy Different">I Buy Different</a></li>
  </ul>
  <p>Tell the students that they can have an impact on reducing air and water pollution by the choices they make in their everyday lives.</p>
  <p><strong>Step 2</strong><br> Divide the class into groups of four. Give the students the following task:</p>
  <p class="indent">You are going to create a commercial for an eco-friendly product. It can be for a product that already exists, or you can invent a new product. In your commercial you should include the following:</p>
  <ul>
   <li>Why consumers should buy your product</li>
   <li>How it helps the environment</li>
  </ul>
  <p>Provide students with the following resources to get information and ideas about the eco-friendly products.</p>
  <ul>
   <li><a href="http://www.epa.gov/autoemissions/" title="Green Vehicle Guide">Green Vehicle Guide</a></li>
   <li><a href="http://www.worldwildlife.org/consumer/rtc.cfm" title="Reducing Toxic Chemicals">Reducing Toxic Chemicals</a><br> Scroll to section on actions you can take in your home and recipes for non-toxic cleaning products.</li>
   <li><a href="http://www.ibuydifferent.org/look.asp" title="Buy Different Holiday Guide">Buy Different Holiday Guide</a></li>
   <li><a href="http://www.ibuydifferent.org/takeaction/other_ways.asp" title="Other Ways to Make a Difference">Other Ways to Make a Difference</a></li>
   <li><a href="http://www.newdream.org/holiday/giftideastaff.php" title="Eco-Friendly gift Ideas">Eco-Friendly Gift Ideas</a></li>
   <li><a href="http://www.recycled.ca/Templates/getTheItem.cfm?ItemNumber=SHRT218#priceArea" title="Tee Shirt Made From Clear Plastic Pop Bottles">Tee Shirt Made From Clear Plastic Pop Bottles</a></li>
   <li><a href="http://www.sciencentral.com/articles/view.php3?article_id=218391337" title="French-Fried Fuel">French Fried Fuel</a></li>
  </ul>
  <p><strong>Step 3</strong><br> Provide time for each group to present its commercial to the entire class. If possible, videotape the commercials. You may wish to invite other classes in the school to view students' presentations.</p>
  <p><br> <span class="bluesubhead">Extension Activities</span><br></p>
  <p><strong>Activity One: Making Non-Toxic Cleaners</strong><br> Visit the <a href="http://www.reduce.org/" title="Reduce Waste">Reduce Waste Web site</a> for ideas on how to create non-toxic cleaners for the home. Scroll to "Keeping your House Clean."</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Eco-Friendly Gifts</strong><br> Generate a list of Eco-Friendly gifts. Post and share this list on a class or school Web site. Continue to add ideas throughout the school year. Some possible ideas include the following:</p>
  <ul>
   <li>Canvas shopping bags</li>
   <li>State park stickers</li>
   <li>Recycled products</li>
   <li>Plants</li>
   <li>Bird Feeders</li>
  </ul>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Three: Supermarket Shopping</strong><br> Ask your students to accompany a parent or caregiver to the supermarket and create a list of eco-friendly products. Have the students share and post the list in the classroom.</p>
  <p>As a class, do a virtual shopping trip at an online grocery store to view eco-friendly products.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Language Arts</strong><br> <strong>Reading</strong><br> <strong>Standard 7.</strong> Uses reading skills and strategies to understand and interpret a variety of informational texts</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Uses reading skills and strategies to understand a variety of informational texts (e.g., textbooks, biographical sketches, letters, diaries, directions, procedures, magazines)<br> 5. Summarizes and paraphrases information in texts (e.g., includes the main idea and significant supporting details of a reading selection)<br> 6. Uses prior knowledge and experience to understand and respond to new information</p>
  <p><strong>Writing</strong><br> <strong>Standard 1. </strong>Uses the general skills and strategies of the writing process</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 5. Uses strategies (e.g., adapts focus, organization, point of view; determines knowledge and interests of audience) to write for different audiences (e.g., self, peers, teachers, adults)<br> 6. Uses strategies (e.g., adapts focus, point of view, organization, form) to write for a variety of purposes (e.g., to inform, entertain, explain, describe, record ideas)</p>
  <p><strong>Standard 4.</strong> Gathers and uses information for research purposes</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 4. Uses electronic media to gather information (e.g., databases, Internet, CD-ROM, television shows, cassette recordings, videos, pull-down menus, word searches) <br> 8. Uses strategies to compile information into written reports or summaries (e.g., incorporates notes into a finished product; includes simple facts, details, explanations, and examples; draws conclusions from relationships and patterns that emerge from data from different sources; uses appropriate visual aids and media)</p>
  <p><strong>Listening &amp; Speaking</strong><br> <strong>Standard 8. </strong>Uses listening and speaking strategies for different purposes</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Contributes to group discussions<br> 7. Makes basic oral presentations to class (e.g., uses subject-related information and vocabulary; includes content appropriate to the audience; relates ideas and observations; incorporates visual aids or props; incorporates several sources of information)</p>
  <p><strong>Science</strong><br> <strong>Standard 6.</strong> Understands relationships among organisms and their physical environment</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 5. Knows that all organisms (including humans) cause changes in their environments, and these changes can be beneficial or detrimental</p>
  <p><strong>Working With Others</strong><br> <strong>Standard 1.</strong> Contributes to the overall effort of a group</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

