{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . First Grade . Trash, Trash, and More Trash | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">TRASH, TRASH, AND MORE TRASH</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson1_3.pdf">download the PDF version of this lesson plan</a> (446k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will investigate a bag of trash to find out how much of the contents of the bag actually needs to go to the landfill. Students will create two class posters that show which items are recyclable and which ones are not. They will complete a math activity to determine how many bags of trash their families generate.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> First Grade</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information by retelling stories</li>
   <li>Determine if items should be recycled, reused, or sent to the landfill</li>
   <li>Create a class poster that explains recycling</li>
   <li>Analyze the volume of trash created by students' families</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Math</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a> <br></li>
   <li><a href="http://www.thomasrecycling.com/kids.html#anchor540984" title="Recycling Facts and Info for Kids">Recycling Facts and Info for Kids</a><br></li>
   <li><a href="http://www.epa.gov/epaoswer/non-hw/muncpl/recycle.htm" title="Paper Facts">Paper Facts</a><br></li>
   <li><a href="http://www.google.com" title="Google">Google</a><br></li>
   <li><a href="http://www.units.muohio.edu/dragonfly/houses/" title="Dragon Fly: Houses">Dragon Fly: Houses</a><br></li>
   <li><a href="http://www.dnr.state.wi.us/org/caer/ce/eek/earth/recycle/notgarbage.htm" title="It's Not All Garbage">It's Not All Garbage</a><br></li>
  </ul> <br>
  <p><span class="bluesubhead">Materials</span></p>
  <ul>
   <li><a href="pdfs/lesson1_3_minibags.pdf">Mini Trash Bag printouts</a></li>
   <li><a href="pdfs/lesson1_3_bagcounter.pdf">Trash Bag Counter Worksheet</a></li>
   <li>Trash bag</li>
   <li>Several glass jars with lids (If possible, choose an individual drink bottle and at least one jar with a plastic collar.)</li>
   <li>Five recyclable plastic bottles with covers (Try to include at least one gallon milk jug and an individual plastic drink bottle.)</li>
   <li>Three or six aluminum cans</li>
   <li>Paper items that might include a cereal box, magazine, milk carton, paper from your classroom trashcan.</li>
   <li>Several plastic shopping bags</li>
   <li>One item made from Styrofoam</li>
   <li>Pizza box</li>
   <li>Jar and bottle lids</li>
   <li>Candy or other food item</li>
   <li>Gum wrappers</li>
   <li>Aluminum foil</li>
   <li>Item of clothing</li>
   <li>Tissue</li>
   <li>Trash bag printouts (For math extension activity)</li>
   <li>Two poster boards</li>
   <li>Recycled/non-recycled materials for art project</li>
   <li>Paint</li>
   <li>Glue</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> These activities may be completed in the days leading up to the main activity.</p>
  <p><strong>Activity One: Exploring EekoHouse</strong><br> Visit the <a href="../index.html@load=garbage_recycling">Recycle section</a> of the EekoWorld Web site. View the site with your students, stopping at various points to explain concepts such as reduce, recycle, and reuse.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Recycle Quiz </strong><br> As a class, complete the It's Not All Garbage Quiz on the <a href="http://www.dnr.state.wi.us/org/caer/ce/eek/earth/recycle/notgarbage.htm" title="It's Not All Garbage">Wisconsin Department of Natural Resources Web site</a>.</p>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Is That Trash?</strong></p>
  <p class="indent"><em>Teacher Note: Before beginning this activity, you may want to contact your local landfill to find out what materials are recycled.</em></p>
  <p><strong>Step 1</strong><br> Gather the following items together and place them in a trash bag. These items are mere suggestions. Feel free to add or delete items.</p>
  <ul>
   Recyclable items suggestions:<br>
   <li>Several glass jars with lids (If possible, choose an individual drink bottle and at least one jar with a plastic collar.)<br></li>
   <li>Five recyclable plastic bottles with covers (Try to include at least one gallon milk jug and an individual plastic drink bottle.)<br></li>
   <li>Three or six aluminum cans<br></li>
   <li>Paper (This might include a cereal box, magazine, milk carton, paper from your classroom trash can.)<br></li>
   <li>Several plastic shopping bags<br></li>
   <li>An item of clothing<br><br> Non-recyclable items suggestions<br></li>
   <li>One item made from Styrofoam<br></li>
   <li>Pizza box<br></li>
   <li>Jar and bottle lids<br></li>
   <li>Candy or other food item<br></li>
   <li>Gum wrappers<br></li>
   <li>Aluminum foil<br></li>
   <li>Tissue</li>
  </ul>
  <p><strong>Step 2</strong><br> Explain to students that you have a trash bag that is going to go to the landfill. Ask students to predict, without seeing in the trash bag, how much of the bag's contents is actual trash that needs to go to the landfill.</p>
  <p><strong>Step 3</strong><br> Reach into the bag and pull out the items one at a time. Review each item with your class and determine if it should be placed in the reuse pile, the recycle pile, or the trash pile that will go to the landfill. The following is a list of suggested questions and/or comments that you might use for this activity. You don't need to remove the items in this order. Encourage students to think of unique ways to reuse items.</p>
  <p class="indent">Glass jar: Is this trash? Answer: No, glass can be recycled. Glass can be recycled forever. Show students how they need to remove any plastic collars from glass jars. Ask students if they can think of a way to reuse the jar instead of recycling it. Ask students if they can think of a way to reduce their use of glass bottles.</p>
  <p class="indent">Glass Fact: Recycling one glass bottle saves enough electricity to light a 100 watt light bulb for four hours. Ask students if you should place the jar in the recycle, reuse, or trash pile. You may choose to put some of the containers in the reuse pile and some in the recycle pile. Discuss how it is unrealistic that you will reuse every glass jar, but the recycle pile is a good place for the container when you have finished with it.</p>
  <p class="indent">Plastic containers: Pull out the five plastic bottles at the same time, and ask if the bottles are trash. Answer: No, plastic can be recycled. Ask students if they can think of a way to reuse the bottle instead of recycling it. Ask students if they can think of a way to reduce their use of plastic bottles.</p>
  <p class="indent">Plastic Fact: Recyclers can't get enough bottles because more than half of plastic bottles go to the landfill or incinerators. Show students how three of the five bottles are sent to the landfill. Ask students if you should place the plastic containers in the recycle, reuse, or trash pile.</p>
  <p class="indent">Aluminum Cans: Pull out the aluminum cans at the same time, and ask if the cans are trash. Answer: No, aluminum cans can be recycled.</p>
  <p class="indent">Aluminum Can Facts: Americans have earned billions of dollars from recycling cans. Show students how two out of every three cans are recycled. Ask students if they can think of a way to reduce their use of aluminum cans. Ask students if you should place the aluminum cans in the recycle, reuse, or trash pile.</p>
  <p class="indent">Paper: Pull out the paper from the trash bag. Ask students if the paper is trash. Answer: No, paper can be recycled.</p>
  <p class="indent">Paper Fact: Every ton of paper made from recycled materials saves about 17 trees. Ask students to share ideas on how they can reduce and reuse the paper. Ask students if you should place the paper in the recycle, reuse, or trash pile.</p>
  <p class="indent">Styrofoam: Pull out the item made from Styrofoam. Ask students if Styrofoam is trash. Answer: Yes, Styrofoam cannot be recycled. Place the Styrofoam item in the landfill pile.</p>
  <p class="indent">Styrofoam fact: Hundreds of years from now this item will still be sitting in a landfill.</p>
  <p class="indent">Pizza Box: Pull out the pizza box. Ask students if a pizza box is trash. Answer: Yes, pizza boxes are usually dirty and greasy and cannot be recycled.</p>
  <p><strong>Step 4</strong><br> Continue this process for the rest of the items, placing them in the appropriate pile. Return the items in the landfill pile to the original trash bag. Discuss how the bag contains a lot fewer items than it did in the beginning, and how we help the environment when we reduce, recycle and reuse.</p>
  <p><strong>Step 5</strong><br> Have the class create two recycle posters. One poster should contain drawings/pictures of recyclable items. You may even choose to glue some of the actual items onto the poster. The second poster should contain non-recyclable items. Again, you may glue items onto the poster. You may place a picture of a landfill on the posters. One way to find a photograph of a landfill is go to <a href="http://www.google.com" title="Google">Google</a>, type the word "landfill" in the query box, select "Images" button, and click on the "Google Search" button.</p>
  <p><strong>Step 6</strong><br> Hang the posters outside the classroom or in a commons area of the school.</p>
  <p class="indent">Facts for this activity were found on this Web site:<br> <a href="http://www.thomasrecycling.com/kids.html#anchor540984" title="Recycling Facts and Info for Kids">Recycling Facts and Info for Kids</a><br> <a href="http://www.epa.gov/epaoswer/non-hw/muncpl/recycle.htm" title="Paper Facts">Paper Facts</a></p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Trash Math</strong><br> <strong>Step 1</strong><br> Explain to students that they are going to explore how much trash their families generate in a given week. Tell students to count how many bags of trash they send to the landfill this week. Send the Trash Bag Counter Worksheet home with your students.</p>
  <p><strong>Step 2</strong><br> After students have returned the Trash Bag Counter Worksheets, give students one bag from the Mini Trash Bag Printout for each bag of trash their family threw out that week. Provide an area for students to hang up the mini trash bags. Hang the mini trash bags in rows of ten, and group ten rows of ten trash bags to create a group of one hundred trash bags. This will give students an opportunity to count by ones, tens and hundreds. Count the mini trash bags together as a class. Discuss how much trash the class and their families generated. Teacher Note: If students forgot to count the bags at home, tell them to ask their parents to estimate how many bags of trash they produced that week. If a student doesn't have a total number of bags, you may give him or her a number of bags that seems reasonable.</p>
  <p><strong>Step 3</strong><br> Continue counting trash bags for three more weeks, adding the mini trash bags to the wall and counting them each week. Discuss how it represents how much trash the class and their families generated in a month.</p>
  <p><strong>Step 4</strong><br> Photograph or otherwise recreate the recycled poster students created in Activity One, and reproduce it on regular-sized paper. Make copies to send home with students. Ask students to show the information to their families to remind or teach them about recycling. Tell students that they may choose to hang the paper near the trashcans at their house.</p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Science/Art</strong><br> Make A Recycled house for your EekoCreature<br> Read Eric Carle's book <em>A House for Hermit Crab</em>. Discuss why Hermit Crab needed a house. Have students give examples of the ways the plants and animals helped Hermit Crab with his house. (The snails cleaned his house; the spiky sea urchins protected it; the lanternfish provided light, etc.) Ask students in what ways they are like Hermit Crab.</p>
  <p>Visit the <a href="http://www.units.muohio.edu/dragonfly/houses/" title="Dragon Fly: Houses">Dragon Fly Web site</a> to explore other animals' houses. Discuss the unique features of each "house" and how they reflect the specific needs of each animal.</p>
  <p>Explain to students that they are going to create a house for their EekoCreature out of recycled materials. Ask students to keep in mind the special needs of their creature when they are creating the house.</p>
  <p>After students have completed their creatures and houses, provide time for them to share the special features of their creatures and houses with the entire class.</p>
  <p class="indent"><em>Teacher Note: A few days before you begin this activity, you may choose to have students bring in CLEAN materials that they were going to recycle or send to the landfill.</em></p>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Mathematics</strong><br> <strong>Standard 2.</strong> Understands and applies basic and advanced properties of the concepts of numbers</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Draws pictures to represent problems<br> 2. Uses discussions with teachers and other students to understand problems<br> 4. Makes organized lists or tables of information necessary for solving a problem</p>
  <p><strong>Standard 2.</strong> Understands and applies basic and advanced properties of the concepts of numbers</p>
  <p>1. Understands that numerals are symbols used to represent quantities or attributes of real-world objects<br> 2. Counts whole numbers (i.e., both cardinal and ordinal numbers)<br> 3. Understands symbolic, concrete, and pictorial representations of numbers (e.g., written numerals, objects in sets, number lines)<br> 4. Understands basic whole number relationships (e.g., 4 is less than 10, 30 is 3 tens)</p>
  <p><strong>Science</strong><br> Standard 8. Understands the structure and properties of matter</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows that different objects are made up of many different types of materials (e.g., cloth, paper, wood, metal) and have many different observable properties (e.g., color, size, shape, weight)<br> 2. Knows that things can be done to materials to change some of their properties (e.g., heating, freezing, mixing, cutting, dissolving, bending), but not all materials respond the same way to what is done to them<br></p>
  <p><strong>Language Arts</strong><br> <strong>Standard 5.</strong> Uses the general skills and strategies of the reading process</p>
  <p><strong>Language Arts</strong><br> <strong>Standard 8. </strong>Uses listening and speaking strategies for different purposes</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Makes contributions in class and group discussions (e.g., reports on ideas and personal knowledge about a topic, initiates conversations, connects ideas and experiences with those of others)</p>
  <p><strong>Standard 9. </strong>Uses viewing skills and strategies to understand and interpret visual media</p>
  <p>1. Understands the main idea or message in visual media (e.g., pictures, cartoons, weather reports on television, newspaper photographs, visual narratives)</p>
  <p><strong>Art</strong> <strong>Standard 1.</strong> Understands connections among the various art forms and other disciplines</p>
  <p><strong>Level II [Grade: K-4]</strong><br> 4. Knows ways in which the principles and subject matter of other disciplines taught in the school are interrelated with those of the arts (e.g., pattern in the arts and in science)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

