{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Fourth Grade . EEKO TRAVELERS: Exploring Diversity | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">EEKO TRAVELERS: Exploring Diversity</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson4_2.pdf">download the PDF version of this lesson plan</a> (483k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will explore the diversity of five distinct ecosystems. They will use the resources of EekoWorld as they learn about plants and wildlife, threats to different ecosystems, and different ways that people have made positive changes in the environment. They will conduct Internet research, create a travel brochure that highlights what they have learned about varied ecosystems, and stage a class presentation.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> 4</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Use varied strategies to comprehend written or oral language from a variety of sources</li>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information</li>
   <li>Analyze and evaluate multiple sources of information</li>
   <li>Interpret visual media</li>
   <li>Synthesize information from multiple sources</li>
   <li>Make connections between new information and prior knowledge</li>
   <li>Participate in group activities and class discussion</li>
   <li>Create a travel brochure</li>
   <li>Create an oral presentation</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Language Arts, Science, Art</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
   <li><a href="http://www.ZoomSchool.com/subjects/rainforest/" title="All About Rainforests">All About Rainforests</a></li>
   <li><a href="http://www.rainforestlive.org.uk/index.cfm?Articleid=208" title="Rainforest Live!">Rainforest Live!</a></li>
   <li><a href="http://mbgnet.mobot.org/sets/rforest/" title="What's It Like Where You Live?">What's It Like Where You Live?</a></li>
   <li><a href="http://www.bagheera.com/inthewild/spot_sprain.htm" title="Tropical Rainforests">Tropical Rainforests</a></li>
   <li><a href="http://www.enchantedlearning.com/biomes/tundra/tundra.shtml" title="Tundra Animal Printouts">Tundra Animal Printouts</a></li>
   <li><a href="http://www.inalaska.com/regions/farnorth/index.html" title="Alaska">Alaska</a></li>
   <li><a href="http://www.radford.edu/~swoodwar/CLASSES/GEOG235/biomes/tundra/tundra.html" title="The Tundra">The Tundra</a></li>
   <li><a href="http://www.ucmp.berkeley.edu/glossary/gloss5/biome/tundra.html" title="The Tundra Biome">The Tundra Biome</a></li>
   <li><a href="http://mbgnet.mobot.org/sets/tundra" title="Living in the Tundra">Living in the Tundra</a></li>
   <li><a href="http://www.ucmp.berkeley.edu/glossary/gloss5/biome/deserts.html" title="The Desert Biome">The Desert Biome</a></li>
   <li><a href="http://www.oxfam.org.uk/coolplanet/ontheline/explore/nature/deserts/sahara.htm" title="The Sahara">The Sahara</a></li>
   <li><a href="http://www.oxfam.org.uk/coolplanet/ontheline/explore/nature/deserts/animals.htm" title="Animals in the Desert">Animals of the Desert</a></li>
   <li><a href="http://www.oxfam.org.uk/coolplanet/ontheline/explore/nature/deserts/facts.htm" title="Desert Facts and Figures">Desert Facts and Figures</a></li>
   <li><a href="http://www.ZoomSchool.com/biomes/desert/desert.shtml" title="Deserts of the World">Deserts of the World</a></li>
   <li><a href="http://www.pbs.org/earthonedge/ecosystems/grasslands1.html" title="Grasslands Ecosystem Profile">Grasslands Ecosystem Profile</a></li>
   <li><a href="http://yahooligans.yahoo.com/content/ask_earl/20010309.html" title="Yahooligans: Ask Earl">Yahooligans: Ask Earl</a></li>
   <li><a href="http://www.bellmuseum.org/distancelearning/prairie/build/tb1.html" title="Build-a-Prairie">Build-A-Prairie</a></li>
   <li><a href="http://www.eagle.ca/~matink/themes/Biomes/prairies.html" title="Grasslands">Grasslands</a></li>
   <li><a href="http://www.ucmp.berkeley.edu/glossary/gloss5/biome/aquatic.html" title="The Aquatic Biome">The Aquatic Biome</a></li>
   <li><a href="http://www.nationalgeographic.com/monterey/ax/primary_fs.html" title="Monterey Bay">Monterey Bay</a></li>
   <li><a href="http://www.pbs.org/wnet/nature/critters/shark.html" title="Critter Guide: Shark">Critter Guide: Shark</a></li>
   <li><a href="http://yahooligans.yahoo.com/content/animals/species/3903.html" title="Yahooligans: California Sea Lion">California Sea Lion</a></li>
  </ul> <br>
  <p><span class="bluesubhead">Materials</span></p>
  <ul>
   <li>Construction paper (fold into three sections for travel brochure)</li>
   <li>Pencils, crayons, markers</li>
   <li>Videotape &amp; video camera if possible</li>
   <li>Seattle, Chief. <em>Brother Eagle, Sister Sky: The Words of Chief Seattle</em> New York: Dial Books, 1991.</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> <strong>Activity One</strong><br> In this initial activity, introduce varied ecosystems to the class by asking students to match the names of the ecosystem with each set of images on <a href="pdfs/lesson4_2_template.pdf">the template</a>. The goal of the activity is not to simply be correct, but to stimulate students' interest in exploring the diverse ecosystems by asking them to use clues to make predictions.</p>
  <p>Ask the students the reasons for their choices. Tell the class that they are going to learn more about these five ecosystems, and that they will be able to confirm their predictions as they continue their research and investigation. After you have finished the lesson activities, ask students to confirm their predictions.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Computer Explorations</strong><br> <strong>Step 1</strong><br> Divide the class into five groups. Provide students with the following scenario:</p>
  <p class="blockquote">You are a travel agent for EekoTravel, a company that helps people plan vacations to locations around the world. You are going to create a travel brochure in response to an imaginary letter asking for information.</p>
  <p><strong>Step 2</strong><br> Provide each group its assigned letter, and a list of Internet resources that can be used to create the travel brochures. Encourage your students to use library and classroom resources in addition to Internet links to conduct their research.</p>
  <p><strong>Group One: The Forest</strong></p>
  <p class="blockquote">Dear EekoTravel Agent:<br><br> My name is Ella Ongtooguk. I live in Barrow, Alaska, with my parents and my two brothers. I am in the fifth grade. Barrow is the northernmost settlement in Alaska. It is 340 miles north of the Artic Circle! My family wants to surprise my oldest brother Sam with a college graduation trip to a tropical rainforest. I would like your help in planning this trip. Everyone in my family is very interested in conservation, and we would like to learn everything we can about the rainforest before we travel. Can you send us information? We want to learn about the plants, the animals, the climate and the problems of this unique ecosystem. We would also like to know about any conservation efforts that are going on. In Barrow it is below freezing over 300 days during the year, and in the summer the average temperature is 40 degrees. I think we would greatly enjoy our experience in the tropical rainforest. Thank you for your help.<br><br> Sincerely,<br> Ella Ongtooguk</p>
  <p><strong>Resources:</strong></p>
  <ul>
   <li><a href="../index.html@load=env_forest">The Environment: Forest</a></li>
   <li><a href="http://www.ZoomSchool.com/subjects/rainforest/" title="All About Rainforests">All About Rainforests</a></li>
   <li><a href="http://www.bagheera.com/inthewild/spot_sprain.htm" title="Tropical Rainforests">Tropical Rainforests</a></li>
   <li><a href="http://www.rainforestlive.org.uk/index.cfm?Articleid=208" title="Rainforest Live!">Rainforest Live!</a></li>
   <li><a href="http://mbgnet.mobot.org/sets/rforest/" title="What's It Like Where You Live?">What's It Like Where You Live?</a></li>
  </ul>
  <p><strong>Group Two: The Tundra</strong></p>
  <p class="blockquote">Dear EekoTravel Agent:<br><br> Hi! I am Omeka, and I live in on the coast of Morocco in Africa. It is a beautiful and mountainous place, but I am very excited about seeing different parts of the world. I have hiked on Jebel Toukbal, which is my country's highest peak at an elevation of 13,665 ft. I would like to plan a tour of Alaska's tundra. I am 19, and my twin brother and my uncle will be with me on this adventure. We would like to see Alaska's high tundra. We love to hike, raft, and spend a lot of time in the wilderness. We are interested in journeying north to the Artic Circle. We think that it is important to preserve our environment and want to see ecosystems that are different from our own. Please send as much information as you can about the tundra.<br><br> Thank you,<br> Omeka</p>
  <p><strong>Resources</strong></p>
  <ul>
   <li><a href="../index.html@load=env_tundra">The Environment: Tundra</a></li>
   <li><a href="http://www.enchantedlearning.com/biomes/tundra/tundra.shtml" title="Tundra Animal Printouts">Tundra Animal Printouts</a></li>
   <li><a href="http://www.inalaska.com/regions/farnorth/index.html" title="Alaska">Alaska</a></li>
   <li><a href="http://www.radford.edu/~swoodwar/CLASSES/GEOG235/biomes/tundra/tundra.html" title="The Tundra">The Tundra</a></li>
   <li><a href="http://www.ucmp.berkeley.edu/glossary/gloss5/biome/tundra.html" title="The Tundra Biome">The Tundra Biome</a></li>
   <li><a href="http://mbgnet.mobot.org/sets/tundra" title="Living in the Tundra">Living in the Tundra</a></li>
  </ul>
  <p><strong>Group Three: The Desert</strong></p>
  <p class="blockquote">Dear EekoTravel Agent:<br><br> I am a New York City native who has always wanted to see the desert. On my college spring break, I want to take a trip with two of my cousins. I am amazed by the abundance of plants and wildlife that live in this ecosystem. Since much of my life is filled with crowded streets, I try to spend my vacations in quieter places. I also know that the deserts are threatened, so I feel it is important to learn as much as I can about them. I am particularly interested in traveling to the Sahara Desert. I understand you can camp under the stars and see oceans of sand dunes around you. Before I take a trip, I try to learn as much as I can about my destination. I was surprised to find out that the Sahara Desert accounts for around 8 per cent of the world's land area and has about 1,200 species of plants. Please send me as much information about this ecosystem as you can find. <br><br> Thanks,<br> Joe</p>
  <p><strong>Resources</strong></p>
  <ul>
   <li><a href="../index.html@load=env_desert">The Environment: Desert</a></li>
   <li><a href="http://www.ucmp.berkeley.edu/glossary/gloss5/biome/deserts.html" title="The Desert Biome">The Desert Biome</a></li>
   <li><a href="http://www.oxfam.org.uk/coolplanet/ontheline/explore/nature/deserts/sahara.htm" title="The Sahara">The Sahara</a></li>
   <li><a href="http://www.oxfam.org.uk/coolplanet/ontheline/explore/nature/deserts/animals.htm" title="Animals in the Desert">Animals of the Desert</a></li>
   <li><a href="http://www.oxfam.org.uk/coolplanet/ontheline/explore/nature/deserts/facts.htm" title="Desert Facts and Figures">Desert Facts and Figures</a></li>
   <li><a href="http://www.ZoomSchool.com/biomes/desert/desert.shtml" title="Deserts of the World">Deserts of the World</a></li>
  </ul>
  <p><strong>Group Four: The Prairie</strong></p>
  <p class="blockquote">Dear EekoTravel Agent:<br><br> I would like to visit a prairie park. I started a Web site with prairie photographs and would like to add to my collection. Some of the photographs I already have include prairie dogs, pronghorns and the sweet coneflower plant. I know that in the United States, the wild prairie has mostly disappeared and that only a few spots of wild prairie remain. Most have been converted to commercial farms. I will be traveling with my grandpa. He wants me to see this ecosystem, because he has memories of it from his own childhood. Can you send me information about the prairie?<br><br> Thank you, <br> Edward</p>
  <p><strong>Resources</strong></p>
  <ul>
   <li><a href="../index.html@load=env_grasslands">The Environment: Grasslands</a></li>
   <li><a href="http://www.pbs.org/earthonedge/ecosystems/grasslands1.html" title="Grasslands Ecosystem Profile">Grasslands Ecosystem Profile</a></li>
   <li><a href="http://yahooligans.yahoo.com/content/ask_earl/20010309.html" title="Yahooligans: Ask Earl">Yahooligans: Ask Earl</a></li>
   <li><a href="http://www.bellmuseum.org/distancelearning/prairie/build/tb1.html" title="Build-a-Prairie">Build-A-Prairie</a></li>
   <li><a href="http://www.eagle.ca/~matink/themes/Biomes/prairies.html" title="Grasslands">Grasslands</a></li>
  </ul>
  <p><strong>Group Five: The Aquatic Ecosystem </strong></p>
  <p class="blockquote">Dear EekoTravel Agent:<br><br> I have never seen the ocean, and my grandmother has decided to take my sister and me on a trip this summer to see this wonderful sight. We've decided that we want to see the Pacific Ocean in California. The aquatic ecosystem is so diverse that we had a hard time deciding where to go. After we did some Internet research, we learned a lot. We want to go to Monterey, in northern California, and also the site of the Monterey Bay Aquarium. I did a report in my sixth grade class on sea lions, and my sister has always been interested in sharks. Please send us any information you can find on this ecosystem.<br><br> Thanks,<br> Maria Elena</p>
  <p><strong>Resources</strong></p>
  <ul>
   <li><a href="../index.html@load=env_aquatic">The Environment: Aquatic</a></li>
   <li><a href="http://www.ucmp.berkeley.edu/glossary/gloss5/biome/aquatic.html" title="The Aquatic Biome">The Aquatic Biome</a></li>
   <li><a href="http://www.nationalgeographic.com/monterey/ax/primary_fs.html" title="Monterey Bay">Monterey Bay</a></li>
   <li><a href="http://www.pbs.org/wnet/nature/critters/shark.html" title="Critter Guide: Shark">Critter Guide: Shark</a></li>
   <li><a href="http://yahooligans.yahoo.com/content/animals/species/3903.html" title="Yahooligans: California Sea Lion">California Sea Lion</a></li>
  </ul>
  <p>Provide the following list of suggestions that students can include in creating their travel brochures:</p>
  <ul>
   <li>Information on climate</li>
   <li>Descriptions of animals</li>
   <li>Descriptions of plants</li>
   <li>Description of land</li>
   <li>Threats to the ecosystem</li>
   <li>Actions people are taking to help the ecosystem</li>
  </ul>
  <p><strong>Step 3</strong><br> Ask each group to present its brochure to the entire class. If possible, videotape the presentations. Lead a class discussion about the similarities and differences among the varied ecosystems, the threats each face, and how people are working to help preserve them.</p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Activity One: Journal Writing </strong><br> Ask the students to participate in a "Think-Pair-Share" activity. First, have them respond briefly in writing to the following prompt:</p>
  <p class="indent">You have collected many facts about different ecosystems and learned many new things. It is also important to think about your personal connection to the natural world. Briefly describe your own personal connection and responses to the beauty of nature.</p>
  <p>After the students have finished writing, divide them into pairs and ask them to share their responses.</p>
  <p>Ask for volunteers to share their thoughts on this topic with the entire class.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Nature &amp; Literature</strong><br> Read the book <em>Brother Eagle, Sister Sky: The Words of Chief Seattle</em> aloud to your students. This book focuses on how it is important to care for and preserve the environment.</p>
  <p>Host a weekly Author's Chair where students can present some of their favorite environmental-themed books to their classmates. You may wish to visit the <a href="/eekoworld/parentsteachers/teachers.html">Teacher's Guide</a> to find recommendations.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Language Arts</strong><br> <strong>Reading</strong><br> <strong>Standard 7.</strong> Uses reading skills and strategies to understand and interpret a variety of informational texts</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Uses reading skills and strategies to understand a variety of informational texts (e.g., textbooks, biographical sketches, letters, diaries, directions, procedures, magazines)<br> 5. Summarizes and paraphrases information in texts (e.g., includes the main idea and significant supporting details of a reading selection)<br> 6. Uses prior knowledge and experience to understand and respond to new information</p>
  <p><strong>Writing</strong><br> <strong>Standard 1.</strong> Uses the general skills and strategies of the writing process</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 5. Uses strategies (e.g., adapts focus, organization, point of view; determines knowledge and interests of audience) to write for different audiences (e.g., self, peers, teachers, adults)<br> 6. Uses strategies (e.g., adapts focus, point of view, organization, form) to write for a variety of purposes (e.g., to inform, entertain, explain, describe, record ideas)</p>
  <p><strong>Standard 4.</strong> Gathers and uses information for research purposes</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 4. Uses electronic media to gather information (e.g., databases, Internet, CD-ROM, television shows, cassette recordings, videos, pull-down menus, word searches) <br> 8. Uses strategies to compile information into written reports or summaries (e.g., incorporates notes into a finished product; includes simple facts, details, explanations, and examples; draws conclusions from relationships and patterns that emerge from data from different sources; uses appropriate visual aids and media)</p>
  <p><strong>Listening &amp; Speaking</strong><br> <strong>Standard 8. </strong>Uses listening and speaking strategies for different purposes</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Contributes to group discussions<br> 7. Makes basic oral presentations to class (e.g., uses subject-related information and vocabulary; includes content appropriate to the audience; relates ideas and observations; incorporates visual aids or props; incorporates several sources of information)</p>
  <p><strong>Science</strong><br> <strong>Standard 6. </strong>Understands relationships among organisms and their physical environment</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 5. Knows that all organisms (including humans) cause changes in their environments, and these changes can be beneficial or detrimental</p>
  <p><strong>Working With Others</strong><br> <strong>Standard 1.</strong> Contributes to the overall effort of a group</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

