{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Fourth Grade . Lunchtime Investigations | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">LUNCHTIME INVESTIGATIONS</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson4_3.pdf">download the PDF version of this lesson plan</a> (135k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson, students will create a mini landfill and fill it with items from their school lunch remains. They will investigate what items from their school lunch are sent to the landfill and learn how these items decompose. They will brainstorm ways to reduce and reuse the contents of their lunches, repeat the lunchtime investigation and compare the results.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> Fourth Grade</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Analyze how items decompose in a landfill</li>
   <li>Investigate how many items from their school lunch end up in the landfill</li>
   <li>Create posters to educate students on how to reduce and reuse items in their school lunches</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Math, Language Arts</p>
  <p><br> <span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
   <li><a href="http://www.mass.gov/dep/recycle/files/k6build.htm" title="Build a Mini-Landfill">Build a Mini-Landfill</a></li>
   <li><a href="http://www.dnr.state.wi.us/org/caer/ce/eek/earth/recycle/recyquiz.htm" title="Home Recycling Survey">Home Recycling Survey</a></li>
   <li><a href="http://aggie-horticulture.tamu.edu/sustainable/slidesets/kidscompost/kid1.html" title="Composting for Kids">Composting for Kids</a></li>
   <li><a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_4_3_e">Composting in Schools</a></li>
   <li><a href="http://www.epa.gov/epaoswer/non-hw/reduce/catbook/what.htm" title="EPA">EPA</a></li>
  </ul>
  <p><span class="bluesubhead">Materials</span></p>
  <ul>
   <li>Milk carton</li>
   <li>Juice box</li>
   <li>Aluminum can</li>
   <li>Plastic lunch bag</li>
   <li>Napkin</li>
   <li>Plastic bottle</li>
   <li>Food scraps</li>
   <li>Waxed paper</li>
   <li>Potato chip bag and/or packaging from other individual wrapped food items</li>
   <li>Aluminum foil</li>
   <li>Brown paper bag</li>
   <li>Poster-size paper</li>
   <li>Colored pencils</li>
   <li>Glue</li>
   <li>Items to create a mini landfill. These will vary depending on what type of landfill you create.</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> The second background activity should be completed three weeks before beginning the main activity.</p>
  <p><strong>Activity One: Exploring EekoHouse</strong><br> Visit the <a href="../index.html@load=garbage_recycling">Grabage &amp; Recycle section</a> of the EekoWorld Web site with your students, and discuss why reducing, reusing, and recycling are important.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Mini Landfill</strong><br> Build a mini landfill in your class. Fill the landfill with the typical items from a school lunch. This should include a milk carton, juice box, aluminum can, plastic lunch bag, napkin, plastic bottle, food scraps, waxed paper, potato chip bag and/or packaging from other individually wrapped food items, aluminum foil, and brown paper bag, etc. There are several Internet sites that provide instructions for the creation of a mini landfill. You may find one of these or use the instructions on the <a href="http://www.mass.gov/dep/recycle/files/k6build.htm" title="Build a Mini-Landfill">Massachusetts Department of Environmental Protection Web site</a>. (Replace the items they recommend placing in the landfill with the items from a school lunch mentioned above.)</p>
  <p class="indent"><em>Teacher Note: Create the landfill three weeks prior to completing Activity One. Activity One may be completed without creating the mini landfill; simply discuss what happens to the various items in a landfill.</em></p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One</strong><br> <strong>Step 1</strong><br> Have students save the packaging and food remains from their lunch. Before students throw these items away, ask students to record what and how many items they have remaining from their lunch on a post-lunch list. These should be items they are going to throw in the trash or recycle. Post-Lunch List Example: 2 plastic lunch bags, 1 juice box, 1 napkin, food scraps, 1 piece of aluminum foil, and 1 brown paper bag. Use the information on the post-lunch list to create a class graph that displays the items and the number of those items that students threw away or recycled from their lunches. Instead of counting each food scrap, count the number of students that threw away food items. Teacher note: Create a bar graph for this activity that shows what and how many items where thrown away. Leave space to record additional data that will be generated in Activity Two.</p>
  <p><strong>Step 2</strong><br> Discuss the items that were thrown away or recycled from the students' lunches. Discuss how certain items in the lunches could be reduced. For example, individual serving sizes of chips or drinks could be replaced with larger containers of chips or drinks. If students generally throw away food, they could discuss the issue with their parents and decide what is an appropriate amount of food to bring to school. Explain to students that food scraps in landfills only decompose 25% in the first 15 years. Discuss what items in the lunches can be recycled. Explain that while recycling these items is good, it is better to use an item that can be reused. Ask for examples of items that students reuse. Example: a lunch box, plastic or paper bags, glass jars, thermos, etc.</p>
  <p><strong>Step 3</strong><br> Discuss how the school cafeteria reduces (buys in bulk), reuses (reuses plates, silverware and trays) and recycles (you may need to ask the cafeteria workers to answer this question).</p>
  <p><strong>Step 4</strong><br> Create three columns on the board or a piece of chart paper. Write one of each of these headings on each column, "Decomposed the Most," Decomposed a Little," and "Didn't Decompose at All." Uncover the landfill and record the name of each item in one of the three columns. Have students look at the items on their post-lunch list and find the same items on the landfill columns. Ask students to compare the items on their post-lunch list to items in the landfill and tally how many of these items decomposed the most, a little, or not at all in the landfill.</p>
  <p><strong>Step 5</strong><br> Discuss how the choices we all make every day impact the amount and types of trash that ends up in the landfill. Discuss how reducing, recycling and reusing makes less waste, which saves our natural resources, and causes less pollution.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two</strong><br> <strong>Step 1</strong><br> As a class, brainstorm ways to produce a litterless lunch. Ideas might include lunchboxes or cloth bags, a thermos, cloth napkins, silverware, reusable plastic containers, etc.</p>
  <p><strong>Step 2</strong><br> Have students design three posters. Students may work in small groups for this activity. Students may choose to glue actual items to the poster.</p>
  <p class="blockquote"><strong>Poster One:</strong> This poster will show a lunch that didn't reduce, recycle or reuse. <br> <strong>Poster Two:</strong> This poster will show an example of a litterless lunch. <br> <strong>Poster Three:</strong> This poster will illustrate what happens to lunch box items when they go to a landfill.<br> Hang the posters in the school cafeteria.</p>
  <p><strong>Step 3</strong><br> Explain to students that they are going to create another graph to see if they have made any eco-friendly changes to the items in their school lunches. You might want to give students a few days' or a week's notice to make some changes.</p>
  <p><strong>Step 4</strong><br> Repeat the post-lunch examination of students' lunches. Record the data on the chart. Compare the results.</p>
  <p><strong>Step 5</strong><br> Discuss how people need to take responsibility for the waste they produce. Discuss how it really is pretty easy and that every action helps to make a difference. Ask students to spend several minutes writing about what they, as kids, can do to make a difference and why it is important for them to take responsibility for their own actions.</p>
  <p class="indent"><em>Teacher Note: You may choose to have your students complete the <a href="http://www.dnr.state.wi.us/org/caer/ce/eek/earth/recycle/recyquiz.htm" title="Home Recycling Survey">Home Recycling Survey</a> on the Wisconsin Department of Natural Resources Web site. </em></p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Math Stories</strong><br> Have students create math stories based on the information on the <a href="http://www.epa.gov/epaoswer/non-hw/reduce/catbook/what.htm" title="EPA">General Overview of What's in America's Trash graph</a> from the Environmental Protection Agency.</p>
  <p><strong>Composting Activity</strong><br> Investigate composting. Create a 'How To" booklet and send it home with students. These Web sites contain information on composting:</p>
  <ul>
   <li><a href="http://aggie-horticulture.tamu.edu/sustainable/slidesets/kidscompost/kid1.html" title="Composting for Kids">Composting for Kids</a>.</li>
   <li><a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_4_3_e">Composting in Schools</a></li>
  </ul>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Mathematics</strong><br> <strong>Standard 6. </strong>Understands and applies basic and advanced concepts of statistics and data analysis</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 1. Understands that data represent specific pieces of information about real-world objects or activities<br> 5. Reads and interprets simple bar graphs, pie charts, and line graphs</p>
  <p><strong>Language Arts</strong><br> <strong>Standard 1.</strong> Uses the general skills and strategies of the writing process</p>
  <p>6. Uses strategies (e.g., adapts focus, point of view, organization, form) to write for a variety of purposes (e.g., to inform, entertain, explain, describe, record ideas)<br> 10. Writes expressive compositions (e.g., expresses ideas, reflections, and observations; uses an individual, authentic voice; uses narrative strategies, relevant details, and ideas that enable the reader to imagine the world of the event or experience)</p>
  <p><strong>Standard 4.</strong> Gathers and uses information for research purposes</p>
  <p>7. Uses strategies to gather and record information for research topics (e.g., uses notes, maps, charts, graphs, tables, and other graphic organizers; paraphrases and summarizes information; gathers direct quotes; provides narrative descriptions)</p>
  <p><strong>Science</strong><br> <strong>Standard 6.</strong> Understands relationships among organisms and their physical environment</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 5. Knows that all organisms (including humans) cause changes in their environments, and these changes can be beneficial or detrimental</p>
  <p><strong>Standard 12.</strong> Understands the nature of scientific inquiry</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 2. Knows that scientists use different kinds of investigations (e.g., naturalistic observation of things or events, data collection, controlled experiments), depending on the questions they are trying to answer</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

