{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Second Grade . The Same Old Water | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">THE SAME OLD WATER</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson2_3.pdf">download the PDF version of this lesson plan</a> (120k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will plan and conduct a simple investigation to gather information on ways to clean dirty water. Students will create Save Water Reminders to teach or remind family members to conserve water.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> Second Grade</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Plan and conduct a simple investigation</li>
   <li>Communicate investigations and explanations</li>
   <li>Compile a list of ways people can conserve water</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Language Arts</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web site:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
  </ul>
  <p><br> <span class="bluesubhead">Materials</span></p>
  <ul>
   <li>Six glass jars</li>
   <li>Magnifying glass</li>
   <li>Small amount of dirt, leaves, and/or grass</li>
   <li>Water</li>
   <li>Cheesecloth (1 small piece)</li>
   <li>Sieve</li>
   <li>Coffee filter (one)</li>
   <li>Four-inch circles of paper (4 or 5 per student)</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> These activities may be completed in the days leading up to the main activity.</p>
  <p><strong>Activity One: What Am I?</strong><br> Tell students that you are going to read them a series of clues and they are going to guess what you are describing based on the clues.</p>
  <ul>
   <li>Without me the earth would look like the moon.</li>
   <li>When I'm clean, I am colorless, odorless and tasteless.</li>
   <li>I take up over half of your body.</li>
   <li>I cover over 80% of the earth.</li>
   <li>I fall from the sky.</li>
  </ul>
  <p>Lead the class in a brief discussion on the topic of water. You may use the following questions for the discussion:</p>
  <ul>
   <li>Can human beings survive longer without food or without water? (Food)</li>
   <li>What is your favorite form of water? Liquid, snow or ice?</li>
   <li>What is your favorite activity that involves water? Skiing, swimming, hockey, boating, etc.</li>
   <li>Where does the water at your house come from?</li>
   <li>Why is it important that we have clean water?</li>
  </ul>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Exploring EekoWorld</strong><br> Visit the <a href="../index.html@load=env_aquatic">Aquatic section</a> of the EekoWorld Web site. View this section of the site with your students, stopping at various points to explain concepts. Discuss the causes for water pollution.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Clean Water Experiment</strong><br> <strong>Step 1</strong><br> Explain to students that the water we use today is the same water that the dinosaurs used. Tell students that once water becomes dirty it needs to be cleaned before people can drink it. Explain that they are going to conduct an experiment to investigate different techniques to clean water.</p>
  <p><strong>Step 2</strong><br> Prepare three jars of dirty water. You may mix clean water with dirt, leaves, grass or other items to make dirty water. Put the dirty water into clear jars so that students can see that the water is dirty. To set up the experiment, place the three empty jars on the table in a row and place a jar of dirty water behind each clear, empty jar. Place the cheesecloth in front of the jar on the left, place the sieve in front of the middle jar and the coffee filter in front of the jar on the right. Explain to students that you are going to pour one jar of the water through a piece of cheesecloth, another jar through a sieve, and the last jar through a coffee filter. Tell students that these items will act as filters to help clean the water.</p>
  <p><strong>Step 3</strong><br> Pass out paper to each student. Show students how to fold the paper into three columns. Tell students that they are going to draw a picture of the jar of dirty water and the cheesecloth in first column, a jar of dirty water and the sieve in the middle column and a jar of dirty water and the coffee filter in the last column. Ask students to predict which of the three filters will do the best job and which filter will do the worst job of cleaning the water. Tell students to mark their predictions on their Clean Water Experiment paper by writing the words "cleanest water" and "dirtiest water" in the columns that contain the corresponding pictures. Ask students to share their predictions with a partner or with the class.</p>
  <p><strong>Step 4</strong><br> Pour the contents through the three filters. Have the students look at the jars and determine which filter did the best and the worst job. If you have a magnifying glass, let students take turns using it to look at the water.</p>
  <p><strong>Step 5</strong><br> Discuss the reasons for the results and compare the results with students' predictions. Read <em>The Magic School Bus Visits the Waterworks</em> to your class to show students how water is cleaned at a water treatment facility. Discuss how water is treated in their community.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Save Water Reminders</strong><br> <strong>Step 1</strong><br> Explain to students that cleaning up water after it has been used takes a lot of electricity. In fact, most cities use most of their electricity to supply and clean up water. Discuss why it is important to use less water in the first place, rather than cleaning the water after it has been used.</p>
  <p><strong>Step 2</strong><br> Tell students that they are going to create Save Water Reminders and hang them in their house to remind themselves and family members to save water. Brainstorm a list of ways they can save water at home. For example, these might include keeping a pitcher of water in the refrigerator so that you don't have to run the water to get it cold when you want a glass of water, putting the drain down on the bathtub before turning the water on, turning off the water while you brush your teeth, taking shorter showers, etc.</p>
  <p><strong>Step 3</strong><br> Cut out four-inch circles and pass out four or five circles to each student. Explain to students that they are going to create Save Water Reminders on the circles. Tell students to draw or write tips for saving water on the circles. These tips may come from the list of ideas the class has generated, or may be ones of their own choosing. Tell students to bring the Save Water Reminders home and hang them up around the house.</p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Leaky Toilet Math Activity</strong><br> Ask students to put ten drops of food coloring in their toilet tank at home. Tell students to check it a half an hour later to see if they have a leaky toilet. If the toilet has a leak, the water in the bowl will be colored. Have students share the results with the class. Plot the results on a class graph.</p>
  <p><strong>Water Cycle</strong><br> Visit the <a href="http://www.epa.gov/OGWDW/kids/flash/flash_watercycle.html" title="Water Cycle">Environmental Protection Agency's Web site</a> to learn about the water cycle.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Science</strong><br> <strong>Standard 12.</strong> Understands the nature of scientific inquiry</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows that learning can come from careful observations and simple experiments<br> 2. Knows that tools (e.g., thermometers, magnifiers, rulers, balances) can be used to gather information and extend the senses</p>
  <p><strong>Standard 13. </strong>Understands the scientific enterprise</p>
  <p>Level I [Grade: K-2]<br> 1. Knows that in science it is helpful to work with a team and share findings with others</p>
  <p><strong>Language Arts</strong><br> <strong>Standard 1.</strong> Uses the general skills and strategies of the writing process</p>
  <p>Level I [Grade: K-2]<br> 7. Writes in a variety of forms or genres (e.g., picture books, friendly letters, stories, poems, information pieces, invitations, personal experience narratives, messages, responses to literature)<br> 8. Writes for different purposes (e.g., to entertain, inform, learn, communicate ideas)</p>
  <p><strong>Standard 5.</strong> Uses the general skills and strategies of the reading process</p>
  <p>2. Uses meaning clues (e.g., picture captions, title, cover, headings, story structure, story topic) to aid comprehension and make predictions about content (e.g., action, events, character's behavior)</p>
  <p><strong>Standard 7.</strong> Uses reading skills and strategies to understand and interpret a variety of informational texts</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Uses reading skills and strategies to understand a variety of informational texts (e.g., written directions, signs, captions, warning labels, informational books)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

