{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . First Grade . CLEAN AIR DETECTIVE: Investigating Air Pollution | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">CLEAN AIR DETECTIVE: Investigating Air Pollution</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson1_1.pdf">download the PDF version of this lesson plan</a> (384k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will participate in a scientific inquiry activity regarding the air they breathe inside and around their house. They will plan and conduct a simple investigation to gather information on air quality. Students will also help to reduce air pollution by shutting off lights, toys, machines and appliances and by reducing their travel in cars.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> First Grade</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Plan and conduct a simple investigation</li>
   <li>Use data to construct a reasonable explanation</li>
   <li>Communicate investigations and explanations</li>
   <li>Demonstrate that the air can be clean or dirty</li>
   <li>Identify causes of air pollution</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Language Arts</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web site:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
   <li><a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_lessonplan_1_1_a">Google</a></li>
  </ul>
  <p><br> <span class="bluesubhead">Materials</span></p>
  <ul>
   <li><a href="pdfs/lesson1_1_creatureprint.pdf">Air Catcher Creature Printouts</a></li>
   <li><a href="pdfs/lesson1_1_creaturedir.pdf">Air Catcher Creature Directions</a></li>
   <li><a href="pdfs/lesson1_1_creaturesheet.pdf">Creature worksheet</a></li>
   <li>Magnifying glasses</li>
   <li>Clear tape</li>
   <li>Butcher paper</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span> These activities may be completed in the days leading up to the main activity.</p>
  <p><strong>Activity One: Is the Jar Really Empty?</strong><br> Find three covered glass jars. Place objects in two of the jars, and don't put anything into the third jar. Show the students the jars and ask them how many jars have something in them. The answer is that all three jars contain something. The seemingly empty jar actually contains air. If no student answers, "Three jars," right away, continue to prompt them so that they know they need to look at the jars in a different way. After a student guesses correctly, or you tell them the answer, discuss how air is all around us even though we can't see it.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Exploring EekoWorld</strong><br> Show students a photograph of a city on a day when the sky is clear and a day when it is blanketed in pollution. Show students the picture of the polluted skyline and ask them if they know what causes the sky to look the way it does. Explain to students that pollution is dirty air. Discuss how clean air is good for people to breathe and that dirty air is not good for people to breathe. You may find photographs on the Google Web site to complete this activity. Go to <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_lessonplan_1_1_a">www.google.com</a> and click on the "Images" button. Type in the word "smog" and click the "search" button. Repeat typing in the words "clear skies."</p>
  <p>Visit the <a href="../index.html@load=air">Air</a> section of the EekoWorld Web site. View this section of the site with your students, stopping at various points to explain concepts. Discuss the causes for air pollution.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One</strong><br> <strong>Step 1</strong><br> Ask students to imagine that a creature that has a breathing problem wants to come and live with them. Explain that they are going to investigate to find the best place with the cleanest air for this creature to sleep.</p>
  <p><strong>Step 2</strong><br> Each student will have four Air Catching Creatures. Do not cut the creatures along the outline of the creature. Instead cut a square shape around the creature. (If you cut along the outside line of the creature, there will not be a large enough area on which to attach the tape.) Cut along the dotted lines in the creature's mouth. Pass out the Creature printouts and ask students to color them. Demonstrate to students how they will (when they get home) stick tape onto the cutout space on the creature's mouth. Show students how the sticky side of the tape will face the colored side of the creature. Tell students that they will place the four creatures in and around their house to measure how clean the air is and find the place with the cleanest air for the creature to sleep, and the area with the dirtiest air so that the creature can avoid going there. Ask students how they think the tape will help to measure how clean the air is in the different areas in and around their house. (Particles in the air will stick to the tape.)</p>
  <p><strong>Step 3</strong><br> Tell students that when they get home, they are going to hang the creatures in four different places:</p>
  <ul>
   <li>One outside of the house</li>
   <li>One in the place where they think the air is cleanest in the house</li>
   <li>Two in two different places inside the house where they think the air is the dirtiest</li>
  </ul>
  <p><strong>Step 4</strong><br> Brainstorm a list of the places inside the house where the air might be the dirtiest. These might include the near the stove in the kitchen, near a clothes dryer, near where a pet sleeps, the garage, near a fireplace, woodstove, or a heating vent, etc. Brainstorm a list of the places where the air might be the cleanest.</p>
  <p><strong>Step 5</strong><br> Pass out the investigation worksheets. Ask students to decide where they will hang their four creatures when they get home and write, or draw, the four locations in the boxes on the worksheet. After they have finished filling in the boxes, ask students the following questions:</p>
  <ul>
   <li>Which place do you think will have the cleanest air?</li>
   <li>Which place do you think will have the dirtiest air?</li>
  </ul>
  <p>Ask students to write the words, "Cleanest Air" and the words "Dirtiest Air" on the line under the boxes that they predict will have the cleanest and dirtiest air. Break the class into small groups and have them share the predictions and the reasons behind them with their group members. After the groups have finished, ask members from each group to share their predictions with the entire class. Before students leave the group, have students write the name of — or draw a picture of — the location where they will hang each creature on the back of that creature.</p>
  <p class="indent"><em>Teacher Note: Collect worksheets.</em></p>
  <p><strong>Step 6</strong><br> Send the students home with their creatures and a set of directions. Remind students to make sure that they look at the picture or words on each creature and hang it in the same location written or drawn on that creature. Explain that they will leave the creatures up for one week. Tell students that when they take the creatures down, they will cover the sticky side of the tape with a CLEAR tape. This will prevent the tape from sticking to things when they bring it back to school.</p>
  <p><strong>Step 7</strong><br> After the students have brought the creatures back to school, have the class break into small groups. Pass out the Creature Worksheets. If possible, have a magnifying glass for each group. Have students look at their "data" with the magnifying glass and determine where the dirtiest and the cleanest air is in their house. Tell students to answer the corresponding questions on the worksheet. Ask students to share their predictions and the results with the group members. After the groups have finished, ask each group to share some of the results with the entire class.</p>
  <p class="indent"><em>Teacher Note: You may choose to model this activity by completing an investigation at your school. The area where the buses drop off and pick up students would be an excellent area to hang an air catcher. Students who don't bring back their air catchers from home may use the air catchers that were hung around the school to complete the Creature Worksheets and report the results to the class. You may also choose to pair a student who doesn't return his or her air creatures to school with a student who has an air catcher.</em></p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Prevent Air Pollution</strong><br> <strong>Step 1</strong><br> Visit the <a href="../index.html@load=eekohouse">EekoHouse</a> and record the things that people can do to save electricity. Remind students that using electricity causes air pollution. Ask students what other things cause air pollution. The answers might include factories, cars, construction, natural dust, fires, etc. Discuss how automobile emissions is the number one cause of pollution in the United States.</p>
  <p><strong>Step 2</strong><br> Tell students that they are going to begin a class project to see what they can do to help stop air pollution. Explain to students that, where air pollution is concerned, the little things that everyone does really do help stop air pollution.</p>
  <p><strong>Step 3</strong><br> You may choose one or both of the following suggestions for this activity. Create a graph on a long piece of butcher paper to record the number of miles or shut offs for the following activities. This graph should have numbers along the side and a place that can be colored to record the numbers. This could look like an open-ended fundraiser type graph. Decide what increments will be used before you create the graph.</p>
  <p class="indent">Flip the Switch: Tell students that they are going to keep track of how many lights, toys, machines and appliances they shut off every day. Ask students to keep count of how many things they shut off every day and bring the total to school each day for a week. Tally the numbers every day and record them on the graph.</p>
  <p class="indent">Save Gas: Engage students in a conversation about how each time a car runs it makes the air dirty. Ask students to brainstorm ways that they can reduce automobile use. Ideas may include walking, riding bikes, rollerblading, skateboarding, combining trips to various places, carpooling and/or using public transportation. Tell students to keep track of the miles that they and/or their family members save by engaging in these gas-saving activities. Ask students to keep count of how miles they walk, carpool, or take public transportation every day. You might want to send a note home with your students that explains the project. Tell students to bring the total number of miles to school each day for a week. Tally the numbers every day and record them on the graph.</p>
  <p><strong>Step 4</strong><br> Create a class report that explains what they did, why it is important and the total number of electrical shut offs and/or miles recorded on the graph. Send a copy home with each student.</p> <br>
  <p><span class="bluesubhead">Extension Activity</span><br> After the Prevent Air Pollution activity is completed, stage a school assembly to explain to the student body what you did. Encourage the other classes to adopt the program.</p>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Science</strong><br> <strong>Standard 12.</strong> Understands the nature of scientific inquiry</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows that learning can come from careful observations and simple experiments<br> 2. Knows that tools (e.g., thermometers, magnifiers, rulers, balances) can be used to gather information and extend the senses</p>
  <p><strong>Standard 13.</strong> Understands the scientific enterprise</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows that in science it is helpful to work with a team and share findings with others</p>
  <p><strong>Language Arts</strong><br> <strong>Standard 5</strong>. Uses the general skills and strategies of the reading process</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 2. Uses meaning clues (e.g., picture captions, title, cover, headings, story structure, story topic) to aid comprehension and make predictions about content (e.g., action, events, character's behavior) <br> 8. Reads aloud familiar stories, poems, and passages with fluency and expression (e.g., rhythm, flow, meter, tempo, pitch, tone, intonation)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

