{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Third Grade . SPLASHING FISH, SINGING WHALES & RAINFOREST TRAILS: The Wonder of Nature in Our World | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">SPLASHING FISH, SINGING WHALES &amp; RAINFOREST TRAILS: The Wonder of Nature in Our World</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson3_1.pdf">download the PDF version of this lesson plan</a> (173k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will explore nature through photography, painting, and sounds. They will explore nature in their everyday experiences, listen to the rhythm of nature sounds, examine photographs, painting and sculpture with nature themes, and create an audiotape that highlights the diversity and beauty of nature.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> 3</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Use varied strategies to comprehend written or oral language from a variety of sources</li>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information in a class presentation</li>
   <li>Conduct Internet research</li>
   <li>Synthesize information from multiple sources</li>
   <li>Make connections between new information and prior knowledge</li>
   <li>Explore relationships among organisms and their environment</li>
   <li>Participate in group activities and class discussion</li>
   <li>Create an audiotape presentation highlighting what they have learned</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Language Arts, Science, Art</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
   <li><a href="http://www.epals.com" title="Email Classroom Exchange">Email Classroom Exchange</a></li>
   <li><a href="http://www.iecc.org/" title="Intercultural E-Mail Classroom Connections">Intercultural E-Mail Classroom Connections</a></li>
   <li><a href="http://www.christiananswers.net/kids/sounds.html" title="Sounds of the Rainforest">Sounds of the Rainforest</a></li>
   <li><a href="http://www.georgetown.edu/faculty/ballc/animals/hen.html" title="Sounds of the World's Animals">Sounds of the World's Animals</a></li>
   <li><a href="http://www.midwestfrogs.com/" title="Frog Calls">Frog Calls</a></li>
   <li><a href="http://www.oaklandzoo.org/atoz/azeleph.html" title="Elephant Sounds">Elephant Sounds</a></li>
   <li><a href="http://www.math.sunysb.edu/~tony/birds/" title="Bird Songs">Bird Songs</a></li>
   <li><a href="http://www.pbs.org/wgbh/amex/ansel/gallery/index.html" title="Ansel Adams">Ansel Adams</a></li>
   <li><a href="http://www.cartermuseum.org/edu_guides/porter/teaching_guide/making_statement/" title="Eliot Porter Images (Expression Through Color)">Eliot Porter images (expression through color)</a></li>
   <li><a href="http://www.pbs.org/wnet/nature/critter.html" title="Nature Critter Guide">PBS Nature Critter Guide</a></li>
   <li><a href="http://www.mbayaq.org/" title="Monterey Bay Aquarium">Monterey Bay Aquarium</a></li>
   <li>Claude Monet <a href="http://sunsite.sut.ac.jp/wm/paint/auth/monet/waterlilies/monet.wl-green.jpg" title="Claude Monet Images">1</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_m">2</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_n">3</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_o">4</a></li>
   <li>Georgia O'Keefe <a href="http://www.okeeffemuseum.org/visit/permanent/index.html" title="Georgia O'Keefe">1</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_q">2</a></li>
   <li><a href="http://www.stickwork.net/" title="Patrick Dougherty">Patrick Dougherty</a></li>
   <li><a href="http://www.sci.mus.mn.us/sound/nocss/top.html" title="Science Museum of Minnesota Sound Site">Science Museum of Minnesota Sound Site</a></li>
   <li><a href="http://newport.pmel.noaa.gov/whales/whale-calls.html" title="Whale Acoustics Project">Whale Acoustics Project</a></li>
   <li><a href="http://www.units.muohio.edu/dragonfly/sounds/SYMPHONY/creature.shtml" title="A Natural Symphony">A Natural Symphony</a></li>
  </ul> <br>
  <p><span class="bluesubhead">Materials</span></p>
  <ul>
   <li>Pencils, crayons, markers, drawing paper</li>
   <li>Tape recorder/ audio cassette</li>
   <li>Computer with Internet access</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> <strong>Activity One: Tuning in to the Natural World</strong><br> Tell your class that the goal of this activity is to encourage them to focus on the natural world around them by using all their senses. Bring the students outside on the school playground, or any place where it is possible to observe nature.</p>
  <p>Divide the students into pairs and ask them to record what they observe. Encourage the students to use both words and images as they record information. Provide the following list to use as guidelines:</p>
  <ul>
   <li>What kinds of sounds do you hear?</li>
   <li>Describe the plants you see.</li>
   <li>Describe any animals you see.</li>
   <li>Describe any insects you see.</li>
   <li>Describe what you smell.</li>
  </ul>
  <p>After a brief period, ask the students to close their eyes for two minutes and listen. Ask each student to answer the following question:</p>
  <p class="indent"><em>How did you feel when you were listening but not seeing? </em></p>
  <p>Ask each student to create a postcard based on his or her observations. Provide each student with a blank postcard and drawing materials. If possible, encourage the students to share their postcards with classes that live in different kinds of environments. You may wish to scan the students' work and send it to an e-pal. A good resource for Internet penpals is <a href="http://www.epals.com" title="Email Classroom Exchange">Email Classroom Exchange</a> or the <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_b">Intercultural E-Mail Classroom Connections</a>.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Exploring EekoWorld</strong><br> Divide the class into groups of three or four students. Assign each group to one of the EekoWorld biomes: Aquatic, etc.</p>
  <p>Provide the students with the list below, which is similar to what they used in their outdoor observations:</p>
  <ul>
   <li>Describe the environment you see.</li>
   <li>What kinds of sounds do you hear?</li>
   <li>Describe the plants you see.</li>
   <li>Describe any animals you see.</li>
   <li>Describe any insects you see.</li>
   <li>Describe the colors you see.</li>
  </ul>
  <p>Create a class Compare/Contrast Chart that highlights and summarizes the differences and similarities between the students' environment and the biomes they observed on the EekoWorld Web site. This chart should connect the students' prior knowledge, the experience, and new learning.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Researching the Natural World</strong><br> <strong>Step 1</strong><br> Divide the class into four groups. Tell the students that they are going to conduct Internet research on different aspects of nature. Assign each group to the Web sites and resources listed below:</p>
  <p>Group One: Sounds</p>
  <ul>
   <li><a href="http://www.christiananswers.net/kids/sounds.html" title="Sounds of the Rainforest">Sounds of the Rainforest</a></li>
   <li><a href="http://www.georgetown.edu/faculty/ballc/animals/hen.html" title="Sounds of the World's Animals">Sounds of the World's Animals</a></li>
   <li><a href="http://www.midwestfrogs.com/" title="Frog Calls">Frog Calls</a></li>
   <li><a href="http://www.oaklandzoo.org/atoz/azeleph.html" title="Elephant Sounds">Elephant Sounds</a></li>
   <li><a href="http://www.math.sunysb.edu/~tony/birds/" title="Bird Songs">Bird Songs</a></li>
  </ul>
  <p>Group Two: Photographs</p>
  <ul>
   <li><a href="http://www.pbs.org/wgbh/amex/ansel/gallery/index.html" title="Ansel Adams">Ansel Adams</a></li>
   <li><a href="http://www.cartermuseum.org/edu_guides/porter/teaching_guide/making_statement/" title="Eliot Porter Images (Expression Through Color)">Eliot Porter images (expression through color)</a></li>
   <li><a href="http://www.pbs.org/wnet/nature/critter.html" title="Nature Critter Guide">PBS Nature Critter Guide</a></li>
   <li><a href="http://www.mbayaq.org/" title="Monterey Bay Aquarium">Monterey Bay Aquarium</a> (Click on About the Animals at the top)</li>
  </ul>
  <p>Group Three: Arts</p>
  <ul>
   <li>Claude Monet <a href="http://sunsite.sut.ac.jp/wm/paint/auth/monet/waterlilies/monet.wl-green.jpg" title="Claude Monet Images">1</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_m">2</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_n">3</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_o">4</a></li>
   <li>Georgia O'Keefe <a href="http://www.okeeffemuseum.org/visit/permanent/index.html" title="Georgia O'Keefe">1</a>, <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_3_1_q">2</a></li>
   <li><a href="http://www.stickwork.net/" title="Patrick Dougherty">Patrick Dougherty</a></li>
   <li><a href="http://www.mbayaq.org/efc/efc_se/se_jla.asp" title="Jellies/Living Art">Monterey Bay Aquarium</a>: Jellies/Living Art</li>
  </ul>
  <p>Ask each group to share what it has learned with the entire class.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Creating the Many Sounds of Nature </strong></p>
  <p class="indent"><em>Teacher Note: The goal of this activity is for students to reflect on and synthesize what they have learned throughout the lesson activities. There is no one correct way to create this audiotape project. Encourage your students' creativity. </em></p>
  <p><strong>Step 1</strong><br> Tell the class that you are going to create an audiotape entitled "The Many Sounds of Nature" that celebrates different aspects of nature. The audiotape should include the following:</p>
  <ul>
   <li>Words that describe the sounds of nature</li>
   <li>Words that describe animals and plants</li>
   <li>Words that describe how a person interacts with nature</li>
   <li>Words that describe the colors of nature</li>
  </ul>
  <p>Some possible items that may be featured on the tape include explanations, music, questions and answers. The focus of the tape should be to capture the wonder and beauty of nature through the students' perspective.</p>
  <p><strong>Step 2</strong><br> Stage a presentation of your "The Many Sounds of Nature" audiotape for other classes in the school. Have your students explain the project, and after it is presented, encourage them to respond to audience questions.</p>
  <p><strong>Step 3</strong><br> Tell your students that they are going to reflect on their work by answering the following questions:</p>
  <ul>
   <li>How did we decide what to include in the audiotape?</li>
   <li>Does the audiotape help people learn about different parts of nature?</li>
   <li>Does the audiotape help people appreciate nature?</li>
   <li>What else could we have included to make this audiotape better?</li>
   <li>What was my favorite part of the audiotape?</li>
  </ul> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Activity One: Nature Mural</strong><br> Create a classroom mural that includes images and words describing nature.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Exploring Sound</strong><br> Conduct research to learn how sounds are created. Use the following Web sites to begin collecting information:</p>
  <ul>
   <li><a href="http://www.sci.mus.mn.us/sound/nocss/top.html" title="Science Museum of Minnesota Sound Site">Science Museum of Minnesota Sound</a></li>
   <li><a href="http://newport.pmel.noaa.gov/whales/whale-calls.html" title="Whale Acoustics Project">Whale Acoustics Project</a></li>
  </ul>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Three: Music and Sound</strong><br> As a class, explore <a href="http://www.units.muohio.edu/dragonfly/sounds/SYMPHONY/creature.shtml" title="A Natural Symphony">the following Web site</a> that features animal sounds and music.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Language Arts</strong><br> <strong>Reading</strong></p>
  <p><strong>Standard 7.</strong> Uses reading skills and strategies to understand and interpret a variety of informational texts</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Uses reading skills and strategies to understand a variety of informational texts (e.g., textbooks, biographical sketches, letters, diaries, directions, procedures, magazines) Relates new information to prior knowledge and experience<br> 5. Summarizes and paraphrases information in texts (e.g., includes the main idea and significant supporting details of a reading selection)<br> 6. Uses prior knowledge and experience to understand and respond to new information</p>
  <p><strong>Writing</strong><br> <strong>Standard 4.</strong> Gathers and uses information for research purposes</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 4. Uses electronic media to gather information (e.g., databases, Internet, CD-ROM, television shows, cassette recordings, videos, pull-down menus, word searches)<br> 8. Uses strategies to compile information into written reports or summaries (e.g., incorporates notes into a finished product; includes simple facts, details, explanations, and examples; draws conclusions from relationships and patterns that emerge from data from different sources; uses appropriate visual aids and media)</p>
  <p><strong>Listening &amp; Speaking</strong><br> <strong>Standard 8.</strong> Uses listening and speaking strategies for different purposes</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Contributes to group discussions<br> 5. Uses strategies to convey a clear main point when speaking (e.g., expresses ideas in a logical manner, uses specific vocabulary to establish tone and present information)<br> 7. Makes basic oral presentations to class (e.g., uses subject-related information and vocabulary; includes content appropriate to the audience; relates ideas and observations; incorporates visual aids or props; incorporates several sources of information)</p>
  <p><strong>Science</strong><br> <strong>Standard 6. </strong>Understands relationships among organisms and their physical environment</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 3. Knows that an organism's patterns of behavior are related to the nature of that organism's environment (e.g., kinds and numbers of other organisms present, availability of food and resources, physical characteristics of the environment)<br> 4. Knows that changes in the environment can have different effects on different organisms (e.g., some organisms move in, others move out; some organisms survive and reproduce, others die)<br> 5. Knows that all organisms (including humans) cause changes in their environments, and these changes can be beneficial or detrimental</p>
  <p><strong>Thinking &amp; Reasoning</strong><br> <strong>Standard 3.</strong> Effectively uses mental processes that are based on identifying similarities and differences</p>
  <p><strong>Level II (Grades 3-5) </strong><br> 1. Understands that one way to make sense of something is to think how it is like something more familiar</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

