{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Kindergarten . Environment: Home Sweet Home | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">ENVIRONMENT: HOME SWEET HOME</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lessonk_3.pdf">download the PDF version of this lesson plan</a> (145k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will learn how people and animals need food, water and shelter in order to survive. Students will read Eric Carle's books <em>A House for Hermit Crab</em> and <em>The Very Hungry Caterpillar</em> to explore reasons why animals need food and shelter. They will create a schoolyard habitat for birds.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> Kindergarten</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information by retelling stories</li>
   <li>Make connections between animals' and humans' basic needs</li>
   <li>Create a schoolyard bird habitat</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Language Arts</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a><br></li>
   <li><a href="http://www.birds.cornell.edu/schoolyard/all_about_birds/fun_with_birds/cool_facts.html" title="Cool Facts About Birds">Cool Facts About Birds</a><br></li>
   <li><a href="http://www.dnr.state.wi.us/org/caer/ce/eek/cool/gourdhouse.htm" title="From Gourd to Birdhouse">From Gourd to Birdhouse</a><br></li>
   <li><a href="http://birding.about.com/library/bleasyhouse.htm" title="Easy Birdhouse for Children to Make">Easy Birdhouse for Children to Make</a><br></li>
   <li><a href="http://www.dnr.state.wi.us/org/caer/ce/eek/earth/recycle/rbirds.htm" title="Recycle for the Birds">Recycle for the Birds</a><br></li>
   <li><a href="http://birding.about.com/library/weekly/aa050800a.htm" title="Projects to Attract Birds to Your Backyard">Projects to Attract Birds to Your Backyard</a><br></li>
   <li><a href="http://www.birds.cornell.edu/schoolyard/all_about_birds/feeding_birds/schoolyard_tips.html" title="Schoolyard Tips">Schoolyard Tips</a><br></li>
  </ul> <br>
  <p class="bluesubhead">Materials</p>
  <ul>
   <li><em>A House for Hermit Crab</em> by Eric Carle</li>
   <li><em>The Very Hungry Caterpillar</em> by Eric Carle</li>
   <li>Recycled materials to make birdhouses, birdfeeders, and birdbaths. These might include, but are not limited to, milk cartons, milk jugs, soda bottles, coffee cans, string, wire, yarn, masking tape, sticks or dowels, ruler.</li>
   <li>Materials for making bird food include chunky peanut butter, wild birdseed, cranberries, cheerio type cereal, straw, yarn</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> These activities may be completed in the days leading up to the main activity.</p>
  <p><strong>Activity One: Exploring EekoHouse</strong><br> Visit the <a href="../index.html@load=eekohouse">EekoHouse</a> with your students. After visiting the site, ask students the following questions:</p>
  <ul>
   <li>Why do we need a house? (Protect us from things like rain, snow, heat, cold, etc.)</li>
   <li>What other things do we need to live? (Food and water.) Ask students to share examples of some of their favorite foods.</li>
   <li>What kinds of "houses" do animals have who live in the wild?</li>
   <li>What kinds of things do animals eat who live in the wild?</li>
   <li>What do people and animals both need to live? (Shelter and food/water.)</li>
  </ul>
  <p><strong>Activity Two: Exploring Shelter and Food Through Books</strong><br> Read Eric Carle's book <em>A House for Hermit Crab</em>. Discuss why Hermit Crab needed a house. Ask students what happened in the beginning, the middle and the end of the story. Have students give examples of the ways the plants and animals helped Hermit Crab with his house. (The snails cleaned his house; the spiky sea urchins protected it; the lanternfish provided light, etc.) Ask students in what ways they are like Hermit Crab.</p>
  <p>Read Eric Carle's book <em>The Very Hungry Caterpillar</em>. Ask students to tell what happened in the beginning, the middle and the end of the story. Discuss what the caterpillar ate and why the Very Hungry Caterpillar needed food. Ask students in what ways they are like the Very Hungry Caterpillar.</p>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Bird Facts</strong></p>
  <p><strong>Step 1</strong><br> Share some of these bird facts from the Cornell Lab of Ornithology with your class. Have precut pieces of string or yarn ready to illustrate the dimensions in the facts.</p>
  <ul>
   <li>The <strong>smallest bird</strong> is the Bee Hummingbird at 2.24 in (5.7cm) and 0.056 oz (1.6g).</li>
   <li>The <strong>largest birds</strong> are: heaviest and tallest is the African Ostrich at 345 lb (156 kg) and 9 ft (2.7 m); heaviest flying bird is the Great Bustard at ~46 lb (21 kg); greatest wingspan is the Wandering Albatross at 11 ft 11 in (3.63 m).</li>
   <li>The bird with the <strong>longest feathers</strong> is the Onagadori, a domestic strain of Red Jungle Fowl, at 34.75 ft (10.59 m).</li>
   <li>The <strong>most abundant</strong> bird is thought to be the Red-billed Quelea at up to 10 billion.</li>
   <li>The <strong>smallest egg</strong> is that of the Vervain Hummingbird, of Hispaniola and Jamaica at 0.39 in (10 mm) and 0.0132 oz (0.375 g).</li>
   <li>The <strong>largest egg</strong> is that of the ostrich at 7 x 4.5 in (17.8 x 14 cm) (B) One ostrich egg makes the equivalent of a 16-egg omelet!</li>
   <li>The <strong>fastest bird</strong> is thought to be the diving Peregrine Falcon at 175 mph or more. <br><br> Consult <a href="http://www.birds.cornell.edu/schoolyard/all_about_birds/fun_with_birds/cool_facts.html" title="Cool Facts About Birds">Cool Facts About Birds</a> for more information.</li>
  </ul>
  <p><strong>Activity Two: Bird Habitat</strong></p>
  <p><strong>Step 1</strong><br> Discuss the fact that birds need food, water and shelter to live. Tell students that they are going to provide these items for the birds. Explain to students that they are going to make birdhouses, birdfeeders, bird food and birdbaths to create a habitat for birds.</p>
  <p><strong>Step 2</strong><br> Remind students of the reasons why Hermit Crab needed to find a house. Discuss how birds need birdhouses to protect themselves from the weather and to give them a place to raise their young. (Explain that not every bird will build a nest in a birdhouse and that some birds make their homes in bushes, tree hollows, cactuses, etc.) Explain to students that when buildings replace forests and other natural areas, it causes the birds' natural habitat to disappear. Birdhouses can provide a nesting place for birds that have lost their habitat due to development. Tell students that some bird populations have actually increased because of people putting up birdhouses.</p>
  <p><strong>Step 3: Birdhouses</strong><br> Make birdhouses out of milk cartons or other recycled materials, gourds, or wood scraps if you are fortunate enough to have a parent volunteer who is a woodworker. The sites listed below provide information on building birdhouses. Although much of the construction of the houses will need to be done by adults, when possible provide opportunities for students to help. Students can help by collecting the recycled materials needed for the project and with making and decorating the houses.</p>
  <p>The <a href="http://www.dnr.state.wi.us/org/caer/ce/eek/cool/gourdhouse.htm" title="From Gourd to Birdhouse">Environmental Education for Kids Web site</a> has directions for making birdhouses out of gourds. <a href="http://birding.about.com/library/bleasyhouse.htm" title="Easy Birdhouse for Children to Make">This site</a> contains information on building birdhouses out of recycled milk cartons. Consult the <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_lessonplan_k3_g">Baltimore Bird Club</a> Web site for information on where to cut the holes to attract certain birds. This site will be helpful if you have a parent volunteer who is going to make wooden birdhouses.</p>
  <p><strong>Step 4: Bird Food and Birdfeeders</strong><br> Discuss what the Very Hungry Caterpillar ate in the story. Ask students what they think birds might eat. (Seeds, fruit, insects, etc.) Tell students that they are going to make birdfeeders out of recycled materials and fill them with birdseed. Explain that they will also make some cookies and edible necklaces for the birds to eat. These sites provide instructions on how to make birdfeeders out of recycled materials. Again, much of the construction of the feeders will need to be done by adults. When possible provide opportunities for students to help collect the recycled materials and make and decorate the feeders. The <a href="http://birding.about.com/library/weekly/aa050800a.htm" title="Projects to Attract Birds to Your Backyard">About.com</a> Web site offers some good suggestions for incorporating old gloves, sneakers and mesh bags into this project. Also consult <a href="/cgi-registry/kidsbridge.cgi?context=eekoworld_lessonplan_k3_d">Recycle for the Birds</a> for more information.</p>
  <p><strong>Bird Necklaces</strong><br> Have students string Cheerio type cereal and/or cranberries on to a piece of string. Embroidery type needles with a dull point can be used to string the cranberries.</p>
  <p><strong>Pinecone Feeders</strong><br> Roll pinecones in peanut butter followed by rolling them in wild birdseed. Tie a piece of yarn or string around the top of the pinecone.</p>
  <p><strong>Bird Cookies </strong><br> Have students cut shapes out of bread using cookie cutters or recycled jars or cans. Use a straw to poke a hole in the bread toward the top of the "cookie." Leave the "cookies" out in the air to dry. Turn them over several times during the day. After the "cookies" are dry, thread a piece of string or yarn through the hole in the "cookie" and tie the string in a knot. Have students spread the "cookies" with chunky peanut butter and sprinkle them with birdseed.</p>
  <p class="indent"><em>Teacher Note: As students are making the making the birdseed cookies, ask them to solve the following riddle:</em></p>
  <p class="indent"><em>What kind of cookies do birds like best?</em><br> <em>Answer: Chocolate Chirp</em></p>
  <p>The following Web sites offer recipes for birdseed cookies. You might want to copy one of them and send it home with your students so they can make cookies with their parents.</p>
  <ul>
   <li><a href="http://www.ehow.com/how_5901_make-birdseed-cookies.html" title="How to Make Birdseed Cookies">eHow (How to Make Birdseed Cookies)</a></li>
   <li><a href="http://www.urbangreenery.com/project021002.php" title="Organic Gardening Recipes">Urban Greenery (Organic Gardening Recipes)</a></li>
  </ul>
  <p><strong>Step 5: Birdbaths</strong><br> Discuss with students how plants, animals, and people need water to live. Explain to students that birds need water to drink and to wash their feathers. Clean feathers help birds to fly and to stay warm. Ask students to look for recycled materials at home that they can fill with water for the birds. Allow students to experiment with different recycled objects to see which ones to the best job of attracting birds. Birdbaths need to be kept clean. Clean the birdbaths frequently with water and white vinegar.</p>
  <p><strong>Step 6: Habitat Creation</strong><br> Consult the <a href="http://www.birds.cornell.edu/schoolyard/all_about_birds/feeding_birds/schoolyard_tips.html" title="Schoolyard Tips">Cornell Lab of Ornithology Web site</a> for tips on how to set up your schoolyard habitat.</p>
  <p><strong>Step 7</strong><br> Provide time each day for students to monitor the bird habitat.</p> <br>
  <p><span class="bluesubhead">Extension Activity</span><br> <strong>Math Patterns</strong><br> Have the students watch the birds as they approach one of the feeders. Record the species of the birds that land on the feeder. When you return to the classroom draw pictures of the birds onto individual pieces of paper or make photocopies from a book. Create a pattern using the pictures of the birds.</p>
  <p>Have students guess which bird will be next in the pattern. Example: Chickadee, chickadee, cardinal, chickadee, chickadee, BLANK<br> Answer: Cardinal</p>
  <p><strong>Language Arts/Art</strong><br> Copy Shel Silverstein's poem "Weird-Bird" onto a piece of chart paper and hang the paper on the wall. This poem can be found on the <a href="http://www.poemhunter.com/p/m/poem.asp?poet=13168&amp;poem=176918" title="Poem Hunter">Poem Hunter Web site</a>.</p>
  <p>Have students create their own "weird birds" by gluing natural and/or recycled materials onto a bird shape. Hang the "weird birds" on and around the poem.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Science</strong><br> <strong>Standard 5.</strong> Understands the structure and function of cells and organisms</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows the basic needs of plants and animals (e.g., air, water, nutrients, light or food, shelter)</p>
  <p><strong>Standard 6.</strong> Understands relationships among organisms and their physical environment</p>
  <p><strong>Level I [Grade: K-2]</strong> 1. Knows that plants and animals need certain resources for energy and growth (e.g., food, water, light, air)</p>
  <p><strong>Language Arts</strong></p>
  <p><strong>Standard 6.</strong> Uses reading skills and strategies to understand and interpret a variety of literary texts</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Uses reading skills and strategies to understand a variety of familiar literary passages and texts (e.g., fairy tales, folktales, fiction, nonfiction, legends, fables, myths, poems, nursery rhymes, picture books, predictable books)<br> 3. Knows setting, main characters, main events, sequence, and problems in stories<br> 4. Knows the main ideas or theme of a story<br> 5. Relates stories to personal experiences (e.g., events, characters, conflicts, themes)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

