{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . First Grade . We\'re All In This Together | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">WE'RE ALL IN THIS TOGETHER</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson1_2.pdf">download the PDF version of this lesson plan</a> (450k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will learn about the food chain. They will examine how animals depend on plants and other animals for food, and the importance of maintaining a balanced ecosystem. Students will make plant and animal headbands and recreate a food chain to analyze the ways plants and animals depend on each other. They will sing a food chain poem/song and make a class food chain book based on the poem.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> First Grade</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information by retelling stories</li>
   <li>Make connections about the interdependency of plants and animals</li>
   <li>Create a class book that explains a food chain</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Language Arts</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
   <li><a href="http://www.bbc.co.uk/schools/revisewise/science/living/03b_act.shtml" title="ReviseWise Science">ReviseWise Science</a></li>
  </ul>
  <p><br> <span class="bluesubhead">Materials</span></p>
  <ul>
   <li><a href="pdfs/lesson1_2_printouts.pdf">Plant and animal printouts</a></li>
   <li>Construction paper</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> These activities may be completed in the days leading up to the main activity.</p>
  <p><strong>Activity One: Exploring EekoHouse</strong><br> Visit the <a href="../index.html@load=plants_animals">Plants and Animals section</a> of the EekoWorld Web site. View the site with your students, stopping at various points to explain concepts such as producers, consumers and predators.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Exploring the Food Chain Through Books</strong><br> Read <em>The Lorax</em> by Dr. Seuss to the students. Stop at key points and ask students to predict what might happen next in the story. As you read the story, point out how animals depend on plants and other animals for their food, and the importance of maintaining a balanced ecosystem.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Food Chain</strong><br> <strong>Step 1</strong><br> Pass out a flower, grasshopper, bird or bobcat printout to each student and ask students to color their printout. Each student will get only one printout. Divide the pictures among the students so that they reflect a balanced system. In other words, you want to have the largest number of sunflowers followed by decreasing numbers of grasshoppers, birds and bobcats. After students have colored and cut out their pictures, attach them to colored strips of construction paper. Use a different color of paper for each group. Example: all sunflowers could have green bands, all bugs brown bands, etc. Cut the strips to fit the students' heads and staple the two ends together.</p>
  <p class="indent"><em>Teacher Note: The sun picture is for you. Color the sun, attach it to a band and place it on your head.</em></p>
  <p><strong>Step 2</strong><br> Have the students put on their headbands and sit together in groups according to their headbands. The groups should be in progressive order beginning with the sunflowers and ending with the bobcats. Tell the students that you are the sun. Stand in front of the plants and explain that you help the plants to grow. Ask the students with the flower headbands to imagine that they are plants and that they are growing. (The students who are sunflowers should end up standing. The rest of the students should still be sitting on the floor.) Now turn your attention to the grasshoppers. Tell the grasshoppers that they are very hungry and they need to eat. Ask them what they are going to eat. Depending on your class, you might choose to have them pretend that they are eating the flowers. Repeat this process with the birds and the bobcats.</p>
  <p><strong>Step 3</strong><br> After all of the students are standing ask the students the questions listed below. As you read the questions have most, or all, of the group you are referring to sit on the floor. Discuss how the event would impact this ecosystem.</p>
  <ul>
   <li>What would happen there was no sun? (Discuss how the sunflowers wouldn't grow, and how this would in turn impact the grasshoppers, which would impact the birds, which would impact the bobcats.)</li>
   <li>What would happen if people ripped out the sunflowers? (Discuss how this would impact the grasshoppers, which would impact the birds, which would impact the bobcats.)</li>
   <li>What would happen if people sprayed insecticides to kill the bugs? (Discuss how this would impact the birds, which would impact the bobcats.)</li>
   <li>What would happen if a large number of birds died from a disease? (Discuss how this would impact the bobcats.)</li>
  </ul>
  <p><strong>Step 4</strong><br> Explain to students that there are many other examples of food chains in the world. Ask students to give an example of an aquatic food chain, and an example of a food chain from the area where they live. Draw pictures of the example on the board.</p>
  <p class="indent"><em>Teacher Note: Save the headbands to use in the Freeze Tag activity in the extension section of this lesson.</em></p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Food Chain Poem Book</strong><br> <strong>Step 1</strong><br> Write the poem shown below on chart paper. This poem can be sung to the tune of "I Know an Old Lady Who Swallowed a Fly." Sing the poem several times to your class, pointing to the words as you sing them. Repeat this several times, inviting students to sing along with you.</p>
  <p class="blockquote"><em><strong>LINKS IN A FOOD CHAIN</strong><br> Author Unknown<br> There once was a flower that grew on the plain.<br> Where the sun helped it grow, and so did the rain —<br> Links in a food chain.<br><br> There once was a bug who nibbled on flowers, <br> Nibbled on flowers for hours and hours!<br> The bug ate the flower that grew on the plain,<br> Where the sun helped it grow, and so did the rain —<br> Links in a food chain.<br><br> There once was a bird who gobbled up bugs,<br> And creepies and crawlies, and slimies and slugs.<br> The bird ate the bug, who nibbled on flowers, <br> Nibbled on flowers for hours and hours!<br> The bug ate the flower that grew on the plain, <br> Where the sun helped it grow, and so did the rain —<br> Links in a food chain.<br><br> There once was a snake who often grabbed birds,<br> And swallowed them whole, or so I have heard.<br> The snake ate the bird, who gobbled up bugs, <br> And creepies and crawlies, and slimies and slugs.<br> The bird ate the bug, who nibbled on flowers, <br> Nibbled on flowers for hours and hours!<br> The bug ate the flower that grew on the plain, <br> Where the sun helped it grow, and so did the rain —<br> Links in a food chain.<br><br> There once was a fox, and I'll make a bet:<br> He'd eat anything he could possibly get.<br> The fox ate the snake, who often grabbed birds, <br> and swallowed them whole, or so I have heard.<br> The snake ate the bird, who gobbled up bugs, <br> And creepies and crawlies, and slimies and slugs.<br> The bird ate the bug, who nibbled on flowers, <br> Nibbled on flowers for hours and hours!<br> The bug ate the flower that grew on the plain,<br> Where the sun helped it grow, and so did the rain —<br> Links in a food chain.<br><br> The fox, he grew older and died one spring day,<br> But he made the soil rich, when he rotted away.<br> A new flower grew where he died on the plain. <br> And the sun helped it grow, and so did the rain —<br> LINKS IN A FOOD CHAIN.</em></p>
  <p><strong>Step 1</strong><br> Use the poem to create a class food chain book. Copy the text onto blank sheets of paper. Have the students illustrate the pages and create a title page and a front and back cover. Bind the pages together into a book.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Three: Evaluation</strong><br> <strong>Step 1</strong><br> This <a href="http://www.bbc.co.uk/schools/revisewise/science/living/03b_act.shtml" title="ReviseWise Science">BBC Web site</a> contains an animated test on the food chain. You may use this site to evaluate students' understanding of the food chain concept.</p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Physical Education: Food Chain Freeze Tag</strong><br> Ask the students to put on the headbands that they wore for Activity One. Take the students into the gymnasium or out to the playground. Tell the students that they are going to play a game of food chain freeze tag. Tell the students that they can only tag a student who is just below them in the food chain. Tell them that once they are tagged, they have to remain frozen. Discuss who is left standing at the end of the game. You may choose to play several games and compare the final outcomes.</p>
  <p><strong>Math: Food Chain Subtraction Problems</strong><br> Have students use pictures and/or words to create food chain subtraction problems.</p>
  <p class="indent">Example: One day three bugs were sitting on a leaf. A bird ate two of them. How many bugs were left? This subtraction problem could also be created by drawing the bugs and the bird.</p>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Science</strong><br> <strong>Standard 5.</strong> Understands the structure and function of cells and organisms</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows the basic needs of plants and animals (e.g., air, water, nutrients, light or food, shelter)</p>
  <p><strong>Standard 6. </strong>Understands relationships among organisms and their physical environment</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 1. Knows that plants and animals need certain resources for energy and growth (e.g., food, water, light, air)</p>
  <p><strong>Language Arts</strong><br> <strong>Standard 5</strong>. Uses the general skills and strategies of the reading process</p>
  <p><strong>Level I [Grade: K-2]</strong><br> 2. Uses meaning clues (e.g., picture captions, title, cover, headings, story structure, story topic) to aid comprehension and make predictions about content (e.g., action, events, character's behavior) <br> 8. Reads aloud familiar stories, poems, and passages with fluency and expression (e.g., rhythm, flow, meter, tempo, pitch, tone, intonation)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

