{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Third Grade . The Air Around Us | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">THE AIR AROUND US</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lesson3_2.pdf">download the PDF version of this lesson plan</a> (116k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will learn how using electricity causes air pollution. Students will examine ways to save electricity and create a Save Electricity Tips sheet. They will initiate the energy saving tips at home and compare two electric bills to determine how much energy they saved.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> Third Grade</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Investigate ways to save electricity at home</li>
   <li>Read a graph to obtain information</li>
   <li>Create a class Save Electricity Tips sheet</li>
   <li>Analyze the results of their energy saving efforts</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Science, Math, Language Arts</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld </a></li>
   <li><a href="http://www.eia.doe.gov/neic/infosheets/electricgeneration.htm" title="Electricity Generation Fact Sheet">Electricity Generation Fact Sheet</a></li>
   <li><a href="http://www.cleanerandgreener.org/resources/calculators.htm" title="Cleener and Greener: Pollution Calculator">Cleaner &amp; Greener Pollution from Electricity Calculator</a></li>
   <li><a href="http://www.cleanerandgreener.org/programs/households/homechecklist.htm" title="Cleaner and Greener: Home Checklist">Cleaner &amp; Greener Home Checklist</a></li>
  </ul>
  <p><br> <span class="bluesubhead">Materials</span></p>
  <p></p>
  <ul>
   <li>Paper</li>
   <li>Learning logs</li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> This activity may be completed in the days leading up to the main activity.</p>
  <p><strong>Activity One: Exploring EekoHouse</strong><br> Visit the <a href="../index.html@load=air">Air section</a> of the EekoWorld Web site. View the site with your students, and discuss how using electricity causes air pollution. You may also visit the <a href="../index.html@load=eekohouse">EekoHouse</a> to examine ways to save electricity in a house.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Electricity and Air Pollution</strong><br> <strong>Step 1</strong><br> Show students the Fuel Source for U.S. Electricity Generation graph from the <a href="http://www.eia.doe.gov/neic/infosheets/electricgeneration.htm" title="Electricity Generation Fact Sheet">Department of Energy's Web site</a>. Ask students to identify the largest fuel source (coal) for electricity generation. Discuss how the burning of coal to generate electricity causes air pollution.</p>
  <p class="indent"><em>Teacher Note: You may choose to use this graph to practice students' graph-reading skills. You might ask students questions such as how many billion kilowatt hours are generated by natural gas, or how many sources generate less than 500 billion kilowatt hours.</em></p>
  <p><strong>Step 2</strong><br> Tell students that they are going to investigate ways that their family can save electricity. Ask each student to complete the following activity as a homework assignment:</p>
  <p class="indent">Collect five examples of things that people can do to save electricity in their homes. You may collect this information from a variety of sources, i.e., EekoHouse, parents, the Internet, phone calls to local experts, etc.</p>
  <p><strong>Step 3</strong><br> After students have gathered the information, divide the class into small groups. Ask the groups to discuss the tips on saving electricity that they gathered. Tell students to compile one list that incorporates all of their tips and eliminates duplicate ideas. Have the groups share their ideas with the entire class. Record the tips on the board or a piece of chart paper. Ask for a volunteer to type the tips into a Save Electricity Tips word document and make a copy for each class member.</p>
  <p class="indent"><em>Teacher Note: The <a href="http://www.cleanerandgreener.org/resources/calculators.htm" title="Cleener and Greener: Pollution Calculator">Cleaner and Greener Web site</a> contains a calculator that determines how much pollution is caused by a household's electricity use. You may choose to visit the site and enter in a family's electric bill to see how much pollution was caused by their electrical use. You may want to use your own electric bill or ask for student volunteers to bring in their families electric bill totals. </em></p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Comparing Electric Bills</strong><br> <strong>Step 1</strong><br> Tell students to ask their parents for the total number of kilowatt-hours listed on their families' last month's electric bill. Ask students to write the amount on a piece of paper and bring it to school.</p>
  <p><strong>Step 2</strong><br> Total the kilowatt-hours that you collected from the students. Then plot the total amount on a graph and display it on the classroom wall. Explain to students that they are going to share the Saving Electricity Tips sheet with their families. Tell students to explain the assignment to their family members and ask for their help. Suggest that they hang the tip sheet in an area where all of their family members can see it. Tell students that they will compare the total kilowatt-hours on next month's bills (after a month of shutting of lights, toys, machines, appliances, and lowering the thermostat, etc.) to the number of kilowatt-hours they used on the first bill.</p>
  <p class="indent"><em>Teacher Note: It is not necessary for every student to bring in an electric bill to complete this activity. Students who don't have an electric bill may graph and compare changes in energy consumption using the combined classroom total created in step two of the lesson. These students will answer questions in the learning log based on the combined class electricity use instead of individual family use.</em></p>
  <p><strong>Step 3</strong><br> Ask students to keep a learning log during this month. The learning log will contain these items:</p>
  <ul>
   <li>A graph showing the number of kilowatt hours on your family's (or the total class) electric bill</li>
   <li>Three entries per week on what you did today to save electricity in your house</li>
   <li>A drawing or photograph of polluted air and your thoughts and feelings about polluted air</li>
   <li>A drawing or photograph of clean air and your thoughts and feelings about clean air</li>
   <li>Five facts about the properties of air</li>
   <li>Five facts about air pollution</li>
   <li>Thoughts on why clean air is important</li>
  </ul>
  <p><strong>Step 4</strong><br> Provide time every day during the month to ask students to share information from their learning logs with the class. After the next electric bill is released, ask students to bring in the number of kilowatt-hours. Total the hours and add the data to the chart. Have students add the kilowatt-hours from the new electric bills onto the chart in their learning log. Compare and discuss the results.</p>
  <p><strong>Step 5</strong><br> Provide time for students to write about the electric bill results in their learning log. Ask students to answer these questions:</p>
  <ul>
   <li>Did your family (or the class as a whole) use less electricity this month?</li>
   <li>What do you think caused the amount of electricity used by your family or class to go up or down?</li>
   <li>What did you learn from this assignment?</li>
  </ul>
  <p class="indent"><em>Teacher Note: Try to time this activity so that it begins just after the first electric bill is received. Make sure that you have the same families' bills on both charts. For example, if a student doesn't bring in a second kilowatt total, remove his or her first kilowatt-hours from the total of the first chart. If you have more families' total kilowatt-hours on one or the other charts it will skew the results. When comparing the two months; bills, you might also need to take into consideration the weather for those particular months. If you had unusually cold or hot weather during the second month, it could impact the kilowatt-hours for the month.</em></p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Family Home Energy Audit</strong><br> Have students invite their families to complete a home energy audit. These audits may be found on the Internet. The Leonardo Academy, a nonprofit organization dedicated to reducing pollution, offers an extensive home checklist in their <a href="http://www.cleanerandgreener.org/programs/households/homechecklist.htm" title="Cleaner and Greener: Home Checklist">Cleaner and Greener program</a>.</p>
  <p><strong>Into the Community</strong><br> Students may choose to share the information they learned and the results of the project with extended family, neighbors and community members. For example, they could write to the local newspaper explaining their month-long, energy-saving experiment. They might include the results of the experiment and their energy-saving tips in the newspaper article.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Mathematics</strong><br> <strong>Standard 6. </strong>Understands and applies basic and advanced concepts of statistics and data analysis</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 1. Understands that data represent specific pieces of information about real-world objects or activities<br> 5. Reads and interprets simple bar graphs, pie charts, and line graphs</p>
  <p><strong>Technology</strong><br> <strong>Standard 3. </strong>Understands the relationships among science, technology, society, and the individual</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 1. Knows that technologies often have costs as well as benefits and can have an enormous effect on people and other living things<br> 6. Understands that technology may affect the environment both negatively and positively (e.g., a mass transit system may both reduce the number of cars in an area, but also cause harm to wildlife in the area)</p>
  <p><strong>Language Arts</strong><br> <strong>Standard 1. </strong>Uses the general skills and strategies of the writing process</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 6. Uses strategies (e.g., adapts focus, point of view, organization, form) to write for a variety of purposes (e.g., to inform, entertain, explain, describe, record ideas)</p>
  <p><strong>Standard 4.</strong> Gathers and uses information for research purposes</p>
  <p><strong>Level II [Grade: 3-5]</strong><br> 8. Uses strategies to compile information into written reports or summaries (e.g., incorporates notes into a finished product; includes simple facts, details, explanations, and examples; draws conclusions from relationships and patterns that emerge from data from different sources; uses appropriate visual aids and media)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

