{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Second Grade . TELLING TALES: Eeko Adventures | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">TELLING TALES: Eeko Adventures</p>
  <p><img src="../images/pdf_icon.gif" alt="PDF" width="16" height="16" hspace="3" border="0" align="middle"> For easier printing, <a href="pdfs/lesson2_2.pdf">download the PDF version of this lesson plan</a> (277k).</p>
  <p><span class="bluesubhead">Overview</span><br> In this lesson students will explore five major ecosystems: the aquatic ecosystem, the tundra, the grasslands, the desert and the forest. They will use the resources of EekoWorld as they read stories, collect facts, and see images that highlight varied aspects of these ecosystems. They will organize what they have learned using story maps, and create oral retellings to share information with their classmates.</p> <br>
  <p><span class="bluesubhead">Grade Level</span><br> 2</p> <br>
  <p><span class="bluesubhead">Objectives</span><br> Students will do the following:</p>
  <ul>
   <li>Use varied strategies to comprehend written or oral language from a variety of sources</li>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information</li>
   <li>Interpret visual media</li>
   <li>Synthesize information from multiple sources</li>
   <li>Make connections between new information and prior knowledge</li>
   <li>Explore relationships among organisms and their environment</li>
   <li>Participate in group activities and class discussion</li>
   <li>Create a story map</li>
   <li>Create an oral presentation</li>
  </ul> <br>
  <p><span class="bluesubhead">Subject Areas</span><br> Language Arts, Science</p> <br>
  <p><span class="bluesubhead">Internet Links</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld">EekoWorld</a></li>
  </ul>
  <p><span class="bluesubhead">Materials</span></p>
  <ul>
   <li>Peet, B. <em>Farewell to Shady Glade</em>. Boston: Houghton Mifflin, 1966.</li>
   <li>Pencils, crayons, markers, drawing paper</li>
   <li><a href="pdfs/lesson2_2_storymap.pdf">Story map templates</a></li>
  </ul> <br>
  <p><span class="bluesubhead">Building Background</span><br> <strong>Activity One: Shady Glade</strong><br> Read Bill Peet's book <em>Farewell to Shady Glade</em> aloud to your students. You may also choose to use an audiotape version of the story. This is a story of animals in the forest whose home is threatened by development. After you have read the story, use the following questions to lead a discussion:</p>
  <ul>
   <li>Can you describe Shady Glade?</li>
   <li>Have you ever been in a place like Shady Glade?</li>
   <li>What was making the deep rumbling sound that the animals were afraid of?</li>
   <li>What did the animals think the bulldozers were?</li>
   <li>How do you think the animals felt?</li>
   <li>Why did the raccoon think that the animals should leave Shady Glade?</li>
   <li>How did the animals leave Shady Glade?</li>
   <li>Can you describe what they saw when they got to the city?</li>
   <li>What happened when they got back on the train?</li>
   <li>Do you think they will be happy in their new home?</li>
   <li>Do you think it is possible that the same thing that happened in Shady Glade might happen in their new home?</li>
   <li>What do you think the author's message was?</li>
  </ul>
  <p>Tell the students that although Farewell to Shady Glade is a story, there are places in the world today that face some of the same environmental problems. Ask the students to share any experiences or information they may have about the topics and themes highlighted in this book.</p> <br>
  <p><span class="bluesubhead">Steps</span><br> <strong>Activity One: Story Mapping</strong><br> <strong>Step 1</strong><br> Tell the students that you are going to visit the <a href="../index.html@load=env_aquatic">Aquatic Ecosystem</a> of the EekoWorld Web site and learn about different ecosystems. Share the following definition with the class prior to beginning:</p>
  <p class="indent"><em>An ecosystem is a community of living and nonliving things that interact with each other. </em></p>
  <p>You can have students read or listen to the Aquatic Ecosystem story. The story is organized into three sections. The first section describes different aspects of the aquatic ecosystem. The second section highlights varied environmental threats. The final section describes the action that the characters have taken to make a positive change in the aquatic environment.</p>
  <p>In this activity, you are going to model the creation of a story map based on the Aquatic Ecosystem story. <a href="pdfs/lesson2_2_storymap.pdf">Use the templates provided</a>.</p>
  <p><strong>Step 2</strong><br> Tell the students that they are going to use the information in each section of the Aquatic Ecosystem to construct the story map. For example, to complete Chapter One, the first circle in the story map, ask the students to describe the aquatic ecosystem. They may use words such as ocean, jellyfish and crabs under the water, waves, or seagulls. Accept all answers that can be found by reading the story. Record students' answers on the story map.</p>
  <p>To complete Chapter Two of the story map template, ask the students to describe threats to the aquatic ecosystem. Accept all answers that can be found by reading the story. Students may describe dumping garbage into the ocean, oil spills, overfishing, and using fishing nets that harm some fish. Record students' answers on the story map.</p>
  <p>To complete Chapter Three of the story map, ask the students to describe how people help the aquatic ecosystem. Students may describe organizing a beach clean up, putting up posters, cleaning the trash from the beach, and setting up a monthly clean up day. Record students' answers on the story map.</p>
  <p>After the story map is complete, model a retelling for the class. Show the students how the story map helps focus on key points in the story.</p>
  <p><strong>Step 3</strong><br> Divide the class into four groups, and assign each group to research one of the four remaining ecosystems in the Environment section of the EekoWorld Web site:</p>
  <p class="blockquote">Group One: <a href="../index.html@load=env_tundra">Tundra</a><br> Group Two: <a href="../index.html@load=env_grasslands">Grasslands</a><br> Group Three: <a href="../index.html@load=env_forests">Forests</a><br> Group Four: <a href="../index.html@load=env_desert">Desert</a> <br></p>
  <p>Provide each group with a story map template. Tell the students that they are to read or listen to their assigned ecosystem. Have them use the story map template to organize and summarize information. Each group should fill in the name of the ecosystem it has been assigned on the story map template.</p>
  <p><strong>Step 4</strong><br> After the groups have completed the story maps, have each group do an oral retelling based on what the students have learned. This presentation should be based on the story map.</p>
  <p class="indent"><em>Teacher Note: The templates that are provided may be modified. For example, it is not necessary that students include all the details, but it is important that they comprehend the story facts and be able to retell the main points in the story. The templates should be used by each group to guide students' understanding of what they are reading. </em></p>
  <p><strong>Step 5</strong><br> After the group retellings are complete, lead a class discussion focusing on the differences and similarities among the different ecosystems and the kinds of plants and animals that exist in each.</p> <br>
  <p><span class="bluesubhead">Extension Activities</span><br> <strong>Activity One: Ecosystem Art</strong><br> Ask each group to create a poster based on the ecosystem it has been assigned. Hang the posters in the class to use as a shared resource.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Retell Recordings</strong><br> Audiotape students' retellings and rotate them among all the students so that students may learn about the other ecosystems. Share this resource with other classes in the school.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Language Arts</strong><br> <strong>Reading</strong></p>
  <p><strong>Standard 7.</strong> Uses reading skills and strategies to understand and interpret a variety of informational texts</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Uses reading skills and strategies to understand a variety of informational texts (e.g., written directions, signs, captions, warning labels, informational books)<br> 2. Understands the main idea and supporting details of simple expository information<br> 3. Summarizes information found in texts (e.g., retells in own words)<br> 4. Relates new information to prior knowledge and experience</p>
  <p><strong>Writing</strong><br> <strong>Standard 4.</strong> Gathers and uses information for research purposes</p>
  <p>2. Uses a variety of sources to gather information (e.g., informational books, pictures, charts, indexes, videos, television programs, guest speakers, Internet, own observation)</p>
  <p><strong>Listening &amp; Speaking</strong><br> <strong>Standard 8.</strong> Uses listening and speaking strategies for different purposes</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Makes contributions in class and group discussions (e.g., reports on ideas and personal knowledge about a topic, initiates conversations, connects ideas and experiences with those of others)</p>
  <p><strong>Viewing</strong><br> <strong>Standard 9.</strong> Uses viewing skills and strategies to understand and interpret visual media</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Understands the main idea or message in visual media (e.g., pictures, cartoons, weather reports on television, newspaper photographs, visual narratives)</p>
  <p><strong>Science</strong><br> <strong>Standard 6.</strong> Understands relationships among organisms and their physical environment</p>
  <p><strong>Level I (Grades K-2) </strong><br> 2. Knows that living things are found almost everywhere in the world and that distinct environments support the life of different types of plants and animals</p>
  <p><strong>Thinking &amp; Reasoning</strong><br> <strong>Standard 3.</strong> Effectively uses mental processes that are based on identifying similarities and differences</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Identifies the similarities and differences between persons, places, things, and events using concrete</p>
  <p><strong>Working With Others</strong><br> <strong>Standard 1.</strong> Contributes to the overall effort of a group</p>
  <p><strong>Level IV (Grades K-12) </strong><br> 2. Works cooperatively within a group to complete tasks, achieve goals, and solve problems</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

