{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Lesson Plans . Kindergarten . Recycling: Reduce, Recycle, Reuse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Lesson Plans</h2>
     <ul>
      <li><a href="lessons.html#planoverview">Lesson Plan Overviews</a></li>
      <li><a href="lessons.html#lessonk">Kindergarten Lessons</a></li>
      <li><a href="lessons.html#lesson1">Grade One Lessons</a></li>
      <li><a href="lessons.html#lesson2">Grade Two Lessons</a></li>
      <li><a href="lessons.html#lesson3">Grade Three Lessons</a></li>
      <li><a href="lessons.html#lesson4">Grade Four Lessons</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html">Teacher's Guide</a> | <a href="lessons.html" class="active">Lesson Plans</a>
  </div> <img src="../images/header_lessonplans.jpg" alt="Lesson Plans" width="141" height="33" class="contentheader">
  <p class="subhead">RECYCLING : REDUCE, RECYCLE, REUSE</p>
  <p><img src="../images/pdf_icon.gif" alt="" width="16" height="16" border="0" align="middle"> For easier printing, <a href="pdfs/lessonk_1.pdf">download the PDF version of this lesson plan</a> (142k).</p>
  <p><span class="bluesubhead">OVERVIEW</span><br> In this lesson students will be introduced to the concepts of reducing, reusing and recycling. They will learn new vocabulary, read labels, and connect environmental concepts to their everyday experiences. Students will perform a skit highlighting what they have learned about taking action to conserve the earth's resources.</p> <br>
  <p><span class="bluesubhead">OBJECTIVES</span><br> Students will do the following:</p>
  <ul>
   <li>Use varied strategies to comprehend written or oral language from a variety of sources</li>
   <li>Actively listen to audio information using Internet resources</li>
   <li>Summarize information by retelling</li>
   <li>Make connections between new information and prior knowledge</li>
   <li>Understand new vocabulary and concepts</li>
   <li>Understand relationships among organisms and their environment</li>
   <li>Participate in group activities and class discussion</li>
   <li>Perform a dramatic skit</li>
  </ul> <br>
  <p><span class="bluesubhead">SUBJECT AREAS</span><br> Language Arts, Science, Drama</p> <br>
  <p><span class="bluesubhead">INTERNET LINKS</span><br> Bookmark the following Web sites:</p>
  <ul>
   <li><a href="/eekoworld/">EekoWorld</a><br></li>
   <li><a href="http://www.ronz.org.nz/nz_recycling_symbols/gallery.html" title="Recycling Symbols">Recycling Symbols</a><br></li>
   <li><a href="http://www.mste.uiuc.edu/courses/ci407su01/students/north/kristy/Project/K-Poem-Net.html" title="Sarah Cynthia Sylvia Stout">Sarah Cynthia Sylvia Stout</a></li>
  </ul><br>
  <p><span class="bluesubhead">MATERIALS</span></p>
  <ul>
   <li>One large bag of popcorn</li>
   <li>6 small individual serving-size bags of popcorn</li>
   <li>One-gallon jug of juice in a glass jar</li>
   <li>A six pack of juice boxes ( Be aware of food allergies if students eat popcorn or juce.)</li>
   <li>Assorted items that can be reused and recycled (detergent bottles, soda bottles, blankets, glass jars, magazines, newspapers, paper plates, plastic yogurt cups, paper, plastic water bottles, cereal boxes, etc.)</li>
   <li>Computer with Internet access</li>
  </ul>
  <p><em>Teacher Note: You may wish to teach this lesson in short segments by using each of the activities on a different day. </em></p> <br>
  <p><span class="bluesubhead">BUILDING BACKGROUND</span><br> <strong>Activity One: Exploring EekoWorld</strong></p>
  <p>Ask the students to brainstorm ideas about garbage and recycling and record their ideas on a board or chart paper. Visit the <a href="../index.html@load=garbage_recycling">Garbage &amp; Recycling</a> section of the EekoWorld Web site at</p>
  <p>As you view the different pages of this section, ask questions to confirm students' understanding of the different concepts. Focus on explaining how we depend on the earth's resources, and how we can play a role in taking care of the earth.</p>
  <p>After viewing this information, ask the students what new information they have learned about this topic. Tell the students that they are going to learn more about reducing, recycling and reusing materials.</p> <br>
  <p><span class="bluesubhead">STEPS</span><br> <strong>Activity One: Reducing Waste</strong></p>
  <p><strong>Step 1</strong><br> Tell the students that you are going to show them what it means to reduce waste. Explain the idea of reducing waste by telling your class that when you avoid making garbage in the first place, you don't have to worry about disposing of waste or recycling it later.</p>
  <p>Show the students the large bag of popcorn and the individual bags of popcorn and ask them which they think makes more waste. Show the students how more wrapping is used in the individual bags and tell them that if more paper and packaging is used to make something, it makes more waste, or garbage. Explain how packing popcorn in reusable containers will reduce waste because it makes less garbage.</p>
  <p>Show the students the gallon jug of juice in a glass jar, and a six-pack of juice boxes. Ask the students to predict which of these items makes more waste. Tell the students that it takes more paper and plastic to make the juice boxes.</p>
  <p><strong>Step 2</strong><br> Ask questions to ensure students' understanding of the differences between the items you have presented to them. Encourage students to think of other examples of how to reduce waste. Use the following prompts as guides to stimulate discussion:</p>
  <ul>
   <li>If you write on both sides of paper, how does this reduce waste?</li>
   <li>If you buy one big bottle of detergent instead of three small ones, how does this reduce waste?</li>
   <li>If you use a reusable lunch box or bag instead of paper, how does this reduce waste?</li>
   <li>If you use dishes instead of paper plates, how does this reduce waste?</li>
   <li>If you use a reusable mug instead of a paper or plastic cup, how does this reduce waste?</li>
   <li>If you say, "No thanks, I don't need a bag," when you buy something that doesn't require a bag, how does this reduce waste?</li>
  </ul>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Recycling</strong></p>
  <p><strong>Step 1</strong><br> Ask students to share what they may know about recycling. Tell the students that recycle means to use something again. Share the following examples of things that can be recycled:</p>
  <ul>
   <li>Glass bottles</li>
   <li>Plastic water bottles</li>
   <li>Detergent bottles</li>
   <li>Cereal boxes</li>
   <li>Newspapers</li>
   <li>Magazines</li>
   <li>Plastic yogurt cups</li>
  </ul>
  <p>You may wish to have the class revisit the EekoWorld section which shows what happens to paper, glass and plastic when it is recycled.</p>
  <p><strong>Step 2</strong><br> Share the following recycling symbols with your class. Some of the symbols mean that the item may be recycled, and some of the symbols mean that the item is made from recycled materials. You may wish to visit <a href="http://www.ronz.org.nz/nz_recycling_symbols/gallery.html" title="Recycling Symbols">this Web site</a> that shows many examples of recycling symbols.</p>
  <p>Ask the students to look for examples of recycling symbols on the items you have provided.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Three: Reusing</strong></p>
  <p><strong>Step 1</strong><br> Ask the students to tell you what they know about reusing things. You may use the following questions as prompts:</p>
  <ul>
   <li>Did you ever go to a yard sale? What is a yard sale?</li>
   <li>Did you ever donate your old toys or clothes to a charity?</li>
   <li>Did you ever give clothes that no longer fit you to a brother, sister or a cousin?</li>
   <li>Did you ever use an old glass jar to hold your pencils, pens or paintbrushes? Tell the students that these are all examples of reusing things.</li>
  </ul>
  <p><strong>Step 2</strong><br> Show the following items to your class and ask how they might be reused:</p>
  <ul>
   <li>Gift wrapping paper</li>
   <li>Paper lunch bags</li>
   <li>A toy</li>
   <li>An empty peanut butter jar</li>
   <li>A cardboard box</li>
   <li>A plastic milk jug</li>
   <li>A detergent bottle</li>
   <li>An empty plastic soda bottle</li>
  </ul>
  <p><strong>Step 3</strong><br> Ask the students to generate more examples of how one can reuse varied items. Encourage your students to bring examples into class. Explain to the class how reusing things instead of throwing them out can help take care of the earth.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Four: The Play</strong></p>
  <p><strong>Step 1</strong><br> Invite students to bring in items that are examples of how to reduce waste, items that are recycled, and items that are reused. As a class, sort the items into three groups:</p>
  <ul>
   <li>Things that reduce waste</li>
   <li>Things that can be recycled</li>
   <li>Things that can be reused</li>
  </ul>
  <p>Tell the students that you will be using these items in a class play.</p>
  <p><strong>Step 2</strong><br> Divide the class into three groups. Assign each group to one of the following categories:</p>
  <ul>
   <li>Reduce</li>
   <li>Recycle</li>
   <li>Reuse</li>
  </ul>
  <p>Have each student in the group present one item. Each student says the name of the item they have, and how it reduces waste. Place three bins on the Label each bin with one of the following signs: Reduce, Recycle, Reuse.</p>
  <p>Select a narrator to read the one sentence introduction to each category.</p>
  <p><strong>Step 3</strong><br> Present the play using the guidelines below.</p>
  <p class="indent"><strong>Part 1: REDUCE</strong></p>
  <p class="indent">Narrator: There are three important ways to help take care of the earth.</p>
  <p class="indent">Entire Class: REDUCE, RECYCLE, REUSE</p>
  <p class="indent">Narrator: When you reuse things, you can help the earth.</p>
  <p class="indent">Each student in the "reduce" group presents an item. The following are examples of what students might say:</p>
  <ul>
   <li>This is paper. When you use less paper, you reduce waste.</li>
   <li>This is a large bag of dog food. When you buy a big size, you reduce waste.</li>
  </ul>
  <p class="indent">After the item is presented, each student puts the item in the bin labeled "Reduce."</p>
  <p class="indent">* * *</p>
  <p class="indent"><strong>Part 2: RECYCLE</strong></p>
  <p class="indent">Narrator: There are three important ways to help take care of the earth.</p>
  <p class="indent">Entire Class: REDUCE, RECYCLE, REUSE</p>
  <p class="indent">Narrator: Recycling is using something again. When you recycle things you can help the earth.</p>
  <p class="indent">Each student in the "recycle" group presents one item that can be recycled and places it in recycling bin.</p>
  <p class="indent">Use the following examples as a guide:</p>
  <ul>
   <li>This is a detergent bottle. You can recycle this.</li>
   <li>This is a plastic water bottle. You can recycle this.</li>
  </ul>
  <p class="indent">After the item is presented, each student puts the item in the bin labeled "Recycle."</p>
  <p class="indent">* * *</p>
  <p class="indent"><strong>Part 3: REUSE</strong></p>
  <p class="indent">Narrator: There are three important ways to help take care of the earth.</p>
  <p class="indent">Entire Class: REDUCE, RECYCLE, REUSE</p>
  <p class="indent">Narrator: When you reuse things instead of throwing them out you can help the earth.</p>
  <p class="indent">Each student presents one item that can be reused and places it in the bin labeled "Reuse."</p>
  <p class="indent">Use the following examples as a guide:</p>
  <ul>
   <li>This is a reusable lunch box.</li>
   <li>This is a reusable cup.</li>
  </ul>
  <p class="indent">After the item is presented, each student puts the item in the bin labeled "Reuse."</p>
  <p class="indent">* * *</p>
  <p class="indent"><strong>Part 4: THE END</strong></p>
  <p class="indent">Entire Class: REDUCE, RECYCLE, REUSE. REDUCE, RECYCLE, REUSE. REDUCE, RECYCLE, REUSE. (You may choose to have class clap and stomp a beat as they say these words.)</p> <br>
  <p><span class="bluesubhead">EXTENSION ACTIVITIES</span><br> <strong>Activity One: Banner Making</strong></p>
  <p>Ask the class to create a banner with the words REDUCE, RECYCLE, REUSE and illustrations. Share the banner by posting it where others in the school and community can view it.</p>
  <hr width="50%" size="1" noshade>
  <p><strong>Activity Two: Poetry </strong></p>
  <p>Share Shel Silverstein's poem entitled "<a href="http://www.mste.uiuc.edu/courses/ci407su01/students/north/kristy/Project/K-Poem-Net.html">Sarah Cynthia Sylvia Stout Would Not Take Out the Garbage</a>." Ask the students to illustrate the poem. Post students' work to share with others in the school or community.</p> <br>
  <p><span class="bluesubhead">STANDARDS</span><br> <strong><a href="http://www.mcrel.org" title="McRel Standards">McRel Standards</a></strong></p>
  <p><strong>Language Arts: Reading</strong></p>
  <p><strong>Standard 7.</strong> Uses reading skills and strategies to understand and interpret a variety of informational texts</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Uses reading skills and strategies to understand a variety of informational texts (e.g., written directions, signs, captions, warning labels, informational books)<br> 2. Understands the main idea and supporting details of simple expository information<br> 3. Summarizes information found in texts (e.g., retells in own words)<br> 4. Relates new information to prior knowledge and experience</p>
  <p><strong>Language Arts: Listening &amp; Speaking</strong></p>
  <p><strong>Standard 8</strong>. Uses listening and speaking strategies for different purposes</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Makes contributions in class and group discussions (e.g., reports on ideas and personal knowledge about a topic, initiates conversations, connects ideas and experiences with those of others)<br> 2. Asks and responds to questions (e.g., about the meaning of a story, about the meaning of words or ideas)</p>
  <p><strong>Science</strong></p>
  <p><strong>Standard 6</strong>. Understands relationships among organisms and their physical environment</p>
  <p><strong>Level I (Grades K-2) </strong><br> 1. Knows that plants and animals need certain resources for energy and growth (e.g., food, water, light, air)</p>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

