{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . Parents & Teachers . Teachers Guide | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Topics included in the teacher's guide:</h2>
     <ul>
      <li><a href="teachers.html#intro" class="orangebodylink">Introduction</a></li>
      <li><a href="teachers.html#interactives" class="orangebodylink">EekoWorld Interactives</a></li>
      <li><a href="teachers.html#plans" class="orangebodylink">Lesson Plans</a></li>
      <li><a href="teachers.html#content" class="orangebodylink">EekoWorld Web Site Content</a></li>
      <li><a href="teachers1.html#background" class="orangebodylink">Background Information: The Environment &amp; Conservation</a></li>
      <li><a href="teachers2.html#planoverview" class="orangebodylink">Lesson Plan Overviews</a></li>
      <li><a href="teachers2.html#lessonk" class="orangebodylink">Kindergarten Lessons</a></li>
      <li><a href="teachers2.html#lesson1" class="orangebodylink">Grade One Lessons</a></li>
      <li><a href="teachers3.html#lesson2" class="orangebodylink">Grade Two Lessons</a></li>
      <li><a href="teachers3.html#lesson3" class="orangebodylink">Grade Three Lessons</a></li>
      <li><a href="teachers4.html#lesson4" class="orangebodylink">Grade Four Lessons</a></li>
      <li><a href="teachers5.html#ideas" class="orangebodylink">Ideas for How to Use EekoCreatures &amp; the EekoHouse in Literacy Activities</a></li>
      <li><a href="teachers6.html#strategies" class="orangebodylink">Literacy-Based Instructional Strategies</a></li>
      <li><a href="teachers8.html#web" class="orangebodylink">Web-Based Classroom Resources, Projects &amp; Activities</a></li>
      <li><a href="teachers9.html#funsites" class="orangebodylink">Fun Sites!</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html" class="active">Teacher's Guide</a> | <a href="lessons.html">Lesson Plans</a>
  </div> <img src="../images/header_teachersguide.jpg" alt="Teacher's Guide" width="168" height="33" class="contentheader"> <a name="intro" id="intro"></a><span class="subhead">Introduction</span><br>
  <p>The EekoWorld Teacher Guide is designed to help you utilize the multimedia resources and lesson plans of EekoWorld in your classroom. EekoWorld provides children with a wide array of information and invites them to explore many different environmental perspectives. It is designed to help children learn about complex issues by providing concrete, hands-on, developmentally appropriate activities that inspire creativity and imagination.</p>
  <p>Children learn best when they are actively involved in the process. They construct meaning as they engage in talking, listening, reading, writing, questioning, challenging and interpreting the information that surrounds them. As children develop, they grow in their ability to think critically about information. This requires analysis, synthesis, summarization, evaluation, comparison, and application of what one has learned. It requires learners to create connections between their own experiences and new learning, and a process of reflection on what has been learned. <strong>EekoWorld</strong> is a fluid and interconnected virtual environment that involves children, parents, teachers, community members, and the larger world.</p> <br> <a name="interactives" id="interactives"></a><span class="subhead">EekoWorld Interactives</span><br>
  <p>There will be two main Web site interactives in EekoWorld. The first allows children to create their own unique land, air or water dwelling <a href="../index.html@load=eekocreature"><strong>EekoCreature</strong></a> that encounters a variety of environmental issues as it travels through varied ecosystems. The second, <a href="../index.html@load=eekohouse"><strong>EekoHouse</strong></a> invites children to explore a home simulation that shows how decisions they make affect the environment and their EekoCreature.</p> <br> <a name="plans" id="plans"></a><span class="subhead">Lesson Plans</span><br>
  <p>EekoWorld features a wide variety of educational materials for classroom use. Our EekoWorld lesson plans are for students in grades K-4 and focus on language arts, science, social studies, mathematics and the arts. They are designed to use the resources of the EekoWorld Web site as a tool for learning both inside and outside of the classroom and focus on promoting creativity and critical thinking. EekoWorld's lesson plans and activities are fully integrated with the Web site content. The Web site's interactivity and multimedia capabilities will provide learning opportunities for a diverse range of learners and learning styles and support best practices in the classroom environment.</p>
  <p><a href="lessons.html">View the complete list</a> of the lesson plans available</p> <br> <a name="content" id="content"></a><span class="subhead">EekoWorld Web Site Content</span>
  <p>The EekoWorld Web site contains five content sections: the environment, recycling and garbage, air and water, plants and animals, and the future. Each of these sections contains multimedia resources that allow students to read and listen to diverse information. Many of the lesson plans use the EekoWorld Web site content sections to introduce key environmental concepts to students. All information in the content areas is audio-enabled to support diverse reading levels and to foster reading comprehension and listening comprehension skills.</p> <br>
  <div align="right">
   <strong><a href="teachers1.html" class="next">Next</a> »</strong>
  </div>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

