{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Topics included in the teacher's guide:</h2>
     <ul>
      <li><a href="teachers.html#intro" class="orangebodylink">Introduction</a></li>
      <li><a href="teachers.html#interactives" class="orangebodylink">EekoWorld Interactives</a></li>
      <li><a href="teachers.html#plans" class="orangebodylink">Lesson Plans</a></li>
      <li><a href="teachers.html#content" class="orangebodylink">EekoWorld Web Site Content</a></li>
      <li><a href="teachers1.html#background" class="orangebodylink">Background Information: The Environment &amp; Conservation</a></li>
      <li><a href="teachers2.html#planoverview" class="orangebodylink">Lesson Plan Overviews</a></li>
      <li><a href="teachers2.html#lessonk" class="orangebodylink">Kindergarten Lessons</a></li>
      <li><a href="teachers2.html#lesson1" class="orangebodylink">Grade One Lessons</a></li>
      <li><a href="teachers3.html#lesson2" class="orangebodylink">Grade Two Lessons</a></li>
      <li><a href="teachers3.html#lesson3" class="orangebodylink">Grade Three Lessons</a></li>
      <li><a href="teachers4.html#lesson4" class="orangebodylink">Grade Four Lessons</a></li>
      <li><a href="teachers5.html#ideas" class="orangebodylink">Ideas for How to Use EekoCreatures &amp; the EekoHouse in Literacy Activities</a></li>
      <li><a href="teachers6.html#strategies" class="orangebodylink">Literacy-Based Instructional Strategies</a></li>
      <li><a href="teachers8.html#web" class="orangebodylink">Web-Based Classroom Resources, Projects &amp; Activities</a></li>
      <li><a href="teachers9.html#funsites" class="orangebodylink">Fun Sites!</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html" class="active">Teacher's Guide</a> | <a href="lessons.html">Lesson Plans</a>
  </div> <img src="../images/header_teachersguide.jpg" alt="Teacher's Guide" width="168" height="33" class="contentheader"> <a name="strategies" id="strategies"></a><span class="subhead">Literacy-Based Instructional Strategies</span><br>
  <p>This section contains information on how to use the EekoWorld Web site to support best practices in the classroom. To facilitate the needs of students with varied levels of reading comprehension skills, the Web site content information is audio-enabled. You can have your students read the information aloud or silently, or listen as it is read to them. You may choose to listen to the information as a class, or have students work in small groups as they browse the varied content sections of EekoWorld.</p>
  <p><strong>Modeling Reading Behaviors</strong><br> There are several helpful strategies that you can use to facilitate reading comprehension. You can model reading behaviors with your students as you browse the five content sections of EekoWorld as you show your students can how to predict, question, clarify, confirm and summarize. You may also wish to practice listening comprehension skills.</p>
  <p><strong>Using Graphic Organizers</strong><br> You might also choose to make use of graphic organizers to help facilitate students' comprehension of the content material. A graphic organizer is a visual spatial representation of information. As students read about the different ecosystems in EekoWorld, they might create a graphic organizer. Graphic organizers can be used to help students collect information, compare information, and summarize information they have learned. The following is an example of a graphic organizer.</p>
  <p>As students continue to learn new information about each ecosystem, they add facts to the graphic organizer. For example, they might describe characteristics of the forest, animals that live there, or threats to the forest. Templates of graphic organizers may also be found at the <a href="http://interactives.mped.org/view_interactive.aspx?id=127&amp;title=">Read-Write-Think Web site</a>.</p>
  <p><strong>Vocabulary</strong><br> Some of the vocabulary in the varied sections may be difficult for some students. You can introduce word meanings prior to having students visit the content section. You may also want to have students use the context to predict meanings, and continue reading to confirm their predictions. You can also choose to have your class practice dictionary skills. Some words you might want to teach students include the following:</p>
  <ul>
   <li>ecosystem</li>
   <li>thermostat</li>
   <li>pesticide</li>
   <li>organic</li>
   <li>decompose</li>
  </ul>
  <div align="right">
   <strong>« <a href="teachers5.html" class="next">Previous</a></strong>&nbsp; | &nbsp;<strong><a href="teachers7.html" class="next">Next</a> »</strong>
  </div>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

