{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE -->
  <div id="sidebarwrapper">
   <div id="sidebartop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebarcontainer">
    <div id="sidebarcontent">
     <h2>Topics included in the teacher's guide:</h2>
     <ul>
      <li><a href="teachers.html#intro" class="orangebodylink">Introduction</a></li>
      <li><a href="teachers.html#interactives" class="orangebodylink">EekoWorld Interactives</a></li>
      <li><a href="teachers.html#plans" class="orangebodylink">Lesson Plans</a></li>
      <li><a href="teachers.html#content" class="orangebodylink">EekoWorld Web Site Content</a></li>
      <li><a href="teachers1.html#background" class="orangebodylink">Background Information: The Environment &amp; Conservation</a></li>
      <li><a href="teachers2.html#planoverview" class="orangebodylink">Lesson Plan Overviews</a></li>
      <li><a href="teachers2.html#lessonk" class="orangebodylink">Kindergarten Lessons</a></li>
      <li><a href="teachers2.html#lesson1" class="orangebodylink">Grade One Lessons</a></li>
      <li><a href="teachers3.html#lesson2" class="orangebodylink">Grade Two Lessons</a></li>
      <li><a href="teachers3.html#lesson3" class="orangebodylink">Grade Three Lessons</a></li>
      <li><a href="teachers4.html#lesson4" class="orangebodylink">Grade Four Lessons</a></li>
      <li><a href="teachers5.html#ideas" class="orangebodylink">Ideas for How to Use EekoCreatures &amp; the EekoHouse in Literacy Activities</a></li>
      <li><a href="teachers6.html#strategies" class="orangebodylink">Literacy-Based Instructional Strategies</a></li>
      <li><a href="teachers8.html#web" class="orangebodylink">Web-Based Classroom Resources, Projects &amp; Activities</a></li>
      <li><a href="teachers9.html#funsites" class="orangebodylink">Fun Sites!</a></li>
     </ul>
    </div>
   </div>
   <div id="sidebarbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreentop">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
   <div id="sidebargreencontainer">
    <div id="sidebargreencontent">
     <p><strong>Create and care for your own <a href="../index.html@load=eekocreature">EekoCreature</a>, then explore <a href="../index.html@load=eekohouse">EekoHouse</a> for conservation ideas! </strong></p>
    </div>
   </div>
   <div id="sidebargreenbottom">
    <img src="../images/spacer.gif" alt="" width="1" height="1">
   </div>
  </div> <img src="../images/header_parentsteachers.jpg" alt="Parents &amp; Teachers" width="259" height="54" class="headerimage">
  <div id="subnav">
   <a href="index.html">Overview</a> | <a href="family.html">Family Guide</a> | <a href="teachers.html" class="active">Teacher's Guide</a> | <a href="lessons.html">Lesson Plans</a>
  </div> <img src="../images/header_teachersguide.jpg" alt="Teacher's Guide" width="168" height="33" class="contentheader"> <a name="planoverviews" id="planoverviews"></a><span class="subhead">Lesson Plan Overviews</span><br>
  <p>EekoWorld features fifteen lesson plans. There are three lessons for each grade level from kindergarten through grade four. The lesson plans contain the following components: overviews, grade level, learning objectives, building background activities, learning activities, extension activities, and standards. The educational standards for all the lessons are compiled by grade ranges from K-2 and 3-5. Therefore, you may wish to explore lessons other than those specific to the grade level class you teach. The following section describes the lesson plans for each of the grade levels.</p> <br> <a name="lessonk"></a><span class="subhead">Kindergarten Lessons</span><br>
  <p><a href="lessonsk_1.html"><strong>DRAMATIC LEARNING : REDUCE, RECYCLE, REUSE</strong></a><br> In this lesson students will be introduced to the concepts of reducing, reusing and recycling. They will learn new vocabulary, read labels, and connect environmental concepts to their everyday experiences. Students will perform a skit highlighting what they have learned about taking action to conserve the earth's resources.</p>
  <p><a href="lessonsk_2.html"><strong>WHAT DID WE SEE?</strong></a><br> In this lesson students will be introduced to the world's ecosystems. They will create a class book about an ecosystem based on the patterned rhyming and repetitive text of Bill Martin Jr.'s book <em>Brown Bear, Brown Bear, What Do You See?</em></p>
  <p><a href="lessonsk_3.html"><strong>HOME SWEET HOME</strong></a><br> In this lesson students will learn how people and animals need food, water and shelter in order to survive. Students will read Eric Carle's books <em>A House for Hermit Crab</em> and <em>The Very Hungry Caterpillar</em> to explore reasons why animals need food and shelter. They will create a schoolyard habitat for birds.</p> <br> <a name="lesson1"></a><span class="subhead">Grade One Lessons</span><br>
  <p><a href="lessons1_1.html"><strong>CLEAN AIR DETECTIVE: Investigating Air Pollution</strong></a><br> In this lesson students will participate in a scientific inquiry activity regarding the air they breathe inside and around their house. They will plan and conduct a simple investigation to gather information on air quality. Students will also help to reduce air pollution by shutting off lights, toys, machines and appliances and by reducing their travel in cars.</p>
  <p><a href="lessons1_2.html"><strong>WE'RE ALL IN THIS TOGETHER</strong></a><br> In this lesson students will learn about the food chain. They will examine how animals depend on plants and other animals for food, and the importance of maintaining a balanced ecosystem. Students will make plant and animal headbands and recreate a food chain to analyze the ways plants and animals depend on each other. They will sing a food chain poem/song and make a class food chain book based on the poem.</p>
  <p><a href="lessons1_3.html"><strong>TRASH, TRASH, AND MORE TRASH</strong></a><br> In this lesson students will investigate a bag of trash to find out how much of the contents of the bag actually needs to go to the landfill. Students will create two class posters that show which items are recyclable and which ones are not. They will complete a math activity to determine how many bags of trash their families generate.</p> <br>
  <div align="right">
   <strong>« <a href="teachers1.html" class="next">Previous</a></strong>&nbsp; | &nbsp;<strong><a href="teachers3.html" class="next">Next</a> »</strong>
  </div>
 </div><!-- END CONTENT --> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

