{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Tibble\'s Super Action Challenge | PBS Kids' %}
{% set desc = 'Play an ARTHUR trivia game -- either one player or two! D.W. hosts while you select the answer for the Tibble Twins before time runs out!' %}
{% set keywds = 'trivia, Tibbles, questions, challenge, ARTHUR' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-636">
 <div class="ruler"></div>
 <div id="mainFeature"><img src="../../i/games/tibble_header.gif" width="619" height="72" border="0" alt="Tibble's Super Action Challenge - Try to answer Arthur trivia quesions as quickly as you can!" id="fo_header">
  <div id="swf_content">
   <div id="flashcontent" class="superactionchallenge">
    <p>You can <a href="https://get.adobe.com/flashplayer/?no_redirect">download the latest version of Flash</a> for free.<br><br>Once you have installed Flash 9 or later, come back here to <a href="https://pbskids.org/arthur/games/superactionchallenge/index.html">play the game.</a><br><br><a href="/arthur/parentsteachers/help/answers/tech_shockwave.html?cat=techsupport">What's Flash?</a>.</p>
   </div>
   <script type="text/javascript">				   var fo = new SWFObject("SuperActionChallenge.swf", "movie", "595", "350", "6", "#ffffff");				   fo.addParam("allowScriptAccess", "always");				  fo.write("flashcontent");					</script>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/tibbles/index.html" id="rcTibbles">The Tibble Twins</a></li>
   <li><a href="/arthur/print/elwingo/index.html" id="rcElwingo">Elwingo!</a></li>
   <li><a href="/arthur/games/braingame/index.html" id="rcBrainGame">Brain Game</a></li>
  </ul>
 </div>
</div>{% endblock %}

