{% extends 'curiousgeorge/busyday/includes/busyDayPage.html.twig' %}

{% set desc = "Share treats fairly among George's dog friends by giving the dogs equal numbers of bones!" %}
{% set tags = 'division, equal shares, equal groups, math skills, pre-K, elementary school, equal partitioning' %}
{% set pageTitle = "Fair Shares | PBS KIDS" %}
{% set spanish = false %}
{% set bodyAtrs = '  class="game"' %}

{% set specialInclude = '<script type="text/javascript" src="../js/track_dogs.js"></script>' %}
{% set overlayWrapper = false %}

{% block contentArea %}<div id="content-area">
	<div id="flashContent">
		<a href="https://www.adobe.com/go/getflash"><img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"></a>
		<p>This page requires Flash Player version 9.0.115 or higher.</p>
	</div>

	<script type="text/javascript">
		var so = new SWFObject("dogs.swf", "dogs", "900", "500", "9.0.115", "#3b96c5");
		so.addVariable("gameMode","normal");
		so.addParam("quality","best");
		so.addParam("play","true");
		so.addParam("menu","true");
		so.addParam("allowFullScreen","true");
		so.addParam("allowscriptaccess","always");
        // Adding wmode param to approprately stack swf obj in IE -- 4/27/2015 INye
        so.addParam("wmode","opaque");
		so.setAttribute("id","dogs");
		so.setAttribute("name","dogs");
		so.write("flashContent");
	</script>

</div>{% endblock %}