{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Arthur\'s About Me Page | PBS Kids' %}
{% set desc = 'See Arthurs interests, adventures, and favorite books. Take a poll on fluorescent lights and energy efficiency. Play ball with Pal! Explore Arthurs clubs, and photos, and games!' %}
{% set keywds = 'Arthur, profile, books, interests, fluorescent lights' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-ff9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/arthur_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/arthur_top.swf", "arthur", "960", "363", "9", "#ffff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "about");			   fo.addVariable("char", "arthur");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="/arthur/friends/arthur/photos.html" class="photoWall p-arthur">Arthur's photos</a>
  <div id="friendsContent">
   <h1>A little about me</h1>
   <hr class="friendsRuler">
   <dl id="aboutMe">
    <dt>
     Best Thing Ever:
    </dt>
    <dd>
     When I got Pal.
    </dd>
    <dt>
     Worst Thing Ever:
    </dt>
    <dd>
     I missed Buster when he moved away.
    </dd>
    <dt>
     Favorite Adventure:
    </dt>
    <dd>
     When Francine and I got locked in the library.
    </dd>
   </dl>
   <div id="pollWrapper" class="poll_bg_ffc">
    <div id="pollContent">
     <h2>My Poll</h2>
     <form action="/cgi-registry/poll/poll.pl" method="post" id="myPoll">
      <fieldset>
       <p>Do you have energy-efficient light bulbs in your home?</p>
       <ul>
        <li><input type="radio" name="q1" id="ans1" value="1" checked> <label for="ans1">Yes</label></li>
        <li><input type="radio" name="q1" id="ans2" value="2"> <label for="ans2">No</label></li>
       </ul>
      </fieldset> <input type="hidden" name="results" value="arthur/friends/arthur/results.html"> <input type="hidden" name="site_id" value="arthur"> <input type="hidden" name="poll_id" value="arthur"> <input type="hidden" name="question1.exists" value="true"> <a href="#p" onclick="document.forms[0].submit();" id="pollSubmitBtn">submit</a>
     </form>
    </div>
    <div id="pollBGBtm"></div>
   </div>
   <h1>My Favorite Books</h1>
   <hr class="friendsRuler">
   <ul id="myBooks">
    <li><img src="/arthur/i/friends/books/arthur_book1.jpg" width="148" height="117" alt="George and Martha book cover" border="0"> <h4>George and Martha</h4> <p>by James Marshall<br> Two best friends argue, make up, and have some fun together. Sounds like our gang!</p></li>
    <li><img src="/arthur/i/friends/books/arthur_book2.jpg" width="148" height="117" alt="Shiloh book cover" border="0"> <h4>Shiloh</h4> <p>by Phyllis Naylor<br> A boy and his dog--now that's a story I can really relate to. You'll love this one for sure.</p></li>
    <li><img src="/arthur/i/friends/books/arthur_book3.jpg" width="148" height="117" alt="How to Eat Fried Worms book cover" border="0"> <h4>How to Eat Fried Worms</h4> <p>by Thomas Rockwell<br> How will Billy ever win his bet with his friends that he can eat 15 fried worms in 15 days?</p></li>
    <li><img src="/arthur/i/friends/books/arthur_book4.jpg" width="148" height="117" alt="Stories Julian Tells book cover" border="0"> <h4>Stories Julian Tells</h4> <p>by Ann Cameron<br> You'll like getting to know Julian, his family, and his friends.</p></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/poetry/index.html" id="rcClubPoetry">Poetry Club</a></li>
   <li><a href="/arthur/games/marthursticker/index.html" id="rcStickerBook">Marthur Stickerbook Mashup</a></li>
   <li><a href="/arthur/games/letsdrawarthur/index.html" id="rcDrawArthur">Let's Draw Arthur</a></li>
  </ul>
 </div>
</div>{% endblock %}

