{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Arthur\'s Games & Printables Page | PBS Kids' %}
{% set desc = 'Play Arthurs games, send letters or cards, and sing Arthur songs! Play online, or print activities out, color, and have fun with friends anywhere! ' %}
{% set keywds = 'games, printables, profile, Arthur, fun, play' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-ff9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/arthur_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/arthur_top.swf", "arthur", "960", "363", "9", "#ffff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "games");			   fo.addVariable("char", "arthur");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-arthur">Arthur's images</a>
  <div id="friendsContent">
   <h1>My Games &amp; Printables</h1>
   <hr class="friendsRuler">
   <ul id="myGames">
    <li id="friendsNewsletter" class="icon"><a href="../../newsletter/index.html"><span>Arthur &amp; Buster Newsletter</span></a></li>
    <li id="friendsElwood" class="icon"><a href="../../games/elwoodcity/index.html"><span>Elwood City Map</span></a></li>
    <li id="friendsSign" class="icon"><a href="../../print/signdesign/index.html"><span>Sign Design</span></a></li>
    <li id="friendsLettersToArthur" class="icon"><a href="../../games/letterstoarthur/index.html"><span>Letters to Arthur</span></a></li>
    <li id="friendsAboutFace" class="icon"><a href="../../games/aboutface/index.html"><span>About Face</span></a></li>
    <li id="friendsSongbook" class="icon"><a href="../../games/songbook/index.html"><span>Songbook</span></a></li>
    <li id="friendsColoring" class="icon"><a href="../../print/coloringpages/coloring.html#pg-arthur1"><span>Coloring Pages</span></a></li>
    <li id="friendsTrading" class="icon"><a href="../../print/tradingcards/cards.html#pg-arthur1"><span>Trading Cards</span></a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
   <li><a href="/arthur/friends/dad/index.html" id="rcDad">Dad</a></li>
   <li><a href="/arthur/friends/mom/index.html" id="rcMom">Mom</a></li>
  </ul>
 </div>
</div>{% endblock %}

