<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if gt IE 9]>  <html data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if !IE]><!--> <html data-pageGenratr="false" data-activestage="2"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Wall of Agents . Agents . Odd Squad | PBS KIDS</title>
	<meta name="viewport" content="initial-scale=1">
    
    <meta property="og:title" content="Wall of Agents . Agents . Odd Squad | PBS KIDS" />
    <meta property="og:url" content="http://pbskids.org/oddsquad/agents/wallofagents/" />
    <meta property="og:description" content="Odd Squad is a live-action comedy about two kids, Agent Olive and Agent Otto, who work for a government agency run by kids in suits who are equipped with the world's most advanced and unpredictable gadgetry. Whenever anything strange, unusual or just plain nuts (including giant nuts falling out of the sky) happens, it's Odd Squad's job to put things right again. Odd Squad has a fun, goofy, irreverent style that includes sight gags, one-liners, absurd situations and plenty of slapstick. Embedded in each episode is a math concept aimed at kids in grades 1-2. For example, in one episode, Olive and Otto are called-on to help a pizza delivery lady who keeps doubling herself. In the process of helping her, Olive and Otto also explore and learn what happens when you double a number. Odd Squad is a fun and engaging way for kids to become familiar with, and master, key math concepts and operations." />
    <meta property="og:image" content="http://pbskids.org/oddsquad/img/global/logo-oddsquad.png" />

	<script type="text/javascript" src="//use.typekit.net/nuo4rii.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript" src="/oddsquad/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/oddsquad/js/iscroll-probe.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/jquery.pageGenratr.js"></script>
	<script type="text/javascript" src="/oddsquad/js/agent.js"></script>
	<script type="text/javascript" src="/oddsquad/js/locker.js"></script>
	<script type="text/javascript" src="/oddsquad/js/achievements.js"></script>
	<script type="text/javascript" src="/oddsquad/js/functions.init.js"></script>

    <link href="/oddsquad/css/reset.min.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/global.css" rel="stylesheet" type="text/css" />
    
	<link href="/oddsquad/css/mobile-tablet.css" rel="stylesheet" type="text/css" media="(min-width: 900px) and (max-width: 1200px)" />
	<link href="/oddsquad/css/mobile-phone.css" rel="stylesheet" type="text/css" media="(min-width: 0px) and (max-width: 900px)" />
</head>

<body class="init-overlay">
<div class="odd-wrapper">
    {% include 'oddsquad/includes/templates/mainNavWithMobile.html' %}
    <div data-genratr-wrapper>
        <div data-overlay="wallofagents" class="overlay overlay-green">
            <nav>
                <a href="/agents/" class="btn-close" data-genratrTarget onClick="pushUrl('/agents/', 'Agents', event), closeOverlay('wallofagents')"><span>Close<i></i></span></a>
            </nav>
            <header>
				<h3>
                	Wall of Agents
                </h3>
			</header>
            <div class="agents-wrapper">
                <dl class="agent-details disp-desktop">
	                <!--<div class="agent-1" data-agentid="0"><div class="sizer"></div><div class="img-wrap sized"><figure class="agent-hex agent-hex-1"><div class="sizer"></div><div class="sized"><img src="/oddsquad/img/agents/agent-olive.jpg"></div></figure><figure class="agent-hex agent-hex-2"><div class="sizer"></div><div class="sized"><img src="/oddsquad/img/agents/agent-olive.jpg"></div></figure><figure class="agent-hex agent-hex-3"><div class="sizer"></div><div class="sized"><img src="/oddsquad/img/agents/agent-olive.jpg"></div></figure></div></div>-->
                	<figure><img src="../../img/agents/agent-olive.jpg"></figure>
                    <dt class="name"><span>Olive</span></dt>
                    <dt class="dept"><span>Department:</span></dt>
                    <dd class="dept"><span>Investigation</span></dd>
                    <dt class="partner"><span>Partner:</span></dt>
                    <dd class="partner"><span>Otto</span></dd>
                    <dt class="accessory"><span>Tie Size:</span></dt>
                    <dd class="accessory"><span>XS</span></dd>
                    <dt class="hobbies"><span>Hobbies:</span></dt>
                    <dd class="hobbies"><span>Hobbies</span></dd>
                    <dt class="favoritefood"><span>Favorite Food:</span></dt>
                    <dd class="favoritefood"><span>Favorite Food</span></dd>
                    <dt class="quote"><span>Quote:</span></dt>
                    <dd class="quote"><span>quote</span></dd> 
                    <dt class="status"><span>Status:</span></dt>
                    <dd class="status"><span>Active</span></dd> 
                    <a href="#" class="close-agent btn-green">
                        <div class="sizer"></div>
                        <div class="sized">
                            <span>Back to All Agents</span>
                        </div>
                    </a>
                </dl>
                <ul class="agents-bgs disp-desktop">
                </ul>
                
                <ul class="agents-lst disp-desktop">
                </ul>
                <ul class="agents-lst disp-mobile">
                </ul>
            </div>
        </div>
    </div>
    </div>
	
{% include 'template_includes/modern_headband_include.html' %}
{% include 'template_includes/modern_pbsk_js.html' %}
  
  


</body>
</html>