{% extends 'plumlanding/includes/plumLandingPage.html.twig' %}
{% set pageTitle = 'Games : Mangroovin\'' %}


{% block specialHead %}{% endblock %}


{% set bodyOpeningTag = '<body class=\"mangrove\">' %}
{% set headbandId = 'pbsheadband' %}


{% block specialHeadband %}{% endblock %}




{% block mainContent %}<div id="plumpage" class="mangrovebg">
 <div id="header"><!-- #bbinclude "navbar.incl"-->
  <div id="navbar" class="boxedin">
   <a name="navbar"></a>
   <div class="row-group">
    <div class="col-12"><a href="/" id="pbslogo"><img src="/plumlanding/i/common/pbskids_logo.svg" alt="PBS Kids"></a> <a href="/plumlanding/index.html" id="plumlogo"><img class="image-fluid" src="/plumlanding/i/common/plum_logo.svg" alt="Plum Landing"></a>
     <ul id="nav">
      <li class="gnav"><a href="/plumlanding/games/index.html" class="gnav-button selected">
        <div class="nav-icon"><img src="/plumlanding/i/common/game_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble1_border.svg" alt="">
        </div> <span class="gnav-text">Games</span> </a></li>
      <li class="gnav"><a href="/plumlanding/video/index.html" class="gnav-button ">
        <div class="nav-icon bubble2"><img src="/plumlanding/i/common/video_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble2_border.svg" alt="">
        </div> <span class="gnav-text">Video</span> </a></li>
      <li class="gnav"><a href="/plumlanding/ship/index.html" class="gnav-button ">
        <div class="nav-icon bubble3"><img src="/plumlanding/i/common/ship_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble3_border.svg" alt="">
        </div> <span class="gnav-text">The Ship</span> </a></li>
      <li class="gnav"><a href="/plumlanding/pictures/index.html" class="gnav-button ">
        <div class="nav-icon"><img src="/plumlanding/i/common/pictures_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble1_border.svg" alt="">
        </div> <span class="gnav-text">Pictures</span> </a></li>
      <li class="gnav" id="loginnav"><a href="/plumlanding/stickers/index.html" class="gnav-button ">
        <div id="myicon" class="nav-icon bubble3"><img id="avnav" src="" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble3_border.svg" alt="">
        </div> <span class="gnav-text">Stickers</span> </a></li><a href="/plumlanding/stickers/index.html" class="gnav-button "> </a>
     </ul><a href="/plumlanding/stickers/index.html" class="gnav-button "> <script type="text/javascript">
	plumlogin.cookieProfile();
	</script> </a>
     <div id="pe">
      <a href="/plumlanding/stickers/index.html" class="gnav-button "> </a><a href="/plumlanding/parents/index.html" class="btn-alt btn-small">Parents</a> <a href="/plumlanding/educators/index.html" class="btn-alt btn-small">Educators</a>
     </div>
    </div>
   </div>
  </div> <!-- end bbinclude -->
 </div> <!-- end header -->
 <div id="middle">
  <hr class="fadeout">
  <div id="content">
   <div class="boxedin headless">
    <div id="game" class="card">
     <div id="canvasContainer"></div>
    </div>
    <div class="row-group centered">
     <div class="w-4"><a class="thumb-highlight" href="../index.html"> <img class="image-fluid" src="../i/more_games.jpg" alt="More Games"> </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <hr class="fadefooter">
 <div id="footer"><!-- #bbinclude "footer.incl" #nojq#=1-->
  <div class="boxedin">
   <div class="row-group">
    <div class="col-12">
     <div>
      <ul id="footernav">
       <li><a href="/plumlanding/index.html">Home</a></li>
       <li><a href="/plumlanding/games/index.html">Games</a></li>
       <li><a href="/plumlanding/video/index.html">Video</a></li>
       <li><a href="/plumlanding/ship/index.html">The Ship</a></li>
       <li><a href="/plumlanding/pictures/index.html">Pictures</a></li>
       <li><a href="/plumlanding/stickers/index.html">Stickers</a></li>
       <li><a href="/plumlanding/parents/index.html">Parents</a></li>
       <li class="end"><a href="/plumlanding/educators/index.html">Educators</a></li> <br>
       <li><a href="https://www.sgptv.org/programs/PBS-KIDS-plum-landing/?&amp;utm_source=plum-landing&amp;utm_medium=referral">Program Sponsorship</a></li>
       <li><a href="/plumlanding/educators/partners.html">Partners</a></li>
       <li><a href="/plumlanding/about/index.html">About</a></li>
       <li><a href="/plumlanding/about/sitemap.html">Site Map</a></li>
       <li><a href="/plumlanding/about/contact.html">Contact Us</a></li>
       <li><a href="https://pbskids.org/privacy/">Privacy Policy</a></li>
      </ul>
     </div>
    </div>
    <div class="col-12"><a href="/plumlanding/about/copyright.html" class="fineprint">© 2017 WGBH Educational Foundation</a>
    </div>
   </div>
  </div> <!-- end bbinclude -->
 </div>
 <script type="text/javascript" src="/plumlanding/js/plumlib/Vect.js"></script>
 <script type="text/javascript" src="/plumlanding/js/plumlib/CharacterSound.js"></script>
 <script type="text/javascript" src="/plumlanding/js/plumlib/Critter.js"></script>
 <script type="text/javascript" src="/plumlanding/js/plumlib/GameBits.js"></script>
 <script type="text/javascript" src="/plumlanding/js/plumlib/MovingCritter.js"></script>
 <script type="text/javascript" src="/plumlanding/js/plumlib/TickerText.js"></script>
 <script type="text/javascript" src="/plumlanding/js/plumlib/PlumPuppet.js"></script>
 <script type="text/javascript" src="js/EaselJSUtl.js"></script>
 <script type="text/javascript" src="js/settings.js"></script>
 <script type="text/javascript" src="js/gamelib.js"></script>
 <script type="text/javascript" src="js/main.js"></script>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

