<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 bgImg-1" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 bgImg-1" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 bgImg-1" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 bgImg-1" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if gt IE 9]>  <html class="bgImg-1" data-pageGenratr="false" data-activestage="2"> <![endif]-->
<!--[if !IE]><!--> <html class="bgImg-1" data-pageGenratr="false" data-activestage="2"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Agents . Odd Squad | PBS KIDS</title>
	<meta name="viewport" content="initial-scale=1">
    
    <meta property="og:title" content="Agents . Odd Squad | PBS KIDS" />
    <meta property="og:url" content="http://pbskids.org/oddsquad/agents/" />
    <meta property="og:description" content="Odd Squad is a live-action comedy about two kids, Agent Olive and Agent Otto, who work for a government agency run by kids in suits who are equipped with the world's most advanced and unpredictable gadgetry. Whenever anything strange, unusual or just plain nuts (including giant nuts falling out of the sky) happens, it's Odd Squad's job to put things right again. Odd Squad has a fun, goofy, irreverent style that includes sight gags, one-liners, absurd situations and plenty of slapstick. Embedded in each episode is a math concept aimed at kids in grades 1-2. For example, in one episode, Olive and Otto are called-on to help a pizza delivery lady who keeps doubling herself. In the process of helping her, Olive and Otto also explore and learn what happens when you double a number. Odd Squad is a fun and engaging way for kids to become familiar with, and master, key math concepts and operations." />
    <meta property="og:image" content="http://pbskids.org/oddsquad/img/global/logo-oddsquad.png" />

	<script type="text/javascript" src="//use.typekit.net/nuo4rii.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript" src="/oddsquad/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/oddsquad/js/iscroll-probe.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/jquery.pageGenratr.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/agent.js"></script>
	<script type="text/javascript" src="/oddsquad/js/achievements.js"></script>
	<script type="text/javascript" src="/oddsquad/js/locker.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/functions.init.js"></script>

    <link href="/oddsquad/css/reset.min.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/global.css" rel="stylesheet" type="text/css" />
    
	<link href="/oddsquad/css/mobile-tablet.css" rel="stylesheet" type="text/css" media="(min-width: 900px) and (max-width: 1200px)" />
	<link href="/oddsquad/css/mobile-phone.css" rel="stylesheet" type="text/css" media="(min-width: 0px) and (max-width: 900px)" />

</head>

<body>
<div class="odd-wrapper">
	{% include 'oddsquad/includes/templates/globalBgs.html' %}
    <header>
    	{% include 'oddsquad/includes/templates/mainNav.html' %}
    	<nav class="mobileNav">
        	<a href="#" class="toggleNav">
           		<img src="/oddsquad/img/global/mobile-tab.png" width="78" height="182" alt=""/>
            </a>
        	<ul>
            	<li class="pg-h0ome">
        			<a href="/home/" data-genratrTarget onClick="closeOverlay('')" title="home"><i></i><span>Home</span></a>
                </li>
            	<li class="pg-games">
        			<a href="/games/" data-genratrTarget onClick="closeOverlay('')" title="games"><i></i><span>Games</span></a>
                </li>
            	<li class="pg-agents">
        			<a href="/agents/" data-genratrTarget onClick="closeOverlay('')" title="agents"><i></i><span>Agents</span></a>
                </li>
            	<li class="pg-videos">
        			<a href="/videos/" data-genratrTarget onClick="closeOverlay('')" title="videos"><i></i><span>Videos</span></a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="pg-wrapper">
    	<section>
            <article class="pg-section pg-agents">
                <div data-genratr-wrapper>

					<ul class="agent-dashboard">
                    	<li class="agent-profile">
                        	<div class="sizer"></div>
                            <div class="sized">
                                <ul class="floodLights">
                                    <li><img src="/oddsquad/img/agents/light-blue.png"></li>
                                    <li><img src="/oddsquad/img/agents/light-red.png"></li>
                                    <li><img src="/oddsquad/img/agents/light-green.png"></li>
                                    <li><img src="/oddsquad/img/agents/light-yellow.png"></li>
                                </ul>
                                <ul class="stars">
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                    <li><img src="/oddsquad/img/agents/star01.png"></li>
                                </ul>
                                <ul class="stage">
                                    <li class="banner">
                                        <img src="/oddsquad/img/agents/banner-01.png">
                                        <span class="yespbs">Welcome Back!</span>
                                        <span class="nopbs">Become an Agent!</span>
                                    </li>
                                    <li class="platform"><img src="/oddsquad/img/agents/stage-01.png"></li>
                                    <li class="photo">
                                        <img src="/oddsquad/img/agents/empty.png" class="yespbs">
                                        <img src="/oddsquad/img/agents/avatar-empty.png" class="nopbs">
                                    </li>
                                    <li class="badge yespbs">
                                        <div class="sizer"></div>
                                        <div class="sized">
                                            <span>Agent<em> </em></span>
                                        </div>
                                    </li>
                                    <li class="join nopbs">
                                        <a class="btn-enter btn-green" href="/agents/createagent/" title="Create an Agent" onclick="pushUrl('/agents/createagent/', 'Create Agent', event);" data-genratrtarget="">
                                        	<div class="sizer"></div>
											<div class="sized">
	                                            <span>Join Now!</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
							</div>
                        </li>
                    	<li class="agent-sections">
                        	<ul>
                            	<li class="sec-woa">
                                	<div class="sizer"></div>
                                    <a class="sized" href="/agents/wallofagents/" title="Wall of Agents" onClick="pushUrl('/agents/wallofagents/', 'Wall of Agents', event);" data-genratrTarget="">
                                        <h4><i></i><span>Wall of Agents</span></h4>
                                        <div class="content">
											<div class="agent-featured">
                                            	<h5>Featured Agent:</h5>
                                                <span>Otto</span>
                                            </div>
                                            <img src="/oddsquad/img/agents/featured-otto.png" class="featured">
                                            
                                        </div>
                                    </a>
                                </li>
                            	<!--
                                <li class="sec-hod">
                                	<div class="sizer"></div>
                                    
                                    <a class="sized" href="/agents/hallofdoors/" onClick="pushUrl('/agents/hallofdoors/', 'Hall of Doors', event);" data-genratrTarget>
                                        <h4><i></i><span>Hall of Doors</span></h4>
                                        <div class="content">
                                            <div class="user-stats doors-stats">
                                                    <h5>unlocked</h5>
                                                    <span><big class="accnt-rec">#</big><small>of</small><big class="accnt-tot">#</big></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                -->
                            	<li class="sec-awards">
                                	<div class="sizer"></div>
                                    <!--
                                    	<a class="sized" href="/agents/awards/" onClick="initOverlay('/agents/awards/', 'awards', event);" >
                                    	<a class="sized" href="/agents/awards/" onClick="pushUrl('/agents/awards/', 'Agent Awards', event);">
                                    -->
                                    	<a class="sized" href="/agents/awards/" title="Agent Awards" onClick="pushUrl('/agents/awards/', 'Agent Awards', event);" data-genratrTarget>
                                        <h4><i></i><span>Agent Awards</span></h4>
                                        <div class="content">
                                            <div class="user-stats awards-stats">
                                                    <h5>received</h5>
                                                    <span><big class="accnt-rec">#</big><small>of</small><big class="accnt-tot">#</big></span>
                                            </div>
                                            <img src="/oddsquad/img/awards/award-brasshorn.png" class="featured">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>                

                </div>
            </article>
	    </section>
    </div>
    {% include 'oddsquad/includes/templates/mainFooterNav.html.twig' %}
</div>
	<script type="text/javascript" src="/oddsquad/js/newAgent.js"></script>



{% include 'template_includes/modern_headband_include.html' %}
{% include 'template_includes/modern_pbsk_js.html' %}



</body>
</html>