<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" data-pageGenratr="false"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" data-pageGenratr="false"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" data-pageGenratr="false"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" data-pageGenratr="false"> <![endif]-->
<!--[if gt IE 9]>  <html data-pageGenratr="false"> <![endif]-->
<!--[if !IE]><!--> <html data-pageGenratr="false"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Sound Check Fan Page . Hall of Doors . Agents . Odd Squad | PBS KIDS</title>
	<meta name="viewport" content="initial-scale=1">

	<script type="text/javascript" src="//use.typekit.net/nuo4rii.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript" src="/oddsquad/js/jquery-1.11.1.min.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/jquery.pageGenratr.js"></script>
	
	<script type="text/javascript" src="/oddsquad/js/agent.js"></script>
	<script type="text/javascript" src="/oddsquad/js/achievements.js"></script>
	<script type="text/javascript" src="/oddsquad/js/locker.js"></script>
    
	<script type="text/javascript" src="/oddsquad/js/functions.init.js"></script>

    <link href="/oddsquad/css/reset.min.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/oddsquad/css/global.css" rel="stylesheet" type="text/css" />
    
	<link href="/oddsquad/css/mobile-tablet.css" rel="stylesheet" type="text/css" media="(min-width: 800px) and (max-width: 1024px)" />
	<link href="/oddsquad/css/mobile-phone.css" rel="stylesheet" type="text/css" media="(min-width: 0px) and (max-width: 800px)" />
</head>

<body class="init-overlay">
  
<div class="odd-wrapper">
    <div data-genratr-wrapper>
        <div data-overlay="soundcheck" class="overlay overlay-soundcheck">
            <nav>
                <a href="/home/" class="btn-close" data-genratrTarget onClick="pushUrl('/home/', 'Home', event), closeOverlay('soundcheck')"><span>Close<i></i></span></a>
            </nav>
            
            <ul class="soundCheck-wrapper">
	            <li class="header">
                	<div class="sizer"></div>
                    <div class="sized">
		                <img src="/oddsquad/img/soundcheck/main-header.png" data-lax-speed="0.5">
                    </div>
				</li>
                <li class="left">
                <a href="/oddsquad/videos/"><img src="/oddsquad/img/soundcheck/watch.png"></a>
                <!--
                	<div class="videoContainer">
                    	<div class="sizer"></div>
                        <div class="sized">
                        </div>
					</div>
                    -->
                    <dl>
                    	<dt>
                        	Comments
                        </dt>
                        <dd>
                        	<p>Arggh! Ick! Blechh! Yuck.</p>
							<span>- Agent Olive</span>
                        </dd>
                        <dd>
                        	<p>Soundcheck! Soundcheck! Soundcheck!</p>
							<span>- Ms. O</span>
                        </dd>
                        <dd>
                        	<p>BEST. BAND. EVER.</p>
							<span>- Agent Otto</span>
                        </dd>
                        <dd>
                        	<p>Like a garlic scented-piano on a glass-bottomed elephant.</p>
							<span>- Agent Obfusco</span>
                        </dd>
                        <dd>
                        	<p>Potato!</p>
							<span>- Agent Olaf</span>
                        </dd>
                        <dd>
                        	<p>My toy dinosaurs love this album!</p>
							<span>- Agent Orchid</span>
                        </dd>
                        <dd>
                        	<p>I like their new song so much, I'm trying to invent a Soundcheckinator gadget.</p>
							<span>- Agent Oscar</span>
                        </dd>
                        <dd>
                        	<p>Ribbit!</p>
							<span>- Professor O</span>
                        </dd>
                        <dd>
                        	<p>We love Soundcheck, but my brother, Ronnie, is stuck inside one of their socks! Odd Squad!</p>
							<span>- Donnie</span>
                        </dd>
                    </dl>
                </li>
                <li class="right">
                	<img src="/oddsquad/img/soundcheck/tout-magazines.png">
                    <dl>
                        <dd>
                        	<p>'Take Away One is Soundcheck's best song since, Can I Be Your Plus One?'</p>
							<span>- Heartbeat Monthly</span>
                        </dd>
                        <dd>
                        	<p>'#love, #this, #album, #soundcheck, #rules'</p>
							<span>- Hashtag Magazine</span>
                        </dd>
                        <dd>
                        	<p>'Soundcheck's new album cements their place as the best band in the world called Soundcheck.'</p>
							<span>– Faint Praise Musical Express</span>
                        </dd>
                        <dd>
                        	<p>'I laughed. I cried. I counted.'</p>
							<span>- DJ K-Berg, KODD Radio</span>
                        </dd>
                        <dd>
                        	<p>'Soundcheck's new album cements their place as the best band in the world called Soundcheck.'</p>
							<span>– Faint Praise Musical Express</span>
                        </dd>
                    </dl>
                </li>
                <li class="footer">
                	<div class="sizer"></div>
                    <div class="sized">
	                	<img src="/oddsquad/img/soundcheck/tout-banner.png">
                    </div>
                </li>
        </div>
    </div>
</div>
    
	 
                
{% include 'template_includes/modern_headband_include.html' %}
{% include 'template_includes/modern_pbsk_js.html' %}


</body>
</html>