{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Trading Cards | PBS Kids' %}
{% set desc = 'Print this trading card that features Arthur standing in hiking gear holding a backpack. The card tells Arthurs favorite joke and where he wants to visit.' %}
{% set keywds = 'Arthur, trading card, joke' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-cfc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="tradingHeader">Trading Cards</h4></a>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Arthur</h1>
    </div>
    <div class="print-btn-right">
     <span class="print-btn-one">Print This Page</span>
    </div>
    <div class="pagination-nav"><span class="prev">Prev</span> <span class="next">Next</span>
     <p>1 of 8 pages</p>
    </div>
   </div>
   <ul class="print-pages" id="printTrading">
    <li id="kate1">
     <div class="page">
      <img src="../../i/print/trading/baby_kate_card.gif" width="605" height="345" alt="Baby Kate's Trading Card" title="Baby Kate's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="kate2">
     <div class="page">
      <img src="../../i/print/trading/baby_kate_card2.gif" width="605" height="345" alt="Baby Kate's Trading Card" title="Baby Kate's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="arthur1">
     <div class="page">
      <img src="../../i/print/trading/arthur_card.gif" width="605" height="345" alt="Arthur's Trading Card" border="0" title="Arthur's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="arthur2">
     <div class="page">
      <img src="../../i/print/trading/arthur_card2.gif" width="605" height="345" alt="Arthur's Trading Card" border="0" title="Arthur's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dw1">
     <div class="page">
      <img src="../../i/print/trading/dw_card.gif" width="605" height="345" alt="D.W.'s Trading Card" title="D.W.'s Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dw2">
     <div class="page">
      <img src="../../i/print/trading/dw_card2.gif" width="605" height="345" alt="D.W.'s Trading Card" title="D.W.'s Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="pal1">
     <div class="page">
      <img src="../../i/print/trading/pal_card.gif" width="605" height="345" alt="Pal's Trading Card" border="0" title="Pal's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="pal2">
     <div class="page">
      <img src="../../i/print/trading/pal_card2.gif" width="605" height="345" alt="Pal's Trading Card" border="0" title="Pal's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="francine1">
     <div class="page">
      <img src="../../i/print/trading/francine_card.gif" width="605" height="345" alt="Francine's Trading Card" title="Francine's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="francine2">
     <div class="page">
      <img src="../../i/print/trading/francine_card2.gif" width="605" height="345" alt="Francine's Trading Card" title="Francine's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="sueellen1">
     <div class="page">
      <img src="../../i/print/trading/sue_ellen_card.gif" width="605" height="345" alt="Sue Ellen's Trading Card" border="0" title="Sue Ellen's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="sueellen2">
     <div class="page">
      <img src="../../i/print/trading/sue_ellen_card2.gif" width="605" height="345" alt="Sue Ellen's Trading Card" border="0" title="Sue Ellen's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="buster1">
     <div class="page">
      <img src="../../i/print/trading/buster_card.gif" width="605" height="345" alt="Buster's Trading Card" title="Buster's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="buster2">
     <div class="page">
      <img src="../../i/print/trading/buster_card2.gif" width="605" height="345" alt="Buster's Trading Card" title="Buster's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="binky1">
     <div class="page">
      <img src="../../i/print/trading/binky_card.gif" width="605" height="345" alt="Binky's Trading Card" title="Binky's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="binky2">
     <div class="page">
      <img src="../../i/print/trading/binky_card2.gif" width="605" height="345" alt="Binky's Trading Card" title="Binky's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="george1">
     <div class="page">
      <img src="../../i/print/trading/george_card.gif" width="605" height="345" alt="George's Trading Card" title="George's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="george2">
     <div class="page">
      <img src="../../i/print/trading/george_card2.gif" width="605" height="345" alt="George's Trading Card" title="George's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="muffy1">
     <div class="page">
      <img src="../../i/print/trading/muffy_card.gif" width="605" height="345" alt="Muffy's Trading Card" title="Muffy's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="muffy2">
     <div class="page">
      <img src="../../i/print/trading/muffy_card2.gif" width="605" height="345" alt="Muffy's Trading Card" title="Muffy's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="prunella1">
     <div class="page">
      <img src="../../i/print/trading/prunella_card.gif" width="605" height="345" alt="Prunella's Trading Card" border="0" title="Prunella's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="prunella2">
     <div class="page">
      <img src="../../i/print/trading/prunella_card2.gif" width="605" height="345" alt="Prunella's Trading Card" border="0" title="Prunella's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="brain1">
     <div class="page">
      <img src="../../i/print/trading/brain_card.gif" width="605" height="345" alt="The Brain's Trading Card" title="The Brain's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="brain2">
     <div class="page">
      <img src="../../i/print/trading/brain_card2.gif" width="605" height="345" alt="The Brain's Trading Card" title="The Brain's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="tibbles1">
     <div class="page">
      <img src="../../i/print/trading/tibbles_card.gif" width="605" height="345" alt="The Tibbles' Trading Card" border="0" title="The Tibble Twins' Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="tibbles2">
     <div class="page">
      <img src="../../i/print/trading/tibbles_card2.gif" width="605" height="345" alt="The Tibbles' Trading Card" border="0" title="The Tibble Twins' Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="fern1">
     <div class="page">
      <img src="../../i/print/trading/fern_card.gif" width="605" height="345" alt="Fern's Trading Card" title="Fern's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="fern2">
     <div class="page">
      <img src="../../i/print/trading/fern_card2.gif" width="605" height="345" alt="Fern's Trading Card" title="Fern's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ratburn1">
     <div class="page">
      <img src="../../i/print/trading/ratburn_card.gif" width="605" height="345" alt="Mr. Ratburn's Trading Card" border="0" title="Mr. Ratburn's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ratburn2">
     <div class="page">
      <img src="../../i/print/trading/ratburn_card2.gif" width="605" height="345" alt="Mr. Ratburn's Trading Card" border="0" title="Mr. Ratburn's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandma1">
     <div class="page">
      <img src="../../i/print/trading/grandma_card.gif" width="605" height="345" alt="Grandma Thora's Trading Card" title="Grandma Thora's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandma2">
     <div class="page">
      <img src="../../i/print/trading/grandma_card2.gif" width="605" height="345" alt="Grandma Thora's Trading Card" title="Grandma Thora's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandpa1">
     <div class="page">
      <img src="../../i/print/trading/grandpa_card.gif" width="605" height="345" alt="Grandpa Dave's Trading Card" title="Grandpa Dave's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandpa2">
     <div class="page">
      <img src="../../i/print/trading/grandpa_card2.gif" width="605" height="345" alt="Grandpa Dave's Trading Card" title="Grandpa Dave's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="turner1">
     <div class="page">
      <img src="../../i/print/trading/turner_card.gif" width="605" height="345" alt="Paige Turner's Trading Card" border="0" title="Paige Turner's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="turner2">
     <div class="page">
      <img src="../../i/print/trading/turner_card2.gif" width="605" height="345" alt="Paige Turner's Trading Card" border="0" title="Paige Turner's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mom1">
     <div class="page">
      <img src="../../i/print/trading/mom_card.gif" width="605" height="345" alt="Mrs. Read's Trading Card" title="Mrs. Read's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mom2">
     <div class="page">
      <img src="../../i/print/trading/mom_card2.gif" width="605" height="345" alt="Mrs. Read's Trading Card" title="Mrs. Read's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dad1">
     <div class="page">
      <img src="../../i/print/trading/dad_card.gif" width="605" height="345" alt="Mr. Read's Trading Card" title="Mr. Read's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dad2">
     <div class="page">
      <img src="../../i/print/trading/dad_card2.gif" width="605" height="345" alt="Mr. Read's Trading Card" title="Mr. Read's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="bionic1">
     <div class="page">
      <img src="../../i/print/trading/bionic_card.gif" width="605" height="345" alt="Bionic Bunny's Trading Card" title="Bionic Bunny's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="bionic2">
     <div class="page">
      <img src="../../i/print/trading/bionic_card2.gif" width="605" height="345" alt="Bionic Bunny's Trading Card" title="Bionic Bunny's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mary1">
     <div class="page">
      <img src="../../i/print/trading/mary_card.gif" width="605" height="345" alt="Mary Moo Cow's Trading Card" title="Mary Moo Cow's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mary2">
     <div class="page">
      <img src="../../i/print/trading/mary_card2.gif" width="605" height="345" alt="Mary Moo Cow's Trading Card" title="Mary Moo Cow's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="haney1">
     <div class="page">
      <img src="../../i/print/trading/mrhaney_card.gif" width="605" height="345" alt="Mr. Haney's Trading Card" title="Mr. Haney's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="haney2">
     <div class="page">
      <img src="../../i/print/trading/mrhaney_card2.gif" width="605" height="345" alt="Mr. Haney's Trading Card" title="Mr. Haney's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="emily1">
     <div class="page">
      <img src="../../i/print/trading/emily_card.gif" width="605" height="345" alt="Emily's Trading Card" title="Emily's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="emily2">
     <div class="page">
      <img src="../../i/print/trading/emily_card2.gif" width="605" height="345" alt="Emily's Trading Card" title="Emily's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="macgrady1">
     <div class="page">
      <img src="../../i/print/trading/macgrady_card.gif" width="605" height="345" alt="Mrs. MacGrady's Trading Card" title="Mrs. MacGrady's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="macgrady2">
     <div class="page">
      <img src="../../i/print/trading/macgrady_card2.gif" width="605" height="345" alt="Mrs. MacGrady's Trading Card" title="Mrs. MacGrady's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="nadine1">
     <div class="page">
      <img src="../../i/print/trading/nadine_card.gif" width="605" height="345" alt="Nadine's Trading Card" border="0" title="Nadine's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="nadine2">
     <div class="page">
      <img src="../../i/print/trading/nadine_card2.gif" width="605" height="345" alt="Nadine's Trading Card" title="Nadine's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ladonna1">
     <div class="page">
      <img src="../../i/print/trading/ladonna_card.gif" width="605" height="345" alt="Ladonna's Trading Card" border="0" title="Ladonna's Trading Card" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ladonna2">
     <div class="page">
      <img src="../../i/print/trading/ladonna_card2.gif" width="605" height="345" alt="Ladonna's Trading Card" title="Ladonna's Trading Card" border="0" class="trading img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
   </ul>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
   <li><a href="/arthur/print/bookmarks/index.html" id="rcBookmarks">Bookmarks</a></li>
   <li><a href="/arthur/games/comiccreator/index.html" id="rcComic">Comic Creator</a></li>
  </ul>
 </div>
</div>{% endblock %}

