{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Trading Cards | PBS Kids' %}
{% set desc = 'Print, cut out, and tape trading cards for the ARTHUR characters!' %}
{% set keywds = 'trading cards, characters, ARTHUR' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-cfc">
 <div class="ruler"></div>
 <div id="mainFeature">
  <div class="print-instr">
   <h4 id="tradingHeader">Trading Cards</h4>
   <p>Hey! Click our pictures and collect all of our trading cards!</p>
  </div>
  <div id="printablesNavIcons">
   <ul id="colorNavIcons">
    <li id="tradeKate" class="icon"><a href="cards.html#pg-kate1"><span>Baby Kate</span></a></li>
    <li id="tradeArthur" class="icon"><a href="cards.html#pg-arthur1"><span>Arthur</span></a></li>
    <li id="tradeDW" class="icon"><a href="cards.html#pg-dw1"><span>D.W.</span></a></li>
    <li id="tradePal" class="icon"><a href="cards.html#pg-pal1"><span>Pal</span></a></li>
    <li id="tradeFran" class="icon"><a href="cards.html#pg-francine1"><span>Francine</span></a></li>
    <li id="tradeSue" class="icon"><a href="cards.html#pg-sueellen1"><span>Sue Ellen</span></a></li>
    <li id="tradeBuster" class="icon"><a href="cards.html#pg-buster1"><span>Buster</span></a></li>
    <li id="tradeBinky" class="icon"><a href="cards.html#pg-binky1"><span>Binky</span></a></li>
    <li id="tradeGeorge" class="icon"><a href="cards.html#pg-george1"><span>George</span></a></li>
    <li id="tradeMuffy" class="icon"><a href="cards.html#pg-muffy1"><span>Muffy</span></a></li>
    <li id="tradePrunella" class="icon"><a href="cards.html#pg-prunella1"><span>Prunella</span></a></li>
    <li id="tradeBrain" class="icon"><a href="cards.html#pg-brain1"><span>The Brain</span></a></li>
    <li id="tradeTibbles" class="icon"><a href="cards.html#pg-tibbles1"><span>The Tibbles</span></a></li>
    <li id="tradeFern" class="icon"><a href="cards.html#pg-fern1"><span>Fern</span></a></li>
    <li id="tradeRatburn" class="icon"><a href="cards.html#pg-ratburn1"><span>Mr. Ratburn</span></a></li>
    <li id="tradeThora" class="icon"><a href="cards.html#pg-grandma1"><span>Grandma Thora</span></a></li>
    <li id="tradeDave" class="icon"><a href="cards.html#pg-grandpa1"><span>Grandpa Dave</span></a></li>
    <li id="tradePaige" class="icon"><a href="cards.html#pg-turner1"><span>Paige Turner</span></a></li>
    <li id="tradeMom" class="icon"><a href="cards.html#pg-mom1"><span>Mrs. Read</span></a></li>
    <li id="tradeDad" class="icon"><a href="cards.html#pg-dad1"><span>Mr. Read</span></a></li>
    <li id="tradeBionic" class="icon"><a href="cards.html#pg-bionic1"><span>Bionic Bunny</span></a></li>
    <li id="tradeMary" class="icon"><a href="cards.html#pg-mary1"><span>Mary Moo Cow</span></a></li>
    <li id="tradeHaney" class="icon"><a href="cards.html#pg-haney1"><span>Mr. Haney</span></a></li>
    <li id="tradeEmily" class="icon"><a href="cards.html#pg-emily1"><span>Emily</span></a></li>
    <li id="tradeMacGrady" class="icon"><a href="cards.html#pg-macgrady1"><span>Mrs. MacGrady</span></a></li>
    <li id="tradeNadine" class="icon"><a href="cards.html#pg-nadine1"><span>Nadine</span></a></li>
    <li id="tradeLadonna" class="icon"><a href="cards.html#pg-ladonna1"><span>Ladonna</span></a></li>
   </ul>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/buster/index.html" id="rcBuster">Buster</a></li>
   <li><a href="/arthur/print/bookmarks/index.html" id="rcBookmarks">Bookmarks</a></li>
   <li><a href="/arthur/games/comiccreator/index.html" id="rcComic">Comic Creator</a></li>
  </ul>
 </div>
</div>{% endblock %}

