{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Emily\'s Games & Printables Page | PBS Kids' %}
{% set desc = 'See the clubs that Emily belongs to and what shes good at doing. Want to join these club too?' %}
{% set keywds = 'Emily, ARTHUR, D.W., interests, clubs' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-fcf">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/emily_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/emily_top.swf", "emily", "960", "363", "9", "#ffccff");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "clubs");			   fo.addVariable("char", "emily");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-emily">Emily's images</a>
  <div id="friendsContent">
   <h1>My Clubs</h1>
   <hr class="friendsRuler">
   <ul id="myClubs">
    <li id="myclubDance" class="icon"><a href="/arthur/clubs/dance/index.html">Dance Club</a></li>
    <li id="myclubPoetry" class="icon"><a href="/arthur/clubs/poetry/index.html">Poetry Club</a></li>
    <li id="myclubFashion" class="icon"><a href="/arthur/clubs/fashion/index.html" class="clubFashion">Fashion Club</a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/dw/index.html" id="rcDW">DW</a></li>
   <li><a href="/arthur/holiday/coloring/index.html" id="rcHoliday">Holiday Coloring Pages</a></li>
   <li><a href="/arthur/print/hats/index.html" id="rcPartyHats">Party Hats</a></li>
  </ul>
 </div>
</div>{% endblock %}

