{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Greeting Cards . Send An Email To A Friend' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-scolar, Cinar, PBS, children, Games, activities, animation, kids' %}
{% set desc = 'The Official Caillou Site' %}

{% block specialScripts %}<script language="JavaScript">	function setLoaded( )	{		isLoaded = true;	}</script>
<script type="text/javascript">	var isRolloverOn = false;	if (document.images)	{		back_on = new Image( );		back_on.src = "../images/btn_back-over.gif";		back_off = new Image( );		back_off.src = "../images/btn_back.gif";				caillouhome_on = new Image( );		caillouhome_on.src = "../images/caillou_logo-over.gif";		caillouhome_off = new Image( );		caillouhome_off.src = "../images/caillou_logo.gif";				games_on = new Image( );		games_on.src = "images/choice_games-over.gif";		games_off = new Image( );		games_off.src = "images/choice_games.gif";				activities_on = new Image( );		activities_on.src = "images/choice_activities-over.gif";		activities_off = new Image( );		activities_off.src = "images/choice_activities.gif";				img01_on = new Image( );		img01_on.src = "friends_email/images/fg_ec_01_tnl-over.gif";		img01_off = new Image( );		img01_off.src = "friends_email/images/fg_ec_01_tnl.gif";				img02_on = new Image( );		img02_on.src = "friends_email/images/fg_ec_02_tnl-over.gif";		img02_off = new Image( );		img02_off.src = "friends_email/images/fg_ec_02_tnl.gif";				img03_on = new Image( );		img03_on.src = "friends_email/images/fg_ec_03_tnl-over.gif";		img03_off = new Image( );		img03_off.src = "friends_email/images/fg_ec_03_tnl.gif";				img04_on = new Image( );		img04_on.src = "friends_email/images/fg_ec_04_tnl-over.gif";		img04_off = new Image( );		img04_off.src = "friends_email/images/fg_ec_04_tnl.gif";				img05_on = new Image( );		img05_on.src = "friends_email/images/fg_ec_05_tnl-over.gif";		img05_off = new Image( );		img05_off.src = "friends_email/images/fg_ec_05_tnl.gif";				img06_on = new Image( );		img06_on.src = "friends_email/images/fg_ec_06_tnl-over.gif";		img06_off = new Image( );		img06_off.src = "friends_email/images/fg_ec_06_tnl.gif";			}	          function act(imgName)        {			if( document.images )				document[imgName].src = eval( imgName + '_on.src' );        }	  		function inact(imgName)		{			if( document.images )				document[imgName].src = eval(imgName + '_off.src');  		}</script>
{% endblock %}

{% set bodyTag = '<body onload="setLoaded();" bgcolor="#ed1c24" text="black" link="white" vlink="black" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td bgcolor="#ed1c24">
    <div align="center">
     <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td align="left" width="140"><a href="http:pbskids.org/"><img src="../images/pbskids_logo.gif" alt="PBS Kids Homepage" height="79" width="90" border="0"></a></td>
        <td>
         <div align="center"><a onmouseover="act('caillouhome')" onmouseout="inact('caillouhome')" href="../index.html"><img src="../images/caillou_logo.gif" alt="Caillou Homepage" name="caillouhome" height="79" width="200" border="0"></a>
         </div></td>
        <td width="140">
         <div align="center"><a onmouseover="act('back')" onmouseout="inact('back')" href="index.html"><img src="../images/btn_back.gif" alt="Back Button" name="back" height="60" width="70" border="0"></a>
         </div></td>
       </tr>
      </tbody>
     </table>
     <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/bkg_top_red.gif" height="20">
      <tbody>
       <tr>
        <td></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr height="16">
   <td bgcolor="white" height="16">
    <div align="center">
     <table width="566" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td>&nbsp;</td>
       </tr>
       <tr>
        <td>
         <div align="center">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tbody>
            <tr>
             <td><img src="friends_email/images/friends_caillou.gif" alt="Caillou writing" height="136" width="239" border="0"></td>
             <td><img src="friends_email/images/friends_title.gif" alt="Send a fun email message to your friends" height="136" width="294" border="0"></td>
            </tr>
            <tr>
             <td colspan="2"></td>
            </tr>
           </tbody>
          </table>
          <table width="96%" border="0" cellspacing="0" cellpadding="0">
           <tbody>
            <tr>
             <td><p class="instruct_normal">Start by choosing a picture you would like to send your friend just by clicking on it.</p></td>
             <td>
              <table cellpadding="0" cellspacing="10" border="0">
               <tbody>
                <tr>
                 <td><a onmouseover="act('img01')" onmouseout="inact('img01')" href="friends_email/form1.html?idImage=1"><img src="friends_email/images/fg_ec_01_tnl.gif" alt="01" name="img01" height="110" width="110" border="0"></a></td>
                 <td><a onmouseover="act('img02')" onmouseout="inact('img02')" href="friends_email/form1.html?idImage=2"><img src="friends_email/images/fg_ec_02_tnl.gif" alt="02" name="img02" height="110" width="110" border="0"></a></td>
                 <td><a onmouseover="act('img03')" onmouseout="inact('img03')" href="friends_email/form1.html?idImage=3"><img src="friends_email/images/fg_ec_03_tnl.gif" alt="03" name="img03" height="110" width="110" border="0"></a></td>
                </tr>
                <tr>
                 <td><a onmouseover="act('img04')" onmouseout="inact('img04')" href="friends_email/form1.html?idImage=4"><img src="friends_email/images/fg_ec_04_tnl.gif" alt="04" name="img04" height="110" width="102" border="0"></a></td>
                 <td><a onmouseover="act('img05')" onmouseout="inact('img05')" href="friends_email/form1.html?idImage=5"><img src="friends_email/images/fg_ec_05_tnl.gif" alt="05" name="img05" height="110" width="110" border="0"></a></td>
                 <td><a onmouseover="act('img06')" onmouseout="inact('img06')" href="friends_email/form1.html?idImage=6"><img src="friends_email/images/fg_ec_06_tnl.gif" alt="06" name="img06" height="110" width="110" border="0"></a></td>
                </tr>
               </tbody>
              </table></td>
            </tr>
           </tbody>
          </table>
         </div></td>
       </tr>
       <tr>
        <td>&nbsp;</td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr>
   <td bgcolor="#ed1c24">
    <div align="center">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/bkg_bottom_red.gif" height="20">
      <tbody>
       <tr>
        <td></td>
       </tr>
      </tbody>
     </table>
     <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td>
         <div align="center">
          <table border="0" cellspacing="0" cellpadding="0">
           <tbody>
            <tr>
             <td valign="top">
              <div align="left"><a onmouseover="act('games')" onmouseout="inact('games')" href="../games/index.html"><img src="images/choice_games.gif" alt="Games" name="games" height="74" width="110" border="0"></a>
              </div></td>
             <td align="center" valign="middle" width="390">
              <div align="center"><!-- Footer nav bar goes here --> <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" style="font-size:12px">| <a href="/caillou/">Caillou Homepage</a> | <a href="/caillou/grownups/sitemap.html">Site Map</a> | <a href="/caillou/games/">Games</a> | <a href="/caillou/activities/">Activities</a> | <a href="/caillou/greetings/">Greeting Cards</a> |<br>| <a href="/caillou/grownups/">Grown-Ups</a> | <a href="http:pbskids.org/">PBS Kids Homepage</a> | <a href="http:pbskids.org/privacy/">PBS Privacy Policy |</a></font>
               <p></p>
               <p></p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" style="font-size:12px">Web site copyright © <a href="/caillou/copyright.html">2002</a> CINAR Corporation<br>All rights reserved.</font>
               <p></p>
              </div></td>
             <td>
              <div align="right"><a onmouseover="act('activities')" onmouseout="inact('activities')" href="../activities/index.html"><img src="images/choice_activities.gif" alt="Activities" name="activities" height="74" width="110" border="0"></a>
              </div></td>
            </tr>
           </tbody>
          </table>
         </div></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
 </tbody>
</table>{% endblock %}