{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/911842b19d8b2f9bbed8cfe909d52975.png" class="textrender subheader" width="137" height="43" alt="Measurement" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/measurement/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/measurement/games/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/measurement/videos/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/measurement/activities/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--airlines-builder" href="/cyberchase/math-games/airlines-builder/" title="Airlines Builder" data-description="Use perimeter and area to launch ships.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_airlinesbuilder_4_thumbnail.jpg" alt="Airlines Builder" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Airlines Builder</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--can-you-fill-it" href="/cyberchase/math-games/can-you-fill-it/" title="Can You Fill It?" data-description="Choose different size pots to fill a container in the least number of pours. ">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_canyoufillit_4_thumbnail.jpg" alt="Can You Fill It?" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Can You Fill It?</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--fill-it-up" href="/cyberchase/math-games/fill-it/" title="Fill It Up!" data-description="Choose different size pots to fill a container in the exact number of pours.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/fiu_thumbnail.png" alt="Fill It Up!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Fill It Up!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--maze-and-marbles" href="/cyberchase/math-games/maze-and-marbles/" title="Maze and Marbles" data-description="Dodge the blocks to keep Dr. Marbles' time machine running. 
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_mazeandmarbles_2_thumbnail.jpg" alt="Maze and Marbles" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Maze and Marbles</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--quest-4-stop-the-stormerator" href="/cyberchase/math-games/quest-4-stop-stormerator/" title="Quest 4: Stop the Stormerator" data-description="Solve weather problems to collect what you need to shut down the dangerous Stormerator.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest4stopthestormerator_thumbnail.jpg" alt="Quest 4: Stop the Stormerator" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Quest 4: Stop the Stormerator</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--star-gazing" href="/cyberchase/math-games/star-gazing/" title="Star Gazing" data-description="Pick an angle, point the telescope, and locate planets and their weird inhabitants!
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_stargazing_1_thumbnail.jpg" alt="Star Gazing" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Star Gazing</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--u-fix-it-with-ziff" href="/cyberchase/math-games/u-fix-it-ziff/" title="U Fix It with Ziff" data-description="Use measurement to help Ziff fix up his house.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_ufixitwithziff_thumbnail.jpg" alt="U Fix It with Ziff" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">U Fix It with Ziff</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

