{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Site Map . Arthur' %}
{% set specialInclude = '<style type="text/css">	#content { padding: 35px 40px 70px; }	h3, h4 { margin-left: 0; }	h3 {		font: 2.1875em/0.9em "lilita one", sans-serif;		text-transform: none;		clear: both;		margin-bottom: 0.75em;	}	h4 {		font: 1.875em/1.1875em "lilita one", sans-serif;		margin: 1.25em 0 0;	}	h5 {		font: 1.1875em montserrat, sans-serif;		text-transform: uppercase;		margin: 1em 0 0.25em;	}	#content li { list-style: none;	}	#content a { font: 1.5em/1.4375em montserrat, sans-serif; }	@media only screen and (max-width: 788px) {		#content { padding: 10px 20px 50px; }		h3 {			margin: 15px 0 0.5em;			padding: 0;		}		h4 {			margin: 25px 0 0;			padding: 0;		}		#content a { font-size: 1.25em; }	}	/* 	@media only screen and (max-width: 400px) {} */	</style>' %}
{% set bodyClass = 'orange' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="asthma/">Asthma</a></li>
   <li><a href="allergy/">Peanut Allergy</a></li>
   <li><a href="nutrition/">Nutrition</a></li>
   <li><a href="resilience/">Resilience</a></li>
   <li><a href="fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Home</a>
   </div>
   <ul>
    <li><a href="asthma/">Asthma</a></li>
    <li><a href="allergy/">Peanut Allergy</a></li>
    <li><a href="nutrition/">Nutrition</a></li>
    <li><a href="resilience/">Resilience</a></li>
    <li><a href="fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <h3>Site Map</h3>
  <ul>
   <li><a href="/arthur/">Arthur Home</a></li>
   <li><a href="./">Family Health Home</a></li>
   <li><a href="disclaimer.html">Disclaimer</a></li>
   <li><a href="more-resources.html">More Resources</a></li>
   <li><a href="credits.html">Credits</a></li>
  </ul>
  <h4>Asthma</h4>
  <ul class="area">
   <li><h5>The Basics</h5>
    <ul>
     <li><a href="asthma/background-info.html">Background Information</a></li>
     <li><a href="asthma/tips1.html">Tips for Grown-ups</a></li>
     <li><a href="asthma/tips-kids.html">Tips for Kids</a></li>
     <li><a href="asthma/resources.html">Resources</a></li>
     <li><a href="asthma/educators.html">For Educators</a></li>
    </ul></li>
   <li><h5>Games &amp; Activities</h5>
    <ul>
     <li><a href="asthma/triggers1.html">Asthma Triggers</a></li>
     <li><a href="asthma/story1.html">Buster's Breathless Story</a></li>
     <li><a href="asthma/lung-defender.html">Buster Baxter: Lung Defender</a></li>
     <li><a href="asthma/stay-active.html">Stay Active with Asthma</a></li>
     <li><a href="asthma/quiz.html">Asthma Quiz</a></li>
    </ul></li>
   <li><h5>Videos</h5>
    <ul>
     <li><a href="asthma/episode.html">Buster's Breathless</a></li>
     <li><a href="asthma/asthma-rap.html">Asthma Rap</a></li>
     <li><a href="asthma/kids-action.html">Kids in Action</a></li>
     <li><a href="asthma/expert-video.html">Expert Q&amp;A</a></li>
    </ul></li>
  </ul>
  <h4>Peanut Allergy</h4>
  <ul class="area">
   <li><h5>The Basics</h5>
    <ul>
     <li><a href="allergy/background-info.html">Background Information</a></li>
     <li><a href="allergy/tips1.html">Tips for Grown-ups</a></li>
     <li><a href="allergy/tips-kids.html">Tips for Kids</a></li>
     <li><a href="allergy/resources.html">Resources</a></li>
     <li><a href="allergy/educators.html">For Educators</a></li>
    </ul></li>
   <li><h5>Games &amp; Activities</h5>
    <ul>
     <li><a href="allergy/travel-translations.html">Travel Translations</a></li>
     <li><a href="allergy/coloring-sheet.html">Coloring Sheet</a></li>
     <li><a href="allergy/peanut-placemat.html">Binky's Placemat</a></li>
     <li><a href="allergy/quiz.html">Peanut Allergy Quiz</a></li>
    </ul></li>
   <li><h5>Videos</h5>
    <ul>
     <li><a href="allergy/episode.html">Binky Goes Nuts</a></li>
     <li><a href="allergy/kids-action.html">Kids in Action</a></li>
     <li><a href="allergy/kellie-kristen.html">Kellie and Kristen</a></li>
     <li><a href="allergy/expert-video.html">Expert Q&amp;A</a></li>
    </ul></li>
  </ul>
  <h4>Nutrition</h4>
  <ul class="area">
   <li><h5>The Basics</h5>
    <ul>
     <li><a href="nutrition/background-info.html">Background Information</a></li>
     <li><a href="nutrition/tips1.html">Tips for Grown-ups</a></li>
     <li><a href="nutrition/tips-kids.html">Tips for Kids</a></li>
     <li><a href="nutrition/resources.html">Resources</a></li>
     <li><a href="nutrition/educators.html">For Educators</a></li>
    </ul></li>
   <li><h5>Games &amp; Activities</h5>
    <ul>
     <li><a href="nutrition/arthurs-cafe.html">Arthur's Café</a></li>
     <li><a href="nutrition/lunch-o-matic.html">Lunch-o-matic</a></li>
     <li><a href="nutrition/unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
     <li><a href="nutrition/quiz.html">Nutrition Quiz</a></li>
    </ul></li>
   <li><h5>Videos</h5>
    <ul>
     <li><a href="nutrition/episode.html">D.W. the Picky Eater</a></li>
     <li><a href="nutrition/kids-action.html">Kids in Action</a></li>
     <li><a href="nutrition/expert-video.html">Expert Q&amp;A</a></li>
    </ul></li>
  </ul>
  <h4>Resilience</h4>
  <ul class="area">
   <li><h5>The Basics</h5>
    <ul>
     <li><a href="resilience/background-info.html">Background Information</a></li>
     <li><a href="resilience/tips1.html">Tips for Grown-ups</a></li>
     <li><a href="resilience/tips-kids.html">Tips for Kids</a></li>
     <li><a href="resilience/resources.html">Resources</a></li>
     <li><a href="resilience/educators.html">For Educators</a></li>
    </ul></li>
   <li><h5>Games &amp; Activities</h5>
    <ul>
     <li><a href="resilience/draw-your-feelings.html">Draw Your Feelings</a></li>
     <li><a href="resilience/story1.html">April 9th Story</a></li>
     <li><a href="resilience/fear-no-more.html">Fear No More</a></li>
     <li><a href="resilience/courage-cards.html">Courage Cards</a></li>
     <li><a href="resilience/lend-hand.html">Lend a Hand</a></li>
     <li><a href="resilience/quiz.html">Resilience Quiz</a></li>
    </ul></li>
   <li><h5>Videos</h5>
    <ul>
     <li><a href="resilience/episode.html">April 9th</a></li>
     <li><a href="resilience/kids-action.html">Kids in Action</a></li>
     <li><a href="resilience/expert-video.html">Expert Q&amp;A</a></li>
    </ul></li>
  </ul>
  <h4>Fitness</h4>
  <ul class="area">
   <li><h5>The Basics</h5>
    <ul>
     <li><a href="fitness/background-info.html">Background Information</a></li>
     <li><a href="fitness/tips1.html">Tips for Grown-ups</a></li>
     <li><a href="fitness/tips-kids.html">Tips for Kids</a></li>
     <li><a href="fitness/resources.html">Resources</a></li>
     <li><a href="fitness/educators.html">For Educators</a></li>
    </ul></li>
   <li><h5>Games &amp; Activities</h5>
    <ul>
     <li><a href="fitness/workout-time.html">Workout Time!</a></li>
     <li><a href="fitness/groove-it.html">Groove It!</a></li>
     <li><a href="fitness/dance-club.html">Dance Club</a></li>
     <li><a href="fitness/home-olympics.html">Home Olympics</a></li>
     <li><a href="fitness/be-cat-tree.html">Be a Cat, Be a Tree</a></li>
     <li><a href="fitness/quiz.html">Fitness Quiz</a></li>
    </ul></li>
   <li><h5>Videos</h5>
    <ul>
     <li><a href="fitness/episode.html">Arthur Weighs In</a></li>
     <li><a href="fitness/kids-action.html">Kids in Action</a></li>
     <li><a href="fitness/expert-video.html">Expert Q&amp;A</a></li>
    </ul></li>
  </ul>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="js/jquery-1.10.2.min.js"></script><script src="js/main.js"></script>' %}