<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Webonauts Internet Academy | PBS KIDS GO!</title>
	<meta name="description" content="The Webonauts Internet Academy game teaches kids about key issues of web safety and good citizenship." />
	<meta name="keywords" content="web safety game, kids privacy, digital citizen, digital citizenship game, kids online safety, online bullying, media literacy game, digital literacy" />
	<link rel="stylesheet" href="/webonauts/css/main.css" type="text/css">
	<link type="text/css" media="screen" rel="stylesheet" href="/includes/auth/ajax.css" />
	<link rel="stylesheet" type="text/css" href="/includes/pk-sponsor/styles/pk-sponsor-styles.css" />

	
	<!-- SCRIPTS -->
	<script type="text/javascript" src="/includes/javascript/sites/webonauts/webonauts.js"></script>
	<script type="text/javascript" id="headband-callback" _src="webonauts-auth.js" ></script>

</head>

<body class="pk-webonauts-landing">

{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}














<div id="header">
	<div id="logos"><a href="http://pbskidsgo.org"><img src="/webonauts/images/logo-pbskidsgo.gif" border="0" alt="PBS KIDS GO!"></a><img src="/webonauts/images/logo-webonauts.gif" border="0" alt="Webonauts Internet Academy"></div>
	<div id="nav"><a href="about"><img src="images/button-parentseducators.gif" border="0" alt="For Parents & Educators"></a></div>
<div id="pk-sponsor"></div>
</div>

<div id="game">
		<div id='flash_game'>
			<p>Flash is required.</p>
		</div>
</div>

<div id="footer">
	<a href="#" class='floatLogButton'><img src="/webonauts/images/button-login.gif" border="0" alt="Login to save game"></a>
	<!--<a href="/go/apps/auth/prompt/?destination=/fetch/&refresh=0">Get prompted about whether you want to log in or sign up</a>, 
	<a href="/go/apps/auth/login/?destination=/fetch/&refresh=0">Log in to PBS KIDS GO!</a>, 
	<a href="/go/apps/auth/signup/?destination=/fetch/&refresh=0">Sign up for PBS KIDS GO!</a>-->
	<p>The Webonauts Internet Academy empowers kids to make responsible and respectful decisions in their online interactions.<br /> 
Taking on the role of a Webonaut, kids explore a series of missions that teach key issues of web safety and digital citizenship.</p>

	<a href="about">FOR PARENTS & EDUCATORS</a> | <a href="/privacy">Privacy Policy</a> | <a href="/privacy/termsofuse.html">Terms of Use</a> | <a href="/go">pbskidsgo.org</a> &copy; 2010</p>
</div>

</body>

</html>

