{% extends 'curiousgeorge/busyday/includes/busyDayPage.html.twig' %}

{% set desc = "Help George to pick the correct numbered apple that fills the gap in the number line." %}
{% set tags = 'number line, order numbers, missing numbers, ordinality, math game, pre-K education, kids ' %}
{% set pageTitle = "Apple Picking | PBS KIDS" %}
{% set spanish = false %}
{% set bodyAtrs = '  class="game"' %}

{% set specialInclude = '<script type="text/javascript" src="../js/track_apples.js"></script>' %}
{% set overlayWrapper = false %}

{% block contentArea %}<div id="content-area">
	<div id="flashContent">
		<a href="https://www.adobe.com/go/getflash"><img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"></a>
		<p>This page requires Flash Player version 9.0.115 or higher.</p>
	</div>

	<script type="text/javascript">
		var so = new SWFObject("apples.swf", "apples", "900", "500", "9.0.115", "#3b96c5");
		so.addVariable("gameMode","normal");
		so.addParam("quality","best");
		so.addParam("play","true");
		so.addParam("menu","true");
		so.addParam("allowFullScreen","true");
		so.addParam("allowscriptaccess","always");
        // Adding wmode param to approprately stack swf obj in IE -- 4/27/2015 INye
        so.addParam("wmode","opaque");
		so.setAttribute("id","apples");
		so.setAttribute("name","apples");
		so.write("flashContent");
	</script>

</div>{% endblock %}