{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Coloring Pages | PBS Kids' %}
{% set desc = 'Coloring pages for each main ARTHUR character depict the fun personalities of each unique individual. Print the pictures out and color them in!' %}
{% set keywds = 'ARTHUR, coloring, printable, picture' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-cfc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="coloringHeader">Coloring Pages</h4></a>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Arthur</h1>
    </div>
    <div class="print-btn-right">
     <span class="print-btn-one">Print This Page</span>
    </div>
    <div class="pagination-nav"><span class="prev">Prev</span> <span class="next">Next</span>
     <p>1 of 8 pages</p>
    </div>
   </div>
   <ul class="print-pages" id="printColoring">
    <li id="kate1">
     <div class="page">
      <img src="../../i/print/coloring/baby_kate_coloring.gif" width="569" height="488" alt="Baby Kate on a high hair covered in food" title="Baby Kate's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="kate2">
     <div class="page">
      <img src="../../i/print/coloring/baby_kate_coloring2.gif" width="569" height="488" alt="Baby Kate crawling" title="Baby Kate's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="arthur1">
     <div class="page">
      <img src="../../i/print/coloring/arthur_coloring.gif" width="569" height="488" alt="Arthur riding a bike" border="0" title="Arthur's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="arthur2">
     <div class="page">
      <img src="../../i/print/coloring/arthur_coloring2.gif" width="569" height="488" alt="Arthur smiling with both his arms in the air" border="0" title="Arthur's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dw1">
     <div class="page">
      <img src="../../i/print/coloring/dw_coloring.gif" width="569" height="488" alt="D.W. riding a bike" title="D.W.'s Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dw2">
     <div class="page">
      <img src="../../i/print/coloring/dw_coloring2.gif" width="569" height="488" alt="D.W. running" title="D.W.'s Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="pal1">
     <div class="page">
      <img src="../../i/print/coloring/pal_coloring.gif" width="569" height="488" alt="Pal" border="0" title="Pal's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="pal2">
     <div class="page">
      <img src="../../i/print/coloring/pal_coloring2.gif" width="569" height="488" alt="Pal running" border="0" title="Pal's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="francine1">
     <div class="page">
      <img src="../../i/print/coloring/francine_coloring.gif" width="569" height="488" alt="Francine playing with a ball" title="Francine's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="francine2">
     <div class="page">
      <img src="../../i/print/coloring/francine_coloring2.gif" width="569" height="488" alt="Francine with a baseball bat" title="Francine's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="sueellen1">
     <div class="page">
      <img src="../../i/print/coloring/sue_ellen_coloring.gif" width="569" height="488" alt="Sue Ellen playing a Saxophone" border="0" title="Sue Ellen's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="sueellen2">
     <div class="page">
      <img src="../../i/print/coloring/sue_ellen_coloring2.gif" width="569" height="488" alt="Sue Ellen smiling" border="0" title="Sue Ellen's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="buster1">
     <div class="page">
      <img src="../../i/print/coloring/buster_coloring.gif" width="569" height="488" alt="Buster carrying a stack of books" title="Buster's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="buster2">
     <div class="page">
      <img src="../../i/print/coloring/buster_coloring2.gif" width="569" height="488" alt="Buster running" title="Buster's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="binky1">
     <div class="page">
      <img src="../../i/print/coloring/binky_coloring.gif" width="569" height="488" alt="Binky in his pajamas" title="Binky's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="binky2">
     <div class="page">
      <img src="../../i/print/coloring/binky_coloring2.gif" width="569" height="488" alt="Binky waving with his back turned" title="Binky's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="george1">
     <div class="page">
      <img src="../../i/print/coloring/george_coloring.gif" width="569" height="488" alt="George holding his dummy" title="George's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="george2">
     <div class="page">
      <img src="../../i/print/coloring/george_coloring2.gif" width="569" height="488" alt="George ready to pitch a baseball" title="George's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="muffy1">
     <div class="page">
      <img src="../../i/print/coloring/muffy_coloring.gif" width="569" height="488" alt="Muffy standing by a soccer ball" title="Muffy's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="muffy2">
     <div class="page">
      <img src="../../i/print/coloring/muffy_coloring2.gif" width="569" height="488" alt="Muffy smiling in a dress" title="Muffy's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="prunella1">
     <div class="page">
      <img src="../../i/print/coloring/prunella_coloring.gif" width="569" height="488" alt="Prunella wearing a hood" border="0" title="Prunella's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="prunella2">
     <div class="page">
      <img src="../../i/print/coloring/prunella_coloring2.gif" width="569" height="488" alt="Prunella comtemplating" border="0" title="Prunella's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="brain1">
     <div class="page">
      <img src="../../i/print/coloring/brain_coloring.gif" width="569" height="488" alt="The Brain looking through a telescope" title="The Brain's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="brain2">
     <div class="page">
      <img src="../../i/print/coloring/brain_coloring2.gif" width="569" height="488" alt="The Brain running with a book" title="The Brain's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="tibbles1">
     <div class="page">
      <img src="../../i/print/coloring/tibbles_coloring.gif" width="569" height="488" alt="The Tibbles covered in food stains" border="0" title="The Tibble Twins' Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="tibbles2">
     <div class="page">
      <img src="../../i/print/coloring/tibbles_coloring2.gif" width="569" height="488" alt="The Tibbles smiling" border="0" title="The Tibble Twins' Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="fern1">
     <div class="page">
      <img src="../../i/print/coloring/fern_coloring.gif" width="569" height="488" alt="Fern sitting on a bench reading a book" title="Fern's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="fern2">
     <div class="page">
      <img src="../../i/print/coloring/fern_coloring2.gif" width="569" height="488" alt="Fern smiling" title="Fern's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ratburn1">
     <div class="page">
      <img src="../../i/print/coloring/ratburn_coloring.gif" width="569" height="488" alt="Mr. Ratburn in hiking outfit holding a walking stick" border="0" title="Mr. Ratburn's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ratburn2">
     <div class="page">
      <img src="../../i/print/coloring/ratburn_coloring2.gif" width="569" height="488" alt="Mr. Ratburn walking" border="0" title="Mr. Ratburn's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandma1">
     <div class="page">
      <img src="../../i/print/coloring/grandma_coloring.gif" width="569" height="488" alt="Grandma Thora walking with a bag of grocery" title="Grandma Thora's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandma2">
     <div class="page">
      <img src="../../i/print/coloring/grandma_coloring2.gif" width="569" height="488" alt="Grandma Thora waving" title="Grandma Thora's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandpa1">
     <div class="page">
      <img src="../../i/print/coloring/grandpa_coloring.gif" width="569" height="488" alt="Grandpa Dave watching Baby Kate playing with sand" title="Grandpa Dave's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandpa2">
     <div class="page">
      <img src="../../i/print/coloring/grandpa_coloring2.gif" width="569" height="488" alt="Grandpa Dave walking with a stern look" title="Grandpa Dave's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="turner1">
     <div class="page">
      <img src="../../i/print/coloring/turner_coloring.gif" width="569" height="488" alt="Paige Turner helping Binky check out a book" border="0" title="Paige Turner's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="turner2">
     <div class="page">
      <img src="../../i/print/coloring/turner_coloring2.gif" width="569" height="488" alt="Paige Turner standing with a book" border="0" title="Paige Turner's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mom1">
     <div class="page">
      <img src="../../i/print/coloring/mom_coloring.gif" width="569" height="488" alt="Mrs. Read wearing a polka dot dress with a hat" title="Mrs. Read's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mom2">
     <div class="page">
      <img src="../../i/print/coloring/mom_coloring2.gif" width="569" height="488" alt="Mrs. Read holding a briefcase walking" title="Mrs. Read's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dad1">
     <div class="page">
      <img src="../../i/print/coloring/dad_coloring.gif" width="569" height="488" alt="Mr. Read in fishing outfit holding a bunch of fish" title="Mr. Read's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dad2">
     <div class="page">
      <img src="../../i/print/coloring/dad_coloring2.gif" width="569" height="488" alt="Mr. Read with Baby Kate" title="Mr. Read's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="bionic1">
     <div class="page">
      <img src="../../i/print/coloring/bionic_coloring.gif" width="569" height="488" alt="Bionic Bunny flying" title="Bionic Bunny's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="bionic2">
     <div class="page">
      <img src="../../i/print/coloring/bionic_coloring2.gif" width="569" height="488" alt="Bionic Bunny getting ready to run" title="Bionic Bunny's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mary1">
     <div class="page">
      <img src="../../i/print/coloring/mary_coloring.gif" width="569" height="488" alt="Mary Moo Cow holding a sign that reads FUN" title="Mary Moo Cow's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mary2">
     <div class="page">
      <img src="../../i/print/coloring/mary_coloring2.gif" width="569" height="488" alt="Mary Moo Cow smiling" title="Mary Moo Cow's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="haney1">
     <div class="page">
      <img src="../../i/print/coloring/mrhaney_coloring.gif" width="569" height="488" alt="Mr. Haney looking angry with a ice cream cone on his forehead" title="Mr. Haney's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="haney2">
     <div class="page">
      <img src="../../i/print/coloring/mrhaney_coloring2.gif" width="569" height="488" alt="Mr. Haney smiling" title="Mr. Haney's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="emily1">
     <div class="page">
      <img src="../../i/print/coloring/emily_coloring.gif" width="569" height="488" alt="Emily riding a bike" title="Emily's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="emily2">
     <div class="page">
      <img src="../../i/print/coloring/emily_coloring2.gif" width="569" height="488" alt="Emily smiling" title="Emily's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="macgrady1">
     <div class="page">
      <img src="../../i/print/coloring/macgrady_coloring.gif" width="569" height="488" alt="Mrs. MacGrady at the cash register" title="Mrs. MacGrady's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="macgrady2">
     <div class="page">
      <img src="../../i/print/coloring/macgrady_coloring2.gif" width="569" height="488" alt="Mrs. MacGrady holding a stack of dishes" title="Mrs. MacGrady's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="nadine1">
     <div class="page">
      <img src="../../i/print/coloring/nadine_coloring.gif" width="569" height="488" alt="Nadine peeking from behind a wall" border="0" title="Nadine's Coloring Page" class="coloring img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="nadine2">
     <div class="page">
      <img src="../../i/print/coloring/nadine_coloring2.gif" width="569" height="488" alt="Nadine smiling" title="Nadine's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ladonna1">
     <div class="page">
      <img src="../../i/print/coloring/ladonna_coloring1.gif" width="569" height="488" alt="Ladonna smiling" title="Ladonna's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ladonna2">
     <div class="page">
      <img src="../../i/print/coloring/ladonna_coloring2.gif" width="569" height="488" alt="Ladonna holding up a cell phone" title="Ladonna's Coloring Page" class="coloring img" border="0"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
   </ul>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li>
   <li><a href="/arthur/games/letsdrawarthur/index.html" id="rcDrawArthur">Let's Draw Arthur</a></li>
   <li><a href="/arthur/games/artgallery/index.html" id="rcGallery">Art Gallry</a></li>
  </ul>
 </div>
</div>{% endblock %}

