{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Coloring Pages | PBS Kids' %}
{% set desc = 'Coloring pages for each main ARTHUR character depict the fun personalities of each unique individual. Print the pictures out and color them in!' %}
{% set keywds = 'ARTHUR, coloring, printable, picture' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-cfc">
 <div class="ruler"></div>
 <div id="mainFeature">
  <div class="print-instr">
   <h4 id="coloringHeader">Coloring Pages</h4>
   <p>Hey! Click on our pictures to see our coloring pages!</p>
  </div>
  <div id="printablesNavIcons">
   <ul id="colorNavIcons">
    <li id="cKate" class="icon"><a href="coloring.html#pg-kate1"><span>Baby Kate</span></a></li>
    <li id="cArthur" class="icon"><a href="coloring.html#pg-arthur1"><span>Arthur</span></a></li>
    <li id="cDW" class="icon"><a href="coloring.html#pg-dw1"><span>D.W.</span></a></li>
    <li id="cPal" class="icon"><a href="coloring.html#pg-pal1"><span>Pal</span></a></li>
    <li id="cFran" class="icon"><a href="coloring.html#pg-francine1"><span>Francine</span></a></li>
    <li id="cSue" class="icon"><a href="coloring.html#pg-sueellen1"><span>Sue Ellen</span></a></li>
    <li id="cBuster" class="icon"><a href="coloring.html#pg-buster1"><span>Buster</span></a></li>
    <li id="cBinky" class="icon"><a href="coloring.html#pg-binky1"><span>Binky</span></a></li>
    <li id="cGeorge" class="icon"><a href="coloring.html#pg-george1"><span>George</span></a></li>
    <li id="cMuffy" class="icon"><a href="coloring.html#pg-muffy1"><span>Muffy</span></a></li>
    <li id="cPrunella" class="icon"><a href="coloring.html#pg-prunella1"><span>Prunella</span></a></li>
    <li id="cBrain" class="icon"><a href="coloring.html#pg-brain1"><span>The Brain</span></a></li>
    <li id="cTibbles" class="icon"><a href="coloring.html#pg-tibbles1"><span>The Tibbles</span></a></li>
    <li id="cFern" class="icon"><a href="coloring.html#pg-fern1"><span>Fern</span></a></li>
    <li id="cRatburn" class="icon"><a href="coloring.html#pg-ratburn1"><span>Mr. Ratburn</span></a></li>
    <li id="cThora" class="icon"><a href="coloring.html#pg-grandma1"><span>Grandma Thora</span></a></li>
    <li id="cDave" class="icon"><a href="coloring.html#pg-grandpa1"><span>Grandpa Dave</span></a></li>
    <li id="cPaige" class="icon"><a href="coloring.html#pg-turner1"><span>Paige Turner</span></a></li>
    <li id="cMom" class="icon"><a href="coloring.html#pg-mom1"><span>Mrs. Read</span></a></li>
    <li id="cDad" class="icon"><a href="coloring.html#pg-dad1"><span>Mr. Read</span></a></li>
    <li id="cBionic" class="icon"><a href="coloring.html#pg-bionic1"><span>Bionic Bunny</span></a></li>
    <li id="cMary" class="icon"><a href="coloring.html#pg-mary1"><span>Mary Moo Cow</span></a></li>
    <li id="cHaney" class="icon"><a href="coloring.html#pg-haney1"><span>Mr. Haney</span></a></li>
    <li id="cEmily" class="icon"><a href="coloring.html#pg-emily1"><span>Emily</span></a></li>
    <li id="cMacGrady" class="icon"><a href="coloring.html#pg-macgrady1"><span>Mrs. MacGrady</span></a></li>
    <li id="cNadine" class="icon"><a href="coloring.html#pg-nadine1"><span>Nadine</span></a></li>
    <li id="cLadonna" class="icon"><a href="coloring.html#pg-ladonna1"><span>Ladonna</span></a></li>
   </ul>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li>
   <li><a href="/arthur/games/letsdrawarthur/index.html" id="rcDrawArthur">Let's Draw Arthur</a></li>
   <li><a href="/arthur/games/artgallery/index.html" id="rcGallery">Art Gallry</a></li>
  </ul>
 </div>
</div>{% endblock %}

