{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Backstreet . Manager of Your Dreams Lyrics | PBS Kids' %}
{% set desc = 'Play songs from ARTHUR and create your own dances for them by using Prunellas dance cards.' %}
{% set keywds = 'music, dance, perform, movement' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-9fc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="/arthur/backstreet/index.html"><h4 id="backstreetHeader">Backstreet Boys In Elwood City</h4></a>
  <ul id="printSideNav">
   <li><a href="/arthur/backstreet/video/index.html"><span>Video Clips</span></a></li>
   <li><a href="/arthur/backstreet/lyrics/nothingbutmusic.html" class="selected"><span>Song Lyrics</span></a></li>
   <li><a href="/arthur/backstreet/coloring/backstreet.html"><span>BSB Coloring</span></a></li>
   <li><a href="/arthur/backstreet/coloring/ustink.html"><span>U Stink Coloring</span></a></li>
   <li><a href="/arthur/backstreet/poster/index.html"><span>Printable Poster</span></a></li>
   <li><a href="/arthur/backstreet/chat/index.html"><span>AOL Chat</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content backstreet">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Song Lyrics</h1>
    </div>
   </div>
   <div id="backstreetContent">
    <ul class="inner-nav">
     <li><a href="nothingbutmusic.html">Nothing But The Music</a>&nbsp;|</li>
     <li><a href="manager.html" class="selected">Manager of Your Dreams</a></li>
    </ul>
    <h3>Manager of Your Dreams</h3>
    <div class="lyrics-side-images">
     <img src="/arthur/i/backstreet/manager_top.jpg" width="218" height="430" alt="Photos of Backstreet Boys" border="0"> <img src="/arthur/i/backstreet/manager_bottom.jpg" width="229" height="285" alt="Photos of Backstreet Boys" border="0">
    </div>
    <div class="backstreet-lyrics">
     <p>I'm the manager of your dreams<br> Cuz I'll make alla your dreams re-al-i-ty!<br> Got a head fulla plans and schemes<br> Yeah you'll be toppin' the charts for eter-ni-ty!<br> Bookin' the tours and promotions!<br> Hittin' the stores on the way!<br> Showin' my love and devotion <br> Each perfectly-managed daaaay...!</p>
     <p>How would I man-age <br> Without yoooou?<br> You always know just what to do...<br> I'm so happy to give you<br> Your sixty percent!<br> Need a glamorous manager just like you<br> How would I manage<br> Without the manager of my dreams...?</p>
     <p>You're the manager of my dreams<br> Though I'm not sure whatcha do, owe it all to you!<br> Ever since I've been in your hands<br> Life is New York and Paris and Malibu!<br> Helpin' me seem smart and funny!<br> Tellin' me I'm lookin' good!<br> Makin' me truckloads a' money <br> Like all dream managers shoooould...!</p>
     <p>How would we man-age<br> Without yoooou?<br> It's truly a dream bein' me! <br> All the fabulous flash<br> All the yachts and the cash<br> All the manager stuff<br> That you get to be...!</p>
     <p>How would we man-age<br> Without yoooou?<br> Oh girl you came down from above...</p>
     <p>Somebody has to do lunch<br> And I've got a hunch<br> You couldn't manage...<br> Just couldn't manage...<br> I couldn't manage...<br> Without the manager of my dreams...<br> You're the manager of my dreams...</p>
    </div>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/muffy/index.html" id="rcMuffy">Muffy</a></li>
   <li><a href="/arthur/games/songbook/index.html" id="rcSongBook">Song Book</a></li>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
  </ul>
 </div>
</div>{% endblock %}

