{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Backstreet . Nothing But The Music Lyrics | PBS Kids' %}
{% set desc = 'Play songs from ARTHUR and create your own dances for them by using Prunellas dance cards.' %}
{% set keywds = 'music, dance, perform, movement' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-9fc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="/arthur/backstreet/index.html"><h4 id="backstreetHeader">Backstreet Boys In Elwood City</h4></a>
  <ul id="printSideNav">
   <li><a href="/arthur/backstreet/video/index.html"><span>Video Clips</span></a></li>
   <li><a href="/arthur/backstreet/lyrics/nothingbutmusic.html" class="selected"><span>Song Lyrics</span></a></li>
   <li><a href="/arthur/backstreet/coloring/backstreet.html"><span>BSB Coloring</span></a></li>
   <li><a href="/arthur/backstreet/coloring/ustink.html"><span>U Stink Coloring</span></a></li>
   <li><a href="/arthur/backstreet/poster/index.html"><span>Printable Poster</span></a></li>
   <li><a href="/arthur/backstreet/chat/index.html"><span>AOL Chat</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content backstreet">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Song Lyrics</h1>
    </div>
   </div>
   <div id="backstreetContent">
    <ul class="inner-nav">
     <li><a href="nothingbutmusic.html" class="selected">Nothing But The Music</a>&nbsp;|</li>
     <li><a href="manager.html">Manager of Your Dreams</a></li>
    </ul>
    <h3>Nothing But the Music</h3>
    <div class="lyrics-side-images">
     <img src="/arthur/i/backstreet/nothin_top.jpg" width="218" height="430" alt="Photos of Backstreet Boys" border="0"> <img src="/arthur/i/backstreet/nothin_bottom.jpg" width="229" height="285" alt="Photos of Backstreet Boys and Francine" border="0">
    </div>
    <div class="backstreet-lyrics">
     <p>We see the pretty boys <br> We see the Barbie girls <br> Climbin' their way up the charts... <br> We see the videos <br> Where all the fashion plates <br> Lip-sync their way to your hearts...<br> Well no offense ta them <br> And no offense ta you <br> Don't take it personally...</p>
     <p>But when it comes to rock <br> And when it comes to roll <br> Don't need to sell it cuz <br> It's born to be free (free, freeeee!)</p>
     <p>Don't want <br> Nothin' but the music <br> Don't need <br> The shiny limousine <br> Don't want <br> Nothin' but the music <br> Love it or leave it <br> The music is all I need...</p>
     <p>Once upon a time <br> Turned on the radio <br> When I was feelin' so down... <br> And all at once I heard <br> The future callin' out <br> My heart filled up with the sound... <br> Might play a stadium <br> Or an audience of one <br> But one thing I know is true... <br> No matter who you are <br> The music is the star <br> And we're just here to let <br> The music shine through (shine through)</p>
     <p>Don't want <br> Nothin' but the music <br> Don't need <br> No People magazine <br> Don't want <br> Nothin' but the music <br> I'm pledgin' allegiance <br> The music is all I need</p>
     <p>Don't want <br> Nothin' but the music <br> Don't need <br> Some hip and trendy scene <br> Don't want <br> Nothin' but the music <br> I'm pledgin' allegiance <br> The music is all I neeeeed!</p>
     <p>Nothin' but the music!<br> Nothin' but the music!</p>
    </div>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
   <li><a href="/arthur/games/songbook/index.html" id="rcSongBook">Song Book</a></li>
   <li><a href="/arthur/video/karaoke.html" id="rcKaraoke">Karaoke</a></li>
  </ul>
 </div>
</div>{% endblock %}

