{% extends 'wordworld/includes/wwPrintablePage.html.twig' %}
{% set pageTitle = ' . Dog | PBSKIDS' %}


{% block mainContent %}<div align="center">
 <div class="dontprintme" style="background:#207AC8; height:91px; margin-bottom:20px;"><a href="/wordworld/characters/dog.html"></a>
  <table width="700" border="0" cellspacing="0" cellpadding="0">
   <tbody>
    <tr>
     <td align="center" valign="middle"><a href="/wordworld/characters/dog.html"><img src="../images/printable_header_char_dog.jpg" alt="Back to Dog's page" width="132" height="91"></a><a href="/wordworld/characters/bear.html"></a></td>
     <td align="center" valign="middle"><a href="javascript: window.print();"><img src="../images/print_this_page.gif" width="178" height="36" alt="Print this page"></a></td>
     <td align="center" valign="middle"><a href="../characters/printables.html"><img src="../images/more_printables.gif" width="202" height="36" alt="More Printables"></a></td>
    </tr>
   </tbody>
  </table>
 </div><img src="../images/header_printables.gif" alt="" width="679" height="72" border="0" usemap="#map1"><br><img src="../images/printable_dog2.gif" alt="Print Dog!" width="587" height="800" border="0">
</div>{% endblock %}

