<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{pageTitle|raw}}</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
{% include 'template_includes/bridge_js_include.html' %}

</head>

<body>

	{% block mainContent %}{% endblock %}
    
<script type="text/javascript" src="http://ajax.googleapis.com/
ajax/libs/jquery/1.4.1/jquery.min.js"></script> 

<script type="text/javascript" src="kidscarousel.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#myCarousel').kidsCarousel();
});
</script> 

</body>
</html>
