{% extends 'curiousgeorge/busyday/includes/busyDayPage.html.twig' %}

{% set desc = 'Get creative and print out activity pages for fun and learning with George!' %}
{% set tags = 'printables, crafts, education, kids, math activities, learning, numbers' %}
{% set pageTitle = 'George\'s Busy Day Printables | PBS KIDS' %}
{% set bodyAtrs = ' id="printables" class="editorial"' %}

{% set specialInclude = '<script type="text/javascript" src="js/lang_nav.js"></script>' %}
{% set overlayWrapper = true %}

{% block contentArea %}<div id="content-area">

		<img id="dip" src="img/border-top-dip.png" alt="">

		<div class="section no-padding">
			<img id="header-img" src="img/crapons_stars_tape.png" alt="decorative image of tape, stars, crayons and scissors">
			<h2 class="centered"><img src="img/title_printables.png" alt="Printables"></h2>
			<ul id="pdf-list" class="inline">
				<li><a id="trains" data-orient="vertical" data-pdfs="2" href="pdf/activity_trains.pdf"><div class="icon-holder"></div><h3>Train Station</h3><p>Trains to cut and count</p></a></li>
				<li><a id="ten" data-orient="vertical" data-pdfs="1" href="pdf/activity_ten.pdf"><div class="icon-holder"></div><h3>Museum of Tens</h3><p>10 objects to color</p></a></li>
				<li><a id="hideseek" data-orient="horizontal" data-pdfs="1" href="pdf/activity_hideseek.pdf"><div class="icon-holder"></div><h3>Hide and Seek</h3><p>Search for animals and numbers</p></a></li>
				<li><a id="bugs" data-orient="horizontal" data-pdfs="1" href="pdf/activity_bugs.pdf"><div class="icon-holder"></div><h3>Bug Catcher</h3><p>Bugs to color and catch</p></a></li>

				<li><a id="drive" data-orient="vertical" data-pdfs="1" href="pdf/activity_drive.pdf"><div class="icon-holder"></div><h3>Bunny Ride</h3><p>Connect the dots, with a twist</p></a></li>
				<li><a id="meatballs" data-orient="vertical" data-pdfs="2" href="pdf/activity_meatballs.pdf"><div class="icon-holder"></div><h3>Meatball Launcher</h3><p>A meatball launching game</p></a></li>
				<li><a id="frogs" data-orient="horizontal" data-pdfs="2" href="pdf/activity_frogs.pdf"><div class="icon-holder"></div><h3>Ribbit</h3><p>A game of pluses and minuses</p></a></li>
				<li><a id="dogs" data-orient="horizontal" data-pdfs="1" href="pdf/activity_dogs.pdf"><div class="icon-holder"></div><h3>Fair Shares</h3><p>Dog treats to deliver</p></a></li>

				<li><a id="allie" data-orient="horizontal" data-pdfs="2" href="pdf/activity_allie.pdf"><div class="icon-holder"></div><h3>Count with Allie</h3><p>Handwriting practice</p></a></li>
				<li><a id="jump" data-orient="vertical" data-pdfs="1" href="pdf/activity_jump.pdf"><div class="icon-holder"></div><h3>Monkey Jump</h3><p>Can you ape this monkey?</p></a></li>
				<li><a id="fives" data-orient="vertical" data-pdfs="1" href="pdf/activity_fives.pdf"><div class="icon-holder"></div><h3>High Five</h3><p>Counting in fives</p></a></li>
				<li><a id="hats" data-orient="horizontal" data-pdfs="2" href="pdf/activity_hats.pdf"><div class="icon-holder"></div><h3>Hat Grab</h3><p>Graphing, George-style</p></a></li>

				<li><a id="flowers" data-orient="vertical" data-pdfs="2" href="pdf/activity_flowers.pdf"><div class="icon-holder"></div><h3>Flower Garden</h3><p>Flower garden origami!</p></a></li>
				<li><a id="rocket" data-orient="horizontal" data-pdfs="1" href="pdf/activity_rocket.pdf"><div class="icon-holder"></div><h3>Blast Off</h3><p>10, 9, 8... you get the picture.</p></a></li>
				<li><a id="apples" data-orient="vertical" data-pdfs="1" href="pdf/activity_apples.pdf"><div class="icon-holder"></div><h3>Apple Picking</h3><p>Find the missing numbers</p></a></li>
				<li><a id="bubbles" data-orient="vertical" data-pdfs="1" href="pdf/activity_bubbles.pdf"><div class="icon-holder"></div><h3>Bubble Pop</h3><p>A bathtub bubble maze!</p></a></li>
			</ul>
		</div>

		<img src="img/border-bot.png" class="bot-border" alt="">
		<img id="bottom-stars" src="img/crayons_stars.png" alt="">

	</div>{% endblock %}