{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Games . Magic Keyboard . Intro' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-school, Cinar, PBS, ready to learn, kids, games, children, animation' %}
{% set desc = 'The Official Caillou Web Site' %}

{% block specialScripts %}<script language="JavaScript">	function setLoaded( )	{		isLoaded = true;	}</script>
<script type="text/javascript">	var isRolloverOn = false;	if (document.images)	{		games_on = new Image( );		games_on.src = "images/Master_btn_games-over.gif";		games_off = new Image( );	 		games_off.src = "images/Master_btn_games.gif"; 				coloring_on = new Image( );		coloring_on.src = "images/Master_btn_coloring-over.gif";		coloring_off = new Image( );		coloring_off.src = "images/Master_btn_coloring.gif";			greetings_on = new Image( );		greetings_on.src = "images/Master_btn_greetings-over.gif";		greetings_off = new Image( );		greetings_off.src = "images/Master_btn_greetings.gif";				caillouhome_on = new Image( );		caillouhome_on.src = "images/Master_caillou-over.gif";		caillouhome_off = new Image( );		caillouhome_off.src = "images/Master_caillou.gif";			back_on = new Image( );		back_on.src = "images/Master_back-over.gif";		back_off = new Image( );		back_off.src = "images/Master_back.gif";				play_on = new Image( );		play_on.src = "keyboard/images/btn_play-over.gif";		play_off = new Image( );		play_off.src = "keyboard/images/btn_play.gif";				shockwave_on = new Image( );		shockwave_on.src = "keyboard/images/btn_shockwave-over.gif";		shockwave_off = new Image( );		shockwave_off.src = "keyboard/images/btn_shockwave.gif";			}	          function act(imgName)        {			if( document.images )				document[imgName].src = eval( imgName + '_on.src' );        }	  		function inact(imgName)		{			if( document.images )				document[imgName].src = eval(imgName + '_off.src');  		}</script>
{% endblock %}

{% set bodyTag = '<body onload="setLoaded();" background="images/bkg_blue-bfly2.gif" bgcolor="#00acd5" text="black" link="black" vlink="white" alink="#fff600" leftmargin="10" marginheight="10" marginwidth="10" topmargin="10">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td>
    <div align="center">
     <table width="750" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td><a href="http://pbskids.org/"><img src="images/Master_pbs.gif" alt="PBS Kids Homepage" name="PBSKids" height="92" width="92" border="0"></a></td>
        <td colspan="2"><img src="images/Master_yellow-left.gif" alt="" height="92" width="183"></td>
        <td colspan="3"><a onmouseover="act('caillouhome')" onmouseout="inact('caillouhome')" href="../index.html"><img src="images/Master_caillou.gif" alt="Caillou Homepage" name="caillouhome" height="92" width="200" border="0"></a></td>
        <td colspan="2"><img src="images/Master_yellow-right.gif" alt="" height="92" width="183"></td>
        <td><a onmouseover="act('back')" onmouseout="inact('back')" href="../activities/activities.html"><img src="images/Master_back.gif" alt="Going back" name="back" height="92" width="92" border="0"></a></td>
       </tr>
       <tr>
        <td><img src="images/Master_red.gif" alt="" height="356" width="92"></td>
        <td colspan="7" bgcolor="#FFFFFF">
         <table width="555" border="0" cellspacing="0" cellpadding="0">
          <tbody>
           <tr>
            <td colspan="4"><img src="keyboard/images/keyboard-title.gif" alt="Caillou's Magic Keyboard" height="46" width="566"></td>
           </tr>
           <tr>
            <td rowspan="3"><img src="keyboard/images/Keyboard_left.gif" alt="" height="310" width="20"></td>
            <td colspan="2"><img src="keyboard/images/keyboard_text.gif" alt="To be able to hear the Magic Keyboard, you will need a computer with speakers. Loading the Magic Keyboard requires the free Macromedia Shockwave player to be installed in your browser. If you already have Shockwave, Click on the &quot;Play&quot; arrow to start." height="208" width="284"></td>
            <td rowspan="3"><a href="keyboard/index.html"><img src="keyboard/images/keyboard_caillou.jpg" alt="Caillou playing his Magic Keyboard" height="310" width="262" border="0"></a></td>
           </tr>
           <tr>
            <td><a onmouseover="act('shockwave')" onmouseout="inact('shockwave')" href="http://www.macromedia.com/shockwave/download/" title="Shockwave"><img src="keyboard/images/btn_shockwave.gif" alt="Click here to get Shockwave" name="shockwave" height="60" width="208" border="0"></a></td>
            <td><a onmouseover="act('play')" onmouseout="inact('play')" href="keyboard/index.html"><img src="keyboard/images/btn_play.gif" alt="Play button" name="play" height="60" width="76" border="0"></a></td>
           </tr>
           <tr>
            <td colspan="2"><img src="keyboard/images/keyboard_bottom.gif" alt="" height="42" width="284"></td>
           </tr>
          </tbody>
         </table></td>
        <td><img src="images/Master_green.gif" alt="" height="356" width="92"></td>
       </tr>
       <tr>
        <td><img src="images/Master_red-bottom.gif" alt="" height="90" width="92"></td>
        <td><img src="images/Master_blue-left.gif" alt="" height="90" width="95"></td>
        <td colspan="2"><img src="images/Master_btn_games.gif" name="games" height="90" width="125" border="0"></td>
        <td><img src="images/Master_btn_greetings.gif" name="greetings" height="90" width="126" border="0"></td>
        <td colspan="2"><img src="images/Master_btn_coloring.gif" name="coloring" height="90" width="125" border="0"></td>
        <td><img src="images/Master_blue-right.gif" alt="" height="90" width="95"></td>
        <td><img src="images/Master_green-bottom.gif" alt="" height="90" width="92"></td>
       </tr>
       <tr>
        <td><img src="images/spacer.gif" alt="" height="1" width="92"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="95"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="88"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="37"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="126"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="37"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="88"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="95"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="92"></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr>
   <td>
    <div align="center">
     <table width="566" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr height="20">
        <td height="20">&nbsp;</td>
       </tr>
       <tr>
        <td><p class="instruct_bold">Activity Instructions:</p> <p class="instruct_normal">The Magic Keyboard is a fun way to start learning how to use a keyboard.</p>
         <ol>
          <li class="instruct_normal">To begin, click on the "Play" arrow.</li>
          <li class="instruct_normal">Use the keyboard to type. You can type anything, each key has a different sound. When you're done click on the "Trumpet" to hear the last 12 notes that you've typed. If you've made a mistake, or just want to start again, click on the "X" to erase what you've done.</li>
          <li class="instruct_normal">You can also use the mouse to click on Caillou, Gilbert, Teddy, or Rexy. The Magic Keyboard will spell out their name and you can click on the "Trumpet" to hear it play.</li>
         </ol>
         <hr size="1" width="60%" color="#FFFFFF&quot;"></td>
       </tr>
       <tr>
        <td>
         <div align="center"><font color="black"><!-- Footer nav bar goes here --></font>
          <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">| <a class="footer" href="/caillou/">Home</a> | <a class="footer" href="/caillou/immersivegames/">Play with Caillou</a> | <a class="footer" href="/caillou/activities/">Printables &amp; Activities</a> | <br> <a class="footer" href="http://pbskids.org/tvschedules/airdates.html?title_id=CAIU">Caillou on TV</a> | <a class="footer" href="/caillou/parentsteachers/">Parents &amp; Teachers</a></p>
          <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">Web site copyright © <a class="footer" href="/caillou/copyright.html">2007</a> COOKIE JAR ENTERTAINMENT™<br> Les Editions Chouette. All rights reserved. <a class="footer" href="http://pbskids.org/privacy/">PBS Privacy Policy</a></p>
         </div></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
 </tbody>
</table>{% endblock %}