{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Games . Spelling with Caillou . Intro' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-school, Cinar, PBS, ready to learn, kids, games, children, animation' %}
{% set desc = 'The Official Caillou Web Site' %}

{% block specialScripts %}<script language="JavaScript">	function setLoaded( )	{		isLoaded = true;	}</script>
<script type="text/javascript">	var isRolloverOn = false;	if (document.images)	{		games_on = new Image( );		games_on.src = "images/Master_btn_games-over.gif";		games_off = new Image( );	 		games_off.src = "images/Master_btn_games.gif"; 				coloring_on = new Image( );		coloring_on.src = "images/Master_btn_coloring-over.gif";		coloring_off = new Image( );		coloring_off.src = "images/Master_btn_coloring.gif";			greetings_on = new Image( );		greetings_on.src = "images/Master_btn_greetings-over.gif";		greetings_off = new Image( );		greetings_off.src = "images/Master_btn_greetings.gif";				caillouhome_on = new Image( );		caillouhome_on.src = "images/Master_caillou-over.gif";		caillouhome_off = new Image( );		caillouhome_off.src = "images/Master_caillou.gif";			back_on = new Image( );		back_on.src = "images/Master_back-over.gif";		back_off = new Image( );		back_off.src = "images/Master_back.gif";				play_on = new Image( );		play_on.src = "spelling/images/spell_play-over.gif";		play_off = new Image( );		play_off.src = "spelling/images/spell_play.gif";			flashget_on = new Image( );		flashget_on.src = "spelling/images/spell_flashget-over.gif";		flashget_off = new Image( );		flashget_off.src = "spelling/images/spell_flashget.gif";			}	          function act(imgName)        {			if( document.images )				document[imgName].src = eval( imgName + '_on.src' );        }	  		function inact(imgName)		{			if( document.images )				document[imgName].src = eval(imgName + '_off.src');  		}</script>
{% endblock %}

{% set bodyTag = '<body onload="setLoaded();" background="images/bkg_blue-bfly2.gif" bgcolor="white" text="black" link="black" vlink="white" alink="#fff600" leftmargin="10" marginheight="10" marginwidth="10" topmargin="10">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td>
    <div align="center">
     <table width="750" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td><a href="https://pbskids.org/"><img src="images/Master_pbs.gif" alt="PBS Kids Homepage" name="PBSKids" height="92" width="92" border="0"></a></td>
        <td colspan="2"><img src="images/Master_yellow-left.gif" alt="" height="92" width="183"></td>
        <td colspan="3"><a onmouseover="act('caillouhome')" onmouseout="inact('caillouhome')" href="../index.html"><img src="images/Master_caillou.gif" alt="Caillou Homepage" name="caillouhome" height="92" width="200" border="0"></a></td>
        <td colspan="2"><img src="images/Master_yellow-right.gif" alt="" height="92" width="183"></td>
        <td><a onmouseover="act('back')" onmouseout="inact('back')" href="../activities/activities.html"><img src="images/Master_back.gif" alt="Going back" name="back" height="92" width="92" border="0"></a></td>
       </tr>
       <tr>
        <td><img src="images/Master_red.gif" alt="" height="356" width="92"></td>
        <td colspan="7" bgcolor="#FFFFFF">
         <div align="center">
          <table width="565" border="0" cellpadding="0" cellspacing="0">
           <tbody>
            <tr>
             <td colspan="5"><img src="spelling/images/spell_title.gif" width="565" height="43" alt="Spelling with Caillou"></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="43" alt=""></td>
            </tr>
            <tr>
             <td rowspan="2"><a href="spelling/index.html"><img src="spelling/images/spell_caillou_top.jpg" width="243" height="192" alt="Caillou and Rosie playing with blocks." border="0"></a></td>
             <td rowspan="6"><img src="spelling/images/spell_leftborder.gif" width="23" height="313" alt=""></td>
             <td colspan="2"><img src="spelling/images/spell_topborder.gif" width="272" height="22" alt=""></td>
             <td rowspan="6"><img src="spelling/images/spell_rightborder.gif" width="27" height="313" alt=""></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="22" alt=""></td>
            </tr>
            <tr>
             <td colspan="2" rowspan="2"><img src="spelling/images/spell_text.gif" width="272" height="207" alt="Caillou loves to play with his wood blocks because he can also learn to spell words. Choose a word to spell, then click on the letters on the blocks and drag them to the matching letter on the word until you spell it completely. Spelling with Caillou is easy and fun!"></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="170" alt=""></td>
            </tr>
            <tr>
             <td rowspan="4"><a href="spelling/index.html"><img src="spelling/images/spell_caillou_bottom.jpg" width="243" height="121" alt="Caillou and Rosie playing with blocks" border="0"></a></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="37" alt=""></td>
            </tr>
            <tr>
             <td><img src="spelling/images/paint_flashtext.gif" width="184" height="39" alt="You will need the free Flash player for this game."></td>
             <td rowspan="2"><a onmouseover="act('play')" onmouseout="inact('play')" href="spelling/index.html"><img name="play" src="spelling/images/spell_play.gif" width="88" height="62" border="0" alt="Play the game"></a></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="39" alt=""></td>
            </tr>
            <tr>
             <td><a onmouseover="act('flashget')" onmouseout="inact('flashget')" href="https://www.macromedia.com/software/flashplayer/" title="Macromedia Flash Player"><img name="flashget" src="spelling/images/spell_flashget.gif" width="184" height="23" border="0" alt="Click here to get it."></a></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="23" alt=""></td>
            </tr>
            <tr>
             <td colspan="2"><img src="spelling/images/spell_bottomborder.gif" width="272" height="22" alt=""></td>
             <td><img src="spelling/images/spacer.gif" width="1" height="22" alt=""></td>
            </tr>
           </tbody>
          </table>
         </div></td>
        <td><img src="images/Master_green.gif" alt="" height="356" width="92"></td>
       </tr>
       <tr>
        <td><img src="images/Master_red-bottom.gif" alt="" height="90" width="92"></td>
        <td><img src="images/Master_blue-left.gif" alt="" height="90" width="95"></td>
        <td colspan="2"><img src="images/Master_btn_games.gif" name="games" height="90" width="125" border="0"></td>
        <td><img src="images/Master_btn_greetings.gif" name="greetings" height="90" width="126" border="0"></td>
        <td colspan="2"><img src="images/Master_btn_coloring.gif" name="coloring" height="90" width="125" border="0"></td>
        <td><img src="images/Master_blue-right.gif" alt="" height="90" width="95"></td>
        <td><img src="images/Master_green-bottom.gif" alt="" height="90" width="92"></td>
       </tr>
       <tr>
        <td><img src="images/spacer.gif" alt="" height="1" width="92"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="95"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="88"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="37"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="126"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="37"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="88"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="95"></td>
        <td><img src="images/spacer.gif" alt="" height="1" width="92"></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr>
   <td>
    <div align="center">
     <table width="566" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr height="20">
        <td height="20"></td>
       </tr>
       <tr>
        <td><p class="instruct_bold">Game instructions:</p>
         <ol>
          <li type="1" class="instruct_normal">You will need that the free Flash player be installed on your computer before you can play. If the player is already installed, click on the "Play" button on this page.</li>
          <li type="1" class="instruct_normal">On the first page of the actual game, you will be able to choose between six different words to spell. Drag your mouse over the words. As you pass over them, each word will be highlighted.</li>
          <li type="1" class="instruct_normal">Click on the word you want to spell.</li>
          <li type="1" class="instruct_normal">The page will then change and cubes with letters on them will appear. To spell the word, click on a letter on the cubes and drag it to matching letter of the word to spell that appears at the top of the frame.</li>
          <li type="1" class="instruct_normal">When you finish spelling the word, you can choose another word to spell and play again.</li>
         </ol>
         <hr width="60%"></td>
       </tr>
       <tr>
        <td>
         <div align="center"><!-- Footer nav bar goes here -->
          <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">| <a class="footer" href="/caillou/">Home</a> | <a class="footer" href="/caillou/immersivegames/">Play with Caillou</a> | <a class="footer" href="/caillou/activities/">Printables &amp; Activities</a> | <br> <a class="footer" href="https://pbskids.org/tvschedules/airdates.html?title_id=CAIU">Caillou on TV</a> | <a class="footer" href="/caillou/parentsteachers/">Parents &amp; Teachers</a></p>
          <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">Web site copyright © <a class="footer" href="/caillou/copyright.html">2007</a> COOKIE JAR ENTERTAINMENT™<br> Les Editions Chouette. All rights reserved. <a class="footer" href="https://pbskids.org/privacy/">PBS Privacy Policy</a></p>
         </div></td>
       </tr>
      </tbody>
     </table>
     <p class="footer_nav"></p>
    </div></td>
  </tr>
 </tbody>
</table>{% endblock %}