{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Find | PBS Kids' %}
{% set desc = 'Can not locate what you are looking for.  Try the site mape' %}
{% set keywds = 'ARTHUR, find, sitemap' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-ffc">
 <div class="ruler"></div> <img src="/arthur/i/find/find_header.gif" width="252" height="255" alt="The Brain holding a telescope" border="0" class="float-left" id="findImg">
 <div id="find">
  <h1>GAMES</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/games/aboutface/index.html">About Face</a></li>
     <li><a href="/arthur/games/alien/index.html">Alien: Assembly Required</a></li>
     <li><a href="/arthur/games/artgallery/index.html">Art Gallery</a></li>
     <li><a href="/arthur/games/askprunella/index.html">Ask Prunella</a></li>
     <li><a href="/arthur/games/askbrain/index.html">Ask The Brain</a></li>
     <li><a href="/arthur/games/stickers/index.html">Baby Kate Stickers</a></li><a href="/arthur/games/stickers/index.html"> </a>
     <li><a href="/arthur/games/stickers/index.html"></a><a href="/arthur/games/backyard_adventure/index.html">Backyard Adventure</a></li><a href="/arthur/games/backyard_adventure/index.html"> </a>
     <li><a href="/arthur/games/backyard_adventure/index.html"></a><a href="/arthur/games/braingame/index.html">The Brain Game</a></li>
     <li><a href="/arthur/games/flag/index.html">Build A Flag</a></li>
     <li><a href="/arthur/games/lungdefender/index.html">
       <div class="wrap">
        Buster Baxter, Lung Defender
       </div></a></li>
     <li><a href="/arthur/games/characterbuilder/index.html">Character Builder</a></li>
     <li><a href="/arthur/games/comiccreator/index.html">Comic Creator</a></li>
     <li><a href="/arthur/games/connectworld/index.html">Connect the World</a></li>
     <li></li>
     <li><a href="/arthur/games/crankitup/index.html">Crank It Up!</a></li>
     <li><a href="/arthur/games/dontwakekate/index.html">Don't Wake Kate</a></li>
     <li><a href="/arthur/games/dontwakekate/index.html">Don't Wake Kate</a> (Described)</li>
    </ul>
   </div>
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/games/dreamon/index.html">Dream On</a></li>
     <li><a href="/arthur/games/effectivedetective/index.html">Effective Detective</a></li>
     <li><a href="/arthur/games/elwoodcity/">Elwood City Map</a></li>
     <li><a href="/arthur/games/factsopinions/index.html">Facts and Opinions</a></li>
     <li><a href="/arthur/games/globalgizmo/index.html">Global Gizmo</a></li>
     <li><a href="/arthur/games/gogeorgego/index.html">Go! George Go!</a></li>
     <li><a href="/arthur/games/groovygarden/index.html">Groovy Garden</a></li>
     <li><a href="/arthur/games/heyfrancine/index.html">Hey, Francine!</a></li>
     <li><a href="/arthur/games/lettersto/index.html">Letters To ...</a></li>
     <li><a href="/arthur/games/letterwriter/index.html">Letter Writer Helper</a></li>
     <li><a href="/arthur/games/letterstoarthur/index.html">Letters to Arthur</a></li>
     <li><a href="/arthur/games/lunchomatic/index.html">Lunch-o-Matic</a></li>
     <li><a href="/arthur/games/letsdrawarthur/index.html">Let's Draw Arthur</a></li>
     <li><a href="/arthur/games/marthursticker/index.html">Marthur Sticker Mashup</a></li>
    </ul>
   </div>
   <div class="find-wrapper last">
    <ul>
     <li><a href="/arthur/games/moviemaker/index.html">Movie Maker</a></li>
     <li><a href="/arthur/games/wardrobe/index.html">Muffy's Wardrobe</a></li>
     <li><a href="/arthur/newsletter/index.html">Newsletter</a></li>
     <li><a href="/arthur/games/poetry/index.html">Poetry Club</a></li>
     <li><a href="/arthur/games/scoop/index.html">Scoop!</a></li>
     <li><a href="/arthur/games/comic_sofunny/index.html">So Funny I Forgot...</a></li>
     <li><a href="/arthur/games/songbook/index.html">Songbook</a></li>
     <li><a href="/arthur/games/storyscramble/index.html">Story Scramble</a></li>
     <li><a href="/arthur/games/traveltales/index.html">Sue Ellen's Travel Tales</a></li>
     <li><a href="/arthur/games/sugarbowlpoll/index.html">Sugar Bowl Poll</a></li>
     <li><a href="/arthur/games/superactionchallenge/index.html">Super Action Challenge</a></li>
     <li><a href="/arthur/games/supermarket/index.html">Supermarket Adventure</a></li>
     <li><a href="/arthur/games/unmatching/index.html">Un-Matching Game</a></li>
     <li><a href="/arthur/games/virtualgoose/index.html">Virtual Goose</a></li>
     <li><a href="/arthur/games/wheresbuster/index.html">Where's Buster?</a></li>
     <li><a href="/arthur/games/yougottobekidding/index.html">You've Got to Be Kidding</a></li>
    </ul>
   </div>
  </div>
  <h1>FRIENDS</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/friends/arthur/index.html">Arthur</a></li>
     <li><a href="/arthur/friends/baby_kate/index.html">Baby Kate</a></li>
     <li><a href="/arthur/friends/binky/index.html">Binky</a></li>
     <li><a href="/arthur/friends/brain/index.html">The Brain</a></li>
     <li><a href="/arthur/friends/buster/index.html">Buster</a></li>
     <li><a href="/arthur/friends/dw/index.html">D.W.</a></li>
     <li><a href="/arthur/friends/dad/index.html">Dad</a></li>
     <li><a href="/arthur/friends/emily/index.html">Emily</a></li>
    </ul>
   </div>
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/friends/fern/index.html">Fern</a></li>
     <li><a href="/arthur/friends/francine/index.html">Francine</a></li>
     <li><a href="/arthur/friends/george/index.html">George</a></li>
     <li><a href="/arthur/friends/grandma/index.html">Grandma Thora</a></li>
     <li><a href="/arthur/friends/ladonna/index.html">Ladonna</a></li>
     <li><a href="/arthur/friends/mom/index.html">Mom</a></li>
     <li><a href="/arthur/friends/ratburn/index.html">Mr. Ratburn</a></li>
     <li><a href="/arthur/friends/macgrady/index.html">Mrs. MacGrady</a></li>
    </ul>
   </div>
   <div class="find-wrapper last">
    <ul>
     <li><a href="/arthur/friends/muffy/index.html">Muffy</a></li>
     <li><a href="/arthur/friends/pal/index.html">Pal</a></li>
     <li><a href="/arthur/friends/prunella/index.html">Prunella</a></li>
     <li><a href="/arthur/friends/sue_ellen/index.html">Sue Ellen</a></li>
     <li><a href="/arthur/friends/tibbles/index.html">Tibble Twins</a></li>
    </ul>
   </div>
  </div>
  <h1>VIDEO</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/video/index.html">Clips &amp; Episodes</a></li>
    </ul>
   </div> <!--<div class="find-wrapper">							<ul>								<li><a href="/arthur/video/games.html">Games</a></li>							</ul>							</div>-->
   <div class="find-wrapper last">
    <ul>
     <li><a href="/arthur/video/karaoke.html">Karaoke</a></li>
    </ul>
   </div>
  </div>
  <h1>PRINT</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/print/bookmarks/index.html">Bookmarks</a></li>
     <li><a href="/arthur/print/coloringpages/index.html">Color Pages</a></li>
     <li><a href="/arthur/print/cootiecatcher/index.html">Cootie Catcher</a></li>
     <li><a href="/arthur/print/cosmiccombos/index.html">Cosmic Combos</a></li>
     <li><a href="/arthur/print/crazybus/index.html">Crazy Bus</a></li>
     <li><a href="/arthur/print/elwingo/index.html">Elwingo!</a></li>
    </ul>
   </div>
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/print/fetch/index.html">Go Fetch!</a></li>
     <li><a href="/arthur/print/grooveit/index.html">Groove It!</a></li>
     <li><a href="/arthur/print/highfive/index.html">High Five</a></li>
     <li><a href="/arthur/games/letsdrawarthur/index.html">Let's Draw Arthur</a></li>
     <li><a href="/arthur/print/masks/index.html">Masks</a></li>
     <li><a href="/arthur/print/hats/index.html">Party Hats</a></li>
    </ul>
   </div>
   <div class="find-wrapper last">
    <ul>
     <li><a href="/arthur/print/playmaker/index.html">Play Maker</a></li>
     <li><a href="/arthur/print/signdesign/index.html">Sign Design</a></li>
     <li><a href="/arthur/print/tradingcards/index.html">Trading Cards</a></li>
     <li><a href="/arthur/print/towerofcow/index.html">Tower of Cows</a></li>
     <li><a href="/arthur/print/braille/index.html">You've Got Braille</a></li>
    </ul>
   </div>
  </div>
  <h1>CLUBS</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/clubs/dance/index.html">Dance Club</a></li>
     <li><a href="/arthur/clubs/poetry/index.html">Poetry Club</a></li>
    </ul>
   </div>
   <div class="find-wrapper">
    <ul>
    </ul>
   </div>
   <div class="find-wrapper last">
    <ul>
    </ul>
   </div>
  </div>
  <h1>SPECIAL</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/backstreet/index.html">
       <div class="wrap">
        Backstreet Boys in Elwood City
       </div></a></li>
     <li><a href="/arthur/firesafety/index.html">Fire Safety Tips</a></li>
    </ul>
   </div>
   <div class="find-wrapper">
    <ul><!--HALLOWEEN-->
     <li><a href="/arthur/halloween/index.html">Happy Halloween!</a></li>
    </ul>
   </div>
   <div class="find-wrapper last">
    <ul><!--HOLIDAYS-->
     <li><a href="/arthur/holiday/index.html">Celebrate the Holidays!</a></li>
    </ul>
   </div>
  </div>
  <h1>PARENTS &amp; TEACHERS</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/parentsteachers/program/index.html">About the Program</a></li>
     <li><a href="/arthur/parentsteachers/site/index.html">About the Site</a></li>
     <li><a href="/arthur/parentsteachers/activities/index.html">Activities</a></li>
     <li><a href="/arthur/parentsteachers/books/index.html">Books &amp; More</a></li>
    </ul>
   </div>
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/parentsteachers/help/contact.html?cat=contact">Contact Us</a></li>
     <li><a href="/arthur/parentsteachers/events/index.html">Events</a></li>
     <li><a href="/arthur/parentsteachers/help/index.html">Help</a></li>
    </ul>
   </div>
   <div class="find-wrapper last">
    <ul>
     <li><a href="/arthur/parentsteachers/lesson/index.html">Lesson Plans</a></li>
     <li><a href="/arthur/parentsteachers/resources/index.html">Resources</a></li>
     <li><a href="/arthur/parentsteachers/schedule/index.html">TV Schedule</a></li>
    </ul>
   </div>
  </div>
  <h1>FAMILY HEALTH</h1>
  <hr class="dotted-rule">
  <div class="section-wrapper">
   <div class="find-wrapper">
    <ul>
     <li><a href="/arthur/health/asthma/">Asthma</a></li>
     <li><a href="/arthur/health/fitness/">Fitness</a></li>
     <li><a href="/arthur/health/nutrition/">Nutrition</a></li>
     <li><a href="/arthur/health/allergy/">Peanut Allergy</a></li>
     <li><a href="/arthur/health/resilience/">Resilience</a></li>
    </ul>
   </div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/buster/index.html" id="rcBuster">Buster</a></li>
   <li><a href="/arthur/print/bookmarks/index.html" id="rcBookmarks">Bookmarks</a></li>
   <li><a href="/arthur/games/comiccreator/index.html" id="rcComic">Comic Creator</a></li>
  </ul>
 </div>
</div>{% endblock %}

