{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Print math games, activities and more at Cyberchase. Where math is everywhere and everyone can be good at it.' %}
{% set keywds = 'math, maths, franctions, fraction, fractions, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtraction, activity, activities,  division, long division, times tables, free, online, math skills' %}
{% set pageTitle = 'Math Activities . Cyberchase' %}


{% block specialHead %}<style type="text/css">
#headband-page-wrap {
	background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/activities_container.jpg');
  background-repeat: no-repeat;
}
</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-activities\">' %}
{% set selectedNav = 'ACTIVITIES' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content">
 <div class="limiter">
  <div style="height: 80px; margin-top: 8px;">
   <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender pageheader" width="170" height="60" alt="Activities" border="0"></h1>
   <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/ced68769f7a5ccf62dd6afc229a9107a.png" class="textrender subheader" width="175" height="43" alt="You Be the Judge!" border="0"></h2>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner activity-container" id="content-panel">
    <div class="printable-preview" id="printgallery"><a href="#" id="btn-print-prev">previous</a>
     <div id="printable-images-holder"><img class="printable-images" src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/youbethejudge_1of1_printable_display.png" width="400" height="518" title="" alt="">
     </div> <a href="#" id="btn-print-next">next</a>
     <div class="clear"></div>
     <div id="pageNumber">
      Page 1 out of 1
     </div>
    </div>
    <div class="printable-info-container">
     <div class="printable-info" id="print-info" align="center">
      <p>Use reasoning to judge ads for good and bad sales.</p>
     </div> <a class="large-btn analytics-click" data-analytics="Cyberchase - Activities|Button Click|print--you-be-judge" href="/cyberchase/activities/you-be-judge/print" target="blank"><img src="http://pbskids.org/cyberchase/media/textrender/button/13dba24862cf9128167a59100e154c8d.png" class="textrender button" width="48" height="45" alt="Print" border="0"></a>
    </div>
   </div>
   <div id="associated-content"></div>
   <div class="clear"></div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}<script>
 $(function() {
   $('#associated-content').load('/cyberchase/learning-pathways/activities/you-be-judge/',
		   function() {
			   cyberchase.associatedContentAnim();
			   cyberchase.bindAnalytics();
				 if(typeof pngfix == 'function'){ pngfix(); }
		   });
 });
 </script>
{% endblock %}

