<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<!--<title>WordGirl . Games . Miss Power Faceoff | PBS KIDS GO! </title>-->
        <title>WordGirl {{pageTitle|raw}}</title>
		<meta name="Keywords" content=""/>
		<meta name="Description" content=""/>
		
		<!-- begin include -->


{% include 'wordgirl/includes/flashScripts.html' %}
{% include 'wordgirl/includes/navScript.html' %}

<!-- end include -->
		
		
		{% block swfEmbedScript %}{% endblock %}
				
		<link rel="stylesheet" type="text/css" href="/wordgirl/css/style.css" />
		
{% include 'template_includes/bridge_js_include.html' %}
		
	</head>
	
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text-align="center">


{% include 'template_includes/modern_headband_include.html' %}
	
  {% include 'template_includes/modern_pbsk_js.html' %}



{% include 'template_includes/wordquest_support.html' %}




	<div id="wrapper">	

		<div id="WordGirl" style="position:relative; top:0px;">
			<div id="noflash_nav">
				<table id="Table_01" width="960" height="85" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="135" height="85" rowspan="2"><a href='http://pbskids.org/'><img src="/wordgirl/cdn_content/images/topnav/KIDSlogo.png" border=0 alt="pbskids.org"></a></td>
						<td width="145" height="85" rowspan="2"><a href='/wordgirl/'><img src="/wordgirl/cdn_content/images/topnav/WGlogo.png" border=0 alt="WordGirl Home Page"></a></td>
						<td width="172" height="85" rowspan="2"><a href='/wordgirl/games/'><img src="/wordgirl/cdn_content/images/topnav/top_games.png" border="0" alt="Games"></a></td>
						<td width="171" height="85" rowspan="2"><a href='/wordgirl/adventures/'><img src="/wordgirl/cdn_content/images/topnav/top_videos.png" border=0 alt="Games"></a></td>
						<td width="175" height="85" rowspan="2"><a href='/wordgirl/heroes-villains/'><img src="/wordgirl/cdn_content/images/topnav/top_characters.png" border=0 alt="Characters"></a></td>
						<td width="137" height="42"><a href='http://www.pbs.org/parents/wordgirl/parentsandteachers.html' title="PBS Parents"><img src="/wordgirl/cdn_content/images/topnav/parents.png" alt="Parents" border=0></a></td>
					</tr>
					<tr>
						<td width="137" height="43"><a href='http://www.pbs.org/teachers/wordgirl/' title="PBS Teachers"><img src="/wordgirl/cdn_content/images/topnav/teachers.png" alt="Teachers" border=0></a></td>
					</tr>
				</table>
			</div>
			<div id="noflash">
				<table>
					<tr>
						<td>
							<div style="float:left;margin-right:50px;margin-left:25px"> 
								<img src="/enablecdn/wordgirl/cdn_content/images/noFlash_WG.gif" alt="WordGirl" />
							</div>
						</td>
						<td>
							<div class="noFlashHeader"><b>Flash Plug-in Required for this Web site.</b></div>
							<div class="textContainer">
								<br />
								<b>
								We're glad you're here! Download the latest version of <a href="http://get.adobe.com/flashplayer/" title="Get Flash Player">Adobe Flash Player</a> to <a href="/wordgirl/adventures/" id="adventures">watch video</a>, <a href="/wordgirl/printables/" id="printables">print activities</a>, and <a href="/wordgirl/games/" id="games">play games</a> with WordGirl and Captain Huggy Face. 
								<br /><br />
								This site also has many educational resources for <a href="http://www.pbs.org/parents/wordgirl/parentsandteachers.html" title="PBS Parents">Parents</a> and <a href="http://www.pbs.org/teachers/wordgirl/" title="PBS Teachers">Teachers</a>.
								</b>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
		</div>
		
			
			<div id="footer" style="position:relative; top:0px;">
							
				<a href="/wordgirl/games/">Games</a> | 
				<a href="/wordgirl/printables/">Printables</a> | 
				<a href="/wordgirl/adventures/">Videos</a> | 
				<a href="/wordgirl/heroes-villains/">Characters</a>
				<br />
				<a href="http://www.pbs.org/parents/wordgirl/parentsandteachers.html" title="PBS Parents">Parents</a> | 
				<a href="http://www.pbs.org/teachers/wordgirl/" title="PBS Teachers">Teachers</a> | 
				<a href="http://www.pbs.org/parents/wordgirl/pt_sitemap.html" title="Wordgirl Sitemap">Site Map</a> | 
				<a href="/privacy/">PBS Kids Privacy Policy</a>
				<br />
				<br />
				<table align="center">
					 <tr>
						 <td colspan="3" class="teaser">
							 <div align="center">	
								 Find out when WordGirl is on <a href="/tvschedules/localizer.html?dest=/wordgirl/games/misspower/index.html&nola=WORG">in your town</a> 
		          			</div>
						</td>
		      </tr>
		      <tr>
		        <td colspan="3" class="teaser" ><div align="center">TM, &reg; &amp; &copy; 
		          Scholastic Inc., 2011. All rights reserved.<br />
		          Produced by Scholastic and Soup 2 Nuts</div></td>
		      </tr>
		      <tr>
		        <td colspan="1" style="padding-bottom:10px;padding-left:20px"><div align="left"><a href="http://www.scholastic.com" title="Scholastic.com" target="_parent"><img src="/wordgirl/parentsandteachers/images/scholasticlogo.gif" alt="logo3" width="87" height="9" border="0" /></a></div></td>
		        <td colspan="1" style="padding-bottom:10px;padding-left:20px"><div align="left"><a href="http://soup2nuts.tv/" title="Soup2Nuts" target="_parent"><img src="/wordgirl/parentsandteachers/images/souptonutslogo.gif" alt="logo4" width="70" height="16" border="0" /></a></div></td>
		      </tr>
		    </table>
		  </div>
</div>	
	
		
<!-- end include -->
		
	</body>
</html>