{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Buster\'s Games & Printables Page | PBS Kids' %}
{% set desc = 'Buster has super sweet games to play that deal with things like asthma, the world, movies, and gardening -- oh, and of course aliens and food! ' %}
{% set keywds = 'games, play, print, Buster, aliens, food, asthma' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-6ff">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/buster_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/buster_top.swf", "buster", "960", "363", "9", "#66ffff");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "games");			   fo.addVariable("char", "buster");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-buster">Buster's images</a>
  <div id="friendsContent">
   <h1>My Games &amp; Printables</h1>
   <hr class="friendsRuler">
   <ul id="myGames">
    <li id="friendsDreamOn" class="icon"><a href="../../games/dreamon/index.html"><span>Dream On</span></a></li>
    <li id="friendsLung" class="icon"><a href="../../games/lungdefender/index.html"><span>Buster Baxter, Lung Defender</span></a></li>
    <li id="friendsGroovy" class="icon"><a href="../../games/groovygarden/index.html"><span>Groovy Garden</span></a></li>
    <li id="friendsMovie" class="icon"><a href="../../games/moviemaker/index.html"><span>Movie Maker</span></a></li>
    <li id="friendsNewsletter" class="icon"><a href="../../newsletter/index.html"><span>Arthur &amp; Buster Newsletter</span></a></li>
    <li id="friendsConnect" class="icon"><a href="../../games/connectworld/index.html"><span>Connect the World</span></a></li>
    <li id="friendsColoring" class="icon"><a href="../../print/coloringpages/coloring.html#pg-buster1"><span>Coloring Pages</span></a></li>
    <li id="friendsTrading" class="icon"><a href="../../print/tradingcards/cards.html#pg-buster1"><span>Trading Cards</span></a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/lunchomatic/index.html" id="rcLunch">Lunch-o-matic</a></li>
   <li><a href="/arthur/games/connectworld/index.html" id="rcConnect">Connect The World</a></li> <!--<li><a href="/arthur/clubs/fashion/index.html" id="rcClubFashion">Fashion Club</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

