{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . D.W.\'s Games & Printables Page | PBS Kids' %}
{% set desc = 'D.W. rocks the house, and various clubs that shes in. Check out her clubs and get to know her interests and talents.' %}
{% set keywds = 'D.W., Dora Winifred, ARTHUR, clubs, interests, passions' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-fcf">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/dw_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/dw_top.swf", "dw", "960", "363", "9", "#ffccff");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "clubs");			   fo.addVariable("char", "dw");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-dw">D.W.'s images</a>
  <div id="friendsContent">
   <h1>My Clubs</h1>
   <hr class="friendsRuler">
   <ul id="myClubs">
    <li id="myclubDance" class="icon"><a href="/arthur/clubs/dance/index.html">Dance Club</a></li>
    <li id="myclubFashion" class="icon"><a href="/arthur/clubs/fashion/index.html" class="clubFashion">Fashion Club</a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/crankitup/index.html" id="rcCrank">Crank It Up!</a></li>
   <li><a href="/arthur/games/supermarket/index.html" id="rcSupermarket">Supermarket Adventures</a></li>
   <li><a href="/arthur/holiday/dressup/index.html" id="rcDressUp">DW's Dress Up</a></li>
  </ul>
 </div>
</div>{% endblock %}

