{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . D.W.\'s Photos Page | PBS Kids' %}
{% set desc = 'D.W. is often the center of attention, and these photographs prove it! See D.W. being fabulous and games that dont use electricity!' %}
{% set keywds = 'D.W., Dora Winifred, ARTHUR, photographs, pictures' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}
{% set friendsJs = true %}


{% block mainContent %}<div id="content" class="bg-fcf">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/dw_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/dw_top.swf", "dw", "960", "363", "9", "#ffccff");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "photos");			   fo.addVariable("char", "dw");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-dw">D.W.'s images</a>
  <div id="friendsContent">
   <h1>My Photos</h1>
   <hr class="friendsRuler">
   <div id="photoWrapper">
    <div id="bigImgWrapper"><img src="../../i/friends/photos/dw4.jpg" width="354" height="250" alt="Toys falling out of a closet, onto D.W." border="0" id="mainImg"> <a href="" class="next"></a> <a href="" class="prev"></a>
    </div> <img src="../../i/friends/photos/avatar_big_dw.gif" width="85" height="83" alt="Pal Avatar" border="0" id="avatar">
    <h3>Watch out... toys!</h3>
   </div>
   <div id="cmtArea"><!--  Displayed image and comment -->
    <h2>MY FRIENDS SAY</h2>
    <div id="cmtTxtWrapper">
     <div class="comment">
      <div class="kate-cmt"><a href="/arthur/friends/baby_kate/index.html">BABY KATE</a>
       <p>Wama-baba! (So THAT'S where she keep them!)</p>
      </div>
      <div class="kate-cmtbtm"></div>
     </div>
    </div>
   </div> <!--  List of all images and comments to rotate -->
   <ul id="cmtlist">
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/dw4.jpg" width="354" height="250" alt="Toys falling out of a closet, onto D.W." border="0" id="mainImg">
       <h3>Watch out... toys!</h3>
      </dt>
      <dd>
       <h2>MY FRIENDS SAY</h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="kate-cmt"><a href="/arthur/friends/baby_kate/index.html">BABY KATE</a>
          <p>Wama-baba! (So THAT'S where she keep them!)</p>
         </div>
         <div class="kate-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/dw5.jpg" width="354" height="250" alt="D.W. ice skating as her family watches." border="0" id="mainImg">
       <h3>Harder than it looks.</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
         <div class="thora-cmt"><a href="/arthur/friends/grandma/index.html">GRANDMA THORA</a>
          <p>We're all so proud of you, honey.</p>
         </div>
         <div class="thora-cmtbtm"></div>
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/dw6.jpg" width="354" height="250" alt="D.W. dancing on stage, wearing a crown." border="0" id="mainImg">
       <h3>In the spotlight... of course!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/dw1.jpg" width="354" height="250" alt="turn off light when not in use" border="0" id="mainImg">
       <h3>This is Binky being good, turning off a light he's not using.</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/dw2.jpg" width="354" height="250" alt="play games that don't require electricity" border="0" id="mainImg">
       <h3>I love to play games like checkers. And it uses no batteries or electricity!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
    <li>
     <dl>
      <dt>
       <img src="../../i/friends/photos/dw3.jpg" width="354" height="250" alt="Cards games use less electricity" border="0" id="mainImg">
       <h3>Solitaire isn't just a computer game! Grandma taught me how to play solitaire with cards. Card games use less electricity and they're fun!</h3>
      </dt>
      <dd>
       <h2></h2>
       <div class="cmtWrapper">
        <div class="comment">
        </div>
       </div>
      </dd>
     </dl></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/letsdrawarthur/index.html" id="rcDrawArthur">Let's Draw Arthur</a></li>
   <li><a href="/arthur/holiday/dressup/index.html" id="rcDressUp">D.W.'s Dress Up</a></li> <!--<li><a href="/arthur/clubs/fashion/index.html" id="rcClubFashion">Fashion Club</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

