{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Binky\'s Facts and Opinions | PBS Kids' %}
{% set desc = 'Learn the difference between facts and opinions with Binky. Practice by determining if what Francine and Buster say are facts or opinions. Then watch a video!' %}
{% set keywds = 'fact, opinion, Binky, game, true, prove' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="factbg">
 <div class="ruler"></div>
 <div id="mainFeature"><img src="../../i/games/fo_header.gif" width="619" height="72" border="0" alt="Binky's Facts and Opinions - Decide if Francine and Buster are saying facts or opinions!" id="fo_header">
  <div id="swf_content">
   <div id="flashcontent" class="factsopinions">
    <p>You can <a href="https://get.adobe.com/flashplayer/?no_redirect">download the latest version of Flash</a> for free.<br><br>Once you have installed Flash 9 or later, come back here to <a href="https://pbskids.org/arthur/games/factsopinions/index.html">play the game.</a><br><br><a href="/arthur/parentsteachers/help/answers/tech_shockwave.html?cat=techsupport">What's Flash?</a>.</p>
   </div>
   <script type="text/javascript">				   var fo = new SWFObject("factsopinions.swf", "fact", "595", "350", "8", "#ffffff");				   fo.addParam("allowScriptAccess", "always");				  fo.write("flashcontent");					</script>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/binky/index.html" id="rcBinky">Binky</a></li>
   <li><a href="/arthur/games/virtualgoose/index.html" id="rcGoose">Virtual Goose</a></li>
   <li><a href="/arthur/print/cootiecatcher/index.html" id="rcCootie">Cootie Catcher</a></li>
  </ul>
 </div>
</div>{% endblock %}

