{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Fitness Info . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'blue' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><h2><a href="../fitness/">Fitness</a></h2></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Fitness</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Background Information</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/fitness_bginfo_1.png" alt="Francine kicks a soccer ball.">
   <div class="col7">
    <div class="banner">
     <p>Kids are less active today than ever before. Being overweight and out-of-shape puts kids at an increased risk for health problems, including diabetes and heart disease. You may also want to use this section together with our <a href="../nutrition/">nutrition resources</a> since healthy eating and exercise go together.</p>
    </div>
   </div>
  </div>
  <div class="col7 cntr">
   <p class="dark">What does exercising do for the body?</p>
   <p>During exercise, blood flow increases and helps the heart and lungs work more efficiently. It also increases the amount of oxygen that goes to the brain and the rest of the body. Exercise can help you think better, feel more relaxed, and live a longer, healthier life.</p>
   <hr>
   <p class="dark">Why is exercise important?</p>
   <p>Exercise is so important for your child as it reduces the risk for health issues. When children incorporate exercise into their daily routines at a young age, these healthy habits are more likely to stay as children grow into adulthood. Children can also develop skills, balance, and body awareness through exercise. Exercise will also help your child feel better physically and mentally — it helps to clear the mind and work off angry feelings.</p>
   <hr>
   <p class="dark">How much exercise should my child get?</p>
   <p>Young children should get at least 60 minutes of exercise daily — even if this time needs to be spread out throughout the day. Physical activity at school is not enough for children, so try to lead active lifestyles at home. If your child doesn't like exercising or sports, find other enjoyable or rewarding ways for your child to be active. You can even use exercise as a reward rather than junk food. Instead of candy for a reward, take your child on an excursion or active adventure — like hiking, kayaking, or playing a game outside.</p>
   <hr>
   <p class="dark">In today's world, it's hard to be active.</p>
   <p>There are so many fun things to do that are not very active, and sometimes it's hard or impossible to exercise outside. Try limiting screen time to 2 hours or less per day for your child. This includes limiting time on the computer, watching TV, playing on tablets, playing on phones, etc. Try incorporating fitness videos into your media use, especially if it's difficult to exercise outside. Exercise with your child — you will bond and also be healthy together. Be a role model. Find an activity that you like to do and do it!</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}