{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Be a Cat, Be a Tree . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'blue' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><h2><a href="../fitness/">Fitness</a></h2></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Fitness</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>Games &amp; Activities</h3>
  <h4>Be a Cat, Be a Tree</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/fitness_cattree_1.png" alt="Cheikh in a tree costume.">
   <div class="col7">
    <div class="banner">
     <p>Your children may enjoy these two creative movement exercises. They are both based on yoga, an ancient form of exercise and meditation. Invite your children to stretch their bodies and let their imaginations soar!</p>
    </div>
   </div>
  </div>
  <h5>The Cat:</h5>
  <ul class="normal">
   <li>Start on your hands and knees.</li>
   <li>Look up. Curve your shoulders up.</li>
   <li>Hold the stretch for three counts as you purr like a happy cat.</li>
   <li>Now look down at the floor and arch your back up.</li>
   <li>Hold the stretch for three counts as you hiss and growl like an angry cat.</li>
  </ul>
  <h5 style="margin-top:40px;">The Tree:</h5>
  <ul class="normal">
   <li>Stand on one leg. This is the tree trunk.</li>
   <li>Place the other foot at the knee of your standing leg.</li>
   <li>Now raise your arms high above your head, with the fingers touching.</li>
   <li>Count slowly to five as you imagine the sun shining down on you.</li>
   <li>(Note: Children who have trouble balancing can stand on two feet or lean against a wall.)</li>
  </ul>
  <h6 style="margin-top:40px;">Take it further</h6>
  <p>Supervise your children as they create simple gymnastic routines using tumbling mats, a pretend balance beam (a strip of paper taped to the floor), and music.</p>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}