{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Educators . Fitness . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'blue' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><h2><a href="../fitness/">Fitness</a></h2></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Fitness</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>For Educators</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/resilience_quiz_6.png" alt="Mr. Ratburn holds a book and waves.">
   <div class="col7">
    <div class="banner">
     <p>Use this activity to help children get up and moving!</p>
    </div>
   </div>
  </div>
  <h5>Balloon Dance</h5>
  <p>Have your children ever seen balloons float away? Now they can imitate that movement by creating a Balloon Dance.</p>
  <h6>Be a balloon</h6>
  <p>Have kids begin by lying on the ground, pretending to be flat new balloons. Then, you pretend to blow up the balloons. Let your children slowly "unfold" and "inflate," rising to their feet as you blow. Say: <i>Now we need to tie a knot so the air doesn't escape.</i> Children now pretend to tie a knot. Ask your "balloons" to pretend to go outside and play: <i>A little breeze lifts you up into the sky and carries you here and there.</i></p>
  <h6>Dance to music</h6>
  <p>Play music to inspire your children to dance like balloons floating in the breeze. When the breeze dies down (the music fades away), the balloons drift back to the ground.</p>
  <h6>Take it further</h6>
  <p>Try these fun extensions:</p>
  <ul class="normal">
   <li>Paper Balloons: Provide paper cut into oval shapes. Let children design their own balloons by drawing patterns, faces, etc. Attach colored yarn to the paper balloons and display them on a wall.</li>
   <li>Bubble Balloons: Put bubble solution in trays and provide tubes, strings, and bubble wands. Watch bubbles float through the air like fragile balloons.</li>
  </ul>
  <hr style="margin:32px 0;">
  <p>Check out these other activities on our site. Although primarily for families, you can easily adapt them for the classroom: <a href="home-olympics.html">Home Olympics</a> and <a href="be-cat-tree.html">Be a Cat, Be a Tree</a>.</p>
  <div class="banner btn-r"><a href="../pdf/arthur_nutrition_eat_well.pdf" class="print-btn" style="width:11.5em;">
    <div class="print-icon"></div>Print Lesson Plan</a>
   <p>The "Eat Well, Stay Fit" lesson plan encourages children to take care of themselves by eating healthy foods and exercising. To introduce the unit, you may want to show the Arthur episode <a href="../fitness/episode.html">Arthur Weighs In</a>.</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}