{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Kids in Action . Arthur' %}
{% set videoCss = true %}
{% set specialInclude = '' %}
{% set bodyClass = 'blue' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><h2><a href="../fitness/">Fitness</a></h2></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Fitness</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
   </ul></li>
 </ul>
 <div id="content" class="vid-pg group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>Videos</h3>
  <h4>Kids in Action</h4>
  <hr>
  <div class="group">
   <div id="player" class="col7vid single-video">
    <div class="video-wrapper widescreen">
     <video id="video-player"></video>
    </div>
    <div id="player-controls" class="hidden">
     <div class="play-pause vid-ctl-btn"><button title="Play/Pause"> <span id="icon-play" class="vid-ctl-icon">play</span> <span id="icon-pause" class="vid-ctl-icon">pause</span> </button>
     </div>
     <div class="show-fullscreen vid-ctl-btn removed"><button title="Full-screen"> <span id="icon-fs" class="vid-ctl-icon">full-screen</span> </button>
     </div>
     <div class="toggle-captions vid-ctl-btn"><button title="Captions on/off"> <span id="icon-captoff" class="vid-ctl-icon">CC</span> <span id="icon-capton" class="vid-ctl-icon">CC</span> </button>
     </div>
     <div class="mute-unmute vid-ctl-btn"><button title="Mute/Unmute"> <span id="icon-mute" class="vid-ctl-icon">mute</span> <span id="icon-unmute" class="vid-ctl-icon">unmute</span> </button>
     </div>
     <div class="timer-remaining">
      ––:––
     </div>
     <div class="scrubber">
      <div class="scrubber-track">
       <button class="scrubber-thumb"></button>
      </div>
     </div>
    </div>
   </div>
   <div class="col5">
    <p>The Beantown Jumpers, a Boston-area Double Dutch jump rope team, fosters healthy and active lifestyles through sports and athletics.</p>
   </div>
  </div> <img class="col5" src="../img/shared_video_grandma.png" alt="Grandma holding Baby Kate.">
  <div class="col7">
   <div class="banner">
    <p>TIP: Discuss with your child their favorite activities. Brainstorm ways to make physical activities part of your daily routine.</p>
   </div>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script><script src="http:pbskids.org/pbsk/video/lib/jquery.pbskidsvideo.min-latest.js"></script><script>var videoID="679f6a31-c943-4106-a40f-6cec4a6b2e27";</script><script src="../js/video2.js"></script>' %}