{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Fitness Resources . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'blue' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><h2><a href="../fitness/">Fitness</a></h2></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Fitness</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Resources</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/shared_resources.png" alt="D.W. pulls a red wheelbarrow full of books">
   <div class="col7">
    <div class="banner">
     <p>There are many great organizations, websites, and books that can help you and your family learn about getting and staying fit. Here are some to get you started. Check with your doctor, school nurse, or librarian for other good resources.</p>
    </div>
   </div>
  </div>
  <ul class="menu-topics">
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Websites
    </div>
    <ul>
     <li><a href="http:www.heart.org/HEARTORG/GettingHealthy/Physical-Activity-and-Children_UCM_304053_Article.jsp">American Heart Association</a></li>
     <li><a href="http:brightfutures.aap.org/pdfs/Guidelines_PDF/7-Promoting_Physical_Activity.pdf">Bright Futures</a></li>
     <li><a href="http:www.cdc.gov/physicalactivity/everyone/getactive/children.html">Centers for Disease Control and Prevention</a></li>
     <li><a href="http:www.nlm.nih.gov/medlineplus/exerciseforchildren.html">Exercise Healthy for Children</a></li>
     <li><a href="http:www.healthychildren.org/english/healthy-living/fitness/">Children.org</a></li>
     <li><a href="http:www.letsmove.gov/learn-facts/epidemic-childhood-obesity">Let's Move</a></li>
     <li><a href="http:www.presidentschallenge.org/">The President's Challenge</a></li>
     <li><a href="http:www.fitness.gov/">President's Council on Fitness, Sports, and Nutrition</a></li>
     <li><a href="http:www.health.gov/paguidelines/guidelines/chapter3.aspx">U.S. Department of Health &amp; Human Services</a></li>
    </ul></li>
   <li class="topic middle">
    <div>
     <div class="caret-menu"></div>Books
    </div>
    <ul>
     <li><cite>The ABCs of Yoga for Kids</cite> by Teresa Power</li>
     <li><cite>Allie's Basketball Dream</cite> by Barbara Barber</li>
     <li><cite>The Animal Boogie</cite> by Debbie Harter</li>
     <li><cite>Anna Banana: 101 Jump Rope Rhymes</cite> by Joanna Cole</li>
     <li><cite>Babar's Yoga for Elephants</cite> by Laurent de Brunhoff</li>
     <li><cite>The Busy Body Book: A Kid's Guide to Fitness</cite> by Lizzy Rockwell</li>
     <li><cite>Dancing in the Wings</cite> by Debbie Allen</li>
     <li><cite>Dinosaurs Alive and Well: A Guide to Good Health</cite> by Marc Brown</li>
     <li><cite>Froggy Rides a Bike</cite> by Jonathan London</li>
     <li><cite>Get Some Exercise!</cite> by Angela Royston</li>
     <li><cite>Let the Games Begin</cite> by Maya Ajmera</li>
     <li><cite>My Amazing Body: A First Look at Health and Fitness</cite> by Pat Thomas</li>
     <li><cite>365 Activities for Fitness, Food, and Fun for the Whole Family</cite> by Julia Sweet</li>
     <li><cite>Sneaky Fitness: Fun, Foolproof Ways to Slip Fitness into Your Child's Everyday Life</cite> by Missy Chase Lapine</li>
     <li><cite>Yoga for Children</cite> by Lisa Flynn</li>
    </ul></li>
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Apps
    </div>
    <ul>
     <li><a href="https:itunes.apple.com/us/genre/ios-medical/id6020?mt=8">Apple iTunes</a></li>
     <li><a href="https:play.google.com/store/apps/category/MEDICAL">Google Play</a></li>
    </ul></li>
  </ul>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="workout-time.html">Workout Time!</a></li>
        <li><a href="groove-it.html">Groove It!</a></li>
        <li><a href="dance-club.html">Dance Club</a></li>
        <li><a href="home-olympics.html">Home Olympics</a></li>
        <li><a href="be-cat-tree.html">Be a Cat, Be a Tree</a></li>
        <li><a href="quiz.html">Fitness Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Arthur Weighs In</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}