{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Does Your School Recycle? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoesyourschoolrecycle.jpg" alt="What does your school recycle?" width="331" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_recycle.gif" alt="What does your school recycle?"> <p>My teacher brings a box to our class room as a recyling bin and we recycle old pieces of paper in our class room.</p> <p>— yumi666, Age 10</p>
      <hr> <p>My class recycles paper.It is sometimes it is yellow!</p> <p>— Summer, Age 7</p>
      <hr> <p>we recycle emptybottles,bottletops,bags with recyleingsighns,and pappers that we don't need anymore</p> <p>— timberlinr25, Age 8</p>
      <hr> <p>My school recycles its fruit bags whenever we have our National School Lunch days.</p> <p>— smp11, Age 11</p>
      <hr> <p>My school recycles but my class room only does paper.But that i still good!</p> <p>— Ericazgreen9, Age 9</p>
      <hr> <p>My school reycles by not throwing paper away, but reuseing it ,and we use less napkins.</p> <p>— talise1998, Age 11</p>
      <hr> <p>My school is having a recycle week. and this week we are recycling cans.</p> <p>— 789kak, Age 9</p>
      <hr> <p>my school recycles our: lunch trays, card board boxes, paper, and tons of other stuff 2.</p> <p>— Eliza, Age 8</p>
      <hr> <p>My school recycles alot of things. Some are like paper,plastic, aluminum, cans and other stuff! I go to Parsons Elementary school in North Brunswick</p> <p>— Manaswi, Age 10</p>
      <hr> <p>well my school recycles bottle caps and juce pouches we`ve also started an act called S.A.V.E. Students Against Violating the Earth. I do think my school is helping the inviorment</p> <p>— flipey03, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recycleschool.html@Start=130" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recycleschool.html@Start=150" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 4208<br><a href="detail_recycleschool.html@Start=130">Previous</a> | <a href="detail_recycleschool.html@Start=50">6</a> | <a href="detail_recycleschool.html@Start=60">7</a> | <a href="detail_recycleschool.html@Start=70">8</a> | <a href="detail_recycleschool.html@Start=80">9</a> | <a href="detail_recycleschool.html@Start=90">10</a> | <a href="detail_recycleschool.html@Start=100">11</a> | <a href="detail_recycleschool.html@Start=110">12</a> | <a href="detail_recycleschool.html@Start=120">13</a> | <a href="detail_recycleschool.html@Start=130">14</a> | 15 | <a href="detail_recycleschool.html@Start=150">16</a> | <a href="detail_recycleschool.html@Start=160">17</a> | <a href="detail_recycleschool.html@Start=170">18</a> | <a href="detail_recycleschool.html@Start=180">19</a> | <a href="detail_recycleschool.html@Start=190">20</a> | <a href="detail_recycleschool.html@Start=200">21</a> | <a href="detail_recycleschool.html@Start=210">22</a> | <a href="detail_recycleschool.html@Start=220">23</a> | <a href="detail_recycleschool.html@Start=230">24</a> | <a href="detail_recycleschool.html@Start=150">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=15"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

