{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Does Your School Recycle? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoesyourschoolrecycle.jpg" alt="What does your school recycle?" width="331" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_recycle.gif" alt="What does your school recycle?"> <p>hello!my name is Amaya and i am in my computer lab.I and my school recycle paper.</p> <p>— Amaya, Age 7</p>
      <hr> <p>im sad becaus my scool dosen*t resikol nathing.</p> <p>— juliann, Age 8</p>
      <hr> <p>our school recyles box juice bottles because they think its important</p> <p>— darian, Age 9</p>
      <hr> <p>My class does the three R's.</p> <p>— goldmist9, Age 9</p>
      <hr> <p>My school recycles batteries</p> <p>— budrules, Age 10</p>
      <hr> <p>Everyday kids recycle empty water bottles at my school after lunch. Once, the first grade teacher even collected empty water bottles after lunch so the first grade class could use them for art protects!</p> <p>— hailny4, Age 9</p>
      <hr> <p>Hi! My school recycles paper, but my class did a recycling project and we asked waste management for a single stream recycling kit. We haven't gotten it yet, but I think we will!!!!</p> <p>— gohuskers1, Age 10</p>
      <hr> <p>My school recycles paper only!Maybe because we use a lot paper to write with and do our work.Every Friday at my school, a green team collects the blue recycle bins that has paper in it, and puts it in a bigger bin.When the big bin get full, they recycle the paper.</p> <p>— Yenessa M., Age 10</p>
      <hr> <p>I started a recycling club and now we're closer to being more green by recycling white paper.</p> <p>— shou4567, Age 10</p>
      <hr> <p>My school has a Natures Army where kids can help the school. We recycle everything, literally.</p> <p>— krystal688, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recycleschool.html@Start=20" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recycleschool.html@Start=40" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 4208<br><a href="detail_recycleschool.html@Start=20">Previous</a> | <a href="detail_recycleschool.html@Start=10">2</a> | <a href="detail_recycleschool.html@Start=20">3</a> | 4 | <a href="detail_recycleschool.html@Start=40">5</a> | <a href="detail_recycleschool.html@Start=50">6</a> | <a href="detail_recycleschool.html@Start=60">7</a> | <a href="detail_recycleschool.html@Start=70">8</a> | <a href="detail_recycleschool.html@Start=80">9</a> | <a href="detail_recycleschool.html@Start=90">10</a> | <a href="detail_recycleschool.html@Start=100">11</a> | <a href="detail_recycleschool.html@Start=110">12</a> | <a href="detail_recycleschool.html@Start=120">13</a> | <a href="detail_recycleschool.html@Start=40">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=15"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

