{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Does Your School Recycle? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoesyourschoolrecycle.jpg" alt="What does your school recycle?" width="331" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_recycle.gif" alt="What does your school recycle?"> <p>Our school stinks. (my sister's and mine) they don't recycle anything.</p> <p>— Walsis101, Age 5</p>
      <hr> <p>My School recycles plastic water bottles,soda cans, and paper</p> <p>— Turtwig20, Age 10</p>
      <hr> <p>My school uses less water and air to wipe our hands. And we save the earth by not paluting the world. And we save paper and wal-mart bags to put it in our bin box if you want to join in go to Norton Elementary School. Xavier Rd</p> <p>— Drake, Age 9</p>
      <hr> <p>My school recycles plastic bottles.</p> <p>— fetchfan5767, Age 9</p>
      <hr> <p>My school recycles bolttles,cans,newspaper and empty tins</p> <p>— Jodie, Age 8</p>
      <hr> <p>My school recycles paper and plastic soda bottles. The sad thing is that there is two giant dumpsters for trash and only one small trashcan for recycling. What's worse is that the dumsters are always overflowing!!!!!!</p> <p>— AllyLu, Age 12</p>
      <hr> <p>At my school we recycle can and plastic bottles.Thats what we recycle at our school.</p> <p>— rayrayaangel, Age 10</p>
      <hr> <p>In my Kindergarden-5th grade school they use both sides of the one piece of paper, and if someone makes a mistake, they just cross out the part of the paper that they messed up on and put it in the class scratch paper bin. They also collect cans and coins for charity. Now i'm moving up to middle school. Middle schools have the students move to different classrooms and different teachers, so i'm not sure about what my middle school recycles.</p> <p>— whiteck, Age 11</p>
      <hr> <p>We recycle old newspapers and create art projects with them. We also recycle plastic spoons, cups, forks, knives, plates and bowls. AND OF COURSE WE RECYCLE PAPER!!!</p> <p>— Tacsha, Age 10</p>
      <hr> <p>Hi,my school is recycling the foam trays that we use for our school guests and our morning school breakfasts,but if they have a dump can outside than how do they recycle them?- motherearth5</p> <p>— motherearth5, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recycleschool.html@Start=460" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recycleschool.html@Start=480" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 4103<br><a href="detail_recycleschool.html@Start=460">Previous</a> | <a href="detail_recycleschool.html@Start=380">39</a> | <a href="detail_recycleschool.html@Start=390">40</a> | <a href="detail_recycleschool.html@Start=400">41</a> | <a href="detail_recycleschool.html@Start=410">42</a> | <a href="detail_recycleschool.html@Start=420">43</a> | <a href="detail_recycleschool.html@Start=430">44</a> | <a href="detail_recycleschool.html@Start=440">45</a> | <a href="detail_recycleschool.html@Start=450">46</a> | <a href="detail_recycleschool.html@Start=460">47</a> | 48 | <a href="detail_recycleschool.html@Start=480">49</a> | <a href="detail_recycleschool.html@Start=490">50</a> | <a href="detail_recycleschool.html@Start=500">51</a> | <a href="detail_recycleschool.html@Start=510">52</a> | <a href="detail_recycleschool.html@Start=520">53</a> | <a href="detail_recycleschool.html@Start=530">54</a> | <a href="detail_recycleschool.html@Start=540">55</a> | <a href="detail_recycleschool.html@Start=550">56</a> | <a href="detail_recycleschool.html@Start=560">57</a> | <a href="detail_recycleschool.html@Start=480">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=15"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

