{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Does Your School Recycle? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoesyourschoolrecycle.jpg" alt="What does your school recycle?" width="331" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_recycle.gif" alt="What does your school recycle?"> <p>How my school recycle is that my school cleans up the trash and palnt and truns off all lights in the school for 10 mins. Thats how my school helps the plant earth . So your school should do the same thing as my school does. Talk to your school about that .talk to princale on the 1st day of school about that too.</p> <p>— popstar512, Age 13</p>
      <hr> <p>My school recycles human organs and turns them into the school lunch.</p> <p>— hellraizer, Age 99</p>
      <hr> <p>My school recycles paper of all sorts, and phone books.</p> <p>— huamei62480, Age 9</p>
      <hr> <p>my school (Homer Davis Elemantry) recylces paper,plastic and if you give batteries to a certain teacher she will recylce them for you.!:)</p> <p>— azlina11, Age 11</p>
      <hr> <p>we recycle things with 1-8 on the bottom</p> <p>— umdog, Age 8</p>
      <hr> <p>my schol recycles paper also to help the enviorment and to stop peopel from putting paper in the landfill.</p> <p>— mary, Age 11</p>
      <hr> <p>Two years ago, my class had a recycle bin in the classroom. We put all our yogurt cups and water bottles in it. And, last year, we put all our empty milk cartons in a plastic bin. Every 100 children recycled more than 1,000 milk cartons!</p> <p>— Kate, Age 9</p>
      <hr> <p>At my school we recycle alluminum cans and paper. In the cafeteria we have two trash cans one for our lunch that we didn't eat and another for alluminum cans. And some of my teachers have special bens in there room so when some one goes to throw a peice of paper away they put it in the ben and then when it is full the teacher takes it to a place that recycles paper and they dump it there instead of wasting paper by throwing it away.</p> <p>— jdgirl12, Age 11</p>
      <hr> <p>My old school would not let you throw away milk containers in the regular trash unless it wasn't empty. That's what I call recycling!</p> <p>— Sharpay88, Age 9</p>
      <hr> <p>Every day at my school, we recycle two whole boxes of paper. EVERY DAY!!!!!!!</p> <p>— Rhiannon, Age 14</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recycleschool.html@Start=520" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recycleschool.html@Start=540" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 4103<br><a href="detail_recycleschool.html@Start=520">Previous</a> | <a href="detail_recycleschool.html@Start=440">45</a> | <a href="detail_recycleschool.html@Start=450">46</a> | <a href="detail_recycleschool.html@Start=460">47</a> | <a href="detail_recycleschool.html@Start=470">48</a> | <a href="detail_recycleschool.html@Start=480">49</a> | <a href="detail_recycleschool.html@Start=490">50</a> | <a href="detail_recycleschool.html@Start=500">51</a> | <a href="detail_recycleschool.html@Start=510">52</a> | <a href="detail_recycleschool.html@Start=520">53</a> | 54 | <a href="detail_recycleschool.html@Start=540">55</a> | <a href="detail_recycleschool.html@Start=550">56</a> | <a href="detail_recycleschool.html@Start=560">57</a> | <a href="detail_recycleschool.html@Start=570">58</a> | <a href="detail_recycleschool.html@Start=580">59</a> | <a href="detail_recycleschool.html@Start=590">60</a> | <a href="detail_recycleschool.html@Start=600">61</a> | <a href="detail_recycleschool.html@Start=610">62</a> | <a href="detail_recycleschool.html@Start=620">63</a> | <a href="detail_recycleschool.html@Start=540">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=15"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

