{% extends 'curiousgeorge/includes/templates/flash_game_page.html.twig' %}
{% set ftrAttributes = 'id="ftr-games"' %}
{% set pageTitle = '&iexcl;Trae Algo!' %}

{% block gameFrame %}<div id="flash-game">
	<div id="moregames" style="position:absolute;left:724px;top:45px;"><a href="../spanish.html"><img src="../img/span_more.gif" alt="" width="105" height="248" border="0" class="ovr" /></a></div>
	
	<div id="flashcontent">
		<p>&nbsp;</p>
		<h2>This game requires Flash version 8</h2>
		<h2>You can <a href="https://pbskids.org/cgi-registry/kidsbridge.cgi?context=curiousgeorge_flash_player">download the latest version of Flash</a> for FREE.</h2>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		 codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
		 width="724" height="338" id="bring_it" align="">
		 <param name="movie" value="bring_it.swf?" />
		 <param name="quality" value="best" /> 
		 <param name="bgcolor" value="#f6f8b4" /> 
			 <embed 
				src="bring_it.swf?" 
				quality="best" 
				bgcolor="#f6f8b4"  
				width="724" 
				height="338" 
				name="bring_it" 
				type="application/x-shockwave-flash" 
				pluginspage="https://www.macromedia.com/go/getflashplayer">
			  </embed>
		</object>
		
	</div>
	
	<div id="nametag">
		<img src="/curiousgeorge/games/img/nt_bring_it_esp.gif" alt="&iexcl;Trae Algo!" height="51" width="438" />
		<!-- <p>Parents & Teachers! <a href="https://www.pbs.org/parents/curiousgeorge/site/site_features.html#bring_it">Learn more about &iexcl;Trae Algo!</a>.</p> -->	
	</div>
	
	<p>&nbsp;</p>
	
</div>

<script type="text/javascript">
    var so = new PBS_SWFObject("bring_it.swf", "bring_it", "724", "338", "8", "#f6f8b4");
    so.setAttribute('redirectUrl', '/curiousgeorge/games/noflash.html');
    so.addParam("quality", "best");
    ////PBS_enable_cdn(so);
    so.write("flashcontent");
</script>
<!-- end NOINCLUDE -->{% endblock %}