{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Sign Design | PBS Kids' %}
{% set desc = 'Coloring pages for each main ARTHUR character depict the fun personalities of each unique individual. Print the pictures out and color them in!' %}
{% set keywds = 'ARTHUR, coloring, printable, picture' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-9fc">
 <div class="ruler"></div>
 <div id="mainFeature">
  <div class="print-instr">
   <h4 id="signHeader">Sign Design</h4>
   <p>Hi, there! I'm signing the word "hello." Sign language is used by many people who are deaf or hard of hearing. I'll show you how to sign your name, how to ask questions, and more. So next time you meet someone who uses sign language, you won't be lost for words!</p>
  </div>
  <div id="signContent"><img src="../../i/print/signdesign/arthur_hello.gif" alt="Arthur signing Hello" width="177" height="343" border="0" class="float-left">
   <ul id="signNavIcons">
    <li id="signPractice" class="icon"><a href="name.html"><span>Practice Signing</span></a></li>
    <li id="signSpelling" class="icon"><a href="finger-spelling.html"><span>Finger Spelling</span></a></li>
    <li id="signInfo" class="icon"><a href="more-info.html"><span>More Information</span></a></li>
   </ul>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/lungdefender/index.html" id="rcLung">Buster Baxter: Lung Defender</a></li>
   <li><a href="/arthur/games/yougottobekidding/index.html" id="rcKidding">You've Got To Be Kidding</a></li>
   <li><a href="/arthur/games/aboutface/index.html" id="rcAboutFace">About Face</a></li>
  </ul>
 </div>
</div>{% endblock %}

