@charset "UTF-8";
/* CSS Document */






.spritenoah{
    width: 170px;
    height: 275px;
    background-image: url("../imgs/sprite-noah.png");
    
    -webkit-animation: play .8s steps(4) infinite;
       -moz-animation: play .8s steps(4) infinite;
        -ms-animation: play .8s steps(4) infinite;
         -o-animation: play .8s steps(4) infinite;
            animation: play .8s steps(4) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -700px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -700px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -700px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -700px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -700px; 
}
}