{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|environment" href="/cyberchase/find-it/environment/" title="Environment"><img src="http://pbskids.org/cyberchase/media/textrender/button/0ba29c6a1afacf586b03a26162c72274.png" class="textrender button" width="125" height="45" alt="Environment" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|fractions" href="/cyberchase/find-it/fractions/" title="Fractions"><img src="http://pbskids.org/cyberchase/media/textrender/button/8792ff634112e24779ab9149341a4ba1.png" class="textrender button" width="92" height="45" alt="Fractions" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|geometry" href="/cyberchase/find-it/geometry/" title="Geometry"><img src="http://pbskids.org/cyberchase/media/textrender/button/d9c6333623e6357515fcbf17be806273.png" class="textrender button" width="96" height="45" alt="Geometry" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|holidays" href="/cyberchase/find-it/holidays/" title="Holidays"><img src="http://pbskids.org/cyberchase/media/textrender/button/1d53c54b671a42c3c108eb0147ebefd5.png" class="textrender button" width="86" height="45" alt="Holidays" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|measurement" href="/cyberchase/find-it/measurement/" title="Measurement"><img src="http://pbskids.org/cyberchase/media/textrender/button/911842b19d8b2f9bbed8cfe909d52975.png" class="textrender button" width="137" height="45" alt="Measurement" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|money" href="/cyberchase/find-it/money/" title="Money"><img src="http://pbskids.org/cyberchase/media/textrender/button/a93312829ec4c71aac461cec296faa0e.png" class="textrender button" width="67" height="45" alt="Money" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|pre-algebra" href="/cyberchase/find-it/pre-algebra/" title="Pre-Algebra"><img src="http://pbskids.org/cyberchase/media/textrender/button/c506737759ebafa4f9a40c140582ce06.png" class="textrender button" width="120" height="45" alt="Pre-Algebra" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|problem-solving" href="/cyberchase/find-it/problem-solving/" title="Problem Solving"><img src="http://pbskids.org/cyberchase/media/textrender/button/6a03a97072a01181059654e8389b992e.png" class="textrender button" width="159" height="45" alt="Problem Solving" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|science-and-engineering" href="/cyberchase/find-it/science-and-engineering/" title="Science &amp; Engineering"><img src="http://pbskids.org/cyberchase/media/textrender/button/f8b19e1eb58294f2c42e9f41257eb43e.png" class="textrender button" width="216" height="45" alt="Science &amp; Engineering" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|sports" href="/cyberchase/find-it/sports/" title="Sports"><img src="http://pbskids.org/cyberchase/media/textrender/button/918e180e06b96c76b7193c9fcb1cb312.png" class="textrender button" width="65" height="45" alt="Sports" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|using-data" href="/cyberchase/find-it/using-data/" title="Using Data"><img src="http://pbskids.org/cyberchase/media/textrender/button/747096164a161d1857bc99aa98d9a52c.png" class="textrender button" width="104" height="45" alt="Using Data" border="0"></a> <a class="large-btn wide analytics-click" data-analytics="Cyberchase - Find It|Button Click|using-numbers" href="/cyberchase/find-it/using-numbers/" title="Using Numbers"><img src="http://pbskids.org/cyberchase/media/textrender/button/8e9877ca3298e125eedc4faba1ebcab6.png" class="textrender button" width="148" height="45" alt="Using Numbers" border="0"></a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

