<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
{% include 'arthur/includes/head.twig' %}

<body{{onloadAtr|raw}}>

{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}



<!-- end bbinclude -->

<div id="coastline">
		{% include 'arthur/includes/nav.twig' %}
<!-- end bbinclude -->
		{% block mainContent %}{% endblock %}
<!-- #bbinclude "footer.pl" -->
		<div id="footer">
			<div class="ruler"></div>
			{% block specialFtr %}{% endblock %}
			<div id="footerContainer">
				<ul id="footerMainNav"><li><a href="/arthur/index.html">Home</a></li>
				<li><a href="/arthur/friends/index.html">Friends</a></li>
				<li><a href="/arthur/games/index.html">Games</a></li>
				<li><a href="/arthur/video/index.html">Video</a></li>
				<li><a href="/arthur/print/index.html">Print</a></li>
				<li><a href="/arthur/clubs/index.html">Clubs</a></li>
				<li><a href="/arthur/find/index.html">Find</a></li></ul>
				
				<ul id="footerSubNav"><li><a href="/arthur/parentsteachers/index.html">Parents & Teachers</a></li>
				<li><a href="/arthur/parentsteachers/help/index.html">Need Help?</a></li>
				<li><a href="/buster/index.html"><div class="wrap">Visit POSTCARDS FROM BUSTER</div></a></li>
				<li><a href="https://sgptv.org/programs/program/arthur/">Program Sponsorship</a></li>
				<li><a href="/arthur/parentsteachers/site/song_credits.html">Song and Music Credits</a></li></ul>
				<img src="/arthur/i/footer/footer_rule.gif" width="3" height="174" alt="" border="" class="footer_separator"/>
				<p>All characters and underlying materials (including artwork) &copy; Marc Brown.<br />
				"Arthur" and "D.W." and all of the ARTHUR characters are trademarks of Marc Brown.<br /><a href="/arthur/parentsteachers/site/copyright.html">&copy; 2015 WGBH</a></p>
				<img src="/arthur/i/footer/footer_rule.gif" width="3" height="174" alt="" border="" class="footer_separator"/>
			</div>
		</div>
<!-- end bbinclude -->
</div>
{{specialBody|raw}}
</body>