{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'ids learn the concept of how a simple machine works by adding or removing birds and caterpillars from each side of the lever in this online science game. They are introduced to weight, volume, and life cycle. This game is leveled.' %}
{% set keywords = 'Balancing Game, Bird Game, Playground Game, Gabriela, Simple Machines game, Lever game, Exploratory Game' %}
{% set pageTitle = " . Balancing Act" %}
{% set legacy = 'Legacy' %}
{% set specialInclude = '<script src="https://pbskids.org/gas/static/adapter/js/pbs-kids-gas.js"></script>
<script src="https://pbskids.org/gas/static/adapter/js/jquery/jquery.min.js"></script>' %}


{% set imgSrc = 'media/images/balance_simple.png' %}
{% set alt = 'Balancing Act' %}

{% set msg = "We're glad you're here! To play Gabriela's Balancing Act game, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can learn all about how a simple machine works by adding or removing birds and caterpillars from a lever! Click here to play: <a href=\"https://pbskids.org/sid/balancingact.html\">https://pbskids.org/sid/balancingact.html</a>" %}


{% set game = "balanceAct" %}