{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Play a muscle memory game with Sid and his dad! Users understand that muscles are in every part of the body and they are used to move.' %}
{% set keywords = "Sid's Dad, Muscle Game, Muscle Chart, Kitchen Game, Human Body Game" %}
{% set pageTitle = " . Drawing Journal" %}
{% set legacy = '' %}


{% set imgSrc = 'media/images/journals_icons_gameindex.png' %}
{% set alt = 'Journals' %}

{% set msg = "We're glad you're here! To draw and stamp with Sid, Gerald, Gabriela and May, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can make your own creations and share them with your friend. Click here to play:  <a href=\"https://pbskids.org/sid/journals.html\">https://pbskids.org/sid/journals.html</a>" %}


{% set game = "journalDraw" %}