{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Sid is at a display in a Science Center where a shadow game has been set up.  The player is given a card featuring a collection of shapes, and must match the shapes by selecting and placing them on the glass board.  You turn on the light source to check your shadow and see if you have made a match.  Make a few matches and see Sid make silly shadow puppets!  Players are introduced to light sources, shadows and why they appear, and shapes.' %}
{% set keywords = 'Shadow Show, Shadow Game, Sid, Sid the Science Kid, Science Center, Light Game, Puzzle Game, Shapes Game, Shadow Puppets, Science Games' %}
{% set pageTitle = " . Gabriella Cleans Up" %}
{% set legacy = '' %}


{% set imgSrc = 'media/images/cleansup_simple2.png' %}
{% set alt = 'Gabriela Cleans Up' %}

{% set msg = "We're glad you're here! To play Gabriella Cleans Up, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can help Gabriela clean the litter from the park. Click here to play: <a href=\"https://pbskids.org/sid/cleansup.html\">https://pbskids.org/sid/cleansup.html</a>
" %}


{% set game = "cleansUp" %}