{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Investigate objects you collect on the playground in this fun kids science game! Learn about the properties of objects using science tools: ruler, magnifier, and magnet.' %}
{% set keywords = 'Collection Game, Object Game, Tools and Measurement Game, Preschool science game, Kids science game' %}
{% set pageTitle = " . Collection Jar" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/collectionjar_simple.png' %}
{% set alt = 'Collection Jar' %}

{% set msg = "We're glad you're here! To play the Collection Jar game, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can explore the contents of the Collection Jar. Click here to play: <a href=\"https://pbskids.org/sid/collectionjar.html\">https://pbskids.org/sid/collectionjar.html</a>" %}


{% set game = "collectionGame" %}