{% extends 'sid/includes/sidPage.html.twig' %}
{% set pageTitle = " . Super Fab Lab" %}
{% set legacy = '' %}
{% set specialInclude = "<script>	function get_game()
	{
		return 'mainmenu';
}</script>" %}


{% set imgSrc = 'media/images/sid_germs_simple.png' %}
{% set alt = 'Super Fab Lab' %}

{% set msg = "We're glad you're here! To play the Germs game with Sid and his dad, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you will learn about all the muscles in your body and how they move by clicking on Sid. Click here to play: <a href=\"https://pbskids.org/sid/germs.html\">https://pbskids.org/sid/germs.html" %}


{% set game = "crystalsRule" %}