{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Flip through this picture book to find character pages of Sid and his friends!' %}
{% set keywords = 'Online picture book, Printables, Character pages, Coloring pages, Coloring Book, Online Activity' %}
{% set pageTitle = " . Funbook" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/journals_icon.png' %}
{% set alt = 'Funbook' %}

{% set msg = "We're glad you're here! To print pages from the Fun Book, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can print fun pages to color at home. Click here to play: <a href=\"funbook.html\">https://pbskids.org/sid/funbook.html</a>" %}


{% set game = "funbook" %}