{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Help Gerald with a friction investigation in the Science Center! Experiment with a variety of surfaces to get right amount of friction to knock the tower over.' %}
{% set keywords = 'Sid the Science Kid, Gerald, Fun with Friction, games, science games, friction, science center, educational games, fun games, preschool, activities' %}
{% set pageTitle = " . Fun With Friction" %}
{% set legacy = '' %}


{% set imgSrc = 'media/images/friction_simple.png' %}
{% set alt = 'Fun With Friction' %}

{% set msg = "We're glad you're here! To play the Fun with Friction game with Gerald, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you will learn about all friction! Click here to play: <a href=\"https://pbskids.org/sid/funwithfriction.html\">https://pbskids.org/sid/funwithfriction.html</a>
" %}


{% set game = "towerTopple" %}