<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta name="description" content="Play fun, educational games with Sid and his friends." />
<meta name="keywords" content="Sid the Science Kid games, Kids Science Games, Kids Creativity Games, Preschool science games, Online Science Games, Science games for kids" />

<title>Sid the Science Kid . Games | PBS KIDS </title>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/includes/javascript/bridge.urls.js"></script>
<script type="text/javascript" src="/includes/javascript/bridge.js"></script>
<script src="scripts/cookieScript.js" language="javascript"></script>
<script type="text/javascript" src="/includes/javascript/sites/sid/sid.js"></script>
<script src="scripts/homepageScript.js" language="javascript"></script>
<script type="text/javascript" src="/includes/flash/swfobject.js"></script>
<script type="text/javascript" src="scripts/mootools.js"></script>
<!-- <script type="text/javascript" src="scripts/swfobject.js"></script> -->


<link rel="stylesheet" href="styles/homepageStyle.css" type="text/css" />
<link rel="stylesheet" href="styles/noFlashStyle.css" type="text/css" /> 

</head>
<body bgcolor="#151540" style="margin:0;padding:0">











       


  
  <link rel="stylesheet" type="text/css" href='https://pbskids.org/shell/styles/css/producer-headband.css' />
  
  
  <div id="headband-container" class='producer-headband '>
    <nav class="headband-nav">
      <div id="headband-user-block" class="logged-out">
        <header>
          <a href="" class="avatar" rel="user" title="Visit Your Profile">
            <h3>Visit Your Profile</h3>
            <img alt="Your Avatar" src=""/>
          </a>
          <h2 class="user-name">
            
            <a href="/profile/" target="_self"><em></em></a>
            
            <a class="log-out" data-action="pbskids-login-sign-out">logout</a>
          </h2>
        </header>

        <a class="sign-in" data-action="pbskids-login-sign-in"><em>Sign In</em> To PBS KIDS</a>
      </div>

      
      <section id="parents-message-bar">
        <div class="wrap">
          <div id="parents-messages"></div>
        </div>
        <div class="parents-bar-tooltips"></div>
        <button id="squished-headband-toggle"></button>
      </section>
      

      <ul>
          <li class="nav-item apps"><a href="https://pbskids.org/apps/">Apps</a></li>
          
          
          <li class="nav-item shop"><a href="https://shop.pbskids.org/">Shop</a></li>
          

          
          
          <li class="nav-item station" style="display:none;">
            <a class="callsign" href="" title="" >
              <span class="alt-call-letters"></span>
              <img src=""/>
            </a>
          </li>
          
          <li class="nav-item tv-times">
              
              <a href="/tv-times/">TV Times</a>
              
          </li>
          <li class="nav-item settings">
            <button data-action="settings-trigger">Settings</button>
          </li>
      </ul>
    </nav>

    

  </div> <!-- End Headband -->



    <script type='text/javascript' src='https://pbskids.org/js/loader/lib/PBS.KIDS.require.js' data-main='https://pbskids.org/js/loader/loaders/producers.require.config.js' ></script>

  



<center>
<div id="flashcontent">
<div class='fullPage'>
<table id="Table_01" width="960" height="646" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="88" height="94" colspan="2" rowspan="2"><a href='https://pbskids.org/'><img src="media/images/nonflash/sidthesciencekid_01.png" width="88" height="94" border=0 alt="pbskids.org"></a></td>
		<td width="136" height="94" colspan="2" rowspan="2"><a href='index.html'><img src="media/images/nonflash/sidthesciencekid_02.png" width="136" height="94" border=0 alt="Sid the Science Kid Home Page"></a></td>
		<td width="295" height="94" rowspan="2"><img src="media/images/nonflash/sidthesciencekid_03.png" width="295" height="94" alt=""></td>
		<td width="98" height="94" rowspan="2"><a href='games.html'><img src="media/images/nonflash/sidthesciencekid_04.png" width="98" height="94" border=0 alt="Games"></a></td>
		<td width="97" height="94" rowspan="2"><a href='videoplayer.html'><img src="media/images/nonflash/sidthesciencekid_05.png" width="97" height="94" border=0 alt="Video"></a></td>
		<td width="109" height="94" rowspan="2"><a href='funbook.html'><img src="media/images/nonflash/sidthesciencekid_06.png" width="109" height="94" alt="Print" border=0></a></td>
		<td width="137" height="43"><a href='/sid/parentsteachers/'><img src="media/images/nonflash/sidthesciencekid_07.png" width="137" height="43" alt="Parents" border=0></a></td>
	</tr>
	<tr>
		<td width="137" height="51"><a href='/sid/parentsteachers/'><img src="media/images/nonflash/sidthesciencekid_08.png" width="137" height="51" alt="Teachers" border=0></a></td>
	</tr>
	<tr>
		<td width="960" height="35" colspan="9"><img src="media/images/nonflash/sidthesciencekid_09.png" width="960" height="35" alt=""></td>
	</tr>
	<tr>
		<td width="960" height="456" colspan="9" style='background-color: #3399CC;' valign='top'>
			<div id="flashcontent">
			<!--noFlash full graphic content-->
			<div class="noFlashContainer">
			<div class="whiteTop"></div>
			<div class="whiteMiddle">
			<div class="noFlashContent">

	<div class='noFlashHeader' style='padding-left: 190px;'>Flash Plug-in Required for this Web site.</div>

	<img src='media/images/nf_gameIndex.jpg' style='float: left;'>
	<table border=0 cellspacing=13>
		<tr>
		<td colspan=2 style='color: #4c36b3; font-family: Arial;'>
	We're glad you're here! To play games, you'll need to download the latest version of <a href='https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash'>Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you'll be able to play all the great games here with Sid and his friends. Click here to play: <a href='https://pbskids.org/sid/games'>https://pbskids.org/sid/games.html.</a>
		</td></tr><tr>
		<td valign='top'>
		<b>
			<a href='shadowshow.html' title='Shadow Show Game'>Shadow Show</a><br>
			<a href='balancingact.html' title='Balancing Act Game'>Balancing Act</a><br>
			<a href='isense.html' title='ISense Game'>ISense</a><br>
			<a href='weatherwheel.html' title='Weather Wheel Game'>Weather Wheel</a><br>
			<a href='germs.html' title='Super Duper Antibodies Game'>Super Duper Antibodies</a><br>
			<a href='mysterylunchbox.html' title='Mystery Lunchbox Game'>Mystery Lunchbox</a><br>
			<a href='rolypoly.html' title='Roly Poly Game'>Roly Poly</a><br>
			</b>
		</td><td valign='top'>
			<b>
			<a href='sandboxsymphony.html' title='Sandbox Symphony Game'>Sandbox Symphony</a><br>
			<a href='kitchenmagician.html' title='Kitchen Magician Game'>Kitchen Magician</a><br>
			<a href='sidsays.html' title='Sid Says Game'>Sid Says</a><br>
			<a href='mixitup.html' title='Mix It Up Game'>Mix It Up</a><br>
			<a href='saywhat.html' title='Say What? Game '>Say What?</a><br>
			<a href='collectionjar.html' title='Collection Jar Game'>Collection Jar</a><br>
			<a href='characterjournals.html' title='Journals Game'>Journals</a><br>
			</b>
	<div>
	<br />
	<b>
		</b>
		</div><!--textContainer-->
		<div style="clear:both"></div>
		</td></tr></table>
		</div><!--noFlashContent-->
		</div><!--whiteMiddle-->
		<div class="whiteBottom"></div>
		</div><!--no flash message-->
</td>
	</tr>
	<tr>
		<td width="31" height="60"><img src="media/images/nonflash/sidthesciencekid_11.png" width="31" height="60" alt=""></td>
		<td width="154" height="60" colspan="2"><a href='/tvschedules/stationfinder.html'><img src="media/images/nonflash/sidthesciencekid_12.png" width="154" height="60" border=0 alt="TV Schedule"></a></td>
		<td width="775" height="60" colspan="6"><img src="media/images/nonflash/sidthesciencekid_13.png" width="775" height="60" alt=""></td>
	</tr>
	<tr>
		<td width="31" height="1"><img src="media/images/nonflash/spacer.gif" width="31" height="1" alt=""></td>
		<td width="57" height="1"><img src="media/images/nonflash/spacer.gif" width="57" height="1" alt=""></td>
		<td width="97" height="1"><img src="media/images/nonflash/spacer.gif" width="97" height="1" alt=""></td>
		<td width="39" height="1"><img src="media/images/nonflash/spacer.gif" width="39" height="1" alt=""></td>
		<td width="295" height="1"><img src="media/images/nonflash/spacer.gif" width="295" height="1" alt=""></td>
		<td width="98" height="1"><img src="media/images/nonflash/spacer.gif" width="98" height="1" alt=""></td>
		<td width="97" height="1"><img src="media/images/nonflash/spacer.gif" width="97" height="1" alt=""></td>
		<td width="109" height="1"><img src="media/images/nonflash/spacer.gif" width="109" height="1" alt=""></td>
		<td width="137" height="1"><img src="media/images/nonflash/spacer.gif" width="137" height="1" alt=""></td>
	</tr>
</table>
</div>


<!--noFlash full graphic content-->
<script type="text/javascript" language="Javascript">
	placeShell("gameIndex");
</script>
<div id="sponsors" class="sponsors">
<div id="sponsorsMini" class="sponsorsMini">
<div class="reg-footer-kidsplay"><a href='https://www.pbskidsplay.org/playnow/?CPLAYSM&amp;btn=1'><img src='media/images/pbskidsplay.gif' border=0></a></div>
<div class="cr">&copy; 2011 The Jim Henson Company. Characters and elements are trademarks of The Jim
Henson Company. All Rights Reserved.</div>

<br ><br >

<a class="quickLinks" href="index.html">Home</a> |
<a class="quickLinks" href="games.html">Games</a> |
<a class="quickLinks" href="videoplayer.html">Watch & Sing</a> |
<a class="quickLinks" href="funbook.html">Fun Book</a> <br>
<a class="quickLinks" href="parentsteachers/index.html">Parents</a> |
<a class="quickLinks" href="https://www.pbslearningmedia.org/collection/sid-the-science-kid/">Teachers</a> |
<a class="quickLinks" href="parentsteachers/siteMap.html">Site Map</a> |
<a class="quickLinks" href="https://pbskids.org/privacy/">PBS Kids Privacy Policy</a>

</div>

</div><!--sponsors-->
</center>

</body>
</html>
