{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = '' %}
{% set keywords = '' %}
{% set pageTitle = " . Super Duper Antibodies" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/sid_germs_simple.png' %}
{% set alt = 'Super Duper Antibodies' %}

{% set msg = "We're glad you're here! To play the Germs game with Sid and his dad, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you will learn about all the muscles in your body and how they move by clicking on Sid. Click here to play: <a href=\"https://pbskids.org/sid/germs.html\">https://pbskids.org/sid/germs.html</a>
" %}


{% set game = "germs" %}