{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Watch video, sing songs, and play games with Sid while you explore preschool science.' %}
{% set keywords = 'Henson, Science, Preschool, Games, Activities, Video' %}
{% set pageTitle = "" %}
{% set legacy = '' %}


{% set imgSrc = 'media/images/noFlashSid.jpg' %}
{% set alt = 'Sid' %}

{% set msg = "We're glad you're here! Download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a> to <a href='videoplayer.html'>watch video</a>, <a href='funbook.html'>print activities</a>, and <a href='games.html'>play games</a> with Sid the Science Kid. 

" %}


{% set game = "treehouse" %}