{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Play this fun science game for kids to learn about the senses!' %}
{% set keywords = 'Super Fab Lab Game, Senses Game, Five senses game, Kids perception game' %}
{% set pageTitle = " . I Sense" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/isense.png' %}
{% set alt = 'I Sense' %}

{% set msg = "We're glad you're here! To play the I Sense game, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can learn all about the senses by clicking on objects in Sid's classroom. Click here to play: <a href=\"https://pbskids.org/sid/isense.html\">https://pbskids.org/sid/isense.html</a>
" %}


{% set game = "isense" %}