{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Sid hosts a cooking-style show for baby Zeke! Kids investigate the before and after states of food to understand how heat changes them.' %}
{% set keywords = 'Zeke, Food Game, Cooking Game, Kitchen Game, Transformation and Change, Change caused by heat energy' %}
{% set pageTitle = " . Kitchen Magician" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/kitchenmagician_simple.png' %}
{% set alt = 'Kitchen Magician' %}

{% set msg = "We're glad you're here! To play the Kitchen Magician game with Sid and Zeke, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, Sid hosts a cooking show and you can learn how heat changes food. Click here to play: <a href=\"https://pbskids.org/sid/kitchenmagician.html\">https://pbskids.org/sid/kitchenmagician.html</a>
" %}


{% set game = "kitchenMagician" %}