{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Help Sid and May build an airplane. Then help them fly it through three different courses! Pick Training level to control steering, or choose Expert level to control speed and steering! Try playing with a friend!' %}
{% set keywords = 'Sid the Science Kid, May, airplanes, flight, flying, fly game, speed game, driving game, courses, levels, planes' %}
{% set pageTitle = " . Let's Fly!" %}
{% set legacy = '' %}
{% set specialInclude = '<script src="https://pbskids.org/gas/static/adapter/js/pbs-kids-gas.js"></script>
<script src="https://pbskids.org/gas/static/adapter/js/jquery/jquery.min.js"></script>' %}


{% set imgSrc = 'media/images/journals_icons_gameindex.png' %}
{% set alt = 'Journals' %}

{% set msg = "We're glad you're here! To fly a remote airplane with Sid and May, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can make your own creations and share them with your friend. Click here to play:  <a href=\"https://pbskids.org/sid/journals.html\">https://pbskids.org/sid/journals.html</a>" %}


{% set game = "flyWithMe" %}