{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Learn about food groups with Sid! By preparing a meal with magnets on the fridge, kids learn it is healthy to mix it up and they should eat foods from each group.' %}
{% set keywords = 'Health Game, Food Game, Food Group Game, Kitchen Game, Cooking Game, Healthy food game' %}
{% set pageTitle = " . Mix it up" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/food_simple.png' %}
{% set alt = 'Mix it up' %}

{% set msg = "We're glad you're here! To play the Mix It Up!, game you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you will learn all about the food groups by preparing a meal with magnets on the fridge. Click here to play: <a href=\"https://pbskids.org/sid/mixitup.html\">https://pbskids.org/sid/mixitup.html</a>
" %}


{% set game = "mixItUp" %}