{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Play this observation game to find out what happens when Sid leaves a sandwich inside his lunchbox. Kids explore the "life" of a sandwich and learn the sandwich starts to decay and grow mold.' %}
{% set keywords = 'Lunchbox Game, Sandwich game, Moldy sandwich game, Super Fab Lab Game, Observe Change game, Decay game, Kids Science game' %}
{% set pageTitle = " . Mystery Lunchbox " %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/mysterylunchbox_simple.png' %}
{% set alt = 'Mystery Lunchbox' %}

{% set msg = "We're glad you're here! To play the Mystery Lunchbox game, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can find out what happens when Sid leaves a sandwich in his lunchbox. Click here to play: <a href=\"https://pbskids.org/sid/mysterylunchbox.html\">https://pbskids.org/sid/mysterylunchbox.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "mysteryLunchbox" %}