{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Help May, Gabriela, Gerald and Sid play Red Light Green Light outside at the park!  When Teacher Susie says green light, tap the spacebar as fast as you can to get your character to the finish line first! But listen closely - when Teacher Susie says red light, you have to stop!' %}
{% set keywords = 'Sid the Science Kid, May, Gabriela, Gerald, outdoors, outside, park, games, red light green light, Teacher Susie, race game, character game' %}
{% set pageTitle = " . Red Light Green Light " %}
{% set legacy = '' %}


{% set imgSrc = 'media/images/journals_icons_gameindex.png' %}
{% set alt = 'Journals' %}

{% set msg = "We're glad you're here! To fly a remote airplane with Sid and May, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can make your own creations and share them with your friend. Click here to play: <a href=\"https://pbskids.org/sid/journals.html\">https://pbskids.org/sid/journals.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "redLightGreenLight" %}