{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Play this fun kids music game and learn about beat and rhythm.  You can activate 12 musical blocks all with different sounds. Kids can play along to Sid the Science Kid songs!' %}
{% set keywords = 'Music Game, Kids music game, Block Game, Kids Sound Game, Sandbox Game, Kids Music Beats, Kids Rhythm game' %}
{% set pageTitle = " . Sandbox Symphony " %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/musicblocks_simple.png' %}
{% set alt = 'Sandbox Symphony' %}

{% set msg = "We're glad you're here! To play the Sandbox Symphony game with Sid, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can click on blocks to learn about beat and rhythm. Click here to play: <a href=\"https://pbskids.org/sid/sandboxsymphony.html\">https://pbskids.org/sid/sandboxsymphony.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "sandboxSymphony" %}