{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Play a fun animal sounds with Sid and Gabriela!  Kids learn that the same sound may be called different things in English and Spanish.' %}
{% set keywords = 'Animal Game, Kids Spanish game, Animal sounds game, Super Fab Lab Game, Animal Communication game, Kids animal game' %}
{% set pageTitle = " . Say What? " %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/eyechart_simple.png' %}
{% set alt = 'Say What?' %}

{% set msg = "We're glad you're here! To play the Say What? game, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player inst alled, you can listen to fun animal sounds in English and Spanish with Sid and Gabriela. Click here to play: <a href=\"https://pbskids.org/sid/saywhat.html\">https://pbskids.org/sid/saywhat.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "sayWhat" %}