{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Learn about different types of scientists with Gabriela and her mom in this fun exhibit in the Science Center!' %}
{% set keywords = 'Sid the Science Kid, Gabriela, Dr. Cordova, marine biologist, astronaut, geologist, wildlife biologist, chemist, meteorologist, science center, scientist, scientist game, dress up game' %}
{% set pageTitle = " . I Want to be a Scientist! " %}
{% set legacy = '' %}


{% set imgSrc = 'media/images/scientist_simple.png' %}
{% set alt = 'I Want to be a Scientist' %}

{% set msg = "We're glad you're here! To learn all about scientists with Gabriela, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can make your own creations and share them with your friend. Click here to play: <a href=\"https://pbskids.org/sid/journals.html\">https://pbskids.org/sid/journals.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "scientist" %}