{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Sid is at a display in a Science Center where a shadow game has been set up.  The player is given a card featuring a collection of shapes, and must match the shapes by selecting and placing them on the glass board.  You turn on the light source to check your shadow and see if you have made a match.  Make a few matches and see Sid make silly shadow puppets!  Players are introduced to light sources, shadows and why they appear, and shapes.' %}
{% set keywords = 'Shadow Show, Shadow Game, Sid, Sid the Science Kid, Science Center, Light Game, Puzzle Game, Shapes Game, Shadow Puppets, Science Games' %}
{% set pageTitle = " . Shadow Show " %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/shadow_simple.png' %}
{% set alt = 'Shadow Show' %}

{% set msg = "We're glad you're here! To play the Shadow Show game with Sid, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, this fun puzzle game will teach you about light and shadows using a variety of fun shapes. Click here to play: <a href=\"https://pbskids.org/sid/shadowshow.html\">https://pbskids.org/sid/shadowshow.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "shadow" %}