{% extends 'sid/includes/sidPage.html.twig' %}
{% set desc = 'Dress Gerald for the different seasons! Kids choose clothes, hats and shoes to dress Gerald and get him ready for different kids of weather.' %}
{% set keywords = 'Gerald, Weather Game, Clothes Game, Seasons, Dress Up Game, Summer, Winter, Rain' %}
{% set pageTitle = " . Gerald's Weather Wheel" %}
{% set legacy = 'Legacy' %}


{% set imgSrc = 'media/images/weatherwheel_simple.png' %}
{% set alt = 'Gerald\'s Weather Wheel' %}

{% set msg = "We're glad you're here! To play the Weather Wheel with Gerald, you'll need to download the latest version of <a href=\"https://pbskids.org/cgi-registry/kidsbridge.cgi?context=sid_flash\">Adobe Flash Player</a>. Once you have the Adobe Flash Player installed, you can click on the wheel to dress Gerald for all sorts of weather. Click here to play: <a href=\"https://pbskids.org/sid/weatherwheel.html\">https://pbskids.org/sid/weatherwheel.html</a><br><br>The site also has many early science exploration resources for <a href=\"parentsteachers/index.html\">Parents and Teachers</a>." %}


{% set game = "weather" %}