<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>WordWorld | PBS KIDS</title>
<meta name="description" content="In Word World, words come alive, words save the day, and words become a child's best friend. Welcome to WordWorld, the first preschool series where words are truly the stars of the show!">
<meta name="keywords" content="WordWorld, preschool, series, pbs, pbskids, animated, words, wordfriends, spelling, learning, reading, letters, parents, teachers, characters, literacy, dog, duck, pig, frog, bear, sheep, build a word, wordplay, wordthings, vocabulary, comprehension, print awareness, child development">

<link rel="stylesheet" type="text/css" href="incl/main.css" media="screen">
<link rel="stylesheet" type="text/css" href="incl/print.css" media="print">

{% include 'template_includes/flash_embed.html' %}
{% include 'template_includes/bridge_js_include.html' %}

</head>

<body bgcolor="#ffffff">






{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}








<div align="center">


<div id="flashdiv">
	
    <img src="images/header_print_home.gif" alt="" class="printme">

<div id="header">
 
<a href="http://www.pbskids.org"><img src="images/pbskids_logo.gif" alt="PBS KIDS" width="86" height="78"></a><img src="images/header_middle1.jpg" alt="" width="102" height="78"><img src="images/wordworld_logo.jpg" alt="WordWorld" width="486" height="78"><img src="images/pt_header_noflash.jpg" alt="" width="674" height="103"></div>

<div id="wrapper"><!-- CREATES THE MAIN PAGE AREA AND GREEN BG REPEAT -->
  <div id="innercontainer"><!-- CREATES THE TOP BG IMAGE -->
    <div id="maincolumnwide">
      <p>&nbsp;</p>
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
        	<td width="100">&nbsp;</td>
          <td width="108"><img src="images/charactersmall_pig.gif" alt="Frog" width="108" height="110"></td>
          <td><h1 align="center"><strong>Oops!</strong></h1>
            <p><strong>The WordWorld site  uses the Flash plug-in. Get a grown-up to help you install the flash plug-in and then try this page again!</strong></p>
            <p align="center"><a href="http://www.macromedia.com/go/getflashplayer/"><strong>Click here to get the Flash plug-in.</strong></a></p></td>
          <td width="108"><img src="images/charactersmall_frog.gif" alt="Frog" width="108" height="107"></td>
        </tr>
      </table>
      <p>&nbsp;</p>
    </div>
    <!-- END MAINCOLUMN -->
    
    <div class="pusher"></div><!-- THIS DIC MUST BE PRESENT AFTER THE MAINCOLUMN -->
  </div><!-- END INNER CONTAINER -->
</div><!-- END WRAPPER -->

<div id="pagebottom"></div>

<p>
	
          <a href="/cgi-registry/localize/kids_airdates.cgi?title_id=WOWO">
	
       <img src="images/tvtimes.gif" alt="TV Times" width="90" height="27"></a><a href="parentsandteachers/index.html"><img src="images/parentsteachers.gif" alt="Parents &amp; Teachers" width="166" height="27"></a></p>

    
</div>



<script type="text/javascript">
		// <![CDATA[

		var so = new PBS_SWFObject("flash/ww_shell_v2.swf?(none)&station=(none)", "ww_shell_v2", "760", "620", "8", "#ffffff");
		so.addVariable("allowScriptAccess", "always");
		so.addParam("wmode", "transparent");
		so.addParam("seenIntro", "yes");
		so.addParam('allowScriptAccess', 'always');
		PBS_enable_cdn(so);
		so.write("flashdiv");

		// ]]>
</script>



</div>


<table border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td><a href="http://pbskids.org/read/" title="Part of PBS Kids Raising Reader - Click to got to the site!"><img src="images/rr_logo.gif" alt="Part of PBS KIDS Raising Readers" width="111" height="52" border="0"></a></td>
<td style="padding-left: 35px; padding-right: 35px;"><div id="localbox">
  <div id="localboxtop"><img src="images/spacer.gif" alt="" width="1" height="1"></div>

       
        <table width="350" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            
              
			<td align="center" valign="top"><strong>Find out when WordWorld is on <a href="/tvschedules/localizer.html?dest=/wordworld/index_flash.html&nola=WOWO">in your town.</a></strong></td>
			
          </tr>
        </table>
        


<div id="localboxbottom"><img src="images/spacer.gif" alt="" width="1" height="1"></div>
</div></td>
<td><a href="http://pbskids.org/read/" title="Part of PBS Kids Raising Reader - Click to got to the site!"><img src="images/island_logo.gif" alt="Part of PBS KIDS Island" width="92" height="73" border="0"></a></td>
</tr>
</table>


<div id="apps">
 			<a href="http://pbskids.org/mobile/wordworld-fun-with-wordfriends.html" target="_blank"><img src="images/WW_Producer_Banner.png"></a>
</div>

<div id="footer">
  <table border="0" cellpadding="3" cellspacing="0" id="footertable">
    <tr>
      <td colspan="5" valign="top">&copy; 2007 WordWorld, LLC. WordWorld, WordThings, WordFriends and associated logos are trademarks of WordWorld, LLC. Patent pending.<br><a href="http://pbskids.org/privacy/index.html">Privacy Policy</a>
</td>
    </tr>
    <tr>
    <td>&nbsp;</td>
<td valign="top" class="footercol2"><span class="footercol1">Produced by:<br>
          <a href="http://www.wordworld.com" title="Word World LLC website"><img src="images/ww_footer_logo_small.gif" alt="WordWorld" width="130" height="75"></a></span></td>
    <td valign="top" class="footercol3"><span class="footercol4">Funded in part by:<br>
          <a href="http://www.ed.gov/index.jhtml" title="Department of Education"><img src="images/logo_doe.gif" alt="Department of Education" width="70" height="72" border="0"></a></span><br></td>
      <td align="center" valign="middle" class="footercol4"><img src="images/max_logo.gif" alt="Adobe 2008 MAX Awards - Award Finalist" width="116" height="58" border="0"></td>
      
    <td>&nbsp;</td>
    </tr>
  </table>
</div>

</body>



</html>



