<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <meta name="description" content="Sing, dance, feel the musical beats with Lomax and Delta, as you and your kids become musically intelligent.">
      <meta name="keywords" content="Music, rhythm, beat, Lomax, Delta, preschool, Songs, folk music, intelligence, parents,  teachers, activities, song lyrics, songs, lesson ideas.">

      <title>{{pageTitle|raw}}Lomax | The Hound of Music</title>
      <link rel="stylesheet" type="text/css" href="styles/styles.css" />
      <link rel="stylesheet" type="text/css" href="styles/pt_styles.css" />
      <script LANGUAGE="JavaScript">
      <!--
      function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
         var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
         if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
      }
      function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
         d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
      for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
      if(!x && d.getElementById) x=d.getElementById(n); return x;
      }
      function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
      }
      function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
         if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
      }
            //-->
      </script>
   </head>
   <body onload="MM_preloadImages('imgs/btn_nav_home_over.gif','imgs/btn_nav_friends_over.gif',
      'imgs/btn_nav_games_over.gif','imgs/btn_nav_music_over.gif','imgs/btn_nav_video_over.gif',
      'imgs/btn_pt_about_over.gif','imgs/btn_pt_tvsched_over.gif','imgs/btn_pt_activities_over.gif',
      'imgs/btn_pt_resources_over.gif','imgs/btn_pt_site_over.gif','imgs/btn_pt_contact_over.gif');">
      <script>

                
  
{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}



      <div id="container">
         <div id="header" style="color: #000000;">
   <table width="100%">
      <tr>
         <td width="25%" align="center">
            <a href="http://www.pbskids.org"><img src="imgs/logo_pbs_kids.gif" width="50" height="62" border="0" alt="PBS Kids Logo" title="PBS Kids Logo" align="absMiddle"></a>
         </td>
         <td width="25%" align="center">
            <a href="parents_teachers.html"><img src="imgs/nav_parents_teachers.gif" width="228" height="36" border="0" alt="Parents and Teachers" title="Parents and Teachers" align="absMiddle"></a>
         </td>
         <td width="25%" align="center">
             
            <a href="/cgi-registry/localize/kids_airdates.cgi?title_id=LOMX"><img src="imgs/nav_tv_schedule.gif" width="127" height="26" border="0" alt="TV Schedule" title="TV Schedule" align="absMiddle"></a>
            
         </td>
         <td width="25%" align="center" style="color: #000000;">
            
            <a href="/tvschedules/localizer.html?dest=/lomax/parents_teachers.html&nola=LOMX"><img src="imgs/nav_local_station.gif" width="109" height="29" border="0" alt="Find Your Local PBS TV Station" title="Find Your Local PBS TV Station" align="absMiddle"></a>
            
            
         </td>
      </tr>
   </table>
   
   
   
</div>

         <div id="nav">
            <div id="nav_menu">
               <div id="div_btn_nav_home">
                  <a href="index.html"><img src="imgs/btn_nav_home.gif" border="0" width="143" height="140" alt="Lomax Home" name="btn_nav_home"  onmouseover="MM_swapImage('btn_nav_home','','imgs/btn_nav_home_over.gif',1);" onmouseout="MM_swapImgRestore();"></a>
               </div>
               <div id="div_btn_nav_friends">
                  <a href="character.html"><img src="imgs/btn_nav_friends.gif" border="0" width="179" height="48" alt="Lomax and Friends" name="btn_nav_friends"  onmouseover="MM_swapImage('btn_nav_friends','','imgs/btn_nav_friends_over.gif',1);" onmouseout="MM_swapImgRestore();"></a>
               </div>
               <div id="div_btn_nav_games">
                  <a href="games.html"><img src="imgs/btn_nav_games.gif" border="0" width="126" height="46" alt="Lomax Games" name="btn_nav_games"  onmouseover="MM_swapImage('btn_nav_games','','imgs/btn_nav_games_over.gif',1);" onmouseout="MM_swapImgRestore();"></a>
               </div>
               <div id="div_btn_nav_music">
                  <a href="music.html"><img src="imgs/btn_nav_music.gif" border="0" width="122" height="45" alt="Lomax Music" name="btn_nav_music"  onmouseover="MM_swapImage('btn_nav_music','','imgs/btn_nav_music_over.gif',1);" onmouseout="MM_swapImgRestore();"></a>
               </div>
               <div id="div_btn_nav_video">
                  <a href="video.html"><img src="imgs/btn_nav_video.gif" border="0" width="123" height="46" alt="Lomax Videos" name="btn_nav_video"  onmouseover="MM_swapImage('btn_nav_video','','imgs/btn_nav_video_over.gif',1);" onmouseout="MM_swapImgRestore();"></a>
               </div>
            </div>
         </div>
         {% block mainContent %}{% endblock %}
         <div id="bottom">
         </div>
      </div>
   </body>
</html>
