<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <meta name="description" content="Sing, dance, feel the musical beats with Lomax and Delta, as you and your kids become musically intelligent.">
      <meta name="keywords" content="Music, rhythm, beat, Lomax, Delta, preschool, Songs, folk music, intelligence.">

      <title>{{pageTitle|raw}}Lomax | The Hound of Music</title>
      <link rel="stylesheet" type="text/css" href="styles/styles.css" />
      <script type="text/javascript" src="/includes/flash/swfobject.js"></script>
   </head>
   <body>


{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}



      <div id="content">
         <div id="header" style="color: #000000;">
   <table width="100%">
      <tr>
         <td width="25%" align="center">
            <a href="http://www.pbskids.org"><img src="imgs/logo_pbs_kids.gif" width="50" height="62" border="0" alt="PBS Kids Logo" title="PBS Kids Logo" align="absMiddle"></a>
         </td>
         <td width="25%" align="center">
            <a href="parents_teachers.html"><img src="imgs/nav_parents_teachers.gif" width="228" height="36" border="0" alt="Parents and Teachers" title="Parents and Teachers" align="absMiddle"></a>
         </td>
         <td width="25%" align="center">
             
            <a href="/cgi-registry/localize/kids_airdates.cgi?title_id=LOMX"><img src="imgs/nav_tv_schedule.gif" width="127" height="26" border="0" alt="TV Schedule" title="TV Schedule" align="absMiddle"></a>
            
         </td>
         <td width="25%" align="center" style="color: #000000;">
            
            <a href="/tvschedules/localizer.html?dest=/lomax/index.html&nola=LOMX"><img src="imgs/nav_local_station.gif" width="109" height="29" border="0" alt="Find Your Local PBS TV Station" title="Find Your Local PBS TV Station" align="absMiddle"></a>
            
            
         </td>
      </tr>
   </table>
   
   
   
</div>

         <div id="swf">
            <div id="flashcontent"><img src="imgs/lomax_home.jpg">
<br>
Flash 9 Player is required to view this website.
<a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Please click here to download the free Flash player</a></div>
            {% block flashScript %}{% endblock %}
         </div>
         <div id="footer">
            <table cellpadding="0" cellspacing="0" border="0" width="750px" height="100px">
               <tr>
                  <td align="center" width="20%" height="20px">Funded By:</td>
                  <td align="center" width="20%">Funded By:</td>
                  <td align="center" width="20%">Produced By:</td>
                  <td align="center" width="20%">Produced By:</td>
                  <td align="center" width="20%">Produced By:</td>
               </tr>
               <tr>
                  <td align="center" height="80px"><img src="imgs/logo_bingham.gif" width="63" height="23" border="0" alt="The Bingham Trust" title="The Bingham Trust"></td>
                  <td align="center"><img src="imgs/logo_nefta.gif" width="44" height="73" border="0" alt="National Endownment For The Arts" title="National Endownment For The Arts"></td>
                  <td align="center"><img src="imgs/logo_sirius.gif" width="53" height="71" border="0" alt="Sirius Productions" title="Sirius Productions"></td>
                  <td align="center"><img src="imgs/logo_cptv.gif" width="68" height="59" border="0" alt="CPTV" title="CPTV"></td>
                  <td align="center"><img src="imgs/logo_eyevox.jpg" width="140" height="79" border="0" alt="Eyevox" title="Eyevox"></td>
               </tr>
            </table>
         </div>
         
         <span style="LINE-HEIGHT: 18px">
   <a href="index.html">Home</a>
   | <a href="games.html">Games</a>
   | <a href="character.html">Printables</a>
   | <a href="video.html">Videos</a>
   | <a href="music.html">Music</a>
   | <a href="parents_teachers.html">Parents &amp; Teachers</a>
   <br>© 2008 Sirius Thinking, Ltd. All rights reserved.
   <br><a href="http://pbskids.org/privacy/">PBS Kids Privacy Policy</a>
</span>

      </div>
   </body>
</html>
