{% extends 'lunchlab/includes/lunchLabPage.html.twig' %}
{% set pageTitle = 'Credits' %}


{% block mainContent %}<div id="containerContainer">
 <div id="pageLoader"></div>
 <div class="clearfix contentContainer">
  <div id="content" class="clearfix">
   <div class="center frame">
    <div class="topRightCorner"></div>
    <div class="topLeftCorner"></div>
    <div class="bottomRightCorner"></div>
    <div class="bottomLeftCorner"></div>
    <div class="topBar"></div>
    <div class="bottomBar"></div>
    <div class="leftBar"></div>
    <div class="rightBar"></div>
    <h1>Credits</h1>
    <h2 class="toggler button major">Production Team</h2>
    <div style="display:none;">
     <h3>Executive Producers</h3>
     <p>Dave Schlafman<br>Evan Sussman</p>
     <h3>Creators</h3>
     <p>Dave Schlafman<br>Evan Sussman</p>
     <h3>Website and Games Produced By</h3>
     <p>CloudKid<br>Boston, MA</p>
     <h3>Video Content Produced By</h3>
     <p>Hero4Hire Creative<br>Boston, MA</p>
    </div>
    <h2 class="toggler button major">Web Team</h2>
    <div style="display:none;">
     <h3>Interactive Director</h3>
     <p>Matt Karl</p>
     <h3>Creative Director</h3>
     <p>Dave Schlafman</p>
     <h3>Animation Director</h3>
     <p>Mike Annear</p>
     <h3>Art Director</h3>
     <p>Jen Blicharz</p>
     <h3>Technical Producer</h3>
     <p>Kendra Mattozzi</p>
     <h3>Scripts</h3>
     <p>Mike Annear<br>Kendra Mattozzi</p>
     <h3>Animation</h3>
     <p>Mike Annear<br>Dan Flynn<br>Kim Hui<br>Geoff Marian</p>
     <h3>Developers</h3>
     <p>Eric Ente<br>Matt Karl<br>Andrew Start</p>
     <h3>Artwork</h3>
     <p>Nathalie Barahona<br>Jen Blicharz<br>Joe Boyle<br>Niki Foley<br>Kim Hui<br>Ryan Young</p>
     <h3>Design</h3>
     <p>Mark Grambau<br>Heather Mendonca<br>Matt Karl</p>
     <h3>Voice Talent</h3>
     <p>Miya Duffy<br>Adam Freeman<br>Joe Gaudet<br>Megan Goltermann<br>George Ledoux<br>Kathleen McInerney<br>Abby Rose<br>Bobby Smithney</p>
     <h3>Sound Design</h3>
     <p>Brian Smith</p>
    </div>
    <h2 class="toggler button major">Sully's Delivery Day</h2>
    <div style="display:none;">
     <h3>Interactive Director</h3>
     <p>Matt Karl</p>
     <h3>Creative Director</h3>
     <p>Dave Schlafman</p>
     <h3>Animation Director</h3>
     <p>Mike Annear</p>
     <h3>Technical Producer</h3>
     <p>Kendra Mattozzi</p>
     <h3>Scripts</h3>
     <p>Mike Annear</p>
     <h3>Design</h3>
     <p>Joe Boyle<br>Heather Mendonca<br>Matt Karl</p>
     <h3>Storyboards and Animatics</h3>
     <p>Mike Annear<br>Joe Boyle<br>Tim Prendergast</p>
     <h3>Animation</h3>
     <p>Mike Annear<br>Joe Boyle<br>Kim Hui<br>Geoff Marian<br>Tim Prendergast</p>
     <h3>Artwork</h3>
     <p>Jen Blicharz<br>Joe Boyle<br>Kim Hui</p>
     <h3>Game Design</h3>
     <p>Mike Annear<br>Howie Begosa<br>Kim Hui</p>
     <h3>Developers</h3>
     <p>Eric Ente<br>Matt Karl<br>Andrew Start</p>
     <h3>Production Assistant</h3>
     <p>Nathalie Magri</p>
     <h3>Quality Assurance Testing</h3>
     <p>Allison Johnson<br>Samantha Simon</p>
     <h3>Voice Talent</h3>
     <p>Peter Acker<br>Joe Gaudet<br>Megan Goltermann<br>George Ledoux<br>Abby Rose</p>
     <h3>Music</h3>
     <p>Daniel Koren</p>
     <h3>Sound Design</h3>
     <p>Brian Smith</p>
    </div>
    <h2 class="toggler button major">Snacker Stacker</h2>
    <div style="display:none;">
     <h3>Interactive Director</h3>
     <p>Matt Karl</p>
     <h3>Creative Director</h3>
     <p>Dave Schlafman</p>
     <h3>Animation Director</h3>
     <p>Mike Annear</p>
     <h3>Technical Producer</h3>
     <p>Kendra Mattozzi</p>
     <h3>Scripts</h3>
     <p>Mike Annear<br>Kendra Mattozzi</p>
     <h3>Design</h3>
     <p>Joe Boyle<br>Heather Mendonca</p>
     <h3>Storyboards and Animatics</h3>
     <p>Mike Annear<br>Tim Prendergast</p>
     <h3>Animation</h3>
     <p>Mike Annear<br> Joe Boyle<br>Kim Hui<br>Geoff Marian<br>Tim Prendergast</p>
     <h3>Artwork</h3>
     <p>Jen Blicharz<br>Joe Boyle<br>Kim Hui</p>
     <h3>Game Design</h3>
     <p>Howie Begosa</p>
     <h3>Developers</h3>
     <p>Eric Ente<br>Matt Karl<br>Andrew Start</p>
     <h3>Voice Talent</h3>
     <p>Joe Gaudet<br>Kathleen McInerney<br>Bobby Smithney</p>
     <h3>Music</h3>
     <p>Daniel Koren</p>
     <h3>Sound Design</h3>
     <p>Brian Smith</p>
     <h3>Production Assistant</h3>
     <p>Nathalie Magri</p>
     <h3>Quality Assurance Testing</h3>
     <p>Mary Cheever<br>Allison Johnson<br>Katrina Manoff</p>
    </div>
    <h2 class="toggler button major">Cast</h2>
    <div style="display:none;">
     <h3>Professor Fizzy</h3>
     <p>Joe Gaudet</p>
     <h3>Sully the Cell</h3>
     <p>George Ledoux</p>
     <h3>Mixie Bot</h3>
     <p>Kathleen McInerney</p>
     <h3>Fast Food Freddy</h3>
     <p>Bobby Smithney</p>
     <h3>Corporal Cup</h3>
     <p>Megan Goltermann</p>
     <h3>Henry</h3>
     <p>Adam Freeman</p>
     <h3>Avril</h3>
     <p>Miya Duffy</p>
     <h3>Voice Direction</h3>
     <p>Evan Sussman</p>
    </div>
    <h2 class="toggler button major">Video Content</h2>
    <div style="display:none;">
     <h3>Creative Director</h3>
     <p>Evan Sussman</p>
     <h3>Animation Director</h3>
     <p>Dan Flynn</p>
     <h3>Head Writers</h3>
     <p>Ryan Raddatz<br>Will Shepard<br>Evan Sussman</p>
     <h3>Background and Character Design</h3>
     <p>CloudKid</p>
    </div>
    <h2 class="toggler button major">Hook, Line and Stinker</h2>
    <div style="display:none;">
     <h3>Directed By</h3>
     <p>Dan Flynn</p>
     <h3>Written By</h3>
     <p>Evan Sussman</p>
     <h3>Voice Talent</h3>
     <p>Miya Duffy<br>Adam Freeman<br>Joe Gaudet<br>Megan Goltermann</p>
     <h3>Dialogue Editor</h3>
     <p>Patrick Downie</p>
     <h3>Animatics</h3>
     <p>Mike Nordstrom</p>
     <h3>Animation</h3>
     <p>Jamie Budden<br>Dan Flynn</p>
     <h3>After Effects</h3>
     <p>Evan Sussman</p>
     <h3>Lipsync</h3>
     <p>John Moreland</p>
     <h3>Original Score</h3>
     <p>Daniel Koren</p>
     <h3>Sound Design</h3>
     <p>Mookoe Music &amp; Audio</p>
    </div>
    <h2 class="toggler button major">Paint by Blunders</h2>
    <div style="display:none;">
     <h3>Directed By</h3>
     <p>Mike Nordstorm</p>
     <h3>Written By</h3>
     <p>Ryan Raddatz</p>
     <h3>Voice Talent</h3>
     <p>Peter Acker<br>Miya Duffy<br>Adam Freeman<br>Joe Gaudet<br>Kathleen McInerney<br>Bobby Smithney</p>
     <h3>Dialogue Editor</h3>
     <p>Patrick Downie</p>
     <h3>Animatics</h3>
     <p>Mike Nordstorm</p>
     <h3>Animation</h3>
     <p>Jamie Budden<br>Dan Flynn</p>
     <h3>After Effects</h3>
     <p>Evan Sussman</p>
     <h3>Lipsync</h3>
     <p>John Moreland</p>
     <h3>Original Score</h3>
     <p>Daniel Koren</p>
     <h3>Sound Design</h3>
     <p>Mookoe Music &amp; Audio</p>
    </div>
    <h2 class="toggler button major">And The Crowd Goes Nuts!</h2>
    <div style="display:none;">
     <h3>Directed By</h3>
     <p>Alex Small-Butera</p>
     <h3>Written By</h3>
     <p>Will Shepard</p>
     <h3>Voice Talent</h3>
     <p>Peter Acker<br>Miya Duffy<br>Adam Freeman<br>Joe Gaudet<br>Megan Goltermann<br>Kathleen McInerney<br>Bobby Smithney</p>
     <h3>Dialogue Editor</h3>
     <p>Patrick Gownie</p>
     <h3>Animatics</h3>
     <p>Alex Small-Butera</p>
     <h3>Animation</h3>
     <p>Jamie Budden<br><br>Dan Flynn</p>
     <h3>After Effects</h3>
     <p>Evan Sussman</p>
     <h3>Lipsync</h3>
     <p>John Moreland</p>
     <h3>Original Score</h3>
     <p>Daniel Koren</p>
     <h3>Sound Design</h3>
     <p>Mookoe Music &amp; Audio</p>
    </div>
    <h2 class="toggler button major">Lunch Lab Live and Sully Shorts</h2>
    <div style="display:none;">
     <h3>Writers</h3>
     <p>Ryan Raddatz<br>Will Shepard<br>Evan Sussman</p>
     <h3>Storyboards</h3>
     <p>Dan Flynn</p>
     <h3>Voice Talent</h3>
     <p>Peter Acker<br>Joe Gaudet<br>Megan Goltermann<br>George Ledoux<br>Kathleen McInerney<br>Jeremy Peacock</p>
     <h3>Dialogue Editor</h3>
     <p>John Moreland</p>
     <h3>Animatics</h3>
     <p>Alex Small-Butera<br>Dan Flynn</p>
     <h3>Animation</h3>
     <p>Jamie Budden<br>Dan Flynn<br>Mike Nordstorm</p>
     <h3>After Effects</h3>
     <p>John Moreland</p>
     <h3>Lipsync</h3>
     <p>John Moreland</p>
     <h3>Original Score</h3>
     <p>Daniel Koren</p>
     <h3>Sound Design</h3>
     <p>Mookoe Music &amp; Audio</p>
    </div>
    <h2 class="toggler button major">Freezer Burn</h2>
    <div style="display:none;">
     <h3>Directed By</h3>
     <p>Mike Nordstorm<br>Alex Small-Butera</p>
     <h3>Animation</h3>
     <p>Mike Nordstrom<br>Alex Small-Butera</p>
     <h3>Band Animation</h3>
     <p>John Moreland</p>
     <h3>After Effects</h3>
     <p>Evan Sussman</p>
     <h3>Original Songs</h3>
     <p>Mookoe Music &amp; Audio</p>
    </div>
   </div>
  </div>
 </div>
</div>{% endblock %}

