{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/d9c6333623e6357515fcbf17be806273.png" class="textrender subheader" width="96" height="43" alt="Geometry" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/geometry/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/geometry/games/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/geometry/videos/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/geometry/activities/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--2d-to-3d-morphing" href="/cyberchase/activities/2d-to-3d-morphing/" title="2D to 3D Morphing" data-description="Use geometry to make flat shapes &quot;rise up&quot;  into fun 3D objects.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_2dto3dmorphing_thumbnail.jpg" alt="2D to 3D Morphing" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">2D to 3D Morphing</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-rock-candy-crystals" href="/cyberchase/activities/make-rock-candy-crystals/" title="Make Rock Candy Crystals" data-description="Grow crystals with beautiful geometric shapes.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_rockcandyrocks_thumbnail.jpg" alt="Make Rock Candy Crystals" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make Rock Candy Crystals</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-ziffs-carpenters-square" href="/cyberchase/activities/make-ziffs-carpenters-square/" title="Make Ziff's Carpenter's Square" data-description="Make a carpenter's square and use it to measure square corners.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_ziffscarptenerssquare_thumbnail.jpg" alt="Make Ziff's Carpenter's Square" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make Ziff's Carpenter's Square</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-a-mobius-strip" href="/cyberchase/activities/make-mobius-strip/" title="Make a Möbius Strip" data-description="Explore the mysterious properties of a Möbius strip.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_makeamobiusstripv2_thumbnail.jpg" alt="Make a Möbius Strip" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make a Möbius Strip</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--mothers-day-card" href="/cyberchase/activities/mothers-day-card/" title="Mother's Day Card" data-description="Use symmetry to make a beautiful Mother's Day card.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_mothersdaycard_thumbnail.jpg" alt="Mother's Day Card" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Mother's Day Card</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--nature-walk-notebook" href="/cyberchase/activities/nature-walk-notebook/" title="Nature Walk Notebook" data-description="Go on a scavenger hunt to find patterns in nature.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/naturewalknotebook_thumbnail.png" alt="Nature Walk Notebook" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Nature Walk Notebook</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--square-one" href="/cyberchase/activities/square-one/" title="Square One" data-description="Find the square corners with Ziff's Carpenter's Square.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_squareone_thumbnail.jpg" alt="Square One" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Square One</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--step-into-cyberspace" href="/cyberchase/activities/step-cyberspace/" title="Step into Cyberspace" data-description="Make a few simple cuts in paper and step into cyberspace!">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_stepintocyberspace_thumbnail.jpg" alt="Step into Cyberspace" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Step into Cyberspace</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

