{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Masks | PBS Kids' %}
{% set desc = 'If you really want to look like an ARTHUR character, print out these masks and fool everyone!' %}
{% set keywds = 'masks, costumes, performance, play' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-fc9">
 <div class="ruler"></div>
 <div id="mainFeature">
  <div class="print-instr">
   <h4 id="masksHeader">Masks</h4>
   <p>Choose the mask you want to print. Print the mask, then color it in, and stick it onto a big piece of cardboard from the side of a cereal box. Ask a grown-up to help cut out the mask and attach it to a string or a stick. Then you can really look like me and my friends!</p>
   <p>Want to put on a real play using ARTHUR masks? Visit <a href="/arthur/print/playmaker/index.html">Play-Maker</a>.</p>
  </div>
  <div id="printablesNavIcons">
   <ul id="colorNavIcons">
    <li id="mKate" class="icon"><a href="masks.html#pg-kate"><span>Baby Kate</span></a></li>
    <li id="mArthur" class="icon"><a href="masks.html#pg-arthur"><span>Arthur</span></a></li>
    <li id="mDW" class="icon"><a href="masks.html#pg-dw"><span>D.W.</span></a></li>
    <li id="mPal" class="icon"><a href="masks.html#pg-pal"><span>Pal</span></a></li>
    <li id="mFran" class="icon"><a href="masks.html#pg-francine"><span>Francine</span></a></li>
    <li id="mSue" class="icon"><a href="masks.html#pg-sueellen"><span>Sue Ellen</span></a></li>
    <li id="mBuster" class="icon"><a href="masks.html#pg-buster"><span>Buster</span></a></li>
    <li id="mBinky" class="icon"><a href="masks.html#pg-binky"><span>Binky</span></a></li>
    <li id="mMuffy" class="icon"><a href="masks.html#pg-muffy"><span>Muffy</span></a></li>
    <li id="mPrunella" class="icon"><a href="masks.html#pg-prunella"><span>Prunella</span></a></li>
    <li id="mBrain" class="icon"><a href="masks.html#pg-brain"><span>The Brain</span></a></li>
    <li id="mTommy" class="icon"><a href="masks.html#pg-tommy"><span>Tommy Tibble</span></a></li>
    <li id="mTimmy" class="icon"><a href="masks.html#pg-timmy"><span>Timmy Tibble</span></a></li>
    <li id="mFern" class="icon"><a href="masks.html#pg-fern"><span>Fern</span></a></li>
    <li id="mRatburn" class="icon"><a href="masks.html#pg-ratburn"><span>Mr. Ratburn</span></a></li>
    <li id="mThora" class="icon"><a href="masks.html#pg-grandma"><span>Grandma Thora</span></a></li>
    <li id="mRubella" class="icon"><a href="masks.html#pg-rubella"><span>Rubella</span></a></li>
    <li id="mPaige" class="icon"><a href="masks.html#pg-turner"><span>Paige Turner</span></a></li>
    <li id="mMom" class="icon"><a href="masks.html#pg-mom"><span>Mrs. Read</span></a></li>
    <li id="mDad" class="icon"><a href="masks.html#pg-dad"><span>Mr. Read</span></a></li>
    <li id="mHaney" class="icon"><a href="masks.html#pg-haney"><span>Mr. Haney</span></a></li>
   </ul>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/aboutface/index.html" id="rcAboutFace">About Face</a></li>
   <li><a href="/arthur/print/playmaker/index.html" id="rcPlayMaker">Play Maker</a></li>
   <li><a href="/arthur/games/lettersto/index.html" id="rcLettersTo">Letters To...</a></li>
  </ul>
 </div>
</div>{% endblock %}

