{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Masks | PBS Kids' %}
{% set desc = 'If you really want to look like an ARTHUR character, print out these masks and fool everyone!' %}
{% set keywds = 'masks, costumes, performance, play' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-fc9">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="masksHeader">Masks</h4></a>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Arthur's Mask</h1>
    </div>
    <div class="print-btn-right">
     <span class="print-btn-one">Print This Page</span>
    </div>
    <div class="pagination-nav"><span class="prev">Prev</span> <span class="next">Next</span>
     <p>1 of 8 pages</p>
    </div>
   </div>
   <ul class="print-pages" id="printMasks">
    <li id="kate">
     <div class="page">
      <img src="../../i/print/masks/kate_mask.gif" width="586" height="716" alt="Baby Kate " border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="arthur">
     <div class="page">
      <img src="../../i/print/masks/arthur_mask.gif" width="586" height="716" alt="Arthur" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dw">
     <div class="page">
      <img src="../../i/print/masks/dw_mask.gif" width="586" height="716" alt="D.W." border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="pal">
     <div class="page">
      <img src="../../i/print/masks/pal_mask.gif" width="586" height="716" alt="Pal" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="francine">
     <div class="page">
      <img src="../../i/print/masks/francine_mask.gif" width="586" height="716" alt="Francine" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="sueellen">
     <div class="page">
      <img src="../../i/print/masks/sueellen_mask.gif" width="586" height="716" alt="Sue Ellen" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="buster">
     <div class="page">
      <img src="../../i/print/masks/buster_mask.gif" width="586" height="716" alt="Buster" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="binky">
     <div class="page">
      <img src="../../i/print/masks/binky_mask.gif" width="586" height="716" alt="Binky" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="muffy">
     <div class="page">
      <img src="../../i/print/masks/muffy_mask.gif" width="586" height="716" alt="Muffy" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="prunella">
     <div class="page">
      <img src="../../i/print/masks/prunella_mask.gif" width="586" height="716" alt="Prunella" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="brain">
     <div class="page">
      <img src="../../i/print/masks/brain_mask.gif" width="586" height="716" alt="The Brain" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="tommy">
     <div class="page">
      <img src="../../i/print/masks/tommy_mask.gif" width="586" height="716" alt="Tommy Tibble" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="timmy">
     <div class="page">
      <img src="../../i/print/masks/timmy_mask.gif" width="586" height="716" alt="Timmy Tibble" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="fern">
     <div class="page">
      <img src="../../i/print/masks/fern_mask.gif" width="586" height="716" alt="Fern" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="ratburn">
     <div class="page">
      <img src="../../i/print/masks/ratburn_mask.gif" width="586" height="716" alt="Mr. Ratburn" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="grandma">
     <div class="page">
      <img src="../../i/print/masks/thora_mask.gif" width="586" height="716" alt="Grandma Thora" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="rubella">
     <div class="page">
      <img src="../../i/print/masks/rubella_mask.gif" width="586" height="716" alt="Rubella" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="turner">
     <div class="page">
      <img src="../../i/print/masks/turner_mask.gif" width="586" height="716" alt="Paige Turner" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="mom">
     <div class="page">
      <img src="../../i/print/masks/mrsread_mask.gif" width="586" height="716" alt="Mrs. Read " border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="dad">
     <div class="page">
      <img src="../../i/print/masks/mrread_mask.gif" width="586" height="716" alt="Mr. Read" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
    <li id="haney">
     <div class="page">
      <img src="../../i/print/masks/haney_mask.gif" width="586" height="716" alt="Mr. Haney" border="0" class="mask img"><img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
     </div></li>
   </ul>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/aboutface/index.html" id="rcAboutFace">About Face</a></li>
   <li><a href="/arthur/print/playmaker/index.html" id="rcPlayMaker">Play Maker</a></li>
   <li><a href="/arthur/games/lettersto/index.html" id="rcLettersTo">Letters To...</a></li>
  </ul>
 </div>
</div>{% endblock %}

