{% extends 'plumlanding/includes/plumLandingPage.html.twig' %}
{% set pageTitle = 'Outdoor Adventures . Adventure' %}


{% block specialHead %}<script type="text/javascript">
	var miss={"missions": [{"submission": {"user_id": 174869, "name": "998987neela", "image": "/plumlanding/media/submissions/15/02/23/998987neela_394002018_plant_inspector_20150223_2034.png", "additional_data": "Went with: Mom\r\nWhere found: Outdoors\r\nBest plant part: Other\r\nHealth level: Slightly Very (52%)\r\n", "avatar": "mangrovewarbler", "id": 269063, "description": "###### Here's What We Found\r\nthe stem broke off easily.\r\n\r\n###### How This Plant Lives\r\nsun,water,nutrients,soil"}, "title": "Plant Inspector", "badge": {"q1": "What did you discover looking closely at the plant? ", "q2a": "How This Plant Lives", "q2": "What does the plant need to survive? \r\n", "q1a": "Here's What We Found", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "Where does the plant live?", "options": "Indoors;Outdoors", "printquestion": "Where found"}, {"type": "R", "question": "What do you like best about the plant?", "options": "Flowers;Leaves;Seeds;Shape;Other", "printquestion": "Best plant part"}, {"type": "S", "question": "How healthy is it?", "options": "Not;Very", "printquestion": "Health level"}], "level": "Easy", "t2": "Be a Plant Inspector", "id": 1}, "web_text": "Look closely at a plant that lives outside or inside your home. ", "filename": "plant_inspector", "tag": "Outdoor Adventure", "web_text2": "Draw your plant and label what was interesting about it.", "type": "O", "id": 89}, {"submission": {"user_id": 98273, "name": "pinkbird879", "image": "/plumlanding/media/submissions/15/02/24/pinkbird879_582576332_animal_inspector_20150224_1524.png", "additional_data": "Went with:  Sibling\r\nNumber of legs: Four\r\nEats: Plants\r\nFear factor: Very Not (0%)\r\n", "avatar": "walkingstick", "id": 269409, "description": "###### Here's What We Found\r\nGrass\r\n\r\n###### I'd Like to Know More!\r\nHow fat it gets"}, "title": "Animal Inspector", "badge": {"q1": "Tell Plum about the animal you found. What do you think it needs to survive?", "q2a": "I'd Like to Know More!", "q2": "What more do you want to know about this animal?", "q1a": "Here's What We Found", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "How many legs does the animal have?", "options": "None;Two;Four;More than Four", "printquestion": "Number of legs"}, {"type": "R", "question": "What does the animal eat?", "options": "Other animals;Plants;Both", "printquestion": "Eats"}, {"type": "S", "question": "How scary is it?", "options": "Not;Very", "printquestion": "Fear factor"}], "level": "Easy", "t2": "Watch for Wildlife or Pets!", "id": 2}, "web_text": "Look for an animal in your neighborhood. It could be a bird, an insect, or even your pet.", "filename": "animal_inspector", "tag": "Outdoor Adventure", "web_text2": "Draw the animal and label what was interesting about it.", "type": "O", "id": 90}, {"submission": {"user_id": 174466, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/23/New_Earthling_79161062_clouds_or_shadows_20150223_1829.png", "additional_data": "Went with:  Friend\r\nWeather: Sunny\r\nTime of day: Afternoon\r\nHeat: Slightly Very (54%)\r\n", "avatar": "walkingstick", "id": 269041, "description": "###### Here's What We Noticed\r\nthe cluods where swrly\r\n\r\n###### Here's What I'd Like to Know\r\nare culods werly"}, "title": "Clouds or Shadows", "badge": {"q1": "What did you notice about the clouds or shadows you observed and the weather, time, and temperature?", "q2a": "Here's What I'd Like to Know", "q2": "Can you think of some questions that scientists might ask about clouds and the weather?", "q1a": "Here's What We Noticed", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "R", "question": "When did you look?", "options": "Morning;Afternoon;Evening;Night", "printquestion": "Time of day"}, {"type": "S", "question": "How hot was it?", "options": "Not;Very", "printquestion": "Heat"}], "level": "Easy", "t2": "Find Clouds or Shadows", "id": 3}, "web_text": "Look up and around to see all the cool clouds or shadows you can find.", "filename": "clouds_or_shadows", "tag": "Outdoor Adventure", "web_text2": "Draw the clouds or shadows you found.", "type": "O", "id": 91}, {"submission": {"user_id": 175116, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/24/New_Earthling_611132177_favorite_place_in_nature_20150224_1416.png", "additional_data": "Went with:  Other\r\nTime of day:  Afternoon\r\nWeather:  Neither\r\nHeat: Not (22%)\r\n", "avatar": "mangrovewarbler", "id": 269400, "description": "###### Here's What We Found\r\n squirrels lots of birds like wood peckers ravens,crows blue jays and racoons sometimes even deer and sssnakes\r\n\r\n###### Here's What I Thought \r\ni think about if i could see this every day"}, "title": "Favorite Place in Nature", "badge": {"q1": "What animals and plants live in your favorite place in nature?", "q2a": "Here's What I Thought ", "q2": "What thoughts or feelings do you notice as you sit quietly in your favorite place?", "q1a": "Here's What We Found", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How hot was it?", "options": "Not;Very", "printquestion": "Heat"}], "level": "Easy", "t2": "Draw Your Favorite Place in Nature", "id": 4}, "web_text": "Spend some time in your favorite place outdoors. If you don't have one, choose one! ", "filename": "favorite_place_in_nature", "tag": "Outdoor Adventure", "web_text2": "Draw your favorite place in nature.", "type": "O", "id": 92}, {"submission": {"user_id": 174778, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/23/Earthling_960403912_tree_inspector_20150223_1645.png", "additional_data": "Went with:  Friend\r\nMost animals: Other\r\nTime of day:  Afternoon\r\nInterest: Slightly Very (51%)\r\n", "avatar": "manatee", "id": 268995, "description": "###### In My Tree\r\nno animals were in the tree because it is winter.in summer many animals are in that tree.\r\n\r\n###### What Trees Can Tell Us\r\ni learned that some leaves can sirvive winter"}, "title": "Tree Inspector", "badge": {"q1": "What kinds of living things use it or live in the tree? Does life here change when seasons change?", "q2a": "What Trees Can Tell Us", "q2": "What did you learn about nature by looking closely at a tree? ", "q1a": "In My Tree", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "What kinds of animals did you notice most?", "options": "Birds;Insects;Mammals;Other", "printquestion": "Most animals"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "S", "question": "How interesting was it?", "options": "Not;Very", "printquestion": "Interest"}], "level": "Medium", "t2": "See Who Lives on a Tree", "id": 5}, "web_text": "How many different living things use the trees where you live? Pick a tree and spend a few minutes observing it closely. ", "filename": "tree_inspector", "tag": "Outdoor Adventure", "web_text2": "Draw the tree and label all the different living things on it.", "type": "O", "id": 93}, {"submission": {"user_id": 161254, "name": "KGRG4127", "image": "/plumlanding/media/submissions/15/02/23/KGRG4127_568038634_listen_up_20150223_2033.png", "additional_data": "Went with:  Friend\r\nTime of day:  Evening\r\nWeather: Sunny\r\nInterest: Not (25%)\r\n", "avatar": "mangrovewarbler", "id": 269062, "description": "###### What We Heard\r\nTHE ANIMALS ARE MAKING THIS SOUND WITH DIFFRENT PART OF THERE BODY.\r\n\r\n###### How the Sounds Change   \r\nTHE SOUNDS ARE DIFFRENT DEPENDING IN THE WEATHER BECAUSE ALL OF THE ANIMALS MAKE DIFFRENT NOISES ALL THE TIME."}, "title": "Listen Up", "badge": {"q1": "How are the animals making these sounds?", "q2a": "How the Sounds Change   ", "q2": "How are the sounds of nature different at different times of day? In different weather?", "q1a": "What We Heard", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How interesting was it?", "options": "Not;Very", "printquestion": "Interest"}], "level": "Medium", "t2": "Listen for Birds and Insects", "id": 6}, "web_text": "You can't always see animals, but you can sometimes hear them! Go outside and listen for animal sounds.", "filename": "listen_up", "tag": "Outdoor Adventure", "web_text2": "Draw what you heard outside and who you think is making the noise.", "type": "O", "id": 94}, {"submission": {"user_id": 175096, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/24/Earthling_334909612_trash_detective_20150224_0918.png", "additional_data": "Went with: Mom,  Dad,  Friend\r\nMost trash: Paper\r\nHow I felt: Sad\r\nYuckiness: Very Very (100%)\r\n", "avatar": "bilby", "id": 269365, "description": "###### Trash Types\r\nglass and some other thing in the lake and it is like some people don't care and it is hurting U.S. and fish so I would stop it \r\n\r\n###### Trash Places\r\nthat it is a nasty place and it has mice most likely"}, "title": "Trash Detective", "badge": {"q1": "What is the most common type of trash you found? ", "q2a": "Trash Places", "q2": "Were any places more likely to have trash than others? What does that tell you about that place? ", "q1a": "Trash Types", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "C", "question": "What trash did you see?", "options": "Glass;Plastic;Paper;Other", "printquestion": "Most trash"}, {"type": "R", "question": "How did you feel?", "options": "Happy;Sad;Angry;Other", "printquestion": "How I felt"}, {"type": "S", "question": "Was it yucky?", "options": "Not;Very", "printquestion": "Yuckiness"}], "level": "Medium", "t2": "Be a Trash Detective", "id": 7}, "web_text": "Have you seen trash in your neighborhood where it doesn't belong? Where does it come from? Where does it end up? ", "filename": "trash_detective", "tag": "Outdoor Adventure", "web_text2": "Draw a map showing where you found trash in your neighborhood.", "type": "O", "id": 95}, {"submission": {"user_id": 174787, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/23/New_Earthling_694386151_sniffing_safari_20150223_1730.png", "additional_data": "Went with:  Friend\r\nTime of day:  Night\r\nWeather:  Neither\r\nHeat: Slightly Very (52%)\r\n", "avatar": "xanthorialichen", "id": 269018, "description": "###### Outdoor Smells\r\nthe flower smelled like blueberries"}, "title": "Sniffing Safari", "badge": {"q1": "What did you smell? What was making that smell?", "q2a": "Why Things Smell!", "q2": "How are smells different at different times of day? In different weather? ", "q1a": "Outdoor Smells", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How hot was it?", "options": "Not;Very", "printquestion": "Heat"}], "level": "Medium", "t2": "Go on a Sniffing Safari", "id": 8}, "web_text": "What does it smell like when you go outside? Take a walk through your neighborhood and sniff!", "filename": "sniffing_safari", "tag": "Outdoor Adventure", "web_text2": "Draw what you smelled outside and who or what you think makes the smell!", "type": "O", "id": 96}, {"submission": {"user_id": 175101, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/24/New_Earthling_755284978_map_animal_habitats_20150224_1405.png", "additional_data": "Went with: Mom,  Sibling,  Teacher,  Dad,  Friend\r\nTime of day:  Afternoon\r\nWeather: Sunny\r\nHeat: Very Very (100%)\r\n", "avatar": "bilby", "id": 269395, "description": "###### Animal Habitats\r\nThis is a map of wild life and it has a forest, and a lake."}, "title": "Map Animal Habitats", "badge": {"q1": "What animal habitats did you find?", "q2a": "How These Animals Live", "q2": "How do the animals you saw find food, water, and shelter?", "q1a": "Animal Habitats", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How hot was it?", "options": "Not;Very", "printquestion": "Heat"}], "level": "Hard", "t2": "Map Animal Habitats Where You Live", "id": 9}, "web_text": "Find out where animals live in your neighborhood. They might live in playing fields, parking lots, backyards, gardens, parks, or the woods.", "filename": "map_animal_habitats", "tag": "Outdoor Adventure", "web_text2": "Draw a map of the different animal habitats in your neighborhood.", "type": "O", "id": 97}, {"submission": {"user_id": 113245, "name": "abdul0330", "image": "/plumlanding/media/submissions/15/02/23/abdul0330_34857712_count_plants_and_animals_20150223_1311.png", "additional_data": "Went with:  Dad\r\nNoticed most: Plants\r\nWeather: Sunny\r\nThings seen: Very Many (100%)\r\n", "avatar": "rainbowparrotfish", "id": 268884, "description": "###### Here's What We Found\r\nI found  a ladybug,a flower,a tree and a dragonfly\r\n\r\n###### My Square Thoughts\r\nI don't know"}, "title": "Count Plants and Animals", "badge": {"q1": "What plants and animals did you find?", "q2a": "My Square Thoughts", "q2": "Did you find a lot or only a few different kinds of plants and animals? Why do you think that is?", "q1a": "Here's What We Found", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "What did you notice most?", "options": "Insects;Plants;Dirt", "printquestion": "Noticed most"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How many things did you see?", "options": "Few;Many", "printquestion": "Things seen"}], "level": "Hard", "t2": "Count Different Plants and Animals", "id": 10}, "web_text": "Mark off a square outside in the grass or dirt, just a few feet across. Look at it really closely and note how many different kinds of plants and animals you find there.", "filename": "count_plants_and_animals", "tag": "Outdoor Adventure", "web_text2": "Draw what you found in your square.", "type": "O", "id": 98}, {"submission": {"user_id": 174517, "name": "BunnyBoo10", "image": "/plumlanding/media/submissions/15/02/22/BunnyBoo10_450146527_nature_walk_or_hike_20150222_2320.png", "additional_data": "Went with:  Other\r\nTime of day:  Afternoon\r\nWeather: Sunny\r\nHeat: Slightly Not (47%)\r\n", "avatar": "pygmyelephant", "id": 268722, "description": "###### Where We Went\r\ni went through the park. it was so much FUN!!!\r\n\r\n###### What We Noticed\r\ni noticed that there were squirrels and trees and PRETTY flowers "}, "title": "Nature Walk or Hike", "badge": {"q1": "Where did you go? Was it fun?", "q2a": "What We Noticed", "q2": "What did you notice about the animals and plants you saw?", "q1a": "Where We Went", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How hot was it?", "options": "Not;Very", "printquestion": "Heat"}], "level": "Hard", "t2": "Take a Walk or a Hike", "id": 11}, "web_text": "Go for a nature walk or a hike and collect data on the plants, animals, and weather you find. If your hike takes you to higher or lower ground, note how what you see changes as you go.", "filename": "nature_walk_or_hike", "tag": "Outdoor Adventure", "web_text2": "Draw yourself on a nature walk or hiking with your family.", "type": "O", "id": 99}, {"submission": {"user_id": 175116, "name": "New Earthling", "image": "/plumlanding/media/submissions/15/02/24/New_Earthling_58082776_water_watcher_20150224_1519.png", "additional_data": "Went with: Mom,  Sibling,  Dad,  Friend\r\nTime of day:  Afternoon\r\nWeather:  Rainy\r\nThings seen: Very Many (100%)\r\n", "avatar": "mangrovewarbler", "id": 269410, "description": "###### What We Saw\r\nturtle geese ducks fish frogs snails birds and more\r\n\r\n###### What We Didn't See\r\nyes. bacteria,algea more"}, "title": "Water Watcher", "badge": {"q1": "Tell Plum about the living things you saw in and around the water. How do they survive there?", "q2a": "What We Didn't See", "q2": "Do you think there are living things that you can't see in or around the water? What might they be? ", "q1a": "What We Saw", "qw": [{"type": "C", "question": "Who went with you?", "options": "Mom; Dad; Sibling; Friend; Teacher; Other", "printquestion": "Went with"}, {"type": "R", "question": "When did you visit?", "options": "Morning; Afternoon; Evening; Night", "printquestion": "Time of day"}, {"type": "R", "question": "Weather", "options": "Sunny; Rainy; Neither", "printquestion": "Weather"}, {"type": "S", "question": "How many things did you see?", "options": "Few;Many", "printquestion": "Things seen"}], "level": "Hard", "t2": "Water Watcher", "id": 12}, "web_text": "Visit a nearby lake, river, or stream. See how many different types of plants and animals live there.", "filename": "water_watcher", "tag": "Outdoor Adventure", "web_text2": "Draw the different types of living things you saw in and around the water.", "type": "O", "id": 100}]}
</script>{% endblock %}


{% set bodyOpeningTag = '<body>' %}
{% set headbandId = 'pbsheadband' %}


{% block specialHeadband %}{% endblock %}




{% block mainContent %}<div id="plumpage" class="tealbg">
 <div id="header"><!-- #bbinclude "navbar.incl" -->
  <div id="navbar" class="boxedin">
   <a name="navbar"></a>
   <div class="row-group">
    <div class="col-12"><a href="http://pbskids.org/" id="pbslogo"><img src="/plumlanding/i/common/pbskids_logo.svg" alt="PBS Kids"></a> <a href="/plumlanding/index.html" id="plumlogo"><img class="image-fluid" src="/plumlanding/i/common/plum_logo.svg" alt="Plum Landing"></a>
     <ul id="nav">
      <li class="gnav"><a href="/plumlanding/games/index.html" class="gnav-button selected">
        <div class="nav-icon"><img src="/plumlanding/i/common/game_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble1_border.svg" alt="">
        </div> <span class="gnav-text">Games</span> </a></li>
      <li class="gnav"><a href="/plumlanding/video/index.html" class="gnav-button ">
        <div class="nav-icon bubble2"><img src="/plumlanding/i/common/video_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble2_border.svg" alt="">
        </div> <span class="gnav-text">Video</span> </a></li>
      <li class="gnav"><a href="/plumlanding/ship/index.html" class="gnav-button ">
        <div class="nav-icon bubble3"><img src="/plumlanding/i/common/ship_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble3_border.svg" alt="">
        </div> <span class="gnav-text">The Ship</span> </a></li>
      <li class="gnav"><a href="/plumlanding/pictures/index.html" class="gnav-button ">
        <div class="nav-icon"><img src="/plumlanding/i/common/pictures_icon.svg" alt="">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble1_border.svg" alt="">
        </div> <span class="gnav-text">Pictures</span> </a></li>
      <li class="gnav" id="loginnav"><a id="mystuff" class="gnav-button" data-action="pbskids-login-sign-in">
        <div id="myicon" class="nav-icon bubble3"><img src="/plumlanding/i/common/mystuff_icon.svg" alt="My Stuff">
        </div>
        <div class="bubble-border"><img src="/plumlanding/i/common/bubble3_border.svg" alt="">
        </div> <span class="gnav-text">Sign In</span></a></li>
     </ul>
     <div id="pe"><a href="/plumlanding/parents/index.html" class="btn-alt btn-small">Parents</a> <a href="/plumlanding/educators/index.html" class="btn-alt btn-small">Educators</a>
     </div>
    </div>
   </div>
  </div> <!-- end bbinclude -->
 </div> <!-- end header -->
 <div id="middle">
  <hr class="fadeout">
  <div id="content" class="boxedin">
   <div class="headless">
    <h2 id="missiontitle" class="margin emphasis-dark">&nbsp;</h2>
   </div>
   <div class="vspace margin card white">
    <div class="circlenumber">
     1
    </div>
    <div class="adventuretext">
     <h3>Grab a grown-up and head outside</h3>
    </div>
   </div>
   <div class="vspace margin card white">
    <div>
     <img id="adventureimg" src="" alt="" width="515" height="290">
    </div>
    <div class="circlenumber">
     2
    </div>
    <div class="adventuretext">
     <h3>Do this activity</h3>
     <div id="activitydesc" class="bodytext">
     </div> <br style="clear:right;">
    </div>
   </div>
   <div class="vspace margin card white">
    <div class="circlenumber">
     3
    </div>
    <div class="adventuretext">
     <div style="float:right; width:30%; margin-top:2em;">
      <a id="drawlink" class="btn-emphasis not-bridge" href="drawing.html">Draw it</a>
     </div>
     <div>
      <h3>Come back to draw what you found<br> and earn a badge from Plum!</h3>
     </div> <img id="badgepreview" src="" alt="" width="145" height="165">
    </div>
   </div>
  </div>
 </div>
 <script type="text/javascript" src="../../js/missioninfo.js"></script>
 <script type="text/javascript">
	$(document).ready(function(){
		newMission(urlmission);
		
		});

	function newMission(urlm) {
		setMission(urlm);
		$("#missiontitle").html(missionobj.badge.t2);
		$("#drawlink").attr('href','drawing.html?m=' +missionobj.id); // class=not-bridge, or PBS will make this into a bridge page 

		$("#activitydesc").html(missionobj.web_text);
		
		var $bimg=$("#badgepreview");
		$bimg.hide();
		var tmpimg=new Image();
		var bsrc='../../mystuff/badges/badge_locked_'+missionobj.filename+'.png';
		var msrc='i/activities/'+missionobj.filename+'.jpg';
		
		tmpimg.onload=function() {
			$bimg.attr('src',bsrc);
			$bimg.show();
		}
		tmpimg.src=msrc;
		
		tmpimg2=new Image();
		tmpimg2.onload=function() {
			$("#adventureimg").attr('src',msrc);
		}
		tmpimg2.src=msrc;
	}
	</script>
 <hr class="fadefooter">
 <div id="footer"><!-- #bbinclude "footer.incl" #nojq#="1" -->
  <div class="boxedin">
   <div class="row-group">
    <div class="col-12">
     <div>
      <ul id="footernav">
       <li><a href="/plumlanding/index.html">Home</a></li>
       <li><a href="/plumlanding/games/index.html">Games</a></li>
       <li><a href="/plumlanding/video/index.html">Video</a></li>
       <li><a href="/plumlanding/ship/index.html">The Ship</a></li>
       <li><a href="/plumlanding/pictures/index.html">Pictures</a></li>
       <li><a href="/plumlanding/mystuff/index.html">My Stuff</a></li>
       <li><a href="/plumlanding/parents/index.html">Parents</a></li>
       <li><a href="/plumlanding/educators/index.html">Educators</a></li>
       <li><a href="/plumlanding/about/index.html">About</a></li>
       <li><a href="/plumlanding/about/sitemap.html">Site Map</a></li>
       <li><a href="/plumlanding/about/contact.html">Contact Us</a></li>
       <li><a href="http://pbskids.org/privacy/">Privacy Policy</a></li>
      </ul>
     </div>
     <div class="col-12"><a href="/plumlanding/about/copyright.html" class="fineprint">© 2014 WGBH Educational Foundation</a>
     </div>
    </div>
   </div>
  </div> <!-- end bbinclude -->
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

