{% extends 'arthur/includes/templates/arthurMobilePage.html.twig' %}
{% set additionalTitle = 'About' %}
{% set altTitle = false %}
{% set noPageCss = false %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="../css/about.css"><script type="text/javascript" src="../js/utility.js"> </script>' %}


{% block mainPage %}<div id="header"><a href="http:www.pbskids.org"><img id="pbsLogo" src="../assets/images/pbs_logo.gif"></a>
 <div id="homeLogo">
  <a href="../index.html"><img id="arthurLogo" src="../assets/images/arthur_logo_sml.png"></a>
 </div>
</div>
<div id="mainContent"><img id="dw_char" src="../assets/images/dw_char.png"> <img id="arthur_char" src="../assets/images/arthur_char2.png">
 <div id="content"><br>
  <h2>About Arthur</h2><br> ARTHUR is an animated series that airs daily on PBS Kids. Aimed at viewers between the ages of four and eight, ARTHUR's goal is to help foster an interest in reading and writing, and to encourage positive social skills. Based on the children's books by Marc Brown, ARTHUR premiered in 1996 as one of the first ongoing animated programs based on a book series. The show chronicles the adventures of Arthur (an eight-year-old aardvark) through engaging, emotional stories that explore issues faced by real kids. It is a comedy that tells these stories from a kid's point of view without moralizing or talking down. Situations on ARTHUR develop in realistic ways, and don't always turn out as we - or Arthur and his friends - might expect.<br><br><br>
  <h2>About The Curriculum</h2><br> Arthur and his friends experience situations that real kids face every day. ARTHUR promotes six basic ideas: <br><br>
  <ol id="curriculumList">
   <li>1. Reading Is Fun<br>
    <div>
     The show models reading and learning as positive experiences.
    </div></li> <br>
   <li>2. Solving Problems Creatively<br>
    <div>
     Arthur and his friends try to deal with their problems carefully and fairly.
    </div></li> <br>
   <li>3. Being a Good Friend<br>
    <div>
     Though it can be hard sometimes, the characters try to share, cooperate, help, and listen.
    </div></li> <br>
   <li>4. Connecting to Family<br>
    <div>
     The kids on the show learn to relate to siblings, parents, and grandparents.
    </div></li> <br>
   <li>5. Appreciating Diversity<br>
    <div>
     The show explores diversity by featuring economic,cultural,and family structure variations.
    </div></li> <br>
   <li>6. Having Fun<br>
    <div>
     Arthur and his friends share the natural sense of fun that every kid possesses.
    </div></li> <br>
  </ol> <br>
  <h2>Use Arthur to promote reading and social skills:</h2><br> <br>
  <div id="readingSkillList">
   <div>
    <div class="bulletChar">
     •
    </div>
    <div class="item">
     Watch ARTHUR with your children and identify examples of these main ideas.
    </div>
   </div> <br><br>
   <div>
    <div class="bulletChar">
     •
    </div>
    <div class="item">
     Explain that the TV show is based on a book series which can be found at the library.
    </div>
   </div> <br><br>
   <div>
    <div class="bulletChar">
     •
    </div>
    <div class="item">
     Explore the ARTHUR Web site together. Play games at and away from the computer.
    </div>
   </div> <br><br>
   <div>
    <div class="bulletChar">
     •
    </div>
    <div class="item">
     Discuss Arthur and his friends. Help your children talk about their own hopes, dreams, fears, and worries.
    </div>
   </div> <br><br>
  </div>
 </div>
 <div id="bottom">
  <div id="copyright"><br> All characters and underlying materials (including artwork) © Marc Brown. "Arthur" and "D.W." and all of the ARTHUR characters are trademarks of Marc Brown.<br><span class="copyrightLine">© 2014 WGBH</span>
  </div>
 </div>
</div>{% endblock %}

