{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/1d53c54b671a42c3c108eb0147ebefd5.png" class="textrender subheader" width="86" height="43" alt="Holidays" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/holidays/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/holidays/games/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/holidays/videos/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/holidays/activities/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--be-part-of-the-solution" href="/cyberchase/activities/be-part-solution/" title="Be Part of the Solution" data-description="Take one small step to help the environment and let the power of multiplication do the rest.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_bepartofthesolution_thumbnail.jpg" alt="Be Part of the Solution" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Be Part of the Solution</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--chocoberry-chillers-recipe" href="/cyberchase/activities/chocoberry-chillers-recipe/" title="Chocoberry Chillers Recipe" data-description="Have fun measuring volume and enjoy a delicious shake.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_chocoberrychillers_thumbnail.jpg" alt="Chocoberry Chillers Recipe" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Chocoberry Chillers Recipe</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-digit" href="/cyberchase/activities/halloween-mask-digit/" title="Halloween Mask - Digit" data-description="Make a Halloween mask of Digit. Print or color your own.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-digit-color_thumbnail.jpg" alt="Halloween Mask - Digit" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Digit</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-inez" href="/cyberchase/activities/halloween-mask-inez/" title="Halloween Mask - Inez" data-description="Make a Halloween mask of Inez. Print or color your own.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-inez-color_thumbnail.jpg" alt="Halloween Mask - Inez" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Inez</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-jackie" href="/cyberchase/activities/halloween-mask-jackie/" title="Halloween Mask - Jackie" data-description="Make a Halloween mask of Jackie. Print or color your own. ">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-jackie-color2_thumbnail.jpg" alt="Halloween Mask - Jackie" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Jackie</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-matt" href="/cyberchase/activities/halloween-mask-matt/" title="Halloween Mask - Matt" data-description="Make a Halloween mask of Matt. Print or color your own.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-matt-color_thumbnail.jpg" alt="Halloween Mask - Matt" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Matt</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--holiday-ornament" href="/cyberchase/activities/holiday-ornament/" title="Holiday Ornament" data-description="Make a Cyberchase holiday ornament.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_holidayornament_thumbnail.jpg" alt="Holiday Ornament" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Holiday Ornament</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-ice-cream" href="/cyberchase/activities/make-ice-cream/" title="Make Ice Cream!" data-description="Use this easy recipe to make your own ice cream at home.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_makeicecream_thumbnail.jpg" alt="Make Ice Cream!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make Ice Cream!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-a-buzz-cake" href="/cyberchase/activities/make-buzz-cake/" title="Make a Buzz Cake" data-description="Make a Buzz cake for your next celebration.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_makeabuzzcake_thumbnail.jpg" alt="Make a Buzz Cake" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make a Buzz Cake</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--mothers-day-card" href="/cyberchase/activities/mothers-day-card/" title="Mother's Day Card" data-description="Use symmetry to make a beautiful Mother's Day card.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_mothersdaycard_thumbnail.jpg" alt="Mother's Day Card" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Mother's Day Card</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--valentines-day-cards" href="/cyberchase/activities/valentines-day-cards/" title="Valentine's Day Cards" data-description="Make Cyber-Valentine cards with fun messages from the CyberSquad. ">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_valentinesdaycard_thumbnail.jpg" alt="Valentine's Day Cards" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Valentine's Day Cards</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

