{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/1d53c54b671a42c3c108eb0147ebefd5.png" class="textrender subheader" width="86" height="43" alt="Holidays" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/holidays/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/holidays/games/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/holidays/videos/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/holidays/activities/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--a-tikiville-turkey-day-ep-410" href="/cyberchase/videos/cyberchase-a-tikiville-turkey-day-ep-410/" title="A Tikiville Turkey Day (Ep. 410)" data-description="The team and Creech study patterns in nature to rebuild and restore the spirit of the Egg of Benedicta to save the day of thanksgiving in Tikiville.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_379.jpg.resize.480x360_thumbnail.jpg" alt="A Tikiville Turkey Day (Ep. 410)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">A Tikiville Turkey Day (Ep. 410)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--be-part-of-the-solution" href="/cyberchase/activities/be-part-solution/" title="Be Part of the Solution" data-description="Take one small step to help the environment and let the power of multiplication do the rest.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_bepartofthesolution_thumbnail.jpg" alt="Be Part of the Solution" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Be Part of the Solution</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bianca-hallo-whines" href="/cyberchase/videos/cyberchase-bianca-hallo-whines/" title="Bianca Hallo-Whines" data-description="It's Halloween night and Bianca's birthday, but she is grumpy until her friends divide their Halloween treats into three equal groups to give her a present of candy.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_084.jpg.resize.480x360_thumbnail.jpg" alt="Bianca Hallo-Whines" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca Hallo-Whines</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bianca-saves-the-planet" href="/cyberchase/videos/cyberchase-bianca-saves-the-planet/" title="Bianca Saves the Planet" data-description="After littering on Earth Day, Bianca imagines a scary scene in which the world is covered in trash and decides to change her ways and become part of the solution to pollution. 
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Bianca_Saves_the_Planet_thumbnail.jpg" alt="Bianca Saves the Planet" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca Saves the Planet</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bianca-takes-the-cake" href="/cyberchase/videos/cyberchase-bianca-takes-the-cake/" title="Bianca Takes the Cake" data-description="Bianca explains what to do with a fraction that has a numerator larger than the denominator while making cupcakes with a friend for her school’s Halloween bake sale.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_193.jpg.resize.480x360_thumbnail.jpg" alt="Bianca Takes the Cake" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca Takes the Cake</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--biancas-greatest-hits" href="/cyberchase/videos/cyberchase-biancas-greatest-hits/" title="Bianca's Greatest Hits" data-description="Bianca surveys music store customers to decide which new CD to buy for her sister's birthday.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_986.jpg.resize.480x360_thumbnail.jpg" alt="Bianca's Greatest Hits" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca's Greatest Hits</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--button-in-candy-out" href="/cyberchase/videos/cyberchase-button-in-candy-out/" title="Button In, Candy Out" data-description="The CyberSquad goes trick-or-treating on Halloween and comes across a candy dispensing scarecrow.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/CYBR214_1_480x360_thumbnail.jpg" alt="Button In, Candy Out" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Button In, Candy Out</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--castleblanca-ep-102" href="/cyberchase/videos/cyberchase-castleblanca-ep-102/" title="Castleblanca (Ep. 102)" data-description="The CyberSquad surveys monsters to find the castle in Castleblanca where Hacker holds Dr. Marbles ho">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_430.jpg.resize.480x360_thumbnail.jpg" alt="Castleblanca (Ep. 102)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Castleblanca (Ep. 102)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--chocoberry-chillers-recipe" href="/cyberchase/activities/chocoberry-chillers-recipe/" title="Chocoberry Chillers Recipe" data-description="Have fun measuring volume and enjoy a delicious shake.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_chocoberrychillers_thumbnail.jpg" alt="Chocoberry Chillers Recipe" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Chocoberry Chillers Recipe</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--cyber-dad-of-the-year" href="/cyberchase/videos/cyberchase-cyber-dad-of-the-year/" title="Cyber Dad of the Year" data-description="Creech's dad wins &quot;Cyber Dad of the Year&quot; during the annual Father's Day parade in Tikiville.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_708.jpg.resize.480x360_thumbnail.jpg" alt="Cyber Dad of the Year" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Cyber Dad of the Year</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--delete-pretends-to-be-motherboard" href="/cyberchase/videos/cyberchase-delete-pretends-to-be-motherboard/" title="Delete Pretends to be Motherboard" data-description="Delete dresses as Motherboard to fool the citizens of Cyberspace!">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_930.jpg.resize.480x360_thumbnail.jpg" alt="Delete Pretends to be Motherboard" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Delete Pretends to be Motherboard</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--delete-the-gigabyte" href="/cyberchase/videos/cyberchase-delete-the-gigabyte/" title="Delete the Gigabyte?" data-description="Hacker's plan goes awry when his new monster gets Delete's brain.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_100.jpg.resize.480x360_thumbnail.jpg" alt="Delete the Gigabyte?" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Delete the Gigabyte?</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--digits-b-day-surprise-ep-601" href="/cyberchase/videos/cyberchase-digits-b-day-surprise-ep-601/" title="Digit's B-Day Surprise (Ep. 601)" data-description="As they secretly carry a chocolate treat for Digit's b-day across a hot desert, using the evaporation of water to keep it cool, Hacker tries to convince Digit join his team.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_715.jpg.resize.480x360_thumbnail.jpg" alt="Digit's B-Day Surprise (Ep. 601)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Digit's B-Day Surprise (Ep. 601)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--fathers-day-ep-705" href="/cyberchase/videos/cyberchase-fathers-day-ep-705/" title="Father's Day (Ep. 705)" data-description="To ruin Father's Day in Tikiville and embarrass Creech's dad, Hacker sends secret messages to his bad guys and the team must figure out the pattern to his codes to stop him.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_262.jpg.resize.480x360_thumbnail.jpg" alt="Father's Day (Ep. 705)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Father's Day (Ep. 705)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--hacker-joins-the-cybersquad" href="/cyberchase/videos/cyberchase-hacker-joins-the-cybersquad/" title="Hacker Joins the CyberSquad" data-description="Hacker, Punxie, and the gang discover an interesting relationship between shadows &amp; heights in Groundhoggia on Groundhog Day.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_874.jpg.resize.480x360_thumbnail.jpg" alt="Hacker Joins the CyberSquad" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Hacker Joins the CyberSquad</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--halloween-costume-confusion" href="/cyberchase/videos/cyberchase-halloween-costume-confusion/" title="Halloween Costume Confusion" data-description="Jackie and Inez commit a major Halloween fashion no-no.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_162.jpg.resize.480x360_thumbnail.jpg" alt="Halloween Costume Confusion" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Costume Confusion</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-digit" href="/cyberchase/activities/halloween-mask-digit/" title="Halloween Mask - Digit" data-description="Make a Halloween mask of Digit. Print or color your own.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-digit-color_thumbnail.jpg" alt="Halloween Mask - Digit" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Digit</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-inez" href="/cyberchase/activities/halloween-mask-inez/" title="Halloween Mask - Inez" data-description="Make a Halloween mask of Inez. Print or color your own.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-inez-color_thumbnail.jpg" alt="Halloween Mask - Inez" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Inez</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-jackie" href="/cyberchase/activities/halloween-mask-jackie/" title="Halloween Mask - Jackie" data-description="Make a Halloween mask of Jackie. Print or color your own. ">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-jackie-color2_thumbnail.jpg" alt="Halloween Mask - Jackie" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Jackie</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--halloween-mask-matt" href="/cyberchase/activities/halloween-mask-matt/" title="Halloween Mask - Matt" data-description="Make a Halloween mask of Matt. Print or color your own.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_halloweenmask-matt-color_thumbnail.jpg" alt="Halloween Mask - Matt" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Halloween Mask - Matt</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--harrys-new-years-eve-countdown" href="/cyberchase/videos/cyberchase-harrys-new-years-eve-countdown/" title="Harry's New Year's Eve Countdown" data-description="New Year's Eve, Harry enters a contest to estimate the number of people in Times Square and devises a clever way to make his estimate without even being there.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/harrys_new_years_eve_countdown_thumbnail.jpg" alt="Harry's New Year's Eve Countdown" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Harry's New Year's Eve Countdown</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--holiday-ornament" href="/cyberchase/activities/holiday-ornament/" title="Holiday Ornament" data-description="Make a Cyberchase holiday ornament.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_holidayornament_thumbnail.jpg" alt="Holiday Ornament" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Holiday Ornament</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--hugs-witches-ep-201" href="/cyberchase/videos/cyberchase-hugs-witches-ep-201/" title="Hugs &amp; Witches (Ep. 201)" data-description="On Valentine's Day, the CyberSquad analyzes data to solve tricky puzzles and rescue Dr. Marbles &amp; Lady Lovelace, trapped in a time machine.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_512.jpg.resize.480x360_thumbnail.jpg" alt="Hugs &amp; Witches (Ep. 201)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Hugs &amp; Witches (Ep. 201)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-ice-cream" href="/cyberchase/activities/make-ice-cream/" title="Make Ice Cream!" data-description="Use this easy recipe to make your own ice cream at home.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_makeicecream_thumbnail.jpg" alt="Make Ice Cream!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make Ice Cream!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-a-buzz-cake" href="/cyberchase/activities/make-buzz-cake/" title="Make a Buzz Cake" data-description="Make a Buzz cake for your next celebration.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_makeabuzzcake_thumbnail.jpg" alt="Make a Buzz Cake" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make a Buzz Cake</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--matts-secret-valentine" href="/cyberchase/videos/cyberchase-matts-secret-valentine/" title="Matt's Secret Valentine" data-description="Jackie and Inez find a Valentine from a not-so-secret admirer.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_841.jpg.resize.480x360_thumbnail.jpg" alt="Matt's Secret Valentine" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Matt's Secret Valentine</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--may-all-your-starlights-be-bright" href="/cyberchase/videos/cyberchase-may-all-your-starlights-be-bright/" title="May All Your Starlights Be Bright" data-description="The citizens of Cyberspace sing a special holiday tune.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_943.jpg.resize.480x360_thumbnail.jpg" alt="May All Your Starlights Be Bright" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">May All Your Starlights Be Bright</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--mothers-day-ep-206" href="/cyberchase/videos/cyberchase-mothers-day-ep-206/" title="Mother's Day (Ep. 206)" data-description="Hacker derails the train that delivers flowers for Mother's Day and the kids have to use decimals to fix the tracks for the train.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_349.jpg.resize.480x360_thumbnail.jpg" alt="Mother's Day (Ep. 206)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Mother's Day (Ep. 206)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--mothers-day-card" href="/cyberchase/activities/mothers-day-card/" title="Mother's Day Card" data-description="Use symmetry to make a beautiful Mother's Day card.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_mothersdaycard_thumbnail.jpg" alt="Mother's Day Card" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Mother's Day Card</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--on-this-night-only" href="/cyberchase/videos/cyberchase-on-this-night-only/" title="On This Night Only!" data-description="The CyberSquad sings a special winter tune.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_862.jpg.resize.480x360_thumbnail.jpg" alt="On This Night Only!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">On This Night Only!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--playspace" href="/cyberchase/math-games/playspace/" title="PlaySpace" data-description="Create cyber-adventures with this storytelling tool.

">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_playspace_1_thumbnail.jpg" alt="PlaySpace" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">PlaySpace</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--saving-mothers-day" href="/cyberchase/videos/cyberchase-saving-mothers-day/" title="Saving Mother's Day" data-description="The kids and Digit race to save the madre bonita flowers for all cybermoms.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_179.jpg.resize.480x360_thumbnail.jpg" alt="Saving Mother's Day" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Saving Mother's Day</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--some-penguin-estimation" href="/cyberchase/videos/cyberchase-some-penguin-estimation/" title="Some Penguin Estimation" data-description="The kids and Fluff find a clever way to estimate how many penguins are in the gully so they can get them out to deliver holiday gifts.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_872.jpg.resize.480x360_thumbnail.jpg" alt="Some Penguin Estimation" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Some Penguin Estimation</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--spheres-of-fears-ep-610" href="/cyberchase/videos/cyberchase-spheres-of-fears-ep-610/" title="Spheres of Fears (Ep. 610)" data-description="To crack a code and escape the Spheres of Fears, the kids and Digit figure out the relationship between the circumference and diameter of a circle.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_305.jpg.resize.480x360_thumbnail.jpg" alt="Spheres of Fears (Ep. 610)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Spheres of Fears (Ep. 610)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--starlight-night-ep-312" href="/cyberchase/videos/cyberchase-starlight-night-ep-312/" title="Starlight Night (Ep. 312)" data-description="Hacker will put out the lights on Starlight Night unless the CyberSquad can spot an easy problem inside a hard one and use the answer to the first to solve the second.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_723.jpg.resize.480x360_thumbnail.jpg" alt="Starlight Night (Ep. 312)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Starlight Night (Ep. 312)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--tall-green-man-with-a-cape-and-a-pointy-chin" href="/cyberchase/videos/cyberchase-tall-green-man-with-a-cape-and-a-pointy-chin/" title="Tall Green Man with a Cape and a Pointy Chin" data-description="In Castleblanca, Matt, Jackie and Inez find new ways to describe their favorite villain, Hacker.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_095.jpg.resize.480x360_thumbnail.jpg" alt="Tall Green Man with a Cape and a Pointy Chin" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Tall Green Man with a Cape and a Pointy Chin</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-bluebird-of-zappiness-ep-805" href="/cyberchase/videos/cyberchase-the-bluebird-of-zappiness-ep-805/" title="The Bluebird of Zappiness (Ep. 805)" data-description="To embarrass Hacker, Ledge sets out to find the key to cure Motherboard, so Hacker is forced to team up with the kids and use 'shadow math' in Groundhoggia to unravel clues to stop him.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_206.jpg.resize.480x360_thumbnail.jpg" alt="The Bluebird of Zappiness (Ep. 805)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Bluebird of Zappiness (Ep. 805)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-cyberchase-movie-part-1-ep-904" href="/cyberchase/videos/cyberchase-movie-part-1/" title="The Cyberchase Movie, Part 1 (Ep. 904)" data-description="Hacker is drilling inside a nature preserve when he carelessly sets off a slime geyser, destroying many animals' habitats. Can the CyberSquad rescue the animals and stop Hacker before it's too late? 
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/kids-mezzannine-4x3_964.jpg.resize.480x360_thumbnail.jpg" alt="The Cyberchase Movie, Part 1 (Ep. 904)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Cyberchase Movie, Part 1 (Ep. 904)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-cyberchase-movie-part-2-ep-905" href="/cyberchase/videos/cyberchase-movie-part-2/" title="The Cyberchase Movie, Part 2 (Ep. 905)" data-description="Hacker is drilling inside a nature preserve when he carelessly sets off a slime geyser, destroying many animals' habitats. Can the CyberSquad rescue the animals and stop Hacker before it's too late?">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/kids-mezzannine-4x3_739.jpg.resize.480x360_thumbnail.jpg" alt="The Cyberchase Movie, Part 2 (Ep. 905)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Cyberchase Movie, Part 2 (Ep. 905)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-halloween-howl-ep-501" href="/cyberchase/videos/cyberchase-the-halloween-howl-ep-501/" title="The Halloween Howl (Ep. 501)" data-description="To stop Hacker from ruining the annual Halloween bash in Castleblanca, the kids must figure out how to use division to evenly split up rock candy and bunches of garlic!

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_779.jpg.resize.480x360_thumbnail.jpg" alt="The Halloween Howl (Ep. 501)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Halloween Howl (Ep. 501)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-x-factor-ep-703" href="/cyberchase/videos/cyberchase-the-x-factor-ep-703/" title="The X-Factor (Ep. 703)" data-description="Digit's Digi-Fizz is an overnight hit in Perfectamundo, but the toy causes pollution and the team must find a clean-up solution that will multiply as fast as the pollution did.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_638.jpg.resize.480x360_thumbnail.jpg" alt="The X-Factor (Ep. 703)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The X-Factor (Ep. 703)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--trick-or-treat-ep-214" href="/cyberchase/videos/cyberchase-trick-or-treat-ep-214/" title="Trick or Treat (Ep. 214)" data-description="For Halloween, Hacker puts a robot frog into Motherboard's air duct that will destroy her unless the kids can figure out the secret number rule for how it hops and stop it.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_880.jpg.resize.480x360_thumbnail.jpg" alt="Trick or Treat (Ep. 214)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Trick or Treat (Ep. 214)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--trick-or-treaters-in-castleblanca" href="/cyberchase/videos/cyberchase-trick-or-treaters-in-castleblanca/" title="Trick-or-Treaters in Castleblanca" data-description="Jackie divides up the Halloween candy for two mummies and an angel.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_278.jpg.resize.480x360_thumbnail.jpg" alt="Trick-or-Treaters in Castleblanca" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Trick-or-Treaters in Castleblanca</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--true-colors-ep-204" href="/cyberchase/videos/cyberchase-true-colors-ep-204/" title="True Colors (Ep. 204)" data-description="To run against Motherboard on Election Day, Hacker claims he's done 5 good deeds, so the kids search for a counter example to prove his claims are false.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_736.jpg.resize.480x360_thumbnail.jpg" alt="True Colors (Ep. 204)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">True Colors (Ep. 204)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--valentines-day-cards" href="/cyberchase/activities/valentines-day-cards/" title="Valentine's Day Cards" data-description="Make Cyber-Valentine cards with fun messages from the CyberSquad. ">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_valentinesdaycard_thumbnail.jpg" alt="Valentine's Day Cards" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Valentine's Day Cards</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--when-penguins-fly-ep-602" href="/cyberchase/videos/cyberchase-when-penguins-fly-ep-602/" title="When Penguins Fly (Ep. 602)" data-description="Hacker traps Penguia’s penguins in an icy ravine so they can't deliver holiday gifts and the kids must estimate how many there are to get the ice shoes they need to climb out.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_194.jpg.resize.480x360_thumbnail.jpg" alt="When Penguins Fly (Ep. 602)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">When Penguins Fly (Ep. 602)</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

