<head>
	{% include 'curiousgeorge/includes/head_meta.html' %}
	<title>Curious George . {{pageTitle|raw}} | PBS KIDS</title>
	{% include 'curiousgeorge/includes/head_resources.html' %}
	
	{{specialInclude|raw}}
	
	<style type="text/css">
#ftr-games.tallgame
{
	top:775px;
}
</style>
	{% include 'template_includes/bridge_js_include.html' %}
</head>