{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Binky\'sAbout Me Page | PBS Kids' %}
{% set desc = 'Learn some stuff about Binky, his interests, and his favorite books. Take a survey about riding your bike and see results of other kids.' %}
{% set keywds = 'Binky, favorites, interests, biking, survery' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-cfc">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/binky_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/binky_top.swf", "binky", "960", "363", "9", "#ccffcc");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "about");			   fo.addVariable("char", "binky");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="/arthur/friends/binky/photos.html" class="photoWall p-binky">Binky'sphotos</a>
  <div id="friendsContent">
   <h1>A little about me</h1>
   <hr class="friendsRuler">
   <dl id="aboutMe">
    <dt>
     Best Thing Ever:
    </dt>
    <dd>
     Visiting China -- and getting a baby sister!
    </dd>
    <dt>
     Worst Thing Ever:
    </dt>
    <dd>
     Peanut allergies. But I've learned how to deal with it.
    </dd>
    <dt>
     Favorite Adventure:
    </dt>
    <dd>
     Teaching D.W. to dance.
    </dd>
   </dl>
   <div id="pollWrapper" class="poll_bg_cfc">
    <div id="pollContent">
     <h2>My Poll</h2>
     <form action="/cgi-registry/poll/poll.pl" method="post" id="myPoll">
      <fieldset>
       <p>Do you ride your bike instead of riding in a car when you can?</p>
       <ul>
        <li><input type="radio" name="q1" id="ans1" value="1" checked> <label for="ans1">Yes</label></li>
        <li><input type="radio" name="q1" id="ans2" value="2"> <label for="ans2">No</label></li>
       </ul>
      </fieldset> <input type="hidden" name="results" value="arthur/friends/binky/results.html"> <input type="hidden" name="site_id" value="arthur"> <input type="hidden" name="poll_id" value="binky"> <input type="hidden" name="question1.exists" value="true"> <a href="#p" onclick="document.forms[0].submit();" id="pollSubmitBtn">submit</a>
     </form>
    </div>
    <div id="pollBGBtm"></div>
   </div>
   <h1>My Favorite Books</h1>
   <hr class="friendsRuler">
   <ul id="myBooks">
    <li><img src="/arthur/i/friends/books/binky_book1.jpg" width="148" height="117" alt="Big Daddy, Frog Wrestler  book cover" border="0"> <h4>Big Daddy, Frog Wrestler</h4> <p>by Maribeth Boelts<br> Curtis, a young frog in Iowa, loves wrestling and bedtime stories with his father. When Big Daddy is away on a world wrestling tour, Curtis misses him a lot.</p></li>
    <li><img src="/arthur/i/friends/books/binky_book2.jpg" width="148" height="117" alt="Let's Play Rough!  book cover" border="0"> <h4>Let's Play Rough!</h4> <p>by Lynne Jonell<br> A little boy loves to play rough with his dad. They play "big hairy monster bear" until the boy says, "stop" and his dad becomes a dad again.</p></li>
    <li><img src="/arthur/i/friends/books/binky_book3.jpg" width="148" height="117" alt="Rolling Harvey Down the Hill book cover" border="0"> <h4>Rolling Harvey Down the Hill</h4> <p>by Jack Prelutsky<br> A great book of poems about a group of friends. I really like that kid Harvey.</p></li>
    <li><img src="/arthur/i/1px.gif" width="148" height="117" alt="" border="0"> <h4>Three Strong Women: A Tall Tale from Japan</h4> <p>by Claus Stamm<br> A Japanese wrestler is sent to the mountains to train with three strong women.</p></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/dance/index.html" id="rcClubDance">Dance Club</a></li>
   <li><a href="/arthur/games/artgallery/index.html" id="rcGallery">Art Gallery</a></li>
   <li><a href="/arthur/video/karaoke.html" id="rcKaraoke">Karaoke</a></li>
  </ul>
 </div>
</div>{% endblock %}

