{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>I double check all the trash to see if it could be re-used....There is actually some pretty good stuff in there!</p> <p>— emogirl7195, Age 10</p>
      <hr> <p>i call myslelf trash lady i go aroud my yard and pik up trash</p> <p>— kara, Age 6</p>
      <hr> <p>IF IM WALKING AND IF MY BABY SISTER THATS 3 YERS OLD DROP SOMTHING THATS GO IN THE RECYCLE BEN IF IT WAS PAPER I WOULD USE IT AS A PROJECT AND IM BLACK AND I GOT A 9 YEAR OLD SISTER NAME MARIAH</p> <p>— DAILYDIVA, Age 8</p>
      <hr> <p>We can save the planet by one small difference like these difference makers. -you can travel in bus instead of everybody takihg their cars. -we can tell the president or goverment to more windmills and stop drilling oil out and that can hurt the enviorment. -you can recycle, reuse, and reduce. -don't put paper into the trash, instead you can put even a tiny bit of paper and one little bit can make a huge difference to the planet. -you can make posters telling other people what would happen if we don't take care of the earth. -turn off lights when your not using it. -before you go to sleep take out the plug of your tv. these are some of the ways you can help the earth from getting very sick.</p> <p>— Riya, Age 9</p>
      <hr> <p>Well when I go with my dad or my mom somewhere and we see plastic or SODA CANS we get a bag and take it home. Then when we need more space 2 put more cans and we dont have space we take to a Recyling Center..... and that is how my family and I Recyle. :)</p> <p>— mayamigelgir, Age 10</p>
      <hr> <p>How I create less trash is I goforawalk to the praire by my home with my dad we take a garbage bag and collect cans, plastic, paper,and other things that can be reaused again and then me and my dad go to the recycling centre. Thats how I recycle!</p> <p>— Raisa, Age 9</p>
      <hr> <p>Try not make it hard for yourself with paper. When your done with one side of a piece of paper, please make sure to use the back. Thank you and always save Earth environment. From Maczilla97</p> <p>— maczilla97, Age 11</p>
      <hr> <p>I will create less trash by recycling all of tin and aluminum cans.</p> <p>— anniesboy, Age 4</p>
      <hr> <p>i think we should pik up trash every where you go. THAT WILL HELP ALOT!!!!!!!!!!!!!!!!!!!!!!</p> <p>— Horses1596, Age 10</p>
      <hr> <p>You can save some trash and use it for projects and recycle other trash. *_*</p> <p>— aksymondlexi, Age 10</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=250" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=270" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2824<br><a href="detail_trash.html@Start=250">Previous</a> | <a href="detail_trash.html@Start=170">18</a> | <a href="detail_trash.html@Start=180">19</a> | <a href="detail_trash.html@Start=190">20</a> | <a href="detail_trash.html@Start=200">21</a> | <a href="detail_trash.html@Start=210">22</a> | <a href="detail_trash.html@Start=220">23</a> | <a href="detail_trash.html@Start=230">24</a> | <a href="detail_trash.html@Start=240">25</a> | <a href="detail_trash.html@Start=250">26</a> | 27 | <a href="detail_trash.html@Start=270">28</a> | <a href="detail_trash.html@Start=280">29</a> | <a href="detail_trash.html@Start=290">30</a> | <a href="detail_trash.html@Start=300">31</a> | <a href="detail_trash.html@Start=310">32</a> | <a href="detail_trash.html@Start=320">33</a> | <a href="detail_trash.html@Start=330">34</a> | <a href="detail_trash.html@Start=340">35</a> | <a href="detail_trash.html@Start=350">36</a> | <a href="detail_trash.html@Start=270">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

