{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>I can reuse,reduce,and recycle and i can put it in something else or use it in something to make something turn on or help something to produce energy or turn it on by going outside to use solar power or solar energy!</p> <p>— kryslyne, Age 12</p>
      <hr> <p>I WANT TO USE LESS PAPER AND STOP WASTING TREES JUST TO MAKE PAPER REDUCE REUSE RECYCLE!!!!!:):):):):):):)</p> <p>— PRGIRL10, Age 10</p>
      <hr> <p>I think that you should recycling and people put the garbage and the trash can and they do not recycle and some people do because they want to get payed and some people do it for fun and think of recycle can, paper ,and glass to for our community and for the animal and plant to stay heathly and safe to so we can go out side and play with the kids.that want I think to help us recycle these thing so it can help your child live in a better place and your community.</p> <p>— Babegurl, Age 13</p>
      <hr> <p>hey im in:talk about eekocreature. and throw away lot of trash. and the silly thing is that one of my dogs eat the trash sometimes. and he always doesnt put it back in the trash can. of course . dogs cant help themselves well they can help themselves with food.</p> <p>— nicholas, Age 6</p>
      <hr> <p>I think that you should recycling and people put the garbage and the trash can and they do not recycle and some people do because they want to get payed and some people do it for fun and think of recycle can, paper ,and glass to for our community and for the animal and plant to stay heathly and safe to so we can go out side and play with the kids.that want I think to help us recycle these thing so it can help your child live in a better place and your community.</p> <p>— claudia s, Age 16</p>
      <hr> <p>I can make less trash when I bring plastic contaners for lunch instead of paper bag. Also I could bring reaglur lunch boxes insted of brown bags</p> <p>— 123summer7, Age 9</p>
      <hr> <p>I can create less trash by trash by turning them into something to use.</p> <p>— lilly04, Age 7</p>
      <hr> <p>At my school, we have a program and at each lunch, people come to inspect our lunchboxes. Our goal is to entirely eliminate trsh from our school! Ithin evry school should do the same thing to protect our dear planet! :-)</p> <p>— sodapop123, Age 9</p>
      <hr> <p>We could create less trash by not using as much paper. Say there is a telephone call for someone who is not in the house. Ask a parent to put a chalkboard or a whiteboard near the telephone. When you do have to use paper, use scrap paper. My family cuts up paper their work and my school sends home and we write notes on those. You can also make a magnet that is a chalkboard. Get a plain magnet that is smooth. Spray it with chalkboard paint. Do about 4 - 5 coats of the spray. Stick the magnets on metal file cabinets or a refrigerator. Also, when you are done with a plastic bottle, recycle it instead of throwing it in the garbage. My dad works at a recycle center (he doesn't even get paid!) and has many other jobs too, but he still finds time to work at the recycling center every week. When my mom and i go shopping, we use scrap paper to write shopping lists on and we get things that we are able to reuse, such as reusable containers, and what we get that we can't reuse, we recycle.</p> <p>— ellerygirl, Age 10</p>
      <hr> <p>you can recycle and not use the garbage!</p> <p>— watfa213, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=20" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=40" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2824<br><a href="detail_trash.html@Start=20">Previous</a> | <a href="detail_trash.html@Start=10">2</a> | <a href="detail_trash.html@Start=20">3</a> | 4 | <a href="detail_trash.html@Start=40">5</a> | <a href="detail_trash.html@Start=50">6</a> | <a href="detail_trash.html@Start=60">7</a> | <a href="detail_trash.html@Start=70">8</a> | <a href="detail_trash.html@Start=80">9</a> | <a href="detail_trash.html@Start=90">10</a> | <a href="detail_trash.html@Start=100">11</a> | <a href="detail_trash.html@Start=110">12</a> | <a href="detail_trash.html@Start=120">13</a> | <a href="detail_trash.html@Start=40">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

