{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>we can make less trash by giving old toys to someone else.</p> <p>— micco, Age 6</p>
      <hr> <p>i am going to have a new recycleing make stuff box</p> <p>— hunterlily, Age 6</p>
      <hr> <p>i think you can cr eate less trash is how more people do this every 2or 3 wekss take your trash to the recycling bin and recycle.</p> <p>— melviona67, Age 11</p>
      <hr> <p>I can create less trash by making lots of machines that clean up trash.</p> <p>— kristal0830, Age 9</p>
      <hr> <p>by reducing , reuseing , and recyceing .</p> <p>— 4gIrLs4, Age 12</p>
      <hr> <p>I think that the most effective step would be to reduce the amount of packaging used - multiple layers of plastic around products are just wasteful.</p> <p>— artherorion, Age 39</p>
      <hr> <p>I would make trash into toys</p> <p>— artherorion, Age 6</p>
      <hr> <p>If every family gets recycling bins and recycles as much as possibil evrybodies life will be clean and not wastefull.</p> <p>— 123qwer4, Age 10</p>
      <hr> <p>I drink water from a glass instead of a styrofoam cup.</p> <p>— tabby1023, Age 12</p>
      <hr> <p>if the whole wourld will recycle that would make less trash and the enviroment would be cleaner.The air would be less poluted.</p> <p>— handyman25, Age 10</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=310" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=330" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2836<br><a href="detail_trash.html@Start=310">Previous</a> | <a href="detail_trash.html@Start=230">24</a> | <a href="detail_trash.html@Start=240">25</a> | <a href="detail_trash.html@Start=250">26</a> | <a href="detail_trash.html@Start=260">27</a> | <a href="detail_trash.html@Start=270">28</a> | <a href="detail_trash.html@Start=280">29</a> | <a href="detail_trash.html@Start=290">30</a> | <a href="detail_trash.html@Start=300">31</a> | <a href="detail_trash.html@Start=310">32</a> | 33 | <a href="detail_trash.html@Start=330">34</a> | <a href="detail_trash.html@Start=340">35</a> | <a href="detail_trash.html@Start=350">36</a> | <a href="detail_trash.html@Start=360">37</a> | <a href="detail_trash.html@Start=370">38</a> | <a href="detail_trash.html@Start=380">39</a> | <a href="detail_trash.html@Start=390">40</a> | <a href="detail_trash.html@Start=400">41</a> | <a href="detail_trash.html@Start=410">42</a> | <a href="detail_trash.html@Start=330">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

