{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>you can recycel your egg shells by cracking them in small bits and putting them on your plants to help make them grow.</p> <p>— gjrico, Age 10</p>
      <hr> <p>One way we could save trash is by giving some leftover fruits, vegetables, or meat to animal shelters, zoos, and even to your pet!</p> <p>— CarAndCar, Age 10</p>
      <hr> <p>my family tries not to use plastic or foam plates and cups we only use them for when we have birthday parties for the family. we also reuse paper.</p> <p>— jj404rr101, Age 12</p>
      <hr> <p>Recycle everything that is supposed to be recycled. Like sometimes if you have frozen meals in the microwave, you can recycle the boxes!</p> <p>— Alyssa, Age 9</p>
      <hr> <p>What I would do is start a recycling race at my school. We go to the parks and see which class picks up the most trash.And the cans, bottles, and paper go in the recycling bin.</p> <p>— Emilylis, Age 8</p>
      <hr> <p>I think you should build something with the trash thats not dirty. Like a broken pen you could use it to make something else.And dont forget to REUSE, REDUSE, AND RECYCLE!</p> <p>— Emilylis, Age 8</p>
      <hr> <p>I thing you just help recycling and more. If you can think of anything else that would be helpful then put it on here to help save the world from trash!</p> <p>— ttgirl2000, Age 9</p>
      <hr> <p>i think people should clean up on days that they arent doing anything so they have more time to pick up trash then they could be very helpful by ntaking nasty trash off our earth because we shouldkeep the earth clean so everybody is gonna be happy KEEP THE WORLD CLEAN:)</p> <p>— chloe, Age 9</p>
      <hr> <p>i think recycling is cool i made a welcome sign and other toys to i made a robot and a party hat and saved paper by using the back side i like recycling its fun its cool .</p> <p>— gabriela, Age 10</p>
      <hr> <p>by recyling your trash andwhen you go places and you have snacks bring bags to keep your trash in and also remberkeep mother earth clean she;lapprecaite it,thanks/bebless</p> <p>— pairfait, Age 22</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=360" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=380" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2767<br><a href="detail_trash.html@Start=360">Previous</a> | <a href="detail_trash.html@Start=280">29</a> | <a href="detail_trash.html@Start=290">30</a> | <a href="detail_trash.html@Start=300">31</a> | <a href="detail_trash.html@Start=310">32</a> | <a href="detail_trash.html@Start=320">33</a> | <a href="detail_trash.html@Start=330">34</a> | <a href="detail_trash.html@Start=340">35</a> | <a href="detail_trash.html@Start=350">36</a> | <a href="detail_trash.html@Start=360">37</a> | 38 | <a href="detail_trash.html@Start=380">39</a> | <a href="detail_trash.html@Start=390">40</a> | <a href="detail_trash.html@Start=400">41</a> | <a href="detail_trash.html@Start=410">42</a> | <a href="detail_trash.html@Start=420">43</a> | <a href="detail_trash.html@Start=430">44</a> | <a href="detail_trash.html@Start=440">45</a> | <a href="detail_trash.html@Start=450">46</a> | <a href="detail_trash.html@Start=460">47</a> | <a href="detail_trash.html@Start=380">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

