{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>I do lots of stuff my mom and friends call me eve and wall-e from wall-e. I guess its because I save the Earth in so many ways but right now I'm only talking about using less trash. I use one reusable water bottle and have several reusable bags. Me and my family reuse packing penuts and cardboard boxes. We recycle lots of thing paper, plastic #1-5 &amp; 7,glass, cardboard, &amp; alunimun. We compost left over fruits &amp; veggie scraps and save leftovers. For our trash can we have a trash compacter. The trash compacter smashes the garbage into a cube and we only have to take out the trash after 3 weeks. Which really saves up in landfills.</p> <p>— shastacat13, Age 14</p>
      <hr> <p>You can create less trash by composting your leftover trash.</p> <p>— kittypom, Age 11</p>
      <hr> <p>This is what I did. When my mom cut my jeans. I made outfit for my doll!</p> <p>— GirlTalk411, Age 9</p>
      <hr> <p>My mom says I'm her green child, because I want to recycle everything and try to stop global warming. You should always try to find ways to use less garbage. Instead of buying plastic water bottles, buy a reusable water bottles, that way you save money and the Earth. Also try to buy recycled materails. Save your organic waste to start a compost pile for your garden.</p> <p>— katiee73, Age 12</p>
      <hr> <p>If you grow your own vegtables/fruit than along with not haveing to pay for them at the store than you through away a lot less plasic bags and other stuff you use to transport them to and from the store... and hame grown plants taste great.</p> <p>— MCounter, Age 12</p>
      <hr> <p>we save our left over food to feed to our chickens. it saves almost all of our organic refuse and lets us save on chicken feed because they will eat anything!</p> <p>— babybabu, Age 10</p>
      <hr> <p>RECYCLE!!!!!!!!! If you don't,earth might turn into a TOXIC LANDFILL OF TRASH!!!!!!!!!!!!!!!!!!! so RECYCLE,REDUSE,and REUSE!!!!!!!!!!!!!</p> <p>— Webkinz0011, Age 10</p>
      <hr> <p>jiucebox are very bad for landfills in your school put a meeting in you ict sutie in your school and we can have some kids tocome to are meeting in your school</p> <p>— rayaan, Age 8</p>
      <hr> <p>When a party is over we recycle some of the materials. We put the food scraps in the compost bin that we have. We also clean up the trash that that were in our yard. KEEP THE ENVIROMENT CLEAN!!!!!!</p> <p>— Elazul, Age 9</p>
      <hr> <p>i think stores should replace plastic with paper and i think people should bring there own paper or plastic or my be both to the store so it would save bags and we wouldn"t be taking stuff from the rainforest.</p> <p>— Wordgirl45, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=410" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=430" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2767<br><a href="detail_trash.html@Start=410">Previous</a> | <a href="detail_trash.html@Start=330">34</a> | <a href="detail_trash.html@Start=340">35</a> | <a href="detail_trash.html@Start=350">36</a> | <a href="detail_trash.html@Start=360">37</a> | <a href="detail_trash.html@Start=370">38</a> | <a href="detail_trash.html@Start=380">39</a> | <a href="detail_trash.html@Start=390">40</a> | <a href="detail_trash.html@Start=400">41</a> | <a href="detail_trash.html@Start=410">42</a> | 43 | <a href="detail_trash.html@Start=430">44</a> | <a href="detail_trash.html@Start=440">45</a> | <a href="detail_trash.html@Start=450">46</a> | <a href="detail_trash.html@Start=460">47</a> | <a href="detail_trash.html@Start=470">48</a> | <a href="detail_trash.html@Start=480">49</a> | <a href="detail_trash.html@Start=490">50</a> | <a href="detail_trash.html@Start=500">51</a> | <a href="detail_trash.html@Start=510">52</a> | <a href="detail_trash.html@Start=430">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

