{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>I can go through my trash at my house and my friends and we can see what stuffis in there that we can recycle or reuse. I have seen this on a show and the bag was stuffed and at the end it didn't have much in it.</p> <p>— boogs1010, Age 10</p>
      <hr> <p>We can create less trash by reusing some things or selling them or donating them to charity. We can also recycle paper, plastic and aluminum to reduce the amount of trash that ends up in the landfills each year. We can also throw the fruit and veggie and egg scraps in the compost for our gardening supply.</p> <p>— hilaryduff1, Age 12</p>
      <hr> <p>I have realized that soda cans are a huge source of pollution. Now this is obviious, but, when I was at my grandma's she had bought Sprite in glass bottles. She bought these at a regular price at an average grocery store so don't worry about freaking out over this. I recommend that if given the choice, people should buy soda or any drink in a glass bottle. Glass bottles can be recycled or used for at home purposes also like a vase for flowers, a decorative centerpiece, a bottle garden, or even putting another beverage into the bottle! ~ peace out!!</p> <p>— greenlite, Age 11</p>
      <hr> <p>You must always reduce, reuse and recycle!!!!!!!!!!! - 2ate</p> <p>— 2ate, Age 8</p>
      <hr> <p>i thank recycl if we don it will kill the erith and we have one erith so pepole recycle!!!!!!!!! from kacie.</p> <p>— kacie, Age 9</p>
      <hr> <p>I believe one way to create less trash is to, use reusable things in your every-day life and throw your tash in the trash cans in your local area. Also when finish with cans and bottles throw into a a blue recycle bens or, go to your local recycling center and throw trash away properly.Eating the right amount of food might help keep trash in a suitable place to. Thats what i think about creating less trash</p> <p>— IlyDoodles, Age 13</p>
      <hr> <p>i can composte and recicle.</p> <p>— hyveehi, Age 7</p>
      <hr> <p>reuse,reduce,recycle!</p> <p>— jane, Age 07</p>
      <hr> <p>One way that you can create less trash is ... people can make more things you can recycle... people can use reuseble plates,cups and spoons and forks.Becuase if you do that it would not be good for the planet. people should use things you can recycle!</p> <p>— uwongirl, Age 10</p>
      <hr> <p>You use less oil and pick your trash up and others trash.</p> <p>— Chans437, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=430" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=450" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2767<br><a href="detail_trash.html@Start=430">Previous</a> | <a href="detail_trash.html@Start=350">36</a> | <a href="detail_trash.html@Start=360">37</a> | <a href="detail_trash.html@Start=370">38</a> | <a href="detail_trash.html@Start=380">39</a> | <a href="detail_trash.html@Start=390">40</a> | <a href="detail_trash.html@Start=400">41</a> | <a href="detail_trash.html@Start=410">42</a> | <a href="detail_trash.html@Start=420">43</a> | <a href="detail_trash.html@Start=430">44</a> | 45 | <a href="detail_trash.html@Start=450">46</a> | <a href="detail_trash.html@Start=460">47</a> | <a href="detail_trash.html@Start=470">48</a> | <a href="detail_trash.html@Start=480">49</a> | <a href="detail_trash.html@Start=490">50</a> | <a href="detail_trash.html@Start=500">51</a> | <a href="detail_trash.html@Start=510">52</a> | <a href="detail_trash.html@Start=520">53</a> | <a href="detail_trash.html@Start=530">54</a> | <a href="detail_trash.html@Start=450">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

