{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>USE CLOTHE NAPKINS.IT COULD BE WASHED AND USED AGAIN.</p> <p>— SANDWICH89, Age 10</p>
      <hr> <p>One way is to make a compost.That means to dig a hole in the soil or garden near you and put in trash.Then after a while, the garbage will turn into soil!You can use pet bottles to plant flowers in them.Sometimes you can make out toys out of them, too.Just by collecting pet bottle caps can help someone with a disease.</p> <p>— Corrine, Age 10</p>
      <hr> <p>Once I took some trash put it to art. Why don't you do it?ITS SO MUCH FUUUUN !!!!</p> <p>— elcshorsegir, Age 8</p>
      <hr> <p>meak sur you clen up so fish and anamls DON,T GET SICK</p> <p>— gabriel, Age 5</p>
      <hr> <p>I think everybody must recycle more.Do not throw aluminem,plastic,glass and paper tothe garbege. Recycle Them!!!!!!!!.There are many thing'sto help the eath and to mack it a beatiful place.Where plant and animalscan live.</p> <p>— cynthia, Age 10</p>
      <hr> <p>there is tons of things you can do to creat less trash, but i reuse plastic bags, water bottles, and i use containers instead of using more plastic bags!</p> <p>— shan, Age 11</p>
      <hr> <p>You can try to recycle by making some thing out of some thing old. Like for a pair of jeans you can make a bag out of them so you would not have to throw them away. And for old toys that you don't want you can donate them to a shelter for other kids and that's another way to recycle and other kid's can have toys.</p> <p>— KITTYKAT100, Age 12</p>
      <hr> <p>If you don't waste, you'll create less trash. Also, don't buy something that you don't know about. In other words, "think before you buy!" Look at the object and think "Am I really going to play with that or use that at all or do I just want it because it's cool?"</p> <p>— horsekrazyg, Age 11</p>
      <hr> <p>i ask my parents to recycle the thing that you can, such as paper, plastic, and that kind of stuff.</p> <p>— sakshi, Age 7</p>
      <hr> <p>Making a bird house with popcical stikes</p> <p>— Madison, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=460" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=480" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2770<br><a href="detail_trash.html@Start=460">Previous</a> | <a href="detail_trash.html@Start=380">39</a> | <a href="detail_trash.html@Start=390">40</a> | <a href="detail_trash.html@Start=400">41</a> | <a href="detail_trash.html@Start=410">42</a> | <a href="detail_trash.html@Start=420">43</a> | <a href="detail_trash.html@Start=430">44</a> | <a href="detail_trash.html@Start=440">45</a> | <a href="detail_trash.html@Start=450">46</a> | <a href="detail_trash.html@Start=460">47</a> | 48 | <a href="detail_trash.html@Start=480">49</a> | <a href="detail_trash.html@Start=490">50</a> | <a href="detail_trash.html@Start=500">51</a> | <a href="detail_trash.html@Start=510">52</a> | <a href="detail_trash.html@Start=520">53</a> | <a href="detail_trash.html@Start=530">54</a> | <a href="detail_trash.html@Start=540">55</a> | <a href="detail_trash.html@Start=550">56</a> | <a href="detail_trash.html@Start=560">57</a> | <a href="detail_trash.html@Start=480">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

