{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>I can create less trash by putting paper in the recycling bin instead of the garbge.</p> <p>— Susa88, Age 9</p>
      <hr> <p>i think we could make less trash by not littering and not using the tv alot and thats what i think we can do to make less garbage and trash.</p> <p>— Missymoo1, Age 9</p>
      <hr> <p>we should make a recycling center where almost no animals are so that we do not hurt them</p> <p>— BIGBOOMER1, Age 8</p>
      <hr> <p>If i had trash i would it throw it away i would recycle it to use it again and again.</p> <p>— Googlegirl13, Age 8</p>
      <hr> <p>I think you should follow the three R's:Reduce, Reuse and Recycle. Reduce: You can create less waste by getting things with little or no extra packaging. Reuse: Reuse stuff like milk jugs to water plants. Recycle: Instead of throwing away Paper,Bottles and cans throw them in the Recycling Bin.</p> <p>— Eekoguy123, Age 9</p>
      <hr> <p>i think we can create less trash by using reuable cups, plates, glasses,&amp; napkins. i also think we could make less trash by recyceling.</p> <p>— 5732739, Age 10</p>
      <hr> <p>I think I can create less trash by recycling as many things that I can recycle. I also think by earning EeKoWoRlD points!!!!!</p> <p>— dalli, Age 10</p>
      <hr> <p>I belive that we can alll recycle.We can all save the world together. You should make sure that every thing you thorw out is save and that you cant reuse it recycle it or do any more with it.</p> <p>— smartiegirl0, Age 10</p>
      <hr> <p>I agree with seth about the beach clean up.For thoughs who don't know were that story is, it is in the environmant section, aqutic eeko styem.</p> <p>— windrake, Age 9</p>
      <hr> <p>You can creat less trash by not using thing that can't be recyceled in the frist place.</p> <p>— lulu1246, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=50" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=70" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2824<br><a href="detail_trash.html@Start=50">Previous</a> | <a href="detail_trash.html@Start=10">2</a> | <a href="detail_trash.html@Start=20">3</a> | <a href="detail_trash.html@Start=30">4</a> | <a href="detail_trash.html@Start=40">5</a> | <a href="detail_trash.html@Start=50">6</a> | 7 | <a href="detail_trash.html@Start=70">8</a> | <a href="detail_trash.html@Start=80">9</a> | <a href="detail_trash.html@Start=90">10</a> | <a href="detail_trash.html@Start=100">11</a> | <a href="detail_trash.html@Start=110">12</a> | <a href="detail_trash.html@Start=120">13</a> | <a href="detail_trash.html@Start=130">14</a> | <a href="detail_trash.html@Start=140">15</a> | <a href="detail_trash.html@Start=150">16</a> | <a href="detail_trash.html@Start=70">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=17"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

