{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>I think everyday we all can pick up all the little papers we see on the street or in a pond. We can also recyle by putting paper in the recycling bin, if you do not have a recycling bin then bring it to your school and recycle it. If your school has a recycle procces that is.</p> <p>— ATS650, Age 13</p>
      <hr> <p>to create less trash you if you are throwing away paper you can recycle that and cardboard and shopping bags</p> <p>— Gabriel, Age 12</p>
      <hr> <p>i think we could do cleaning trash programs and have reusable items and to recycle paper, plastic, and glass. And to not pollute or litter.</p> <p>— Rose, Age 10</p>
      <hr> <p>Instead of getting rid of old jeans cut a leg off of it. Then put some fluffy pillow stuff in it then get some fabric or shoe laces and tie the ends. Then decorate it with fabric sparkles anything you want that way we dont have to throw it out.</p> <p>— sqwerlie, Age 10</p>
      <hr> <p>Don't throw paper in the trash. Recycle paper. At my school we recycle our lunches we have to trash cans. One is recyclable and one is trash. NO FOOD IN THE RECYCLING CAN !!!</p> <p>— Aria, Age 6</p>
      <hr> <p>Reduce, Reuse recycle! Let's all use that! That would make less trash! Oh, and Conserve!</p> <p>— Abbi, Age 9</p>
      <hr> <p>by picking up garbage and recycling and not littering</p> <p>— jg, Age 8</p>
      <hr> <p>Come on! All you have to do is to Reduce, Reuse, and of course Recycle....</p> <p>— try888, Age 10</p>
      <hr> <p>use both sides of papar or use the whole papar</p> <p>— as330126, Age 6</p>
      <hr> <p>it's simple. PUT THINGS WERE THEY NEED TO GO. recyecle, use the back of your paper, dont throw things on the floor. IT'S REALY SIMPLE YOU GUYS HAVE GOT ALL THOSE EXAMPLES, AND WHAT DO YOUR DO? NOTHING!!!!!!!! uh sorry lost my temper</p> <p>— soniclailah, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=590" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=610" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3705<br><a href="detail_trash.html@Start=590">Previous</a> | <a href="detail_trash.html@Start=510">52</a> | <a href="detail_trash.html@Start=520">53</a> | <a href="detail_trash.html@Start=530">54</a> | <a href="detail_trash.html@Start=540">55</a> | <a href="detail_trash.html@Start=550">56</a> | <a href="detail_trash.html@Start=560">57</a> | <a href="detail_trash.html@Start=570">58</a> | <a href="detail_trash.html@Start=580">59</a> | <a href="detail_trash.html@Start=590">60</a> | 61 | <a href="detail_trash.html@Start=610">62</a> | <a href="detail_trash.html@Start=620">63</a> | <a href="detail_trash.html@Start=630">64</a> | <a href="detail_trash.html@Start=640">65</a> | <a href="detail_trash.html@Start=650">66</a> | <a href="detail_trash.html@Start=660">67</a> | <a href="detail_trash.html@Start=670">68</a> | <a href="detail_trash.html@Start=680">69</a> | <a href="detail_trash.html@Start=690">70</a> | <a href="detail_trash.html@Start=610">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

