{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Can You Create Less Trash? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howcanyoucreatelesstrash.jpg" alt="How can you create less trash?" width="326" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_trash.gif" alt="How Can You Create Less Trash?"> <p>well every one knows by now recycling is important.how about we do crafts with trash paint cearel boxes!!!!!!!!!!!!!!</p> <p>— wii2t, Age 9</p>
      <hr> <p>You should recycle a lot. If you do, then you get more cans to make more soda. You don't want we only have 5 boxes of coke or other soda?? If you don't, then try recycling more things. And it make the envirimont better. And you don't want, when you play in the park it doesn't have fresh and refreshed air. Try joining park clean-up on Earth Day!!</p> <p>— Michelle, Age 8</p>
      <hr> <p>I would recycle and make the world a better place!!!</p> <p>— taylor12345678910, Age 9</p>
      <hr> <p>we could you both side of the paper,we could use towels to dry of our dishes instead of using so many paper towels, we can give toys to other people kids who are small enough to play with them instead of putting it in the trash can, we can try taking things that are broken to a repair shop whenever we have time to do so, we can recycle things in a recycling bin for if we need to use them later on to make something important and we do not have enough tools and you do not have to waste your money trying to buy somethig new and you already have recycled things you can use why waste money?</p> <p>— Dancehoney03, Age 10</p>
      <hr> <p>whenever i get a drink or some food i like to use re-usable plates my family and i only use plastic things occasionally.If u wont to make the world a better place pick up trash around your neighborhood and at the park or along the streets to make the earth a better place for me and you.</p> <p>— mjz1996, Age 14</p>
      <hr> <p>reduse,reuse,and recycle.</p> <p>— matt102, Age 8</p>
      <hr> <p>When we use single use items like paper plates, etc, we washtem and use the again like regular plates</p> <p>— ceanne, Age 11</p>
      <hr> <p>You can use your own fabric reusable bags instead of using plastic bags. Isn't that simple?</p> <p>— birthdaybear67, Age 9</p>
      <hr> <p>I think that instead of throwing things away you can find ways to use certain items.For example i drink a soda then my sister comes by and asks sarah can you help me with a project? I say yes!Her project is to not throw away as much trash.I look at my soda can and i have an idea i say why don't we reuse this soda can!she says how.I clean out the soda can and say i can poor something else in it!</p> <p>— sarah, Age 9</p>
      <hr> <p>To create less trash you can: 1Reduce 2 Reuse 3 Recycle Also, I really like the idea of composting. Me and my family are going to compost one day.</p> <p>— umdog, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_trash.html@Start=700" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_trash.html@Start=720" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3705<br><a href="detail_trash.html@Start=700">Previous</a> | <a href="detail_trash.html@Start=620">63</a> | <a href="detail_trash.html@Start=630">64</a> | <a href="detail_trash.html@Start=640">65</a> | <a href="detail_trash.html@Start=650">66</a> | <a href="detail_trash.html@Start=660">67</a> | <a href="detail_trash.html@Start=670">68</a> | <a href="detail_trash.html@Start=680">69</a> | <a href="detail_trash.html@Start=690">70</a> | <a href="detail_trash.html@Start=700">71</a> | 72 | <a href="detail_trash.html@Start=720">73</a> | <a href="detail_trash.html@Start=730">74</a> | <a href="detail_trash.html@Start=740">75</a> | <a href="detail_trash.html@Start=750">76</a> | <a href="detail_trash.html@Start=760">77</a> | <a href="detail_trash.html@Start=770">78</a> | <a href="detail_trash.html@Start=780">79</a> | <a href="detail_trash.html@Start=790">80</a> | <a href="detail_trash.html@Start=800">81</a> | <a href="detail_trash.html@Start=720">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

