{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/c506737759ebafa4f9a40c140582ce06.png" class="textrender subheader" width="120" height="43" alt="Pre-Algebra" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/pre-algebra/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/pre-algebra/games/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/pre-algebra/videos/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/pre-algebra/activities/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--biancas-painting-party" href="/cyberchase/math-games/biancas-painting-party/" title="Bianca's Painting Party" data-description="Help Bianca solve some tricky problems using ratio and proportion.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/bpp_thumbnail.png" alt="Bianca's Painting Party" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca's Painting Party</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--bike-route" href="/cyberchase/math-games/bike-route/" title="Bike Route" data-description="Help Inez run errands with a map and a grid.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_bikeroute_1_thumbnail.jpg" alt="Bike Route" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bike Route</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--crack-digits-code" href="/cyberchase/math-games/crack-digits-code/" title="Crack Digit's Code" data-description="Use a secret decoder to decode Digit's message.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_crackdigitscode_1_thumbnail.jpg" alt="Crack Digit's Code" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Crack Digit's Code</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--crack-hackers-safe" href="/cyberchase/math-games/crack-hackers-safe/" title="Crack Hacker's Safe" data-description="Solve double and triple patterns to crack Hacker's code.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_crackhackerssafe_1_thumbnail.jpg" alt="Crack Hacker's Safe" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Crack Hacker's Safe</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--cyber-pattern-player" href="/cyberchase/math-games/cyber-pattern-player/" title="Cyber Pattern Player" data-description="Make your own cool cyber-tunes on this musical player.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_cyberpatternplayer_3_thumbnail.jpg" alt="Cyber Pattern Player" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Cyber Pattern Player</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--double-the-donuts" href="/cyberchase/math-games/double-donuts/" title="Double the Donuts" data-description="What happens when you double a number 20 times? Find out here.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_doublethedonuts_2_thumbnail.jpg" alt="Double the Donuts" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Double the Donuts</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--jigsaw-puzzle-size-up" href="/cyberchase/math-games/jigsaw-puzzle-size-up/" title="Jigsaw Puzzle Size Up" data-description="Size the puzzle pieces up or down to make them fit the puzzle before your time is up!
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_jigsawpuzzlesizeup_2_thumbnail.jpg" alt="Jigsaw Puzzle Size Up" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Jigsaw Puzzle Size Up</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--pattern-quest" href="/cyberchase/math-games/pattern-quest/" title="Pattern Quest" data-description="Use tricky clues to solve this pattern puzzle.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_patternquest_2_thumbnail.jpg" alt="Pattern Quest" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Pattern Quest</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--poddle-weigh-in" href="/cyberchase/math-games/poddle-weigh-in/" title="Poddle Weigh In" data-description="Help the poddles get their numbers back with  this balance scale.

">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_poddleweighin_2_thumbnail.jpg" alt="Poddle Weigh In" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Poddle Weigh In</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--quest-2-race-for-radopolis" href="/cyberchase/math-games/quest-2-race-radopolis/" title="Quest 2: Race for Radopolis" data-description="Explore Radopolis to optimize your skateboard for the big race.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest2raceforradopolis_thumbnail.jpg" alt="Quest 2: Race for Radopolis" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Quest 2: Race for Radopolis</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--quest-4-stop-the-stormerator" href="/cyberchase/math-games/quest-4-stop-stormerator/" title="Quest 4: Stop the Stormerator" data-description="Solve weather problems to collect what you need to shut down the dangerous Stormerator.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_quest4stopthestormerator_thumbnail.jpg" alt="Quest 4: Stop the Stormerator" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Quest 4: Stop the Stormerator</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--sleuths-on-the-loose" href="/cyberchase/math-games/sleuths-on-the-loose/" title="Sleuths on the Loose" data-description="Use proportions to find the mama dragon's height.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_sleuthsontheloose_thumbnail.jpg" alt="Sleuths on the Loose" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Sleuths on the Loose</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--stop-that-creature" href="/cyberchase/math-games/stop-creature/" title="Stop that Creature" data-description="Stop clones when you name the rule that runs the machine.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_stopthatcreature_1_thumbnail.jpg" alt="Stop that Creature" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Stop that Creature</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--stop-the-machine" href="/cyberchase/math-games/stop-machine/" title="Stop the Machine!" data-description="Figure out the function to shut down Hacker's machine.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/stm_thumbnail.png" alt="Stop the Machine!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Stop the Machine!</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

