{% extends 'games/includes/gamesPage.html.twig' %}
{% set pageTitle = 'Teamwork Games' %}
{% set bodyClass = 'games topics-page yellow teamwork-games' %}


{% block mainContent %}<div role="main" class="wrapper-block">
 <section class="section-panel top">
  <div class="max-wrapper">
   <header role="banner" class="brand page-head"><a href="../../"> <img data-fallback="http://pbskids.org/shell/images/content/pbs-kids-logo.png" src="http://pbskids.org/shell/images/content/pbs-kids-logo.svg"> </a>
    <hgroup>
     <h1>PBS KIDS:</h1>
     <h2><em>Teamwork</em> <span>Games</span></h2>
    </hgroup>
   </header> <a class="phat-button show-all games blue" href="../"><em><i class="icon"></i> <span>More Games</span></em></a>
   <article class="topics-game-grid" style="margin-bottom:0px;">
    <figure class="topics-game mega-feature"><a href="http://pbskids.org/martha/games/switcheroo/index.html"> <img class="mega-feature-graphic topic-feature" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-switcheroo.jpg" data-carson-size="topics-feature"> </a>
     <figcaption class="topics-page-feature"><a href="http://pbskids.org/martha/games/switcheroo/index.html"> <h3 class="show-title">Martha Speaks</h3> <h4 class="game-title">Switcheroo</h4> <p>Help Martha get all the mixed up dogs in order.</p> </a> <a class="phat-button show-all blue" href="http://pbskids.org/martha/games/switcheroo/index.html"><em> <span>Play Now!</span></em></a>
     </figcaption>
    </figure>
   </article>
   <article class="topics-game-grid">
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/cyberchase/math-games/quest-1-mission-motherboard/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/cyberchase-the-quest-mission-motherboard.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Cyberchase</h3>
       <h4 class="game-title">The Quest: Mission Motherboard</h4>
       <p class="goals">Addition, Navigate, Subtraction, Problem Solving, Logic, Counting</p>
      </div>
      <figcaption>
       <p>Without your help, Hacker might defeat Motherboard!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/gogeorgego/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-go-george-go.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">Go! George Go!</h4>
       <p class="goals">Maps, Bikes, Problem Solving</p>
      </div>
      <figcaption>
       <p>Help George deliver the ice cream before it melts!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/aboutface"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-about-face.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">About Face</h4>
       <p class="goals">Problem Solving, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Do moldy sandwiches make Buster happy?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/effectivedetective"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-fern-the-effective-detective.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">Fern, the Effective Detective</h4>
       <p class="goals">Problem Solving, Writing</p>
      </div>
      <figcaption>
       <p>Sleuth it out with Fern the Effective Detective.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/journey-ernie/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-journey-to-ernie.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Journey to Ernie</h4>
       <p class="goals">Coloring, Problem Solving</p>
      </div>
      <figcaption>
       <p>Play memory games with Big Bird to find where Ernie's hiding.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/kisses.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-clifford-kisses.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Clifford Kisses</h4>
       <p class="goals">Helping, Patterns, Social Skills, Dogs</p>
      </div>
      <figcaption>
       <p>Match colors for a big Clifford kiss.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dragonflytv/games/game_sailing.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dragonflytv-dragonflytv-cup.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">DragonflyTV</h3>
       <h4 class="game-title">DragonflyTV Cup</h4>
       <p class="goals">Olympics / Sports, Navigate, Competition, Sports, Water, Boats, Physics</p>
      </div>
      <figcaption>
       <p>Trim the sails. The race is on!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/cyberchase/math-games/quest-2-race-radopolis/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/cyberchase-the-quest-race-for-radopolis.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Cyberchase</h3>
       <h4 class="game-title">The Quest: Race for Radopolis</h4>
       <p class="goals">Problem Solving, Numbers, Competition, Logic</p>
      </div>
      <figcaption>
       <p>Race a SkateBot and save Radopolis!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/beach.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-help-clifford.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Help Clifford</h4>
       <p class="goals">Helping, Social Skills, Dogs, Pets</p>
      </div>
      <figcaption>
       <p>What does Clifford need?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/sweater.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cleo-shares_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Cleo Shares</h4>
       <p class="goals">Helping, Sharing, Social Skills, Dogs</p>
      </div>
      <figcaption>
       <p>Can you help Cleo share?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/clue-hunt/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-journey-to-ernie-clue-hunt.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Journey to Ernie: Clue Hunt</h4>
       <p class="goals">Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Big Bird follow the clues to find where Ernie's hiding.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Maya &amp; Miguel</h3>
       <h4 class="game-title">Make a Jersey</h4>
       <p class="goals">Olympics / Sports, Create, Art, Competition</p>
      </div>
      <figcaption>
       <p>Create your own sports jersey.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/pogo_gogo"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-pogo-a-gogo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Pogo-A-GoGo</h4>
       <p class="goals">Building, Experiments, Structures, Problem Solving</p>
      </div>
      <figcaption>
       <p>Go go on your pogo, Curious George!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/cyberchase/math-games/cyber-olympics/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/cyberchase-cyberolympics.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Cyberchase</h3>
       <h4 class="game-title">Cyberolympics</h4>
       <p class="goals">Addition, Distance, Estimation, Problem Solving</p>
      </div>
      <figcaption>
       <p>Lead Team Motherboard to victory!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/martha/games/switcheroo/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-switcheroo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Martha Speaks</h3>
       <h4 class="game-title">Switcheroo</h4>
       <p class="goals">Problem Solving, Dogs, Vocabulary</p>
      </div>
      <figcaption>
       <p>Help Martha get all the mixed up dogs in order.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/everything_must_go/everything_must_go.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-everything-must-go.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Everything Must Go</h4>
       <p class="goals">Helping, Cleaning up/Chores</p>
      </div>
      <figcaption>
       <p>Help George clean his room with the Clean Machine.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/rositas-fiesta/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-rositas-fiesta.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Rosita's Fiesta</h4>
       <p class="goals">Addition, Counting, Friendship, Subtraction, Numbers</p>
      </div>
      <figcaption>
       <p>Give each of Rosita's amigos one piece of food and have a fiesta.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lions/games/messyattic.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/between-the-lions-messy-attic.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Between the Lions</h3>
       <h4 class="game-title">Messy Attic</h4>
       <p class="goals">Helping, Cleaning up/Chores, Routine</p>
      </div>
      <figcaption>
       <p>Use your listening skills!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/martha/games/puppals/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-pup-pals.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Martha Speaks</h3>
       <h4 class="game-title">Pup Pals</h4>
       <p class="goals">Helping, Dogs, Pets</p>
      </div>
      <figcaption>
       <p>Feed, train, and play with your own pup!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/clifford/games/buried-treasure.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Clifford The Big Red Dog</h3>
       <h4 class="game-title">Clifford's Buried Treasure</h4>
       <p class="goals">Patterns, Colors, Problem Solving, Navigate</p>
      </div>
      <figcaption>
       <p>Find the buried treasure with Clifford, T-Bone and Cleo!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/present_time/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-present-time.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Present Time</h4>
       <p class="goals">Shapes, Patterns, Friends, Winter Holidays</p>
      </div>
      <figcaption>
       <p>Help George deliver presents!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/balance-bots"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-fizzys-balance-bots.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Fizzy's Balance Bots</h4>
       <p class="goals">Healthy Eating, Problem Solving</p>
      </div>
      <figcaption>
       <p>Can you make these robots dance?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/twiddlebug-tool-adventure/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-a-twiddlebug-tool-adventure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">A Twiddlebug Tool Adventure</h4>
       <p class="goals">Science, Experiments, Scientific Reasoning, Design, Problem Solving, Physics</p>
      </div>
      <figcaption>
       <p>Help Ernie use tools to get the Twiddlebugs home.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/wilsonandditch/games/?game=go-go-bros"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/wilson-ditch-go-go-gobros.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Wilson &amp; Ditch</h3>
       <h4 class="game-title">Go Go GoBros</h4>
       <p class="goals">Maps, Competition, Geography</p>
      </div>
      <figcaption>
       <p>Hop on a pogo stick or surf across the USA!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/hectic-harvest"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-hectic-harvest.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Hectic Harvest</h4>
       <p class="goals">Healthy Eating, Gardening, Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Mixie Bot on Professor Fizzy's Farm!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/escape-from-greasy-world?level=4"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-dunk-tank-dilemma.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Dunk Tank Dilemma</h4>
       <p class="goals">Volume, Problem Solving, Measurement</p>
      </div>
      <figcaption>
       <p>Save Corporal Cup from the dunk tank!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/escape-from-greasy-world?level=5"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-crane-game.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Crane Game</h4>
       <p class="goals">Addition, Problem Solving, Math</p>
      </div>
      <figcaption>
       <p>Balance the weights to help Avril and Henry escape!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/apples/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-apple-picking.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Apple Picking</h4>
       <p class="goals">Helping, Counting, Numbers, Math</p>
      </div>
      <figcaption>
       <p>Pick apples with George!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/fablab_vegetablepatterns.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-vegetable-patterns.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">Vegetable Patterns</h4>
       <p class="goals">Patterns, Science Projects, Gardening, Problem Solving</p>
      </div>
      <figcaption>
       <p>Make veggie patterns!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/escape-from-greasy-world"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-escape-from-greasy-world.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Escape from Greasy World</h4>
       <p class="goals">Goals, Problem Solving, Measurement, Estimation, Math, Numbers</p>
      </div>
      <figcaption>
       <p>Help save Professor Fizzy!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/scrub-a-dub"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-scrub-a-dub.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Scrub-a-Dub</h4>
       <p class="goals">Hygiene, Math, Problem Solving, Measurement</p>
      </div>
      <figcaption>
       <p>Wash those chickens, pigs, and cows!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/snacker-stacker"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-snacker-stacker.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Snacker Stacker</h4>
       <p class="goals">Patterns, Problem Solving</p>
      </div>
      <figcaption>
       <p>Keep your plate clean!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/chuck/roadtrip.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-road-trip.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Chuck Vanderchuck</h3>
       <h4 class="game-title">Road Trip</h4>
       <p class="goals">Musical Instruments, Music, Competition</p>
      </div>
      <figcaption>
       <p>Help Chuck get to his music gig!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/electriccompany/pranksterplanet/part2/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-electric-company-prankster-planet-reverse-a-ball.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Electric Company</h3>
       <h4 class="game-title">Prankster Planet: Reverse-A-ball</h4>
       <p class="goals">Graphs, Numbers, Problem Solving, Vocabulary, Logic</p>
      </div>
      <figcaption>
       <p>Save Earth from Francine's Reverse-A-ball!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/superwhy/#/game/puppydaycare"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/super-why-puppy-day-care.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Super Why!</h3>
       <h4 class="game-title">Puppy Day Care</h4>
       <p class="goals">Words, Vocabulary, Helping, Pets, Dogs, Literacy</p>
      </div>
      <figcaption>
       <p>Help Woofster take care of the puppies at Puppy Day Care.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/drive-trolley/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-drive-trolley.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Drive Trolley</h4>
       <p class="goals">Helping, Exploring, Routine, Friendship, Trains</p>
      </div>
      <figcaption>
       <p>Drive Trolley around the neighborhood</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick?level=8"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-food-matching.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Food Matching</h4>
       <p class="goals">Deductive Reasoning, Problem Solving, Math</p>
      </div>
      <figcaption>
       <p>Try making these picky eaters happy!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dinosaurtrain/games/playdate.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-playdate.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Dinosaur Train</h3>
       <h4 class="game-title">Playdate</h4>
       <p class="goals">Dinosaurs, Winning + Losing, Friendship, Problem Solving, Competition</p>
      </div>
      <figcaption>
       <p>Go on a playdate with Buddy, Tiny, Don, and Shiny!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick?level=1"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-grocery-mapping.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Grocery Mapping</h4>
       <p class="goals">Maps, Problem Solving</p>
      </div>
      <figcaption>
       <p>Find the best path to the food!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick?level=3"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-neighborhood-mapping.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Neighborhood Mapping</h4>
       <p class="goals">Distance, Problem Solving, Math, Logic</p>
      </div>
      <figcaption>
       <p>Make your own bike route &amp; get food to hungry friends!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick?level=5"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-fizzys-invention.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Fizzy's Invention</h4>
       <p class="goals">Problem Solving, Deductive Reasoning, Robots, Math</p>
      </div>
      <figcaption>
       <p>Fix Professor Fizzy's invention!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick?level=7"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-find-freddy.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Find Freddy</h4>
       <p class="goals">Halloween, Problem Solving, Math</p>
      </div>
      <figcaption>
       <p>Find Freddy in disguise!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/fetch/games/freezedance/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-freeze-dance.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
       <h4 class="game-title">Freeze Dance</h4>
       <p class="goals">Maps, Problem Solving, Distance</p>
      </div>
      <figcaption>
       <p>Find Chet's party before it's too late!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/cyberchase/math-games/buzz-and-delete-save-day/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/cyberchase-buzz-and-delete-save-the-day.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Cyberchase</h3>
       <h4 class="game-title">Buzz and Delete Save the Day!</h4>
       <p class="goals">Addition, Outer Space, Robots, Patterns, Numbers, Problem Solving, Multiplication, Counting, Math</p>
      </div>
      <figcaption>
       <p>Go on an awesome space adventure &amp; save the robots!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dinosaurtrain/games/openingceremony.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-opening-ceremony.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Dinosaur Train</h3>
       <h4 class="game-title">Opening Ceremony</h4>
       <p class="goals">Dinosaurs, Problem Solving, Math</p>
      </div>
      <figcaption>
       <p>Play on a sports team with dinosaurs!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dinosaurtrain/games/classic.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-classic-in-the-jurassic-jr.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Dinosaur Train</h3>
       <h4 class="game-title">Classic in the Jurassic Jr.</h4>
       <p class="goals">Distance, Prehistoric, weight, Competition, Volume, Dinosaurs, Measurement, Math</p>
      </div>
      <figcaption>
       <p>A dinosaur sporting competition!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/fresh-pick"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-fresh-pick.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Fresh Pick</h4>
       <p class="goals">Maps, Addition, Competition, Geometry, Problem Solving, Measurement, Healthy Eating, Math</p>
      </div>
      <figcaption>
       <p>Become the next Lunch Labber!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/fetch/games/minigolf/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-monumental-mini-golf.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
       <h4 class="game-title">Monumental Mini-Golf</h4>
       <p class="goals">Building, Geometry, Shapes, Teamwork, Problem Solving, Measurement, Multiplication, Estimation, Structures, Math</p>
      </div>
      <figcaption>
       <p>Build &amp; play this monumental mini-golf course.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/thomasandfriends/games/track-repair/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-track-repair.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Track Repair</h4>
       <p class="goals">Test, Building, Problem Solving, Trains</p>
      </div>
      <figcaption>
       <p>Help repair the track for the engines!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/chicken-blastoff"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-chicken-blastoff_3.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Chicken Blastoff</h4>
       <p class="goals">Shapes, Geometry, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Build a rocket to send the farm animals to space!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/thomasandfriends/games/tangled-rail-tales/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-tangled-rail-tales.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Tangled Rail Tales</h4>
       <p class="goals">Engine, Reading, Problem Solving, Storytelling</p>
      </div>
      <figcaption>
       <p>Can you help untangle the story?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/hungry-pirates"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-hungry-pirates_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Hungry Pirates</h4>
       <p class="goals">Maps, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Find the hungry Pirates tasty treasure!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/tea-party/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-tea-party.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Tea Party</h4>
       <p class="goals">Friendship</p>
      </div>
      <figcaption>
       <p>Have a tea party with Daniel and friends!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/pumpkin_boo/pumpkin_boo.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-pumpkin-boo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Pumpkin Boo</h4>
       <p class="goals">Counting, Halloween, Problem Solving</p>
      </div>
      <figcaption>
       <p>Collect pumpkins on the way to Boo Fest!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/arthur/games/comic_sofunny/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-so-funny-i-forgot-to-laugh.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">So Funny I Forgot to Laugh</h4>
       <p class="goals">Stories/Books, Reading, Friendship, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Is Arthur bullying Sue Ellen? You decide!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dinosaurtrain/games/riverrun.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-river-run.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Dinosaur Train</h3>
       <h4 class="game-title">River Run</h4>
       <p class="goals">Water, Wildlife, Nature, Bugs, Competition, Environment, Dinosaurs</p>
      </div>
      <figcaption>
       <p>Race down the river and collect as many insects as you can!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/thomasandfriends/games/engine-repair/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-engine-repair.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Engine Repair</h4>
       <p class="goals">Engine, Helping, Teamwork, Problem Solving, Trains, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>Help repair the engines at the Steamworks!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/home/grovers-winter-games/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-grovers-winter-games.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Grover's Winter Games</h4>
       <p class="goals">Mountains, Winter, Olympics / Sports, Patterns, Numbers, Problem Solving</p>
      </div>
      <figcaption>
       <p>Go skiing, snow boarding and ice skating with Grover!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/thomasandfriends/games/many-moods/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/thomas-friends-many-moods.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Thomas &amp; Friends</h3>
       <h4 class="game-title">Many Moods</h4>
       <p class="goals">Engine, Trains, Routine, Teamwork, Emotions/Feelings</p>
      </div>
      <figcaption>
       <p>How are Thomas and his friends feeling today?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/adventures/knights-round-table"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-knights-of-the-round-table.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Knights of the Round Table</h4>
       <p class="goals">Geometry, Shapes, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Be brave and bold with Peg on this knight's adventure.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/adventures/on-farm"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-on-the-farm.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">On the Farm</h4>
       <p class="goals">Counting, Animals, Geometry, Patterns, Numbers, Problem Solving, Measurement, Estimation</p>
      </div>
      <figcaption>
       <p>Clean, feed, and count Peg's farm animal friends!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/adventures/chicken-space"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-chickens-in-space_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Chickens in Space</h4>
       <p class="goals">Space, Shapes, 123's, Problem Solving, Counting, Math</p>
      </div>
      <figcaption>
       <p>Keep Big Mouth from eating the chickens in space!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/adventures/treasure-hunt"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-treasure-hunt-adventure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Treasure Hunt Adventure</h4>
       <p class="goals">Maps, Math, Numbers, Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Peg and Cat find the buried treasure!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/adventures/super-peg-cat-guy/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-super-peg-and-cat-guy-adventure_7.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Super Peg and Cat Guy Adventure</h4>
       <p class="goals">Geometry, Shapes, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Super Peg and Cat Guy stop the Arch Villain!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/backyard_adventure/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-dw-buds-backyard-adventure.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">D.W. &amp;amp; Bud's Backyard Adventure</h4>
       <p class="goals">Exploring, Teamwork, Friendship, Adventure, Nature</p>
      </div>
      <figcaption>
       <p>Join D.W. and Bud on an exciting Backyard adventure!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/baby-bath/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-bathtime-helper_7.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Bathtime Helper</h4>
       <p class="goals">Helping, Growing Up, Family</p>
      </div>
      <figcaption>
       <p>Help Daniel give Margaret a bath.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/sandcastle/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-sandcastle.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Sandcastle</h4>
       <p class="goals">Create, Sharing, Teamwork</p>
      </div>
      <figcaption>
       <p>Build sandcastles with Daniel.</p>
      </figcaption> </a>
    </figure>
   </article>
  </div>
 </section>
 <section id="topics-panel" class="section-panel sub">
  <div class="max-wrapper">
   <h3 class="related-head">Related Topics</h3>
   <article class="topics-block seafoam">
    <h2 class="topics-head"><a href="/games/social-studies/"> <em> <span class="icon social-studies"></span> Social Studies Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/fablab_snowsearch.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-snow-search.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Snow Search</h4>
        <p class="description">Find the hidden snowy surprises!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Maps, Weather &amp; Climate, Winter Holidays, Math
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/buster/games/coasttocoast/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/postcards-from-buster-coast-to-coast.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Postcards from Buster</h3>
        <h4 class="game-title">Coast to Coast</h4>
        <p class="description">Test your state smarts and get across the country</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Maps, Geography
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogpound_02/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-pound-2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Pound 2</h4>
        <p class="description">Pound the answers, not the dog!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Tools, Weather &amp; Climate, Speed, Science, Geography
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/color-me-hungry/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-color-me-hungry.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Color Me Hungry</h4>
        <p class="description">Help Cookie learn how to eat his colors!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Food, Healthy Eating, Colors
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/games/zoomazing/zoomazing.html"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-zoomazing.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">ZOOmazing</h4>
        <p class="description">Get the animals to their habitats!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Wildlife, Nature, Earth Day, Maps, Habitats, Monkeys
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://www.pbskids.org/wilsonandditch/games/?game=postcard-adventure"> <img data-carson-src="/pbskids/shell/images/content/games/wilson-ditch-postcard-adventure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Wilson &amp; Ditch</h3>
        <h4 class="game-title">Postcard Adventure</h4>
        <p class="description">Travel the U.S &amp; send postcards with Wilson &amp; Ditch!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Cultures, History, Maps, Geography
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/social-studies/"><i class="count">19</i> More <em>Social Studies </em> Games</a>
    </ul>
   </article>
   <article class="topics-block orange">
    <h2 class="topics-head"><a href="/games/feelings/"> <em> <span class="icon feelings"></span> Feelings Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/games/pogo_gogo"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-pogo-a-gogo.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Pogo-A-GoGo</h4>
        <p class="description">Go go on your pogo, Curious George!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Experiments, Structures, Problem Solving
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/dresscaillou.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-dress-caillou_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Dress Caillou</h4>
        <p class="description">Help Caillou pick out the right clothes!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Dress Up, Routine, Art, People
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Make a Jersey</h4>
        <p class="description">Create your own sports jersey.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Create, Art, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/dinosaurtrain/games/playdate.html"> <img data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-playdate.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Dinosaur Train</h3>
        <h4 class="game-title">Playdate</h4>
        <p class="description">Go on a playdate with Buddy, Tiny, Don, and Shiny!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Dinosaurs, Winning + Losing, Friendship, Problem Solving, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/twiddlebug-tool-adventure/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-a-twiddlebug-tool-adventure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">A Twiddlebug Tool Adventure</h4>
        <p class="description">Help Ernie use tools to get the Twiddlebugs home.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Science, Experiments, Scientific Reasoning, Design, Problem Solving, Physics
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/clifford/games/buried-treasure.html"> <img data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Clifford The Big Red Dog</h3>
        <h4 class="game-title">Clifford's Buried Treasure</h4>
        <p class="description">Find the buried treasure with Clifford, T-Bone and Cleo!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Colors, Problem Solving, Navigate
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/feelings/"><i class="count">47</i> More <em>Feelings</em> Games</a>
    </ul>
   </article>
   <article class="topics-block tall-list seafoam last invisible">
    <h2 class="topics-head"><a href="../all-topics/"> <em>More Topics</em> </a></h2>
    <ul class="topic-list">
     <li class="topic-list-item invisible"><a class="topic" href="/games/math/"> <span class="icon math"></span> <em>Math <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dinosaur/"> <span class="icon dinosaur"></span> <em>Dinosaur <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/science/"> <span class="icon science"></span> <em>Science <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/social-studies/"> <span class="icon social-studies"></span> <em>Social Studies <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/reading/"> <span class="icon reading"></span> <em>Reading <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/abc/"> <span class="icon abc"></span> <em>ABC <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/vocabulary/"> <span class="icon vocabulary"></span> <em>Vocabulary <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spelling/"> <span class="icon spelling"></span> <em>Spelling <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/rhyming/"> <span class="icon rhyming"></span> <em>Rhyming <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/story/"> <span class="icon story"></span> <em>Story <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/123/"> <span class="icon 123"></span> <em>123 <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/nature/"> <span class="icon nature"></span> <em>Nature <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/healthy-habits/"> <span class="icon healthy-habits"></span> <em>Healthy Habits <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/create/"> <span class="icon create"></span> <em>Create <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/engineering/"> <span class="icon engineering"></span> <em>Engineering <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/feelings/"> <span class="icon feelings"></span> <em>Feelings <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/teamwork/"> <span class="icon teamwork"></span> <em>Teamwork <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/animal/"> <span class="icon animal"></span> <em>Animal <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dog/"> <span class="icon dog"></span> <em>Dog <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/coloring/"> <span class="icon coloring"></span> <em>Coloring <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/shapes/"> <span class="icon shapes"></span> <em>Shapes <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/adventure/"> <span class="icon adventure"></span> <em>Adventure <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/music/"> <span class="icon music"></span> <em>Music <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dress-up/"> <span class="icon dress-up"></span> <em>Dress Up <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/problem-solving/"> <span class="icon problem-solving"></span> <em>Problem Solving <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/measurement/"> <span class="icon measurement"></span> <em>Measurement <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spanish/"> <span class="icon spanish"></span> <em>Spanish <span>Games</span></em> </a></li>
    </ul> <a class="more-link" href="../all-topics/"><i class="count"></i> More <em>Topics</em></a>
   </article>
   <article class="topics-block yellow">
    <h2 class="topics-head"><a href="/games/adventure/"> <em> <span class="icon adventure"></span> Adventure Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/chuck/roadtrip.html"> <img data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-road-trip.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Chuck Vanderchuck</h3>
        <h4 class="game-title">Road Trip</h4>
        <p class="description">Help Chuck get to his music gig!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musical Instruments, Music, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/busyday/"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-busy-day.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Busy Day</h4>
        <p class="description">Go on math adventures with George!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Addition, Goals, Subtraction, Counting, Math, Numbers
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/dinosaurtrain/games/riverrun.html"> <img data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-river-run.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Dinosaur Train</h3>
        <h4 class="game-title">River Run</h4>
        <p class="description">Race down the river and collect as many insects as you can!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Water, Wildlife, Nature, Bugs, Competition, Environment, Dinosaurs
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/arthur/games/backyard_adventure/"> <img data-carson-src="/pbskids/shell/images/content/games/arthur-dw-buds-backyard-adventure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Arthur</h3>
        <h4 class="game-title">D.W. &amp;amp; Bud's Backyard Adventure</h4>
        <p class="description">Join D.W. and Bud on an exciting Backyard adventure!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Exploring, Teamwork, Friendship, Adventure, Nature
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/catinthehat/games/clatterclang.html"> <img data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-clatter-clang-island.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Cat in the Hat</h3>
        <h4 class="game-title">Clatter-Clang Island</h4>
        <p class="description">Drive the Thingamajigger &amp; save Clatter-Clang Island!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Cars, Biology, Goals
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/elmos-world-books/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-elmos-world-books.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Elmo's World Books</h4>
        <p class="description">Create an adventure book with Elmo!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Art, Drawing, Storytelling, Ocean
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/adventure/"><i class="count">30</i> More <em>Adventure </em> Games</a>
    </ul>
   </article>
   <article class="topics-block magenta">
    <h2 class="topics-head"><a href="/games/problem-solving/"> <em> <span class="icon problem-solving"></span> Problem Solving Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/fablab_crystalsrule.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-crystals-rule.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Crystals Rule!</h4>
        <p class="description">Measure crystals with May!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Science Projects, Math, Measurement
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/designsquad/games/fidgit/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/design-squad-fidgit.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Design Squad</h3>
        <h4 class="game-title">Fidgit</h4>
        <p class="description">Build a Fidgit room, start a challenge and share it with friends!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Tools, Experiments, Design
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/clifford/games/buried-treasure.html"> <img data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Clifford The Big Red Dog</h3>
        <h4 class="game-title">Clifford's Buried Treasure</h4>
        <p class="description">Find the buried treasure with Clifford, T-Bone and Cleo!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Colors, Problem Solving, Navigate
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/immersivegames/?gameID=5"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-caillou-gardener_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Caillou Gardener</h4>
        <p class="description">Help Caillou take care of his garden.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Going Green, Experiments, Gardening, Gardens
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/minigolf/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-monumental-mini-golf.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Monumental Mini-Golf</h4>
        <p class="description">Build &amp; play this monumental mini-golf course.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Geometry, Shapes, Teamwork, Problem Solving, Measurement, Multiplication, Estimation, Structures, Math
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/home/grovers-winter-games/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-grovers-winter-games.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Grover's Winter Games</h4>
        <p class="description">Go skiing, snow boarding and ice skating with Grover!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Mountains, Winter, Olympics / Sports, Patterns, Numbers, Problem Solving
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/problem-solving/"><i class="count">107</i> More <em>Problem Solving</em> Games</a>
    </ul>
   </article>
  </div>
 </section> <!-- End #topics-panel -->
</div>{% endblock %}

