/* ------ CSS Created by Bean Creative Funktional Web Design ---------------*/
/* ----------                  http://www.beancreative.com                   -------------*/
  

@import url(structure.css);
@import url(content.css);


body {
	margin:0;
	padding:0;
}

.dontprintme {
}

.printme {
	display:none;
}
	
.floatright {
	float:right;
	margin:0 0 10px 20px;
}

.floatleft {
	float:left;
	margin:0 20px 10px 0;
}	

.alignbottom {
	vertical-align:bottom;
}

form {
	margin:0;
	padding:0;
}	

p {
	margin:0 0 1em 0;
}

ul, ol {
	margin:.5em 0 1em 0;
	padding-left:1.5em;
}

li {
	margin:0 0 .3em 0;
}


a img {border:none;}



