{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>I try to save water by taking shoter showers, turn sinkes off when on.</p> <p>— arilyn, Age 9</p>
      <hr> <p>i save water becase it is very good for your body.</p> <p>— black1203, Age 13</p>
      <hr> <p>I try to save water by hosting a contest in my family about who can take a shower the quickest, but also wash themselves properly.</p> <p>— Ashi9, Age 9</p>
      <hr> <p>I will try to take shorter showers, go to the car wash when my mom's car is dirty, and reuse water for something else, like when I get a glass of water, I can put the left over water to a plant.</p> <p>— lillycorn72, Age 13</p>
      <hr> <p>SAVE THE WATER!! I can save the water by taking a short shower with cold water instead of hot. Also, when I'm brushing my teeth, I WILL turn off the water when I'm not using it. If iI can do these things, you can too! so start saving water...... starting NOW!!!!!!!!</p> <p>— ecofriendly3, Age 11</p>
      <hr> <p>Never waste water for a crazy thing such as splashing it on the floor to jump in it.Only use water to drink,take a shower,washing your hands,flushing the toilet,and other things.When it rains the water picks up things such as gas,motor oil,trash,and more.You should never litter because it can go right in to the water.Plants and animals need water to live.You should try to help water not pollute it.</p> <p>— chealsey4, Age 9</p>
      <hr> <p>i take a bottle of water and brush my teeth outside and when im done i pour the water on my plants so thay can stay healthy</p> <p>— cute80002, Age 10</p>
      <hr> <p>I have a cat who likes to drink out of the sink, so, we leave the water running for him sometimes. Right now I am saving water by turning of the faucet when I leave the bathroom.</p> <p>— MocoCocoa, Age 7</p>
      <hr> <p>I try to save water by taking shorter showers, turning the water off while I brush my teeth, using leftover water to water the plants, and then spreading the word!</p> <p>— iGirlRox, Age 11</p>
      <hr> <p>i collect rain and snow to water our garden</p> <p>— david227, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=180" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=200" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3686<br><a href="detail_water.html@Start=180">Previous</a> | <a href="detail_water.html@Start=100">11</a> | <a href="detail_water.html@Start=110">12</a> | <a href="detail_water.html@Start=120">13</a> | <a href="detail_water.html@Start=130">14</a> | <a href="detail_water.html@Start=140">15</a> | <a href="detail_water.html@Start=150">16</a> | <a href="detail_water.html@Start=160">17</a> | <a href="detail_water.html@Start=170">18</a> | <a href="detail_water.html@Start=180">19</a> | 20 | <a href="detail_water.html@Start=200">21</a> | <a href="detail_water.html@Start=210">22</a> | <a href="detail_water.html@Start=220">23</a> | <a href="detail_water.html@Start=230">24</a> | <a href="detail_water.html@Start=240">25</a> | <a href="detail_water.html@Start=250">26</a> | <a href="detail_water.html@Start=260">27</a> | <a href="detail_water.html@Start=270">28</a> | <a href="detail_water.html@Start=280">29</a> | <a href="detail_water.html@Start=200">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

