{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>I take fewer showers</p> <p>— fred62, Age 12</p>
      <hr> <p>WE CAN SAVE WATER by shuting it of when we do not need it</p> <p>— ebmichigan, Age 9</p>
      <hr> <p>There is lots of ways you can save water! Go wash with haf of your family and then you saved water! And be sure to take short showers or baths! When you shower with haf of your family it's even! Now only two showers!</p> <p>— Lacea, Age 7</p>
      <hr> <p>I think people who live on earth should go to the beach and clean up.</p> <p>— jaced123, Age 7</p>
      <hr> <p>how think i want to save water is...like when you have a running sink and a fish tank you should put a little cup under the running ssink .then when it is filled you simply pour the water in the fish tank.another idea of mine of running sinks that wont stop is...well you know when you want to paint and need water to change a color on a paint brush?you can put the paint cup your gonna use under the running sink. then as your waiting for it to fill you can just watch t.v,recycle a round your house,check for lights that are on thats not being used.then if the water is still not filled...you can simpley sketch out what you want to paint.now im sure the water is filled by now.then you take the water and start a masterpiece!!!!!!</p> <p>— daniella, Age 9</p>
      <hr> <p>When I brush my teeth I turn off the water when I'm not using it.When I learnd about pollouting I was shocked.I was learning "How to rercycle" in my class. Suncerly, me</p> <p>— jordyn, Age 8</p>
      <hr> <p>Relax thechgirl. I agree with you.To save water we should all do what you said.</p> <p>— goldmist9, Age 9</p>
      <hr> <p>My class was talking about water today. My teacher said water was very valuble. In some places in Africa, children die because of the very little water they have. So what I do is put extra water in the ground. Not only for plants but when the underground water travels. So the water underground may be helpful.</p> <p>— Starr, Age 9</p>
      <hr> <p>i agree with all of you . if we work togather we can make a change..guys and girls out their come on while it's spring brake instead of always being on the computers we can always go outside andpick up trash if not save water i have a trick go to a dollar store get 3 little trashcans have one for....paper glass and plastic any way we can always make a BIG change hope you make a change yours truly amaya</p> <p>— amaya, Age 10</p>
      <hr> <p>I can save water by turning off the water when I brush my teeth. You can also save water by taking a shower. When you take a bath it can take up more water. Or if you wash your self with a hose the dirty water can go under ground and hurt the things under the ground.</p> <p>— coke85, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=10" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=30" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3686<br><a href="detail_water.html@Start=10">Previous</a> | <a href="detail_water.html@Start=10">2</a> | 3 | <a href="detail_water.html@Start=30">4</a> | <a href="detail_water.html@Start=40">5</a> | <a href="detail_water.html@Start=50">6</a> | <a href="detail_water.html@Start=60">7</a> | <a href="detail_water.html@Start=70">8</a> | <a href="detail_water.html@Start=80">9</a> | <a href="detail_water.html@Start=90">10</a> | <a href="detail_water.html@Start=100">11</a> | <a href="detail_water.html@Start=110">12</a> | <a href="detail_water.html@Start=30">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

