{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>I save water like this,I turn off the water when I brush my teeth.Another way I save water is...um.....I got it! O.k. well I take short showers.</p> <p>— katie3bug, Age 9</p>
      <hr> <p>i tell my dad to turn the water off when we brush our teeth.</p> <p>— paige, Age 7</p>
      <hr> <p>hi i do as much as i khow i can do to help nature. every time i wash my hands i turn off the water well i use soap. plus i tryed to catch water in a plastic cup to water my cactus. also we refridgerate tap water in a jug and drink out of that. tell me if i can do anything else!!!!!</p> <p>— dinimite770, Age 11</p>
      <hr> <p>i think that people should try not to waste so much water becuse we might run out of water. i try not to leave the water on while i am brushing my teeth. maybe someday we will have a clean earth and we can have a lot more water than we have.</p> <p>— poppy3214, Age 8</p>
      <hr> <p>I turn off water when I am brushing my teeth, and turn it on when I am rinsing</p> <p>— ExtremeBen, Age 9</p>
      <hr> <p>to save water we should stop the water if we arnt using it so the water wont be wasted in the sink. then if you are brushing your tetth and you keep running the water than you would be wasting the water. if you are drinking water and you dont want the rest than dont waste it and pour it in the sink just go and pour it some plants or go and pour it on a tree if you dont have a plant that is yours.if you are washing dishes and all you have is a couple of forks and spoons than dont run a lot of water for a couple of forks and spoons just run like an inch of water. so to save water you can stop water that you are not using and stop the water when you are not using it but instead you are brushing your teeth. then use the water you dont want to feed the plants or trees. dont use so much water for a little bit of dishes. also cut the water down to a little bit a tme to like rise the dishes or to wash some food or what ever you are going to rinse.so so many ways to save so much water. round about 100 from all over the world. so just save as much as you can save of this water.</p> <p>— 5573209, Age 15</p>
      <hr> <p>I try to save water by turning off the taps in the house after I use them</p> <p>— sciencelab1, Age 10</p>
      <hr> <p>I think that we should try to not take long showers (unlike my brother he takes like thirty minute showers) I dont use much water when I brush my teeth when I shower I take like three or four minutes.</p> <p>— hannah, Age 10</p>
      <hr> <p>I help save water by turning off the water when i brush my teeth. My dad also fixes all my faucets so they don't drip.</p> <p>— 1155665, Age 10</p>
      <hr> <p>When i brush my teeth i shut off the water &amp; when we use the toilet my mom says " If it's yellow let it mellow &amp; if it's brown flush it down ". And thats how we save water. :)</p> <p>— AlaskaMusher, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=220" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=240" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3686<br><a href="detail_water.html@Start=220">Previous</a> | <a href="detail_water.html@Start=140">15</a> | <a href="detail_water.html@Start=150">16</a> | <a href="detail_water.html@Start=160">17</a> | <a href="detail_water.html@Start=170">18</a> | <a href="detail_water.html@Start=180">19</a> | <a href="detail_water.html@Start=190">20</a> | <a href="detail_water.html@Start=200">21</a> | <a href="detail_water.html@Start=210">22</a> | <a href="detail_water.html@Start=220">23</a> | 24 | <a href="detail_water.html@Start=240">25</a> | <a href="detail_water.html@Start=250">26</a> | <a href="detail_water.html@Start=260">27</a> | <a href="detail_water.html@Start=270">28</a> | <a href="detail_water.html@Start=280">29</a> | <a href="detail_water.html@Start=290">30</a> | <a href="detail_water.html@Start=300">31</a> | <a href="detail_water.html@Start=310">32</a> | <a href="detail_water.html@Start=320">33</a> | <a href="detail_water.html@Start=240">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

