{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>When I take a shower they are very short.I also make sure that when I wash dishes I don't keep the water on.Plus when i brush my teeth in beetween my rinse I turn off the water that also saves too.</p> <p>— starlette10, Age 10</p>
      <hr> <p>I never let the water runing while I am brushing my teeth. I have to tell my mom and dad that you have to save water. But I am starting to get in trouble. I dont care at all if they ground me. I will stand my ground until I cant hold anymore. I Even tell my mom that washing a car in a car wash is better than washing a car by hand. But all she will do is tell me that washing a car by hand is more comfortable. Even though i tell her the consiquences she will not listen. I care for the world and I dont care what she says about not saving water!!!!!!!!</p> <p>— slaunsy234, Age 11</p>
      <hr> <p>I take short showers and turn off the water while I brush my teeth. If you waste water, you take more water from lakes, ponds, and oceans. This minimizes the habitats for marine creatures. So DON'T waste water!!!!! PS-There is and oganization near my house working to save water. I am part of the oganization.</p> <p>— ROLLER334, Age 11</p>
      <hr> <p>I can save water by not letting the faucet run while i'm doing the dishes, and plug the drain.</p> <p>— candycane892, Age 9</p>
      <hr> <p>Saving water is as easy as turning off a faucet when you brush your teeth or wash the dishes. Just remember not to go extreme measures like not showering.</p> <p>— kikithebest, Age 12</p>
      <hr> <p>my name is Cynthia and to use and don't lose water is to do the right thing and do what your mom and tell you to do. like don't leave the water on when you brush your teeth that's what every one sound do to save and don't lose water. also water is never going to go away and don't take a long time in the shower that will lose a lot of water</p> <p>— 423miley, Age 11</p>
      <hr> <p>I don't pour chimicls in the water....and I don't waste water.i try to help the earth...and i wan't to make a diffrinc to you....but i'am planting.sometime's i leave a bucket in the rain and it get's water in it...and when the rain stop's i take the bucket inside and save water so i don't waste water from the fuset.one more thing for you to do.....help the earth.</p> <p>— anjali, Age 7</p>
      <hr> <p>i save water by taking a short shower and turn off the water when i brush my teeth. its easy.</p> <p>— Nick, Age 8</p>
      <hr> <p>I use handsinitiser.</p> <p>— alexandria, Age 6</p>
      <hr> <p>i think i can save water by takeing a 2 min shower ensted of 5 min</p> <p>— licetp, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=230" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=250" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3686<br><a href="detail_water.html@Start=230">Previous</a> | <a href="detail_water.html@Start=150">16</a> | <a href="detail_water.html@Start=160">17</a> | <a href="detail_water.html@Start=170">18</a> | <a href="detail_water.html@Start=180">19</a> | <a href="detail_water.html@Start=190">20</a> | <a href="detail_water.html@Start=200">21</a> | <a href="detail_water.html@Start=210">22</a> | <a href="detail_water.html@Start=220">23</a> | <a href="detail_water.html@Start=230">24</a> | 25 | <a href="detail_water.html@Start=250">26</a> | <a href="detail_water.html@Start=260">27</a> | <a href="detail_water.html@Start=270">28</a> | <a href="detail_water.html@Start=280">29</a> | <a href="detail_water.html@Start=290">30</a> | <a href="detail_water.html@Start=300">31</a> | <a href="detail_water.html@Start=310">32</a> | <a href="detail_water.html@Start=320">33</a> | <a href="detail_water.html@Start=330">34</a> | <a href="detail_water.html@Start=250">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

