{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>I take short showers. I use a only a pinch of water when I brush my teeth. When I can't finish a glass of water I save it for later instead of dumping it down the drain.</p> <p>— scisci2, Age 9</p>
      <hr> <p>i save water by taking short showers and shutting the water when i brush my teeth. i also save water by shutting the water off when i help my mom do the dishes.your probally wondering how you do that so here's how.first grab a bowl,plate, fork,knife(e.t.c) second turn on the water and wet it then turn off the water.third grab the sponge and put soap on it.fourth scrub the dish.fith turn on the water and rinse it and shut off the water.repeat. that is how you do it.</p> <p>— brielle, Age 8</p>
      <hr> <p>I save water by turning off the faucet's water and brushing my teeth.I use less water when I am taking a bath and when i'm taking a shower i take it short.</p> <p>— zachary, Age 6</p>
      <hr> <p>I save water by turning it off when i am not using it. I turn it off when i get soap for my hands when i am washing them.</p> <p>— kimberly, Age 10</p>
      <hr> <p>When I take baths I leave the water for my brother</p> <p>— Ella , Age 6</p>
      <hr> <p>rain water harvesting</p> <p>— eeshani, Age 4</p>
      <hr> <p>i can save water by using a waterbottle instead using bottles.</p> <p>— jan, Age 9</p>
      <hr> <p>By Keeping All Aquatic Ecosystems And All Water Locations Clean.</p> <p>— real56, Age 12</p>
      <hr> <p>i save water by taking short showers,and by turning off the sink while i brush my teeth.</p> <p>— jasmineck8, Age 9</p>
      <hr> <p>I would save water by turning off the faucet when I don't need it on, while I'm brushing my teeth, I would turn off the faucet when I'm brushing, I wish the whole Earth could save water. No-the whole universe! Hope you guys out there can do this too! (It would be better if you could try this at home) Try to turn off the faucet when you don't need it. Help the environment to try one little thing to make a big difference. Just if everybody could do this all at the same time, just only back in time, we could have had a better Earth. Lets try to make a difference today.</p> <p>— sarah428j, Age 10</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=240" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=260" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3686<br><a href="detail_water.html@Start=240">Previous</a> | <a href="detail_water.html@Start=160">17</a> | <a href="detail_water.html@Start=170">18</a> | <a href="detail_water.html@Start=180">19</a> | <a href="detail_water.html@Start=190">20</a> | <a href="detail_water.html@Start=200">21</a> | <a href="detail_water.html@Start=210">22</a> | <a href="detail_water.html@Start=220">23</a> | <a href="detail_water.html@Start=230">24</a> | <a href="detail_water.html@Start=240">25</a> | 26 | <a href="detail_water.html@Start=260">27</a> | <a href="detail_water.html@Start=270">28</a> | <a href="detail_water.html@Start=280">29</a> | <a href="detail_water.html@Start=290">30</a> | <a href="detail_water.html@Start=300">31</a> | <a href="detail_water.html@Start=310">32</a> | <a href="detail_water.html@Start=320">33</a> | <a href="detail_water.html@Start=330">34</a> | <a href="detail_water.html@Start=340">35</a> | <a href="detail_water.html@Start=260">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

