{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>i save wanter by puting a bunket ot side and whene it ranes i you's it four my flowers</p> <p>— dianna, Age 6</p>
      <hr> <p>an monday march 22 i will tell everyone in my neghborhood to save water if they dont agree the wil fear my LASER (that is made of wind)</p> <p>— elij47, Age 8</p>
      <hr> <p>well in this world what i do to save water is i try to turn the water off when brushing my teeth and i also try to take shorter showers and i also try to when the house has a leak i will tell my mommy and then it gets fixed right away! THE END MY NAME IS 987654321POP.</p> <p>— 987654321pop, Age 11</p>
      <hr> <p>i save water by taking short showers,and my family use the car wash instead of the tape water,i even recicle paper bottles [e.t.c]</p> <p>— jas757, Age 7</p>
      <hr> <p>I turn off the water when I brush my teeth and I take shorter showers.</p> <p>— altnhan, Age 9</p>
      <hr> <p>People should try to save water by collecting rain water for their baths , because rain water makes your hair realy soft , and moisturises your skin.</p> <p>— lilsuger, Age 10</p>
      <hr> <p>People need to try these ideas: 1.Only take 5 minute showers. 2.Turn off the water when brushing. 3.Check faucets and water pipes for leaks. 4.Give out fliers at school that tell to save water. 5.Put posters up around your block that tell to save water. We will all die if we run out of water. Our bodies are partially made of water!</p> <p>— techgirl, Age 8</p>
      <hr> <p>Not only do i save it by using quick showers! I also build lego inventions to use water it a cycle to spin a genarator which powers every thing need and i store power into rechargable batteries and use with a lego propeller to push the water even faster</p> <p>— john55223, Age 11</p>
      <hr> <p>When we can lets save our water by shuting off the tap and try not to polute our crystal clear water, then there will be more to drink!</p> <p>— thekid234567, Age 7</p>
      <hr> <p>I am not going to take a long shower, only drink tap water, tell my friends at school to not use a lot of water. Water is important. It grows plants, keeps us hydrated and clean. Water does a lot of things for us so we should do this for water!</p> <p>— peppercatluv, Age 12</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=20" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=40" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3686<br><a href="detail_water.html@Start=20">Previous</a> | <a href="detail_water.html@Start=10">2</a> | <a href="detail_water.html@Start=20">3</a> | 4 | <a href="detail_water.html@Start=40">5</a> | <a href="detail_water.html@Start=50">6</a> | <a href="detail_water.html@Start=60">7</a> | <a href="detail_water.html@Start=70">8</a> | <a href="detail_water.html@Start=80">9</a> | <a href="detail_water.html@Start=90">10</a> | <a href="detail_water.html@Start=100">11</a> | <a href="detail_water.html@Start=110">12</a> | <a href="detail_water.html@Start=120">13</a> | <a href="detail_water.html@Start=40">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

