{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>I try to save water by eating on less dishes . It helps to not wash as many dishes.</p> <p>— voltagegirl1, Age 11</p>
      <hr> <p>I am in charge of my family's environmental rules, and here are the ones I picked: 1. Bring a STEEL water bottle, filled with cold water, to school. Keep it with your lunch box to prevent having to use an ice pack with poison liquid. 2. When needing to write, switch back and forth. Only use a LITTLE bit of paper if you write on paper, and be sure to use an eco-friendly pencil, which can be bought at drug stores. If you use the computer, be sure to use a low-energy laptop, and shut down the computer when you are done. Turn the speakers and monitor off, too. I love helping the environment. Check out my other posts on environmental issues in other sections. See you later!</p> <p>— author731, Age 8</p>
      <hr> <p>When I am brushing my teeth I turn off the water. I also wash my hands for 20 seconds so not much water gets out.</p> <p>— Meredith, Age 7</p>
      <hr> <p>To use less water. To take shorter showers. That's how you save water!</p> <p>— Trinity, Age 7</p>
      <hr> <p>i use less water to plat flowers and save the earth.</p> <p>— siani, Age 7</p>
      <hr> <p>i save water by every possible way imaginable. I love this planet and I wanto take care of it!</p> <p>— jas720, Age 12</p>
      <hr> <p>At home and at my school we turn of the water when we are washing our hands, we don't really use the water fountains at school we buy our bring our own waterbottles, and at home i turn the water off when i brush my teeth.</p> <p>— tswells, Age 10</p>
      <hr> <p>I save water by turning it off when i an not using it. Or when i brush my teeth i turn the water off and then I turn the water on then I rins. The i get a glass of clean water and i rinse then when I an done I have a little water laeft I put the rest in our plant at our house.</p> <p>— bhuu123, Age 10</p>
      <hr> <p>I save water by taking short showers,turning off water when I am not using it,and I save it by not wasting drinking water.</p> <p>— egreading, Age 8</p>
      <hr> <p>I take shorter showers because we need water to survive think if we don't take water to a desert you won't survive. It's hot you'll be to dry.Guadalaysia</p> <p>— Guadalaysia, Age 11</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=290" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=310" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3705<br><a href="detail_water.html@Start=290">Previous</a> | <a href="detail_water.html@Start=210">22</a> | <a href="detail_water.html@Start=220">23</a> | <a href="detail_water.html@Start=230">24</a> | <a href="detail_water.html@Start=240">25</a> | <a href="detail_water.html@Start=250">26</a> | <a href="detail_water.html@Start=260">27</a> | <a href="detail_water.html@Start=270">28</a> | <a href="detail_water.html@Start=280">29</a> | <a href="detail_water.html@Start=290">30</a> | 31 | <a href="detail_water.html@Start=310">32</a> | <a href="detail_water.html@Start=320">33</a> | <a href="detail_water.html@Start=330">34</a> | <a href="detail_water.html@Start=340">35</a> | <a href="detail_water.html@Start=350">36</a> | <a href="detail_water.html@Start=360">37</a> | <a href="detail_water.html@Start=370">38</a> | <a href="detail_water.html@Start=380">39</a> | <a href="detail_water.html@Start=390">40</a> | <a href="detail_water.html@Start=310">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

