{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>If you don't know how to save water and you want to save it? Well you came to the right place! If you need to save water here are some examples: Always turn off water to save a million gallon of water! Did you know many people POLLUTE the water. Do you know what POLLUTE means? Well i will tell you! Pollute is when people throw trash on the water! Have you ever seen Wrappers, cans or plastic? You did? Well if you pollute many sea creature thats below the water die for eating those things. If you have a fish, frog or a turtle? Do you throw paper wrappers inside the tank of your pet? Well if you don't throw paper wrappers no right? Well you shouldn't do that on the ocean. Turtles are dying because they are eating plastic wrappers. Sea turtles eat jelly fishes you know. They are dying because they are eating plastic wrappers and eating them they also choke on plastic wrappers. Then if they die yo won't have any pet. Try not to POLLUTE the water okay? Thanks for reading this. Hope its stops you polluting the water. Well Bye! Remember do not POLLUTE the water. WELL BYE!!</p> <p>— Melanierox99, Age 10</p>
      <hr> <p>How you can save water is by turning off a faucet in the sink or bathroom or a watering hose. You can also save water by keeping the lakes clean. You can do that by not throwing garbage in the lakes or other water carrying places.</p> <p>— gizmo0731, Age 10</p>
      <hr> <p>well I drink water that i collect in rain shwers. scine my brother is in boyscouts he touhgt me how to purifie water. we also clean local storm drains to help keep junk out of our waters!</p> <p>— katie, Age 9</p>
      <hr> <p>We use a broom instead of water to clean our driveway.</p> <p>— Luke, Age 6</p>
      <hr> <p>I bought a Sigg bottle and I use that instead of plastic water bottles.</p> <p>— Blake, Age 6</p>
      <hr> <p>I turn off the water while I brush my teeth. I catch rain to water our garden.</p> <p>— (none)Samantha, Age 6</p>
      <hr> <p>I save water by taking shorter showers and have my mom tell me when 4-5 minutes are up. I go around the house turning off water faucets if they're running when I'm bored.</p> <p>— sango16, Age 12</p>
      <hr> <p>I try to save water by useing a rain barl</p> <p>— rsk100, Age 7</p>
      <hr> <p>Sometimes we put buckets out when it rains and we use the rain water to water our plants.</p> <p>— 1234jt, Age 7</p>
      <hr> <p>I turn off the water while washing the dishes and only turn it on when I am rinsing the dishes.</p> <p>— lovehearts76, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=330" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=350" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3705<br><a href="detail_water.html@Start=330">Previous</a> | <a href="detail_water.html@Start=250">26</a> | <a href="detail_water.html@Start=260">27</a> | <a href="detail_water.html@Start=270">28</a> | <a href="detail_water.html@Start=280">29</a> | <a href="detail_water.html@Start=290">30</a> | <a href="detail_water.html@Start=300">31</a> | <a href="detail_water.html@Start=310">32</a> | <a href="detail_water.html@Start=320">33</a> | <a href="detail_water.html@Start=330">34</a> | 35 | <a href="detail_water.html@Start=350">36</a> | <a href="detail_water.html@Start=360">37</a> | <a href="detail_water.html@Start=370">38</a> | <a href="detail_water.html@Start=380">39</a> | <a href="detail_water.html@Start=390">40</a> | <a href="detail_water.html@Start=400">41</a> | <a href="detail_water.html@Start=410">42</a> | <a href="detail_water.html@Start=420">43</a> | <a href="detail_water.html@Start=430">44</a> | <a href="detail_water.html@Start=350">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

