{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>Hey!I save water by turning off the water when I wash my hands.P.S i am a FREAK about globel health.</p> <p>— adria, Age 8</p>
      <hr> <p>i turn off the water when not using it i take bath so i can wash myself if u take showers it takes longer baths u can stay in &amp; bathe while taking a showeru r wasting lots of water thxs luv icarley55</p> <p>— icarley55, Age 13</p>
      <hr> <p>while I brush my teeth I turn off the water.</p> <p>— zaina, Age 10</p>
      <hr> <p>i save water by turning off water that is not in use.</p> <p>— omuno, Age 10</p>
      <hr> <p>I take quick showers and baths, and I turn off the water while I'm brushing my teeth!</p> <p>— bigbrotherj6, Age 6</p>
      <hr> <p>I try to save water by telling my family members to fix the sink or anything else that's dripping water.In the meantime I put a cup under the leaky facuets while my family members get their fixing tools so that we can give that water to the plants. Oh, by the way here's a fact you might not know~~~~~~~ The amount of water in Earth is ALWAYS the same.So, the Earth doesn't make any "new water". You might be wondering,"So when it rains that water isn't new?" The answer is,"Yes".Rain occurs as a result of The Water Cycle.Here's a brief explanation of The Water Cycle~~~ The Water Cycle begins with EVAPORATION.Evaporation is when water evaporates into the air and eventually becomes water vapor.So now you know that when you put water in a bowl and you set it outside it doesn't magically disappear,it evaporates. The next step is CONDENSATION.The water vapor comes together, along with a particle of dust to form a cloud. Then, PRECIPITATION comes next.Precipitation is rain,snow,sleet,and hail. Finally,the last step in The Water Cycle is COLLECTION.When precipation occurs that precipitation falls into rivers,lakes,streams,oceans,and so on.That "collection area'"will serve as a place for The Water Cycle to begin again. For more information you should go to Eekoworld's Air &amp; Water.You could also go to the library or you could ask family members.You could also go online, but make sure you're on a trustworthy or reliable website.</p> <p>— jessica29, Age 11</p>
      <hr> <p>if someone in my family leaves the faucet running I stop it.cause its really really really grrrreat to save water</p> <p>— Bbmeb14, Age 14</p>
      <hr> <p>I can shut the water faucet,take shorter showers insted taking long showers,andI make sure that all of the faucets are off.</p> <p>— goldenjewel, Age 8</p>
      <hr> <p>I save water by turning off the water while I brush my teeth and I tell my friends to do that too. I take showers instead of baths. I also drink all the water in my cup instead of pouring it down the drain.</p> <p>— lrz2400, Age 9</p>
      <hr> <p>i take sailor showers i get wet turn of the water put soap on turn the water back on and get wet turn off water i'm done</p> <p>— carl, Age 13</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=530" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=550" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3591<br><a href="detail_water.html@Start=530">Previous</a> | <a href="detail_water.html@Start=450">46</a> | <a href="detail_water.html@Start=460">47</a> | <a href="detail_water.html@Start=470">48</a> | <a href="detail_water.html@Start=480">49</a> | <a href="detail_water.html@Start=490">50</a> | <a href="detail_water.html@Start=500">51</a> | <a href="detail_water.html@Start=510">52</a> | <a href="detail_water.html@Start=520">53</a> | <a href="detail_water.html@Start=530">54</a> | 55 | <a href="detail_water.html@Start=550">56</a> | <a href="detail_water.html@Start=560">57</a> | <a href="detail_water.html@Start=570">58</a> | <a href="detail_water.html@Start=580">59</a> | <a href="detail_water.html@Start=590">60</a> | <a href="detail_water.html@Start=600">61</a> | <a href="detail_water.html@Start=610">62</a> | <a href="detail_water.html@Start=620">63</a> | <a href="detail_water.html@Start=630">64</a> | <a href="detail_water.html@Start=550">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=14"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

