{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . How Do You Try To Save Water? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_howdoyoutrytosavewater.jpg" alt="How do you try to save water?" width="322" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_water.gif" alt="How do you try to save water?"> <p>I turn off the water when I brush my teeth, and try to take shorter showers. thats how I save water.</p> <p>— grant, Age 6</p>
      <hr> <p>I save water by making sure that when my dad shaves his breard I let him only use a little bite. :)</p> <p>— m655332, Age 10</p>
      <hr> <p>Take a shower not a bath.</p> <p>— oliviak123, Age 8</p>
      <hr> <p>we can always take 5 minute showers. and when we brush our teeth you can turn off the water. and make sure you turn off the water completely when your are done using water</p> <p>— jocyruls, Age 11</p>
      <hr> <p>you can also save water by using a pond or lake because it already has water in it or you can use your breath and that will create water! :-)</p> <p>— preety0926, Age 9</p>
      <hr> <p>How I save water by not using non organic fruits and vegetables that is called a weed by not spilling water my mom mom uses fresh water in our state PA not littering because it can hurt animals plants trees people or even food like for example if I litter a box if I hurt one of the animals its not good at all this movie is more educational than air it talks about littering how you can hurt other animals trees plants food people or even flowers not using chemical product like bleach and windex its not good for the environment alright I have to tell you a fact did you know that spilling water is not good? P.S if you want to join a club ask a parent or guardian they might or might not get permission from you.</p> <p>— Alex Z, Age 9</p>
      <hr> <p>we use are water that we do not drink to water are flowers.</p> <p>— wre870, Age 8</p>
      <hr> <p>I will try and save water by using a broom to clean the sidewalk.</p> <p>— Myasunaga, Age 7</p>
      <hr> <p>i think we should collect rainwater</p> <p>— nautilis87, Age 8</p>
      <hr> <p>When you brush your teeth turn of the water.</p> <p>— Annie938, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_water.html@Start=690" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_water.html@Start=710" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 5098<br><a href="detail_water.html@Start=690">Previous</a> | <a href="detail_water.html@Start=610">62</a> | <a href="detail_water.html@Start=620">63</a> | <a href="detail_water.html@Start=630">64</a> | <a href="detail_water.html@Start=640">65</a> | <a href="detail_water.html@Start=650">66</a> | <a href="detail_water.html@Start=660">67</a> | <a href="detail_water.html@Start=670">68</a> | <a href="detail_water.html@Start=680">69</a> | <a href="detail_water.html@Start=690">70</a> | 71 | <a href="detail_water.html@Start=710">72</a> | <a href="detail_water.html@Start=720">73</a> | <a href="detail_water.html@Start=730">74</a> | <a href="detail_water.html@Start=740">75</a> | <a href="detail_water.html@Start=750">76</a> | <a href="detail_water.html@Start=760">77</a> | <a href="detail_water.html@Start=770">78</a> | <a href="detail_water.html@Start=780">79</a> | <a href="detail_water.html@Start=790">80</a> | <a href="detail_water.html@Start=710">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

