{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>Angelica,the woodpecker in mississippi is endangered</p> <p>— vista_2301, Age 9</p>
      <hr> <p>do any of you guys watch you wrestling.(wwe)</p> <p>— wwefan3997, Age 12</p>
      <hr> <p>I think that horse drawn carts save gasoline energy and money so the earth can stay healthy and you can buy more food for the horses.</p> <p>— ponygirl00, Age 9</p>
      <hr> <p>instead of buying things for projects, reuse objects</p> <p>— caseytown, Age 9</p>
      <hr> <p>Dear People,please save the earth a lot of years from now [like eight million] the earth will just fall apart BUT if we save it it will not . So please help the earth the tiniest thing you do will help TONS in the future for another earth friendly site go to www.hippoworks.com there are videos you can watch and games the best part is the site runs on solar power.</p> <p>— Pauline, Age 9</p>
      <hr> <p>I think are earth needs are help. We could try raising money for a local zoo or animal hospital. Maybe we could carpool with some of are close friends. There is lots of things we could do to protect are earth. I also think ecoworld is an awsome website it helps kids notice we need to take care of are earth.</p> <p>— Alexandra, Age 8</p>
      <hr> <p>I DONT KNOW WHY PEOPLE THINK THE WORLD WILL CLEAN IT'S SELF SO THATS WHY WE KIDS NEED TO TACK CONTROL BEFOR THE EARTH IS BEOND HELP, SO GO TEEL YOUR FAMLY, FREANDS AND ENYONE ELSE YOU KNOW TO GO AND HELP THE THE EARTH IN SOME WAY AND MAYBE WE CAN SAVE THE EARTH!!!!!!!!!!!!!!</p> <p>— britss, Age 11</p>
      <hr> <p>I don't like the fact that wolves are being overhunted in Alaska. They just got out of the endangered species zone, only to get right back in there! I know I'm not the only one who thinks it's not right, but I had to get this out. Anyone else agree?</p> <p>— EekoTeen12, Age 15</p>
      <hr> <p>Are there any endangered animal in Florida?</p> <p>— stinkerbell6, Age 6</p>
      <hr> <p>I realy think this is a good game.I think everyone should play it. (bye) And p.s my Eekocreaters name is vilet,she,a female has been playing for three days,vilet is full snake and is pritty small. shes smart too!!I have 360 points and not in hall of fame!!!</p> <p>— princesstabi, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=140" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=160" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=140">Previous</a> | <a href="detail_freeform.html@Start=60">7</a> | <a href="detail_freeform.html@Start=70">8</a> | <a href="detail_freeform.html@Start=80">9</a> | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=130">14</a> | <a href="detail_freeform.html@Start=140">15</a> | 16 | <a href="detail_freeform.html@Start=160">17</a> | <a href="detail_freeform.html@Start=170">18</a> | <a href="detail_freeform.html@Start=180">19</a> | <a href="detail_freeform.html@Start=190">20</a> | <a href="detail_freeform.html@Start=200">21</a> | <a href="detail_freeform.html@Start=210">22</a> | <a href="detail_freeform.html@Start=220">23</a> | <a href="detail_freeform.html@Start=230">24</a> | <a href="detail_freeform.html@Start=240">25</a> | <a href="detail_freeform.html@Start=160">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

