{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>I just got back from a sleepover at the VA meusem of natural history.Selebrating Nasa retiring thier shuttles I also Got to see walking with the dinosuars it was AWESOME!</p> <p>— leelers8, Age 9</p>
      <hr> <p>i love flowers and animals. i love my creature.her name is flowwer.</p> <p>— androcles, Age 19</p>
      <hr> <p>I think Eekoworld is fun, but its educational at the same time though. Eekoworld also gives me ideas on how to wright my stories like my first one called The Rockwell Family book 1 that I just acomplished today it has about 9 or 10 pages. Anyway back to the subject I personly think that Eekoworld is a great and I mean great website for children 5-9 yers old or even older, I mean I could talk about this all day which is what i'm going to do. Today I checked any newbe viewings and they are great, now you may think i'm a newbe but i'v been on this website for 8 years now. Anyway if you want to get a copy of my story you can email me. But i'm not going to give you my adress now because I don't have one yet. All of you kids out there I'm starting a group at school and it's called Eeko enviorment and I think all of you could start one too, just make sure your teacher and parents are good with it and it has to have a name always. I really listen and do what Eekoworld says because if you do that you really are saving the envorment trust me. Today I did Eekocreture and Eekohouse and I leard something an I ope you can too. Anyway lets stop talking about Eeko stuff and lets talk about my normal life. I have a 4 person family unless you count my brothers ther is 6 people in my family (just in my house). I, Alysha go to indian dancing wich some of you may not have herd of befor and it's not like the bow and arow indians cultural indians like in india. Anyway I have to go and have a HAPPY EEKOWORLD DAY FOLKS!</p> <p>— Alysha, Age 8</p>
      <hr> <p>I lived in Costa Rica most of my life. There are alot of exotic creatures that live here but sadly many of them are dying from poaching and their enviorment being threathened. So i wrote to a local newspaper about this problem and now everyone is helping out to save the enviorment.</p> <p>— 6abyc, Age 11</p>
      <hr> <p>I wish for peace in the world!</p> <p>— CutiePie1357, Age 12</p>
      <hr> <p>to:gogo180 or whatever your name is... I feel real bad for you. Just deal with it though. Is you hating someone really worth your friendship? Think about that.</p> <p>— Valentinebab, Age 11</p>
      <hr> <p>c8c8, that is so sad you have so many animals yet you are allergic to cats. My mom is too. i really want one.</p> <p>— pizzaeater8, Age 10</p>
      <hr> <p>Hi I wanna play with bears but I can't Please help everyone Greenpeache</p> <p>— Totoşka Mi, Age 8</p>
      <hr> <p>I think we should use compost insted of garbge so we can help the soil.</p> <p>— fridabee, Age 8</p>
      <hr> <p>I think everybody should use solar cars to drive</p> <p>— Jamie, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=150" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=170" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=150">Previous</a> | <a href="detail_freeform.html@Start=70">8</a> | <a href="detail_freeform.html@Start=80">9</a> | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=130">14</a> | <a href="detail_freeform.html@Start=140">15</a> | <a href="detail_freeform.html@Start=150">16</a> | 17 | <a href="detail_freeform.html@Start=170">18</a> | <a href="detail_freeform.html@Start=180">19</a> | <a href="detail_freeform.html@Start=190">20</a> | <a href="detail_freeform.html@Start=200">21</a> | <a href="detail_freeform.html@Start=210">22</a> | <a href="detail_freeform.html@Start=220">23</a> | <a href="detail_freeform.html@Start=230">24</a> | <a href="detail_freeform.html@Start=240">25</a> | <a href="detail_freeform.html@Start=250">26</a> | <a href="detail_freeform.html@Start=170">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

