{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>My friends and I starting a club.We called it The Three R's Club.We are working to help the grasslands.Many people's favorite animals live in the grasslands.We cleaned up the grassland near our school.I feel happy about the work we did.</p> <p>— Haromony, Age 9</p>
      <hr> <p>i think we should car pool,ride our bikes and if we are close walk to school. We should recycle morel and TRIE TO SAVE THE ENVIRMENT!</p> <p>— pinmel, Age 19</p>
      <hr> <p>I think all of us should clean the earth. Because we belong to the earth the earth dos not belong us.</p> <p>— maddymady, Age 11</p>
      <hr> <p>I think everyone has a special enviermental part of their heart that they are to afraid to admit</p> <p>— sox4real, Age 8</p>
      <hr> <p>well if we didnt have ant trees cuz we would not be not living now ill say if i hafe to we need to work on something that is dont use paper all the time THIS IS HOW I WOULD DO IT. 1.use lifes for paper 2.put the lifes in glue in a shap of a4 paper 3.when it is jrue use it then you have done something that is eko</p> <p>— hermione, Age 9</p>
      <hr> <p>Eeko it is cool for my emma</p> <p>— SHELBY, Age 10</p>
      <hr> <p>I wish there was more water in the world.People don't save water.If they don't save water,we won't have any water anymore!Everything would just be hot and dry.</p> <p>— Haromony, Age 9</p>
      <hr> <p>I thank all of us should clean the earth</p> <p>— austin, Age 12</p>
      <hr> <p>dear gogo189 i forgot to write so i hope you over come you feeling and try to get along with your arch enemy cause i did it worked out cause my sister was my arch enemy it was hard to get along but we did we started play games together but sometimes we still fight but we forgive each other so try it out and keep me posted</p> <p>— parker7896, Age 10</p>
      <hr> <p>If any more people litter I will scream becase I hate litter! Besides, litter is very bad for your home.</p> <p>— Jordyn, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=170" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=190" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=170">Previous</a> | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=130">14</a> | <a href="detail_freeform.html@Start=140">15</a> | <a href="detail_freeform.html@Start=150">16</a> | <a href="detail_freeform.html@Start=160">17</a> | <a href="detail_freeform.html@Start=170">18</a> | 19 | <a href="detail_freeform.html@Start=190">20</a> | <a href="detail_freeform.html@Start=200">21</a> | <a href="detail_freeform.html@Start=210">22</a> | <a href="detail_freeform.html@Start=220">23</a> | <a href="detail_freeform.html@Start=230">24</a> | <a href="detail_freeform.html@Start=240">25</a> | <a href="detail_freeform.html@Start=250">26</a> | <a href="detail_freeform.html@Start=260">27</a> | <a href="detail_freeform.html@Start=270">28</a> | <a href="detail_freeform.html@Start=190">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

