{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>Why do people pollute a lot? (P.S,please answer my question.)</p> <p>— Miley, Age 12</p>
      <hr> <p>SNOOZIE THE GIANT AND THE RECYCLEING BIN By Latasha One day Snoozie was walking out-side and saw a bottle. She picked it up and put it in the recycling bin. She was happy that she put it in the recycling bin. So for now she is happy,but she will have more trouble later on. COMING SOON Snoozie the giant and the forest trouble</p> <p>— Latasha, Age 5</p>
      <hr> <p>Do you want sneezing to not be invented? I DO! because if you sneeze and you use a tissu people will need to cut more trees of. If you sneeze and you wash it of you did not save water. And if you wipe it on your shirt...Yuck!...your mom or dad have to wash your shirt so...it does not save energy! Weird!</p> <p>— lacea, Age 7</p>
      <hr> <p>This is the best day ever! I got a pet dog!...but I need to give the dog away at ummmm...Sunday because my friend is going to seaworld and they can't bring the dog in the airplane so they let me take care of it. His name chinese name is Jingjing. He is so cute! Who likes to cut trees? I don't! Get a green day!</p> <p>— lacea, Age 7</p>
      <hr> <p>My school is so awesome! We are very eeko (haha) friendly. We don't relly put the heat on full blast so we can save energy, we email our newsletters, we don't turn on the big lights at lunch our only source of light in the cafeteria is our really big window. I love how my school is!</p> <p>— Micaelers524, Age 10</p>
      <hr> <p>duckies who live in a world of mac &amp; cheese. they decide that they will gradually eat the mac &amp; cheese. then one duckie accidentally eats a big hole in the ground, and they find a flower, and it's dead. so then all the duckies clean up the world, and today the world of duckies is clean, and healthy. i wish more people in the world would decide to live like the duckies!</p> <p>— artgirl4998d, Age 11</p>
      <hr> <p>Yeah I know its horrible when people throw trash on the ground! Thats why I want to move to NH somday, they seem to care more about the wildlife and nature. Anyway, This is rather random, but I think I'm probobly one of the oldest people here! LOL I'm 13 and still like little kid stuff. I LOVE ANIMALS! I want to own a dog someday, probobly a pit bull (They are NOT as mean as everyone says they are) Akita Inu or a Mutt. I love the breeds that everyone says are "Mean" Becuase they arent. They're fine as long as they have been trained and socilized at an early age, ANY dog, purebred or mutt can be dangerous in the hands of..hmm how can I put this....a very "Silly" person. Oh and by the way, I generaly don't get into conversations about school...I'm Homeschooled! (and NO we do NOT have to take tests or anything). Have a good time everybody :D</p> <p>— 37Mustangs, Age 13</p>
      <hr> <p>cheeko is SOOOOOOOOOOOOOOOOO cute!!!!!!!!!!!!!!!!!!!!!!!!!!!</p> <p>— soccer1221, Age 9</p>
      <hr> <p>IS CRPOOLING REALLY ECO FRIENDLY ME AND MY FRIEND CAR POOL EVERY DAY ANOTHERQUESTION IF U RIDE A BUS WITH ONLY 4 PEPLE AND IT HAS TO GO A LONG WAY FROM YOUR SCHOOL IS IT REALLY ECO FREINDLY</p> <p>— ALLISON2, Age 11</p>
      <hr> <p>me and my mom played loco cheeko.IT WAS SO AWESOME!</p> <p>— hi915, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=20" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=40" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=20">Previous</a> | <a href="detail_freeform.html@Start=10">2</a> | <a href="detail_freeform.html@Start=20">3</a> | 4 | <a href="detail_freeform.html@Start=40">5</a> | <a href="detail_freeform.html@Start=50">6</a> | <a href="detail_freeform.html@Start=60">7</a> | <a href="detail_freeform.html@Start=70">8</a> | <a href="detail_freeform.html@Start=80">9</a> | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=40">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

