{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>hi every one my name is nyah iam live in newjesrey iam hlep the poler bears by rise money to donat to the wwf. poler bears are indaner i love poler bears but they are dieing for thash in the water and there food dispering iam recycling and save water to hlep they.</p> <p>— nyahland00, Age 9</p>
      <hr> <p>Hey EekoCreatures!!! I luv dis website. I think dat dis website should be school @t home. It has everything u need 2 know about the environment,recycling,air,water,plants,animals,and more.Dis website is so cool. I also like the way u could make your own creatures.Well thank u creatures 4 listening 2 me and other people. THANK U CREATURES!!!!!!!!!!!!!!1</p> <p>— President15, Age 11</p>
      <hr> <p>hello every one im very new here on eeko world this is very fun to do</p> <p>— allysenmm232, Age 10</p>
      <hr> <p>I live near a forest and i love to take walks so it would be sad ifit was gone.I will plant more trees.</p> <p>— joscelyne, Age 11</p>
      <hr> <p>I LIKE PLAYING FOOT BALL WITH MY FRIENDS</p> <p>— HIPPOP99, Age 14</p>
      <hr> <p>I loved dinosaurs since I was a child.</p> <p>— deep101, Age 8</p>
      <hr> <p>i dont know what outfit to wear for the movies today and i dont know what to wear tomorrow for that special occasion which is a date from a boy with my cousin on valentines day thats so romantic dont you all think that? but i have to try s</p> <p>— kool_cat1, Age 10</p>
      <hr> <p>hi snowman 03 happy v/ day will you be my friend</p> <p>— allysen23, Age 10</p>
      <hr> <p>I would like to make a school where kids could learn how to keep the world clean and have fun at the same time.</p> <p>— kyleecoworld, Age 11</p>
      <hr> <p>I think recycling is the coolist thing on earth what I think we should do is have a law to always recycle like I said "Recycling is the coolist thing on earth!"</p> <p>— weasleman, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=290" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=310" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9492<br><a href="detail_freeform.html@Start=290">Previous</a> | <a href="detail_freeform.html@Start=210">22</a> | <a href="detail_freeform.html@Start=220">23</a> | <a href="detail_freeform.html@Start=230">24</a> | <a href="detail_freeform.html@Start=240">25</a> | <a href="detail_freeform.html@Start=250">26</a> | <a href="detail_freeform.html@Start=260">27</a> | <a href="detail_freeform.html@Start=270">28</a> | <a href="detail_freeform.html@Start=280">29</a> | <a href="detail_freeform.html@Start=290">30</a> | 31 | <a href="detail_freeform.html@Start=310">32</a> | <a href="detail_freeform.html@Start=320">33</a> | <a href="detail_freeform.html@Start=330">34</a> | <a href="detail_freeform.html@Start=340">35</a> | <a href="detail_freeform.html@Start=350">36</a> | <a href="detail_freeform.html@Start=360">37</a> | <a href="detail_freeform.html@Start=370">38</a> | <a href="detail_freeform.html@Start=380">39</a> | <a href="detail_freeform.html@Start=390">40</a> | <a href="detail_freeform.html@Start=310">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

