{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>in the future earth will be so scarce but we can colonize mars yes M-A-R-S=mars its easy as 1-2-3 just send a probe next load it with alge samples then deposit them wait some years and voala. see the alge breathes in the carbon dioxside and they create oxygen.SO THERE HA!!!!!!!!!!!!</p> <p>— anakin09, Age 12</p>
      <hr> <p>Talk to the princapal, teacher, or even a consular. Ask them if you can start a recycling program. You never what will happen!!!! It just might be something awesome!!!!!!</p> <p>— Grapes98, Age 11</p>
      <hr> <p>What happened in Hati?????</p> <p>— Hampstead123, Age 13</p>
      <hr> <p>Oh my gosh!!!!!!! I love Harry potter and the series of unfornate events they are like the beat books ever . Right now im reading the series over again -im on the 6th one (Harry potter and the half blood prince) Im like on page 500 and i love itt!!!!!! What about you guys do u like Harry potter cause i love it ! Hey i also need help on guys advice !! Is it true that when a guys is mean to u or teasing u does that mean that they like u ?? I need help please resopnod!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! And i mean it 2.</p> <p>— Hampstead123, Age 13</p>
      <hr> <p>yo people! some people think that snakes are really bad and scary but acually they are cool! P.S.-tellme if u live in Bloomington Illinois</p> <p>— SnakeGirl123, Age 11</p>
      <hr> <p>peace out happy valentines</p> <p>— megan, Age 9</p>
      <hr> <p>I LOVE THE EARTH club!</p> <p>— charlotte, Age 8</p>
      <hr> <p>I'm Mormon and from Arizona.I'm home-schooled,Play volleyball and my birthdays in Decemberrrrrrrrrrrrr!!!!!!!!!!!!!!!!!!! I just turned 11 in December and I'mseventh grade!!!</p> <p>— kolona, Age 11</p>
      <hr> <p>I THINK THAT WE SHOULD KEEP THE ENVIRONMENT CLEAN. DO YOU? AND WHEN WE DO WE CAN SAVE PLANT'S,AND ANIMAIS.SHOULD WE?YESSSSSSSSSSS!!!!!!!! SO DO I .GOODBEYE</p> <p>— isabelle, Age 7</p>
      <hr> <p>I think that we puertorricans have to be glad and sad. We have a recycling program in Comerio, but we are the country that creates more garbage.</p> <p>— Jchild10, Age 11</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=340" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=360" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9492<br><a href="detail_freeform.html@Start=340">Previous</a> | <a href="detail_freeform.html@Start=260">27</a> | <a href="detail_freeform.html@Start=270">28</a> | <a href="detail_freeform.html@Start=280">29</a> | <a href="detail_freeform.html@Start=290">30</a> | <a href="detail_freeform.html@Start=300">31</a> | <a href="detail_freeform.html@Start=310">32</a> | <a href="detail_freeform.html@Start=320">33</a> | <a href="detail_freeform.html@Start=330">34</a> | <a href="detail_freeform.html@Start=340">35</a> | 36 | <a href="detail_freeform.html@Start=360">37</a> | <a href="detail_freeform.html@Start=370">38</a> | <a href="detail_freeform.html@Start=380">39</a> | <a href="detail_freeform.html@Start=390">40</a> | <a href="detail_freeform.html@Start=400">41</a> | <a href="detail_freeform.html@Start=410">42</a> | <a href="detail_freeform.html@Start=420">43</a> | <a href="detail_freeform.html@Start=430">44</a> | <a href="detail_freeform.html@Start=440">45</a> | <a href="detail_freeform.html@Start=360">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

