{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>I think we can save more water also by taking short showers.</p> <p>— goldmist9, Age 9</p>
      <hr> <p>I have discovered my new animal creature meonirid search it!</p> <p>— HhordDgarden, Age 7</p>
      <hr> <p>I think we should help plant trees and not litter! GO GREEN!</p> <p>— jemai123, Age 9</p>
      <hr> <p>my mom is going to get married today help me</p> <p>— tyqwain, Age 14</p>
      <hr> <p>Hey ecoworld it's lola! I love animals and plants but want to take my time saving them. I dont know what i could do. I know i could get people to give me money to help but i dont know where to put it once i got the money. Is there anyway to do it another way? If so contact me please. From, Lola</p> <p>— lola, Age 9</p>
      <hr> <p>Anybody think I should start a book club? I once read two 121 and a 98 page books in two days!! Comment PLEASE!!</p> <p>— Vida, Age 10</p>
      <hr> <p>To: JadeK32703 From: Vida Dear JadeK32703, I think you should do whatever your heart desires. If you want to ask your crush out and risk the answer being no go ahead, if you don't to ask him or her out,leave hints so he or she knows you like him or her. You've got to think about things like: you're only ten (10) and its not a real date,your parents have to approve of you having a boyfriend or a girlfriend,if you don't tell your parents and you ask him or her out and the two (2) of you become girlfriend and boyfriend DON'T GIVE HIM/HER YOUR PHONE NUMBER or you'll get in trouble, embarrassed,never allowed to see your crush ever again!!! IF you want to respond to me just do the same thing I did and put the to and from. Hope it works out!!!</p> <p>— Vida, Age 10</p>
      <hr> <p>Dear Eekoworld, I really have connected with my eekocreature. Even though he has a dragons head. Thank you for making it possible for me to make him and the other pets I have connected with that sadly had to leave me and go to the hall of fame. I miss them, but I am sure every eekocreature that leaves its creator to the Eekocreature hall of fame has a great time and misses us just as much as we miss them. Thank you.</p> <p>— hailny4, Age 9</p>
      <hr> <p>hi breanna here IM so excited about water day on march22nd.So i think i might pick up trash in my nebiorhood or i might go to diney land because they have a program to help recycle and save water.If you help you get 6 free tickets to Disney Land.ok yall gotta go bye go ECKO EXCHANGE !</p> <p>— bre45, Age 8</p>
      <hr> <p>I think that helping plant trees is good for the enviroment because trees keepgetting cut down by farmers,wood- chopers and lots of different people.Trees are a renewable resource to planet Earth.We shouldall make a group of people to plant trees in a big empty space of dirt and if you find one, then go tell your friends about it, make a plan to watch the weather,make flyers, buy just enough seeds and get water and start makin' some trees!!</p> <p>— ewque, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=50" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=70" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=50">Previous</a> | <a href="detail_freeform.html@Start=10">2</a> | <a href="detail_freeform.html@Start=20">3</a> | <a href="detail_freeform.html@Start=30">4</a> | <a href="detail_freeform.html@Start=40">5</a> | <a href="detail_freeform.html@Start=50">6</a> | 7 | <a href="detail_freeform.html@Start=70">8</a> | <a href="detail_freeform.html@Start=80">9</a> | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=130">14</a> | <a href="detail_freeform.html@Start=140">15</a> | <a href="detail_freeform.html@Start=150">16</a> | <a href="detail_freeform.html@Start=70">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

