{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>I think how much pollution there is ridiculous</p> <p>— dancemmy, Age 10</p>
      <hr> <p>I LOVE DRAGONS WAY MORE THAN CATS!</p> <p>— MiMi, Age 11</p>
      <hr> <p>dear doggie 25 i think this is a great idea</p> <p>— Avian, Age 10</p>
      <hr> <p>I heard that grey wolves were almost extinct in Texas.</p> <p>— Avian, Age 10</p>
      <hr> <p>Ii's spring break and my teacher dose'nt want snack still in the school. (laughs) I can't stop laughing! My friend Annika said "I know that bar is Tarrni's...That big fat bar! (laughs). That's not funny...eh? Real name:Elen Eekocreature's name:Haylina. Elen's favorite book:Rainbow magic Elen's animal: Humming bird with a unicorn tail.</p> <p>— Lacea, Age 7</p>
      <hr> <p>i think we suold yoos a lap top lunch box. you dont yoos enny bags.there are cuntaners in it that hold your food.go to lap top lunch. com to get one. i now about it becals ihave one and it is great.</p> <p>— katie, Age 7</p>
      <hr> <p>i love the air and i like the summer becuse my birthday is july 22</p> <p>— shyann1234, Age 9</p>
      <hr> <p>i have two pets,one at my moms house and one at my dads house.they are both dogs and they are sisters.BLUESCLUES is at my dads house with me.and puddles is at my moms house.THE END</p> <p>— Eva1234rty, Age 7</p>
      <hr> <p>who likes pie?i do!</p> <p>— Eva1234rty, Age 7</p>
      <hr> <p>...I LIKE PIE!!!... LOL</p> <p>— carboy123, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=60" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=80" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=60">Previous</a> | <a href="detail_freeform.html@Start=10">2</a> | <a href="detail_freeform.html@Start=20">3</a> | <a href="detail_freeform.html@Start=30">4</a> | <a href="detail_freeform.html@Start=40">5</a> | <a href="detail_freeform.html@Start=50">6</a> | <a href="detail_freeform.html@Start=60">7</a> | 8 | <a href="detail_freeform.html@Start=80">9</a> | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=130">14</a> | <a href="detail_freeform.html@Start=140">15</a> | <a href="detail_freeform.html@Start=150">16</a> | <a href="detail_freeform.html@Start=160">17</a> | <a href="detail_freeform.html@Start=80">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

