{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>i agree with all of these ideas!!! go earth!!!</p> <p>— BANANAS, Age 7</p>
      <hr> <p>My class is learning about habitats, so I try to save them. It is so fun.Today I built a birdhouse.</p> <p>— grampa504, Age 7</p>
      <hr> <p>I think we should recycle more! Who is with me?!</p> <p>— ilikeike22, Age 11</p>
      <hr> <p>i think people should travel in rockets in space so they don,t pollute. they will only pollute in outerspace</p> <p>— goldbelt, Age 8</p>
      <hr> <p>I love how people love to help the Earth! It's fantastic! ! ! ! !</p> <p>— ganinia, Age 7</p>
      <hr> <p>Every year my scool has a green team. I have been waiting for 4 years to get on on it and luckily this year i was CHOOSEN!!!!!! My best friend also got picked. The green team helps the school recycle and make better choices for our earth. Every year on earth day the whole scool goes around and picks up all the trash that we find. We also have a litterless lunch 1ce a month. One time we were presenting a poem in frount of the whole school and I felt I was to far forward and so I stepped back and the next thing I knew i was on the floor almost readyn to cry when I started laughing instead. then when it was my turn to talk i messed up like 5 times. I always make mistakes when I talk publicly. Claire:):):):):):) GO GREEN!!!!!!!! OR GO HOME!!!!!!!!!!!!!!!!!!!</p> <p>— makeacake247, Age 10</p>
      <hr> <p>I do think there are some ways to help my ecosystem. You could plant trees, if you litter, you could stop littering, and you could help save animal habitats.</p> <p>— BlinkyTulip, Age 7</p>
      <hr> <p>Who wants ice cream? I'm eating it! :p YUM! Want some?</p> <p>— Rocky40, Age 8</p>
      <hr> <p>maybe we can make garbage into anything we wanted in the future</p> <p>— Roxanne9, Age 10</p>
      <hr> <p>I think people should create clubs to stop cutting down trees.</p> <p>— Meaghan, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=690" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=710" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 12104<br><a href="detail_freeform.html@Start=690">Previous</a> | <a href="detail_freeform.html@Start=610">62</a> | <a href="detail_freeform.html@Start=620">63</a> | <a href="detail_freeform.html@Start=630">64</a> | <a href="detail_freeform.html@Start=640">65</a> | <a href="detail_freeform.html@Start=650">66</a> | <a href="detail_freeform.html@Start=660">67</a> | <a href="detail_freeform.html@Start=670">68</a> | <a href="detail_freeform.html@Start=680">69</a> | <a href="detail_freeform.html@Start=690">70</a> | 71 | <a href="detail_freeform.html@Start=710">72</a> | <a href="detail_freeform.html@Start=720">73</a> | <a href="detail_freeform.html@Start=730">74</a> | <a href="detail_freeform.html@Start=740">75</a> | <a href="detail_freeform.html@Start=750">76</a> | <a href="detail_freeform.html@Start=760">77</a> | <a href="detail_freeform.html@Start=770">78</a> | <a href="detail_freeform.html@Start=780">79</a> | <a href="detail_freeform.html@Start=790">80</a> | <a href="detail_freeform.html@Start=710">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

