{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Free Form! What\'s On Your Mind? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_freeform.jpg" alt="Free form! What's on your mind?" width="320" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_freeform.gif" alt="Freeform! What's On Your Mind?"> <p>EekoWorld, Thank you for making this website possible. It is so much fun and it tells and helps you recycle, reduce, and reuse. I have learned so much and I thank anyone who want to keep our world clean, healthy, and eco-friendly. Thank you again for making this possible. I will soooo tell my friends about this site. Thanks so much, peppercatluv</p> <p>— peppercatluv, Age 12</p>
      <hr> <p>Hi everyone! I am thinking of Haiti and Chile! If you guys have not heard, there are REALLY bad earthquakes happening around there. Millions of people are dying, injured, or buryed under the rubble. I think we should all donate to Haiti and Chile.</p> <p>— JustinB, Age 15</p>
      <hr> <p>I don't understand why people leave the water running while they are brushing their teeth...</p> <p>— yobng29, Age 10</p>
      <hr> <p>melaniepbs, i luv your idea and i advise everyone the same as u said on eekoexchange!</p> <p>— recyclerkid, Age 8</p>
      <hr> <p>Hey everyone, Cheeko here! I’m making big plans to celebrate World Water Day on Monday March 22nd. I think I’ll pick up trash by the river and sing songs about water all day! What great ideas do you have for saving water and keeping it clean?! – Cheeko, Age 8</p> <p>— Cheeko, Age 8</p>
      <hr> <p>Dear Eekoworld, You did a fantastic job on this program.It teaches kids like myself on how to take care of the world. First, there's the lessons.They help visual learners learn how to take care of the world. Review time! Those are the games job: reviewing what kids saw on the lessons. Thank you for showing others on how to take care of the world! Sincerely, wxqj8012ytzo</p> <p>— wxqj8012ytzo, Age 10</p>
      <hr> <p>mammels have hair or fur on their body mammels give milk to their youngs birds have feather birds teach their youngs how to fly</p> <p>— sara, Age 8</p>
      <hr> <p>I think we should all do things to help make the earht a better place!!! We want the eart to be here forever, so we need to help it as much as we can!!! Comment if u like this idea!!!</p> <p>— doggie25, Age 11</p>
      <hr> <p>Some people think all the girls like princess. Some girls don't. I don't even like princess. This is'nt my first day not loving princess. Long time ago I don't like princess. I don't even like one bit of princess.</p> <p>— Lacea, Age 7</p>
      <hr> <p>Im in a Environmental club and every friday we get together and we all get a big trashcan so that we all throw used papers(front and back) from elementory to recycle. Im doing the same thing in my house! Tell your friends,family,teachers.your parents friends tell everyone to please help Earth (For example: plant trees,reuse, reduse, recycle,take a shorter shower,turn off the lights after you are done in that room or place,turn off the (fossil) water when you are brushing your teeth,talk about it with your classroom , ect) THATS THE ONLY THING I ASK FOR YOU!!!!!! Please respond</p> <p>— Melaniepbs, Age 10</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_freeform.html@Start=70" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_freeform.html@Start=90" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 9465<br><a href="detail_freeform.html@Start=70">Previous</a> | <a href="detail_freeform.html@Start=10">2</a> | <a href="detail_freeform.html@Start=20">3</a> | <a href="detail_freeform.html@Start=30">4</a> | <a href="detail_freeform.html@Start=40">5</a> | <a href="detail_freeform.html@Start=50">6</a> | <a href="detail_freeform.html@Start=60">7</a> | <a href="detail_freeform.html@Start=70">8</a> | 9 | <a href="detail_freeform.html@Start=90">10</a> | <a href="detail_freeform.html@Start=100">11</a> | <a href="detail_freeform.html@Start=110">12</a> | <a href="detail_freeform.html@Start=120">13</a> | <a href="detail_freeform.html@Start=130">14</a> | <a href="detail_freeform.html@Start=140">15</a> | <a href="detail_freeform.html@Start=150">16</a> | <a href="detail_freeform.html@Start=160">17</a> | <a href="detail_freeform.html@Start=170">18</a> | <a href="detail_freeform.html@Start=90">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=19"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

