{% extends 'cyberchase/includes/cyberchasePage.html.twig' %}
{% set desc = 'Find math games, videos and more by the topic you\\\'re most interested in. 
' %}
{% set keywds = 'math, videos, printables, print, kids, worksheet, math games, game, games, play, episodes, math videos, episodes, clips, quest, quests, projects, educational, math education, cool, fun, lesson, lessons, kids, multiplication, division, addition, subtractio' %}
{% set pageTitle = 'Find math games, videos and more . Cyberchase' %}


{% block specialHead %}<style type="text/css">
		#headband-page-wrap {
			background-image: url('http://pbskids.org/cyberchase/static/images/backgrounds/find_it_results.jpg');
      background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% set bodyOpeningTag = '<body id=\"page-find-it\">' %}
{% set selectedNav = 'FIND IT!' %}


{% block specialMiddleElems %}{% endblock %}




{% block mainContent %}<div id="content" class="find-it-results">
 <div class="limiter narrow">
  <h1 class="page-title"><img src="http://pbskids.org/cyberchase/media/textrender/pageheader/7d024e92b3748d125017ce27cf87ca2e.png" class="textrender pageheader" width="128" height="60" alt="Find It!" border="0"></h1>
  <h2 class="page-subtitle"><img src="http://pbskids.org/cyberchase/media/textrender/subheader/d9c6333623e6357515fcbf17be806273.png" class="textrender subheader" width="96" height="43" alt="Geometry" border="0"></h2> <a href="/cyberchase/find-it/" class="large-btn pick-another analytics-click" data-analytics="Cyberchase - Find It Results|Button Click|pick-another-topic"><img src="http://pbskids.org/cyberchase/media/textrender/button/2dbd3064c1f770009ee50d1267a8f375.png" class="textrender button" width="184" height="45" alt="Pick Another Topic" border="0"></a>
  <div class="clear"></div>
  <div class="tabs"><a href="/cyberchase/find-it/geometry/" class=" active analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|all"><img src="http://pbskids.org/cyberchase/media/textrender/tab/b1c94ca2fbc3e78fc30069c8d0f01680.png" class="textrender tab" width="18" height="30" alt="All" border="0"></a> <a href="/cyberchase/find-it/geometry/games/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|games"><img src="http://pbskids.org/cyberchase/media/textrender/tab/251bd8143891238ecedc306508e29017.png" class="textrender tab" width="46" height="30" alt="Games" border="0"></a> <a href="/cyberchase/find-it/geometry/videos/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|videos"><img src="http://pbskids.org/cyberchase/media/textrender/tab/554cfab3938e21d9270bd6b75931f96f.png" class="textrender tab" width="47" height="30" alt="Videos" border="0"></a> <a href="/cyberchase/find-it/geometry/activities/" class=" analytics-click" data-analytics="Cyberchase - Find it Results|Tab Click|activities"><img src="http://pbskids.org/cyberchase/media/textrender/tab/d78ed35383108fb6c04c16d0a11b20fe.png" class="textrender tab" width="66" height="30" alt="Activities" border="0"></a>
  </div>
  <div class="content-panel">
   <div class="content-panel-inner"><a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--2d-to-3d-morphing" href="/cyberchase/activities/2d-to-3d-morphing/" title="2D to 3D Morphing" data-description="Use geometry to make flat shapes &quot;rise up&quot;  into fun 3D objects.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_2dto3dmorphing_thumbnail.jpg" alt="2D to 3D Morphing" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">2D to 3D Morphing</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--a-circumference-situation" href="/cyberchase/videos/cyberchase-a-circumference-situation/" title="A Circumference Situation" data-description="Our heroes must discover the relationship between diameter and circumference so they can unlock the gate to escape from a scary creature.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_742.jpg.resize.480x360_thumbnail.jpg" alt="A Circumference Situation" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">A Circumference Situation</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--a-perfect-fit-ep-307" href="/cyberchase/videos/cyberchase-a-perfect-fit-ep-307/" title="A Perfect Fit (Ep. 307)" data-description="To catch the sun's rays and energize the monster Gigabyte, Hacker puts him atop a Mayan pyramid and the kids must master the secrets of tessellation to stop him.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_025.jpg.resize.480x360_thumbnail.jpg" alt="A Perfect Fit (Ep. 307)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">A Perfect Fit (Ep. 307)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--all-dolled-up" href="/cyberchase/videos/cyberchase-all-dolled-up/" title="All Dolled Up" data-description="Harry transforms flat, 2-dimensional pieces of cardboard into a 3-dimensional, two-story dollhouse  for his sister's birthday. 
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/All_Dolled_Up_thumbnail.jpg" alt="All Dolled Up" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">All Dolled Up</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bend-it-like-bianca" href="/cyberchase/videos/cyberchase-bend-it-like-bianca/" title="Bend it Like Bianca" data-description="After several misses, Bianca learns to use both direction and distance to kick the soccer ball where she wants it to go and make a goal.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/bend_it_like_bianca_thumbnail.jpg" alt="Bend it Like Bianca" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bend it Like Bianca</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bianca-busts-a-move" href="/cyberchase/videos/cyberchase-bianca-busts-a-move/" title="Bianca Busts a Move" data-description="While practicing a dance, Bianca falls and breaks a table top so, to cut a new top, she first makes a template that is crooked until she learns how to make square corners.  
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/bianca_busts_a_move_thumbnail.jpg" alt="Bianca Busts a Move" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca Busts a Move</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bianca-extends-her-reach" href="/cyberchase/videos/cyberchase-bianca-extends-her-reach/" title="Bianca Extends Her Reach" data-description="Stuck in bed with a broken ankle, Bianca has trouble reaching things until a friend gives her a reach-and-grab tool made of hinged parallelograms that lengthen when flattened. 
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Bianca_Extends_Her_Reach_thumbnail.jpg" alt="Bianca Extends Her Reach" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca Extends Her Reach</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--bianca-gets-crystal-clear" href="/cyberchase/videos/cyberchase-bianca-gets-crystal-clear/" title="Bianca Gets Crystal Clear" data-description="Bianca's little cousin Antonio asks her to help him make rock candy and, while waiting for the sugar crystals to form, teaches her about the geometry of crystals. 

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_636.jpg.resize.480x360_thumbnail.jpg" alt="Bianca Gets Crystal Clear" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca Gets Crystal Clear</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--biancas-good-turn" href="/cyberchase/videos/cyberchase-biancas-good-turn/" title="Bianca's Good Turn" data-description="Bianca uncovers a scam with the wheel of fortune at the arcade when she finds out the wheel isnt a circle and makes some colors more likely to win than others.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_967.jpg.resize.480x360_thumbnail.jpg" alt="Bianca's Good Turn" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bianca's Good Turn</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--bike-route" href="/cyberchase/math-games/bike-route/" title="Bike Route" data-description="Help Inez run errands with a map and a grid.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_bikeroute_1_thumbnail.jpg" alt="Bike Route" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Bike Route</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--cant-wait-to-tessellate" href="/cyberchase/math-games/cant-wait-tessellate/" title="Can’t Wait to Tessellate" data-description="Game with video! Help Buzz &amp; Delete tessellate a prize-winning picture.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tess_admin_thumbnail_thumbnail.jpg" alt="Can’t Wait to Tessellate" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Can’t Wait to Tessellate</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--crossing-the-line" href="/cyberchase/videos/cyberchase-crossing-the-line/" title="Crossing the Line" data-description="Digit and Inez figure out how one object can be on two lines at the same time.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_761.jpg.resize.480x360_thumbnail.jpg" alt="Crossing the Line" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Crossing the Line</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--crystal-clear-ep-507" href="/cyberchase/videos/cyberchase-crystal-clear-ep-507/" title="Crystal Clear (Ep. 507)" data-description="Digit goes wonky and needs the Synchronizer, a huge crystal, to cure him, but Hacker destroys it and to grow another, the kids must first understand crystal geometry.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_916.jpg.resize.480x360_thumbnail.jpg" alt="Crystal Clear (Ep. 507)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Crystal Clear (Ep. 507)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--de-symmetrizing-the-grim-wreaker" href="/cyberchase/videos/cyberchase-de-symmetrizing-the-grim-wreaker/" title="De-symmetrizing the Grim Wreaker" data-description="The kids learn about different kinds of symmetry and prove that Hacker’s Grim Wreaker is symmetrical.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/De-symmetrizing_the_Grim_Wreaker_thumbnail.jpg" alt="De-symmetrizing the Grim Wreaker" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">De-symmetrizing the Grim Wreaker</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--eureeka-ep-113" href="/cyberchase/videos/cyberchase-eureeka-ep-113/" title="Eureeka (Ep. 113)" data-description="The kids and Digit make 2-dimensional geometrical patterns rise up into 3-dimensional shapes to solve the mystery of Professor Archimedes' disappearance.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_610.jpg.resize.480x360_thumbnail.jpg" alt="Eureeka (Ep. 113)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Eureeka (Ep. 113)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--find-tuffy" href="/cyberchase/math-games/find-tuffy/" title="Find Tuffy" data-description="Make overlapping circles to help Harry and  friends find his dog Tuffy.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/ft_thumbnail.png" alt="Find Tuffy" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Find Tuffy</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--from-2d-to-3d" href="/cyberchase/videos/cyberchase-from-2d-to-3d/" title="From 2D to 3D" data-description="The kids learn that 2-dimensional shapes can be used to create 3-dimensional structures.  ">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_434.jpg.resize.480x360_thumbnail.jpg" alt="From 2D to 3D" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">From 2D to 3D</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--gorillas-in-the-midst" href="/cyberchase/videos/cyberchase-gorillas-in-the-midst/" title="Gorillas in the Midst" data-description="Bianca finds out that maps are great navigational tools when you know how to use them.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_427.jpg.resize.480x360_thumbnail.jpg" alt="Gorillas in the Midst" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Gorillas in the Midst</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--harry-bounces-back" href="/cyberchase/videos/cyberchase-harry-bounces-back/" title="Harry Bounces Back" data-description="In a game of 8-ball with Harley, Harry uses the angle-in-equals-angle-out rule to bounce the cue ball off the rail to sink it and win the game.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_910.jpg.resize.480x360_thumbnail.jpg" alt="Harry Bounces Back" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Harry Bounces Back</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--harry-walks-the-line" href="/cyberchase/videos/cyberchase-harry-walks-the-line/" title="Harry Walks the Line" data-description="Harley offers to give Harry two tickets to a ball game and, after missing each other a few times,  the two agree to meet at a corner where two streets intersect.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_922.jpg.resize.480x360_thumbnail.jpg" alt="Harry Walks the Line" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Harry Walks the Line</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--harrys-off-the-wall-scheme" href="/cyberchase/videos/cyberchase-harrys-off-the-wall-scheme/" title="Harry's Off the Wall Scheme" data-description="Harry  tessellates pictures cut from old books to make new wallpaper for his apartment and when Sally admires his work, she wins  his heart.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_601.jpg.resize.480x360_thumbnail.jpg" alt="Harry's Off the Wall Scheme" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Harry's Off the Wall Scheme</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--hoop-schemes" href="/cyberchase/videos/cyberchase-hoop-schemes/" title="Hoop Schemes" data-description="When Bianca can't sink a ball in a hoop at the amusement park, she changes her point of view and discovers the hoop is an oval, not a circle, so the ball can't drop in.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/6hoopschemes_thumbnail.jpg" alt="Hoop Schemes" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Hoop Schemes</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--identifying-the-synchronium-crystal" href="/cyberchase/videos/cyberchase-identifying-the-synchronium-crystal/" title="Identifying the Synchronium Crystal" data-description="Jackie and Inez use clues from Digit to piece together the geometric properties of Digit's missing crystal.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_231.jpg.resize.480x360_thumbnail.jpg" alt="Identifying the Synchronium Crystal" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Identifying the Synchronium Crystal</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--lets-cut-to-fit" href="/cyberchase/videos/cyberchase-lets-cut-to-fit/" title="Let's Cut to Fit!" data-description="Ziff shows Matt and Jackie how to use a carpenter's square to make square corners for the lid for a  box.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_441.jpg.resize.480x360_thumbnail.jpg" alt="Let's Cut to Fit!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Let's Cut to Fit!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--lets-tessellate-em" href="/cyberchase/videos/cyberchase-lets-tessellate-em/" title="Let's Tessellate 'Em!" data-description="Trapped by a river of hot lava, the CyberSquad discovers they can tessellate a bridge across with triangles.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_473.jpg.resize.480x360_thumbnail.jpg" alt="Let's Tessellate 'Em!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Let's Tessellate 'Em!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--lost-my-marbles-ep-101" href="/cyberchase/videos/cyberchase-lost-my-marbles-ep-101/" title="Lost My Marbles (Ep. 101)" data-description="The CyberSquad uses a map to navigate across an island to rescue Dr. Marbles from Hacker.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_235.jpg.resize.480x360_thumbnail.jpg" alt="Lost My Marbles (Ep. 101)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Lost My Marbles (Ep. 101)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--lost-in-the-northern-frontier" href="/cyberchase/math-games/lost-in-the-northern-frontier/" title="Lost in the Northern Frontier " data-description="Make overlapping circles to help the CyberSquad find Digit.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_lostinnorthernfrontier_2_thumbnail.jpg" alt="Lost in the Northern Frontier " class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Lost in the Northern Frontier </span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-rock-candy-crystals" href="/cyberchase/activities/make-rock-candy-crystals/" title="Make Rock Candy Crystals" data-description="Grow crystals with beautiful geometric shapes.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_rockcandyrocks_thumbnail.jpg" alt="Make Rock Candy Crystals" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make Rock Candy Crystals</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-ziffs-carpenters-square" href="/cyberchase/activities/make-ziffs-carpenters-square/" title="Make Ziff's Carpenter's Square" data-description="Make a carpenter's square and use it to measure square corners.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_ziffscarptenerssquare_thumbnail.jpg" alt="Make Ziff's Carpenter's Square" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make Ziff's Carpenter's Square</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--make-a-mobius-strip" href="/cyberchase/activities/make-mobius-strip/" title="Make a Möbius Strip" data-description="Explore the mysterious properties of a Möbius strip.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_makeamobiusstripv2_thumbnail.jpg" alt="Make a Möbius Strip" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Make a Möbius Strip</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--map-check" href="/cyberchase/videos/cyberchase-map-check/" title="Map Check!" data-description="The kids learn how to find where they are, where they have to go, and how long it will take them to get there. ">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_531.jpg.resize.480x360_thumbnail.jpg" alt="Map Check!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Map Check!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--math-magic-the-great-loopini" href="/cyberchase/videos/cyberchase-math-magic-the-great-loopini/" title="Math Magic: The Great Loopini" data-description="Join the fun with Harry's magic Möbius strip.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_813.jpg.resize.480x360_thumbnail.jpg" alt="Math Magic: The Great Loopini" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Math Magic: The Great Loopini</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--misadventures-of-buzz-delete-cant-wait-to-tessellate" href="/cyberchase/videos/cyberchase-cant-wait-to-tessellate/" title="Misadventures of Buzz &amp; Delete: Can't Wait to Tessellate" data-description="Delete helps Buzz tessellate a prize-winning picture.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_306.jpg.resize.480x360_thumbnail.jpg" alt="Misadventures of Buzz &amp; Delete: Can't Wait to Tessellate" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Misadventures of Buzz &amp; Delete: Can't Wait to Tessellate</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--mothers-day-card" href="/cyberchase/activities/mothers-day-card/" title="Mother's Day Card" data-description="Use symmetry to make a beautiful Mother's Day card.
">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_mothersdaycard_thumbnail.jpg" alt="Mother's Day Card" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Mother's Day Card</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--nature-walk-notebook" href="/cyberchase/activities/nature-walk-notebook/" title="Nature Walk Notebook" data-description="Go on a scavenger hunt to find patterns in nature.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/naturewalknotebook_thumbnail.png" alt="Nature Walk Notebook" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Nature Walk Notebook</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--on-the-line-ep-509" href="/cyberchase/videos/cyberchase-on-the-line-ep-509/" title="On the Line (Ep. 509)" data-description="It’s chaos again when a cy-vulture steals a powerful device from Digit and gives it to Hacker, but our team uses two straight lines to pinpoint Hacker’s hideaway and stops him.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_908.jpg.resize.480x360_thumbnail.jpg" alt="On the Line (Ep. 509)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">On the Line (Ep. 509)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--penguin-tears-ep-403" href="/cyberchase/videos/cyberchase-penguin-tears-ep-403/" title="Penguin Tears (Ep. 403)" data-description="Our heroes become trapped in an icy cave in Cyberia and must use the angle-in-equals-angle-out bouncing rule to break out.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_189.jpg.resize.480x360_thumbnail.jpg" alt="Penguin Tears (Ep. 403)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Penguin Tears (Ep. 403)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--point-out-the-view" href="/cyberchase/math-games/point-out-view/" title="Point Out the View" data-description="Discover how what you see depends upon where you stand!
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_pointouttheview_3_thumbnail.jpg" alt="Point Out the View" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Point Out the View</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--presto" href="/cyberchase/videos/cyberchase-presto/" title="Presto" data-description="The Squad recreates a crime scene and, using different points of view, proves a suspect can't have committed the crime.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_994.jpg.resize.480x360_thumbnail.jpg" alt="Presto" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Presto</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--rocks-and-roll" href="/cyberchase/videos/cyberchase-rocks-and-roll/" title="Rocks and Roll" data-description="Inez realizes that every point on a circle must be the same distance from the center all the way around.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_486.jpg.resize.480x360_thumbnail.jpg" alt="Rocks and Roll" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Rocks and Roll</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--she-shoots-she-scores" href="/cyberchase/videos/cyberchase-she-shoots-she-scores/" title="She Shoots! She Scores!" data-description="The coach explains to Matt and Jackie why they keep missing the goal.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_973.jpg.resize.480x360_thumbnail.jpg" alt="She Shoots! She Scores!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">She Shoots! She Scores!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--show-me-what-ya-got" href="/cyberchase/videos/cyberchase-show-me-what-ya-got/" title="Show Me What Ya Got!" data-description="TW and Diamond Joe show off to the CyberSquad their shape-shifting abilities as parallelograms.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_911.jpg.resize.480x360_thumbnail.jpg" alt="Show Me What Ya Got!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Show Me What Ya Got!</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--simple-as-pie" href="/cyberchase/videos/cyberchase-simple-as-pie/" title="Simple as Pie" data-description="Bianca confuses diameter with circumference and buys 3-inch instead of 9-inch diameter pie pans, but her friend makes tiny tarts instead that are a big hit at the sale.  
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Simple_As_Pie_thumbnail.jpg" alt="Simple as Pie" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Simple as Pie</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--spheres-of-fears-ep-610" href="/cyberchase/videos/cyberchase-spheres-of-fears-ep-610/" title="Spheres of Fears (Ep. 610)" data-description="To crack a code and escape the Spheres of Fears, the kids and Digit figure out the relationship between the circumference and diameter of a circle.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_305.jpg.resize.480x360_thumbnail.jpg" alt="Spheres of Fears (Ep. 610)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Spheres of Fears (Ep. 610)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--square-one" href="/cyberchase/activities/square-one/" title="Square One" data-description="Find the square corners with Ziff's Carpenter's Square.">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_squareone_thumbnail.jpg" alt="Square One" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Square One</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--star-gazing" href="/cyberchase/math-games/star-gazing/" title="Star Gazing" data-description="Pick an angle, point the telescope, and locate planets and their weird inhabitants!
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_stargazing_1_thumbnail.jpg" alt="Star Gazing" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Star Gazing</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|activities--step-into-cyberspace" href="/cyberchase/activities/step-cyberspace/" title="Step into Cyberspace" data-description="Make a few simple cuts in paper and step into cyberspace!">
     <div class="icon activities">
      activities
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/activities/tn_print_stepintocyberspace_thumbnail.jpg" alt="Step into Cyberspace" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Step into Cyberspace</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--symmetrizer" href="/cyberchase/math-games/symmetrizer/" title="Symmetrizer" data-description="Use symmetry to &quot;symmetrize&quot; your favorite characters with this fun machine.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_symmetrizer_thumbnail.jpg" alt="Symmetrizer" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Symmetrizer</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--take-a-shortcut" href="/cyberchase/videos/cyberchase-take-a-shortcut/" title="Take a Shortcut" data-description="The kids find a shortcut using both direction and distance.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_153.jpg.resize.480x360_thumbnail.jpg" alt="Take a Shortcut" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Take a Shortcut</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--tangram-game" href="/cyberchase/math-games/tanagram-game/" title="Tangram Game" data-description="Use 7 different geometric shapes to make fun pictures.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_tangramgame_thumbnail.jpg" alt="Tangram Game" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Tangram Game</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-borg-of-the-ring-ep-302" href="/cyberchase/videos/cyberchase-the-borg-of-the-ring-ep-302/" title="The Borg of the Ring (Ep. 302)" data-description="Hacker swipes the powerful Ring of Radopolis, and the Squad, with the help of their new friend Slider, use what they know about circles to get it back.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_146.jpg.resize.480x360_thumbnail.jpg" alt="The Borg of the Ring (Ep. 302)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Borg of the Ring (Ep. 302)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-creech-who-would-be-crowned-ep-305" href="/cyberchase/videos/cyberchase-the-creech-who-would-be-crowned-ep-305/" title="The Creech Who Would be Crowned (Ep. 305)" data-description="The Squad, with the help of their new pal Creech,  use direction &amp; distance to stop Hacker from winning a race that will make him ruler of Tikiville.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_263.jpg.resize.480x360_thumbnail.jpg" alt="The Creech Who Would be Crowned (Ep. 305)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Creech Who Would be Crowned (Ep. 305)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-flying-parallinis-ep-506" href="/cyberchase/videos/cyberchase-the-flying-parallinis-ep-506/" title="The Flying Parallinis (Ep. 506)" data-description="Meet TW, a young Parallini who knows how to harness the power of parallelograms to help rescue Jackie,  trapped by Hacker atop Mount Wayupthere.  
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_113.jpg.resize.480x360_thumbnail.jpg" alt="The Flying Parallinis (Ep. 506)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Flying Parallinis (Ep. 506)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-guilty-party-ep-212" href="/cyberchase/videos/cyberchase-the-guilty-party-ep-212/" title="The Guilty Party (Ep. 212)" data-description="The kids find the 'guilty party' by showing that different witnesses looking at the same objects from different points of view see them differently.

">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_257.jpg.resize.480x360_thumbnail.jpg" alt="The Guilty Party (Ep. 212)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Guilty Party (Ep. 212)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-harry-show-cell-phone-game" href="/cyberchase/videos/cyberchase-the-harry-show-cell-phone-game/" title="The Harry Show: Cell Phone Game" data-description="Harry challenges a friend to a game spotting geometric shapes.
">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_393.jpg.resize.480x360_thumbnail.jpg" alt="The Harry Show: Cell Phone Game" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Harry Show: Cell Phone Game</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--the-secrets-of-symmetria-ep-110" href="/cyberchase/videos/cyberchase-the-secrets-of-symmetria-ep-110/" title="The Secrets of Symmetria (Ep. 110)" data-description="The kids learn about different kinds of symmetry to get back the stolen Symmetrizer and stop Hacker.">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/Kids-Mezzannine-4x3_075.jpg.resize.480x360_thumbnail.jpg" alt="The Secrets of Symmetria (Ep. 110)" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">The Secrets of Symmetria (Ep. 110)</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|videos--this-takes-the-cake" href="/cyberchase/videos/cyberchase-this-takes-the-cake/" title="This Takes the Cake" data-description="Harry uses symmetry to make a cake with one side a perfect mirror image of the other. ">
     <div class="icon videos">
      videos
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/videos/7takesthecake_thumbnail.jpg" alt="This Takes the Cake" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">This Takes the Cake</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--together-again" href="/cyberchase/math-games/together-again/" title="Together Again" data-description="Game with video! Help Buzz &amp; Delete use the inverse to fix Hacker's toy.">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/inverse_thumb_togetheragain_1_thumbnail.jpg" alt="Together Again" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Together Again</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--u-fix-it-with-ziff" href="/cyberchase/math-games/u-fix-it-ziff/" title="U Fix It with Ziff" data-description="Use measurement to help Ziff fix up his house.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_ufixitwithziff_thumbnail.jpg" alt="U Fix It with Ziff" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">U Fix It with Ziff</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--virus-hunt" href="/cyberchase/math-games/virus-hunt/" title="Virus Hunt" data-description="Use a compass and a map to find Hacker's virus in time.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_virushunt_thumbnail.jpg" alt="Virus Hunt" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Virus Hunt</span>
     </div> </a> <a class="result-item analytics-click" data-analytics="Cyberchase - Find It Results|Content Click|games--vortex" href="/cyberchase/math-games/vortex/" title="Vortex!" data-description="Match 3 patterned shapes in 15 seconds to score points.
">
     <div class="icon games">
      games
     </div>
     <div class="static-bg"><img src="http://pbskids.org/cyberchase/media/images/cache/images/content/games/tn_game_vortex_thumbnail.jpg" alt="Vortex!" class="thumb">
     </div>
     <div class="result-item-info"><span class="title">Vortex!</span>
     </div> </a>
    <div class="clear"></div>
   </div>
  </div>
 </div>
</div>{% endblock %}




{% block specialBody %}{% endblock %}

