{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Printables & Activities . Singalong' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-school, Cinar, PBS, ready to learn, kids, games, children, animation' %}
{% set desc = 'The Official Caillou Web Site' %}

{% block specialScripts %}<script type="text/javascript">function newImage(arg) {	if (document.images) {		rslt = new Image();		rslt.src = arg;		return rslt;	}}function changeImages() {	if (document.images && (preloadFlag == true)) {		for (var i=0; i<changeImages.arguments.length; i+=2) {			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];		}	}}var preloadFlag = false;function preloadImages() {	if (document.images) {		 Connect_the_dits_over = newImage("images/Connect-the-dits-over.gif");		 Your_own_Storybook_over = newImage("images/Your-own-Storybook-over.gif");		 Paper_dolls_over = newImage("images/Paper-dolls-over.gif");		 Memory_Activity_over = newImage("images/Memory-Activity-over.gif");		 Coloring_Book_over = newImage("images/Coloring-Book-over.gif");		 Return_Printable_over = newImage("images/Return_Printable-over.gif");		preloadFlag = true;	}} </script>
{% endblock %}

{% set bodyTag = '<body onload="preloadImages();">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td>
    <div align="center"><a name="top"></a>
     <table width="756" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td width="50">&nbsp;</td>
        <td width="150" align="left"><a href="https://pbskids.org/"><img name="PBS KIDS" src="/caillou/images/PBSLogo.gif" width="42" height="54" border="0" alt="PBS KIDS" title="PBS KIDS"></a></td>
        <td width="300" align="left"><a href="/caillou/index.html" onmouseover="changeImages('entete', '/caillou/images/entete-over.gif'); return true;" onmouseout="changeImages('entete', '/caillou/images/entete.gif'); return true;" onmousedown="changeImages('entete', '/caillou/images/entete-over.gif'); return true;" onmouseup="changeImages('entete', '/caillou/images/entete-over.gif'); return true;"><img name="entete" src="/caillou/images/entete.gif" width="184" height="96" border="0" alt="Caillou Homepage" title="Caillou Homepage"></a></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr height="16">
   <td bgcolor="white" height="16">
    <div align="center">
     <table width="550" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr height="22">
        <td width="300" height="22">&nbsp;</td>
        <td height="22"></td>
        <td width="231" height="22"></td>
       </tr>
       <tr>
        <td valign="top" width="300"><img src="images/Song5_title.gif" alt="Rub-a-Dub Bathtub Blues" height="50" width="320" border="0"><br> <img src="images/separator.gif" alt="separator" name="separator" height="23" width="316" border="0"><br> <object id="audio" classid="CLSID:CFCDAA03-8BE4-11CF-B84B-0020AFBBCCFA" width="166" height="26"> <param name="autostart" value="true"> <param name="SRC" value="https://media.pbs.org/ramgen/caillou/rubatub_e.ra"> <param name="CONTROLS" value="ControlPanel"> <param name="CONSOLE" value="audio"> <embed name="audio" src="https://media.pbs.org/ramgen/caillou/rubatub_e.ra?embed" type="audio/x-pn-realaudio-plugin" autostart="true" width="166" height="26" hspace="0" vspace="0" border="0" controls="ControlPanel" console="audio"> </object> <object id="audio" classid="CLSID:CFCDAA03-8BE4-11CF-B84B-0020AFBBCCFA" width="166" height="26"> <param name="autostart" value="true"> <param name="SRC" value="https://media.pbs.org/ramgen/caillou/rubatub_e.ra"> <param name="CONTROLS" value="StatusPanel"> <param name="CONSOLE" value="audio"> <embed name="audio" src="https://media.pbs.org/ramgen/caillou/rubatub_e.ra?embed" type="audio/x-pn-realaudio-plugin" autostart="true" width="166" height="26" hspace="0" vspace="0" border="0" controls="StatusPanel" console="audio"> </object> <p class="instruct_normal">You need <span class="instruct_bold">RealPlayer</span> to be able to play the songs. Click <a href="https://www.real.com/player/index.html" title="RealPlayer"><span class="instruct_bold">here</span></a> to get the real player plugin. <img src="images/separator.gif" alt="separator" name="separator" height="23" width="175" border="0"><br></p> <p class="Song_text">Caillou, it's time for your bath<br> I got the blues,<br> I got the blues,<br> I got the rub-a-dub bathtub blues.<br> I got the blues,<br> I got the blues,<br> I got the rub-a-dub bathtub blues.<br> No, I don't like to take a bath.<br> It's not my favorite thing.<br> I'd rather go outside and play.<br> Or do most anything.<br> The water's either too hot or it's too cold.<br> It takes so long to feel just right.<br> Taking a bath helps you to stay clean,<br> But can't I take one another night?<br> I got the blues,<br> I got the blues,<br> I got the rub-a-dub bathtub blues.<br> I got the blues,<br> I got the blues,<br> I got the rub-a-dub bathtub blues.<br> Maybe, if I had a toy to play with?<br> My little ducky would be just fine.<br> Let's add some bubbles, and my plastic boat,<br> Hey, this isn't so bad; I'm starting to have a good time!<br> If baths were this much fun, I wouldn't mind,<br> Taking one every day.<br> Next time, I'll ask Gilbert and Teddy,<br> To jump in so we could all get clean and play!<br> Gilbert!<br> Now I don't got the blues.<br> Don't got the blues,<br> Don't got the rub-a-dub bathtub blues.<br> So here's the news,<br> Take off your shoes,<br> When the day is done,<br> A bath could be fun,<br> Yes, you should try one!<br> The rub-a-dub bathtub blues.<br> Hey, this is kind of fun.<br> Now I like taking baths.<br> Look at all the bubbles,<br> And I love my little ducky.<br> Gilbert, do you want to take a bath with me?<br> Come on, it's fun!</p>
         <div align="center"><a href="#top" onmouseover="changeImages('top', 'images/btn_top-over.gif'); return true;" onmouseout="changeImages('top', 'images/btn_top.gif'); return true;" onmousedown="changeImages('top', 'images/btn_top-over.gif'); return true;" onmouseup="changeImages('top', 'images/btn_top-over.gif'); return true;"><img src="images/btn_top.gif" alt="Go to the top" name="top" height="61" width="62" border="0"></a>
         </div></td>
        <td></td>
        <td valign="top" width="231">
         <div align="center">
          <p><img src="images/sing_caillou.jpg" alt="Caillou playing the trumpet" height="314" width="231" border="0"></p>
          <p><a href="../songs.html" onmouseover="changeImages('back', 'images/btn_moresongs-over.gif'); return true;" onmouseout="changeImages('back', 'images/btn_moresongs.gif'); return true;" onmousedown="changeImages('back', 'images/btn_moresongs-over.gif'); return true;" onmouseup="changeImages('back', 'images/btn_moresongs-over.gif'); return true;"><img src="images/btn_moresongs.gif" alt="More songs" name="back" width="110" height="61" border="0" id="back"></a></p>
         </div></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
 </tbody>
</table><div align="center">
 <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">| <a class="footer" href="/caillou/">Home</a> | <a class="footer" href="/caillou/immersivegames/">Play with Caillou</a> | <a class="footer" href="/caillou/activities/">Printables &amp; Activities</a> | <br> <a class="footer" href="https://pbskids.org/tvschedules/airdates.html?title_id=CAIU">Caillou on TV</a> | <a class="footer" href="/caillou/parentsteachers/">Parents &amp; Teachers</a></p>
 <p style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;">Web site copyright © <a class="footer" href="/caillou/copyright.html">2007</a> COOKIE JAR ENTERTAINMENT™<br> Les Editions Chouette. All rights reserved. <a class="footer" href="https://pbskids.org/privacy/">PBS Privacy Policy</a></p>
</div>{% endblock %}