{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Grown-Ups . Safety Tips . Halloween Safety Tips' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-school, Cinar, PBS, games, kids, animation, children, activities' %}
{% set desc = 'The Official Caillou Site' %}

{% block specialScripts %}<script language="JavaScript">	function setLoaded( )	{		isLoaded = true;	}</script>
<script type="text/javascript">	var isRolloverOn = false;	if (document.images)	{		back_on = new Image( );		back_on.src = "../../images/btn_back-over.gif";		back_off = new Image( );		back_off.src = "../../images/btn_back.gif";			caillouhome_on = new Image( );		caillouhome_on.src = "../../images/caillou_logo-over.gif";		caillouhome_off = new Image( );		caillouhome_off.src = "../../images/caillou_logo.gif";			menu_01_on = new Image( );		menu_01_on.src = "../images/menu_01-over.gif";		menu_01_off = new Image( );		menu_01_off.src = "../images/menu_01.gif";			menu_02_on = new Image( );		menu_02_on.src = "../images/menu_02-over.gif";		menu_02_off = new Image( );		menu_02_off.src = "../images/menu_02.gif";			menu_03_on = new Image( );		menu_03_on.src = "../images/menu_03-over.gif";		menu_03_off = new Image( );		menu_03_off.src = "../images/menu_03.gif";			menu_04_on = new Image( );		menu_04_on.src = "../images/menu_04-over.gif";		menu_04_off = new Image( );		menu_04_off.src = "../images/menu_04.gif";			menu_05_on = new Image( );		menu_05_on.src = "../images/menu_05-over.gif";		menu_05_off = new Image( );		menu_05_off.src = "../images/menu_05.gif";			menu_06_on = new Image( );		menu_06_on.src = "../images/menu_06-over.gif";		menu_06_off = new Image( );		menu_06_off.src = "../images/menu_06.gif";			menu_07_on = new Image( );		menu_07_on.src = "../images/menu_07-over.gif";		menu_07_off = new Image( );		menu_07_off.src = "../images/menu_07.gif";			menu_08_on = new Image( );		menu_08_on.src = "../images/menu_08-over.gif";		menu_08_off = new Image( );		menu_08_off.src = "../images/menu_08.gif";			menu_09_on = new Image( );		menu_09_on.src = "../images/menu_09-over.gif";		menu_09_off = new Image( );		menu_09_off.src = "../images/menu_09.gif";			menu_10_on = new Image( );		menu_10_on.src = "../images/menu_10-over.gif";		menu_10_off = new Image( );		menu_10_off.src = "../images/menu_10.gif";			menu_11_on = new Image( );		menu_11_on.src = "../images/menu_11-over.gif";		menu_11_off = new Image( );		menu_11_off.src = "../images/menu_11.gif";			top_page_on = new Image( );		top_page_on.src = "images/btn_top-over.gif";		top_page_off = new Image( );		top_page_off.src = "images/btn_top.gif";			}	          function act(imgName)        {			if( document.images )				document[imgName].src = eval( imgName + '_on.src' );        }	  		function inact(imgName)		{			if( document.images )				document[imgName].src = eval(imgName + '_off.src');  		}</script>
{% endblock %}

{% set bodyTag = '<body onload="setLoaded();" bgcolor="#ed1c24" text="black" link="black" vlink="#00acd5" alink="#ffd400" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td bgcolor="#ed1c24">
    <div align="center"><a name="top"></a>
     <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td align="left" width="140"><a href="http:pbskids.org/"><img src="../../images/pbskids_logo.gif" alt="PBS Kids Homepage" height="79" width="90" border="0"></a></td>
        <td>
         <div align="center"><a onmouseover="act('caillouhome')" onmouseout="inact('caillouhome')" href="../../index.html"><img src="../../images/caillou_logo.gif" alt="Caillou homepage" name="caillouhome" height="79" width="200" border="0"></a>
         </div></td>
        <td width="140">
         <div align="center"><a onmouseover="act('back')" onmouseout="inact('back')" href="../safety.html" onclick="history.go(-1)"><img src="../../images/btn_back.gif" alt="Back button" name="back" height="60" width="70" border="0"></a>
         </div></td>
       </tr>
      </tbody>
     </table>
     <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../../images/bkg_top_red.gif" height="20">
      <tbody>
       <tr>
        <td></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr height="16">
   <td bgcolor="white" height="16">
    <div align="center">
     <table width="574" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td width="190">&nbsp;</td>
        <td width="20"></td>
        <td></td>
       </tr>
       <tr>
        <td valign="top" width="190">
         <div align="center">
          <p class="instruct_normal"><img src="images/safe_caillou_halloween.gif" alt="Caillou and friends disguised" name="image1" height="196" width="180" border="0"></p>
          <table width="64" border="0" cellspacing="0" cellpadding="0">
           <tbody>
            <tr>
             <td><img src="../images/menu_00.gif" alt="" height="11" width="186" border="0"></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_01')" onmouseout="inact('menu_01')" href="../characters.html"><img src="../images/menu_01.gif" alt="Character Description" name="menu_01" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_02')" onmouseout="inact('menu_02')" href="../activity.html"><img src="../images/menu_02.gif" alt="Activity Guide" name="menu_02" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_03')" onmouseout="inact('menu_03')" href="../episode.html"><img src="../images/menu_03.gif" alt="Episode Guide" name="menu_03" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_04')" onmouseout="inact('menu_04')" href="/cgi-registry/in_your_town/router.cgi?nola=CAIU&amp;program=caillou"><img src="../images/menu_04.gif" alt="TV Schedule" name="menu_04" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_05')" onmouseout="inact('menu_05')" href="../faq.html"><img src="../images/menu_05.gif" alt="FAQ" name="menu_05" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_06')" onmouseout="inact('menu_06')" href="../wallpaper.html"><img src="../images/menu_06.gif" alt="Screen Wallpaper" name="menu_06" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_07')" onmouseout="inact('menu_07')" href="../outdoors.html"><img src="../images/menu_07.gif" alt="The Great Outdoors" name="menu_07" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_08')" onmouseout="inact('menu_08')" href="../growing.html"><img src="../images/menu_08.gif" alt="Growing up" name="menu_08" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><img src="../images/menu_09-Idle.gif" alt="Safety Tips" name="menu_09" height="20" width="185" border="0"></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_10')" onmouseout="inact('menu_10')" href="../cooking.html"><img src="../images/menu_10.gif" alt="Cook with caillou" name="menu_10" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_11')" onmouseout="inact('menu_11')" href="../award.html"><img src="../images/menu_11.gif" alt="Award Certificate" name="menu_11" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><img src="../images/menu_12.gif" alt="" height="23" width="185" border="0"></td>
            </tr>
           </tbody>
          </table>
          <p class="instruct_normal">&nbsp;</p>
         </div></td>
        <td valign="top" width="20"><img src="../../images/spacer.gif" alt="" height="20" width="20" border="0"></td>
        <td valign="top">
         <div align="left">
          <p class="text"><img src="images/title_halloween.gif" alt="Halloween Safety Tips" height="50" width="380" border="0"></p>
          <p class="text">From jokers to jack-o-lanterns, to princesses and pirates—there are many faces to the haunted holiday of Halloween. Know the tricks to making Halloween a treat.</p>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">DO THINGS RIGHT ON HALLOWEEN NIGHT</p>
          <p class="grownups_decr">Teach your kids the safe way to trick-or-treat. Trick-or-treaters should:</p>
          <ul>
           <li type="disc" class="grownups_decr1">Always walk, not run and stay on sidewalks.</li>
           <li type="disc" class="grownups_decr1">Always obey traffic signals and never cross the street between parked cars.</li>
           <li type="disc" class="grownups_decr1">Always wear a mask that doesn't restrict vision. Cool face paint is a great alternative to masks.</li>
           <li type="disc" class="grownups_decr1">Always dress for the weather, not for the holiday.</li>
           <li type="disc" class="grownups_decr1">Always wear shoes that fit, even if they don’t go with the costume.</li>
           <li type="disc" class="grownups_decr1">Never wear a costume that drags on the ground; you don’t want to trip on it.</li>
           <li type="disc" class="grownups_decr1">Never go inside a house for treats, always stay in the doorway.</li>
           <li type="disc" class="grownups_decr1">Never trick-or-treat alone. Younger children should always be accompanied by a parent or guardian. Older children should travel with a group of friends.</li>
          </ul>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">MAKE IT A FAMILY AFFAIR</p>
          <p class="grownups_decr">Even if your family can’t trick-or-treat together, you should have a family plan. Outlining the evening will help keep your children safe while they are out and keep you from worrying.</p>
          <ul>
           <li type="disc" class="grownups_decr1">Check with your area mall or community center to see if they offer alternatives to neighbor hood trick-or-treating.</li>
           <li type="disc" class="grownups_decr1">Plan and review the trick-or-treat route and discuss behavior which is acceptable to your family.</li>
           <li type="disc" class="grownups_decr1">Know where your older children are going, and with whom; make sure to set a curfew or check-in time.</li>
           <li type="disc" class="grownups_decr1">If your children go out on their own, make sure they wear a watch they can read in the dark.</li>
           <li type="disc" class="grownups_decr1">Give older children exact change so they can call home.</li>
           <li type="disc" class="grownups_decr1">Make sure your children wait until they are home before eating any treats. All candy should be inspected thoroughly by an adult before it is eaten. Anything that looks unsafe should immediately be thrown away.</li>
          </ul>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">BE NEIGHBORLY</p>
          <p class="grownups_decr">For many adults, handing out candy to little visitors is the real treat of Halloween. Make sure your home and yard are trick-or-treat safe zones.</p>
          <ul>
           <li type="disc" class="grownups_decr1">Make sure your driveway, yard, walkways and steps are clear of clutter.</li>
           <li type="disc" class="grownups_decr1">Place candle lit jack-o-lanterns well away from where children will be standing.</li>
           <li type="disc" class="grownups_decr1">Use glow-sticks instead of candles to light your pumpkins.</li>
           <li type="disc" class="grownups_decr1">Make sure paper and fabric decorations cannot blow into the flame of the jack-o-lantern.</li>
           <li type="disc" class="grownups_decr1">Keep your porch light and all outside lights on during the evening.</li>
           <li type="disc" class="grownups_decr1">If you must drive on Halloween, proceed slowly and carefully.</li>
          </ul>
          <p class="instruct_normal">Click on the Pumpkin Play Activity icon below. To play this activity, you must print out the activity sheet using your browser's print function.</p>
         </div>
         <div align="center">
          <p class="footer_nav"><a href="safety_act_halloween.html"><img src="images/safety_act_halloween_t.gif" alt="Caillou's Pumpkin Play Activity" height="130" width="108" align="absmiddle" border="0"></a> <a href="safety_act_halloween.html">Caillou's Pumpkin Play Activity</a></p>
          <p class="instruct_normal"></p>
          <p class="instruct_bold">TIPS COMPILED FROM:</p>
          <div align="center">
           <p class="footer_nav"><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_halloween_CSZ">Childr</a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_tips_csz_EN"> </a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_halloween_CSZ">en’s Safety Zone</a></p>
           <p class="footer_nav"><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_halloween_Clemson">Clemson Universi</a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_tips_clemson_EN"> </a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_halloween_Clemson">ty Cooperative Extension Service</a></p>
           <p class="footer_nav"><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_halloween_LAPD">Los </a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_tips_lapd_EN"> </a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_halloween_LAPD">Angeles, Police Department</a></p>
          </div>
          <p class="instruct_normal"><a onmouseover="act('top_page')" onmouseout="inact('top_page')" href="#top"><img src="images/btn_top.gif" alt="Top of page" name="top_page" height="61" width="62" border="0"></a></p>
         </div></td>
       </tr>
       <tr>
        <td width="190">&nbsp;</td>
        <td width="20"></td>
        <td></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr>
   <td bgcolor="#ed1c24">
    <div align="center">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../../images/bkg_bottom_red.gif" height="20">
      <tbody>
       <tr>
        <td></td>
       </tr>
      </tbody>
     </table>
     <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td>
         <div align="center"><!-- Footer nav bar goes here --> <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" style="font-size:12px">| <a href="/caillou/">Caillou Homepage</a> | <a href="/caillou/grownups/sitemap.html">Site Map</a> | <a href="/caillou/games/">Games</a> | <a href="/caillou/activities/">Activities</a> | <a href="/caillou/greetings/">Greeting Cards</a> |<br>| <a href="/caillou/grownups/">Grown-Ups</a> | <a href="http:pbskids.org/">PBS Kids Homepage</a> | <a href="http:pbskids.org/privacy/">PBS Privacy Policy |</a></font>
          <p></p>
          <p></p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" style="font-size:12px">Web site copyright © <a href="/caillou/copyright.html">2002</a> CINAR Corporation<br>All rights reserved.</font>
          <p></p>
         </div></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
 </tbody>
</table>{% endblock %}