{% extends 'caillou/includes/legacyPage.html.twig' %}
{% set pageTitle = 'Grown-Ups . Safety Tips . Shopping Cart Safety Tips' %}
{% set keywds = 'Caillou, Rosie, Gilbert, Teddy, Rexy, pre-school, Cinar, PBS, games, kids, animation, children, activities' %}
{% set desc = 'The Official Caillou Site' %}

{% block specialScripts %}<script language="JavaScript">	function setLoaded( )	{		isLoaded = true;	}</script>
<script type="text/javascript">	var isRolloverOn = false;	if (document.images)	{		back_on = new Image( );		back_on.src = "../../images/btn_back-over.gif";		back_off = new Image( );		back_off.src = "../../images/btn_back.gif";			caillouhome_on = new Image( );		caillouhome_on.src = "../../images/caillou_logo-over.gif";		caillouhome_off = new Image( );		caillouhome_off.src = "../../images/caillou_logo.gif";			menu_01_on = new Image( );		menu_01_on.src = "../images/menu_01-over.gif";		menu_01_off = new Image( );		menu_01_off.src = "../images/menu_01.gif";			menu_02_on = new Image( );		menu_02_on.src = "../images/menu_02-over.gif";		menu_02_off = new Image( );		menu_02_off.src = "../images/menu_02.gif";			menu_03_on = new Image( );		menu_03_on.src = "../images/menu_03-over.gif";		menu_03_off = new Image( );		menu_03_off.src = "../images/menu_03.gif";			menu_04_on = new Image( );		menu_04_on.src = "../images/menu_04-over.gif";		menu_04_off = new Image( );		menu_04_off.src = "../images/menu_04.gif";			menu_05_on = new Image( );		menu_05_on.src = "../images/menu_05-over.gif";		menu_05_off = new Image( );		menu_05_off.src = "../images/menu_05.gif";			menu_06_on = new Image( );		menu_06_on.src = "../images/menu_06-over.gif";		menu_06_off = new Image( );		menu_06_off.src = "../images/menu_06.gif";			menu_07_on = new Image( );		menu_07_on.src = "../images/menu_07-over.gif";		menu_07_off = new Image( );		menu_07_off.src = "../images/menu_07.gif";			menu_08_on = new Image( );		menu_08_on.src = "../images/menu_08-over.gif";		menu_08_off = new Image( );		menu_08_off.src = "../images/menu_08.gif";			menu_09_on = new Image( );		menu_09_on.src = "../images/menu_09-over.gif";		menu_09_off = new Image( );		menu_09_off.src = "../images/menu_09.gif";			menu_10_on = new Image( );		menu_10_on.src = "../images/menu_10-over.gif";		menu_10_off = new Image( );		menu_10_off.src = "../images/menu_10.gif";			menu_11_on = new Image( );		menu_11_on.src = "../images/menu_11-over.gif";		menu_11_off = new Image( );		menu_11_off.src = "../images/menu_11.gif";			top_page_on = new Image( );		top_page_on.src = "images/btn_top-over.gif";		top_page_off = new Image( );		top_page_off.src = "images/btn_top.gif";			}	          function act(imgName)        {			if( document.images )				document[imgName].src = eval( imgName + '_on.src' );        }	  		function inact(imgName)		{			if( document.images )				document[imgName].src = eval(imgName + '_off.src');  		}</script>
{% endblock %}

{% set bodyTag = '<body onload="setLoaded();" bgcolor="#ed1c24" text="black" link="black" vlink="#00acd5" alink="#ffd400" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">' %}

{% block mainContent %}<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tbody>
  <tr>
   <td bgcolor="#ed1c24">
    <div align="center"><a name="top"></a>
     <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td align="left" width="140"><a href="http:pbskids.org/"><img src="../../images/pbskids_logo.gif" alt="PBS Kids Homepage" height="79" width="90" border="0"></a></td>
        <td>
         <div align="center"><a onmouseover="act('caillouhome')" onmouseout="inact('caillouhome')" href="../../index.html"><img src="../../images/caillou_logo.gif" alt="Caillou homepage" name="caillouhome" height="79" width="200" border="0"></a>
         </div></td>
        <td width="140">
         <div align="center"><a onmouseover="act('back')" onmouseout="inact('back')" href="../safety.html" onclick="history.go(-1)"><img src="../../images/btn_back.gif" alt="Back button" name="back" height="60" width="70" border="0"></a>
         </div></td>
       </tr>
      </tbody>
     </table>
     <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../../images/bkg_top_red.gif" height="20">
      <tbody>
       <tr>
        <td></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr height="16">
   <td bgcolor="white" height="16">
    <div align="center">
     <table width="574" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td width="190">&nbsp;</td>
        <td width="20"></td>
        <td></td>
       </tr>
       <tr>
        <td valign="top" width="190">
         <div align="center">
          <p class="instruct_normal"><img src="images/safe_caillou_shopping.gif" alt="Caillou intrigued" name="image1" height="272" width="125" border="0"></p>
          <table width="64" border="0" cellspacing="0" cellpadding="0">
           <tbody>
            <tr>
             <td><img src="../images/menu_00.gif" alt="" height="11" width="186" border="0"></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_01')" onmouseout="inact('menu_01')" href="../characters.html"><img src="../images/menu_01.gif" alt="Character Description" name="menu_01" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_02')" onmouseout="inact('menu_02')" href="../activity.html"><img src="../images/menu_02.gif" alt="Activity Guide" name="menu_02" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_03')" onmouseout="inact('menu_03')" href="../episode.html"><img src="../images/menu_03.gif" alt="Episode Guide" name="menu_03" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_04')" onmouseout="inact('menu_04')" href="/cgi-registry/in_your_town/router.cgi?nola=CAIU&amp;program=caillou"><img src="../images/menu_04.gif" alt="TV Schedule" name="menu_04" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_05')" onmouseout="inact('menu_05')" href="../faq.html"><img src="../images/menu_05.gif" alt="FAQ" name="menu_05" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_06')" onmouseout="inact('menu_06')" href="../wallpaper.html"><img src="../images/menu_06.gif" alt="Screen Wallpaper" name="menu_06" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_07')" onmouseout="inact('menu_07')" href="../outdoors.html"><img src="../images/menu_07.gif" alt="The Great Outdoors" name="menu_07" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_08')" onmouseout="inact('menu_08')" href="../growing.html"><img src="../images/menu_08.gif" alt="Growing up" name="menu_08" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><img src="../images/menu_09-Idle.gif" alt="Safety Tips" name="menu_09" height="20" width="185" border="0"></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_10')" onmouseout="inact('menu_10')" href="../cooking.html"><img src="../images/menu_10.gif" alt="Cook with caillou" name="menu_10" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><a onmouseover="act('menu_11')" onmouseout="inact('menu_11')" href="../award.html"><img src="../images/menu_11.gif" alt="Award Certificate" name="menu_11" height="20" width="185" border="0"></a></td>
            </tr>
            <tr>
             <td><img src="../images/menu_12.gif" alt="" height="23" width="185" border="0"></td>
            </tr>
           </tbody>
          </table>
          <p class="instruct_normal">&nbsp;</p>
         </div></td>
        <td valign="top" width="20"><img src="../../images/spacer.gif" alt="" height="20" width="20" border="0"></td>
        <td valign="top">
         <div align="left">
          <p class="text"><img src="images/title_shopping.gif" alt="Shopping Cart Safety Tips" height="50" width="380" border="0"></p>
          <p class="text">Most parents are well aware of the dangers of putting their child in a moving vehicle such as a car or a bike. But, many people don’t realize that shopping carts can also be very dangerous. Follow these simple safety tips and you’ll be doing your part to help keep your child safe in the cart!</p>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">HARNESS THE OPPORTUNITY TO BE SAFE</p>
          <p class="grownups_decr">Always use safety belts to restrain children in shopping carts. Nearly all new shopping carts are equipped with safety restraints. If a shopping cart with restraints is not readily available, ask the store manager for assistance. Consider bringing your own harness or safety belt if the store does not have these special carts.</p>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">SAFETY WILL BE CLOSE BY IF YOU ARE</p>
          <p class="grownups_decr">Always stay within arms reach of the shopping cart. Children who are left unattended have a much greater chance of experiencing shopping cart related injuries.</p>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">AVOID NO PARKING ZONES</p>
          <p class="grownups_decr">"Park" your cart away from displays and shelves that are fully stocked. Many displays will tumble down with even the slightest tug.</p>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">PLEASE BE SEATED</p>
          <p class="grownups_decr">Never let your child stand in the shopping cart or ride on the outside of the cart. Falling is the leading cause of shopping cart injuries.</p>
          <p class="grownups_bold_2lines"><img src="images/safety_star.gif" alt="Star" height="18" width="30" align="absmiddle" border="0">PUSH FOR CHILD SAFETY</p>
          <p class="grownups_decr">Don’t let a child push or steer a shopping cart. A shopping cart is too large for small children to safely maneuver.</p>
          <p class="instruct_normal">Click on the Shopping Cart Safety Activity icon below. To play this activity, you must print out the activity sheet using your browser's print function.</p>
         </div>
         <div align="center">
          <p class="footer_nav"><a href="safety_act_shopping.html"><img src="images/safety_act_shoppingcart_t.gif" alt="Shopping Cart Safety Activity" height="140" width="108" align="absmiddle" border="0"></a> <a href="safety_act_shopping.html">Shopping Cart Activity</a></p>
          <p class="instruct_normal"></p>
          <p class="instruct_bold">TIPS COMPILED FROM:</p>
          <div align="center">
           <div align="center">
            <p class="footer_nav"><a href="/cgi-registry/kidsbridge.cgi?context=caillou_tips_safekids_EN">National SAFE KIDS Campaign</a></p>
            <p class="footer_nav"><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_shoppingcart_safety">The Nationa</a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_tips_nsc_EN"> </a><a href="/cgi-registry/kidsbridge.cgi?context=caillou_safetytips_shoppingcart_safety">l Safety Council</a></p>
           </div>
          </div>
          <p class="instruct_normal"><a onmouseover="act('top_page')" onmouseout="inact('top_page')" href="#top"><img src="images/btn_top.gif" alt="Top of page" name="top_page" height="61" width="62" border="0"></a></p>
         </div></td>
       </tr>
       <tr>
        <td width="190">&nbsp;</td>
        <td width="20"></td>
        <td></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
  <tr>
   <td bgcolor="#ed1c24">
    <div align="center">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../../images/bkg_bottom_red.gif" height="20">
      <tbody>
       <tr>
        <td></td>
       </tr>
      </tbody>
     </table>
     <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
       <tr>
        <td>
         <div align="center"><!-- Footer nav bar goes here --> <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" style="font-size:12px">| <a href="/caillou/">Caillou Homepage</a> | <a href="/caillou/grownups/sitemap.html">Site Map</a> | <a href="/caillou/games/">Games</a> | <a href="/caillou/activities/">Activities</a> | <a href="/caillou/greetings/">Greeting Cards</a> |<br>| <a href="/caillou/grownups/">Grown-Ups</a> | <a href="http:pbskids.org/">PBS Kids Homepage</a> | <a href="http:pbskids.org/privacy/">PBS Privacy Policy |</a></font>
          <p></p>
          <p></p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" style="font-size:12px">Web site copyright © <a href="/caillou/copyright.html">2002</a> CINAR Corporation<br>All rights reserved.</font>
          <p></p>
         </div></td>
       </tr>
      </tbody>
     </table>
    </div></td>
  </tr>
 </tbody>
</table>{% endblock %}