{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoHouse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekohouse.jpg" alt="Talk about EekoHouse" width="257" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekohouse.gif" alt="Talk about EekoHouse"> <p>Nothing is better than EekoHouse that I've ever known!</p> <p>— rika54, Age 24</p>
      <hr> <p>eekohouse is very, very fun. I almost made it to the top 5!</p> <p>— ruffscience, Age 8</p>
      <hr> <p>It relley fun. i have l lerned how to recaicl,and happy resiceling edop</p> <p>— sarah, Age 7</p>
      <hr> <p>I wish every one picked up after them selfs and recycle so we would not have a hole in the O-zone. It's our life so we have to change it. so...... LETS RRR!!!! oh rrr stands for reduce reuse and recycle!!!!1</p> <p>— bobbad, Age 09</p>
      <hr> <p>Hi everyone, it’s Cheeko! Did you know that this Sunday, November 15th is America Recycles Day?! You can celebrate by recycling and using recycled products! Woo hoo! What will you do to celebrate?!</p> <p>— Cheeko, Age 8</p>
      <hr> <p>Eekohouse is so fun it is too fun.</p> <p>— britney, Age 6</p>
      <hr> <p>I wish that some people would pck up after them selves. They just sit there and stare at it just layiing on the ground on the side walk outsiide. I hate it when people do these things. I wish people would make the efort to help our enviornment. What do you think?</p> <p>— Calia, Age 10</p>
      <hr> <p>Eeko house is very good. i alway turn my lights off.</p> <p>— puppygirl236, Age 9</p>
      <hr> <p>I think that eakohouse helps kids learn how to save the earth.</p> <p>— owl999, Age 12</p>
      <hr> <p>eeko house teaches kids how to save engry. It also gives tips. I go throw my house and make sure things are turned off just like you would on eeko house.</p> <p>— happysheep, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekohouse.html@Start=220" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekohouse.html@Start=240" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2985<br><a href="detail_eekohouse.html@Start=220">Previous</a> | <a href="detail_eekohouse.html@Start=140">15</a> | <a href="detail_eekohouse.html@Start=150">16</a> | <a href="detail_eekohouse.html@Start=160">17</a> | <a href="detail_eekohouse.html@Start=170">18</a> | <a href="detail_eekohouse.html@Start=180">19</a> | <a href="detail_eekohouse.html@Start=190">20</a> | <a href="detail_eekohouse.html@Start=200">21</a> | <a href="detail_eekohouse.html@Start=210">22</a> | <a href="detail_eekohouse.html@Start=220">23</a> | 24 | <a href="detail_eekohouse.html@Start=240">25</a> | <a href="detail_eekohouse.html@Start=250">26</a> | <a href="detail_eekohouse.html@Start=260">27</a> | <a href="detail_eekohouse.html@Start=270">28</a> | <a href="detail_eekohouse.html@Start=280">29</a> | <a href="detail_eekohouse.html@Start=290">30</a> | <a href="detail_eekohouse.html@Start=300">31</a> | <a href="detail_eekohouse.html@Start=310">32</a> | <a href="detail_eekohouse.html@Start=320">33</a> | <a href="detail_eekohouse.html@Start=240">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=13"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

