{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoHouse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekohouse.jpg" alt="Talk about EekoHouse" width="257" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekohouse.gif" alt="Talk about EekoHouse"> <p>Eekohouse is so cool!It helps me learn about our world. Right now in school I'm learning about weather. I think we should recycle everyday. I love plants and animals.</p> <p>— maymay5812, Age 7-</p>
      <hr> <p>ekohouse can be fun and great but you have to know your environment to gain enough points.</p> <p>— 020170237, Age 10</p>
      <hr> <p>If You Go To EekoHouse You Can Get Better At Being Smart!!! And It Make It More Cooler To Learn!!!</p> <p>— Jaekob, Age 6</p>
      <hr> <p>Eeko house is great! It teaches you so many things about saving energy and recycleing.Did you know if you get a score of 15 or more on eeko house you get to go to eeko school!</p> <p>— jess7889, Age 9</p>
      <hr> <p>Eekohouse is a great idea I realy live in ireland but i`v was in Amaca before</p> <p>— fasionpuppy6, Age 11</p>
      <hr> <p>EekoHouse is awesome, I especially like the bonus round, EekoSchool. My favourite part of EekoSchool is the speed round. 5 star rating. 100 out of 100!!!!</p> <p>— 3rdranger, Age 12</p>
      <hr> <p>i really thinks Eekohouse is the best and awsome!!!!!</p> <p>— kiara, Age 7</p>
      <hr> <p>EekoHouse is AWESOME!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! I00 out of 100!!!!!!!!!!!!!!!!!!!!!!!</p> <p>— worldhelper7, Age 11</p>
      <hr> <p>I think we should, clean our rooms, turn our Tv's off and get less water to help the enviorment</p> <p>— maczilla97, Age 11</p>
      <hr> <p>EECO HOUSE IS GREAT BUT TODAY OCTOBER THE 7 2009 MY SCORE IN EECO SCHOOL WAS 20 BUT I DID NOT SEE MY NAME ON THE LIST I REFRESHED IT BUT ALL I SAW IN THE LIST WAS CHEEKO EVERYWHERE. IF IT WAS NOT FOR THAT THAT WOULD OF BEEN THE BEST GAME I PLAYED IN MY LIFE. YOUR GAMES ARE GREAT I RATE THEM 100 OUT OF 100.</p> <p>— AS00983, Age 10</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekohouse.html@Start=280" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekohouse.html@Start=300" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2994<br><a href="detail_eekohouse.html@Start=280">Previous</a> | <a href="detail_eekohouse.html@Start=200">21</a> | <a href="detail_eekohouse.html@Start=210">22</a> | <a href="detail_eekohouse.html@Start=220">23</a> | <a href="detail_eekohouse.html@Start=230">24</a> | <a href="detail_eekohouse.html@Start=240">25</a> | <a href="detail_eekohouse.html@Start=250">26</a> | <a href="detail_eekohouse.html@Start=260">27</a> | <a href="detail_eekohouse.html@Start=270">28</a> | <a href="detail_eekohouse.html@Start=280">29</a> | 30 | <a href="detail_eekohouse.html@Start=300">31</a> | <a href="detail_eekohouse.html@Start=310">32</a> | <a href="detail_eekohouse.html@Start=320">33</a> | <a href="detail_eekohouse.html@Start=330">34</a> | <a href="detail_eekohouse.html@Start=340">35</a> | <a href="detail_eekohouse.html@Start=350">36</a> | <a href="detail_eekohouse.html@Start=360">37</a> | <a href="detail_eekohouse.html@Start=370">38</a> | <a href="detail_eekohouse.html@Start=380">39</a> | <a href="detail_eekohouse.html@Start=300">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=13"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

