{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoHouse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekohouse.jpg" alt="Talk about EekoHouse" width="257" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekohouse.gif" alt="Talk about EekoHouse"> <p>Hello I'm memetr123 I'm just wondering when can I have an Eeko house? oh well I love my Eeko creature.</p> <p>— MeMetr123, Age 11</p>
      <hr> <p>Why do people spell ``Eeko``</p> <p>— gogreen999, Age 9</p>
      <hr> <p>EEK0 h0USE;; i ThiNk iS C00l... bECAUSE Y0U GEt t0 lEARN Ab0Ut All diFFERNt WAYS 0F hElPiNG Y0U UNdERStANd M0RE Ab0Ut h0W t0 SAVE thE EARth---ANd kEEP Y0UR h0USE ClEAN ANd SAVE fROM thE MiStAkES PE0PlE MAkE AR0UNd thE EARth! =) bUt 0NE thiNG, i d0Nt UNdERStANd h0W Y0U GEt t0 thE b0UNS EEk0 SCh00l... i did thE EEk0 h0USE ANd G0t ENOUGh P0iNtS t0 G0 t0 thE EEk0 SCh00l, bUt i didN't kN0W h0W t0 GEt thERE!!!??? ---&gt;thANk Y0U;; jRAE69 =)</p> <p>— jrae69, Age 17</p>
      <hr> <p>I think it is important because when we use Eekohouse it show the important things.</p> <p>— CAORboy, Age 7</p>
      <hr> <p>yo how many pepople have made it yo eekoschool</p> <p>— lakerboy99, Age 10</p>
      <hr> <p>I wish there was an atiic and a basement.</p> <p>— tofftoffss, Age 7</p>
      <hr> <p>there is a lot of health in eekohouse!!!!!!!</p> <p>— zab5757, Age 7</p>
      <hr> <p>I think eeko world is cool because you get to play and learn how to save the earth!I also think it is cool because you can play on it with your friends and family</p> <p>— muchacaburro, Age 2</p>
      <hr> <p>Hi my name is Marcy and I play EekoHouse alot. It is a good game for all kind of kids.Because it all about learning how to be green.There's all kind of fun in the game.I think everybody wiil play this game and be green</p> <p>— Marcy, Age 8</p>
      <hr> <p>I LIKE EEKOHOUSE BECAUSE IT SHOWS YOU WHAT TO RECYCLE, WHAT THINGS IN YOUR HOUSE ARE CAUSING POLLUTION AND WHAT THINGS YOU SHOULD DO TO HELP THE EARTH GET "GREENER".</p> <p>— GAMES1231, Age 8</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekohouse.html@Start=330" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekohouse.html@Start=350" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2994<br><a href="detail_eekohouse.html@Start=330">Previous</a> | <a href="detail_eekohouse.html@Start=250">26</a> | <a href="detail_eekohouse.html@Start=260">27</a> | <a href="detail_eekohouse.html@Start=270">28</a> | <a href="detail_eekohouse.html@Start=280">29</a> | <a href="detail_eekohouse.html@Start=290">30</a> | <a href="detail_eekohouse.html@Start=300">31</a> | <a href="detail_eekohouse.html@Start=310">32</a> | <a href="detail_eekohouse.html@Start=320">33</a> | <a href="detail_eekohouse.html@Start=330">34</a> | 35 | <a href="detail_eekohouse.html@Start=350">36</a> | <a href="detail_eekohouse.html@Start=360">37</a> | <a href="detail_eekohouse.html@Start=370">38</a> | <a href="detail_eekohouse.html@Start=380">39</a> | <a href="detail_eekohouse.html@Start=390">40</a> | <a href="detail_eekohouse.html@Start=400">41</a> | <a href="detail_eekohouse.html@Start=410">42</a> | <a href="detail_eekohouse.html@Start=420">43</a> | <a href="detail_eekohouse.html@Start=430">44</a> | <a href="detail_eekohouse.html@Start=350">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=13"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

