{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoHouse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekohouse.jpg" alt="Talk about EekoHouse" width="257" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekohouse.gif" alt="Talk about EekoHouse"> <p>i think that ecohouse is awesome it teaches you little things that you can fo at home to help make the planet a better place!!!</p> <p>— cubby241, Age 11</p>
      <hr> <p>Yeah i like other peoples ideas too and also il like eekoschool and eekohouse because it saves the world.</p> <p>— Eugene, Age 7</p>
      <hr> <p>i love eeko house it teaches you easy ways to reduce reuse and recycle! and i just adore eekoschool it's also very fun!</p> <p>— shayleaonea, Age 11</p>
      <hr> <p>Eekohouse is so helpful to me. It helps us to conserve energy when you are not using it. We can shut of the water or any electronic device that we aren't using. That way we can make our world grow beautifully!</p> <p>— PowerZpunch, Age 12</p>
      <hr> <p>I think EekoHouse is telling you how to Reduce, Reuse and Recycle!</p> <p>— Ifechi, Age 9</p>
      <hr> <p>EckoHouse Is A Great WAy To Learn About What To Do To Save The Inviorment</p> <p>— dequana56, Age 11</p>
      <hr> <p>I think Eekohouse is a great way to show people how everyday life can make a difference. I like to play Eekohouse because it shows me how me and my family can save the WORLD!!!!!!!!!!</p> <p>— Smarters, Age 9</p>
      <hr> <p>I love the game eekoschool at the end of eekohouse.</p> <p>— kittypom, Age 11</p>
      <hr> <p>I think Eekohouse is a great way to learn about saving the world. Even though I don't know what to do once your done. GO EEKO!</p> <p>— June(A.k.a Ecogal4113), Age 10</p>
      <hr> <p>I think Eekohouse is a opportunity to learn a about helping our universe.</p> <p>— Claire, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekohouse.html@Start=400" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekohouse.html@Start=420" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2921<br><a href="detail_eekohouse.html@Start=400">Previous</a> | <a href="detail_eekohouse.html@Start=320">33</a> | <a href="detail_eekohouse.html@Start=330">34</a> | <a href="detail_eekohouse.html@Start=340">35</a> | <a href="detail_eekohouse.html@Start=350">36</a> | <a href="detail_eekohouse.html@Start=360">37</a> | <a href="detail_eekohouse.html@Start=370">38</a> | <a href="detail_eekohouse.html@Start=380">39</a> | <a href="detail_eekohouse.html@Start=390">40</a> | <a href="detail_eekohouse.html@Start=400">41</a> | 42 | <a href="detail_eekohouse.html@Start=420">43</a> | <a href="detail_eekohouse.html@Start=430">44</a> | <a href="detail_eekohouse.html@Start=440">45</a> | <a href="detail_eekohouse.html@Start=450">46</a> | <a href="detail_eekohouse.html@Start=460">47</a> | <a href="detail_eekohouse.html@Start=470">48</a> | <a href="detail_eekohouse.html@Start=480">49</a> | <a href="detail_eekohouse.html@Start=490">50</a> | <a href="detail_eekohouse.html@Start=500">51</a> | <a href="detail_eekohouse.html@Start=420">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=13"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

