{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoHouse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekohouse.jpg" alt="Talk about EekoHouse" width="257" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekohouse.gif" alt="Talk about EekoHouse"> <p>We can all make a difrence Eekohous teches kids under my age about the enviermemt</p> <p>— heather, Age 9</p>
      <hr> <p>I think Eeko House is pretty fun because it's a great way to let us know to reuse,reduse,and recycle.It's a better way to use something that you don't use anymore,and trade or donate them.GO EEKO WORLD!</p> <p>— Ivy, Age 9</p>
      <hr> <p>Ekohouse is a good way to LEARN!</p> <p>— adababy, Age 10</p>
      <hr> <p>it rocks it is cool so amazing you learn stuff plus it also has aekoscool!! and you earn points and and whew!most of all you learn stuff now i know that i should recicle thank you sooooooooooooooooooooooooooooo much cheeko!!!!!!!!! whew im tired</p> <p>— stefandh, Age 8</p>
      <hr> <p>i thnik eco-house is best for learning about the enviorment and to teach kids my age and under to HELP SAVE EARTH!! DDDDD DDDDDD DDDDDD DDDDDDD D DDDDDD</p> <p>— Brianna455, Age 9</p>
      <hr> <p>Eeko House is a great way of teaching everyone how to keep an outstanding enviroment!! Eeko house just rocks!!!!!!!</p> <p>— Kate, Age 6</p>
      <hr> <p>EekoHouse RULES!!!!! I love the way we answer questions but more importantly I LOVE the way we get to learn about the enviroment and world!!!!!!!!!!!!!!!! P.S. EekoHouse ROCKS!!!!!!!!!!!!!!</p> <p>— Elazul, Age 9</p>
      <hr> <p>I think that Eekohouse is a great way to help kids and adults change the world around them. It also teaches that person to Recycle,Reuse,and Reduce.Plus it is TONS OF FUN!</p> <p>— 13789, Age 9</p>
      <hr> <p>hey its me again i am just hear to say that eeko house is cool but maybe you could make a different game like just say you would have to clean up a place in the world. THANKS THAT WOULD BE GREAT</p> <p>— pazz92, Age 10</p>
      <hr> <p>I think it's a experience for little ones so when they do go to school they can figure out some of the stuff before they go to school. It's just the same for the bigger ones. To teach them what they can do besides chores. Even if you don't have chores it's just something that you can still help around the house by yourself or with a friend. When ever you have more people besides you, you can get anything done together much faster. Just like me I'm just one girl who doesn't do chores. But I also help out around the house like cleaning the windows, folding towels, picking stuff up, putting it in the right place, help a elder reach something, picking up books for someone when there hands are full, even opening a door for a Kindergardener or Preschooler. There are many things you can do by yourself. Just think if someone would pick up 10 pieces of trash a day our world would be much cleaner in about 3 years. Just try to anything you can to make our world a better place. One by one let's make our world a better place for you,me, and every one else in this world. It's the same in EekoCreature. You try to find the best thing for the piece of land you are on at the time. This site is a good example for the little ones in the world. Once again I'm Katelolo, good night everybody.</p> <p>— Katelolo, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekohouse.html@Start=410" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekohouse.html@Start=430" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2921<br><a href="detail_eekohouse.html@Start=410">Previous</a> | <a href="detail_eekohouse.html@Start=330">34</a> | <a href="detail_eekohouse.html@Start=340">35</a> | <a href="detail_eekohouse.html@Start=350">36</a> | <a href="detail_eekohouse.html@Start=360">37</a> | <a href="detail_eekohouse.html@Start=370">38</a> | <a href="detail_eekohouse.html@Start=380">39</a> | <a href="detail_eekohouse.html@Start=390">40</a> | <a href="detail_eekohouse.html@Start=400">41</a> | <a href="detail_eekohouse.html@Start=410">42</a> | 43 | <a href="detail_eekohouse.html@Start=430">44</a> | <a href="detail_eekohouse.html@Start=440">45</a> | <a href="detail_eekohouse.html@Start=450">46</a> | <a href="detail_eekohouse.html@Start=460">47</a> | <a href="detail_eekohouse.html@Start=470">48</a> | <a href="detail_eekohouse.html@Start=480">49</a> | <a href="detail_eekohouse.html@Start=490">50</a> | <a href="detail_eekohouse.html@Start=500">51</a> | <a href="detail_eekohouse.html@Start=510">52</a> | <a href="detail_eekohouse.html@Start=430">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=13"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

