{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . Talk About EekoHouse | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_talkabouteekohouse.jpg" alt="Talk about EekoHouse" width="257" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_eekohouse.gif" alt="Talk about EekoHouse"> <p>i love eekoworld it awesome and it gives you alot of information about the earth and how to reuse things and recycle its great i really like it</p> <p>— Tiana, Age 12</p>
      <hr> <p>EekoHouse is always a fun challenge for me.I always try to get all of the things before it's time to go on the bus.</p> <p>— Kyra, Age 9</p>
      <hr> <p>That game is really a blast at the end of the game theres that game called eekoschool it is really a blast goodbye</p> <p>— LoveyGirl585, Age 6</p>
      <hr> <p>A few years ago I found EekoWorld. I was like, eight or so. I can't remember the username I used- it was something like "horsecrazy". I wasn't a member then- I just played EekoCreature and posted messages. Anyway, once I started getting on EekoWorld again a while back, it really inspired me. I do EVERYTHING I can- literally- to taek care of the enviroment. I made that cardboard recycling bin I talked about, and it's full of bottles, envelopes, and small cardboard boxes. I turn of the TV or lights when they're not being used. When I'm passing a trash can in town and I see a piece of trash, I throw it away. I don't waste. I do anything I can think of to help the enviroment! Everybody else should GO GREEN AND DO THE SAME!</p> <p>— horsekrazyg, Age 11</p>
      <hr> <p>i'ts fine, but i think if you put how many things you have fixed, and how many more you have to go, it would be easier to keep track. Everything else is great! i have a problem idea. You could talk about recycled clothing or stuff like that</p> <p>— Debroh, Age 10</p>
      <hr> <p>I really like EekoHouse because it teaches you how to save energy and water which is precious to the whole wide world. The monkey makes laugh! The world should know that trash is not good for the water.</p> <p>— Noah, Age 5</p>
      <hr> <p>eekohouse is soooo great! it helps me to know ways on how to take care of earth! every year on earth day my teacher asks me how i could take care of the earth!</p> <p>— buttercup32, Age 7</p>
      <hr> <p>i like ekohouse because it teaches kids to leave the house nice and clean. i like playing it in my spare time.please keep it on the website! i love a game to keep me busy.</p> <p>— horselover14, Age 14</p>
      <hr> <p>if we take more care of the world maybe in the futer people would recyle, reuse,and reduce more than we do know. every spring or summer break i think every family or person should all pitch in and plant , recyle , turn off their lights etc. and save mother earth. mother earth is counting on us to not just save have world but every body's world. i understand people are going homeless and are filing bank repurster but if we help we can start our on buissness selling good lightbulps and other things to save the earth. see i beliive if we don't stop being bad to mother earth the pumisement will be mother earth and father earth will leave us and stop doing what they doing and they will just let us suffer the conquense . so we need to help them quick fast and in hurry before they leave us helpless some how. if you know some one is smokig in your family 'say hey look what is not helping the earth you smoking" smoking doesn't just effect the earth but the person who is smoking. well thats all folks for your new friennd shayduck52 but if you have any questions or cocerns feel free to write me back at this this message. peace save the earth bye</p> <p>— shayduck52, Age 10</p>
      <hr> <p>I love eekohouse! It's a really fun game and it teaches you about things going on in the world and how you can help save the world. I found out about eekohouse and eekoworld by getting on pbskids.com then clicking on pbs kids go. There I saw a game called eekohouse. I tried it and I loved it! Then I found out about eekocreature and how you could join eekohouse. I was so excited! I joined and I play every day so that I can help raise the world health score, get into the eekocreature hall of fame and unlock new parts for my creature.</p> <p>— sweat7, Age 11</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_eekohouse.html@Start=460" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_eekohouse.html@Start=480" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2922<br><a href="detail_eekohouse.html@Start=460">Previous</a> | <a href="detail_eekohouse.html@Start=380">39</a> | <a href="detail_eekohouse.html@Start=390">40</a> | <a href="detail_eekohouse.html@Start=400">41</a> | <a href="detail_eekohouse.html@Start=410">42</a> | <a href="detail_eekohouse.html@Start=420">43</a> | <a href="detail_eekohouse.html@Start=430">44</a> | <a href="detail_eekohouse.html@Start=440">45</a> | <a href="detail_eekohouse.html@Start=450">46</a> | <a href="detail_eekohouse.html@Start=460">47</a> | 48 | <a href="detail_eekohouse.html@Start=480">49</a> | <a href="detail_eekohouse.html@Start=490">50</a> | <a href="detail_eekohouse.html@Start=500">51</a> | <a href="detail_eekohouse.html@Start=510">52</a> | <a href="detail_eekohouse.html@Start=520">53</a> | <a href="detail_eekohouse.html@Start=530">54</a> | <a href="detail_eekohouse.html@Start=540">55</a> | <a href="detail_eekohouse.html@Start=550">56</a> | <a href="detail_eekohouse.html@Start=560">57</a> | <a href="detail_eekohouse.html@Start=480">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=13"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

