{% extends 'games/includes/gamesPage.html.twig' %}
{% set pageTitle = 'New Games' %}
{% set bodyClass = 'games topics-page yellow new-games' %}


{% block mainContent %}<div role="main" class="wrapper-block">
 <section class="section-panel top">
  <div class="max-wrapper">
   <header role="banner" class="brand page-head"><a href="../../"> <img data-fallback="http://pbskids.org/shell/images/content/pbs-kids-logo.png" src="http://pbskids.org/shell/images/content/pbs-kids-logo.svg"> </a>
    <hgroup>
     <h1>PBS KIDS:</h1>
     <h2><em>New</em> <span>Games</span></h2>
    </hgroup>
   </header> <a class="phat-button show-all games blue" href="../"><em><i class="icon"></i> <span>More Games</span></em></a>
   <article class="topics-game-grid" style="margin-bottom:0px;">
    <figure class="topics-game mega-feature"><a href="http://www.pbskids.org/sesame/games/oscars-rotten-ride/"> <img class="mega-feature-graphic topic-feature" data-carson-src="/pbskids/shell/images/content/games/sesame-street-oscars-rotten-ride_1.jpg" data-carson-size="topics-feature"> </a>
     <figcaption class="topics-page-feature"><a href="http://www.pbskids.org/sesame/games/oscars-rotten-ride/"> <h3 class="show-title">Sesame Street</h3> <h4 class="game-title">Oscar's Rotten Ride</h4> <p>Help Oscar collect all the rotten trash!</p> </a> <a class="phat-button show-all blue" href="http://www.pbskids.org/sesame/games/oscars-rotten-ride/"><em> <span>Play Now!</span></em></a>
     </figcaption>
    </figure>
   </article>
   <article class="topics-game-grid">
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/wildkratts/games/capture-the-fishmobiles/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/wild-kratts-capture-the-fishmobiles.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Wild Kratts</h3>
       <h4 class="game-title">Capture the Fishmobiles</h4>
       <p class="goals">Wildlife</p>
      </div>
      <figcaption>
       <p>Feed and energize the Pelican and Osprey by catching as many fish as you can!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/stories/neighborhood-clean-up/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-neighborhood-clean-up.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Neighborhood Clean Up</h4>
       <p class="goals">Helping, Stories/Books, Cleaning up/Chores, Teamwork</p>
      </div>
      <figcaption>
       <p>Read a story with Daniel Tiger!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/lunchlab/games/food-truck"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/fizzys-lunch-lab-fizzys-food-truck.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Fizzy's Lunch Lab</h3>
       <h4 class="game-title">Fizzy's Food Truck</h4>
       <p class="goals">Healthy Eating, Cooking, People</p>
      </div>
      <figcaption>
       <p>Help Fizzy deliver bean burgers to all his favorite customers!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/kartkingdom/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/kart-kingdom-kart-kingdom.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Kart Kingdom</h3>
       <h4 class="game-title">Kart Kingdom</h4>
       <p class="goals">Tools</p>
      </div>
      <figcaption>
       <p>Play Kart Kingdom to explore fun worlds and learn about systems thinking!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/plumlanding/games/seed_racer/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-seed-racer.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Seed Racer</h4>
       <p class="goals">Plants, Ecosystems, Wildlife, Biology, Environment</p>
      </div>
      <figcaption>
       <p>Help Plum collect all the seeds!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/plumlanding/games/invaders/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-invaders.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Invaders!</h4>
       <p class="goals">Wildlife, Nature, Mammals, Environment, Habitats, Ecosystems</p>
      </div>
      <figcaption>
       <p>Help Plum rid the habitats of invasive species!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/plumlanding/games/break_it_down/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-break-it-down.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Break it Down</h4>
       <p class="goals">Plants, Ecosystems, Wildlife, Earth Science, Nature</p>
      </div>
      <figcaption>
       <p>Help Plum decompose the waste!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/stories/big-brother-daniel/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-big-brother-daniel.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Big Brother Daniel</h4>
       <p class="goals">Stories/Books, Growing Up, Family</p>
      </div>
      <figcaption>
       <p>Read a story with Daniel Tiger!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/hearts_and_crafts/hearts_and_crafts.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-hearts-crafts.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Hearts &amp;amp; Crafts</h4>
       <p class="goals">Shapes, Problem Solving</p>
      </div>
      <figcaption>
       <p>George needs help creating cards for all of his friends!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/detective-elmo-cookie-case"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-detective-elmo-the-cookie-case.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Detective Elmo: The Cookie Case</h4>
       <p class="goals">Exploring, ABC's, Letters, Helping, Patterns, Adventure, Problem Solving, Friendship</p>
      </div>
      <figcaption>
       <p>Help Elmo solve the Cookie Case!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/designsquad/build/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/design-squad-stuff-spinner.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Design Squad</h3>
       <h4 class="game-title">Stuff Spinner</h4>
       <p class="goals">Building, Design</p>
      </div>
      <figcaption>
       <p>Get building! Find cool activities to make using stuff you have at home.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/coloring/coloring-game.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-coloring_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Coloring</h4>
       <p class="goals">Coloring</p>
      </div>
      <figcaption>
       <p>Color with Daniel Tiger and friends!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/sesame/games/oscars-rotten-ride/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-oscars-rotten-ride_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Oscar's Rotten Ride</h4>
       <p class="goals">Sorting, Problem Solving, Vocabulary, Rockets, Words, Planes, Boats</p>
      </div>
      <figcaption>
       <p>Help Oscar collect all the rotten trash!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/oddsquad/games/codebreaker/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/odd-squad-code-breaker.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Odd Squad</h3>
       <h4 class="game-title">Code Breaker</h4>
       <p class="goals">Patterns, Math, Numbers, Problem Solving</p>
      </div>
      <figcaption>
       <p>Crack the code and get into top secret areas in headquarters.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/chicken-coop"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-chicken-coop.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Chicken Coop</h4>
       <p class="goals">Helping, Wildlife, Counting, Birds, Math</p>
      </div>
      <figcaption>
       <p>Make those 100 chicks at home in their coop!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/highlight-zone"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-highlight-zone.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Highlight Zone</h4>
       <p class="goals">Shapes, Colors, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Ramone bring back all the colors!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/cyberchase/math-games/rescue-ecotopia/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/cyberchase-rescue-ecotopia.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Cyberchase</h3>
       <h4 class="game-title">Rescue Ecotopia!</h4>
       <p class="goals">Environment, Ecosystems, Wildlife, Animals</p>
      </div>
      <figcaption>
       <p>Save Ecotopia from Hacker disasters by keeping animals and plants healthy!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/make-the-cake"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-make-the-cake.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Make the Cake</h4>
       <p class="goals">Fractions, Counting, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Decorate birthday cakes with Peg and Cat!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/race-car"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-race-car.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Race Car</h4>
       <p class="goals">Addition, Distance, Competition, Problem Solving</p>
      </div>
      <figcaption>
       <p>Pick your race car and ready, set, go!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/oddsquad/games/creatureduty/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/odd-squad-creature-duty.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Odd Squad</h3>
       <h4 class="game-title">Creature Duty</h4>
       <p class="goals">Fractions, Division, Sorting, Helping, Pets, Math</p>
      </div>
      <figcaption>
       <p>Take care of Odd Squad's strange creatures!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/mangroovin/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-mangroovin.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Mangroovin'</h4>
       <p class="goals">Habitats, Ecosystems, Wildlife, Animals, Nature</p>
      </div>
      <figcaption>
       <p>Feed the fish and get it to safety!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/can_you_dig_it/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-can-you-dig-it.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Can You Dig It?</h4>
       <p class="goals">Wildlife, Nature, Mammals, Habitats, Ecosystems, Desert</p>
      </div>
      <figcaption>
       <p>Help the Bilby dig for food!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/secret_agent/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-secret-agent-george.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Secret Agent George</h4>
       <p class="goals">Senses</p>
      </div>
      <figcaption>
       <p>Help George use his five senses to pretend he's a secret agent!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/sesame/games/dress-time"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-elmo-and-abbys-dress-up-time_6.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Elmo and Abby's Dress Up Time</h4>
       <p class="goals">Dress Up, Roles, Dance, Photography, Halloween, Winter Holidays, Patterns, Problem Solving, Performing on Stage</p>
      </div>
      <figcaption>
       <p>Play Dress-up with Elmo and Abby!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/happy-camel"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-happy-camel.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Happy Camel</h4>
       <p class="goals">Problem Solving, Math, weight, Measurement</p>
      </div>
      <figcaption>
       <p>Find the hidden toy for Epidermis the camel.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/bubble-bath"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-bubble-bath.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Bubble Bath</h4>
       <p class="goals">Volume, Estimation, Numbers, Problem Solving, Measurement</p>
      </div>
      <figcaption>
       <p>Fill the tub and make some bubbles with Peg and Cat!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/oddsquad/games/catchthecentigurps/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/odd-squad-catch-the-centigurps.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Odd Squad</h3>
       <h4 class="game-title">Catch the Centigurps</h4>
       <p class="goals">Counting, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Catch and zap those crazy little fuzballs!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/oddsquad/games/downthetubes/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/odd-squad-down-the-tubes.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Odd Squad</h3>
       <h4 class="game-title">Down the Tubes</h4>
       <p class="goals">Geometry, Math, Problem Solving, Measurement</p>
      </div>
      <figcaption>
       <p>Help fix the tubes so the Odd Squad agents can get around.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/catinthehat/games/cleaner-upper/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-super-cleaner-upper.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Cat in the Hat</h3>
       <h4 class="game-title">Super Cleaner Upper</h4>
       <p class="goals">Recycling</p>
      </div>
      <figcaption>
       <p>Help Cat in the Hat clean up the neighborhood, by recycling and composting items</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sesame/games/abbys-sandbox-search/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-abbys-sandbox-search.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Abby's Sandbox Search</h4>
       <p class="goals">Letters, Vocabulary, Alphabet, Phonics, Reading, Literacy</p>
      </div>
      <figcaption>
       <p>Help Abby find the objects hidden in the sand!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/plumlanding/games/outdoor_adventures/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-outdoor-adventures.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Outdoor Adventures</h4>
       <p class="goals">Habitats, Wildlife, Animals, Nature</p>
      </div>
      <figcaption>
       <p>Get outdoors with Plum!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/wildkratts/games/photoshoot/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/wild-kratts-creature-photo-shoot.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Wild Kratts</h3>
       <h4 class="game-title">Creature Photo Shoot</h4>
       <p class="goals">Wildlife</p>
      </div>
      <figcaption>
       <p>Take pictures of animals living in their habitats!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/wildkratts/games/animal-match/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/wild-kratts-animal-match.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Wild Kratts</h3>
       <h4 class="game-title">Animal Match</h4>
       <p class="goals">Wildlife</p>
      </div>
      <figcaption>
       <p>Test out your memory skills with this fun animal matching game!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/martha/games/marthaseeks/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-martha-seeks.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Martha Speaks</h3>
       <h4 class="game-title">Martha Seeks</h4>
       <p class="goals">Words, Vocabulary, Literacy</p>
      </div>
      <figcaption>
       <p>Help the pups dig for bones!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/sandcastle/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-sandcastle.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Sandcastle</h4>
       <p class="goals">Create, Sharing, Teamwork</p>
      </div>
      <figcaption>
       <p>Build sandcastles with Daniel.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/daniel/games/baby-bath/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-bathtime-helper_7.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
       <h4 class="game-title">Bathtime Helper</h4>
       <p class="goals">Helping, Growing Up, Family</p>
      </div>
      <figcaption>
       <p>Help Daniel give Margaret a bath.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/dinosaurtrain/games/stationrace.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-station-race.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Dinosaur Train</h3>
       <h4 class="game-title">Station Race</h4>
       <p class="goals">Building, Dinosaurs, Trains</p>
      </div>
      <figcaption>
       <p>How fast can you lay the tracks to pick up all the dinosaurs?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/backyard_adventure/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-dw-buds-backyard-adventure_2.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">D.W. &amp;amp; Bud's Backyard Adventure</h4>
       <p class="goals">Exploring, Teamwork, Friendship, Adventure, Nature</p>
      </div>
      <figcaption>
       <p>Join D.W. and Bud on an exciting Backyard adventure!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/martha/games/marthassteaks/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/martha-speaks-martha-steaks.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Martha Speaks</h3>
       <h4 class="game-title">Martha Steaks</h4>
       <p class="goals">Vocabulary, Food, Adventure, Words, Dogs, Literacy</p>
      </div>
      <figcaption>
       <p>Help Martha and friends jump, run, and flip to collect their favorite meat!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/electriccompany/games/halfpipehoverball"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-electric-company-halfpipe-hoverball.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Electric Company</h3>
       <h4 class="game-title">Halfpipe Hoverball</h4>
       <p class="goals">Spelling, Sports, Phonics, Vocabulary, Literacy</p>
      </div>
      <figcaption>
       <p>Skateboard with Marcus on the halfpipe!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/adventures/super-peg-cat-guy/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-super-peg-and-cat-guy-adventure_7.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Super Peg and Cat Guy Adventure</h4>
       <p class="goals">Geometry, Shapes, Math, Problem Solving</p>
      </div>
      <figcaption>
       <p>Help Super Peg and Cat Guy stop the Arch Villain!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/ecosystem/feed_the_dingo.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-feed-the-dingo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Feed the Dingo</h4>
       <p class="goals">Wildlife, Animals, Environment, Experiments, Habitats, Ecosystems</p>
      </div>
      <figcaption>
       <p>Build your own desert ecosystem!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/ecosystem/make_a_mangrove.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-make-a-mangrove.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Make a Mangrove</h4>
       <p class="goals">Wildlife, Animals, Environment, Experiments, Habitats, Ecosystems</p>
      </div>
      <figcaption>
       <p>Build your own ecosystem in a mangrove!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/explorer/explore_the_outback.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-explore-the-outback.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Explore the Outback</h4>
       <p class="goals">Wildlife, Animals, Nature, Environment, Habitats, Earth Science</p>
      </div>
      <figcaption>
       <p>Find Cool Creatures in the Desert!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/explorer/rocky_mountain_roundup.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-rocky-mountain-roundup.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Rocky Mountain Roundup</h4>
       <p class="goals">Wildlife, Animals, Nature, Environment, Habitats, Earth Science</p>
      </div>
      <figcaption>
       <p>Find living things on the mountain!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/nature_sketchpad/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-nature-sketchpad.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Nature Sketchpad</h4>
       <p class="goals">Wildlife, Coloring, Animals, Nature, Environment, Habitats, Art</p>
      </div>
      <figcaption>
       <p>Draw what's in nature!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/ecosystem/mountain_scramble.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-mountain-scramble.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Mountain Scramble</h4>
       <p class="goals">Wildlife, Animals, Environment, Experiments, Habitats, Ecosystems</p>
      </div>
      <figcaption>
       <p>Build your own mountain ecosystem!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/ecosystem/jungle_jeopardy.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-jungle-jeopardy.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Jungle Jeopardy</h4>
       <p class="goals">Wildlife, Animals, Environment, Experiments, Habitats, Ecosystems</p>
      </div>
      <figcaption>
       <p>Build your own rainforest ecosystem!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/explorer/jungle_rangers.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-jungle-rangers.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Jungle Rangers</h4>
       <p class="goals">Wildlife, Animals, Environment, Rainforest, Habitats, Ecosystems</p>
      </div>
      <figcaption>
       <p>Find Amazing Creatures in the Jungle!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/plumlanding/games/explorer/water_safari.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/plum-landing-water-safari.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Plum Landing</h3>
       <h4 class="game-title">Water Safari</h4>
       <p class="goals">Wildlife, Animals, Nature, Environment, Habitats, Earth Science</p>
      </div>
      <figcaption>
       <p>Find Neat Creatures in a Mangrove Swamp!</p>
      </figcaption> </a>
    </figure>
   </article>
  </div>
 </section>
 <section id="topics-panel" class="section-panel sub">
  <div class="max-wrapper">
   <h3 class="related-head">Related Topics</h3>
   <article class="topics-block seafoam">
    <h2 class="topics-head"><a href="/games/math/"> <em> <span class="icon math"></span> Math Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/collectionjar.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-collection-jar.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Collection Jar</h4>
        <p class="description">Help sort and observe Sid's collection!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Scientific Reasoning, Science Projects, Measurement
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/busyday/dogs/"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-fair-shares.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Fair Shares</h4>
        <p class="description">Help George feed bones to the dogs!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Division, Counting, Dogs, Math
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/keyboard.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-caillous-magic-keyboard_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Caillou's Magic Keyboard</h4>
        <p class="description">Use Caillou's Magic Keyboard to make music!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Fractions, Art, Music, Patterns
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogpound_02/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-pound-2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Pound 2</h4>
        <p class="description">Pound the answers, not the dog!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Tools, Weather &amp; Climate, Speed, Science, Geography
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/rositas-fiesta/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-rositas-fiesta.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Rosita's Fiesta</h4>
        <p class="description">Give each of Rosita's amigos one piece of food and have a fiesta.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Addition, Counting, Friendship, Subtraction, Numbers
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/clifford/games/buried-treasure.html"> <img data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Clifford The Big Red Dog</h3>
        <h4 class="game-title">Clifford's Buried Treasure</h4>
        <p class="description">Find the buried treasure with Clifford, T-Bone and Cleo!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Colors, Problem Solving, Navigate
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/math/"><i class="count">173</i> More <em>Math</em> Games</a>
    </ul>
   </article>
   <article class="topics-block orange">
    <h2 class="topics-head"><a href="/games/science/"> <em> <span class="icon science"></span> Science Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/fablab_vegetablepatterns.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-vegetable-patterns.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Vegetable Patterns</h4>
        <p class="description">Make veggie patterns!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Science Projects, Gardening, Problem Solving
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/designsquad/games/fidgit/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/design-squad-fidgit.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Design Squad</h3>
        <h4 class="game-title">Fidgit</h4>
        <p class="description">Build a Fidgit room, start a challenge and share it with friends!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Tools, Experiments, Design
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/eekoworld/index.html?load=eekohouse"> <img data-carson-src="/pbskids/shell/images/content/games/eekoworld-eekohouse.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">EekoWorld</h3>
        <h4 class="game-title">EekoHouse</h4>
        <p class="description">Help the earth!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Environment, Going Green, Future, Conservation, Habitats, Ecosystems
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/immersivegames/?gameID=5"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-caillou-gardener_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Caillou Gardener</h4>
        <p class="description">Help Caillou take care of his garden.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Going Green, Experiments, Gardening, Gardens
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogpound_03/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-pound-3.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Pound 3</h4>
        <p class="description">Pound the answers, not the dog.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Science, Weather &amp; Climate, Experiments, Letters
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/meetthegreens/games/light-it-right.html"> <img data-carson-src="/pbskids/shell/images/content/games/the-greens-light-it-right.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Greens</h3>
        <h4 class="game-title">Light It Right</h4>
        <p class="description">Quick! Turn out the lights!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Environment, Going Green, Energy
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/science/"><i class="count">128</i> More <em>Science</em> Games</a>
    </ul>
   </article>
   <article class="topics-block tall-list seafoam last invisible">
    <h2 class="topics-head"><a href="../all-topics/"> <em>More Topics</em> </a></h2>
    <ul class="topic-list">
     <li class="topic-list-item invisible"><a class="topic" href="/games/math/"> <span class="icon math"></span> <em>Math <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dinosaur/"> <span class="icon dinosaur"></span> <em>Dinosaur <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/science/"> <span class="icon science"></span> <em>Science <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/social-studies/"> <span class="icon social-studies"></span> <em>Social Studies <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/reading/"> <span class="icon reading"></span> <em>Reading <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/abc/"> <span class="icon abc"></span> <em>ABC <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/vocabulary/"> <span class="icon vocabulary"></span> <em>Vocabulary <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spelling/"> <span class="icon spelling"></span> <em>Spelling <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/rhyming/"> <span class="icon rhyming"></span> <em>Rhyming <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/story/"> <span class="icon story"></span> <em>Story <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/123/"> <span class="icon 123"></span> <em>123 <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/nature/"> <span class="icon nature"></span> <em>Nature <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/healthy-habits/"> <span class="icon healthy-habits"></span> <em>Healthy Habits <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/create/"> <span class="icon create"></span> <em>Create <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/engineering/"> <span class="icon engineering"></span> <em>Engineering <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/feelings/"> <span class="icon feelings"></span> <em>Feelings <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/teamwork/"> <span class="icon teamwork"></span> <em>Teamwork <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/animal/"> <span class="icon animal"></span> <em>Animal <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dog/"> <span class="icon dog"></span> <em>Dog <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/coloring/"> <span class="icon coloring"></span> <em>Coloring <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/shapes/"> <span class="icon shapes"></span> <em>Shapes <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/adventure/"> <span class="icon adventure"></span> <em>Adventure <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/music/"> <span class="icon music"></span> <em>Music <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dress-up/"> <span class="icon dress-up"></span> <em>Dress Up <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/problem-solving/"> <span class="icon problem-solving"></span> <em>Problem Solving <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/measurement/"> <span class="icon measurement"></span> <em>Measurement <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spanish/"> <span class="icon spanish"></span> <em>Spanish <span>Games</span></em> </a></li>
    </ul> <a class="more-link" href="../all-topics/"><i class="count"></i> More <em>Topics</em></a>
   </article>
   <article class="topics-block yellow">
    <h2 class="topics-head"><a href="/games/social-studies/"> <em> <span class="icon social-studies"></span> Social Studies Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/fablab_snowsearch.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-snow-search.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Snow Search</h4>
        <p class="description">Find the hidden snowy surprises!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Maps, Weather &amp; Climate, Winter Holidays, Math
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://www.pbskids.org/buster/games/bigshow/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/postcards-from-buster-big-show.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Postcards from Buster</h3>
        <h4 class="game-title">B.I.G Show</h4>
        <p class="description">Learn about different cultures as a contestant on Buster's B.I.G Show!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Food, Cultures, Ethnicity, Geography
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogpound_02/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-pound-2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Pound 2</h4>
        <p class="description">Pound the answers, not the dog!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Tools, Weather &amp; Climate, Speed, Science, Geography
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/global-grover/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-global-grover.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Global Grover</h4>
        <p class="description">Travel around the world and make up dances with Grover.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Exploring, Try Something New, Dance, Musical Instruments, Music, Cultures
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/games/zoomazing/zoomazing.html"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-zoomazing.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">ZOOmazing</h4>
        <p class="description">Get the animals to their habitats!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Wildlife, Nature, Earth Day, Maps, Habitats, Monkeys
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/wilsonandditch/games/?game=junior-ranger"> <img data-carson-src="/pbskids/shell/images/content/games/wilson-ditch-junior-ranger-game.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Wilson &amp; Ditch</h3>
        <h4 class="game-title">Junior Ranger Game</h4>
        <p class="description">Earn your Junior Ranger badge with Wilson &amp; Ditch!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Going Green, Environment, Camp, Geography
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/social-studies/"><i class="count">19</i> More <em>Social Studies </em> Games</a>
    </ul>
   </article>
   <article class="topics-block magenta">
    <h2 class="topics-head"><a href="/games/vocabulary/"> <em> <span class="icon vocabulary"></span> Vocabulary Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/sidsays.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-sid-says.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Sid Says</h4>
        <p class="description">Copy Sid's dad as he moves those muscles!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Biology, Vocabulary, Exercise/Fitness
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/chuck/salsa_lyrics.html"> <img data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-lyrical-solarium-salsa.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Chuck Vanderchuck</h3>
        <h4 class="game-title">Lyrical Solarium: Salsa</h4>
        <p class="description">Create a Salsa song for Chuck to sing.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Singing, Music, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/electriccompany/games/scrapyardslice"> <img data-carson-src="/pbskids/shell/images/content/games/the-electric-company-scarpyard-slice.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Electric Company</h3>
        <h4 class="game-title">Scrapyard Slice</h4>
        <p class="description">Have you ever sliced words? Try it. It's fun!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Reading, Robots, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/matching.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-matching-game_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Matching Game</h4>
        <p class="description">Help Caillou match the leaves!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Vocabulary, Nature, Writing, Environment, Words, Reading, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sketch/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-miguels-sketchpad.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Miguel's Sketchpad</h4>
        <p class="description">Help Miguel make a comic strip for Tito.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Languages, Create, Storytelling
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogears/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-ears.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Ears</h4>
        <p class="description">Crack and pop the audio safe.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musical Instruments, Letters, Words
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/vocabulary/"><i class="count">77</i> More <em>Vocabulary</em> Games</a>
    </ul>
  </div>
 </section> <!-- End #topics-panel -->
</div>{% endblock %}

