{% extends 'games/includes/gamesPage.html.twig' %}
{% set pageTitle = 'Spanish Games' %}
{% set bodyClass = 'games topics-page yellow spanish-games' %}


{% block mainContent %}<div role="main" class="wrapper-block">
 <section class="section-panel top">
  <div class="max-wrapper">
   <header role="banner" class="brand page-head"><a href="../../"> <img data-fallback="http://pbskids.org/shell/images/content/pbs-kids-logo.png" src="http://pbskids.org/shell/images/content/pbs-kids-logo.svg"> </a>
    <hgroup>
     <h1>PBS KIDS:</h1>
     <h2><em>Spanish </em> <span>Games</span></h2>
    </hgroup>
   </header> <a class="phat-button show-all games blue" href="../"><em><i class="icon"></i> <span>More Games</span></em></a>
   <article class="topics-game-grid" style="margin-bottom:0px;">
    <figure class="topics-game mega-feature"><a href="http://pbskids.org/curiousgeorge/busyday/span_jump/"> <img class="mega-feature-graphic topic-feature" data-carson-src="/pbskids/shell/images/content/games/curious-george-mono-saltarin.jpg" data-carson-size="topics-feature"> </a>
     <figcaption class="topics-page-feature"><a href="http://pbskids.org/curiousgeorge/busyday/span_jump/"> <h3 class="show-title">Curious George</h3> <h4 class="game-title">Mono Saltarín</h4> <p>Brinca y cuenta números con Jorge.</p> </a> <a class="phat-button show-all blue" href="http://pbskids.org/curiousgeorge/busyday/span_jump/"><em> <span>Play Now!</span></em></a>
     </figcaption>
    </figure>
   </article>
   <article class="topics-game-grid">
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/mayaandmiguel/espanol/games/sports/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/maya-miguel-mundo-de-los-deportes.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Maya &amp; Miguel</h3>
       <h4 class="game-title">Mundo de los Deportes</h4>
       <p class="goals">Deportes, Ejercicio</p>
      </div>
      <figcaption>
       <p>¡Escoje una raqueta y juega!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/span_bringit/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-trae-algo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">¡Trae Algo!</h4>
       <p class="goals">Monos, Mascotas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>¡Ayuda a Jorge llegar a tiempo a la fiesta!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_meatballs/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-lanzador-de-albondigas.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Lanzador de Albóndigas</h4>
       <p class="goals">Monos, Matemáticas, Contar números, Números</p>
      </div>
      <figcaption>
       <p>Lanza albóndigas con Jorge.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_ten/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-museo-del-diez.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Museo del Diez</h4>
       <p class="goals">Monos, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Cuenta con Jorge!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_frogs/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-ranitas-cantarinas.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Ranitas Cantarinas</h4>
       <p class="goals">Monos, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Canta con las ranitas.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_trains/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-estacion-de-tren.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Estación de Tren</h4>
       <p class="goals">Monos, Matemáticas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Chu-chu! Ayuda a Jorge a juntar los carros del tren.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_dogs/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-igual-para-todos.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Igual Para Todos</h4>
       <p class="goals">Monos, Mascotas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Ayuda a Jorge compartir las galletas con todos los perritos.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_flowers/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-jardin-de-flores.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Jardín de Flores</h4>
       <p class="goals">Monos, Matemáticas, Contar números, Números</p>
      </div>
      <figcaption>
       <p>Recoje y cuenta flores con Jorge!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_hats/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-quita-sombreros.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Quita Sombreros</h4>
       <p class="goals">Monos, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Prueba a los sombreros con Jorge!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_hideseek/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-juega-al-escondite.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Juega al Escondite</h4>
       <p class="goals">Monos, Matemáticas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Busca a todos los números escondidos con Jorge.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_fives/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-choca-esos-cinco.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Choca Esos Cinco</h4>
       <p class="goals">Monos, Geometría, Contar números, Números</p>
      </div>
      <figcaption>
       <p>Usa las manos para contar y pintar.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_jump/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-mono-saltarin.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Mono Saltarín</h4>
       <p class="goals">Monos, Matemáticas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Brinca y cuenta números con Jorge.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_apples/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-cosecha-manzanas.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Cosecha Manzanas</h4>
       <p class="goals">Monos, Resolver problemas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Cosecha manzanas con Jorge.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_rocket/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-cohete-al-espacio.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Cohete al Espacio</h4>
       <p class="goals">Monos, Matemáticas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Cuenta con Jorge para lanzar al cohete.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_bugs/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-contando-insectos.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Contando Insectos</h4>
       <p class="goals">Monos, Matemáticas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Cuenta los insectos con Jorge.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_drive/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-conejitos-de-paseo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Conejitos de Paseo</h4>
       <p class="goals">Animales, Contar números, Números</p>
      </div>
      <figcaption>
       <p>Ayuda a Jorge recoger a los conejitos.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_allie/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-cuenta-con-allie.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Cuenta Con Allie</h4>
       <p class="goals">Monos, Contar números, Números</p>
      </div>
      <figcaption>
       <p>Vamos a contar con Allie.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_snowflakematch.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-compara-copos-de-nieve.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Compara copos de nieve!</h4>
       <p class="goals">Investigar, Geometría, Ayuda, Matemáticas</p>
      </div>
      <figcaption>
       <p>Los copos de nieve están quebrados. Ayúdanos a arreglarlos.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_snowsearch.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-busca-en-la-nieve_2.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Busca en la nieve!</h4>
       <p class="goals">Investigar, Liempieza y tareas, Matemáticas</p>
      </div>
      <figcaption>
       <p>Vamos a jugar en la nieve.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_weathersurprise.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-sorpresa-climatica.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Sorpresa climática!</h4>
       <p class="goals">Fauna, Hábitos</p>
      </div>
      <figcaption>
       <p>Tenemos que poner los animalitos y las plantas en el ambiente ideal.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/busyday/span_bubbles/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-revienta-burbujas.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Revienta Burbujas</h4>
       <p class="goals">Monos, Matemáticas, Números, Contar números</p>
      </div>
      <figcaption>
       <p>Un juego de burbujas con Jorge.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_vegetableplanting.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-plantemos-vegetales.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Plantemos vegetales!</h4>
       <p class="goals">Liempieza y tareas, Matemáticas, Comida</p>
      </div>
      <figcaption>
       <p>Ayuda a Gabriella a escoger la caja perfecta para cada planta.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_vegetableharvest.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-cosechemos-vegetales.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Cosechemos vegetales!</h4>
       <p class="goals">Fauna, Liempieza y tareas, Cálculo</p>
      </div>
      <figcaption>
       <p>Aprenda a sumar mientras que cosecha los vegetales.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_vegetablepatterns.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-patrones-de-vegetales.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Patrones de vegetales!</h4>
       <p class="goals">Ayuda, Matemáticas, Comida</p>
      </div>
      <figcaption>
       <p>Ayuda a Gabriella a terminar el patrón de vegetales.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_sortingbox.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-caja-para-clasificar.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Caja para clasificar!</h4>
       <p class="goals">Matemáticas</p>
      </div>
      <figcaption>
       <p>Organiza y clasifica las piedras y las cristales.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/span_fablab_panbalance.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-balanza.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">¡Balanza!</h4>
       <p class="goals">Medición, Matemáticas</p>
      </div>
      <figcaption>
       <p>Aprenda a usar la balanza con May.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/catinthehat/games_span/span-beaver-city.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-bienvenidos-a-ciudad-castor.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Cat in the Hat</h3>
       <h4 class="game-title">Bienvenidos a Ciudad Castor</h4>
       <p class="goals">Animales, Construir, Matemáticas</p>
      </div>
      <figcaption>
       <p>¡Construye una madriguera de castor!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/catinthehat/games_span/span-sketch-a-mite.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-dibuja-mita.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Cat in the Hat</h3>
       <h4 class="game-title">Dibuja Mita</h4>
       <p class="goals">Estructuras, Formas, Construir, Animales</p>
      </div>
      <figcaption>
       <p>¡Dibuja formas y construye torres con el Gato con Sombrero!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/mayaandmiguel/espanol/games/sports/soccer/makeajersey/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/maya-miguel-crea-una-camiseta.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Maya &amp; Miguel</h3>
       <h4 class="game-title">Crea una Camiseta</h4>
       <p class="goals">Deportes, Crear, Colores, Arte</p>
      </div>
      <figcaption>
       <p>¡Crea una camiseta deportista!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/span_feedgnocchi/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-dale-de-comer-a-noqui.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Dale de Comer a Ñoqui</h4>
       <p class="goals">Investigar, Física, Construir, Gatos</p>
      </div>
      <figcaption>
       <p>¡Ayuda Chef Pisghetti dar la comida al gatito Gnocchi!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/span_mixandpaint/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-mezclar-y-pintar.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Mezclar y Pintar</h4>
       <p class="goals">Crear, Monos, Colores, Arte</p>
      </div>
      <figcaption>
       <p>¡Mezcla colores y pinturas con Jorge!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/span_pogogogo/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-a-pogo-a-gogo.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">A Pogo-A-GoGo</h4>
       <p class="goals">Estructuras, Monos, Construir, Resolver problemas, Investigar</p>
      </div>
      <figcaption>
       <p>¡Juega y brinca en un pogo con Jorge!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/span_zoomazing/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-laberinto-en-el-zoologico.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Laberinto en el Zoológico</h4>
       <p class="goals">Mapas, Animales, Hábitos, Monos, Cultura, Resolver problemas</p>
      </div>
      <figcaption>
       <p>¡Trae los animals a sus habitaciones!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/noah/howdoyousay.html?lang=es"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/oh-noah-como-se-dice.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Oh Noah!</h3>
       <h4 class="game-title">¿Cómo se dice...?</h4>
       <p class="goals">Vocabulario, Palabras, Juego de hacer parejas, Memoria</p>
      </div>
      <figcaption>
       <p>¡Dígalo en Español!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/noah/adventure.html?lang=es"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/oh-noah-las-aventuras-de-noah.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Oh Noah!</h3>
       <h4 class="game-title">Las Aventuras de Noah</h4>
       <p class="goals">Vocabulario, Palabras, Aventura, Juego de hacer parejas</p>
      </div>
      <figcaption>
       <p>¿Puedes recoger las calcomanías en las Aventuras de Noah?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/curiousgeorge/games/span_dayatbeach/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/curious-george-un-dia-en-la-playa.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Curious George</h3>
       <h4 class="game-title">Un Día en la Playa</h4>
       <p class="goals">Estructuras, Formas, Construir, Geometría, Verano</p>
      </div>
      <figcaption>
       <p>¡Construye castillos de arena con Jorge!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/catinthehat/games_span/span-meerkat.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-el-jubileo-suricata.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Cat in the Hat</h3>
       <h4 class="game-title">EL Jubileo Suricata</h4>
       <p class="goals">Animales, Matemáticas</p>
      </div>
      <figcaption>
       <p>¿Puedes pasar por los túneles de las suricatas?</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/catinthehat/games_span/span-huff-puff-a-tron.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-ventisqueador.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Cat in the Hat</h3>
       <h4 class="game-title">Ventisqueador</h4>
       <p class="goals">Formas, Matemáticas</p>
      </div>
      <figcaption>
       <p>Vamos a volar las cometas.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/catinthehat/games_span/span-great-shape-race.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-la-gran-carrera-de-las-formas.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">The Cat in the Hat</h3>
       <h4 class="game-title">La Gran Carrera de las Formas</h4>
       <p class="goals">Formas, Matemáticas</p>
      </div>
      <figcaption>
       <p>Corre y recoge las formas con el Gato con Sombrero.</p>
      </figcaption> </a>
    </figure>
   </article>
  </div>
 </section>
 <section id="topics-panel" class="section-panel sub">
  <div class="max-wrapper">
   <h3 class="related-head">Related Topics</h3>
   <article class="topics-block seafoam">
    <h2 class="topics-head"><a href="/games/reading/"> <em> <span class="icon reading"></span> Reading Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/sidsays.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-sid-says.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Sid Says</h4>
        <p class="description">Copy Sid's dad as he moves those muscles!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Biology, Vocabulary, Exercise/Fitness
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/chuck/salsa_lyrics.html"> <img data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-lyrical-solarium-salsa.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Chuck Vanderchuck</h3>
        <h4 class="game-title">Lyrical Solarium: Salsa</h4>
        <p class="description">Create a Salsa song for Chuck to sing.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Singing, Music, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/writerscontest/"> <img data-carson-src="/pbskids/shell/images/content/games/writers-contest-writers-contest.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Writers Contest</h3>
        <h4 class="game-title">Writer's Contest</h4>
        <p class="description">Read stories created kids just like you!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Storytelling, Create, Writing, Stories/Books, Reading, Drawing
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/matching.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-matching-game_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Matching Game</h4>
        <p class="description">Help Caillou match the leaves!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Vocabulary, Nature, Writing, Environment, Words, Reading, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sketch/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-miguels-sketchpad.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Miguel's Sketchpad</h4>
        <p class="description">Help Miguel make a comic strip for Tito.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Languages, Create, Storytelling
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogears_02/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-ears-2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Ears 2</h4>
        <p class="description">Listen up! Crack and pop the audio safe!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Musical Instruments, Letters, Words
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/reading/"><i class="count">123</i> More <em>Reading </em> Games</a>
    </ul>
   </article>
   <article class="topics-block orange">
    <h2 class="topics-head"><a href="/games/vocabulary/"> <em> <span class="icon vocabulary"></span> Vocabulary Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/isense.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-i-sense.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">I Sense</h4>
        <p class="description">How well do you know your five senses?</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Senses, Vocabulary
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/chuck/salsa_lyrics.html"> <img data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-lyrical-solarium-salsa.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Chuck Vanderchuck</h3>
        <h4 class="game-title">Lyrical Solarium: Salsa</h4>
        <p class="description">Create a Salsa song for Chuck to sing.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Singing, Music, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/electriccompany/games/halfpipehoverball"> <img data-carson-src="/pbskids/shell/images/content/games/the-electric-company-halfpipe-hoverball.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Electric Company</h3>
        <h4 class="game-title">Halfpipe Hoverball</h4>
        <p class="description">Skateboard with Marcus on the halfpipe!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Sports, Phonics, Vocabulary, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/matching.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-matching-game_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Matching Game</h4>
        <p class="description">Help Caillou match the leaves!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Vocabulary, Nature, Writing, Environment, Words, Reading, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sketch/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-miguels-sketchpad.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Miguel's Sketchpad</h4>
        <p class="description">Help Miguel make a comic strip for Tito.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Languages, Create, Storytelling
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogears/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-ears.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Ears</h4>
        <p class="description">Crack and pop the audio safe.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musical Instruments, Letters, Words
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/vocabulary/"><i class="count">75</i> More <em>Vocabulary</em> Games</a>
    </ul>
   </article>
   <article class="topics-block tall-list seafoam last invisible">
    <h2 class="topics-head"><a href="../all-topics/"> <em>More Topics</em> </a></h2>
    <ul class="topic-list">
     <li class="topic-list-item invisible"><a class="topic" href="/games/math/"> <span class="icon math"></span> <em>Math <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dinosaur/"> <span class="icon dinosaur"></span> <em>Dinosaur <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/science/"> <span class="icon science"></span> <em>Science <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/social-studies/"> <span class="icon social-studies"></span> <em>Social Studies <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/reading/"> <span class="icon reading"></span> <em>Reading <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/abc/"> <span class="icon abc"></span> <em>ABC <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/vocabulary/"> <span class="icon vocabulary"></span> <em>Vocabulary <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spelling/"> <span class="icon spelling"></span> <em>Spelling <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/rhyming/"> <span class="icon rhyming"></span> <em>Rhyming <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/story/"> <span class="icon story"></span> <em>Story <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/123/"> <span class="icon 123"></span> <em>123 <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/nature/"> <span class="icon nature"></span> <em>Nature <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/healthy-habits/"> <span class="icon healthy-habits"></span> <em>Healthy Habits <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/create/"> <span class="icon create"></span> <em>Create <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/engineering/"> <span class="icon engineering"></span> <em>Engineering <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/feelings/"> <span class="icon feelings"></span> <em>Feelings <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/teamwork/"> <span class="icon teamwork"></span> <em>Teamwork <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/animal/"> <span class="icon animal"></span> <em>Animal <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dog/"> <span class="icon dog"></span> <em>Dog <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/coloring/"> <span class="icon coloring"></span> <em>Coloring <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/shapes/"> <span class="icon shapes"></span> <em>Shapes <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/adventure/"> <span class="icon adventure"></span> <em>Adventure <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/music/"> <span class="icon music"></span> <em>Music <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dress-up/"> <span class="icon dress-up"></span> <em>Dress Up <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/problem-solving/"> <span class="icon problem-solving"></span> <em>Problem Solving <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/measurement/"> <span class="icon measurement"></span> <em>Measurement <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spanish/"> <span class="icon spanish"></span> <em>Spanish <span>Games</span></em> </a></li>
    </ul> <a class="more-link" href="../all-topics/"><i class="count"></i> More <em>Topics</em></a>
   </article>
   <article class="topics-block yellow">
    <h2 class="topics-head"><a href="/games/spelling/"> <em> <span class="icon spelling"></span> Spelling Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/electriccompany/games/minecartmash"> <img data-carson-src="/pbskids/shell/images/content/games/the-electric-company-mine-cart-mash.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Electric Company</h3>
        <h4 class="game-title">Mine Cart Mash</h4>
        <p class="description">Battle with Francine's bots underground!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Reading, Phonics, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/spelling.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-spell-with-caillou.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Spell with Caillou</h4>
        <p class="description">Match and drag letter blocks with Caillou!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Letters, Alphabet, Writing, Spelling, Reading, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/dogears_02/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-dog-ears-2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Dog Ears 2</h4>
        <p class="description">Listen up! Crack and pop the audio safe!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Musical Instruments, Letters, Words
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/alphabet-soup/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-cookie-monsters-alphabet-jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Cookie Monster's Alphabet Soup</h4>
        <p class="description">Cookie Monster makes words with his soup noodles!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Alphabet, Spelling, Phonics
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/clifford/games/index_puppyletters.html"> <img data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-puppy-letters_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Clifford The Big Red Dog</h3>
        <h4 class="game-title">Puppy Letters</h4>
        <p class="description">Make words with puppy Clifford!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Alphabet, Spelling, Letters, Vocabulary, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/lions/stories/chickens-game.html"> <img data-carson-src="/pbskids/shell/images/content/games/between-the-lions-problem-with-chickens.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Between the Lions</h3>
        <h4 class="game-title">Problem with Chickens</h4>
        <p class="description">A story-related game about phonemes.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Vocabulary, Cars, Writing, Words, English, Spelling, Reading, Literacy
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/spelling/"><i class="count">7</i> More <em>Spelling </em> Games</a>
    </ul>
   </article>
   <article class="topics-block magenta">
    <h2 class="topics-head"><a href=""> <em> <span class="icon "></span> Games </em> </a></h2>
    <ul class="mini-grid"><a class="more-link" href=""><i class="count"></i> More <em></em> Games</a>
    </ul>
   </article>
  </div>
 </section> <!-- End #topics-panel -->
</div>{% endblock %}

