{% extends 'curiousgeorge/includes/templates/flash_game_page.html.twig' %}
{% set ftrAttributes = 'id="ftr-games"' %}
{% set pageTitle = 'Dale de Comer a &Ntilde;oqui' %}

{% block gameFrame %}<div id="flash-game">
	<div id="moregames" style="position:absolute;left:724px;top:45px;"><a href="../spanish.html"><img src="../img/span_more.gif" alt="" width="105" height="248" border="0" class="ovr" /></a></div>
	
	<div id="flashcontent">
		<p>&nbsp;</p>
		<h2>This game requires Flash version 7</h2>
		<h2>You can <a href="https://pbskids.org/cgi-registry/kidsbridge.cgi?context=curiousgeorge_flash_player">download the latest version of Flash</a> for FREE.</h2>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		 codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
		 width="724" height="338" id="feed_gnocchi" align="">
		 <param name="movie" value="feed_gnocchi.swf?" />
		 <param name="quality" value="best" /> 
		 <param name="bgcolor" value="#FFCC01" /> 
			 <embed 
				src="feed_gnocchi.swf?" 
				quality="best" 
				bgcolor="#FFCC01"  
				width="724" 
				height="338" 
				name="feed_gnocchi" 
				type="application/x-shockwave-flash" 
				pluginspage="https://www.macromedia.com/go/getflashplayer">
			  </embed>
		</object>
		
	</div>
	
	<div id="nametag">
		<img src="/curiousgeorge/games/img/nt_feed_gnocchi_esp.gif" alt="Dale de Comer a &Ntilde;oqui" height="51" width="438" />
		<!-- <p>Parents & Teachers! <a href="https://www.pbs.org/parents/curiousgeorge/site/site_features.html#feed_gnocchi">Learn more about Da de Comer &Ntilde;oqui</a>.</p> -->
	</div>
	
	<p>&nbsp;</p>
	
</div>

<script type="text/javascript">
    var so = new PBS_SWFObject("feed_gnocchi.swf", "feed_gnocchi", "724", "338", "7", "#FFCC01");
    so.setAttribute('redirectUrl', '/curiousgeorge/games/noflash.html');
    so.addParam("quality", "best");
    ////PBS_enable_cdn(so);
    so.write("flashcontent");
</script>
<!-- end bbinclude -->{% endblock %}