{% extends 'lunchlab/includes/lunchLabPage.html.twig' %}
{% set pageTitle = 'Videos' %}


{% block mainContent %}<div id="containerContainer">
 <div id="pageLoader"></div>
 <div class="clearfix contentContainer">
  <div id="content" class="clearfix">
   <div class="hidden">
    <h2>Playlist</h2>
    <ul>
     <li><a href="/lunchlab/videos/video/freezer-burn-dont-forget-the-nuts">Freezer Burn: Don't Forget the Nuts</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-mixed-nuts">Lunch Lab Live: Mixed Nuts</a></li>
     <li><a href="/lunchlab/videos/video/and-the-crowd-goes-nuts">And the Crowd Goes Nuts!</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-food-rainbow-rock">Freezer Burn: Food Rainbow Rock</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-pyramid-and-plate">Lunch Lab Live: Pyramid and Plate</a></li>
     <li><a href="/lunchlab/videos/video/paint-by-blunders">Paint by Blunders</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-feast-of-the-seven-seas">Freezer Burn: Feast of the Seven Seas</a></li>
     <li><a href="/lunchlab/videos/video/sullys-guide-to-the-human-body-traffic-on-the-arteries">Sully's Guide to the Human Body: Traffic on the Arteries</a></li>
     <li><a href="/lunchlab/videos/video/hook,-line-and-stinker">Hook, Line and Stinker</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-ballad-of-fiber">Freezer Burn: Ballad of Fiber</a></li>
     <li><a href="/lunchlab/videos/video/sullys-guide-to-the-human-body-fiber-cowboys">Sully's Guide to the Human Body: Fiber Cowboys</a></li>
     <li><a href="/lunchlab/videos/video/unclogging-the-pipes">Unclogging the Pipes</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-calci-yum-yum">Freezer Burn: Calci-yum-yum</a></li>
     <li><a href="/lunchlab/videos/video/sullys-guide-to-the-human-body-bobby-the-humerus-bone">Sully's Guide to the Human Body: Bobby the Humerus Bone</a></li>
     <li><a href="/lunchlab/videos/video/summer-treatwave">Summer Treatwave</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-its-so-easy-to-grow-a-tomato">Freezer Burn: It's So Easy to Grow a Tomato</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-bella-basil">Lunch Lab Live: Bella Basil</a></li>
     <li><a href="/lunchlab/videos/video/happy-harvest">Happy Harvest</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-watch-out-for-sodium">Freezer Burn: Watch Out For Sodium</a></li>
     <li><a href="/lunchlab/videos/video/sullys-guide-to-the-human-body-sodium">Sully's Guide to the Human Body: Sodium</a></li>
     <li><a href="/lunchlab/videos/video/bob-lazys-boffo-bargain">Bob Lazy's Boffo Bargain</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-taste-bud-world-tour">Freezer Burn: Taste Bud World Tour</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-annabelle-oatmeal">Lunch Lab Live: Annabelle Oatmeal</a></li>
     <li><a href="/lunchlab/videos/video/shopping-the-u">Shopping the U</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-stuffed-tummy-blues">Freezer Burn: Stuffed Tummy Blues</a></li>
     <li><a href="/lunchlab/videos/video/sullys-guide-to-the-human-body-e-is-for-energy">Sully's Guide to the Human Body: E is for Energy</a></li>
     <li><a href="/lunchlab/videos/video/hoagie-throwdown">Hoagie Throwdown</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-its-halloween-night">Freezer Burn: It's Halloween Night</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-naturally-wrapped-foods">Food Camp: Naturally Wrapped Foods</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-banana-and-candy">Lunch Lab Live: Banana and Candy</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-carbohydrates-sugars">Mixie Reports: Carbohydrates &amp; Sugars</a></li>
     <li><a href="/lunchlab/videos/video/the-lazy-hazy">The Lazy Hazy</a></li>
     <li><a href="/lunchlab/videos/video/tummy-trauma">Tummy Trauma</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-trooper-trail-mix">Food Camp: Trooper Trail Mix</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-soccer-ball">Lunch Lab Live: Soccer Ball</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-exercise">Mixie Reports: Exercise</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-exercise">Freezer Burn: Exercise!!!</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-totally-terrific-turkey-wraps">Food Camp: Totally Terrific Turkey Wraps</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-sue-the-sunny-side-up-egg">Lunch Lab Live: Sue, the Sunny Side Up Egg</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-protein">Mixie Reports: Protein</a></li>
     <li><a href="/lunchlab/videos/video/protein-power-up">Protein Power Up</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-the-fab-fruit-kabob">Food Camp: The Fab Fruit Kabob</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-pineapple">Lunch Lab Live: Pineapple</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-fruit">Mixie Reports: Fruit</a></li>
     <li><a href="/lunchlab/videos/video/robofizz-2000">ROBOFIZZ 2000</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-fruit-is-natures-candy">Freezer Burn: Fruit is Nature's Candy</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-super-sliders">Food Camp: Super Sliders</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-a-family-dinner-table">Lunch Lab Live: A Family Dinner Table</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-family-meal-time">Mixie Reports: Family Meal Time</a></li>
     <li><a href="/lunchlab/videos/video/family-dinnerteam">Family Dinnerteam</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-fizzys-pomegranate-drink">Food Camp: Fizzy's Pomegranate Drink</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-bottled-water-and-tap-water">Lunch Lab Live: Bottled Water and Tap Water</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-hydration">Mixie Reports: Hydration</a></li>
     <li><a href="/lunchlab/videos/video/jinormous-juicer">Jinormous Juicer</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-hydration-nation">Freezer Burn: Hydration Nation</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-mashed-cauliflower">Food Camp: Mashed Cauliflower</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-natural-nut">Lunch Lab Live: Natural Nut</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-good-fat-bad-fat">Mixie Reports: Good Fat &amp; Bad Fat</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-give-your-heart-a-valentine">Freezer Burn: Give Your Heart a Valentine</a></li>
     <li><a href="/lunchlab/videos/video/fast-food-franny">Fast Food Franny</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-very-veggie-frittata">Food Camp: Very Veggie Frittata</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-veggie-rock">Freezer Burn: Veggie Rock</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-barry-broccoli">Lunch Lab Live: Barry Broccoli</a></li>
     <li><a href="/lunchlab/videos/video/kid-critic">Kid Critic</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-vegetables">Mixie Reports: Vegetables</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-very-berry-pancakes">Food Camp: Very Berry Pancakes</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-meet-the-food-pyramid">Lunch Lab Live: Meet the Food Pyramid</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-dont-get-carried-away-for-the-holidays">Freezer Burn: Don't Get Carried Away for the Holidays</a></li>
     <li><a href="/lunchlab/videos/video/breakfast-boost">Breakfast Boost</a></li>
     <li><a href="/lunchlab/videos/video/">Mixie Reports: Balanced Meals</a></li>
     <li><a href="/lunchlab/videos/video/food-camp-mighty-molasses-cookies">Food Camp: Mighty Molasses Cookies</a></li>
     <li><a href="/lunchlab/videos/video/mixie-reports-whole-grains">Mixie Reports: Whole Grains</a></li>
     <li><a href="/lunchlab/videos/video/lunch-lab-live-meet-white-and-wheat-bread">Lunch Lab Live: Meet White and Wheat Bread</a></li>
     <li><a href="/lunchlab/videos/video/freezer-burn-wheat-is-sweet">Freezer Burn: Wheat is Sweet</a></li>
     <li><a href="/lunchlab/videos/video/attack-of-the-pizzanators">Attack of the Pizzanators!</a></li>
     <li><a href="/lunchlab/videos/video/preview-fizzys-lunch-lab">PREVIEW: Fizzy's Lunch Lab</a></li>
    </ul>
   </div>
   <div id="producerPlayer" data-guid="" class="producerPlayer">
    <div class="playerWrapper">
     <div class="videoFrame frame">
      <div class="topRightCorner"></div>
      <div class="topLeftCorner"></div>
      <div class="bottomRightCorner"></div>
      <div class="bottomLeftCorner"></div>
      <div class="topBar"></div>
      <div class="bottomBar"></div>
      <div class="leftBar"></div>
      <div class="rightBar"></div>
      <div id="videoPlayerContainer">
       <video id="videoPlayer"></video>
      </div>
     </div>
     <div class="borderBox controlRack">
      <button class="playPause paused"><span class="icon-play"></span><span class="icon-pause"></span></button>
      <div class="timeline">
       <div class="scrubber">
        <div class="scrubber-track">
         <button class="scrubber-thumb"></button>
        </div>
       </div>
      </div><button class="captions">
       <div id="ccicon"></div></button><button class="volume"><span class="icon-volume"></span><span class="icon-volume-mute"></span></button>
     </div>
    </div>
    <div class="categories">
     <select id="categoryList" class="categoriesList button major"><option value="/lunchlab/videos">All</option><option value="/lunchlab/videos/category/webisodes" data-category="1">Webisodes</option><option value="/lunchlab/videos/category/fizzy-live" data-category="2">Fizzy Live</option><option value="/lunchlab/videos/category/food-camp" data-category="3">Food Camp</option><option value="/lunchlab/videos/category/mixie-reports" data-category="4">Mixie Reports</option><option value="/lunchlab/videos/category/freezer-burn" data-category="5">Freezer Burn</option><option value="/lunchlab/videos/category/sully-shorts" data-category="6">Sully Shorts</option><option value="/lunchlab/videos/season/1" data-season="1">Season 1</option><option value="/lunchlab/videos/season/2" data-season="2">Season 2</option><option value="/lunchlab/videos/season/3" data-season="3">Season 3</option></select>
    </div>
    <div class="borderBox playlistWrapper frame">
     <div class="topRightCorner"></div>
     <div class="topLeftCorner"></div>
     <div class="bottomRightCorner"></div>
     <div class="bottomLeftCorner"></div>
     <div class="topBar"></div>
     <div class="bottomBar"></div>
     <div class="leftBar"></div>
     <div class="rightBar"></div>
     <ul class="videoPlaylist" id="videoPlaylist">
      <li class="videoPlaylistItem"><img class="new-label" src="http://pbskids.org/lunchlab/assets/images/new_sticker.png?v=3" alt="New"><img class="thumbnail littlevideothumbnail" src="/lunchlab/"><span class="video-title"></span></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>{% endblock %}

