{% extends 'games/includes/gamesPage.html.twig' %}
{% set pageTitle = 'Dress Up Games' %}
{% set bodyClass = 'games topics-page yellow dress-up-games' %}


{% block mainContent %}<div role="main" class="wrapper-block">
 <section class="section-panel top">
  <div class="max-wrapper">
   <header role="banner" class="brand page-head"><a href="../../"> <img data-fallback="http://pbskids.org/shell/images/content/pbs-kids-logo.png" src="http://pbskids.org/shell/images/content/pbs-kids-logo.svg"> </a>
    <hgroup>
     <h1>PBS KIDS:</h1>
     <h2><em>Dress Up </em> <span>Games</span></h2>
    </hgroup>
   </header> <a class="phat-button show-all games blue" href="../"><em><i class="icon"></i> <span>More Games</span></em></a>
   <article class="topics-game-grid" style="margin-bottom:0px;">
    <figure class="topics-game mega-feature"><a href="http://www.pbskids.org/sesame/games/dress-time"> <img class="mega-feature-graphic topic-feature" data-carson-src="/pbskids/shell/images/content/games/sesame-street-elmo-and-abbys-dress-up-time_6.jpg" data-carson-size="topics-feature"> </a>
     <figcaption class="topics-page-feature"><a href="http://www.pbskids.org/sesame/games/dress-time"> <h3 class="show-title">Sesame Street</h3> <h4 class="game-title">Elmo and Abby's Dress Up Time</h4> <p>Play Dress-up with Elmo and Abby!</p> </a> <a class="phat-button show-all blue" href="http://www.pbskids.org/sesame/games/dress-time"><em> <span>Play Now!</span></em></a>
     </figcaption>
    </figure>
   </article>
   <article class="topics-game-grid">
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/caillou/games/dresscaillou.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/caillou-dress-caillou_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Caillou</h3>
       <h4 class="game-title">Dress Caillou</h4>
       <p class="goals">Dress Up, Routine, Art, People</p>
      </div>
      <figcaption>
       <p>Help Caillou pick out the right clothes!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/holiday/dressup/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-dws-dress-up_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">D.W.'s Dress Up</h4>
       <p class="goals">Dress Up, Winter, People, Heritage, Fall, Cultures, Winter Holidays, Ethnicity</p>
      </div>
      <figcaption>
       <p>Help D.W. dress up for different holidays.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/games/wardrobe/"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-muffys-wardrobe.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">Muffy's Wardrobe</h4>
       <p class="goals">Jobs, Dress Up, Roles</p>
      </div>
      <figcaption>
       <p>Find the perfect outfit in Muffy's Wardrobe.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/superwhy/#/game/superhero"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/super-why-create-your-own-superhero.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Super Why!</h3>
       <h4 class="game-title">Create-Your-Own Superhero</h4>
       <p class="goals">Spelling, Dress Up, Phonics, Literacy</p>
      </div>
      <figcaption>
       <p>Make your own superhero with Princess Presto.</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/superwhy/#/game/spellingbee"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/super-why-golden-crown-spelling-bee.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Super Why!</h3>
       <h4 class="game-title">Golden Crown Spelling Bee</h4>
       <p class="goals">Spelling, Dress Up, Phonics, Create</p>
      </div>
      <figcaption>
       <p>Make your own golden crown!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/weatherwheel.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-geralds-weather-wheel-dress-up.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">Gerald's Weather Wheel Dress Up</h4>
       <p class="goals">Summer, Weather &amp; Climate, Dress Up, Winter Holidays</p>
      </div>
      <figcaption>
       <p>Play a dress up game with Gerald!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/sid/scientist.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-i-want-to-be-a-scientist.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sid the Science Kid</h3>
       <h4 class="game-title">I Want to be a Scientist</h4>
       <p class="goals">Dress Up, Jobs, Scientists</p>
      </div>
      <figcaption>
       <p>Dress up Gabriela like a scientist!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/arthur/clubs/fashion/index.html"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/arthur-fashion-club.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Arthur</h3>
       <h4 class="game-title">Fashion Club</h4>
       <p class="goals">Dress Up, Create, Art</p>
      </div>
      <figcaption>
       <p>It's fashion time! Help Muffy and friends get ready for their close-ups!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://pbskids.org/peg/games/costume-box"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/peg-cat-costume-box_1.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Peg + Cat</h3>
       <h4 class="game-title">Costume Box</h4>
       <p class="goals">Halloween, Dress Up</p>
      </div>
      <figcaption>
       <p>Dress-up Peg and her friends in some totally silly outfits!</p>
      </figcaption> </a>
    </figure>
    <figure class="topics-game grid-item invisible"><a href="http://www.pbskids.org/sesame/games/dress-time"> <img class="game-graphic" data-carson-src="/pbskids/shell/images/content/games/sesame-street-elmo-and-abbys-dress-up-time_6.jpg" data-carson-size="medium">
      <div class="game-meta">
       <h3 class="show-title">Sesame Street</h3>
       <h4 class="game-title">Elmo and Abby's Dress Up Time</h4>
       <p class="goals">Dress Up, Roles, Dance, Photography, Halloween, Winter Holidays, Patterns, Problem Solving, Performing on Stage</p>
      </div>
      <figcaption>
       <p>Play Dress-up with Elmo and Abby!</p>
      </figcaption> </a>
    </figure>
   </article>
  </div>
 </section>
 <section id="topics-panel" class="section-panel sub">
  <div class="max-wrapper">
   <h3 class="related-head">Related Topics</h3>
   <article class="topics-block seafoam">
    <h2 class="topics-head"><a href="/games/healthy-habits/"> <em> <span class="icon healthy-habits"></span> Healthy Habits Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/redLightGreenLight.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-red-light-green-light.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Red Light Green Light</h4>
        <p class="description">Get up and play outside with Sid and his friends!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Play, Fitness, Exercise/Fitness
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/electriccompany/games/halfpipehoverball"> <img data-carson-src="/pbskids/shell/images/content/games/the-electric-company-halfpipe-hoverball.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Electric Company</h3>
        <h4 class="game-title">Halfpipe Hoverball</h4>
        <p class="description">Skateboard with Marcus on the halfpipe!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Spelling, Sports, Phonics, Vocabulary, Literacy
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/immersivegames/?gameID=0"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-caillou-the-cook.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Caillou the Cook</h4>
        <p class="description">Help Caillou find all of the ingredients he needs.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Cooking, Jobs, Vocabulary
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-miguel-andys-world-of-sports.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Miguel &amp;amp; Andy's World of Sports</h4>
        <p class="description">Pick up your paddle and play!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Sports
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/fetch/games/luge/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/fetch-with-ruff-ruffman-move-it-or-luge-it.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">FETCH! with Ruff Ruffman</h3>
        <h4 class="game-title">Move it or Luge it!</h4>
        <p class="description">Race downhill to beat Scruff!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Physics, Winter Holidays, Sports
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/danceparty/"> <img data-carson-src="/pbskids/shell/images/content/games/dashs-dance-party-dashs-dance-party.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Dash's Dance Party</h3>
        <h4 class="game-title">Dash's Dance Party</h4>
        <p class="description">Dance with Dash &amp; friends!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Dance, Create, Performing on Stage, Exercise/Fitness
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/healthy-habits/"><i class="count">44</i> More <em>Healthy Habits </em> Games</a>
    </ul>
   </article>
   <article class="topics-block orange">
    <h2 class="topics-head"><a href="/games/create/"> <em> <span class="icon create"></span> Create Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Make a Jersey</h4>
        <p class="description">Create your own sports jersey.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Create, Art, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/catinthehat/games/chasing-rainbows.html"> <img data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-chasing-rainbows.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Cat in the Hat</h3>
        <h4 class="game-title">Chasing Rainbows</h4>
        <p class="description">Can you help catch a rainbow?</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Weather &amp; Climate, Cats, Coloring, Colors
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/clifford/games/buried-treasure.html"> <img data-carson-src="/pbskids/shell/images/content/games/clifford-the-big-red-dog-cliffords-buried-treasure.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Clifford The Big Red Dog</h3>
        <h4 class="game-title">Clifford's Buried Treasure</h4>
        <p class="description">Find the buried treasure with Clifford, T-Bone and Cleo!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Patterns, Colors, Problem Solving, Navigate
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/daniel/games/feel-the-music/"> <img data-carson-src="/pbskids/shell/images/content/games/daniel-tigers-neighborhood-feel-the-music.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Daniel Tiger's Neighborhood</h3>
        <h4 class="game-title">Feel the Music</h4>
        <p class="description">Play music to show how you feel.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Exploring, Musical Instruments, Music, Emotions/Feelings
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/go/studio/"> <img data-carson-src="/pbskids/shell/images/content/games/cartoon-studio-cartoon-studio_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Cartoon Studio</h3>
        <h4 class="game-title">Cartoon Studio</h4>
        <p class="description">Make your own cartoons!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Create, Performing on Stage, Storytelling, Movie Making
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/designsquad/topbuilder"> <img data-carson-src="/pbskids/shell/images/content/games/design-squad-design-squad-top-builder.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Design Squad</h3>
        <h4 class="game-title">Design Squad Top Builder</h4>
        <p class="description">Be a Top Builder with Design Squad's newest challenge!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Building, Gadgets, Create, Design, Test
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/create/"><i class="count">111</i> More <em>Create </em> Games</a>
    </ul>
   </article>
   <article class="topics-block tall-list seafoam last invisible">
    <h2 class="topics-head"><a href="../all-topics/"> <em>More Topics</em> </a></h2>
    <ul class="topic-list">
     <li class="topic-list-item invisible"><a class="topic" href="/games/math/"> <span class="icon math"></span> <em>Math <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dinosaur/"> <span class="icon dinosaur"></span> <em>Dinosaur <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/science/"> <span class="icon science"></span> <em>Science <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/social-studies/"> <span class="icon social-studies"></span> <em>Social Studies <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/reading/"> <span class="icon reading"></span> <em>Reading <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/abc/"> <span class="icon abc"></span> <em>ABC <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/vocabulary/"> <span class="icon vocabulary"></span> <em>Vocabulary <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spelling/"> <span class="icon spelling"></span> <em>Spelling <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/rhyming/"> <span class="icon rhyming"></span> <em>Rhyming <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/story/"> <span class="icon story"></span> <em>Story <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/123/"> <span class="icon 123"></span> <em>123 <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/nature/"> <span class="icon nature"></span> <em>Nature <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/healthy-habits/"> <span class="icon healthy-habits"></span> <em>Healthy Habits <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/create/"> <span class="icon create"></span> <em>Create <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/engineering/"> <span class="icon engineering"></span> <em>Engineering <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/feelings/"> <span class="icon feelings"></span> <em>Feelings <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/teamwork/"> <span class="icon teamwork"></span> <em>Teamwork <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/animal/"> <span class="icon animal"></span> <em>Animal <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dog/"> <span class="icon dog"></span> <em>Dog <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/coloring/"> <span class="icon coloring"></span> <em>Coloring <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/shapes/"> <span class="icon shapes"></span> <em>Shapes <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/adventure/"> <span class="icon adventure"></span> <em>Adventure <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/music/"> <span class="icon music"></span> <em>Music <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/dress-up/"> <span class="icon dress-up"></span> <em>Dress Up <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/problem-solving/"> <span class="icon problem-solving"></span> <em>Problem Solving <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/measurement/"> <span class="icon measurement"></span> <em>Measurement <span>Games</span></em> </a></li>
     <li class="topic-list-item invisible"><a class="topic" href="/games/spanish/"> <span class="icon spanish"></span> <em>Spanish <span>Games</span></em> </a></li>
    </ul> <a class="more-link" href="../all-topics/"><i class="count"></i> More <em>Topics</em></a>
   </article>
   <article class="topics-block yellow">
    <h2 class="topics-head"><a href="/games/coloring/"> <em> <span class="icon coloring"></span> Coloring Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/caillou/games/keyboard.html"> <img data-carson-src="/pbskids/shell/images/content/games/caillou-caillous-magic-keyboard_1.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Caillou</h3>
        <h4 class="game-title">Caillou's Magic Keyboard</h4>
        <p class="description">Use Caillou's Magic Keyboard to make music!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Fractions, Art, Music, Patterns
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sid/characterjournals.html"> <img data-carson-src="/pbskids/shell/images/content/games/sid-the-science-kid-character-journals.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sid the Science Kid</h3>
        <h4 class="game-title">Character Journals</h4>
        <p class="description">Draw observations with your favorite scientists!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Science Projects, Art, Drawing
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/games/pinata_party/pinata_party.html"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-pinata-party.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Piñata Party</h4>
        <p class="description">Help George break the piñata!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Cultures, Colors, Art, Numbers, Hispanic Heritage Month
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/eekoworld/index.html?load=eekocreature"> <img data-carson-src="/pbskids/shell/images/content/games/eekoworld-eekocreature.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">EekoWorld</h3>
        <h4 class="game-title">EekoCreature</h4>
        <p class="description">Create your own creature!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Wildlife, Art, Nature, Mammals, Environment, Ecosystems
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/mayaandmiguel/english/games/sports/soccer/makeajersey/index.html"> <img data-carson-src="/pbskids/shell/images/content/games/maya-miguel-make-a-jersey.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Maya &amp; Miguel</h3>
        <h4 class="game-title">Make a Jersey</h4>
        <p class="description">Create your own sports jersey.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Olympics / Sports, Create, Art, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/meetthegreens/games/thrifty-threads.html"> <img data-carson-src="/pbskids/shell/images/content/games/the-greens-thrifty-threads.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Greens</h3>
        <h4 class="game-title">Thrifty Threads</h4>
        <p class="description">Turn old clothes into something new.</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Going Green, Art
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/coloring/"><i class="count">32</i> More <em>Coloring </em> Games</a>
    </ul>
   </article>
   <article class="topics-block magenta">
    <h2 class="topics-head"><a href="/games/adventure/"> <em> <span class="icon adventure"></span> Adventure Games </em> </a></h2>
    <ul class="mini-grid">
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/chuck/roadtrip.html"> <img data-carson-src="/pbskids/shell/images/content/games/chuck-vanderchuck-road-trip.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Chuck Vanderchuck</h3>
        <h4 class="game-title">Road Trip</h4>
        <p class="description">Help Chuck get to his music gig!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Musical Instruments, Music, Competition
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/curiousgeorge/busyday/rocket/"> <img data-carson-src="/pbskids/shell/images/content/games/curious-george-blast-off.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Curious George</h3>
        <h4 class="game-title">Blast Off!</h4>
        <p class="description">Count down to blast off!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Outer Space, Counting, Math, Space
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/dinosaurtrain/games/classic.html"> <img data-carson-src="/pbskids/shell/images/content/games/dinosaur-train-classic-in-the-jurassic-jr.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Dinosaur Train</h3>
        <h4 class="game-title">Classic in the Jurassic Jr.</h4>
        <p class="description">A dinosaur sporting competition!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Distance, Prehistoric, weight, Competition, Volume, Dinosaurs, Measurement, Math
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/arthur/games/backyard_adventure/"> <img data-carson-src="/pbskids/shell/images/content/games/arthur-dw-buds-backyard-adventure_2.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Arthur</h3>
        <h4 class="game-title">D.W. &amp;amp; Bud's Backyard Adventure</h4>
        <p class="description">Join D.W. and Bud on an exciting Backyard adventure!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Exploring, Teamwork, Friendship, Adventure, Nature
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/catinthehat/games/math-safari.html"> <img data-carson-src="/pbskids/shell/images/content/games/the-cat-in-the-hat-cats-math-safari.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">The Cat in the Hat</h3>
        <h4 class="game-title">Cat's Math Safari</h4>
        <p class="description">Help Cat rescue animals and create your own animal book!</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Wildlife, Estimation, Maps, Addition, Shapes, Geometry, Goals, Logic, Counting
         </dd>
        </dl>
       </div> </a></li>
     <li class="mini-grid-item"><a class="promo-graphic" href="http://pbskids.org/sesame/games/exploration-earth/"> <img data-carson-src="/pbskids/shell/images/content/games/sesame-street-earth-exploration.jpg" data-carson-size="topic-block">
       <div class="game-meta">
        <h3 class="show-title">Sesame Street</h3>
        <h4 class="game-title">Earth Exploration</h4>
        <p class="description">Explore Earth and discover animals with your favorite Martians</p>
        <dl class="goals">
         <dt>
          Goals:
         </dt>
         <dd>
          Biology, Science, Wildlife, Bugs, Outer Space, Habitats, Birds
         </dd>
        </dl>
       </div> </a></li> <a class="more-link" href="/games/adventure/"><i class="count">31</i> More <em>Adventure </em> Games</a>
    </ul>
   </article>
  </div>
 </section> <!-- End #topics-panel -->
</div>{% endblock %}

