{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Holiday . Elwood City Celebrates | PBS Kids' %}
{% set desc = 'Make a Cootie Catcher with Prunella! Select to make your own or to have a random one made for you. Then get directions for how to fold it and play!' %}
{% set keywds = 'Cootie Catcher, oragami, fortune, Prunella, print, message' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-9c9">
 <div class="ruler"></div>
 <div id="mainFeature">
  <div class="print-instr holiday">
   <h4 id="holidayHeader">Elwood City Celebrates</h4>
  </div>
  <div id="printablesNavIcons" class="holiday">
   <h1>Elwood City Celebrates the Holidays</h1>
   <ul id="holidayNavIcons">
    <li id="holidayNavDressUp" class="icon"><a href="dressup/index.html"><span>D.W.'s Dress Up</span></a></li>
    <li id="holidayNavScrapbook" class="icon"><a href="scrapbook/index.html"><span>Sue Ellen's Scrapbook</span></a></li>
    <li id="holidayNavBigBook" class="icon"><a href="glossary/index.html"><span>Brain's Big Book</span></a></li>
    <li id="holidayNavColoring" class="icon"><a href="coloring/index.html"><span>Holiday Coloring Pages</span></a></li>
    <li id="holidayNavVideo" class="icon"><a href="/arthur/video/index.html?pid=WbQ_RKff3XsMPV8tDr3cEddqlBIYDYdw"><span>Holiday Song Video</span></a></li>
   </ul>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/friends/prunella/index.html" id="rcPrunella">Prunella</a></li>
   <li><a href="/arthur/games/askprunella/index.html" id="rcAskPrunella">Ask Prunella</a></li>
   <li><a href="/arthur/games/yougottobekidding/index.html" id="rcKidding">You've Got To be Kidding</a></li>
  </ul>
 </div>
</div>{% endblock %}

