{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Nutrition Info . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'pink' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><h2><a href="../nutrition/">Nutrition</a></h2></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Nutrition</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Background Information</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/nutrition_bginfo_1.png" alt="D.W. pointing.">
   <div class="col7">
    <div class="banner">
     <p>Children who learn how to recognize healthy foods and understand portion sizes will not only be healthier today, they will continue to make good food choices as teenagers and adults. It can be easy — and fun — to teach children about nutrition. You may also want to use this section together with our <a href="../fitness/">fitness resources</a> since healthy eating and exercise go together.</p>
    </div>
   </div>
  </div>
  <div class="col7 cntr">
   <p class="dark">Why is eating healthy important for my child?</p>
   <p>Providing healthy meals and snacks is one of the most important things that parents do to help their children grow and develop. Healthy eating is important because it helps children keep a healthy body weight, which lowers their risks for weight-related medical problems such as Type 2 diabetes, heart disease, and several types of cancer.</p>
   <p>Healthy eating will also help children feel better, have more energy, and have a more positive attitude. Children will learn better in school and will enjoy physical activity and sports more. When children practice healthy eating at a young age, they are more likely to continue these healthy habits throughout life, therefore reducing health risks later on.</p>
   <hr>
   <p class="dark">Why should I cook at home?</p>
   <p>Cooking and eating together is incredibly beneficial for your children. Kids learn most of their eating habits, family values, and how to have conversations with adults while at the dinner table with the family. Cooking and eating at home as a family is important because this is how children will learn about, get interested in, and try healthy foods. Foods from restaurants can have unhealthy condiments or ingredients, and portion sizes can be quite large.</p>
   <p>If your child helps you cook at home, those meals become a source of pride and confidence for children, and those meals can be shared with others. Plus, it's fun for children to eat creations that they helped make!</p>
   <hr>
   <p class="dark">Why is breakfast important?</p>
   <p>It's important for children and adults to eat a healthy breakfast because breakfast helps the body to wake up. It also helps the mind to wake up, and therefore the brain can learn and function better. Eating a healthy breakfast will also result in making better food choices for lunch or in the afternoon.</p>
   <hr>
   <p class="dark">What is a healthy weight for my child?</p>
   <p>Children are different and experience growth in different ways. If you are concerned about your child's weight, make sure to take an informed, positive, and sustainable approach. Your child's doctor can look at your child's growth charts and weight to determine if you should do something to improve weight patterns. Keep a positive attitude for your child. Support and non-judgmental encouragement is important for a child struggling to make healthy choices.</p>
   <p>The best diets are the sustainable ways of eating — lifestyles that you can keep up forever. They are well-balanced, encourage plenty of healthy foods (like vegetables, fruits, and lean proteins), and limit unhealthy foods (like fried foods and sugars). You can work on finding healthy foods together with your child and explore delicious and fun ways to eat healthy. If you feel that your child needs more exercise, find physical activities that your child enjoys and make exercising fun.</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}