{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Educators . Nutrition . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'pink' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><h2><a href="../nutrition/">Nutrition</a></h2></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Nutrition</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>For Educators</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/resilience_quiz_6.png" alt="Mr. Ratburn holds a book and gestures.">
   <div class="col7">
    <div class="banner">
     <p>Use this sorting activity to help children define and discover the differences between healthy foods and junk foods.</p>
    </div>
   </div>
  </div>
  <h5>Healthy Snacks vs. Junk Foods</h5>
  <h6>Materials</h6>
  <p>Gather glue, markers, pictures of food (from magazines, grocery flyers, etc.), and poster board (three large pieces).</p>
  <h6>Prepare</h6>
  <p>Collect pictures of healthy foods and junk foods from the web, magazines, flyers, newspapers, etc. On one piece of poster board, write the title "Go" and draw a green traffic light. On another piece of poster board, write the title "Slow" and draw a yellow traffic light. On the third piece of poster board, write "Stop" and draw a red traffic light.</p>
  <h6>Sort "Go" foods</h6>
  <p>Point to the green traffic light and ask: <i>What does a green light mean? (Go ahead.)</i> Explain that you can eat an unlimited amount of most fresh or frozen fruits and vegetables. Other "green-light" foods are high in protein, fiber, and other nutrients, and are also lower in fat and calories than other foods. Examples include: brown rice, whole-wheat bread, most nuts, fat-free or low-fat yogurt or cheese, fish, chicken, and lean beef. Help children choose and glue down several pictures of healthy foods onto this poster. (Some children may be allergic to peanuts or other foods. You may want to mention that if you're allergic to a food, you shouldn't eat it at all.)</p>
  <h6>Sort "Go Slow" foods</h6>
  <p>Point to the yellow traffic light and ask: <i>What does a yellow light mean? (Slow down and prepare to stop.)</i> Foods in this category can be eaten "sometimes" in medium-sized portions. They have moderate levels of fat, sugar, or refined carbohydrates. Examples include fruit juice, white bread and pasta, most red meats, and 2-percent milk. Help children choose and glue down several pictures of these foods onto the poster.</p>
  <h6>Sort "Stop" foods</h6>
  <p>Point to the red traffic light and ask: <i>What does a red light mean? (Stop)</i>. Explain that these foods should be eaten only once in a while or on special occasions. Mention that people often call them "junk" foods. They usually have high levels of fat or sugar. Examples include French fries and other deep-fried foods, muffins and donuts, high-fat cuts of meat, chips, cookies, cakes, and sugar-sweetened beverages. Help children choose and glue down pictures of junk food onto this poster.</p>
  <h6>Discuss</h6>
  <p>After you have created the three posters, lead a class discussion about the kinds of foods that are healthy and the kinds of food that aren't. You may to use some of the titles on our list of <a href="resources.html">recommended books</a> to supplement the lesson. For more information about healthy eating, visit the <a href="http:www.nhlbi.nih.gov/health/public/heart/obesity/wecan/eat-right/">We Can! Website</a>.</p>
  <div class="banner btn-r"><a href="../pdf/arthur_nutrition_eat_well.pdf" class="print-btn" style="width:11.5em;">
    <div class="print-icon"></div>Print Lesson Plan</a>
   <p>The "Eat Well, Stay Fit" lesson plan encourages children to take care of themselves by eating healthy foods and exercising. To introduce the unit, you may want to show the Arthur episode <a href="../nutrition/episode.html"><i>D.W. the Picky Eater</i></a> or read the book<i>.</i></p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}