{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Nutrition Resources . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'pink' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><h2><a href="../nutrition/">Nutrition</a></h2></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Nutrition</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Resources</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/shared_resources.png" alt="D.W. pulls a red wheelbarrow full of books">
   <div class="col7">
    <div class="banner">
     <p>There are many organizations, websites, and books that can help your family make nutritious choices and habits. Here are some to get you started. Check with your doctor, school nurse, counselor, or librarian for other good resources.</p>
    </div>
   </div>
  </div>
  <ul class="menu-topics">
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Websites
    </div>
    <ul>
     <li><a href="http:www.choosemyplate.gov/preschoolers.html">Choose My Plate for preschoolers</a></li>
     <li><a href="http:www.choosemyplate.gov/children-over-five.html">Choose My Plate for children over five</a></li>
     <li><a href="http:www.healthychildren.org/English/healthy-living/nutrition/">HealthyChildren.org (American Academy of Pediatrics)</a></li>
     <li><a href="http:www.nhlbi.nih.gov/health/public/heart/obesity/wecan/">We Can! (National Heart, Lung and blood institute)</a></li>
     <li><a href="http:www.nutrition.gov/life-stages/children">Nutrition.gov</a></li>
    </ul></li>
   <li class="topic middle">
    <div>
     <div class="caret-menu"></div>Books
    </div>
    <ul>
     <li><cite>D.W. the Picky Eater</cite> by Marc Brown</li>
     <li><cite>The Berenstain Bears and Too Much Junk Food</cite> by Stan and Jan Berenstain</li>
     <li><cite>Eat Your Vegetables! Drink Your Milk!</cite> by Alvin Silverstein</li>
     <li><cite>Eating the Alphabet</cite> by Lois Ehlert</li>
     <li><cite>Growing Vegetable Soup</cite> by Lois Ehlert (also available in Spanish)</li>
     <li><cite>Feast for 10</cite> by Cathryn Falwell</li>
     <li><cite>Good Enough to Eat</cite> by Lizzy Rockwell</li>
     <li><cite>Gregory, the Terrible Eater</cite> by Mitchell Sharmat</li>
     <li><cite>I Will Never Not Eat a Tomato</cite> by Lauren Child</li>
     <li><cite>Jalapeno Bagels</cite> by Natasha Wing</li>
     <li><cite>Mama Provi and the Pot of Rice</cite> by Sylvia Rosa-Casanova</li>
     <li><cite>The Monster Health Book</cite> by Edward Miller</li>
     <li><cite>Pancakes, Pancakes</cite> by Eric Carle</li>
     <li><cite>Rah. Rah, Radishes: A Vegetable Chant</cite> by April Pulley Sayre</li>
     <li><cite>Go, Go Grapes: A Fruit Chant</cite> by April Pulley Sayre</li>
     <li><cite>Trout, Trout, Trout: A Fish Chant</cite> by April Pulley Sayre</li>
     <li><cite>The Vegetables We Eat</cite> by Gail Gibbons</li>
     <li><cite>Eat Your Vegetables and Other Mistakes Parents Make</cite> by Natalie Digate Muth</li>
     <li><cite>Mayo Clinic's Kids' Cookbook</cite>, Good Books, 2012.</li>
     <li><cite>Pretend Soup and Other Real Recipes</cite> by Mollie Katzen</li>
     <li><cite>Salad People and More Real Recipes</cite> by Mollie Katzen</li>
     <li><cite>Honest Pretzels</cite> by Mollie Katzen</li>
     <li><cite>Quick Meals for Healthy Kids and Busy Parents</cite> by Audrey Wright, Margaret Bogle, and Sandra Nissenberg</li>
     <li><cite>Red Light, Green Light, Eat Right</cite> by Joanna Dolgoff</li>
     <li><cite>Secrets of Feeding a Healthy Family</cite> by Ellyn Sattler</li>
     <li><cite>Your Child's Weight: Helping Without Harming</cite> by Ellyn Sattler</li>
     <li><cite>How to Get Your Kid to Eat: But Not Too Much</cite> by Ellyn Sattler</li>
     <li><cite>Child of Mine: Feeding with Love and Good Sense</cite> by Ellyn Sattler</li>
    </ul></li>
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Apps
    </div>
    <ul>
     <li><a href="https:itunes.apple.com/us/app/d.w.s-unicorn-adventure/id501352147?mt=8">D.W.'s Unicorn Adventure</a></li>
     <li><a href="https:itunes.apple.com/us/genre/ios-medical/id6020?mt=8">Apple iTunes</a></li>
     <li><a href="https:play.google.com/store/apps/category/MEDICAL">Google Play</a></li>
    </ul></li>
  </ul>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}