{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Nutrition Tips . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'pink' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><h2><a href="../nutrition/">Nutrition</a></h2></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Nutrition</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-grwn group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for <span class="nobr">Grown-ups</span></h4>
  <hr> <a href="tips2.html" class="btn-std flt-r">Next</a>
  <div class="pgnum">
   <span>1 of 4</span>
  </div>
  <div class="group"><img class="col5" src="../img/nutrition_tipgrwn_1.png" alt="Mrs. Read carries a grocery bag.">
   <div class="col7">
    <h5>Set a good example.</h5>
    <p>Model the healthy behavior you would like to see in your child. Everyone will feel better and have more energy!</p>
   </div>
  </div>
  <div class="col7 cntr">
   <ul>
    <li>Make healthy choices for yourself, including eating lots of fruits and vegetables. Avoid soda and other sugar-sweetened drinks, chips, and candy. Having these treats once in a while is okay, but it is best not to keep them in the house.</li>
    <li>Little kids have little tummies. They need to eat small meals on a regular schedule — breakfast, lunch, and dinner, plus healthy snacks in the morning and afternoon. Take healthy snacks with you when you're on the go, such as: 
     <ul>
      <li>Half a sandwich and an orange</li>
      <li>Cheese and crackers</li>
      <li>A banana and a small bag of low-sugar or unsweetened cereal (whole grain if possible)</li>
     </ul></li>
    <li>Offer your child a variety of nutritious foods that will provide them with the vitamins and minerals they need.</li>
   </ul>
  </div> <a href="tips2.html" class="btn-std flt-r">Next</a>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}