{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Nutrition Tips . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'pink' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><h2><a href="../nutrition/">Nutrition</a></h2></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Nutrition</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-grwn group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for <span class="nobr">Grown-ups</span></h4>
  <hr> <a href="tips3.html" class="btn-std flt-r">Next</a>
  <div class="pgnum">
   <span>2 of 4</span>
  </div>
  <div class="group"><img class="col5" src="../img/nutrition_tipgrwn_2.jpg" alt="Arthur and family having dinner.">
   <div class="col7">
    <h5>Make and eat meals together.</h5>
    <p>Making and eating meals together can be great family fun. Having meals together as a family is as important for helping your child learn healthy eating habits as it is for spending time together.</p>
   </div>
  </div>
  <div class="col7 cntr">
   <ul>
    <li>Eat as many meals as you can with your child.</li>
    <li>Let your child help set and decorate the table.</li>
    <li>Prepare meals together. Your child can help you pour, mix, and measure ingredients.</li>
    <li>Talk about what you are making, why it's healthy, and why you like this food.</li>
   </ul>
  </div> <a href="tips3.html" class="btn-std flt-r">Next</a>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}