{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Nutrition Tips for Kids . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'pink' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><h2><a href="../nutrition/">Nutrition</a></h2></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Nutrition</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-kids group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for Kids</h4>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>1</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_1.png" alt="Arthur jumping for joy.">
   <div class="col7">
    <p>Know about food. Food is the fuel your body uses to move, grow, and repair itself. A healthy diet includes different types of food to help your body do different things.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>2</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_2.png" alt="A loaf of bread and a bowl of beans.">
   <div class="col7">
    <p>Carbohydrates ("carbs"), such as grains and starchy vegetables, are burned for energy. Protein in food like eggs, meat, beans, and nuts helps your body grow and repair cells. Vitamins and minerals also help your body stay healthy. For example, calcium and vitamin D help to build strong bones. Vitamin E protects skin cells.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>3</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_3.png" alt="A plate of vegetables.">
   <div class="col7">
    <p>Eat plenty of vegetables, fruits, and lean protein.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>4</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_4.png" alt="An open carton of yogurt with a spoon.">
   <div class="col7">
    <p>Fresh fruit, cut-up vegetables, low-fat yogurt, or cheese are great for snacks.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>5</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_5.png" alt="A plate of spaghetti and meatballs with marshmallows.">
   <div class="col7">
    <p>Eat some grains (bread, cereal, rice, and pasta — whole grain is best of all!), but these should not be the biggest part of your meal.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>6</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_6.png" alt="A soda and a bag of food from Chickin Lickin.">
   <div class="col7">
    <p>Try not to have too many fried foods, sweets, or soda. It's okay to have these foods once in a while, but not every day.</p>
   </div>
  </div>
  <hr>
  <div class="group">
   <div class="circ-num">
    <span>7</span>
   </div> <img class="col5" src="../img/nutrition_tipkid_7.png" alt="D.W. rollerskates.">
   <div class="col7">
    <p>Eating well and exercising go together! Do both in order to get and stay healthy.</p>
   </div>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="arthurs-cafe.html">Arthur's Café</a></li>
        <li><a href="lunch-o-matic.html">Lunch-o-matic</a></li>
        <li><a href="unicorn-adventure.html">D.W.'s Unicorn Adventure App</a></li>
        <li><a href="quiz.html">Nutrition Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">D.W. the Picky Eater</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}