<!DOCTYPE HTML>
<html manifest="cache.manifest">
 <head>
  <title>Catch The Centigurps . Games . Odd Squad . PBS KIDS</title>
  <meta name="keywords" http-equiv="keywords" content="example keywords" />
  <meta name="description" content="example description" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

  <link rel="stylesheet" href="s/compressed142835336.css" type="text/css" />
 </head>
 <body class="game-page odd_squad_centigurps">
  <!-- scripts -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
  <script type="text/javascript" src="http://code.createjs.com/tweenjs-0.5.1.min.js"></script>
  <script type="text/javascript" src="http://code.createjs.com/soundjs-0.5.2.min.js"></script>
  <script type="text/javascript" src="http://code.createjs.com/preloadjs-0.4.1.min.js"></script>
  <script type="text/javascript" src="http://pbskids.org/pbsk/video/lib/jquery.pbskidsvideo.min-latest.js"></script>

    <script type="text/javascript" src="j/compressed142835336.js"></script>

  <nav class="game-nav">
    <a href="/oddsquad/games/" class="btn-close"><span><i></i>Back</span></a>
  </nav>
  <div id="videoPlayer">
   <video id="pbs-video-player" controls autoplay><source src="videos/centigurps_intro.mp4" type="video/mp4">
    <source src="videos/centigurps_intro.webm" type="video/webm">
    <source src="videos/centigurps_intro.ogg" type="video/ogg"></video>
  </div>

 <!-- non game include - START -->
  <script type="text/javascript" src="//use.typekit.net/nuo4rii.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="/oddsquad/js/prefixfree.min.js"></script>

  <script type="text/javascript" src="/oddsquad/js/jquery.pageGenratr.js"></script>
  <script type="text/javascript" src="/oddsquad/js/agent.js"></script>
  <script type="text/javascript" src="/oddsquad/js/achievements.js"></script>
  <script type="text/javascript" src="/oddsquad/js/locker.js"></script>
  <script type="text/javascript" src="/oddsquad/js/functions.init.js"></script>

  <link href="/oddsquad/css/reset.min.css" rel="stylesheet" type="text/css" />
  <link href="/oddsquad/css/base.css" rel="stylesheet" type="text/css" />
  <link href="/oddsquad/css/global.css" rel="stylesheet" type="text/css" />
  <!-- non game include - END -->
 
{% include 'template_includes/modern_headband_include.html' %}
{% include 'template_includes/modern_pbsk_js.html' %}



 </body>
</html>