{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Holiday . Brain\'s Big Book of Holiday Terms | PBS Kids' %}
{% set desc = 'Check out the limerick written by Sue Ellen and find out what poems called limericks are all about.' %}
{% set keywds = 'limerick, poems, writing' %}
{% set specialInclude = '' %}
{% set selectedNav = '' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-9c9">
 <div class="ruler"></div>
 <div class="print-instr holiday"><a href="/arthur/holiday/index.html"><h4 id="holidayHeader">Elwood City Celebrates</h4></a>
  <ul id="printSideNav">
   <li><a href="../dressup/index.html"><span>D.W.'s Dress Up</span></a></li>
   <li><a href="../scrapbook/index.html"><span>Sue Ellen's Scrapbook</span></a></li>
   <li><a href="../glossary/index.html" class="selected"><span>Brain's Big Book</span></a></li>
   <li><a href="../coloring/index.html"><span>Holiday Coloring Pages</span></a></li>
  </ul>
 </div>
 <div id="printableArea"><a name="top"></a>
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left wide">
     <h1>Brain's Big Book of Holiday Terms</h1>
    </div>
   </div>
   <div id="holidayTermsContent">
    <div id="holidayTermsNav">
     <ul id="innerNav">
      <li><a href="#baxterday">Baxter Day</a> &nbsp;| &nbsp;</li>
      <li><a href="#christmas">Christmas</a> | &nbsp;</li>
      <li><a href="#hanukkah">Hanukkah</a> | &nbsp;</li>
      <li><a href="#kwanzaa">Kwanzaa</a> | &nbsp;</li>
      <li><a href="#newyear">New Year</a></li><br>
      <li><a href="#ramadan">Ramadan and Eid ul-Fitr</a> | &nbsp;</li>
      <li><a href="#stlucia">St. Lucia</a> | &nbsp;</li>
      <li><a href="#volunteering">Volunteering</a> | &nbsp;</li>
      <li><a href="#solstice">Winter Solstice</a></li>
     </ul>
    </div>
    <dl><a name="baxterday"></a>
     <dt>
      <h2>Baxter Day</h2>
     </dt>
     <dd>
      <b>The Holiday: </b>Baxter Day is a holiday created by Buster and his mom. It's their very own day to spend together, doing whatever they feel like doing! What would you do on your very own holiday?
     </dd>
     <dd>
      <b>Comic Books: </b>Buster can spend Baxter Day hanging out and reading comic books all day long without anyone bothering him.
     </dd>
     <dd>
      <b>Cheeseburgers and Ice Cream:</b> Buster could eat cheeseburgers and ice cream all day with no problem on any day -- but especially on Baxter Day.
     </dd>
     <dd>
      <b>Pajamas:</b> On Baxter Day, Buster doesn't have to get dressed if he doesn't want to.
     </dd>
     <dd>
      <b>Rocket Ship:</b> Buster wants to go on a rocket ship and tell jokes to the aliens.
     </dd>
     <dd>
      <b>Time with Mom:</b> An important part of Baxter Day for Buster is spending time with his mom.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="christmas"></a>
     <dt>
      <h2>Christmas</h2>
     </dt>
     <dd>
      <b>The Holiday: </b>Christmas is the holy Christian celebration of the birth of Jesus.
     </dd>
     <dd>
      <b>Presents: </b>People give presents at Christmas to remind them of the gifts that the shepherds and Wise Men brought when Jesus was born.
     </dd>
     <dd>
      <b>Santa:</b> On Christmas Eve, Santa puts presents under the Christmas tree. The original Santa Claus was St. Nicholas, who used to throw gold coins into people's windows to celebrate the winter festival of Yule. Santa wears a red suit and hat.
     </dd>
     <dd>
      <b>Star:</b> The Wise Men followed a bright star in the sky to the place where Jesus was born.
     </dd>
     <dd>
      <b>Tree:</b> At Christmas, many people decorate a tree with things like colored lights, popcorn strings, and tinsel.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="hanukkah"></a>
     <dt>
      <h2>Hanukkah</h2>
     </dt>
     <dd>
      <b>The Holiday: </b>Hanukkah is a Jewish celebration in honor of a victorious battle for religious freedom.
     </dd>
     <dd>
      <b>Dreidel: </b>A dreidel is a four-sided top. Each side of the dreidel has a Hebrew letter on it. These letters appear in the Hebrew words that mean "a great miracle happened there." At Hanukkah, kids play dreidel and get chocolate coins if they win.
     </dd>
     <dd>
      <b>Hanukkiya:</b> This is a special candleholder. After a battle 2,000 years ago, the Jews had enough oil to light their holy light for only one night. But somehow, the oil burned for eight days. That's why the hanukkiya (also called a "menorah") holds eight candles (plus one for lighting the rest).
     </dd>
     <dd>
      <b>Latkes:</b> Latkes are potato pancakes that are often served with applesauce at Hanukkah.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="kwanzaa"></a>
     <dt>
      <h2>Kwanzaa</h2>
     </dt>
     <dd>
      <b>The Holiday:</b> Kwanzaa is a time for African-Americans to think about their culture, history and community. The holiday was created by a teacher named Dr. Maulana Karenga in 1966.
     </dd>
     <dd>
      <b>Busuti and Gele:</b> These are articles of traditional African clothing. Many African-Americans dress up in traditional African clothing to celebrate the holiday.
     </dd>
     <dd>
      <b>Corn:</b> Corn is a special symbol of Kwanzaa. One piece of corn is put on the mkeka for each child in the family.
     </dd>
     <dd>
      <b>Kikombe:</b> A "Kikombe cha umoja" is the special cup of unity to celebrate the community of African-Americans.
     </dd>
     <dd>
      <b>Kinara and Mishumaa Saba:</b> A kinara is a special candleholder that holds seven candles called mishumaa saba.
     </dd>
     <dd>
      <b>Mkeka:</b> A mkeka is a traditional Kwanzaa mat. Objects that are symbolic of Kwanzaa are placed on the mat.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="newyear"></a>
     <dt>
      <h2>New Year</h2>
     </dt>
     <dd>
      <b>The Holiday:</b> Celebrating the start of a new year began in ancient times to mark the end of winter.
     </dd>
     <dd>
      <b>Resolutions:</b> A resolution is like a decision. At the beginning of a new year, people often make decisions about things they plan on doing over the next year.
     </dd>
     <dd>
      <b>Parties:</b> Lots of people dress up in party clothes and wear sparkly hats and tiaras to New Year's Eve parties. There's usually fun and yummy food at these celebrations, too!
     </dd>
     <dd>
      <b>Noisemaker:</b> At midnight, everyone yells "Happy New Year," makes lots of noise and throws confetti up in the air!
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="ramadan"></a>
     <dt>
      <h2>Ramadan and Eid ul-Fitr</h2>
     </dt>
     <dd>
      <b>The Holiday:</b> Eid ul-Fitr is the Muslim celebration that follows the Fast of Ramadan. Ramadan is the ninth month of the Islamic calendar. Muslims believe that during the month of Ramadan, their holy book (the Quran) was sent from God to guide the people.
     </dd>
     <dd>
      <b>Fast:</b> To fast is to avoid eating or drinking. During the Islamic month of Ramadan, Muslims do not eat or drink anything from sunrise to sunset.
     </dd>
     <dd>
      <b>Quran:</b> The Quran is the Muslim holy book.
     </dd>
     <dd>
      <b>Ma'amoul: </b>These are cookies filled with dates and nuts and sprinkled with powdered sugar. They are a special treat for Eid.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="stlucia"></a>
     <dt>
      <h2>St. Lucia</h2>
     </dt>
     <dd>
      <b>The Holiday:</b> The holiday of St. Lucia is a celebration of light on the longest night of the year. George's family in Sweden celebrates this holiday on December 13.
     </dd>
     <dd>
      <b>White Dress:</b> The child who is picked to be Lucia in the parade dresses up in a special white dress with a red sash.
     </dd>
     <dd>
      <b>Crown:</b> Lucia brings light to the darkest winter month in Sweden. The child dressed to be Lucia wears a wreath of five candles on her head.
     </dd>
     <dd>
      <b>Lussekatt Buns and Gingersnaps:</b> These are traditional sweet treats for the St. Lucia holiday.
     </dd>
     <dd>
      <b>Songbook: </b>People sing songs to celebrate St. Lucia Day.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="volunteering"></a>
     <dt>
      <h2>Volunteering</h2>
     </dt>
     <dd>
      <b>The Holiday:</b> You don't need a holiday to volunteer! You can help out in your community any time of year!
     </dd>
     <dd>
      <b>Apron: </b>When Binky volunteers, he helps serve dinner to the homeless, so he wears an apron.
     </dd>
     <dd>
      <b>Donation Bag: </b>There are lots of things you can do to help out. You can collect toys, canned food, furniture, and clothing and donate them to people who can't afford to buy them.
     </dd> <a href="#top" class="back-btn">Back to Top</a> <a name="solstice"></a>
     <dt>
      <h2>Winter Solstice (or Yule)</h2>
     </dt>
     <dd>
      <b>The Holiday:</b> Winter Solstice is the official first day of winter. It is the shortest day of the year. Winter Solstice is also called Yule. A long time ago, the Romans had big Yule celebrations.
     </dd>
     <dd>
      <b>Candle:</b> People light candles on Winter Solstice to symbolize sunlight.
     </dd>
     <dd>
      <b>Mistletoe:</b> Mistletoe is used as a Yuletide decoration to symbolize peace and love. But watch out -- it's poisonous!
     </dd>
     <dd>
      <b>Warm Winter Clothes:</b> Since Winter Solstice is celebrated in late December, it is usually pretty cold in most parts of the United States and Canada. (But December is summertime in countries south of the equator, like Australia.)
     </dd>
     <dd>
      <b>Yule Log: </b>The tradition of the Yule Log began a long time ago when people thought that burning a log would bring good luck.
     </dd> <a href="#top" class="back-btn">Back to Top</a>
    </dl>
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/clubs/poetry/index.html" id="rcClubPoetry">Poetry Club</a></li>
   <li><a href="/arthur/holiday/dressup/index.html" id="rcDressUp">DW Dress Up</a></li>
   <li><a href="/arthur/holiday/scrapbook/index.html" id="rcScrapbook">Sue Ellen's Scrapbook</a></li>
  </ul>
 </div>
</div>{% endblock %}

