<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name='author' content='fableVision, Inc.'>
<title>Dinosaur Train . Printables | PBS KIDS</title>
<meta name='description' content='dino train'>
<meta name='keywords' content='dino train'>
{% include 'template_includes/bridge_js_include.html' %}
</head>
<body style='background-color: white;'>
	<center>
	<div style='width: 700px; text-align: center; margin: 0px; padding: 0px;'>
		<a href='/dinosaurtrain/print/' title='printables'><img src='/dinosaurtrain/media/images/print/backBTN.jpg' border=0
			style='padding-right: 100px;'></a> 
		<a href='javascript:print();'><img src='/dinosaurtrain/media/images/print/printBTN.jpg' border=0></a>
		<br><a href='http://pbskids.org' title='PBS KIDS'><img src='/dinosaurtrain/media/images/print/pbsLogo.jpg' border=0></a><img src='/dinosaurtrain/media/images/print/title_{{pageNum}}.jpg'><a href='/dinosaurtrain/' title='Dinosaur Train'><img src='/dinosaurtrain/media/images/print/dinoLogo.jpg' border=0></a><br>
		<img src='/dinosaurtrain/media/images/print/dino_{{pageNum}}.jpg'>
	</div>
	</center>
	<table border=0><tr><td>


{% include 'template_includes/legacy_headband_include.html' %}
{% include 'template_includes/legacy_pbsk_js.html' %}








</td></tr></table>
</body>
</html>



