{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>We have a small trash can at home that we use for cardboard boxes and other recyclable objects. Whenever we drink a can of soda or lemonade, we put our empty cans in that bin if we are able to.</p> <p>— fufufufufu11, Age 14</p>
      <hr> <p>when the ligt is on and i dont need it i turn it off</p> <p>— mushroom100, Age 9</p>
      <hr> <p>On January 22,2010,I was finding a reusable knife and fork before I ate chicken-Nibbla with honey.When I was little,I said whatever is not useful and the ones I don't like from my school or Whinnie the Pooh desk,but when I was 5 I did not have it in my kitchen near my dinner table(I just call it dinner table,even though it's a table for eating.Thus,I just think when I was half-year 5,but not 5 in a half).</p> <p>— aliceinfargo, Age 7</p>
      <hr> <p>i put every thing on ebay</p> <p>— anakun, Age 99</p>
      <hr> <p>I try to reuse and recycle at home because I know that it is important. I feel good knowing that when I throw something in a green or blue bun that I am helping everyone have better future,</p> <p>— MocoCocoa, Age 11</p>
      <hr> <p>my home recycles cardboard,paper,plastic,We reuse water bottles</p> <p>— yeyes, Age 9</p>
      <hr> <p>at my house i recycle cardboard,cans,bottles and more!when i am 18 or 20 i will start a bussiness and plant tees,plants,and beautiful flowers.i really hope i can make a change to the enviroment because i love animals and flowers. please help make a change!</p> <p>— kiki1414, Age 10</p>
      <hr> <p>cans and news paper</p> <p>— david227, Age 11</p>
      <hr> <p>When my Parents have Trash or Something I take out to my Recycleing Bin</p> <p>— bljl13, Age 9</p>
      <hr> <p>i reuse and recycle cuss it helps the world for getting sick and fattening away that's way it is so importing to reuse recycle at home</p> <p>— cutecub213, Age 6</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=110" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=130" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3030<br><a href="detail_recyclehome.html@Start=110">Previous</a> | <a href="detail_recyclehome.html@Start=30">4</a> | <a href="detail_recyclehome.html@Start=40">5</a> | <a href="detail_recyclehome.html@Start=50">6</a> | <a href="detail_recyclehome.html@Start=60">7</a> | <a href="detail_recyclehome.html@Start=70">8</a> | <a href="detail_recyclehome.html@Start=80">9</a> | <a href="detail_recyclehome.html@Start=90">10</a> | <a href="detail_recyclehome.html@Start=100">11</a> | <a href="detail_recyclehome.html@Start=110">12</a> | 13 | <a href="detail_recyclehome.html@Start=130">14</a> | <a href="detail_recyclehome.html@Start=140">15</a> | <a href="detail_recyclehome.html@Start=150">16</a> | <a href="detail_recyclehome.html@Start=160">17</a> | <a href="detail_recyclehome.html@Start=170">18</a> | <a href="detail_recyclehome.html@Start=180">19</a> | <a href="detail_recyclehome.html@Start=190">20</a> | <a href="detail_recyclehome.html@Start=200">21</a> | <a href="detail_recyclehome.html@Start=210">22</a> | <a href="detail_recyclehome.html@Start=130">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=16"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

