{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>I recycle empty milk jugs by making them into bird houses or bird feeders.</p> <p>— Kiwi444, Age 10</p>
      <hr> <p>I use florescent lightbulbs they last longer. and I shred pencils[with a knife or scissors] and use it for mulch.Guadalaysia</p> <p>— Guadalaysia, Age 11</p>
      <hr> <p>I like to make crafts with things that are regularly thrown away. If you don't like to craft, then you can try to find someone who does. It's a great way to recycle. You can hold a party and have a contest to see who can make the most interesting thing(s) with plastic containers, popsicle sticks, and other things that usually get thrown away. Or you and your friends can make the crafts using those things and maybe you can sell them and raise money to protect our planet! Give it a try! Who knows? Maybe you'll come up with something great and useful! Use your imaganation and get going!!!! :) A.A.D.</p> <p>— A.A.D., Age 13</p>
      <hr> <p>At my house we try to reuse old juice pouches to make a purse/ bag or even a wallet!!!</p> <p>— nvw99, Age 10</p>
      <hr> <p>My Mom Recycle when the yougurt is done she take the yogurt box and she replace my cereals</p> <p>— amulu320, Age 9</p>
      <hr> <p>we should recycle plastic because it Considered one of the safest plastics, #5 plastic is used for packaging items such as yogurt, cottage cheese, margarine and vitamins, and is contained in food wraps and bottle tops. It is one of the least expensive plastics to make. However, the process of recycling plastic #5 is less efficient than other plastics, and the end result has little market value. hope u like what i wrote (&gt;-&lt;) hehe</p> <p>— xlittlearchx, Age 8</p>
      <hr> <p>you could save the envioment by planting trees and you could use glass cups rather then foal cups! dont even try to litter!and when you cant drink more water you could plant it on the plants so try your best to take care. maybe you could check more on the computer remember keep the earth healthy! from, Lareb</p> <p>— Lareb, Age 9</p>
      <hr> <p>I use the plastic bags from goccery stores as stuffing for the stuffed animals and things like that I make. This year I made a whole set of teddy bears for my little cousins and the plastic bags are easy to shape and stuff. It is also tottaly eco friendly!</p> <p>— Mary, Age 11</p>
      <hr> <p>At my house my mom sometimes dose not recycle. So i have to tell her 'Mom that you can recycle!'</p> <p>— rav4robin, Age 8</p>
      <hr> <p>I try to look in our trash can [without putting my hands in it] and see if any- thing can go in the recycling.</p> <p>— kittycat62, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=200" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=220" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3030<br><a href="detail_recyclehome.html@Start=200">Previous</a> | <a href="detail_recyclehome.html@Start=120">13</a> | <a href="detail_recyclehome.html@Start=130">14</a> | <a href="detail_recyclehome.html@Start=140">15</a> | <a href="detail_recyclehome.html@Start=150">16</a> | <a href="detail_recyclehome.html@Start=160">17</a> | <a href="detail_recyclehome.html@Start=170">18</a> | <a href="detail_recyclehome.html@Start=180">19</a> | <a href="detail_recyclehome.html@Start=190">20</a> | <a href="detail_recyclehome.html@Start=200">21</a> | 22 | <a href="detail_recyclehome.html@Start=220">23</a> | <a href="detail_recyclehome.html@Start=230">24</a> | <a href="detail_recyclehome.html@Start=240">25</a> | <a href="detail_recyclehome.html@Start=250">26</a> | <a href="detail_recyclehome.html@Start=260">27</a> | <a href="detail_recyclehome.html@Start=270">28</a> | <a href="detail_recyclehome.html@Start=280">29</a> | <a href="detail_recyclehome.html@Start=290">30</a> | <a href="detail_recyclehome.html@Start=300">31</a> | <a href="detail_recyclehome.html@Start=220">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=16"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

