{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>i love to reuse those cardboard tiolet paper rolls. one time my sister and i tried to make a huge mailbox for my room out of those and shoe boxes.</p> <p>— clover, Age 10</p>
      <hr> <p>I live in an apartment building and we don't get recycleing and the recycling plant isn't exactly nearby any ideas of how I can convince my mom to make a trip to plan? Or to recycle w/out going to the plant? Thanks! I Heart the EARTH!!!!</p> <p>— ecogirl2009, Age 11</p>
      <hr> <p>Whenever I see trash at home I always put it in the recycle bin.So I want everyone to take care of of the earth.So if you see any trash put it in the recycle bin or trash can.</p> <p>— 12amygirl, Age 8</p>
      <hr> <p>At my home we reuse the backs of already used paper to print things and write and draw and color. We also recycle all the paper and stuff with the recycling sign at the bottom of it at the recycling center. REDUCE,REUSE,RECYCLE!!!!!!!!!!</p> <p>— pocky9978, Age 9</p>
      <hr> <p>Well my family buys bottles of water from walmart but only ONCE then we use those bottles and clean them again so we only buy new bottles of water when we don't have enough like when they break</p> <p>— sallyburger1, Age 9</p>
      <hr> <p>I Try to tell my mom to reuse and recycle.It is fun,thow if you see a paper on the floor you pick it up rite.</p> <p>— gracie, Age 7</p>
      <hr> <p>I reuse water bottles and paper. Also, I try to recycle paper at my house.</p> <p>— sofa135, Age 15</p>
      <hr> <p>I always reuse paper. Help save trees! My sister doesn't though. (sigh).</p> <p>— johnny34, Age 10</p>
      <hr> <p>Before I throw away anything, I look at it and think if there is anything that I can do with the object that can be fun and cool.I do fun crafts with them.After I am done and my projects is starting to break from the edges, I then recycle it.</p> <p>— snowfairy123, Age 10</p>
      <hr> <p>I use boxs to make a doll house .I rip The box Then I paint The box .</p> <p>— paula, Age 7</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=370" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=390" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2971<br><a href="detail_recyclehome.html@Start=370">Previous</a> | <a href="detail_recyclehome.html@Start=290">30</a> | <a href="detail_recyclehome.html@Start=300">31</a> | <a href="detail_recyclehome.html@Start=310">32</a> | <a href="detail_recyclehome.html@Start=320">33</a> | <a href="detail_recyclehome.html@Start=330">34</a> | <a href="detail_recyclehome.html@Start=340">35</a> | <a href="detail_recyclehome.html@Start=350">36</a> | <a href="detail_recyclehome.html@Start=360">37</a> | <a href="detail_recyclehome.html@Start=370">38</a> | 39 | <a href="detail_recyclehome.html@Start=390">40</a> | <a href="detail_recyclehome.html@Start=400">41</a> | <a href="detail_recyclehome.html@Start=410">42</a> | <a href="detail_recyclehome.html@Start=420">43</a> | <a href="detail_recyclehome.html@Start=430">44</a> | <a href="detail_recyclehome.html@Start=440">45</a> | <a href="detail_recyclehome.html@Start=450">46</a> | <a href="detail_recyclehome.html@Start=460">47</a> | <a href="detail_recyclehome.html@Start=470">48</a> | <a href="detail_recyclehome.html@Start=390">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=16"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

