{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>My dad when he recieves paper he doesn't need anymore from his work, he gives it to me and my little sisters. (I know it's wrong grammar though. lol.) And we paint on it or draw on it. ******* My family recycles WATER BOTTLES. LOTS OF EM!! AND other things you can too. ******* We also uses backs of paper.</p> <p>— alexia99, Age 10</p>
      <hr> <p>I reuse water bottles lunch boxes and penceil boxes!!!!!!</p> <p>— Blackin, Age 7</p>
      <hr> <p>when i am finished drawing something and i want to draw something else i use the back of the paper and hang it on my closet or on the refrigerator which helps use less trees to make paper.</p> <p>— maxine, Age 6</p>
      <hr> <p>I reuse plastic bags.</p> <p>— applesugar, Age 8</p>
      <hr> <p>I love the earth and I think everyone should do the three R's! Whenever my family gets takeout we use ultensils from home. i always remind my mom to bring a plastic bag when she goes to buy groceries.also, for lunch i wash out water bottles and reuse them. at home i use milk cartons to make my compost! newpapers are always in the recycle bin. my toys are also donated so they can be loved shoes, too!</p> <p>— earth1230, Age 6</p>
      <hr> <p>Im gonna make my box into a recycling box where i put my stuff that recycling in my box</p> <p>— judy, Age 7</p>
      <hr> <p>I have recycling bins at my house so when they are full we go to a recycling plant! We get new boxes from BJ"s!</p> <p>— waterhart01, Age 7</p>
      <hr> <p>I and my mom reuse towels for baths and showers.</p> <p>— Dogcuter76, Age 8</p>
      <hr> <p>My family returns retunable bottles and cans at the grocery store, and recycles plastic, aluminum cans, glass, oil, and paper. We go to the recycling center about 3 times a month.</p> <p>— Aloha66, Age 10</p>
      <hr> <p>At my house we reuse plastic things like plastis bowls, and plastis forks,spoons and knives that we get from resteraunts. We also use both sides of the paper.</p> <p>— hannah, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=390" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=410" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2971<br><a href="detail_recyclehome.html@Start=390">Previous</a> | <a href="detail_recyclehome.html@Start=310">32</a> | <a href="detail_recyclehome.html@Start=320">33</a> | <a href="detail_recyclehome.html@Start=330">34</a> | <a href="detail_recyclehome.html@Start=340">35</a> | <a href="detail_recyclehome.html@Start=350">36</a> | <a href="detail_recyclehome.html@Start=360">37</a> | <a href="detail_recyclehome.html@Start=370">38</a> | <a href="detail_recyclehome.html@Start=380">39</a> | <a href="detail_recyclehome.html@Start=390">40</a> | 41 | <a href="detail_recyclehome.html@Start=410">42</a> | <a href="detail_recyclehome.html@Start=420">43</a> | <a href="detail_recyclehome.html@Start=430">44</a> | <a href="detail_recyclehome.html@Start=440">45</a> | <a href="detail_recyclehome.html@Start=450">46</a> | <a href="detail_recyclehome.html@Start=460">47</a> | <a href="detail_recyclehome.html@Start=470">48</a> | <a href="detail_recyclehome.html@Start=480">49</a> | <a href="detail_recyclehome.html@Start=490">50</a> | <a href="detail_recyclehome.html@Start=410">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=16"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

