{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>I TRY TO HELP RECYCLE EACH DAY.</p> <p>— MAHELETH, Age 8</p>
      <hr> <p>I did so many, that I can't say all of the reasons! But I'll say some. I reuse and recycle paper. That is a small thing, but still good for earth.</p> <p>— mon135, Age 8</p>
      <hr> <p>My family reycycles old bottles, cans, junk mail, news papers. and sends old close to north dacota.</p> <p>— lark18, Age 9</p>
      <hr> <p>I use grocery bags over again.If we need wine at the store,we use a cloth bag.</p> <p>— applesugar, Age 8</p>
      <hr> <p>When my family comes from the grocery store, we put the plastic bags in shelve to reuse them.</p> <p>— Bria, Age 9</p>
      <hr> <p>i reuse ordinary water bottles so that the same bottles don't go into the trash.</p> <p>— max, Age 7</p>
      <hr> <p>We recycle aluminum, glass, plastic, and paper. I color/draw on both sides of paper.</p> <p>— 5Diamond, Age 5</p>
      <hr> <p>my family and i recycle aluminum cans,plastic plates that aren't dirty, and we make compost.</p> <p>— jj404rr101, Age 12</p>
      <hr> <p>I make gifts out of newspaper and boxes.</p> <p>— roadrunner57, Age 9</p>
      <hr> <p>I recycle paper,plastic bottles,boxes,newspapers,and magazines.I also reuse all of these things.For example, I use both sides of paper.I reuse plastic bottles instead of buying a new one. I decorate un-used boxes and make them into rockets and cars for my 1-5 year old cousins.In fact once when I was 7 I found a box taller than I was which I decorated and made it a playhouse. My Grandpa cut a door and 3 windows into the box.With magazines and newspapers I cut up pictures that I like and make them into collages onto my notebooks and pencil holder.When I'm finished my notebooks and pencil holder looks so cool! This is a really geat craft if you want to freshen up youer supplies before you go to school!</p> <p>— jessica29, Age 11</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=410" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=430" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 2971<br><a href="detail_recyclehome.html@Start=410">Previous</a> | <a href="detail_recyclehome.html@Start=330">34</a> | <a href="detail_recyclehome.html@Start=340">35</a> | <a href="detail_recyclehome.html@Start=350">36</a> | <a href="detail_recyclehome.html@Start=360">37</a> | <a href="detail_recyclehome.html@Start=370">38</a> | <a href="detail_recyclehome.html@Start=380">39</a> | <a href="detail_recyclehome.html@Start=390">40</a> | <a href="detail_recyclehome.html@Start=400">41</a> | <a href="detail_recyclehome.html@Start=410">42</a> | 43 | <a href="detail_recyclehome.html@Start=430">44</a> | <a href="detail_recyclehome.html@Start=440">45</a> | <a href="detail_recyclehome.html@Start=450">46</a> | <a href="detail_recyclehome.html@Start=460">47</a> | <a href="detail_recyclehome.html@Start=470">48</a> | <a href="detail_recyclehome.html@Start=480">49</a> | <a href="detail_recyclehome.html@Start=490">50</a> | <a href="detail_recyclehome.html@Start=500">51</a> | <a href="detail_recyclehome.html@Start=510">52</a> | <a href="detail_recyclehome.html@Start=430">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=16"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

