{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>we recycle at home plastic bottles</p> <p>— Shanon, Age 9</p>
      <hr> <p>I asked my mom if i can have another garbage can for my room. One for trash and one for recyclable trash.</p> <p>— yuneisy456, Age 9</p>
      <hr> <p>we reuse shopping bags and some times bottles we recycle cardboard and bottles and paper</p> <p>— Gabriel, Age 12</p>
      <hr> <p>i do it by takeing the recycleing stuff and make it into new stuff</p> <p>— silly643, Age 6</p>
      <hr> <p>I THINK TO RE CYCLE SO YOU CAN SAVE POWER</p> <p>— AETTA, Age 7</p>
      <hr> <p>I try to recycle allthat i can like paper plastic alumium pop bottels stuff liike that peace out, raegan</p> <p>— leann, Age 12</p>
      <hr> <p>I try to collect all the water bottles in my house so i will be greener.</p> <p>— ladybird6610, Age 7</p>
      <hr> <p>I recycle everything! I recycle bottles, cans, paper, and I help the environment in other ways too! In school, we are learning about the environment. I hope I can show my teacher this website soon!</p> <p>— 55449pink, Age 10</p>
      <hr> <p>I recycle paper and things that need to.</p> <p>— doggirl993, Age 7</p>
      <hr> <p>I try to reuse water bottles,paper and plastic bags and I save aluminum cans and take the tabs and cans to the recycling center.</p> <p>— miso, Age 12</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=620" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=640" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3997<br><a href="detail_recyclehome.html@Start=620">Previous</a> | <a href="detail_recyclehome.html@Start=540">55</a> | <a href="detail_recyclehome.html@Start=550">56</a> | <a href="detail_recyclehome.html@Start=560">57</a> | <a href="detail_recyclehome.html@Start=570">58</a> | <a href="detail_recyclehome.html@Start=580">59</a> | <a href="detail_recyclehome.html@Start=590">60</a> | <a href="detail_recyclehome.html@Start=600">61</a> | <a href="detail_recyclehome.html@Start=610">62</a> | <a href="detail_recyclehome.html@Start=620">63</a> | 64 | <a href="detail_recyclehome.html@Start=640">65</a> | <a href="detail_recyclehome.html@Start=650">66</a> | <a href="detail_recyclehome.html@Start=660">67</a> | <a href="detail_recyclehome.html@Start=670">68</a> | <a href="detail_recyclehome.html@Start=680">69</a> | <a href="detail_recyclehome.html@Start=690">70</a> | <a href="detail_recyclehome.html@Start=700">71</a> | <a href="detail_recyclehome.html@Start=710">72</a> | <a href="detail_recyclehome.html@Start=720">73</a> | <a href="detail_recyclehome.html@Start=640">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

