{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Do You Try To Reuse And Recycle At Home? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatdoyoutrytoreuse.jpg" alt="What do you try to reuse and recycle at home?" width="486" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_home.gif" alt="What do you try to reuse and recycle at home?"> <p>my dad drinks soda alot and im trying to recycle those cans -graysongdl</p> <p>— graysongdl, Age 10</p>
      <hr> <p>I try to not use the sink so much. Insted, I use germ-x.</p> <p>— Tutenstien1, Age 8</p>
      <hr> <p>i tell my mom i thought it would fun to recycle she said sure so we started to put a lot of boxes in the recycle box and i also use both sides of paper and when i take tests i use the back side of the paper if it's blank and it helps out the earth. p.s always remember to go green and reduce , reuse , recycle. peace out peeps.</p> <p>— mbundy, Age 9</p>
      <hr> <p>cans</p> <p>— charly, Age 5</p>
      <hr> <p>I recycel useing old thing in too other new things.And I use old sticks to make stuff. I live In S.C</p> <p>— Milkforever, Age 8</p>
      <hr> <p>I always draw on printer paper which already have been used once.</p> <p>— RandomCode28, Age 10</p>
      <hr> <p>I reuse things by taking my little brother's diaper box when it is finished and turning it into a recycling bin. My family puts stuff they don't need inside it and at the end of every month I take all the things and make something new out of it ! It's really fun ! ! ! ! ! !</p> <p>— safeway, Age 10</p>
      <hr> <p>I use both side of paper and reuse straws.</p> <p>— hck6, Age 9</p>
      <hr> <p>I have a garden and I try to take good care of it .</p> <p>— beth0981, Age 7</p>
      <hr> <p>plastic bottles</p> <p>— nico, Age 3</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_recyclehome.html@Start=670" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_recyclehome.html@Start=690" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 3997<br><a href="detail_recyclehome.html@Start=670">Previous</a> | <a href="detail_recyclehome.html@Start=590">60</a> | <a href="detail_recyclehome.html@Start=600">61</a> | <a href="detail_recyclehome.html@Start=610">62</a> | <a href="detail_recyclehome.html@Start=620">63</a> | <a href="detail_recyclehome.html@Start=630">64</a> | <a href="detail_recyclehome.html@Start=640">65</a> | <a href="detail_recyclehome.html@Start=650">66</a> | <a href="detail_recyclehome.html@Start=660">67</a> | <a href="detail_recyclehome.html@Start=670">68</a> | 69 | <a href="detail_recyclehome.html@Start=690">70</a> | <a href="detail_recyclehome.html@Start=700">71</a> | <a href="detail_recyclehome.html@Start=710">72</a> | <a href="detail_recyclehome.html@Start=720">73</a> | <a href="detail_recyclehome.html@Start=730">74</a> | <a href="detail_recyclehome.html@Start=740">75</a> | <a href="detail_recyclehome.html@Start=750">76</a> | <a href="detail_recyclehome.html@Start=760">77</a> | <a href="detail_recyclehome.html@Start=770">78</a> | <a href="detail_recyclehome.html@Start=690">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

