{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Play Maker | PBS Kids' %}
{% set desc = 'Find out what cast members should where depending on the ARTHUR character role that will be played. Check out the ilst of costume pieces for each part.' %}
{% set keywds = 'costumes, characters, roles, casting, performance, play, Francine' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-fcc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="playHeader">Play Maker</h4></a>
  <ul id="printSideNav">
   <li><a href="script.html"><span>Script</span></a></li>
   <li><a href="props/index.html"><span>Props</span></a></li>
   <li><a href="masks/index.html"><span>Masks</span></a></li>
   <li><a href="costumes.html" class="selected"><span>Costumes</span></a></li>
   <li><a href="tips/index.html"><span>Tips</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Costumes</h1>
    </div>
   </div>
   <div id="costumesContent">
    <p>Click on the characters below to find out what each one should wear in the play <a href="script.html">D.W. Gets Her Library Card</a>. Then try to find clothes you can use to dress like them. You can print out some cool <a href="masks/index.html">masks</a>, too!</p>
    <ul id="pmCostumesIcons">
     <li id="arthurPM"><a href="#pg-arthur" class="selected">Arthur</a></li>
     <li id="busterPM"><a href="#pg-buster">Buster</a></li>
     <li id="binkyPM"><a href="#pg-arthur">Binky</a></li>
     <li id="dwPM"><a href="#pg-dw">D.W.</a></li>
     <li id="francinePM"><a href="#pg-francine">Francine</a></li>
     <li id="timmyPM"><a href="#pg-timmy">Timmy</a></li>
     <li id="tommyPM"><a href="#pg-tommy">Tommy</a></li>
     <li id="turnerPM" class="no-padding"><a href="#pg-turner">Ms. Turner</a></li>
    </ul>
    <ul class="print-pages" id="playMakerCostumes">
     <li id="arthur">
      <dl>
       <dt>
        Arthur
       </dt>
       <dd>
        brown glasses
       </dd>
       <dd>
        yellow sweater
       </dd>
       <dd>
        white collar
       </dd>
       <dd>
        blue jeans
       </dd>
       <dd>
        red and white sneakers
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_arthur.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="buster">
      <dl>
       <dt>
        Buster
       </dt>
       <dd>
        light blue shirt
       </dd>
       <dd>
        orange collar
       </dd>
       <dd>
        orange cuffs
       </dd>
       <dd>
        blue jeans
       </dd>
       <dd>
        red and white sneakers
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_buster.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="binky">
      <dl>
       <dt>
        Binky
       </dt>
       <dd>
        orange shirt
       </dd>
       <dd>
        gray belt
       </dd>
       <dd>
        blue jeans
       </dd>
       <dd>
        brown shoes
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_binky.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="dw">
      <dl>
       <dt>
        D.W.
       </dt>
       <dd>
        pink jumper
       </dd>
       <dd>
        white shirt
       </dd>
       <dd>
        white tights
       </dd>
       <dd>
        blue shoes
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_dw.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="francine">
      <dl>
       <dt>
        Francine
       </dt>
       <dd>
        yellow barrettes
       </dd>
       <dd>
        brown shirt
       </dd>
       <dd>
        orange cuffs
       </dd>
       <dd>
        orange collar
       </dd>
       <dd>
        blue jeans
       </dd>
       <dd>
        red and white sneakers
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_francine.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="timmy">
      <dl>
       <dt>
        Timmy
       </dt>
       <dd>
        blue kerchief
       </dd>
       <dd>
        yellow shirt
       </dd>
       <dd>
        purple shorts
       </dd>
       <dd>
        white socks
       </dd>
       <dd>
        green sneakers
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_timmy.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="tommy">
      <dl>
       <dt>
        Tommy
       </dt>
       <dd>
        red kerchief
       </dd>
       <dd>
        yellow shirt
       </dd>
       <dd>
        purple shorts
       </dd>
       <dd>
        white socks
       </dd>
       <dd>
        green sneakers
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_tommy.gif" width="207" height="296" alt="Costumes" border="0"></li>
     <li id="turner">
      <dl>
       <dt>
        Ms. Turner
       </dt>
       <dd>
        square glasses
       </dd>
       <dd>
        tan sweater
       </dd>
       <dd>
        gold necklace
       </dd>
       <dd>
        purple dress
       </dd>
       <dd>
        gold watcher
       </dd>
       <dd>
        bracelet
       </dd>
       <dd>
        brown shoes
       </dd>
      </dl> <img src="/arthur/i/print/playmaker/costumes_turner.gif" width="207" height="296" alt="Costumes" border="0"></li>
    </ul> <img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/wardrobe/index.html" id="rcWardrobe">Muffy's Wardrobe</a></li>
   <li><a href="/arthur/holiday/dressup/index.html" id="rcDressUp">D.W.'s Dress Up</a></li>
  </ul>
 </div>
</div>{% endblock %}

