{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Print . Play Maker | PBS Kids' %}
{% set desc = 'Read the script for D.W. Gets Her Library Card. Print it out for cast members so they can learn their lines if you plan on performing it.' %}
{% set keywds = 'script, performance, play' %}
{% set specialInclude = '' %}
{% set selectedNav = 'print' %}
{% set noSitewide = true %}
{% set printableJs = true %}


{% block mainContent %}<div id="content" class="bg-fcc">
 <div class="ruler"></div>
 <div class="print-instr"><a href="index.html"><h4 id="playHeader">Play Maker</h4></a>
  <ul id="printSideNav">
   <li><a href="script.html" class="selected"><span>Script</span></a></li>
   <li><a href="props/index.html"><span>Props</span></a></li>
   <li><a href="masks/index.html"><span>Masks</span></a></li>
   <li><a href="costumes.html"><span>Costumes</span></a></li>
   <li><a href="tips/index.html"><span>Tips</span></a></li>
  </ul>
 </div>
 <div id="printableArea">
  <div class="printable-content">
   <div class="printable-nav">
    <div class="print-title-left">
     <h1>Script</h1>
    </div>
    <div class="print-btn-right">
     <span class="print-btn-one">Print This Page</span>
    </div>
   </div>
   <div id="script">
    <h4 class="center">D.W. Gets Her Library Card</h4>
    <h4 class="center">by Peter Hirsch</h4> <br>
    <p>The script tells the actors what to say and what to do. Here's the script for a play called "D.W. Gets Her Library Card." Print it, and use it to put on a show. (After you've done this play, try writing a play of your own!)</p>
    <h4>Characters:</h4>
    <p>Arthur, Binky, Buster, D.W., Francine, Timmy Tibble, Tommy Tibble, Ms. Turner</p>
    <h4><a href="costumes.html">Costumes:</a></h4>
    <p>What to wear for each character.</p>
    <h4><a href="props/index.html">Props:</a></h4>
    <p>Things you'll need for this play.</p>
    <h4>Setting:</h4>
    <p>This play takes place in the Reading Room of a library.</p>
    <p>(<strong>Francine</strong>, <strong>Binky</strong>, and <strong>Buster</strong> are reading. <strong>D.W.</strong> walks into the library and goes right to a table on which a Big Book is placed. <strong>Arthur</strong> follows her.)</p>
    <h4>D.W.</h4>
    <p>Arthur, look!<br> It's my favorite book!<br> It's big and it's pretty and it's all about frogs!<br> Will you read it to me?<br> Please, please, please, please, please?</p>
    <h4>Arthur</h4>
    <p>No, D.W. That's a baby book.<br> I only read books for big kids.</p>
    <h4>D.W.</h4>
    <p>Then will you check it out for me with your library card?</p>
    <h4>Arthur</h4>
    <p>Are you kidding?!<br> Do you know what would happen if my friends found out I checked out a baby book?</p>
    <h4>D.W.</h4>
    <p>What?</p>
    <h4>Arthur</h4>
    <p>This!</p>
    <p>(He points to <strong>Francine</strong>, <strong>Binky</strong>, and <strong>Buster</strong>, who go to the center of the room.)</p>
    <h4>Francine</h4>
    <p>Hey guys!<br> Arthur checked out a baby book on frogs!</p>
    <h4>Buster</h4>
    <p>I guess that makes him a baby!</p>
    <h4>Binky</h4>
    <p>Yeah. Or maybe even a baby frog! A tadpole!!</p>
    <h4>Buster, Binky, and Francine</h4>
    <p>HA! HA! HA! HA! HA! HA! HA!</p>
    <p>(Buster, Binky, and Francine freeze.)</p>
    <h4>Arthur</h4>
    <p>That's what would happen!<br> Sorry, D.W., I can't do it.<br> Now let me read in peace.</p>
    <p>(<strong>Arthur</strong> picks up a book and starts reading. <strong>Buster</strong>, <strong>Binky</strong>, and <strong>Francine</strong> go back to their seats. <strong>D.W.</strong> puts the book back on the table.)</p>
    <h4>D.W.</h4>
    <p>I wish I had my own library card.<br> Then I could take out that book all by myself and have Mom or Dad read it to me at home.</p>
    <p>(<strong>Tommy</strong> and <strong>Timmy Tibble </strong>enter the Reading Room. Each holds a library card.)</p>
    <h4>Timmy Tibble</h4>
    <p>Let's take out a book on snakes with our library cards!</p>
    <h4>Tommy Tibble</h4>
    <p>No! Spiders!</p>
    <h4>Timmy Tibble</h4>
    <p>Snakes!</p>
    <h4>Tommy Tibble</h4>
    <p>Spiders!</p>
    <h4>D.W.</h4>
    <p>Tommy and Timmy Tibble, you have your own library cards?<br> How did you get them?</p>
    <h4>Tommy Tibble</h4>
    <p>Should we tell her?</p>
    <h4>Timmy Tibble</h4>
    <p>No way! If she gets her own card, she'll take out every book in the library and then there will be none left for us!</p>
    <p>(<strong>Tommy</strong> and <strong>Timmy</strong> hide behind a table.)</p>
    <h4>D.W.</h4>
    <p>I'll ask Francine how to get my own library card.</p>
    <p>(D.W. goes to Francine, who's now watching a video screen.)</p>
    <h4>Francine</h4>
    <p>Hi, D.W.!<br> I'm watching a video about Babe Ruth!</p>
    <h4>D.W.</h4>
    <p>You can watch videos in the library?</p>
    <h4>Francine</h4>
    <p>Sure you can!<br> Look! He just hit a home run!<br> Listen to the fans going wild!</p>
    <h4>All Kids (except D.W. and Arthur)</h4>
    <p>HOORAY!!!</p>
    <h4>Arthur</h4>
    <p>Shh! Keep it down!<br> I'm trying to read!</p>
    <h4>Francine</h4>
    <p>I love baseball!<br> I'm going to practice my batting right now!</p>
    <p>(<strong>Francine</strong> leaves. <strong>D.W.</strong> goes up to <strong>Binky</strong>, who is wearing headphones and humming.)</p>
    <h4>Binky</h4>
    <p>Hi, D.W.!<br> This is a great jazz CD!</p>
    <h4>D.W.</h4>
    <p>Wow! You can listen to music in the library, too?</p>
    <h4>Binky</h4>
    <p>What?</p>
    <h4>D.W. (Louder.)</h4>
    <p>I said, "You can listen to music in the library, too?"</p>
    <h4>Binky</h4>
    <p>I can't hear you!<br> I'm listening to music!</p>
    <p>(<strong>D.W.</strong> goes over to <strong>Buster</strong>, who is snoring loudly.)</p>
    <h4>D.W.</h4>
    <p>Hey, Buster.<br> Buster!</p>
    <p>(<strong>Buster</strong> wakes up and quickly picks up a book.)</p>
    <h4>Buster</h4>
    <p>I wasn't asleep!<br> I was studying!<br> Oh, it's only you, D.W.</p>
    <h4>D.W.</h4>
    <p>How do I get my own library card?</p>
    <h4>Buster</h4>
    <p>Oh, just ask... just ask...</p>
    <p>(<strong>Buster</strong> falls asleep again before he can finish his sentence.)</p>
    <h4>D.W.</h4>
    <p>Just ask WHO???</p>
    <h4>Buster</h4>
    <p>(LOUD SNORE)</p>
    <h4>D.W.</h4>
    <p>Will someone please help me get my own library card!!!</p>
    <p>(<strong>Ms. Turner</strong> comes up to <strong>D.W.</strong>)</p>
    <h4>Ms. Turner</h4>
    <p>I'll help you, D.W.<br> I'm Ms. Turner and I work at the library.<br> All you have to do is sign your name on this sheet of paper.</p>
    <h4>D.W.</h4>
    <p>Sign my name?<br> But I can't do that!<br> I've never done it before!</p>
    <h4>Ms. Turner</h4>
    <p>Try it.<br> I bet you can do it.</p>
    <p>(<strong>Tommy</strong> and <strong>Timmy Tibble</strong> pop their heads up from behind the desk.)</p>
    <h4>Tommy and Timmy Tibble</h4>
    <p>We bet she can't do it!</p>
    <p>(<strong>Ms. Turner</strong> hands <strong>D.W.</strong> the pencil.)</p>
    <h4>D.W.</h4>
    <p>I'm scared!<br> What if I forget my name?<br> Oh, no!<br> I did forget my name!<br> WHAT'S MY NAME?!</p>
    <h4>All Kids (except D.W. and Arthur)</h4>
    <p>D.W.!</p>
    <h4>Arthur</h4>
    <p>Shh! Keep it down!<br> I'm trying to read!</p>
    <p>(<strong>D.W.</strong> writes her name on a sheet of paper. <strong>Ms. Turner</strong> hands her a library card.)</p>
    <h4>Ms. Turner</h4>
    <p>Well done.<br> Here's your library card, D.W.</p>
    <h4>D.W.</h4>
    <p>My very own library card!</p>
    <p>(<strong>D.W.</strong> picks up the book from the table. She goes to <strong>Arthur</strong> and shows him her library card.)</p>
    <h4>D.W.</h4>
    <p>Check it out, Arthur.<br> My very own library card.<br> Now I can take this book out without your help!</p>
    <h4>Arthur</h4>
    <p>Hey, I know that book!<br> It's called Hopalong the Frog!<br> It was the first book I ever took out!</p>
    <h4>D.W.</h4>
    <p>You took out a baby book?</p>
    <h4>Arthur</h4>
    <p>It's not a baby book.<br> It's a book for big kids about frogs.<br> Listen...</p>
    <p>(<strong>Arthur</strong> opens the book and begins to read.)</p>
    <h4>Arthur</h4>
    <p>"Hopalong the frog hopped onto a log, and the log started floating away..."</p>
    <h4>D.W.</h4>
    <p>Boy, the things a kid has to do to get her older brother to read to her. Sheesh!</p>
    <h4>The End.</h4> <img src="../../i/print/copyright.gif" width="530" height="49" alt="" border="0" class="copyright">
   </div>
   <div class="print-bg-top"></div>
   <div class="print-bg-btm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/video/karaoke.html" id="rcKaraoke">Karaoke</a></li>
   <li><a href="/arthur/games/wardrobe/index.html" id="rcWardrobe">Muffy's Wardrobe</a></li>
   <li><a href="/arthur/games/aboutface/index.html" id="rcAboutFace">About Face</a></li>
  </ul>
 </div>
</div>{% endblock %}

