{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Asthma' %}

{% set videoCss = true %}{% set specialInclude = '' %}
{% set bodyClass = 'green' %}

{%block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><h2><a href="../asthma/">Asthma</a></h2></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Asthma</a>
   </div>
   <ul>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="top-idx group"><img class="col7" src="../img/asthma_home_1.png" alt="Arthur holds a baseball and glove, Buster holds an inhaler.">
  <div class="col5">
   <p class="mar-t-sm">Dealing with asthma can be challenging. Here are some resources, games, and videos to help. Kids with asthma can lead active, healthy lives — just ask Buster!</p>
  </div>
  <ul class="menu-topics">
   <li class="topic">
    <div>
     <div class="caret-menu"></div>The Basics
    </div>
    <ul>
     <li><a href="background-info.html">Background Information</a></li>
     <li><a href="tips1.html">Tips for Grown-ups</a></li>
     <li><a href="tips-kids.html">Tips for Kids</a></li>
     <li><a href="resources.html">Resources</a></li>
     <li><a href="educators.html">For Educators</a></li>
    </ul></li>
   <li class="topic middle long">
    <div>
     <div class="caret-menu"></div>Games &amp; <br class="force">Activities
    </div>
    <ul>
     <li><a href="triggers1.html">Asthma Triggers</a></li>
     <li><a href="story1.html">Buster's Breathless Story</a></li>
     <li><a href="lung-defender.html">Buster Baxter: Lung Defender</a></li>
     <li><a href="stay-active.html">Stay Active with Asthma</a></li>
     <li><a href="quiz.html">Asthma Quiz</a></li>
    </ul></li>
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Videos
    </div>
    <ul>
     <li><a href="episode.html">Buster's Breathless</a></li>
     <li><a href="asthma-rap.html">Asthma Rap</a></li>
     <li><a href="kids-action.html">Kids in Action</a></li>
     <li><a href="expert-video.html">Expert Q&amp;A</a></li>
    </ul></li>
  </ul>
  <h3>Featured Topic Video</h3>
  <div id="player" class="col7vid single-video">
   <div class="video-wrapper widescreen">
    <video id="video-player"></video>
   </div>
   <div id="player-controls" class="hidden">
    <div class="play-pause vid-ctl-btn"><button title="Play/Pause"> <span id="icon-play" class="vid-ctl-icon">play</span> <span id="icon-pause" class="vid-ctl-icon">pause</span> </button>
    </div>
    <div class="show-fullscreen vid-ctl-btn removed"><button title="Full-screen"> <span id="icon-fs" class="vid-ctl-icon">full-screen</span> </button>
    </div>
    <div class="toggle-captions vid-ctl-btn"><button title="Captions on/off"> <span id="icon-captoff" class="vid-ctl-icon">CC</span> <span id="icon-capton" class="vid-ctl-icon">CC</span> </button>
    </div>
    <div class="mute-unmute vid-ctl-btn"><button title="Mute/Unmute"> <span id="icon-mute" class="vid-ctl-icon">mute</span> <span id="icon-unmute" class="vid-ctl-icon">unmute</span> </button>
    </div>
    <div class="timer-remaining">
     ––:––
    </div>
    <div class="scrubber">
     <div class="scrubber-track">
      <button class="scrubber-thumb"></button>
     </div>
    </div>
   </div>
  </div>
  <div class="col5 vid-txt">
   <script>var videoID="4a0f28df-66ed-42e1-9fdd-bb9a77fd2883";</script>
   <p>Buster is worried that his friends won't treat him the same way after they learn he has asthma. Buster discovers that, as long as he takes care of himself and controls his asthma, he can still do everything he did before.</p>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/video2.js"></script><script src="https://pbskids.org/pbsk/video/lib/jquery.pbskidsvideo.min-latest.js"></script><script src="../js/main.js"></script><script src="../js/jquery-1.10.2.min.js"></script>' %}