{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Asthma Resources . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'green' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><h2><a href="../asthma/">Asthma</a></h2></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Asthma</a>
   </div>
   <ul>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="triggers1.html">Asthma Triggers</a></li>
        <li><a href="story1.html">Buster's Breathless Story</a></li>
        <li><a href="lung-defender.html">Buster Baxter: Lung Defender</a></li>
        <li><a href="stay-active.html">Stay Active with Asthma</a></li>
        <li><a href="quiz.html">Asthma Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Buster's Breathless</a></li>
        <li><a href="asthma-rap.html">Asthma Rap</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Resources</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/shared_resources.png" alt="D.W. pulls a red wheelbarrow full of books">
   <div class="col7">
    <div class="banner">
     <p>There are lots of great books, websites, and organizations that can help you and your family learn about and cope with asthma. Here are some to get you started. Check with your doctor, school nurse, or librarian for other helpful resources.</p>
    </div>
   </div>
  </div>
  <ul class="menu-topics">
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Websites
    </div>
    <ul>
     <li><a href="http:www.aaaai.org/">American Academy of Allergy, Asthma &amp; Immunology</a></li>
     <li><a href="http:www.aafa.org/">Allergy and Asthma Foundation</a></li>
     <li><a href="http:www.aanma.org/">Allergy and Asthma Network/Mothers of Asthmatics</a></li>
     <li><a href="http:www.acaai.org/allergist/Pages/default.aspx">American College of Allergy, Asthma &amp; Immunology</a></li>
     <li><a href="http:www.lung.org/lung-disease/asthma/">American Lung Association</a></li>
     <li><a href="http:asthmakids.ca/">AsthmaKids.ca</a></li>
     <li><a href="http:www.cdc.gov/asthma/">Centers for Disease Control and Prevention</a></li>
     <li><a href="http:www.healthychildren.org/">HealthyChildren.org</a></li>
     <li><a href="http:www.nasn.org/ToolsResources/Asthma">National Association of School Nurses</a></li>
     <li><a href="http:www.niaid.nih.gov/topics/asthma/Pages/default.aspx">National Institute of Allergy and Infectious Diseases</a></li>
     <li><a href="http:www.noattacks.org/">NoAttacks.Org</a></li>
     <li><a href="http:www.starlight.org/asthma/">Quest for the Code</a></li>
     <li><a href="http:www.epa.gov/asthma/">United States Environmental Protection Agency</a></li>
    </ul></li>
   <li class="topic middle">
    <div>
     <div class="caret-menu"></div>Books
    </div>
    <ul>
     <li><cite>Abby's Asthma and the Big Race</cite> by Theresa Golding</li>
     <li><cite>ABC's of Asthma</cite> by Kim Gosselin</li>
     <li><cite>Asthma (Rookie Read-About Health series)</cite> by Sharon Gordon</li>
     <li><cite>Brianna Breathes Easy: A Story About Asthma</cite> by Virginia Kroll</li>
     <li><cite>How to Deal with Asthma</cite> by Lynette Robbins</li>
     <li><cite>I Have Asthma</cite> by Jennifer Moore-Mallinos</li>
     <li><cite>The Lion Who Had Asthma</cite> by Jonathan London</li>
     <li><cite>Peter, the Knight Who Had Asthma</cite> by Janna Matthews</li>
     <li><cite>Taking Asthma to School</cite> by Barbara Mitchell</li>
     <li><cite>Why Is It So Hard to Breathe?</cite> by Pat Thomas</li>
     <li><cite>Allergies and Asthma: What Every Parent Needs to Know</cite> by Michael J. Welch</li>
     <li><cite>The Asthma Sourcebook, 3rd edition</cite> by Francis V. Adams</li>
     <li><cite>The Everything Parent's Guide to Children with Asthma</cite> by Janice Simmons</li>
     <li><cite>Guide to Asthma: How to Help Your Child Live a Healthier Life</cite> by Children's Hospital of Philadephia</li>
     <li><cite>100 Questions &amp; Answers About Your Child's Asthma</cite> by Claudia S. Plottel</li>
    </ul></li>
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Apps
    </div>
    <ul>
     <li><a href="http:itunes.apple.com/us/genre/ios-medical/id6020?mt=8">Apple iTunes</a></li>
     <li><a href="http:play.google.com/store/apps/category/MEDICAL">Google Play</a></li>
    </ul></li>
  </ul>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="triggers1.html">Asthma Triggers</a></li>
        <li><a href="story1.html">Buster's Breathless Story</a></li>
        <li><a href="lung-defender.html">Buster Baxter: Lung Defender</a></li>
        <li><a href="stay-active.html">Stay Active with Asthma</a></li>
        <li><a href="quiz.html">Asthma Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Buster's Breathless</a></li>
        <li><a href="asthma-rap.html">Asthma Rap</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}