{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Buster\'s Breathless . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'green' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><h2><a href="../asthma/">Asthma</a></h2></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><a href="../resilience/">Resilience</a></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Asthma</a>
   </div>
   <ul>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../resilience/">Resilience</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="story group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="triggers1.html">Asthma Triggers</a></li>
        <li><a href="story1.html">Buster's Breathless Story</a></li>
        <li><a href="lung-defender.html">Buster Baxter: Lung Defender</a></li>
        <li><a href="stay-active.html">Stay Active with Asthma</a></li>
        <li><a href="quiz.html">Asthma Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Buster's Breathless</a></li>
        <li><a href="asthma-rap.html">Asthma Rap</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>Games &amp; Activities</h3>
  <h4>Buster's Breathless</h4>
  <hr>
  <div class="pgnum">
   <span>7 of 8</span>
  </div> <img class="col5" src="../img/asthma_story_7.png" alt="Buster stands next to a chart showing the lungs.">
  <div class="col7">
   <p>"Next my body produces a thick mucus that makes it even harder to breathe and that's when I begin to cough," says Buster. "That's why I keep my inhaler with me. Once I breathe in my medicine and get away from what is making my asthma worse, I will start to feel better. Now open your eyes, the imaginary field trip is over!"</p>
  </div> <a href="story8.html" class="btn-std flt-r">Next</a>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="triggers1.html">Asthma Triggers</a></li>
        <li><a href="story1.html">Buster's Breathless Story</a></li>
        <li><a href="lung-defender.html">Buster Baxter: Lung Defender</a></li>
        <li><a href="stay-active.html">Stay Active with Asthma</a></li>
        <li><a href="quiz.html">Asthma Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">Buster's Breathless</a></li>
        <li><a href="asthma-rap.html">Asthma Rap</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}