{% extends 'lions/includes/lionsToGoPtPage.html.twig' %}
{% set pageTitle = ' . Audio Downloads | PBS KIDS!' %}
{% set hasMiddleStyle = false %}


{% block mainContent %}<div id="top">
 <div id="topkids"><a href="http://pbskids.org/"><img src="../images/nav/pbskids_girl.gif" alt="PBS Kids" width="51" height="63" border="0" id="kids_logo"></a><br> <img src="../images/nav/banner_end.gif" alt="" width="86" height="75">
 </div>
 <div id="topnav">
  <a href="../../"><img src="../images/nav/btl_logo.gif" alt="Between the Lions" width="126" height="97" border="0" class="img-roll"></a><a href="../"><img src="../images/nav/pt_banner.gif" alt="Parents and Teachers" width="622" height="97" border="0"></a><br> <a href="../lionstogo/"><img src="../images/nav/lionstogo_on.gif" alt="Lions To Go" width="107" height="61" border="0" class="img-roll"></a><a href="../families/"><img src="../images/nav/for_families_off.gif" alt="For Families" width="107" height="61" border="0" class="img-roll"></a><a href="../educators/"><img src="../images/nav/for_educators_off.gif" alt="For Educators" width="107" height="61" border="0" class="img-roll"></a><a href="../site/"><img src="../images/nav/aboutsite.gif" alt="About the Site" width="107" height="61" border="0" class="img-roll"></a><a href="../program/"><img src="../images/nav/aboutprogram.gif" alt="About the Program" width="107" height="61" border="0" class="img-roll"></a><a href="../schedule/"><img src="../images/nav/tvschedule.gif" alt="TV Schedule" width="107" height="61" border="0" class="img-roll"></a><a href="../help/"><img src="../images/nav/help.gif" alt="Help" width="130" height="61" border="0" class="img-roll"></a>
 </div>
</div><div id="main_content">
 <div id="main_left">
  <p><a href="audio.html"><b>Audio Downloads</b></a></p> <!--p><a href="video_story.html">Story Videos</a></p-->
  <p><a href="video_music.html">Music Videos</a></p>
  <p><a href="video_character.html">Character Videos</a></p>
  <p><a href="help_downloads.html">Help with Downloads</a></p>
 </div>
 <div id="main_middle">
  <div class="area1">
   <h1 id="h-au_downloads">Audio Downloads</h1>
   <p>Download some music and sing along with the Lions at home or in the car! These song collections can be played on your computer or on a portable music player that can play mp3 files.</p>
   <p>Just right-click the "Download" button (or control-click on a Mac) and choose "Download linked file" to save it to your computer.</p>
   <p>For more information, visit <a href="help_downloads.html">Help with Downloads</a>. Before downloading, please review our <a href="../site/copyright.html">Terms of Use</a>.</p> <br>
  </div> <br clear="left">
  <div class="togo_main">
   <div class="togo_dl aud">
    <div class="info">
     <h2>Music Mix 1</h2>
     <p>DJs Leona and Lionel host this music mix of your favorite Between the Lions songs.</p> <b>Featuring:</b>
     <ul>
      <li>There's a Gorilla!</li>
      <li>Upper &amp; Lower Case</li>
      <li>Many Meanings of Cool</li>
      <li>Two Sounds Made By C</li>
     </ul>
    </div>
    <div class="viddl">
     <img src="../images/lionstogo/music_leona.gif" alt="Leona at the microphone" width="148" height="183" border="0" class="icon"><br><a href="media/lions_musicmix1.mp3"><img src="../images/lionstogo/download_aud_button.gif" alt="Download" width="100" height="44" border="0" class="dl"></a>
    </div>
   </div>
   <div class="togo_dl aud">
    <div class="info">
     <h2>Music Mix 2</h2>
     <p>Leona and Lionel are back with a second mix of hit songs from the show.</p> <b>Featuring:</b>
     <ul>
      <li>Homophones</li>
      <li>When Two Vowels Go Walking</li>
      <li>Hung Up On H</li>
      <li>W Trouble</li>
     </ul>
    </div>
    <div class="viddl">
     <img src="../images/lionstogo/music_lionel.gif" alt="Lionel at the microphone" width="148" height="183" border="0" class="icon"><br><a href="media/lions_musicmix2.mp3"><img src="../images/lionstogo/download_aud_button.gif" alt="Download" width="100" height="44" border="0" class="dl"></a>
    </div>
   </div>
   <div class="togo_dl aud">
    <div class="info">
     <h2>Music Mix 3</h2>
     <p>Leona and Lionel invite you to get up and dance to their third mix of popular songs from the show.</p> <b>Featuring:</b>
     <ul>
      <li>Two Sounds Made by G</li>
      <li>Look It Up</li>
      <li>I Love Contractions</li>
      <li>Dance in Smartypants</li>
     </ul>
    </div>
    <div class="viddl">
     <img src="../images/lionstogo/leona_mix_2.gif" alt="Lionel with headphones" width="148" height="183" border="0" class="icon"><br><a href="media/lions_musicmix3.mp3"><img src="../images/lionstogo/download_aud_button.gif" alt="Download" width="100" height="44" border="0" class="dl"></a>
    </div>
   </div>
   <div class="togo_dl aud">
    <div class="info">
     <h2>Music Mix 4</h2>
     <p>Leona and Lionel's fourth mix of songs is a special group featuring some of their favorite letters and sounds.</p> <b>Featuring:</b>
     <ul>
      <li>Double e, ee</li>
      <li>Without an ing</li>
      <li>Q Without U</li>
      <li>Shush (sh)</li>
     </ul>
    </div>
    <div class="viddl">
     <img src="../images/lionstogo/lionel_mix_2.gif" alt="Lionel with headphones" width="148" height="183" border="0" class="icon"><br><a href="media/lions_musicmix4.mp3"><img src="../images/lionstogo/download_aud_button.gif" alt="Download" width="100" height="44" border="0" class="dl"></a>
    </div>
   </div>
  </div>
 </div> <br clear="all"><br>
</div>{% endblock %}

