{% extends 'lions/includes/lionsToGoPtPage.html.twig' %}
{% set pageTitle = ' . Help with Downloads | PBS KIDS!' %}
{% set hasMiddleStyle = false %}


{% block mainContent %}<div id="top">
 <div id="topkids"><a href="http://pbskids.org/"><img src="../images/nav/pbskids_boy.gif" alt="PBS Kids" width="51" height="63" border="0" id="kids_logo"></a><br> <img src="../images/nav/banner_end.gif" alt="" width="86" height="75">
 </div>
 <div id="topnav">
  <a href="../../"><img src="../images/nav/btl_logo.gif" alt="Between the Lions" width="126" height="97" border="0" class="img-roll"></a><a href="../"><img src="../images/nav/pt_banner.gif" alt="Parents and Teachers" width="622" height="97" border="0"></a><br> <a href="../lionstogo/"><img src="../images/nav/lionstogo_on.gif" alt="Lions To Go" width="107" height="61" border="0" class="img-roll"></a><a href="../families/"><img src="../images/nav/for_families_off.gif" alt="For Families" width="107" height="61" border="0" class="img-roll"></a><a href="../educators/"><img src="../images/nav/for_educators_off.gif" alt="For Educators" width="107" height="61" border="0" class="img-roll"></a><a href="../site/"><img src="../images/nav/aboutsite.gif" alt="About the Site" width="107" height="61" border="0" class="img-roll"></a><a href="../program/"><img src="../images/nav/aboutprogram.gif" alt="About the Program" width="107" height="61" border="0" class="img-roll"></a><a href="../schedule/"><img src="../images/nav/tvschedule.gif" alt="TV Schedule" width="107" height="61" border="0" class="img-roll"></a><a href="../help/"><img src="../images/nav/help.gif" alt="Help" width="130" height="61" border="0" class="img-roll"></a>
 </div>
</div><div id="main_content">
 <div id="main_left">
  <p><a href="audio.html">Audio Downloads</a></p> <!--p><a href="video_story.html">Story Videos</a></p-->
  <p><a href="video_music.html">Music Videos</a></p>
  <p><a href="video_character.html">Character Videos</a></p>
  <p><a href="help_downloads.html"><b>Help with Downloads</b></a></p>
 </div>
 <div id="main_middle">
  <div class="area1">
   <h1 id="h-help_downloads">Help with Downloads</h1>
   <p>Having trouble with the Between the Lions downloads? We're here to help!</p>
   <h2>Here's how to download Between the Lions videos and music to your computer.</h2>
   <ol>
    <li>Find a video or song that you wish to download.</li>
    <li>Download the video or song in one of two ways:<br><br> <p><b>Windows PC</b> - use the "right" mouse button and click on the orange "Download" button on the web page. Then choose "Download linked file" from the menu that appears.</p><p></p><p><b>Macintosh</b> - Hold down the "control" button on your keyboard, and then click on the "Download" button on the web page. Then choose "Download linked file" from the menu that appears.</p></li>
    <li>The video or song you selected should begin downloading to your computer.</li>
   </ol>
   <h2>Playing Downloaded Files on your Computer</h2> <br> <b>Audio Downloads</b><br>
   <p>All Between the Lions audio downloads are in the "mp3" format. Mp3 files can be played using popular jukebox software such as <a href="http://www.apple.com/itunes/download/" title="Apple iTunes">Apple iTunes</a>, <a href="http://www.microsoft.com/windows/windowsmedia/download/AllDownloads.aspx" title="Windows Media Player download center">Windows Media Player</a>, and many others. Check the Help documentation that came with your software for more information on how to use it to play mp3 files.</p> <b>Video Downloads</b><br>
   <p>All Between the Lions video downloads are in the "m4v" format. M4v files can be played using popular video player software such as <a href="http://www.apple.com/itunes/download/" title="Apple iTunes">Apple iTunes</a>, <a href="http://www.microsoft.com/windows/windowsmedia/download/AllDownloads.aspx" title="Windows Media Player download center">Windows Media Player</a>, and many others. Check the Help documentation that came with your software for more information on how to use it to play m4v files.</p>
   <h2>Playing Downloaded files on your portable media player</h2> <br>
   <p>The Between the Lions video and audio downloads can be played on many popular portable media players.</p>
   <p>Each portable media player has a different process for moving audio and video files from your computer onto the portable device.</p>
   <p>For specific instructions on how to load and play video and music, visit the support Web site for your specific device. Below are links to the support Web sites for a few popular media player devices:</p>
   <ul>
    <li><a href="http://www.apple.com/support/ipod/family/" title="Apple iPod">Apple iPod</a></li>
    <li><a href="http://www.creative.com/support/" title="Creative Zen">Creative Zen</a></li>
    <li><a href="http://www.zune.net/en-US/support/howto/start/" title="Microsoft Zune">Microsoft Zune</a></li>
    <li><a href="http://www.us.playstation.com/Support/PSP/Movies/s_psp_mv_SA.html" title="Sony PSP (PlayStation Portable)">Sony PSP (PlayStation Portable)</a></li>
   </ul> <br>
  </div>
 </div> <br clear="all">
</div>{% endblock %}

