{% extends 'lions/includes/lionsToGoPtPage.html.twig' %}
{% set pageTitle = ' . Lions to Go | PBS KIDS!' %}
{% set hasMiddleStyle = true %}


{% block mainContent %}<div id="top">
 <div id="topkids"><a href="http://pbskids.org/"><img src="../images/nav/pbskids_girl.gif" alt="PBS Kids" width="51" height="63" border="0" id="kids_logo"></a><br> <img src="../images/nav/banner_end.gif" alt="" width="86" height="75">
 </div>
 <div id="topnav">
  <a href="../../"><img src="../images/nav/btl_logo.gif" alt="Between the Lions" width="126" height="97" border="0" class="img-roll"></a><a href="../"><img src="../images/nav/pt_banner.gif" alt="Parents and Teachers" width="622" height="97" border="0"></a><br> <a href="../lionstogo/"><img src="../images/nav/lionstogo_on.gif" alt="Lions To Go" width="107" height="61" border="0" class="img-roll"></a><a href="../families/"><img src="../images/nav/for_families_off.gif" alt="For Families" width="107" height="61" border="0" class="img-roll"></a><a href="../educators/"><img src="../images/nav/for_educators_off.gif" alt="For Educators" width="107" height="61" border="0" class="img-roll"></a><a href="../site/"><img src="../images/nav/aboutsite.gif" alt="About the Site" width="107" height="61" border="0" class="img-roll"></a><a href="../program/"><img src="../images/nav/aboutprogram.gif" alt="About the Program" width="107" height="61" border="0" class="img-roll"></a><a href="../schedule/"><img src="../images/nav/tvschedule.gif" alt="TV Schedule" width="107" height="61" border="0" class="img-roll"></a><a href="../help/"><img src="../images/nav/help.gif" alt="Help" width="130" height="61" border="0" class="img-roll"></a>
 </div>
</div><div id="main_content">
 <div id="main_left"><!-- p><a href="index.html"><b>Lions to Go!</b></a></p -->
  <p><a href="audio.html">Audio Downloads</a></p> <!-- p><a href="video_story.html">Story Videos</a></p -->
  <p><a href="video_music.html">Music Videos</a></p>
  <p><a href="video_character.html">Character Videos</a></p>
  <p><a href="help_downloads.html">Help with Downloads</a></p>
 </div>
 <div id="main_middle">
  <div class="area1"><!-- h1 id="h-lionstogo">Lions to Go</h1 --> <img src="../images/lionstogo/landing_lionel.gif" alt="Lions To Go: Enjoy Between the Lions stories and songs wherever you are!" width="416" height="311" border="0"> <!-- p>The Between  the Lions stories and songs you love are now available To Go! Browse through our selection of clips, and take all the fun with you wherever you go.</p -->
   <p>Here's how to get started:</p>
   <ol>
    <li>Visit the <a href="audio.html">Audio Downloads</a>, <!-- a href="video_story.html">Story Videos</a>, --> <a href="video_music.html">Music Videos</a>, and <a href="video_character.html">Character Videos</a> pages to find your favorite Between the Lions clips.</li>
    <li>Review our <a href="../site/copyright.html">Terms of Use</a>.</li>
    <li>Download as many clips as you want to your computer, put them on your portable media player, and enjoy!</li>
    <li>Check back periodically for updates.</li>
   </ol> For more information, visit <a href="help_downloads.html">Help with Downloads</a>. <br><br>
  </div>
  <div id="newpill" class="area5"><img src="../images/lionstogo/landing_side_top.gif" alt="What's New" width="186" height="102"> <a href="media/lions_musicmix4.mp3"><img src="../images/lionstogo/lionel_mix_2.gif" alt="Lionel with headphones" width="148" height="183" border="0"></a><br>
   <div class="info">
    <h3>Audio Download</h3>
    <h2><a href="media/lions_musicmix4.mp3">Music Mix 4</a></h2> Leona and Lionel's fourth mix of songs is a special group featuring some of their favorite letters and sounds.
   </div> <img src="../images/lionstogo/landing_side_bottom.gif" alt="" width="186" height="105">
   <div style="padding:0 0 12px 6px;margin:0;background:#eff988;">
    <a href="http://itunes.apple.com/us/app/monkey-match/id407251250"><img src="../images/mm_app_promo.jpg" alt="" width="174" height="65" border="0"></a>
   </div>
  </div>
 </div> <br clear="all">
</div>{% endblock %}

