{% extends 'lions/includes/lionsToGoPtPage.html.twig' %}
{% set pageTitle = ' . Video Downloads | PBS KIDS!' %}
{% set hasMiddleStyle = false %}


{% block mainContent %}<div id="top">
 <div id="topkids"><a href="http://pbskids.org/"><img src="../images/nav/pbskids_girl.gif" alt="PBS Kids" width="51" height="63" border="0" id="kids_logo"></a><br> <img src="../images/nav/banner_end.gif" alt="" width="86" height="75">
 </div>
 <div id="topnav">
  <a href="../../"><img src="../images/nav/btl_logo.gif" alt="Between the Lions" width="126" height="97" border="0" class="img-roll"></a><a href="../"><img src="../images/nav/pt_banner.gif" alt="Parents and Teachers" width="622" height="97" border="0"></a><br> <a href="../lionstogo/"><img src="../images/nav/lionstogo_on.gif" alt="Lions To Go" width="107" height="61" border="0" class="img-roll"></a><a href="../families/"><img src="../images/nav/for_families_off.gif" alt="For Families" width="107" height="61" border="0" class="img-roll"></a><a href="../educators/"><img src="../images/nav/for_educators_off.gif" alt="For Educators" width="107" height="61" border="0" class="img-roll"></a><a href="../site/"><img src="../images/nav/aboutsite.gif" alt="About the Site" width="107" height="61" border="0" class="img-roll"></a><a href="../program/"><img src="../images/nav/aboutprogram.gif" alt="About the Program" width="107" height="61" border="0" class="img-roll"></a><a href="../schedule/"><img src="../images/nav/tvschedule.gif" alt="TV Schedule" width="107" height="61" border="0" class="img-roll"></a><a href="../help/"><img src="../images/nav/help.gif" alt="Help" width="130" height="61" border="0" class="img-roll"></a>
 </div>
</div><div id="main_content">
 <div id="main_left">
  <p><a href="audio.html">Audio Downloads</a></p> <!--p><a href="video_story.html">Story Videos</a></p-->
  <p><a href="video_music.html">Music Videos</a></p>
  <p><a href="video_character.html"><b>Character Videos</b></a></p>
  <p><a href="help_downloads.html">Help with Downloads</a></p>
 </div>
 <div id="main_middle">
  <div class="area1">
   <h1 id="h-vi_dlcharacter">Character Videos</h1>
   <p>Download clips of some of your favorite from Between the Lions characters. These videos can be played on your computer, or on portable media players such as the Apple iPod, Creative Zen, Microsoft Zune or Sony PSP (PlayStation Portable).</p>
   <p>It's easy to do. Just right-click the "Download" button (or control-click on a Mac) and choose "Download linked file" to save that file to your computer.</p>
   <p>For more information, visit <a href="help_downloads.html">Help with Downloads</a>. Before downloading, please review our <a href="../site/copyright.html">Terms of Use</a>.</p> <br>
  </div> <br clear="left">
  <div>
   <div class="togo_dl">
    <div class="info">
     <h2>The Amazing Trampolini Brothers</h2>
     <p>This trio of animated circus performers demonstrates comparative and superlative adjectives.</p> <b>Featuring:</b>
     <ul>
      <li>Good, Better, Best</li>
      <li>Noisy, Noisier, Noisiest</li>
      <li>Tasty, Tastier, Tastiest</li>
      <li>Brave, Braver, Bravest</li>
     </ul><br>
    </div>
    <div class="viddl">
     <a href="media/lions_trampolini.m4v.zip"><img src="../images/lionstogo/screen_trampolini.gif" alt="The Amazing Trampolini Brothers" width="148" height="102" border="0"><br><img src="../images/lionstogo/download_button.gif" alt="download" width="148" height="81" border="0"></a>
    </div>
   </div>
   <div class="togo_dl" style="margin-bottom:30px;">
    <div class="info">
     <h2>Arty Smartypants: Short Story Time</h2>
     <p>Arty narrates a series of easy-reader storybooks that help build vocabulary and fluency.</p> <b>Featuring:</b>
     <ul>
      <li>Bump! Thump! Splat!</li>
      <li>Pop Pop Pop Pop Pop</li>
      <li>Edna Bakes Cookies</li>
      <li>Tabby at Night</li>
      <li>Worm is Stuck</li>
     </ul><br>
    </div>
    <div class="viddl">
     <a href="media/lions_arty.m4v.zip"><img src="../images/lionstogo/screen_arty_stories.gif" alt="screenshots from five short stories" width="148" height="102" border="0"><br><img src="../images/lionstogo/download_button.gif" alt="download" width="148" height="81" border="0"></a>
    </div>
   </div>
   <div class="togo_dl">
    <div class="info">
     <h2>If You Were</h2>
     <p>These nonfiction videos show what life is like as various animals.</p> <b>Featuring:</b>
     <ul>
      <li>If You Were: hippopotamus</li>
      <li>If You Were: spider crab</li>
      <li>If You Were: boa constrictor</li>
      <li>If You Were: blue whale</li>
     </ul><br>
    </div>
    <div class="viddl">
     <a href="media/lions_ifyouwere.mp4.zip"><img src="../images/lionstogo/screen_ifyouwere.gif" alt="screenshots from if you were short stories" width="148" height="102" border="0"><br><img src="../images/lionstogo/download_button.gif" alt="download" width="148" height="81" border="0"></a>
    </div>
   </div>
   <div class="togo_dl">
    <div class="info">
     <h2>Poems</h2>
     <p>This collection of illustrated poems introduces the world of poetry and rhyme.</p> <b>Featuring:</b>
     <ul>
      <li>You Never Hear the Garden Grow</li>
      <li>Brush Dance</li>
      <li>Ode to the Washing Machine</li>
      <li>Tuning Up</li>
      <li>Baby Chick</li>
     </ul><br>
    </div>
    <div class="viddl">
     <a href="media/lions_poems.mp4.zip"><img src="../images/lionstogo/screen_poems.gif" alt="screenshots from poems short stories" width="148" height="102" border="0"><br><img src="../images/lionstogo/download_button.gif" alt="download" width="148" height="81" border="0"></a>
    </div>
   </div>
  </div>
 </div> <br clear="all"><br>
</div>{% endblock %}

