{% extends 'lunchlab/includes/lunchLabPage.html.twig' %}
{% set pageTitle = 'Games' %}
{% set bodyId = 'games' %}


{% block mainContent %}<div id="containerContainer">
 <div id="pageLoader"></div>
 <div class="clearfix contentContainer">
  <div id="content" class="clearfix">
   <nav class="gamesNav">
    <a href="/lunchlab/games" class="games button minor">Games</a><a href="/lunchlab/printables" class="printables button minor">Printables</a>
   </nav>
   <div class="center">
    <div class="frame gameFeatured requires-flash">
     <div class="topRightCorner"></div>
     <div class="topLeftCorner"></div>
     <div class="bottomRightCorner"></div>
     <div class="bottomLeftCorner"></div>
     <div class="topBar"></div>
     <div class="bottomBar"></div>
     <div class="leftBar"></div>
     <div class="rightBar"></div><a href="/lunchlab/games/snacker-stacker"><img src="http://pbskids.org/lunchlab/assets/images/games/snacker-stacker-feature.jpg?v=3" alt="Snacker Stacker"></a>
    </div>
    <ul class="clearfix noStyle games">
     <li class=" requires-html	requires-webaudio"><a href="/lunchlab/games/food-truck"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Food Truck" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/food-truck.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff4">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has0"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/fresh-pick"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Fresh Pick" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/fresh-pick.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff4">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/snacker-stacker"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Snacker Stacker" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/snacker-stacker.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff3">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/delivery-day"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Sully's Delivery Day" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/delivery-day.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff3">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/carnival-countoff"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Freddy's Carnival Countoff" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/countoff.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff2">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has0"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/escape-from-greasy-world"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Escape From Greasy World" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/escape.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff4">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/hectic-harvest"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Hectic Harvest" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/hectic-harvest.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff3">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/hard-boiled"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Hard Boiled" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/hard-boiled.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff3">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/freestyle-fizz"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Freestyle Fizz" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/rollerskating.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff4">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/supermarket-mania"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Supermarket Mania" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/supermarket.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff3">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/food-camp"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Food Camp Game" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/food-camp.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff2">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/switcheroo"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Freddy's Switcheroo" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/sneaky-switcheroo.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff3">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has1"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/boogie-buffet"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Mixie's Boogie Buffet" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/boogie-buffet.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff1">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/balance-bots"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Fizzy's Balance Bots" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/balance-bots.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff4">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class="requires-flash	"><a href="/lunchlab/games/memory-match"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Sully the Cell's Memory Match" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/memory-match.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff1">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class=" requires-html	"><a href="/lunchlab/games/safety-tips"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Safety Tips" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/safety-tips.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff1">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has0"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
     <li class=" requires-html	"><a href="/lunchlab/games/kitchen-tour"><img src="http://pbskids.org/lunchlab/assets/images/games/GameFrame.png" alt="Kitchen Tour with Mixie" class="gameFrame" style="background-image:url(http://pbskids.org/lunchlab/assets/images/games/kitchen-tour.jpg?v=3);">
       <div class="meta">
        <div class="difficulty diff1">
         <div class="pepper1"></div>
         <div class="pepper2"></div>
         <div class="pepper3"></div>
         <div class="pepper4"></div>
        </div>
        <div class="fizzyCoins has1"></div>
        <div class="leaderboard has0"></div>
       </div></a></li>
    </ul>
   </div>
  </div>
 </div>
</div>{% endblock %}

