{% extends 'lunchlab/includes/lunchLabPage.html.twig' %}
{% set pageTitle = 'Fizzy\'s Balance Bots . Games' %}
{% set bodyId = 'games' %}


{% block mainContent %}<div id="containerContainer">
 <div id="pageLoader"></div>
 <div class="clearfix contentContainer">
  <div id="content" class="clearfix">
   <div class="game loading" id="game" data-is-html="0" data-is-flash="1" data-is-webaudio="0" data-aspect="55.555555555556">
    <div class="clearfix gameControls">
     <button id="captionsButton"><span class="check"></span>Captions</button><button id="musicButton"><span class="check"></span>Music</button><button id="effectsButton"><span class="check"></span>Effects</button>
    </div>
    <div class="frame" style="width:100%; padding-bottom:55.555555555556%;">
     <div class="topRightCorner"></div>
     <div class="topLeftCorner"></div>
     <div class="bottomRightCorner"></div>
     <div class="bottomLeftCorner"></div>
     <div class="topBar"></div>
     <div class="bottomBar"></div>
     <div class="leftBar"></div>
     <div class="rightBar"></div>
     <div id="gameContent" data-name="BalanceBotGame" data-is-flash="1" data-is-html="0" data-game-id="2" data-game-width="900" data-game-height="500"></div>
    </div>
   </div>
  </div>
 </div>
</div>{% endblock %}

