{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Pal\'s About Me Page | PBS Kids' %}
{% set desc = 'Translation of dog-speak to people-speak is here on Pals profile page. Learn about his likes and dislikes and take a poll about bacon.' %}
{% set keywds = 'Pal, profile, intersts, favorites' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-cf9">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/pal_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/pal_top.swf", "pal", "960", "363", "9", "#ccff99");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "about");			   fo.addVariable("char", "pal");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="/arthur/friends/pal/photos.html" class="photoWall p-pal">Pal's photos</a>
  <div id="friendsContent">
   <h1>A little about me</h1>
   <hr class="friendsRuler">
   <dl id="aboutMe">
    <dt>
     Best Thing Ever:
    </dt>
    <dd>
     Rowr-wow! Mmmmmmm! (Tie between Arthur and bacon.)
    </dd>
    <dt>
     Worst Thing Ever:
    </dt>
    <dd>
     Bow-wow-wow-wow rrrrrrrrrrrrrrrrrr! (Nemo!)
    </dd>
    <dt>
     Favorite Adventure:
    </dt>
    <dd>
     Rarrarrar (*pant*) (*pant*) (Solving the Great Sock Mystery with Baby Kate.)
    </dd>
   </dl>
   <div id="pollWrapper" class="poll_bg_cf9">
    <div id="pollContent">
     <h2>My Poll</h2>
     <form action="/cgi-registry/poll/poll.pl" method="post" id="myPoll">
      <fieldset>
       <p>Woof ruff ruff? (Do you have any bacon?)</p>
       <ul>
        <li><input type="radio" name="q1" id="ans1" value="1" checked> <label for="ans1">Yes</label></li>
        <li><input type="radio" name="q1" id="ans2" value="2"> <label for="ans2">No</label></li>
       </ul>
      </fieldset> <input type="hidden" name="results" value="arthur/friends/pal/results.html"> <input type="hidden" name="site_id" value="arthur"> <input type="hidden" name="poll_id" value="pal"> <input type="hidden" name="question1.exists" value="true"> <a href="#p" onclick="document.forms[0].submit();" id="pollSubmitBtn">submit</a>
     </form>
    </div>
    <div id="pollBGBtm"></div>
   </div>
   <h1>My Favorite Books</h1>
   <hr class="friendsRuler">
   <ul id="myBooks">
    <li><img src="/arthur/i/friends/books/pal_book1.jpg" width="148" height="117" alt="The Adventures of Taxi Dog  book cover" border="0"> <h4>The Adventures of Taxi Dog</h4> <p>by Debra Barraca<br> I'd love to ride along with Maxi--he gets adopted by New York City taxi driver and rides along.</p></li>
    <li><img src="/arthur/i/friends/books/pal_book2.jpg" width="148" height="117" alt="And I Mean It, Stanley  book cover" border="0"> <h4>And I Mean It, Stanley</h4> <p>by Crosby Bonsall<br> There's an imaginary dog in this story--with a surprise ending.</p></li>
    <li><img src="/arthur/i/friends/books/pal_book3.jpg" width="148" height="117" alt="Art Dog  book cover" border="0"> <h4>Art Dog</h4> <p>by Thacher Hurd<br> Arthur Dog is an inspiration to all of us dogs: a mild-mannered museum guard during the day, he turns into an amazing artist at night.</p></li>
    <li><img src="/arthur/i/friends/books/pal_book4.jpg" width="148" height="117" alt="The First Dog  book cover" border="0"> <h4>The First Dog</h4> <p>by Jan Brett<br> Learn about a boy and his dog in prehistoric times.</p></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/aboutface/index.html" id="rcAboutFace">About Face</a></li>
   <li><a href="/arthur/print/fetch/index.html" id="rcFetch">Go Fetch!</a></li> <!--<li><a href="/arthur/video/games.html?pid=Y_T3v8L7o5oDcgUJ1WolP_eugXVWwq1i" id="rcVideoDetective">Video Detective</a></li>-->
  </ul>
 </div>
</div>{% endblock %}

