{% extends 'curiousgeorge/includes/templates/printable_page.html.twig' %}
{% block printableArea %}	<div id="print-nav">
		<a href="#" onclick="window.print(); return false;"><img src="/curiousgeorge/printables/img/nav_print.gif" alt="Print" width="157" height="74" class="ovr" /></a>
		<a href="glue.html" ><img src="/curiousgeorge/printables/img/nav_next.gif" alt="Next Page" width="134" height="74" class="ovr" /></a>
	</div>
	
<!-- end bbinclude -->
			
			<div id="printable">
		
<!-- #bbinclude "print_image.pl" -->
	<div id="img">
		<a href="#" onclick="window.print(); return false;"><img src="img/img_fold_boat_lg.gif" alt="Fold Boat" /></a>
	</div>{% endblock %}