{% extends 'curiousgeorge/includes/templates/carousel_page.html.twig' %}
{% set selectedNav = 'printables' %}
{% set pageTitle = 'Printables' %}
{% block bodyClass %}printables_index{% endblock %}
{% block areaBar %}		<div class="border">
			<a href="/curiousgeorge/printables/index.html"><img src="/curiousgeorge/printables/img/printables_header.gif" alt="Printables" class="" /></a><img src="/curiousgeorge/printables/img/p_wd_top.gif" alt="Click on an icon to see a bigger picture. Then print it." style="display:none;" />
		</div>{% endblock %}





{%block carouselContent %}		<div id="int-content">
			<div id="prev_page_paddle">
			<!-- if expr="$prev = /index/" -->
				<div class="vid-spacer"><a href="#"><img src="/curiousgeorge/printables/img/v_arrow_l.gif" alt="prev" class="ovr" /></a></div>
			<!-- else -->
				<!-- <div class="vid-spacer">&#160;</div> -->
			<!-- endif -->
			</div>
			<div id="uno-vid"><div id="carousel">
				<div class="pane_wrapper"><div class="index_pane">

					<div class="icon"><a href="/curiousgeorge/printables/christmas.html"><img src="img/p_icon_xmas1.gif" alt="Christmas" class="ovr" /></a><br /><a href="/curiousgeorge/printables/christmas.html">Christmas</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/friends.html"><img src="img/p_icon_friends.gif" alt="Friends" class="ovr" /></a><br /><a href="/curiousgeorge/printables/friends.html">Friends</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/racecars.html"><img src="img/p_icon_racecar.gif" alt="Racecars" class="ovr" /></a><br /><a href="/curiousgeorge/printables/racecars.html">Racecars</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/maple.html"><img src="img/p_icon_maple.gif" alt="Maple Sugaring" class="ovr" /></a><br /><a href="/curiousgeorge/printables/maple.html">Maple Sugaring</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/book.html"><img src="img/p_icon_book.gif" alt="Book Monkey" class="ovr" /></a><br /><a href="/curiousgeorge/printables/book.html">Book Monkey</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/auctioneer.html"><img src="img/p_icon_auctioneer.gif" alt="Auctioneer!" class="ovr" /></a><br /><a href="/curiousgeorge/printables/auctioneer.html">Auctioneer!</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/chameleon.html"><img src="img/p_icon_chameleon.gif" alt="Chameleon" class="ovr" /></a><br /><a href="/curiousgeorge/printables/chameleon.html">Chameleon</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/gnocchi_helps.html"><img src="img/p_icon_gnocchi_helps.gif" alt="Gnocci Helps" class="ovr" /></a><br /><a href="/curiousgeorge/printables/gnocchi_helps.html">Gnocci Helps</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/gnocchi_nap.html"><img src="img/p_icon_gnocchi_nap.gif" alt="Gnocci Naps" class="ovr" /></a><br /><a href="/curiousgeorge/printables/gnocchi_nap.html">Gnocci Naps</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/gnocchi_attacks.html"><img src="img/p_icon_gnocchi_attack.gif" alt="Gnocci Plays" class="ovr" /></a><br /><a href="/curiousgeorge/printables/gnocchi_attacks.html">Gnocci Plays</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/monkeymoney.html"><img src="img/p_icon_monkeymoney_b.gif" alt="Monkey Money" class="ovr" /></a><br /><a href="/curiousgeorge/printables/monkeymoney.html">Monkey Money</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/drawhun.html"><img src="img/p_icon_drawhun_b.gif" alt="Draw Hundley" class="ovr" /></a><br /><a href="/curiousgeorge/printables/drawhun.html">Draw Hundley</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/makescene.html"><img src="img/p_icon_make_y.gif" alt="Make a Scene" class="ovr" /></a><br /><a href="/curiousgeorge/printables/makescene.html">Make a Scene</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/tracks.html"><img src="img/p_icon_tracks_y.gif" alt="Animal Tracks" class="ovr" /></a><br /><a href="/curiousgeorge/printables/tracks.html">Animal Tracks</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/connectstars.html"><img src="img/p_icon_connectstars_r.gif" alt="Connect the Stars" class="ovr" /></a><br /><a href="/curiousgeorge/printables/connectstars.html">Connect the Stars</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/clock.html"><img src="img/p_icon_clock_y.gif" alt="Curious Clock" class="ovr" /></a><br /><a href="/curiousgeorge/printables/clock.html">Curious Clock</a></div>

				</div></div>
				<div class="pane_wrapper"><div class="index_pane">

					<div class="icon"><a href="/curiousgeorge/printables/fingerpals.html"><img src="img/p_icon_fingerpals_r.gif" alt="Finger Pals" class="ovr" /></a><br /><a href="/curiousgeorge/printables/fingerpals.html">Finger Pals</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/recipe.html"><img src="img/p_icon_recipe_y.gif" alt="Recipe" class="ovr" /></a><br /><a href="/curiousgeorge/printables/airplane.html">Recipe</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/match_vehicle.html"><img src="img/p_icon_match_vehicle.gif" alt="Match Vehicle" class="ovr" /></a><br /><a href="/curiousgeorge/printables/match_vehicle.html">Match Vehicle</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/spotrest.html"><img src="img/p_icon_spotrest_r.gif" alt="Spot Restaurant" class="ovr" /></a><br /><a href="/curiousgeorge/printables/spotrest.html">Spot Restaurant</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/dino.html"><img src="img/p_icon_dino_b.gif" alt="Dinosaur Bones" class="ovr" /></a><br /><a href="/curiousgeorge/printables/dino.html">Dinosaur Bones</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/banana.html"><img src="img/p_icon_banana.gif" alt="Banana" class="ovr" /></a><br /><a href="/curiousgeorge/printables/banana.html">Banana</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/maze.html"><img src="img/p_icon_maze.gif" alt="Maze" class="ovr" /></a><br /><a href="/curiousgeorge/printables/maze.html">Maze</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/count.html"><img src="img/p_icon_count.gif" alt="Count" class="ovr" /></a><br /><a href="/curiousgeorge/printables/count.html">Count</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/computer.html"><img src="img/p_icon_computer.gif" alt="Computer" class="ovr" /></a><br /><a href="/curiousgeorge/printables/computer.html">Computer</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/fold_boat.html"><img src="img/p_icon_fold_boat.gif" alt="Fold Boat" class="ovr" /></a><br /><a href="/curiousgeorge/printables/fold_boat.html">Fold Boat</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/glue.html"><img src="img/p_icon_glue.gif" alt="Glue" class="ovr" /></a><br /><a href="/curiousgeorge/printables/glue.html">Glue</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/cake.html"><img src="img/p_icon_cake.gif" alt="Cake" class="ovr" /></a><br /><a href="/curiousgeorge/printables/cake.html">Cake</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/peek.html"><img src="img/p_icon_peek.gif" alt="Peek" class="ovr" /></a><br /><a href="/curiousgeorge/printables/peek.html">Peek</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/draw_george.html"><img src="img/p_icon_draw_george.gif" alt="Draw George" class="ovr" /></a><br /><a href="/curiousgeorge/printables/draw_george.html">Draw George</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/airplane.html"><img src="img/p_icon_airplane.gif" alt="Airplane" class="ovr" /></a><br /><a href="/curiousgeorge/printables/airplane.html">Airplane</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/connect.html"><img src="img/p_icon_connect.gif" alt="Connect" class="ovr" /></a><br /><a href="/curiousgeorge/printables/connect.html">Connect</a></div>

				</div></div>
				<div class="pane_wrapper"><div class="index_pane">

					<div class="icon"><a href="/curiousgeorge/printables/match_food.html"><img src="img/p_icon_match_food.gif" alt="Match Food" class="ovr" /></a><br /><a href="/curiousgeorge/printables/match_food.html">Match Food</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/spot_theatre.html"><img src="img/p_icon_spot_theatre.gif" alt="Spot Theatre" class="ovr" /></a><br /><a href="/curiousgeorge/printables/spot_theatre.html">Spot Theatre</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/spot_hotel.html"><img src="img/p_icon_spot_hotel.gif" alt="Spot Hotel" class="ovr" /></a><br /><a href="/curiousgeorge/printables/spot_hotel.html">Spot Hotel</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/mail.html"><img src="img/p_icon_mail.gif" alt="Mail" class="ovr" /></a><br /><a href="/curiousgeorge/printables/mail.html">Mail</a></div>
					<br style="clear: both" />

					<div class="icon"><a href="/curiousgeorge/printables/butterfly.html"><img src="img/p_icon_butterfly.gif" alt="Butterfly" class="ovr" /></a><br /><a href="/curiousgeorge/printables/butterfly.html">Butterfly</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/bath.html"><img src="img/p_icon_bath.gif" alt="Bath" class="ovr" /></a><br /><a href="/curiousgeorge/printables/bath.html">Bath</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/memory.html"><img src="img/p_icon_memory.gif" alt="Memory" class="ovr" /></a><br /><a href="/curiousgeorge/printables/memory.html">Memory</a></div>
					<div class="icon"><a href="/curiousgeorge/printables/sheep.html"><img src="img/p_icon_sheep.gif" alt="Sheep Herder" class="ovr" /></a><br /><a href="/curiousgeorge/printables/sheep.html">Sheep Herder</a></div>

			</div></div>
			</div>
				<br clear="all" />
				<br clear="all" />
			</div>
			<div id="next_page_paddle">
			<!-- if expr="$next = /index/" -->
				<div class="vid-spacer"><a href="#"><img src="/curiousgeorge/printables/img/v_arrow_r.gif" alt="next" class="ovr" /></a></div>
				<!-- endif -->
			</div>
<!--			<div id="dos-vid">
				<img src="/curiousgeorge/printables/img/v_myh.gif" alt="" />
			</div> -->

			<br clear="all" />

		</div>

		<div id="foot_pane"><img src="./img/1.gif" alt="" /></div>{% endblock %}