{% extends 'webonauts/includes/webonautsAboutPage.html.twig' %}
{% set pageTitle = 'Webonauts Academy - Parents & Teachers' %}


{% block mainContent %}<div id="container"><!-- LEFT SIDE CONTENT -->
 <div id="left">
  <div id="headerLeft">
   <div id="logo">
    <a href="http://pbskids.org/go"><img src="images/goLogo.png" alt="PBS Kids Go"></a>
   </div>
   <div id="crest">
    <a href="/webonauts"><img src="images/crest.png"></a>
   </div>
  </div> <!-- END HEADER LEFT -->
  <div id="bodyLeft">
   <div id="leftNav">
    <ul>
     <li><span class="home"><a href="index.html">Home</a></span></li>
     <li><span class="parents"><a href="parents.html">Parents</a></span></li>
     <li><span class="educators"><a href="educators.html">Educators</a></span></li>
     <li><span class="credits"><a href="credits.html">Credits</a></span></li>
    </ul>
   </div> <!-- END LEFT NAV -->
   <div id="join">
    <a href="/webonauts"></a>
   </div>
  </div>
 </div> <!-- RIGHT SIDE CONTENT -->
 <div id="right">
  <div id="headerRight">
   <div id="welcome"></div>
  </div> <!-- END HEADER RIGHT -->
  <div id="bodyRight"><img src="images/header_credits.jpg" alt="Credits">
   <p>The Webonauts Internet Academy was produced by the folks at PBS KIDS.</p>
   <ul>
    <li class="creditBullet"><strong>PBS KIDS</strong><br> Malcolm Jones - Senior Designer<br> Abby Jenkins - Senior Producer<br> Emily Achler - Assistant Producer<br> Chris Bishop - Creative Director<br> Ryan Ford - Intern</li>
    <li class="creditBullet"><strong>Project Advisor</strong><br> Erin Reilly - Research Director‚ Project New Media Literacies‚ USC Annenberg School for Communication</li>
    <li class="creditBullet"><strong>Parent &amp; Educator Content</strong><br> Shelley Pasnik - Director‚ Center for Children and Technology‚ Education Development Center</li>
    <li class="creditBullet"><strong>Flash Development</strong><br> Sanders New Media</li>
   </ul>
  </div> <!-- END BODY RIGHT -->
 </div> <!-- END CONTENT -->
</div>{% endblock %}

