{% extends 'webonauts/includes/webonautsAboutPage.html.twig' %}
{% set pageTitle = 'Webonauts Academy - Parents & Teachers' %}


{% block mainContent %}<div id="container"><!-- LEFT SIDE CONTENT -->
 <div id="left">
  <div id="headerLeft">
   <div id="logo">
    <a href="http://pbskids.org/go"><img src="images/goLogo.png" alt="PBS Kids Go"></a>
   </div>
   <div id="crest">
    <a href="/webonauts"><img src="images/crest.png"></a>
   </div>
  </div> <!-- END HEADER LEFT -->
  <div id="bodyLeft">
   <div id="leftNav">
    <ul>
     <li><span class="home"><a href="index.html">Home</a></span></li>
     <li><span class="parents"><a href="parents.html">Parents</a></span></li>
     <li><span class="educators"><a href="educators.html">Educators</a></span></li>
     <li><span class="credits"><a href="credits.html">Credits</a></span></li>
    </ul>
   </div> <!-- END LEFT NAV -->
   <div id="join">
    <a href="/webonauts"></a>
   </div>
  </div>
 </div> <!-- RIGHT SIDE CONTENT -->
 <div id="right">
  <div id="headerRight">
   <div id="welcome"></div>
  </div> <!-- END HEADER RIGHT -->
  <div id="bodyRight"><img src="images/header_tipsForEducators.jpg" alt="Tips For Educators"> <br>
   <p>Because it addresses issues of web safety‚ information literacy and digital citizenship‚ Webonauts Internet Academy can be a great tool for classrooms and school media centers. Teachers‚ librarians and technology coordinators can support student learning by using the game in the following ways:</p>
   <div id="pic1"></div>
   <ul id="educatorBulletPoints">
    <li><strong>As a warm-up activity to a unit on cybersafety.</strong>The game is a helpful lead-in to a discussion about profiles and what’s appropriate to include and share with others. The same is true for the topic of credibility and the importance of verifying sources of information.</li>
    <li><strong>To get students thinking about the purpose of a motto.</strong> As a secondary activity‚ ask students to develop their individual expression for digital citizenship and what saying or phrase they would promote if they ruled a planet. How might they modify or improve the “Respect. Observe. Contribute” used by the Bamdudes?</li>
    <li><strong>As a requirement before using school computers. </strong>Students may be asked to show their Webonauts diploma and talk about the game’s missions to demonstrate understanding of smart online behavior.</li>
    <div id="pic2"></div>
    <li><strong>As a resource before hosting a debate on digital citizenship. </strong>Bamdudes vs. The Great Static: who is better equipped to rule? What are the advantages of each approach (spreading rumors‚ relying on old information‚ using a stolen recipe) in the short-term and the long-term?</li>
    <li><strong>As a complement to the school’s acceptable use policy. </strong>Schools may want to point parents to the game in addition to other resources the school distributes‚ encouraging them to talk openly about what makes for healthy online habits. See our <a href="parents.html">parents page</a> for conversation ideas.</li>
   </ul> <img src="images/header_learnMore.jpg" alt="Learn More"> <br>
   <p><a href="http://www.pbs.org/teachers" name="PBS Teachers"><img src="images/logo_teachers.jpg" border="0" alt="PBS Teachers"></a></p>
   <p><a href="http://www.pbs.org/teachers/media_lit">PBS Teachers</a> has loads of resources to support media literacy and digital citizenship among students‚ including:</p>
   <ul>
    <li>A <a href="http://www.pbs.org/teachers/media_lit/quiz.html" name="PBS Teachers">quiz</a> to test media smarts</li>
    <li>A <a href="http://www.pbs.org/teachers/media_lit/related_sites.html" name="PBS Teachers">list of PBS programming</a> tackling related issues‚ like media consumption and trends in news coverage</li>
    <li><a href="http://www.pbs.org/teachers/media_lit/getting_started.html" name="PBS Teachers">Curricular activity ideas</a> that make connections to subject-specific classroom learning</li>
   </ul>
  </div> <!-- END BODY RIGHT -->
 </div> <!-- END CONTENT -->
</div>{% endblock %}

