{% extends 'webonauts/includes/webonautsAboutPage.html.twig' %}
{% set pageTitle = 'Webonauts Internet Academy . Parents and Teachers| PBS KIDS GO!' %}


{% block mainContent %}<div id="container"><!-- LEFT SIDE CONTENT -->
 <div id="left">
  <div id="headerLeft">
   <div id="logo">
    <a href="http://pbskids.org/go"><img src="images/goLogo.png" alt="PBS Kids Go"></a>
   </div>
   <div id="crest">
    <a href="/webonauts"><img src="images/crest.png"></a>
   </div>
  </div> <!-- END HEADER LEFT -->
  <div id="bodyLeft">
   <div id="leftNav">
    <ul>
     <li><span class="home"><a href="#">Home</a></span></li>
     <li><span class="parents"><a href="parents.html">Parents</a></span></li>
     <li><span class="educators"><a href="educators.html">Educators</a></span></li>
     <li><span class="credits"><a href="credits.html">Credits</a></span></li>
    </ul>
   </div> <!-- END LEFT NAV -->
   <div id="join">
    <a href="/webonauts"></a>
   </div>
  </div>
 </div> <!-- RIGHT SIDE CONTENT -->
 <div id="right">
  <div id="headerRight">
   <div id="welcome"></div>
  </div> <!-- END HEADER RIGHT -->
  <div id="bodyRight"><img src="images/header_aboutTheAcademy.jpg" alt="About Webonauts Academy">
   <p>Webonauts Internet Academy is a web original game for PBS KIDS GO! that gives kids 8- to 10-year-old an opportunity to have some fun while exploring what it means to be a citizen in a web-infused‚ information-rich world. It is an engaging experience on its own but becomes all the more powerful when parents and teachers use game play as a springboard for conversations about media literacy and citizenship in the 21st Century.</p>
   <div id="myCarousel">
    <div><span class="caption">The Webonauts Internet Academy is a game about how to be safe and act respectfully online.</span>
     <p><img src="images/slideshow_001.jpg"></p>
    </div>
    <div><span class="caption">Players create a customized space suit and complete a series of missions.</span>
     <p><img src="images/slideshow_002.jpg"></p>
    </div>
    <div><span class="caption">The missions address key issues central to good citizenship: identity, privacy, credibility and web safety.</span>
     <p><img src="images/slideshow_003.jpg"></p>
    </div>
    <div><span class="caption">Players also learn the importance of acting with respect both online and offline.</span>
     <p><img src="images/slideshow_004.jpg"></p>
    </div>
    <div><span class="caption">At the end of the game, players graduate from the Webonauts Internet Academy and win a printable diploma.</span>
     <p><img src="images/slideshow_005.jpg"></p>
    </div>
   </div> <!-- END CAROUSEL --> <img src="images/header_theStory.jpg" alt="The Webonauts Story">
   <p>As new recruits to the Webonauts Internet Academy‚ on a satellite space station‚ players are sent on a training mission on planet Bambu. While there‚ they encounter a mysterious enemy‚ The Great Static‚ who is set on stealing the Bamdudes’ cookie recipe (they are the best cookie makers in the Universe). During the course of the game‚ players receive on-the-job training and help the Bamdudes and save their cookie recipe!</p> <img src="images/header_themesAndHighlights.jpg" alt="Themes and Highlights">
   <p>In taking on the role of a Webonaut and completing a series of missions‚ players confront issues central to good citizenship: identity‚ privacy‚ credibility and web safety. Game scenarios take place in both online and offline encounters because good citizenship spans both.</p> <img src="images/header_keywords.jpg" alt="Keywords and Ideas">
   <p></p>
   <div id="keywords"></div> To help players get the most out of Webonauts Internet Academy‚ knowing some key terms will come in handy. 
   <ul>
    <li>Citizenship: membership in a community</li>
    <li>Contribute: to give to a common cause; to participate</li>
    <li>Credibility: the quality of being believable or trustworthy</li>
    <li>Cyberbullying: online abusive behavior</li>
    <li>Information literacy: knowing how to think critically about resources‚ such as what makes a website reliable</li>
    <li>Motto: a short saying that expresses a rule to live by</li>
    <li>Observe: to watch carefully; to follow a rule</li>
    <li>Private: belonging to a particular person</li>
    <li>Profile: information a person shares about him or herself with others in a social network</li>
    <li>Public: available to all people within a broad community</li>
    <li>Respect: to value‚ admire and treat well</li>
    <li>Rumor: unverified talk or opinion that is easily spread to others</li>
   </ul>
   <p></p>
  </div> <!-- END BODY RIGHT -->
 </div> <!-- END CONTENT -->
</div>{% endblock %}

