{% extends 'webonauts/includes/webonautsAboutPage.html.twig' %}
{% set pageTitle = 'Webonauts Academy - Parents & Teachers' %}


{% block mainContent %}<div id="container"><!-- LEFT SIDE CONTENT -->
 <div id="left">
  <div id="headerLeft">
   <div id="logo">
    <a href="http://pbskids.org/go"><img src="images/goLogo.png" alt="PBS Kids Go" border="none"></a>
   </div>
   <div id="crest">
    <a href="/webonauts"><img src="images/crest.png" border="none"></a>
   </div>
  </div> <!-- END HEADER LEFT -->
  <div id="bodyLeft">
   <div id="leftNav">
    <ul>
     <li><span class="home"><a href="index.html">Home</a></span></li>
     <li><span class="parents"><a href="parents.html">Parents</a></span></li>
     <li><span class="educators"><a href="educators.html">Educators</a></span></li>
     <li><span class="credits"><a href="credits.html">Credits</a></span></li>
    </ul>
   </div> <!-- END LEFT NAV -->
   <div id="join">
    <a href="/webonauts"></a>
   </div>
  </div>
 </div> <!-- RIGHT SIDE CONTENT -->
 <div id="right">
  <div id="headerRight">
   <div id="welcome"></div>
  </div> <!-- END HEADER RIGHT -->
  <div id="bodyRight"><img src="images/header_tipsForParents.jpg" alt="Tips For Parents"> <br>
   <p>Webonauts Internet Academy is more than a game. It’s an opportunity to engage your child in what it means to be a “digital citizen” — someone who respects others on the web and in everyday encounters away from the screen. To get the most out of the game‚ consider doing the following:</p>
   <ul id="parentBulletPoints">
    <li><img src="images/thumb_01.jpg"> <strong>Play along.</strong> Though you don’t want to take over‚ jumping into game play is the best way to get to know what Webonauts Internet Academy is about — and what it feels like to be up against The Great Static. It also will help you have genuine conversations with your child about the themes that run through the game.</li>
    <li><img src="images/thumb_02.jpg"> <strong>Get your child talking - while you do the listening.</strong> You may have specific ideas about the game’s big topics‚ privacy and proper web etiquette‚ but first find out what your child thinks about the characters and the dilemmas she encounters on Planet Iungo. This will allow you to find out what caught her attention and what she took away from the experience.</li>
    <li><img src="images/thumb_03.jpg"> <strong>Clarify the difference between public and private.</strong> Aside from a clear reminder to not share passwords and other personally identifiable information‚ it’s worthwhile to discuss the value of privacy in your home. Because your child may be most familiar with people around him‚ he may not understand how Information he shares online can be seen and shared by others he does not know. He may need your guidance to recognize the importance of being selective about what information he’s releasing‚ how and with whom. This is true in general and also for information in his PBS KIDS GO! account.</li>
    <li><img src="images/thumb_04.jpg" alt="Pic1"> <strong>Talk about the overlap between screen activity and offline behavior. </strong> The way you behave offline should be similar to the way you behave online. Just because something is happening on a screen doesn’t mean it’s not real. Encourage your child to see how she treats people online translates to her face-to-face encounters with people she knows.</li>
    <li><img src="images/thumb_05.jpg" alt="Pic1"> <strong>Tackle cyberbullying directly.</strong> There is no avoiding aggressive behavior on the web just as there’s no getting around it at school and other places where many people gather. Think out loud with your child about what inappropriate behavior looks and feels like on the web and what she can do in different situations to deal with it.</li>
    <li><img src="images/thumb_06.jpg"> <strong>Raise the issue of credibility and why accuracy in speech and writing matters. </strong> As appealing as rumors are‚ they often stem from speculation and guessing at truths. Get your child to talk about what a reliable source is and when it’s helpful to cite a source of information‚ whether it’s on the Internet‚ in a book or something overheard on the playground.</li>
    <li><img src="images/thumb_07.jpg"> <strong>Round out game play with a conversation about “digital citizenship.”</strong> A good place to begin is by thinking about specific behaviors and a code of right and wrong. Web safety = not sharing your street address‚ for example. Once you and your child have generated a list of dos and don’ts‚ you can expand the conversation by talking about what it means to be a good contributor to a group or community and how civic participation requires giving consideration to others. As a conversation starter or wrap-up‚ you may want to ask your child the best place for hanging the game diploma — perhaps as a reminder of the house rules you have made together.</li>
   </ul> <img src="images/header_exploreMore.jpg" alt="Explore More">
   <ul>
    <li>Continue exploring suggestions for thoughtful family uses of technology with <a href="http://www.pbs.org/parents/childrenandmedia" name="PBS Parents">PBS Parents Guide to Children and Media</a>.</li>
    <li>Don’t miss the <a href="http://www.pbs.org/parents/childrenandmedia/milestones-6.html" name="PBS Parents">age-by-age milestones</a> for media tips that keep your child’s development in mind.</li>
   </ul>
  </div> <!-- END BODY RIGHT -->
 </div> <!-- END CONTENT -->
</div>{% endblock %}

