{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Connect The World Map . Kenya | PBS Kids' %}
{% set desc = 'Print out and color bookmarks that you can use to save your place in your book!' %}
{% set keywds = 'print, book, bookmarks, read' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="connectbg">
 <div class="ruler"></div>
 <div id="gamesMapWrapper">
  <div id="mapWrapper"><map name="worldmap"> <area shape="rect" coords="0, 163, 317, 413" href="connectworld.html" alt="Back to game"> <area shape="rect" coords="459, 195, 529, 271" href="australia.html" alt="Australia"> <area shape="rect" coords="398, 112, 450, 167" href="india.html" alt="India"> <area shape="rect" coords="519, 106, 565, 128" href="japan.html" alt="Japan"> <area shape="rect" coords="483, 87, 501, 124" href="japan.html" alt="Japan"> <area shape="rect" coords="352, 166, 378, 192" href="kenya.html" alt="Kenya"> <area shape="rect" coords="144, 126, 192, 156" href="mexico.html" alt="Mexico"> <area shape="rect" coords="331, 30, 481, 100" href="russia.html" alt="Russia"> <area shape="rect" coords="341, 100, 375, 121" href="turkey.html" alt="Turkey"> <area shape="rect" coords="143, 84, 231, 123" href="usa.html" alt="U.S.A."> </map> <img src="/arthur/i/games/connectworld/map_connect.gif" alt="Map of the world with eight highlighted countries" width="610" height="415" border="0" usemap="#worldmap"> <a href="/arthur/games/connectworld/connectworld.html" id="connectBack">Back to Game</a>
  </div>
  <div id="mapInfoWrapper">
   <div id="mapContent">
    <h1>Kenya</h1>
    <div class="ruler"></div>
    <h3>Food</h3>
    <p><img src="/arthur/i/games/connectworld/food_ken.gif" alt="Illustration of nyama choma" width="101" height="68" class="float-right cw-img">Nyama choma is simply meat (usually beef, goat, or mutton) roasted over a fire. Another popular Kenyan food is ugali, a type of maize porridge.</p>
    <div class="ruler"></div>
    <h3>Music</h3>
    <p><img src="/arthur/i/games/connectworld/music_ken.gif" alt="Illustration of a table drum" width="101" height="68" class="float-right cw-img">The table drum is a large drum with three legs. Another popular instrument in Kenya is the mbira, which is a small sounding box with metal tines that are played with the fingers and thumbs. It is also known as a thumb piano.</p>
    <div class="ruler"></div>
    <h3>Sport</h3>
    <p><img src="/arthur/i/games/connectworld/sport_ken.gif" alt="Illustration of a running shoe" width="101" height="68" class="float-right cw-img"> Although soccer, basketball, volleyball, and other sports are all popular in Kenya, long-distance running is what Kenyans are known for at the Olympic level and at marathons worldwide.</p>
    <div class="ruler"></div>
    <h3>Flag</h3>
    <p><img src="/arthur/i/games/connectworld/flag_ken.gif" alt="The Kenyan flag" width="101" height="68" class="float-right cw-img"> The Kenyan flag is black on top, red in the middle, and green at the bottom. Two white stripes surround the red. In the center are a shield and spears of the Masai tribe.</p>
   </div>
   <div id="mapInfoTop"></div>
   <div id="mapInfoBtm"></div>
   <div id="mapInfoArrow"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/traveltales/index.html" id="rcTravelTales">Sue Ellen's Travel Tales</a></li>
   <li><a href="/arthur/games/factsopinions/index.html" id="rcFactOpinion">Facts and Opinions</a></li>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li>
  </ul>
 </div>
</div>{% endblock %}