{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Games . Connect The World Map . Russia | PBS Kids' %}
{% set desc = 'Print out and color bookmarks that you can use to save your place in your book!' %}
{% set keywds = 'print, book, bookmarks, read' %}
{% set specialInclude = '<link rel="stylesheet" type="text/css" href="/arthur/c/games.css" media="screen" />' %}
{% set selectedNav = 'games' %}


{% block mainContent %}<div id="content" class="connectbg">
 <div class="ruler"></div>
 <div id="gamesMapWrapper">
  <div id="mapWrapper"><map name="worldmap"> <area shape="rect" coords="0, 163, 317, 413" href="connectworld.html" alt="Back to game"> <area shape="rect" coords="459, 195, 529, 271" href="australia.html" alt="Australia"> <area shape="rect" coords="398, 112, 450, 167" href="india.html" alt="India"> <area shape="rect" coords="519, 106, 565, 128" href="japan.html" alt="Japan"> <area shape="rect" coords="483, 87, 501, 124" href="japan.html" alt="Japan"> <area shape="rect" coords="352, 166, 378, 192" href="kenya.html" alt="Kenya"> <area shape="rect" coords="144, 126, 192, 156" href="mexico.html" alt="Mexico"> <area shape="rect" coords="331, 30, 481, 100" href="russia.html" alt="Russia"> <area shape="rect" coords="341, 100, 375, 121" href="turkey.html" alt="Turkey"> <area shape="rect" coords="143, 84, 231, 123" href="usa.html" alt="U.S.A."> </map> <img src="/arthur/i/games/connectworld/map_connect.gif" alt="Map of the world with eight highlighted countries" width="610" height="415" border="0" usemap="#worldmap"> <a href="/arthur/games/connectworld/connectworld.html" id="connectBack">Back to Game</a>
  </div>
  <div id="mapInfoWrapper">
   <div id="mapContent">
    <h1>Russia</h1>
    <div class="ruler"></div>
    <h3>Food</h3>
    <p><img src="/arthur/i/games/connectworld/food_rus.gif" alt="Illustration of borscht" width="101" height="68" class="float-right cw-img">Borscht is a beet soup, eaten hot or cold. It usually includes cabbage, carrots, and potatoes, and is often served with a dollop of sour cream.</p>
    <div class="ruler"></div>
    <h3>Music</h3>
    <p><img src="/arthur/i/games/connectworld/music_rus.gif" alt="Illustration of a balalaika" width="101" height="68" class="float-right cw-img">A balalaika is a musical instrument with three strings and a triangular body. There are many sizes of balalaika. The biggest, a double bass balalaika, is about three feet wide.</p>
    <div class="ruler"></div>
    <h3>Sport</h3>
    <p><img src="/arthur/i/games/connectworld/sport_rus.gif" alt="Illustration of an ice hockey stick and puck" width="101" height="68" class="float-right cw-img"> Ice hockey is played on ice. Players wear ice skates, and use sticks to try to get a puck into their opponent's goal. Each of the two teams has six players, one of whom acts as goalie.</p>
    <div class="ruler"></div>
    <h3>Flag</h3>
    <p><img src="/arthur/i/games/connectworld/flag_rus.gif" alt="The Russian flag" width="101" height="68" class="float-right cw-img"> The Russian flag is white at the top, blue in the middle, and red at the bottom.</p>
   </div>
   <div id="mapInfoTop"></div>
   <div id="mapInfoBtm"></div>
   <div id="mapInfoArrow"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/games/traveltales/index.html" id="rcTravelTales">Sue Ellen's Travel Tales</a></li>
   <li><a href="/arthur/games/factsopinions/index.html" id="rcFactOpinion">Facts and Opinions</a></li>
   <li><a href="/buster/pfy/index.html" id="rcPFY">Postcards From You</a></li>
  </ul>
 </div>
</div>{% endblock %}