{% extends 'arthur/includes/templates/arthurPage.html.twig' %}
{% set additionalTitle = ' . Friends . Fern\'s Games & Printables Page | PBS Kids' %}
{% set desc = 'Reading is one of Ferns favorite things, and a book club is Ferns dream! See all the clubs that Fern adores.' %}
{% set keywds = 'Fern, interests, ARTHUR, clubs, passions' %}
{% set specialInclude = '' %}
{% set selectedNav = 'friends' %}
{% set noSitewide = true %}


{% block mainContent %}<div id="content" class="bg-ccf">
 <div id="flashcontent"><map name="nav"> <area shape="rect" coords="393,206,498,347" href="index.html" alt="Games &amp; Print Page"> <area shape="rect" coords="504,206,604,347" href="clubs.html" alt="Clubs Page"> <area shape="rect" coords="609,206,712,347" href="photos.html" alt="Photo Page"> <area shape="rect" coords="717,206,818,347" href="videos.html" alt="Videos page"> <area shape="rect" coords="823,206,930,347" href="about.html" alt="About Me Page"> </map> <img src="/arthur/i/friends/alt/fern_header.gif" width="960" height="363" alt="" border="3" usemap="#nav">
 </div>
 <script type="text/javascript">			   var fo = new SWFObject("../../media/friends/fern_top.swf", "fern", "960", "363", "9", "#ccccff");			   fo.addVariable("intro", "false");			   fo.addVariable("page", "clubs");			   fo.addVariable("char", "fern");			   fo.addVariable("base", "/arthur/");			   fo.addParam("allowScriptAccess", "always");			   			   fo.write("flashcontent");			</script>
 <div id="friendsWrapper"><a href="photos.html" class="photoWall p-fern">Fern's images</a>
  <div id="friendsContent">
   <h1>My Clubs</h1>
   <hr class="friendsRuler">
   <ul id="myClubs">
    <li id="myclubDance" class="icon"><a href="/arthur/clubs/dance/index.html">Dance Club</a></li>
    <li id="myclubPoetry" class="icon"><a href="/arthur/clubs/poetry/index.html">Poetry Club</a></li>
   </ul>
   <div id="friendsBGTop"></div>
   <div id="friendsBGBtm"></div>
  </div>
 </div>
 <div id="relatedContent">
  <ul>
   <li><a href="/arthur/print/elwingo/index.html" id="rcElwingo">Elwingo!</a></li>
   <li><a href="/arthur/games/lettersto/index.html" id="rcLettersTo">Letters To</a></li>
   <li><a href="/arthur/games/poetry/index.html" id="rcPoetry">Poetry Nook</a></li>
  </ul>
 </div>
</div>{% endblock %}

