{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Machine Would You Invent To Help The Earth? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatmachine.jpg" alt="What machine would you invent to help the Earth?" width="487" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_machine.gif" alt="What machine would you invent to help the Earth?"> <p>I would make a duplicator machine to increase the population of animals that have the risk of being extinct.</p> <p>— abincis1, Age 10</p>
      <hr> <p>i will make a machine,a machine that sees peple who thow trash on the grond and when it sees peple it zaps the trash and terns it in to new trees, plants and compose becuse if erath is sick we cant live and we want to live for......100,000,000 years so pleasse think about erath.We do not want erath to be sick and we don't want to die so plesse</p> <p>— soniclailah, Age 7</p>
      <hr> <p>I would make a machine that would gather up all the pollutants on the Earth (I love the Earth by the way) and turn them into homes for people in Haiti. Solar-powered ones.</p> <p>— Emma, Age 9</p>
      <hr> <p>i would invent a machine that would go all around the world and help people in needs and make the world be a better place!! it could pick up sticks and all that stuff......</p> <p>— keelang, Age 10</p>
      <hr> <p>i would invent a machine that flies around and stops air pollution.</p> <p>— superbo723, Age 9</p>
      <hr> <p>Trash sorter for home use</p> <p>— cas, Age 10</p>
      <hr> <p>I will invent a pollution stopper. What it does is amazing! When it sees polluted air or water,the pollution stopper will stop the air or water being polluted.How?it will go to factories or cars and trucks that pollute the air and water,and change it to solar powered factories and cars or trucks.</p> <p>— jeannete, Age 9</p>
      <hr> <p>i would make a robot that goes around the houses too pick up garbage and trash and reuse it to make toys for the kids in need of homes,parents,toys,and other stuff</p> <p>— tailia, Age 8</p>
      <hr> <p>i wold like to make a ship that is solor pawerd:)</p> <p>— awesome158, Age 8</p>
      <hr> <p>I would make a machine that tures water into food.</p> <p>— andrew, Age 9</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_machine.html@Start=320" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_machine.html@Start=340" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 8240<br><a href="detail_machine.html@Start=320">Previous</a> | <a href="detail_machine.html@Start=240">25</a> | <a href="detail_machine.html@Start=250">26</a> | <a href="detail_machine.html@Start=260">27</a> | <a href="detail_machine.html@Start=270">28</a> | <a href="detail_machine.html@Start=280">29</a> | <a href="detail_machine.html@Start=290">30</a> | <a href="detail_machine.html@Start=300">31</a> | <a href="detail_machine.html@Start=310">32</a> | <a href="detail_machine.html@Start=320">33</a> | 34 | <a href="detail_machine.html@Start=340">35</a> | <a href="detail_machine.html@Start=350">36</a> | <a href="detail_machine.html@Start=360">37</a> | <a href="detail_machine.html@Start=370">38</a> | <a href="detail_machine.html@Start=380">39</a> | <a href="detail_machine.html@Start=390">40</a> | <a href="detail_machine.html@Start=400">41</a> | <a href="detail_machine.html@Start=410">42</a> | <a href="detail_machine.html@Start=420">43</a> | <a href="detail_machine.html@Start=340">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=18"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

