{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Machine Would You Invent To Help The Earth? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatmachine.jpg" alt="What machine would you invent to help the Earth?" width="487" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_machine.gif" alt="What machine would you invent to help the Earth?"> <p>I will resycal and help the earth by not cuting down alot of trees for paper.And by planting alot of plants and going around and pincking up trash on the ground.Also use a bike insted of useing a car if you go some were.And tern of lights when you are not useing them.And aiso tern of water.Also tern of electrisite when you are not useing it.So that is how I will take care of the earth and I hope that you will to.You shoughd write a letter like all of us including me.So are you going to help the earth yet and wite a letter just like all of us?</p> <p>— LTC123, Age 9</p>
      <hr> <p>i would create a game system that runs only by trash items.just insert the trash and the system is up and running. you would have to insert the trash whenever a flashing red light goes on.</p> <p>— v93982, Age 10</p>
      <hr> <p>I would invent a Self-Pouered-Lite.Just snap to tren it on &amp; off.Make shor that you chang the Lite bolb.</p> <p>— Brendon, Age 7</p>
      <hr> <p>I would build an ecosystem saver to help the earth ,our home ,and make it a much better.I love our world!!!</p> <p>— coco, Age 12</p>
      <hr> <p>Hi! If I were to build a machine it would be a train that runs on solar power.</p> <p>— Riya, Age 9</p>
      <hr> <p>i would make a thing that automaticly grows trees everywhere that it is aloud</p> <p>— superdrh</p>
      <hr> <p>i would make a device that alows cars to run on waste</p> <p>— globlegreen, Age 13</p>
      <hr> <p>I would makea car that runs on smiles and yes I got that off of yin yang yo happy?</p> <p>— joyceann98, Age 10</p>
      <hr> <p>I would build a machine that could recycle waste and turn carbon dyoxide into oxegon. That way, the ozone could stay together and we world have a cleaner earth!</p> <p>— mrvee, Age 11</p>
      <hr> <p>a car that runs on CO2!!!!!</p> <p>— qwertyuuiioo, Age 6</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_machine.html@Start=400" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_machine.html@Start=420" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 8056<br><a href="detail_machine.html@Start=400">Previous</a> | <a href="detail_machine.html@Start=320">33</a> | <a href="detail_machine.html@Start=330">34</a> | <a href="detail_machine.html@Start=340">35</a> | <a href="detail_machine.html@Start=350">36</a> | <a href="detail_machine.html@Start=360">37</a> | <a href="detail_machine.html@Start=370">38</a> | <a href="detail_machine.html@Start=380">39</a> | <a href="detail_machine.html@Start=390">40</a> | <a href="detail_machine.html@Start=400">41</a> | 42 | <a href="detail_machine.html@Start=420">43</a> | <a href="detail_machine.html@Start=430">44</a> | <a href="detail_machine.html@Start=440">45</a> | <a href="detail_machine.html@Start=450">46</a> | <a href="detail_machine.html@Start=460">47</a> | <a href="detail_machine.html@Start=470">48</a> | <a href="detail_machine.html@Start=480">49</a> | <a href="detail_machine.html@Start=490">50</a> | <a href="detail_machine.html@Start=500">51</a> | <a href="detail_machine.html@Start=420">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=18"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

