{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Machine Would You Invent To Help The Earth? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatmachine.jpg" alt="What machine would you invent to help the Earth?" width="487" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_machine.gif" alt="What machine would you invent to help the Earth?"> <p>The invenchine I would make is a give a mator. It would give you anything you want from resicled matriles. The way you use it is simple. YOU JUST SAY WHAT YOU WANT!</p> <p>— Sydney, Age 7</p>
      <hr> <p>i would make a machine that sucks up co2 because thats what causes global warming.It would suck up CO2 andturn it back into fosil fuels.once its full it dids a hole and buries it back up!!!!</p> <p>— blueruby, Age 11</p>
      <hr> <p>i would like to build a robot machine that takes gabage and a tiny bit of plastic, tin, and paper and eats it for energy to make it work.</p> <p>— Beastly, Age 10</p>
      <hr> <p>I would invent a thing that you put in your car, so instead of using oil to make your car go you could use garbage in it to make it go.</p> <p>— emmarocks, Age 10</p>
      <hr> <p>I would invent a rechargable juicemaker that would squeeze fruits and make juice with them. I'd also invent a microwave that you just plug a cord in the wall and your ready to heat your food up.</p> <p>— elizabeth, Age 6</p>
      <hr> <p>I would build a eco-friendly robots. They clean up all trash and recycle! I wish I could build this</p> <p>— picwiz, Age 10</p>
      <hr> <p>I would make a car that can drive and fly! I am awsome! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! Sweet. Bye!</p> <p>— CooperF, Age 8</p>
      <hr> <p>I will make a machine that turns paper, plastic, and glass into something new!!!!!!!!!</p> <p>— seri1, Age 7</p>
      <hr> <p>i would try to make a robot that picks up trash around the world recycles it or throws it away</p> <p>— jasmyne, Age 12</p>
      <hr> <p>I would try to make a cleaning machine that would help pick up trash and that would recycle and move things out of peoples way or to reduce!</p> <p>— kryslyne, Age 12</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_machine.html@Start=50" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_machine.html@Start=70" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 8221<br><a href="detail_machine.html@Start=50">Previous</a> | <a href="detail_machine.html@Start=10">2</a> | <a href="detail_machine.html@Start=20">3</a> | <a href="detail_machine.html@Start=30">4</a> | <a href="detail_machine.html@Start=40">5</a> | <a href="detail_machine.html@Start=50">6</a> | 7 | <a href="detail_machine.html@Start=70">8</a> | <a href="detail_machine.html@Start=80">9</a> | <a href="detail_machine.html@Start=90">10</a> | <a href="detail_machine.html@Start=100">11</a> | <a href="detail_machine.html@Start=110">12</a> | <a href="detail_machine.html@Start=120">13</a> | <a href="detail_machine.html@Start=130">14</a> | <a href="detail_machine.html@Start=140">15</a> | <a href="detail_machine.html@Start=150">16</a> | <a href="detail_machine.html@Start=70">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td rowspan="2"><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
     <td align="right"><a href="telluswhatyouthink.html?Board=18"><img src="/eekoworld/images/what_off.gif" alt="What Do You Think?" name="whatthink" border="0" onmouseout="javascript:document.images.whatthink.src='/eekoworld/images/what_off.gif'" onmouseover="javascript:document.images.whatthink.src='/eekoworld/images/what_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

