{% extends 'eekoworld/includes/eekoworldPage.html.twig' %}
{% set pageTitle = ' . EekoExchange . What Machine Would You Invent To Help The Earth? | PBS KIDS GO!' %}


{% block headerScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/header.swf", "header", "970", "131", "8", "#9DC500");
		
		

			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
		
   		fo.write("headerflash");

    }
    //-->
    </script>{% endblock %}




{% block leftNavScript %}<script type="text/javascript">
    <!--
    if (PBS_FlashCanPlay(9)) {

		var fo = new PBS_SWFObject("../flash/sidebar.swf", "sidebar", "236", "569", "8", "#9DC500");
		
		
			fo.addParam('FlashVars', 'PBSID=(none)&PBSUserName=(none)');


		
   		 fo.write("leftnav");

    }
    //-->
</script>{% endblock %}




{% block mainContent %}<div id="contentwrapper">
 <div id="content"><!-- INSERT PAGE CONTENT HERE --> <a href="index.html"><img src="../images/header_eekoexchange.jpg" alt="Eeko Exchange" width="203" height="54" border="0" class="headerimage"></a>
  <div id="subnav">
   &nbsp;
  </div> <img src="../images/header_whatmachine.jpg" alt="What machine would you invent to help the Earth?" width="487" height="33" class="contentheader">
  <table>
   <tbody>
    <tr>
     <td id="postings"><!-- ++++++++++++++BEGIN POSTINGS CONTENT++++++++++++++++++++++++++++ --> <img src="/eekoworld/images/exchange_det_machine.gif" alt="What machine would you invent to help the Earth?"> <p>I would invent soler power cars that use the sun to make power. It would have a cord that you plug into your home to make electrisity for your home.</p> <p>— wal214, Age 10</p>
      <hr> <p>I would invent a box that makes scraps into compost</p> <p>— ADEB265, Age 7</p>
      <hr> <p>I would make something that makes trash into paper and plastic,so we can recycle them.</p> <p>— aracelysg88, Age 8</p>
      <hr> <p>i'll invent a company that turns garbage into recyclables</p> <p>— nosand, Age 9</p>
      <hr> <p>I would make all the glass in the world and turn it into reusable energy to power anything! and make it illigel to cut down forest,to make landfill and for personal uses.</p> <p>— stats101, Age 10</p>
      <hr> <p>I'll invent a facktory that makes any thing you want when you say it and it will not make any smoke</p> <p>— swampfire4, Age 9</p>
      <hr> <p>i would make a huge recycle bin and you put used papers in and say what u want yipee!!!!!!!! it came out!!!!!!!!!</p> <p>— achu2003, Age 7</p>
      <hr> <p>I would make a robot that plants treess.(it runs on water.)</p> <p>— connor, Age 7</p>
      <hr> <p>A machine that turns trash and litter into soil.</p> <p>— Blossom50, Age 7</p>
      <hr> <p>I would make a plane that didn't use fuel and had arms [on the top] that picked up garbage [even in dumps].</p> <p>— astro5, Age 6</p>
      <hr> <map name="exchangemap" id="exchangemap"><area shape="rect" coords="63,-2,171,19" href="index.html" alt="Back to topics"> <area shape="rect" coords="369,2,495,20" href="detail_machine.html@Start=600" alt="Last 10 posts"> <area shape="rect" coords="583,1,707,18" href="detail_machine.html@Start=620" alt="Next 10 posts"> </map>
      <div align="center">
       Total Posts to this Board: 10575<br><a href="detail_machine.html@Start=600">Previous</a> | <a href="detail_machine.html@Start=520">53</a> | <a href="detail_machine.html@Start=530">54</a> | <a href="detail_machine.html@Start=540">55</a> | <a href="detail_machine.html@Start=550">56</a> | <a href="detail_machine.html@Start=560">57</a> | <a href="detail_machine.html@Start=570">58</a> | <a href="detail_machine.html@Start=580">59</a> | <a href="detail_machine.html@Start=590">60</a> | <a href="detail_machine.html@Start=600">61</a> | 62 | <a href="detail_machine.html@Start=620">63</a> | <a href="detail_machine.html@Start=630">64</a> | <a href="detail_machine.html@Start=640">65</a> | <a href="detail_machine.html@Start=650">66</a> | <a href="detail_machine.html@Start=660">67</a> | <a href="detail_machine.html@Start=670">68</a> | <a href="detail_machine.html@Start=680">69</a> | <a href="detail_machine.html@Start=690">70</a> | <a href="detail_machine.html@Start=700">71</a> | <a href="detail_machine.html@Start=620">Next</a> <!-- ++++++++++++++END POSTINGS CONTENT++++++++++++++++++++++++++++ -->
      </div></td>
    </tr>
   </tbody>
  </table>
  <table width="100%">
   <tbody>
    <tr>
     <td><a href="index.html"><img src="/eekoworld/images/back_off.gif" name="back" alt="Back To Topics" border="0" onmouseout="javascript:document.images.back.src='/eekoworld/images/back_off.gif'" onmouseover="javascript:document.images.back.src='/eekoworld/images/back_on.gif'"></a></td>
    </tr>
   </tbody>
  </table>
 </div> <img style="display:block;" src="../images/content_bottom_round.gif" alt="" width="734" height="11">
</div>{% endblock %}




{% block footerContent %}<div id="footercontainer">
 <div id="bottombuttons">
  <a href="../parentsteachers/index.html"><img src="../images/button_pt.jpg" alt="Parents &amp; Teachers" name="pt" width="164" height="32" id="pt" onmouseover="MM_swapImage('pt','','../images/button_pt-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a><a href="../aboutew/index.html"><img src="../images/button_whatis.jpg" alt="What is EekoWorld?" name="what" width="165" height="32" id="what" onmouseover="MM_swapImage('what','','../images/button_whatis-over.jpg',1)" onmouseout="MM_swapImgRestore()"></a>
 </div>
 <div id="footer">
  <table border="0" cellspacing="0" cellpadding="0" id="footertable">
   <tbody>
    <tr>
     <td class="footercol1">Made Possible by</td>
     <td class="footercol2">Produced by</td>
     <td class="footercol3"></td>
     <td>&nbsp;</td>
    </tr>
    <tr>
     <td class="footercol1"><a href="http://www.cpb.org" title="Corporation for Public Broadcasting" target="_blank"><img src="../images/logo_cpb.gif" alt="CPB - Corporation for Public Broadcasting" width="35" height="36"></a></td>
     <td class="footercol2"><a href="http://www.beancreative.com" title="Bean Creative Funktional Web Design" target="_blank"><img src="../images/logo_beancreative.gif" alt="Bean Creative" width="103" height="36"></a></td>
     <td class="footercol3"></td>
     <td align="right" valign="top"><a href="../contact/index.html">Contact us</a> | <a href="http://pbskids.org/privacy/">Privacy Policy</a> | <a href="../aboutew/">About the Site</a><br> Copyright © 2005 -2007 <a href="http://www.pbs.org" title="PBS">PBS INTERACTIVE, Inc</a>. All rights reserved.</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>{% endblock %}

