<html>
    <head>
      
     {% include 'go/includes/auth/static/head.html' %}
      	
     </head>

    <body>
		
    {% block goAuthPage %}{% endblock %}


    {% block resizeScript %}{% endblock %}
    </body>

</html>
