{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Resilience Info . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'teal' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><h2><a href="../resilience/">Resilience</a></h2></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Resilience</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Background Information</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/resilience_quiz_4.png" alt="Arthur and his mom hug.">
   <div class="col7">
    <div class="banner">
     <p>Observing how our children respond to a situation and listening to their ideas and concerns can help us find ways to reassure them. When our children are troubled, a strong loving relationship with a trusted adult is the best support we can offer. As children learn to cope with their feelings, they build more resilience and maturity.</p>
    </div>
   </div>
  </div>
  <div class="col7 cntr">
   <p class="dark">When should I talk to my child about upsetting events?</p>
   <p>Public tragedies, natural disasters, and upsetting events like fires, illnesses, and death can be challenging for children and adults. Young children have many of the same feelings we have, but the way they understand events is different.</p>
   <p>It's important to talk directly with your child if there is an event that directly affects your child. If the event is upsetting but does not directly affect your child, limit your child's media exposure to minimize the fear that the event is recurring, but don't shield them from the event itself. Children often hear about events from overhearing conversations or from talking with their peers. Speak with your children about these events as well.</p>
   <hr>
   <p class="dark">How do I talk to my child about upsetting events?</p>
   <p>Talk with other adults in your child's life to determine the words you want to use. When dealing with an illness, refer to the illness by name, such as cancer or stroke. Keep what you say factual and allow your child to bring the emotional words. Don't refer to events that might upset or scare your child as "scary" or "terrifying." Refer to the events or situations by name and let your child express the associated feelings.</p>
   <p>Begin the conversation by asking your child what he or she has noticed. Let your child's questions lead the conversation. Don't have just one conversation. Your child will need several conversations to cope with feelings and build resilience. It's okay if your child doesn't want to speak. Think about the places and times where your child is most likely to have conversations with you, and gently attempt to engage in the important conversations then.</p>
   <hr>
   <p class="dark">How can I reassure my child?</p>
   <p>Deal with your own feelings before trying to reassure your child. Talk to other adults in your life and have conversations apart from your child and get the support that you need for your own worries. Be calm and emotionally refreshed so that you can reassure your child.</p>
   <p>When you are with your child, emphasize that you're safe together. Spend time reading, cooking, playing games, and other nice, quiet activities. Be sure to spend extra time cuddling. Try your best to go back to regular schedules and daily routines. If you're noticing that your child is behaving very differently or if your child's symptoms worsen after two weeks, then you should consider seeking additional help.</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}