{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Educators . Resilience . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'teal' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><h2><a href="../resilience/">Resilience</a></h2></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Resilience</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>For Educators</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/resilience_quiz_6.png" alt="Mr. Ratburn holds a book and gestures.">
   <div class="col7">
    <div class="banner">
     <p>Use this lesson plan to help children build resilience and learn how to cope.</p>
    </div>
   </div>
  </div>
  <h5>How to Cope</h5>
  <p>Using advice and role-play, help guide your children through an exploration of how to handle scary situations, focusing on what happens when you are lost.</p>
  <h6>Materials</h6>
  <p>Gather paper and markers.</p>
  <h6>Share stories</h6>
  <p>Have your children generate a list of fears, worries, or scary situations, such as getting lost in a store or mall, nightmares, fire drills, and so on. Discuss the different words we use to describe our feelings when we think about or have these experiences: <em>worried, scared, upset, afraid, nervous, anxious.</em> Being able to label their feelings can help children better express themselves.</p>
  <p>You may also want to talk about the differences between an immediate fear reaction, such as when someone yells, "Boo!" suddenly and feelings of fear that stay after an event or situation occurs. Reassure children that there <em>are</em> ways that we can learn to cope with our fears.</p>
  <p>Choose one or two items and work together to create a "How to Cope" list. Ask children to provide suggestions, such as safety tips or advice they've learned. Good guidelines could include:</p>
  <ul class="normal">
   <li>If you are lost, stay where you are or go to a meeting place you and your family have chosen beforehand. You could also ask a salesperson, security guard, or police offer to help you. (Note: children may have been taught <em>not</em> to talk to strangers. Describe how children can recognize grown-up helpers.)</li>
   <li>If there is a fire drill, follow the instructions you were taught. If you are not sure what to do, ask a teacher, principal, or other school staff.</li>
   <li>If you are afraid of something specific, find out more about it, using books and the Web. Knowing why thunder rumbles, how an elevator works, or that an animal can behave maliciously in certain situations can make you less nervous about it the next time.</li>
  </ul>
  <h6>Tell a tale</h6>
  <p>Use getting lost to model behaviors and strategies you've discussed. Tell or read a story about someone being lost and upset, such as <cite>Lost!</cite> by David McPhail or <cite>Sheila Rae the Brave</cite> by Kevin Henkes. (If you don't have a book to use, refer to an experience you've had or have heard about, or make one up.) Stop the story to ask your children what they might do in the same circumstance. How could they use the safety tips you've discussed? What advice would they offer the character in the story? Explore some ways to handle the situation, and then share the end of the story.</p>
  <h6>Role-play</h6>
  <p>After the story, have your children role-play the character's situation. One person can play the character who is lost, while another can play someone who can help.</p>
  <h6>Talk about it</h6>
  <p>Explain to your children that being lost can be very frightening, but that it will be easier to handle if they know what to do.</p>
  <div class="banner">
   <p>Educators can adapt the activities, <a href="fear-no-more.html">Fear No More</a>, <a href="courage-cards.html">Courage Cards</a>, and <a href="lend-hand.html">Lend a Hand</a> for their classrooms.</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}