{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Resilience Resources . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'teal' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><h2><a href="../resilience/">Resilience</a></h2></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Resilience</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Resources</h4>
  <hr>
  <div class="group"><img class="col5" src="../img/shared_resources.png" alt="D.W. pulls a red wheelbarrow full of books">
   <div class="col7">
    <div class="banner">
     <p>There are lots of helpful organizations, websites, and books that can help you and your family cope with challenging times and build resilience. Here are some to get you started. Check with your doctor, school nurse, counselor, or librarian for other good resources.</p>
    </div>
   </div>
  </div>
  <ul class="menu-topics">
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Websites
    </div>
    <ul>
     <li><a href="http:www.apa.org/helpcenter/resilience.aspx">American Psychological Association</a></li>
     <li><a href="http:childdevelopmentinfo.com/how-to-be-a-parent/communication/talk-to-kids-media-violence.shtml">Child Development Institute</a></li>
     <li><a href="http:www.samhsa.gov/trauma/?from=carousel&amp;position=1&amp;date=11012012">Coping with Violence and Traumatic Events</a></li>
     <li><a href="http:kidshealth.org/parent/emotions/">KidsHealth</a></li>
     <li><a href="http:www.healthychildren.org/English/healthy-living/emotional-wellness/">HealthyChildren.org (American Academy of Pediatrics)</a></li>
     <li><a href="http:www.childrensleague.org/resources/get-help/kids-trauma/">Kids and Trauma (Children's League of Massachusetts)</a></li>
     <li><a href="http:www.nasponline.org/families/index.aspx">National Association of School Psychologists/Information for Families</a></li>
     <li><a href="http:www.nctsnet.org/">National Child Traumatic Stress Network</a></li>
     <li><a href="http:www.onetoughjob.org/your-family/transitions/talking-about-tragic-events">OneToughJob.org (Children's Trust Fund)</a></li>
     <li><a href="http:mghpact.org/">Parenting at a Challenging Time</a></li>
     <li><a href="http:www.stayingstrong.org/">Staying Strong</a></li>
     <li><a href="http:www.pbs.org/parents/talkingwithkids/news/talking.html">Talking with Kids about News (PBS Parents)</a></li>
    </ul></li>
   <li class="topic middle">
    <div>
     <div class="caret-menu"></div>Books
    </div>
    <ul>
     <li><cite>Bedtime for Frances</cite> by Russell Hoban</li>
     <li><cite>A Chair for My Mother</cite> by Vera B. Williams</li>
     <li><cite>Feelings</cite> by Aliki</li>
     <li><cite>Is a Worry Worrying You?</cite> by Ferida Wolff</li>
     <li><cite>Llama, Llama Red Pajama</cite> by Anna Dewdney</li>
     <li><cite>Lost!</cite> by David McPhail</li>
     <li><cite>Sheila Rae the Brave</cite> by Kevin Henkes</li>
     <li><cite>A Terrible Thing Happened</cite> by Margaret Holmes</li>
     <li><cite>Today I Feel Silly</cite> by Jamie Lee Curtis</li>
     <li><cite>Thunder Cake</cite> by Patricia Polacco</li>
     <li><cite>Wemberly Worried</cite> by Kevin Henkes</li>
     <li><cite>Why Do I Feel Scared? A First Look at Being Brave</cite> by Pat Thomas</li>
     <li><cite>Building Resilience in Children and Teens</cite> by Kenneth Ginsberg</li>
     <li><a href="http:www.aboutourkids.org/files/articles/crisis_guide02.pdf" style="display:inline;"><i>Caring for Kids after Trauma, Disease and Death</i></a>: A Guide for Parents and Professionals; NYU Child Study Center, 2006</li>
     <li><cite>The Mindful Child:</cite> by Susan Greenland</li>
     <li><cite>Raising Our Children to Be Resilient</cite> by Linda Goldman</li>
     <li><cite>Raising an Emotionally Healthy Child When a Parent is Sick</cite> by Paula Rauch</li>
     <li><cite>Talking with Children about Loss</cite> by Maria Trozzi</li>
    </ul></li>
   <li class="topic">
    <div>
     <div class="caret-menu"></div>Apps
    </div>
    <ul>
     <li><a href="https:itunes.apple.com/us/genre/ios-medical/id6020?mt=8">Apple iTunes</a></li>
     <li><a href="https:play.google.com/store/apps/category/MEDICAL">Google Play</a></li>
    </ul></li>
  </ul>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}