{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'April 9th . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'teal' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><h2><a href="../resilience/">Resilience</a></h2></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Resilience</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="story group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>Games &amp; Activities</h3>
  <h4>April 9th Story</h4>
  <hr>
  <div class="pgnum">
   <span>2 of 9</span>
  </div> <img class="col5" src="../img/resilience_story_2.jpg" alt="The fire chief holds Arthur on the sidewalk outside of school.">
  <div class="col7">
   <p>The children watch the firefighters put out the fire. Arthur sees his dad's van parked in front of the cafeteria door. He starts to cross the street. "Hold on," says the fire chief. "No one is allowed near the fire."</p>
   <p>"But my dad is in there. He needs help!" says Arthur.</p>
   <p>"Don't worry," says the chief. "We'll get him out."</p>
  </div> <a href="story3.html" class="btn-std flt-r">Next</a>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}