{% extends 'arthur/includes/templates/arthurHealthPage.html.twig' %}
{% set pageTitle = 'Resilience Tips . Arthur' %}
{% set specialInclude = '' %}
{% set bodyClass = 'teal' %}


{% block mainContent %}<div id="main">
 <div id="wrap-n-m">
  <ul id="nav-main" class="group">
   <li><a href="../asthma/">Asthma</a></li>
   <li><a href="../allergy/">Peanut Allergy</a></li>
   <li><a href="../nutrition/">Nutrition</a></li>
   <li><h2><a href="../resilience/">Resilience</a></h2></li>
   <li><a href="../fitness/">Fitness</a></li>
  </ul>
 </div>
 <ul id="nav-mobile">
  <li>
   <div>
    <div id="caret-mob"></div><a href="./">Resilience</a>
   </div>
   <ul>
    <li><a href="../asthma/">Asthma</a></li>
    <li><a href="../allergy/">Peanut Allergy</a></li>
    <li><a href="../nutrition/">Nutrition</a></li>
    <li><a href="../fitness/">Fitness</a></li>
   </ul></li>
 </ul>
 <div id="content" class="tip-grwn group">
  <div id="wrap-n-a-t">
   <ul id="nav-area-top">
    <li>
     <div>
      <div class="caret-area"></div>More<span> Sections</span>
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
  <h3>The Basics</h3>
  <h4>Tips for <span class="nobr">Grown-ups</span></h4>
  <hr> <a href="tips4.html" class="btn-std flt-r">Next</a>
  <div class="pgnum">
   <span>3 of 7</span>
  </div>
  <div class="group"><img class="col5" src="../img/resilience_tipgrwn_3.png" alt="Grandma Thora reads to Arthur and Baby Kate.">
   <div class="col7">
    <h5>Help your children feel safe.</h5>
    <p>It's hard to talk with children about things that also upset us. If we are overwhelmed by fear or worry, our children may react similarly. Talking with other adults about the situation can help us deal with our own feelings (avoid these adult conversations in front of children). Then we can better help our children.</p>
   </div>
  </div>
  <div class="col7 cntr">
   <ul>
    <li>The most important thing for children to know is that <i>they</i> are safe and that you will take care of them.</li>
    <li>Enjoy lots of family togetherness, talking, and cuddling.</li>
    <li>You may want to spend time with relatives and friends. Let your child know that they can rely on their immediate family as well as a wider circle of loving, supportive adults.</li>
    <li>Children may be aware that you are worried and upset. This can make them feel scared. Talk about your feelings. Acknowledge that a bad thing has happened, but try to be reassuring and optimistic.</li>
    <li>Keep daily routines as normal as possible. It helps children feel comforted. Do chores, read stories, and watch favorite videos together.</li>
    <li>Protect young children from seeing violent images on TV or the Web. You may particularly want to prevent children from repeatedly seeing or hearing about events. Children may think that the event is happening again and again.</li>
   </ul>
  </div> <a href="tips4.html" class="btn-std flt-r">Next</a>
  <div class="banner btn-r brief"><a href="../pdf/arthur_resilience_help_difficult_times.pdf" class="print-btn" style="width:10em;">
    <div class="print-icon"></div>Print Resource</a>
   <p>For more information, you can also refer to or print out our "Helping Our Children in Difficult Times" handout.</p>
  </div>
  <div id="wrap-n-a-b">
   <ul id="nav-area-bot">
    <li>
     <div>
      <div class="caret-area"></div>More Sections
     </div>
     <ul class="nav-area">
      <li>
       <div>
        The Basics
       </div>
       <ul>
        <li><a href="background-info.html">Background Information</a></li>
        <li><a href="tips1.html">Tips for Grown-ups</a></li>
        <li><a href="tips-kids.html">Tips for Kids</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="educators.html">For Educators</a></li>
       </ul></li>
      <li>
       <div>
        Games &amp; Activities
       </div>
       <ul>
        <li><a href="draw-your-feelings.html">Draw Your Feelings</a></li>
        <li><a href="story1.html">April 9th Story</a></li>
        <li><a href="fear-no-more.html">Fear No More</a></li>
        <li><a href="courage-cards.html">Courage Cards</a></li>
        <li><a href="lend-hand.html">Lend a Hand</a></li>
        <li><a href="quiz.html">Resilience Quiz</a></li>
       </ul></li>
      <li>
       <div>
        Videos
       </div>
       <ul>
        <li><a href="episode.html">April 9th</a></li>
        <li><a href="kids-action.html">Kids in Action</a></li>
        <li><a href="expert-video.html">Expert Q&amp;A</a></li>
       </ul></li>
     </ul></li>
   </ul>
  </div>
 </div> <a href="#" id="back-top">
  <div></div>Back to top</a>
</div>{% endblock %}


{% set specialBody = '<script src="../js/jquery-1.10.2.min.js"></script><script src="../js/main.js"></script>' %}